[2015-11-19 22:00] behlendorf commented on #4010
If you know the name of the zvol try destroying it with `zfs destroy`.  If it doesn't appear in `zfs list` you may be able to find the name by running `zdb -d <pool-name>`.  Regardless of if you manage to destroy the zvol you can safely export and import the pool on a new host.

[2015-11-19 22:06] rgronlund commented on #4010
Thanks for that. The output i get is

[root@fs2 pipelines]# zdb -d melbfs
WARNING: can't open objset for melbfs/iscsitest
zdb: can't open 'melbfs': Input/output error
[root@fs2 pipelines]#

where iscsitest is the item marked as corrupt when doing a zpool status -v

Good to know i can export and import still.

Cheers

Rowan

[2015-11-19 22:15] behlendorf commented on #4025
@wipash thanks it looks like you posted everything we need to determine what happened.  In your case the failed VERIFY is almost certainly responsible for the other hangs.  When it hit the VERIFY it was holding a directory lock that those other threads are trying to acquire.  My best guess is this is another side effect of a class of system attribute bugs which were fixed in recent releases.

You

[2015-11-19 22:17] behlendorf commented on #4010
And `zfs destroy melbfs/iscsitest` can't remove it?

[2015-11-19 22:22] behlendorf commented on #3966
Yes, this is almost certainly a duplicate of #3872.

A fix was merged to master for this which allows dynamic taskqs to remain enabled, see zfsonlinux/spl@f5f2b87. Otherwise, you can safely use 0.6.5.3 which resolves this issue by disabling dynamic taskqs by default.

[2015-11-19 22:22] #3966 closed

[2015-11-19 22:29] behlendorf commented on #4016
@ilovezfs nice analysis!  Well I think we should definitely start by adding at least the most common additional partition types.  That's straight forward and will probably fix the most common instances of this.    I'm open to suggestions about how to fix this more generically. Do you have anything specific in mind?

[2015-11-19 22:32] rgronlund commented on #4010
Am a bit paranoid about running something like that as there is a lot of data at stake. Is there any chance that running it will impact other data in the pool?

[2015-11-19 22:39] behlendorf commented on #4010
If the pool was 100% healthy I'd say there was zero risk.  Still, I like to be extra cautious too.  I'd suggest you just send/recv all the datasets you want in the melbfs pool to a new pool on the new host.  Then there's no risk.

[2015-11-19 22:40] behlendorf commented on #4021
Thanks for the heads up.

[2015-11-19 22:44] rgronlund commented on #4010
Ok, that will take some time, but i will do that.

Thanks for your help

[2015-11-19 22:51] behlendorf commented on #3956
@poiuty thanks for the follow up.  My suggestion would be to update to 0.6.5.3 which makes spl_taskq_thread_dynamic=0 the default.  The Debian repos should have been updated with that release already.  Or if you want to leave dynamic taskqs enabled you can cherry pick the fix from master zfsonlinux/spl@f5f2b87df0362242b13b8183a2a8d88be63b0e73.  Closing as resolved.

[2015-11-19 22:51] #3956 closed

[2015-11-19 23:02] behlendorf commented on #3075
@RichardSharpe your issue looks to be caused by either your network driver or the iscsi driver.  Take a look at issue #3309.

[2015-11-19 23:15] behlendorf commented on #1538
@pdf this may be a result of the change in scheduling priority for the ZFS threads, 1229323d5f82bcb0525b312c80330968cd41466e and an increase in their number aa9af22cdf8d16c197974c3a478d2053b3bed498.

[2015-11-19 23:28] kernelOfTruth commented on #4026
https://github.com/zfsonlinux/zfs/issues/4021

[2015-11-19 23:32] RichardSharpe commented on #4015
More disclosure :-)

Using open iSCSI and Samba. However, it does not seem that Samba can be causing this.

Will check dmesd/messages to see if there is anything interesting.

The mapcount seen is usually -1 or -2.

[2015-11-19 23:37] mailinglists35 commented on #4022
I don't remember where I've read that someone fixed a similar issue by running the scrub *twice*
So I ran the scrub again, and the error is gone.

[2015-11-19 23:37] #4022 closed

[2015-11-19 23:38] behlendorf commented on #3786
@tuxoko thanks for digging in to this.  The fix you proposed in #4018 looks right to me and I think it'll address the common case people are seeing.  There's still a much less likely second case which can occur but it requires the system to have multiple pools mounted and that datasets with identical objset ids be auto-mounted concurrently.  We can tackle that one in a follow up patch.

[2015-11-20 00:11] behlendorf commented on #4015
This may be a duplicate of #3309.

[2015-11-20 00:12] behlendorf commented on #4026
Right, you'll want to stick with a 4.3 or older kernel until support is added for 4.4.

[2015-11-20 00:23] RichardSharpe commented on #4015
More info.

Here are the instances of that since I installed the Debug build:

[  173.668438] page:ffffea000ab1ad00 count:0 mapcount:-1 mapping:          (null) index:0x0
[90965.106326] page:ffffea00074c5100 count:0 mapcount:-2 mapping:          (null) index:0x0
[90965.107936] page:ffffea00074c5140 count:0 mapcount:-2 mapping:          (null) index:0x0
[90965.114546] page:ffffea0008289840 count:0

[2015-11-20 00:27] RichardSharpe commented on #4015
There are no other messages in dmesg apart from these, except for the ones where the SCSI LUNs were being discovered.

[2015-11-20 00:27] RichardSharpe commented on #4015
The tests were all done with:

[   37.931165] SPL: Loaded module v0.6.5.3-1
[   38.389438] ZFS: Loaded module v0.6.5.3-1 (DEBUG mode), ZFS pool version 5000, ZFS filesystem version 5

[2015-11-20 01:05] tuxoko commented on #4015
@RichardSharpe
Thanks for the testing. So this confirms that this is not a regression of https://github.com/zfsonlinux/spl/pull/353. And seeing from the stack trace, it uses tcp_sendmsg, which shouldn't have the page count issue anyway.

However, I have no idea what causes this issue. If tcp_sendmsg is putting a page, it should be its own buffer, which I don't see how ZFS comes in to play.

[2015-11-20 01:45] RichardSharpe commented on #4015
How does it confirm it?

I am trying to get someone else to eliminate iSCSI from the stack and test again using the same method I did, but I would be interested to know how you confirm that it eliminates the ZFS issue? Was there some specific DEBUG message we should see?

[2015-11-20 01:53] tuxoko commented on #4015
@RichardSharpe
Because if it is you will hit this ASSERT https://github.com/zfsonlinux/zfs/commit/17584980b9ca6fc1aecb520ffc520cd306624854

[2015-11-20 02:00] RichardSharpe commented on #4015
OK, that is great. (Well, except we need to figure out what the problem is :-()

I need to go back and review the other instances of the Bad page state bug to see if tcp_sendpage was in the stack.

It is possible that we were hitting this different problem a lot of the time anyway.

[2015-11-20 02:07] RichardSharpe commented on #4015
Not all of the Bugs have tcp_sendmsg in the stack. For example:

[92882.905611] BUG: Bad page state in process java  pfn:1a00ac
[92882.907338] page:ffffea0006802b00 count:0 mapcount:-2 mapping:          (null) index:0x0
[92882.910444] page flags: 0x2fffff00008000(tail)
[92882.911967] page dumped because: nonzero mapcount
[92882.913503] Modules linked in: be2iscsi iscsi_boot_sysfs bnx2i cnic uio cx

[2015-11-20 02:12] Aikidouke commented on #4026
Thanks, looks like I should subscribe to the mailing list. Sorry!

On Thursday, November 19, 2015, Brian Behlendorf <notifications@github.com>
wrote:

[2015-11-20 02:33] pdf commented on #1538
Seem to be likely suspects.  This does make scrubs impractical in production, which is problematic.

[2015-11-20 05:33] behlendorf commented on #1538
Some tuning may be required, but real user IO will still be given priority.

[2015-11-20 05:52] wipash commented on #4025
Thanks!
I've applied the patch, and I'll report back if it falls over again.
Cheers!

[2015-11-20 07:27] poiuty commented on #3956
@behlendorf, try to update from apt-get repo, but no 0.6.5.3

[code]

[2015-11-20 12:21] lihui2090 commented on #4014
I have check the scsi may be the reason.
I  install standard debain 7.8 32system in vmware ,and compile the  zfs 0.6.4.2,
zfs can use disk biger than 2T.
So the reason is my 32 kernel not support the scsi normal. the kernel has many scsi configs not set.
The only thing make me confuse  is the same kernel compiled to 64 can surpport disk biger than 2T.
I use the real hard disk  4t.

[2015-11-20 16:43] rincebrain opened #4028 "Attempting to reproduce Illumos #4986 wedges the threads"
<pre>zfs create monolith/foo
zfs set refquota=150M monolith/foo
zfs set compression=off monolith/foo
dd if=/dev/zero of=/monolith/foo/y bs=1M count=200
zfs snapshot monolith/foo@1
zfs snapshot monolith/foo@2
zfs send -R monolith/foo@2 | zfs recv monolith/bar</pre>
The above sequence will wedge a pool named monolith.

<pre># modinfo spl | grep ^version:
version:        0.6.5.3-1
# modinfo zfs | gre

[2015-11-20 18:15] rincebrain commented on #4028
Ah, apparently this is just a really nice way (? I haven't tried rebooting and confirming reproduction) to reproduce the dynamic_taskq deadlock, since I discovered my spl module version that's _running_ is 0.6.5.2, and dynamic_taskq is set to 1. (0.6.5.3 was built but not rebooted into yet.)

[2015-11-20 18:52] rincebrain commented on #4028
Yeah, it appears to reproduce the dynamic_taskq deadlock every time on a couple of reboots, with spl_thread_taskq_dynamic forced to 1 on 0.6.5.3. Nice.

[2015-11-20 20:02] tuxoko commented on #4015
@RichardSharpe
The new stack trace is even more confusing. It's a pure userspace program doing socket recv. It's even harder to imagine how ZFS come in to play.

[2015-11-20 23:06] don-brady commented on #3978
Initial prototype for plumbing in `ZPOOL_CONFIG_DEVID` and `ZPOOL_CONFIG_PHYS_PATH`
looks promising.  A single function in libzfs provides these strings from libudev during a
pool create|add|attach|import.

`extern void update_vdev_config_dev_strs(nvlist_t *nv);`

tested with sata, scsi and usb devices
will begin testing with disk-add events for auto-{online,expand,replace}

[2015-11-20 23:22] tuxoko commented on #4028
This is fixed in master https://github.com/zfsonlinux/spl/commit/f5f2b87df0362242b13b8183a2a8d88be63b0e73

[2015-11-21 00:35] ilovezfs commented on #3978
@don-brady Very cool. Does it happen to get usable paths for virtual devices that get treated as whole_disk=0 like LUKS, LVM, loopback, md, etc.? https://github.com/zfsonlinux/zfs/blob/master/lib/libefi/rdwr_efi.c#L182-L240

[2015-11-21 01:35] rincebrain commented on #4028
Neat. Any idea when that'll make it into a release, or should I just live dangerously and run git HEAD?

[2015-11-21 08:59] bpkroth opened #4030 "zpool rw import fails after attempting to destroy old corrupt fs"
Hi, lots of backstory first ...

A long time ago, we were setting up a home grown rsync backup on top of zfs system on linux using posixacls via xattrs=sa and daily snapshots and ran into a bug (https://github.com/zfsonlinux/zfs/issues/2863) that caused some filesystem corruption.

While we were working on the fix for that and testing patches we'd stashed the bad fs away on the side (eg: tank/arch

[2015-11-21 10:00] 0xFelix commented on #3785
@kernelOfTruth @behlendorf I've rebuilt my server with Debian 8 in the hope things would get better... but.. exactly the same bug on Debian as well. I again begin to think it has something to do with ZFS, executing `hdparm -y /dev/sd[a-f]` and then for example directly executing `hdparm -C /dev/sda` works without hanging the system. When putting a disk to sleep, then writing something to the pool

[2015-11-21 16:43] RichardSharpe commented on #4015
Well, couldn't it simply be that the TCP stack sees that there are outgoing segments waiting after it processed a tcp_recvmsg, so it does some work regardless of how it was entered and in the process of freeing up pages that have already been transmitted, it hits this issue?

[2015-11-21 19:13] kernelOfTruth commented on #3785
@0xFelix that doesn't look like an issue related to ZFS is ``` hdparm -C /dev/sda ``` already causes errors to show up

e.g.

I put the disks to sleep by

[code]

then checking the state, even after hours later:

[code]
/dev/sde:
 drive state is:  standby
[code]

[2015-11-21 22:05] 0xFelix commented on #3785
@kernelOfTruth

Testing like you did by only using hdparm does not produce the error.

Putting the disk to sleep, the writing something to the pool and then checking a disks status does produce the error.

The confirmed the error but no further action followed until now.

[2015-11-22 10:04] sempervictus opened #4031 "Insufficient privileges to view errors in zpool status"
This looks to be a fun one - a single-disk pool seems to be having some sort of disagreement with the controller its on and intermittently turning itself off and on. Whats fun is that zpool status -v wont show the 9 data errors, just says:

[code]

[2015-11-22 12:57] ilovezfs commented on #4016
@behlendorf I've added a panoply of new types here:
Added additional types https://github.com/zfsonlinux/zfs/pull/4032

I assume many/most deserve to be vetoed but did not try to narrow the list down to an optimal set myself. Hopefully, the names are consistent with the prior naming convention.

In terms of the underlying issue, I was thinking maybe ZoL should rely more heavily on the mount table,

[2015-11-22 16:08] mw171 commented on #3789
what do you think of following little patch?
[code]
it does the job for me:
[code]

[2015-11-22 18:20] DeHackEd commented on #3789
From a style standpoint you probably want to write `if ((value >> 63) != 0)` or someone may get confused.

[2015-11-22 22:02] AwesomePatrol commented on #1894
Can confirm.The easiest solution is to add IPv6 address to /etc/hosts and use hostname in sharenfs arguments.

[2015-11-23 03:16] dsw0350 opened #4033 "loop executing zpool import and zpool export commands leads to kernel crash"
1. create a zpool:
   zpool create test raidz sdb sdc sdd
2. loop execute the commands:
   while :
   do
    zpool export test
    sleep 1
    zpool import test
    sleep 1
   done
3. kernel crash and i get the crash log

[ 3235.008846] INFO: rcu_sched self-detected stall on CPU { 0}  (t=6000 jiffies g=101236 c=101235 q=87978)
[ 3235.008850] sending NMI to all CPUs:
[ 3235.008853] NMI backtrace fo

[2015-11-23 06:07] dsw0350 commented on #4033
additional remarks：
zfs version:zfs-0.6.5.3.
After i create zpool test, i also create 20 zvols. I get the crash log about 10 hours later.

I reboot my computer and do one more test.
This time i create zpool, create 10 zvols, use the same commands. 20 hours later, the computer still works normally.

[2015-11-23 07:41] dsw0350 commented on #4033
the third time test:

create zpool, create 70 zvols, use the same commands. 10 minutes later, i get the same crash log. There is no I/O during the test

[2015-11-23 09:01] lukasz-virtualo opened #4034 "Test case: zpool_upgrade_002_pos, zpool_upgrade_004_pos"
### Situational problem description

Created an auxiliary zpool comprising of a single device to use as a temporary space for large snapshots which are transferred periodically between data centers (using rsync). The "snapshot dataset" had some snapshots of its own to keep old files for reference and had been configured like so:

[code]

Then the drive started getting bad blocks. Those were tempor

[2015-11-23 12:31] ilovezfs commented on #4034
@behlendorf @lundman @grwilson @ahrens

We're seeing this on OS X as well.
https://github.com/openzfsonosx/zfs/issues/361

There's been some discussion of it already here: http://lists.open-zfs.org/pipermail/developer/2015-August/001553.html

I'm wondering if it's a regression caused by
https://www.illumos.org/issues/5347
https://github.com/illumos/illumos-gate/commit/231aab857f14a3e7a0ed5f2879399

[2015-11-23 13:01] tomposmiko commented on #3980
This time there is an nginx process too:

[code]

[2015-11-23 13:16] kernelOfTruth opened #4035 "Implement/add search by commit functionality (mirror)"
Since github doesn't allow searching by commit message or commit content

I remembered that bitbucket offers that functionality:

https://blog.bitbucket.org/2010/12/03/repository-search-filtering/

Adding that as a mirror to github would make doing quick searches for code changes way more comfortable, especially in the absence of access to git itself (e.g. when on the move)

Perhaps git.kernel.org

[2015-11-23 14:32] Lukapo-logcheck opened #4036 "Zfs send high cpu utilization"
Hello,
when I am trying to send larger snapshots like 5GB+, then zfs uses whole one core and is sending data in about 1Mbit/s, but sometimes it goes high as 800Mbit/s.
I tried to lower cpu utilization by settings cipher blowfish/rc4, but it didn't help.
Also I tried to work with mbuffer, but it was even worse (maybe I used it badly).
I am testing it on server for testing purposes and it is old C2Q

[2015-11-23 15:08] tjikkun opened #4037 "Cache device changes ashift after reboot"
Because of reasons mentioned in http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-November/023820.html we need to set ashift=9 on our L2ARC devices. However after a reboot the revert back to the default value for the specific device. (Well actually that is a guess, because I don't know how to read the currect ashift for a cache device, it is not listed in zdb. The problem reappears after a boo

[2015-11-23 15:18] dasjoe commented on #4037
This looks like https://www.illumos.org/issues/5219

[2015-11-23 15:20] tjikkun commented on #4037
Cache device is OCZ-SABER1000
Sector Sizes:     512 bytes logical, 4096 bytes physical

[2015-11-23 15:22] BenEstrabaud opened #4038 "zpool import on a failing vdev causes all further "zpool" commands to fail, even on different pools."
Summary: zpool import on a failing vdev causes all further "zpool" commands to fail, even on different pools.

Setup:
- Custom Linux from scratch with Kernel 4.3 based distribution
- ZoL v0.6.5.3
- Created multiple pools (in that scenario 20 pools), each backed by a single custom block device sitting on a RAID (this is absolutely not recommended, and I agree).
- Pools are exported on shutdown and

[2015-11-23 15:22] dasjoe opened #4039 "Illumos 5219 l2arc_write_buffers() may write beyond target_sz"
[Andriy Gapon wrote:](https://www.illumos.org/issues/5219)

                         * Keep the clock hand suitably device-aligned.
                         */
                        buf_p_sz = vdev_psize_to_asize(dev->l2ad_vdev, buf_sz);
                        write_psize += buf_p_sz;
                        dev->l2ad_hand += buf_p_sz;</pre>

[2015-11-23 17:04] kernelOfTruth commented on #4039
Should already be in-tree

[2015-11-23 17:08] dasjoe commented on #4039
The original isssue of #4037, ashift=12 breaking L2ARC, sounds like this so
I assumed we didn't pull this fix from Illumos yet.

--
Regards,
Hajo Möller

[2015-11-23 17:17] kernelOfTruth commented on #4039
@dasjoe as far as I remember there were 2-3 fixes needed (one specific for the old code-base and one for the newer changes),

Since @tjikkun is using 0.6.4.2 it could be, indeed that this is related to the Illumos upstream issue entry,

apologies, I was assuming that 0.6.5 code-base was being used.

I'm currently not aware whether there is a list of "hot-fixes" being maintained to use and backport

[2015-11-23 17:31] ryao commented on #4038
There has been some misunderstanding in the community over what import and export means. When a pool is imported, it is associated with the system and when it is exported, it is disassociated with a system. This should not occur across reboots. At boot, the imported pools should be reloaded into the kernel from the cachefile. It is important to make sure that udev symlinks such as /dev/disk/by-id/

[2015-11-23 18:28] dasjoe commented on #4039
@kernelOfTruth oh wow, I didn't see @tjikkun is on 0.6.**4**.2…

0.6.4 receives no backports, but 0.6.5 does.

This got fixed in https://github.com/zfsonlinux/zfs/commit/ef56b0780c80ebb0b1e637b8b8c79530a8ab3201.

[2015-11-23 18:28] #4039 closed

[2015-11-23 18:35] dasjoe commented on #4037
The original issue causing you to manually switch to ashift=9 has been fixed in https://github.com/zfsonlinux/zfs/commit/ef56b0780c80ebb0b1e637b8b8c79530a8ab3201 which is in the currently supported release 0.6.5.3.

I didn't realise you were still on 0.6.4.2, please upgrade to the current release and see whether both this and your original issue persist.

[2015-11-23 19:04] kholia commented on #4026
[4.4-support-patch.txt](https://github.com/zfsonlinux/zfs/files/41928/4.4-support-patch.txt)

This seems to work fine with 4.4-rc2.

[2015-11-23 20:18] bprotopopov commented on #4023
It turns out that there are many places in the code that zero out block pointers inside indirect dbufs.

[2015-11-23 21:33] tjikkun commented on #4037
Yeah unfortunately 0.6.5* has not been stable for us so we can't upgrade at the moment.

[2015-11-23 21:42] GregorKopka commented on #4038
@ryao A very simple solution to block a device from servicing IOs is to mount a LUKS container on an USB drive, then pull the cable. Only problem: there is no way back.

I run into this from time to time when doing backups (pool in DMCRYPT LUKS container on USB disk), and the USB for some reason disconnects for whatever time or reason.
There dosn't seem to be a way to recover from this (unable to

[2015-11-23 21:58] GregorKopka commented on #4030
With a damanged space map any write can nuke your pool by overwriting seemingly free space, which isn't free. So only do read-write experiments in case you have full and tested block-level backups of the old pool.

Since you can import read-only and zfs list the filesystems/snapshots: can you still *zfs send* them (for example to /dev/null, or zstreamdump) ? If so:
Build a new pool, start sending

[2015-11-23 23:04] ryao opened #4040 "Potential txg_sync deadlock from sleeping in arc.c while holding a hash_lock"
The backtraces in #3835 make it look like something is holding the hash lock, which the txg_sync thread needs. The code for arc_read() is such that it is possible for us to sleep because we call `kmem_zalloc(sizeof (arc_callback_t), KM_SLEEP)` while holding the hash_lock. I do not know offhand if this would print to dmesg (as not all sleeps do), but this is not the only instance of a sleep while h

[2015-11-23 23:56] Calrama commented on #434
Since I don't want to open another issue, if it is a duplicate: Would this - if implemented - allow me to effectively "give" a dataset (recursively) to a user?
Essentially the use case would be this:
Given a pool `tank` with the dataset `tank/home` mounted to `/home`, create and give to user `foo` the dataset `tank/home/foo`. User `foo` may now  set/get properties on`tank/home/foo` and  create sub

[2015-11-24 00:45] #4004 closed

[2015-11-24 04:18] bpkroth commented on #4030
Thanks.  That's pretty close to what we decided to do in the end.
Skipped the full send/recv since it's mostly just backup data and we
didn't need all of the incremental snapshots right away anyways
(restores should be infrequent, and we can just grab them on demand if
necessary and we have enough space somewhere to zfs recv it), and in a
couple of weeks/months we can just wipe the old corrupt dis

[2015-11-24 08:28] alexanderhaensch commented on #3948
https://github.com/zfsonlinux/zfs/commit/d287880afd843bd8c0cbcabe514b65083d1a0090 could fix our problem

[2015-11-24 09:32] 0xFelix commented on #3785
@kernelOfTruth I guess I found my bug...

http://www.mail-archive.com/linux-scsi@vger.kernel.org/msg14937.html

Apart from not outputting "Device not ready" this seems to be exactly my bug. So it is no ZFS problem...

The id for the commit including the fix is d3ed1731ba6bca32ac0ac96377cae8fd735e16e6, it should have been included since mainline kernel 3.4.11. Let's see if Debian and Ubuntu both in

[2015-11-24 12:56] torkilt commented on #3996
I hit the same snag, any idea for a fix or workaround?

[2015-11-24 13:12] tomassrnka commented on #3948
thanks, we are now building ZFS from git & test it

[2015-11-24 14:22] kernelOfTruth commented on #3785
@0xFelix that commit ID seems to be dead or meanwhile invalid:

The new one is:

http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/drivers/scsi/scsi_error.c?id=14216561e164671ce147458653b1fea06a4ada1e [SCSI] Fix 'Device not ready' issue on mpt2sas

https://www.redhat.com/archives/dm-devel/2014-September/msg00175.html

https://lkml.org/lkml/2014/11/16/122 [GIT PULL] SCSI fixes f

[2015-11-24 14:30] zielony360 opened #4042 "SCSI interface support for zvols"
Hello,

do you plan to introduce SCSI interface support in zvols? It would be very useful, when sharing the zvol through SCSI target (FC, FCoE, iSCSI).

Looking in the context of VAAI, in addition to move the load to a storage server (with ZFS on it) from ESXi hosts, which can be already simulated by target, we can also save space by some kind of ZFS deduplication. I am talking about XCOPY and WRI

[2015-11-24 16:23] ryao commented on #4042
I agree that the XCOPY and WRITE_SAME SCSI operations are useful and there might be some overlap with data deduplication when things are aligned. Right now, zvols are implemented as a shim over a ZFS file through the Linux block device API. Prior to 0.6.5.0, this was done using the request_queue interface as if the zvols were real hardware that needed a top-half/bottom-half handler. That is simila

[2015-11-24 16:28] moschlar commented on #3996
Somewhere (can't find the issue right now), I read that it shall work with the older version 0.6.3 of ZFS and SPL.

And I can actually confirm that it works...

[2015-11-24 16:29] Lukapo-logcheck commented on #4036
Now I tried it on one production server and speeds are even lower...
When I send it into /dev/null, then everything is running fast...

[2015-11-24 16:30] moschlar commented on #3996
And, of course, I want to use the newest Lustre (2.7.0) with the newest ZFS version (0.6.5.3) on a kernel that's getting security updates.
What is the best strategy for that?

[2015-11-24 17:07] zielony360 commented on #4042
@ryao
Sounds gorgeous. :-) Are you going to implement REQ_COPY in ZFS as real data copy or as metadata manipulation, which will save the space?

[2015-11-24 18:43] jbrodriguez commented on #3708
This also happened to me.

Applied the workaround suggested by @dracwyrm and it was ok.

I'm running under Arch Linux (2015.11.01)

[2015-11-25 02:32] tuxoko commented on #3929
@behlendorf
Do you have any plan on merging the ABD. Are there any specific things that should be done before merging it?

[2015-11-25 09:53] gvdijnsen commented on #3979
I am sorry for the silence from my side, but there is a reason for that:

Over the last 2 weeks we did not have a single crash. Curiously, I did not implement the change suggested by @dweeezil and @kernelOfTruth yet. There may be 2 reasons I can see:
- We upped the txqueuelen from 1000 to 10000 after a tip we got from a storage specialist. I do not see why it would help, but it is the only change

[2015-11-25 11:30] rubentolosa commented on #3997
I had the same issue in our server after upgrading from 0.6.4 to 0.6.5

Details:
Ubuntu 14.04.3 LTS
Linux 3.13.0-68-generic
spl-dkms 0.6.5.3-1~trusty
zfs-dkms 0.6.5.3-1~trusty

NFS daemons hanged after copying a few GB from .zfs/snapshots/ (mounted via NFS) and the only solution was to reboot the whole server, as restarting NFS did not work, nfsd daemons refused to die, even with -9 signal.

But a

[2015-11-25 13:03] discostur commented on #1548
@kernelOfTruth

that's true, xattr=off was off in my pool, but first it was set to xattr=on, then i noticed the strange behaviour of my pool and i disabled it on the fly (without reboot). But that didn't change anything ...

Now i'm running with xattr=sa, zfs 0.6.5.3-2 and i have done a reboot after setting xattr=sa. I'll keep an eye on it the next weeks ...

[2015-11-25 13:27] ringingliberty commented on #1548
@discostur Remember that each file must be created with xattr=sa set, in order for it to work. If you have existing files, you'll need to copy them (e.g. to a new dataset).

[2015-11-25 13:29] Nukien commented on #1548
Ugh - is there any way to do that in-place ?  I have 500G free on a 10T filesystem ...

[2015-11-25 13:35] ringingliberty commented on #1548
@Nukien cp each filename to filename.new and then mv it back. This still won't guarantee you won't have any downtime. The files might be in use, after all.

[2015-11-25 13:39] Nukien commented on #1548
Doh.  Must be early, should have thought of that.  Scripting time - I would like to keep the filetime for each one ...  Let's see, "find /zfs1/sys1 -type f -exec ...

[2015-11-25 15:15] kernelOfTruth commented on #1548
@Nukien From what I read - the only guarantee to have no issues in the future is to create the filesystem anew with xattr=sa - but that surely is no option in your case

@ringingliberty 's solution appears to be the optimal one - not sure if it's enough concerning the filesystem data

CC: @dweeezil

[2015-11-25 15:46] kernelOfTruth commented on #3979
@gvdijnsen glad it's gotten more stable !

In connection with that raising the ``` nr_requests ``` might also make a change

[2015-11-25 16:09] ryao commented on #4042
Either will work for data on the wire. A metadata copy would be unlikely for the initial implementation. We probably should be able to test it before lobbying for it.

[2015-11-25 18:51] RubenKelevra commented on #3998
Have had this issue, it was a lock by lvm because lvm found some magic-bytes whichs seems to remain on disk, when just using a pv-disk for zfs. So I cleaned the disk from lvm remains and then resilvered again with zfs, than everything worked fine.

[2015-11-25 19:05] RubenKelevra opened #4044 "Any plans to readd fletcher4 for deduplication?"
Are there any plans to readd fletcher4 for deduplication with less memory-footprint? :)

[2015-11-25 19:09] kernelOfTruth commented on #4044
https://github.com/zfsonlinux/zfs/issues/234  fletcher4,verify checksum on Dedup

https://github.com/zfsonlinux/zfs/issues/234#issuecomment-2091960

[2015-11-25 19:10] RubenKelevra commented on #3844
Great news, thanks for the deep look at it! :) I really love to use it for our backup-storages, where high compression ratio is most important, but xz drops the speed to much.

[2015-11-25 19:13] kernelOfTruth commented on #4044
would be nice to have (accelerated) versions of SHA-512, Skein, Edon-R - especially for deduplication

https://reviews.csiden.org/r/223/ 4185 add new cryptographic checksums to ZFS: SHA-512, Skein, Edon-R

https://github.com/zfsonlinux/zfs/issues/3770 Feature Request: New checksum algorithms in ZFS

[2015-11-25 19:17] RubenKelevra opened #4045 "Ability to add more levels of storage tiers"
Currently we got RAM, we got L2ARC and we got a Permanent Storage.

Since everything is heading to SSDs it would be nice to add different levels of SSDs for a Level 3 ARC or say an array of very slow very large archiv HDDs for a nearly cold-storage. This would lower the cost of the overall system while increasing the effetivity of the hardware which is in use.

Are such features currently planned?

[2015-11-25 19:55] DeHackEd commented on #4045
The issue comes down to block pointer rewrites. While tiered storage (or some variant thereof) is planned, ZFS can't migrate data on the fly. It needs to know that data will be hot or cold at the time it's first written to disk and then it can't be so easily moved. So that means that the tier of data needs to be decided at the time of creation.

The current strategy is to implement a high-tier for

[2015-11-26 11:20] tomassrnka opened #4046 "Starting strace on zfs receive terms the process"
We found a strange behaviour on 0.6.5.3+, starting strace -p <pid> on zfs receive process causes the process to terminate.

[2015-11-26 12:44] DeHackEd commented on #4046
Related to #810, the SIGSTOP involved in tracing the process nukes the job.

Send and Receive are (almost) entirely in-kernel operations invoked by a single system call. It can't be interrupted. Forcing the issue makes the job abort.

[2015-11-26 15:43] yacoob opened #4047 "Unexplained data corruption as a result of routine disk replacement"
I'm not sure whether this will be a useful bug report, but here it goes.

tl;dr: I've replaced a disk in my zfs pool and found a number of corrupted files after a reboot.

Here's a postmortem for this event
https://goo.gl/GlL6WN
If you read through it, you'll most likely find that it does look like a bug in ZFS - and not a hardware problem. The main problem with this event is that I can't really p

[2015-11-26 15:45] gordan-bobic opened #4048 "Kernel Oops on 32-bit ARM"
[ 5259.711586] Unable to handle kernel NULL pointer dereference at virtual address 00000048
[ 5259.711600] pgd = c0004000
[ 5259.711609] [00000048] *pgd=00000000
[ 5259.711624] Internal error: Oops: 17 [#1] SMP ARM
[ 5259.711632] Modules linked in: xt_tcpudp ip6t_rpfilter ip6t_REJECT nf_reject_ipv6 ipt_REJECT nf_reject_ipv4 xt_conntrack ip6table_nat nf_conntrack_ipv6 nf_defrag_ipv6 nf_nat_ipv6 ip6

[2015-11-26 15:52] yacoob opened #4049 "zpool status -v doesn't report all affected files"
This is related to #4047, but warrants a separate bug. During this event, I had following situation:
- see `errors: 6331 data errors, use '-v' for a list` in output of `zpool status`
- run `zpool status -v`, get a list of files, remove them
- run `zpool status -v` again to verify that all lists are replaced with hex ids (what are those exactly btw? :)
- run `zpool scrub`, wait for it to finish
- f

[2015-11-26 16:33] kernelOfTruth commented on #4047
@yacoob please provide more details on the hardware

beside mcelog there's also edac-utils (when running ECC RAM)

sample output e.g. from my box:

[code]

[2015-11-26 17:23] yacoob commented on #4047
Take a look at the attachments. On the software side:

[code]
[code]
I couldn't get `edac-utils` to work, but mcelog stays clear since I've installed it yesterday.

[cpuinfo.txt](https://github.com/zfsonlinux/zfs/files/45154/cpuinfo.txt)
[dmidecode.txt](https://github.com/zfsonlinux/zfs/files/45153/dmidecode.txt)
[smartctl.txt](https://github.com/zfsonlinux/zfs/files/45155/smartctl.txt)

[2015-11-26 20:31] MasterCATZ commented on #1548
Started getting this problem after last upgrade

SPL: Loaded module v0.6.5.3-1~trusty
ZFS: Loaded module v0.6.5.3-1~trusty, ZFS pool version 5000, ZFS filesystem version 5

NAME       PROPERTY  VALUE  SOURCE
ZFSRaidz2  xattr     on     default
I am a little scared to try changing this .. as I use an FreeBSD recovery disk for when Ubuntu does break on me

dd if=/dev/null of=syslog.tar.gz
rm syslog.

[2015-11-26 21:11] Ringdingcoder opened #4050 "Incremental zfs send does not transmit hole"
Apparently, there are various related bug reports floating around, but AFAICT they all concern the @hole_birth feature. I have a case that seems very similar, but without having ever touched @hole_birth. The symptom is that on the receiving clone, some holes get filled with semi-random data.

Details on the mailing list:
http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-November/023899.html
an

[2015-11-26 23:03] gkkovacs commented on #3990
@kernelOfTruth @tomposmiko @shoeper

Things are getting more interesting. I have installed a replacement motherboard (Q77 this time), and lo and behold the corruption is still there! So it's not the motherboard / chipset then.

I have done some RAM LEGO again: with 2 DIMMs dual channel (doesn't matter what size or speed, tried several different pairs) there is no corruption, with 4 DIMMs the data

[2015-11-27 07:36] torkilt commented on #3996
Lustre with 0.6.3 doesn't work either on my test machines. Everything seems to install and zfs works fine, but lustre does not.

[root@MDS1 local]# service lustre start lustre-MDT0000
Mounting tank/mgsmdt on /mnt/lustre/local/lustre-MDT0000
mount.lustre: mount tank/mgsmdt at /mnt/lustre/local/lustre-MDT0000 failed: No such device
Are the lustre modules loaded?
Check /etc/modprobe.conf and /proc/fi

[2015-11-27 10:15] tomassrnka commented on #3948
Unfortunately, it does not help.

[code]

[2015-11-27 12:10] nigoroll commented on #224
As a preliminary yet generic relief I have written an interposer to either map O_DIRECT to O_DSYNC or just ignore it. As most of the source infrastructure required was already there, I integrated it into https://code.uplex.de/liblongpath - ignoring, for the time being, that the main purpose of the liblongpath project was quite different.
The relevant commit is https://code.uplex.de/liblongpath/lib

[2015-11-27 12:14] BenEstrabaud opened #4051 "ddt_object_remove (from ddt_sync_entry()) panics."
Hi,

After starting a Volume block device (a similar Volume to LVM) and calling "zpool import" to import the previously created pool ontop of that Volume (single vdev pool), I get a "PANIC" from the ZFS driver in what seems to be the deduplication code:

<0>[ 1390.005410] VERIFY(ddt_object_remove(ddt, otype, oclass, dde, tx) == 0) failed
<0>[ 1390.013567] PANIC at ddt.c:1106:ddt_sync_entry()
<4>[

[2015-11-27 13:53] bbabich commented on #3781
Maybe, but not out of the box.

[root@seal ~]# zpool status
The ZFS modules are not loaded.
[root@seal ~]# /sbin/modprobe zfs
modprobe: FATAL: Module zfs not found in directory /lib/modules/4.2.6-300.fc23.x86_64
[root@seal ~]#

[2015-11-27 15:49] aikudinov commented on #3990
I've seen a box with 2 identical Kingston DIMMs about 5-7 years ago that caused Windows crashing  to BSOD randomly(maybe once a day, sometimes more or less often), removing either one of them solved the problem. Custom built PC, but had a warranty, so they said it is some kind of incompatibility and exchanged both DIMMs for a different brand.

[2015-11-27 17:05] moschlar commented on #3996
Yep, it's total PITA.

But as for your problem, *are* the lustre modules loaded? What are lsmod and dmesg saying?

[2015-11-27 17:15] gkkovacs commented on #3990
@aikudinov

As I wrote above, I have tried several different DIMMS, with varying sizes, speeds and manufacturers. All of them produce the data corruption issue if 4 is installed, and none of them if 1 or 2.

[2015-11-27 17:39] torkilt commented on #3996
No modules and no mention of them on dmesg.

I eventually got the latest maintenance release from the Intel site going with SPL/ZFS 0.6.3-1.1 from here, though.

[2015-11-27 17:58] dswartz commented on #3990
That had got took be done kind of chipset or bios issue?

gkkovacs <notifications@github.com> wrote:

[2015-11-27 19:07] tuxoko commented on #4048
This should be fixed in master https://github.com/zfsonlinux/zfs/commit/d0c614ecf9eb0b5f5c5d75316c2faeff63e03c4e

[2015-11-27 19:11] ryao commented on #224
@nigoroll Most Linux filesystem drivers, including ZoL, treat O_SYNC and O_DSYNC the same, sothat will not make much difference here.

You can get the indirect logging on all I/Os (O_DIRECT or not) that I mentioned by setting logbias=throughput on the dataset..

[2015-11-27 19:48] RubenKelevra commented on #4045
Thanks for your fast reply. :)

Actually zfs is often used as backend for something like ceph or as backend for virtualization its actually used for a mixed content (files) of very hot, hot, cold and very cold data. So auto tiering would be very great.

Is there any chance to modify the current arc-approach to support multi tier storage to organize them automatically? :)

[2015-11-27 19:52] RubenKelevra commented on #4044
@kernelOfTruth
Yes I already found this, but bugs might be solved. :)

The maillink is sadly dead:
http://mail.opensolaris.org/pipermail/zfs-discuss/2009-November/034106.html

Actually a smaller algorithm as fletcher4 would reduce the memory footprint of the deduplication table, increasing by doubling the size of the checksum width is not the right way to go :)

I think if sha256 is not trustworth

[2015-11-27 22:14] joruffin opened #4052 "ZFS breaks on filesystem mount"
Summary:
ZFS dies while trying to mount a particular filesystem with the following errors:
[zfs-panic.txt](https://github.com/zfsonlinux/zfs/files/46144/zfs-panic.txt)
Ubuntu 14.04.3 x64

Background:
I was moving large amounts of data into new child filesystems. Odd behaviour during file moves was noticed, wherein the deleted files would not release their space for a time proportional to the size

[2015-11-28 07:31] chuckleb commented on #3986
I also got this while updating my CentOS 7 machine. A clean remove/reinstall of zfs and spl fixed it. I followed the instructions here:
http://www.yuna.se/2015/11/23/zfs-on-centos-rebuild-after-yum-upgrade-fucks-up/

Simply, the instructions are:
yum erase zfs zfs-dkms libzfs2 spl spl-dkms
yum install zfs

[2015-11-28 10:18] gkkovacs commented on #3990
@dswartz

Should you have read the thread first, it would have become apparent that I have since replaced the motherboard with another model (first it was H67, now it's Q77), and I also tried a number of BIOS settings. It's NOT a RAM issue, and it's not a chipset / BIOS issue. Will see if it's a CPU issue...

[2015-11-28 12:53] fling- commented on #3990
I'm experiencing i/o errors with 4.2 but they disappear after a reboot.
No errors with 4.1

[2015-11-28 14:07] dswartz commented on #3990
I thought it might be a team boundary issue but you said you tried different sizes of ram, so...  yeah at this point a different cpu is the only thing I can think of...

gkkovacs <notifications@github.com> wrote:

[2015-11-28 17:52] Stoatwblr commented on #3990
On 28/11/15 14:07, dswartz wrote:

These are consumer-grade chipsets, cpu, etc and are more likely to have
bitflip errors than server-grade ones.

Have you run _full_ sets of memory checks? (memtest86+ and friends,
multiple iterations over a few days)

Then there's the PSU. I've seen a number of issues of random data loss
which were fixed by replacing this. The ability of many to cope with
load sp

[2015-11-28 18:25] colorprint commented on #4026
patch not works for me with 4.4-rc2 kernel:

checking whether make_request_fn() returns int... no
checking whether make_request_fn() returns void... configure: error: no - Please file a bug report at
			    https://github.com/zfsonlinux/zfs/issues/new

Building module:
cleaning build area...(bad exit status: 2)
make KERNELRELEASE=4.4.0-rc2-mainline...(bad exit status: 2)
Error! Bad return status f

[2015-11-28 19:44] gordan-bobic commented on #4048
I can confirm that  commit https://github.com/zfsonlinux/zfs/commit/d0c614ecf9eb0b5f5c5d75316c2faeff63e03c4e doesn't fix this. I applied the patch, rebuild zfs modules, rebooted, and I still just got the following:

[ 3267.702370] Unable to handle kernel NULL pointer dereference at virtual address 00000048
[ 3267.702383] pgd = db848000
[ 3267.702390] [00000048] *pgd=3e5c9831, *pte=00000000, *ppte=

[2015-11-28 22:57] tuxoko commented on #4048
@gordan-bobic
You need to check if the loaded module is indeed the new built module.
If zfs module is loaded during initrd. You need to also rebuilt the initrd with new zfs.ko

[2015-11-29 00:36] gordan-bobic commented on #4048
I did, it is, and I did, in that order.

[2015-11-29 00:51] tuxoko commented on #4048
@gordan-bobic
That doesn't seems right.
```PC is at arc_kmem_reap_now+0x64/0xec [zfs]```
This line is the same before and after, which should not happen if the patch is built and loaded correctly.

Can you objdump the function ```arc_kmem_reap_now``` before and after the patch.

[2015-11-29 03:06] croquagei opened #4053 "zfs mounting temporary read only"
Hi

Running ZFS as root on Arch, booting via UEFI with kernel paramenter

zfs=bootfs

When booting it mounts root volume as readonly

$ zfs get all | grep readonly
zroot			readonly	on	temporary
zroot/home		readonly	off	inherited from zroot

I tried changing my kernel parameter at boot to zfs=zroot.  This created more problems by making both datasets read only

$ zfs get all | grep readonly
zroot

[2015-11-29 09:45] gordan-bobic commented on #4048
Hmm, I just checked the new and old zfs.ko and they are exactly the same size, which is odd. I wonder if _ILP32 is not getting defined...

[2015-11-30 03:03] dweeezil commented on #3789
Checking back in on this issue:  First off, we definitely don't want a patch in the generic ZAP code as @mw171 is proposing since it would affect all other ZAP operations.  If we really wanted a hack, ```do_userquota_update()``` would be the right place to take care of this problem.

IIRC, there is still some condition under which root's quota can underflow as shown above.  I'm not sure why this h

[2015-11-30 03:12] dweeezil commented on #3976
@tuxoko Interesting idea.  At the very least, it looks like it might help the ```dbuf_prefetch()``` case.  For the moment, however, I'm a lot more concerned about contention caused by the fanout of the various zio taskqs; and the write issue taskq in particular.  We've got a lot more locking going on than illumos and contention on the single taskq can be a big point of contention for high-concurre

[2015-11-30 08:20] fling- commented on #4050
@Ringdingcoder Is not this corruption reproducible with 4.1.13?

[2015-11-30 08:52] philmmanjaro opened #4054 "[4.4-rcX] checking spl build directory takes forever - can't find kmod spl devel <kernel> package"
[code]

Do I miss something here? The source it finds on every other kernel also: `spl-dkms /usr/src/spl-0.6.5.2/`

[2015-11-30 08:59] philmmanjaro commented on #4054
Here is the [config.log](https://gist.github.com/philmmanjaro/3e4ecf3c24dd70567fd7).

[2015-11-30 09:48] dasjoe commented on #4037
As said on IRC, 0.6.4 will no longer receive fixes. The issues you had with 0.6.5.2 should be fixed in 0.6.5.3.

[2015-11-30 14:41] chjohnst commented on #4037
Are there 0.6.5.3 debs yet?
On Nov 30, 2015 4:48 AM, "Hajo Möller" <notifications@github.com> wrote:

[2015-11-30 15:32] dasjoe commented on #4037
On 11/30/2015 03:41 PM, Christopher Johnston wrote:

Yes, as always generic debs are available:
http://zfsonlinux.org/generic-deb.html

@dajhorn's PPA for Ubuntu is on 0.6.5.3, too.

ZoL's Debian maintainer (@FransUrbo) has not replied to my mails about
0.6.5.3 yet, if I remember correctly he plans to discontinue the
packages once ZFS becomes available from the official Debian repositories.

--
Re

[2015-11-30 18:15] philmmanjaro commented on #4054
Here is another try with [zfs](https://gist.github.com/philmmanjaro/063cecbaf4f7314600bc). However [spl](https://gist.github.com/philmmanjaro/947962e0237b636d6ca7) works just fine.

[2015-11-30 19:00] philmmanjaro commented on #4054
Ok, issue is within **dkms 2.2.0.3+git151023-1**. I've to check what changed here.

[2015-11-30 19:00] #4054 closed

[2015-11-30 19:13] bprotopopov commented on #4023
Turns out it is quite easy to reproduce the issue using blkdiscard command on the zvol. One can easily create an L1 hole that, when partially overwritten, will result in an invalid collection of L0 "old" holes.

[2015-11-30 19:40] philmmanjaro commented on #4026
I can confirm that this patch doesn't work for me either. Also tried with dkms.@kholia: how do you compile your modules?

[2015-11-30 19:58] Ringdingcoder commented on #4050
Yes, it does. Given that it happens with Illumos as well, I wouldn’t have expected anything else. It seems like this bug has been there "forever" (probably only since version 5000).

[2015-11-30 23:20] liquidhorse opened #4055 "Can't load or import zpool - arc_buf_remove_ref NULL pointer dereference"
Hi!  One of my ZFS pools started acting strangely the other day, and after a reboot I was no longer able to bring the pool back online.  I have updated to the latest stable release of ZOL and even tried a different kernel (original was in the 3.13 series, new kernel is 4.2.0-18).  After moving the drives to a different system, I was able to reproduce the issue and capture the BUG:

[code]

Right n

[2015-11-30 23:23] liquidhorse commented on #4055
By the way, this happens while attempting to import the zpool.  I've tried a variety of import options (including -FX and -N) but everything ends with the bug.  All the devices appear to be intact.  The pool is two mirrors in stripe, so I even tried pulling drives out of the system and importing the degraded array.

[2015-12-01 01:20] bdols opened #4056 "debian packaging breaks module compilation"
I'm an end user who upgraded everything to current in debian, as part my recent "apt-get upgrade", linux kernel 3.16.0 was installed and some zfs-related packages were upgraded. I found after boot that the zfs module was not compiled for the 3.16.0 kernel

packages:
ii  build-essential                                           11.7                              amd64                             Inf

[2015-12-01 01:21] bdols commented on #4056
[zfs-dpkg.log.txt](https://github.com/zfsonlinux/zfs/files/48007/zfs-dpkg.log.txt)

[2015-12-01 03:32] bdols commented on #4056
i worked around this by downgrading spl-dkms to 0.6.5-1 that was still in my apt-cache, thankfully.
ran dpkg-reconfigure zfs-dkms and modprobe zfs to get my zfs volumes back.

[2015-12-01 08:41] D4rk4 opened #4057 "Broken metadata"
root@damned:/export/pub/mirror/ftp.debian.org/debian-ports/pool-m68k/main/o/openais-legacy# ls -lsah
ls: cannot access libopenais-legacy-dev_0.80.5+sv: No such file or directory
ls: cannot access openais-legacy_0.80.5+sv: No such file or directory
ls: cannot access libopenais-legacy-2_0.80.5+sv: No such file or directory
total 108K
97K drwxr-xr-x   2 dark dark   5 Dec  1 11:17 .
12K drwxr-xr-x 348

[2015-12-01 14:33] nigoroll commented on #224
@ryao, I fail to understand how your comment relates to the interposer I have written. Its purpose is to provide relief where `O_DIRECT` cannot be avoided and `open()` calls returning with `EINVAL` break applications (which may even be closed source). Basically this implements what @pruiz suggested, but on the level of an interposer library.

[2015-12-01 15:36] dasjoe commented on #4056
`apt-cache policy spl-dkms` should show you're getting spl-dkms from debian's testing or experimental respository. testing and experimental are not supported by @FransUrbo, his packages are stuck at 0.6.5.2 as of now.
See https://github.com/zfsonlinux/pkg-zfs/issues/184 and https://github.com/zfsonlinux/pkg-zfs/issues/181.

[2015-12-01 23:22] gkkovacs commented on #3990
@Stoatwblr @kernelOfTruth @behlendorf @dswartz

After weeks of testing, I have concluded that this must be a software issue: ZFS and the 4.2 kernel produce irreparable checksum errors under the following conditions:
- Linux kernel 4.2 (4.2.3-2-pve)
- ZFS version 0.6.5.3 (from pvetest)
- Proxmox installed on ZFS 4-disk RAID10
- Sandy Bridge CPU (i5-2500K and i7-2600) and compatible chipset (H67 and

[2015-12-02 00:49] kernelOfTruth commented on #3990
@gkkovacs I'm sure the following issue should be fixed by now, right ?

http://techreport.com/news/20326/intel-finds-flaw-in-sandy-bridge-chipsets-halts-shipments

also it was related to the S-ATA bus - so it's highly unlikely that it's that issue

also it occurs on the Q77 chipset and i7-2600 ...

Yes, would be interesting to see what Nemesiz did to fix his problem

[2015-12-02 01:26] behlendorf commented on #4021
Fixed in master:

61d482f Linux 4.4 compat: xattr operations takes xattr_handler
1a09371 Linux 4.4 compat: make_request_fn returns blk_qc_t

[2015-12-02 01:26] #4021 closed

[2015-12-02 07:51] philmmanjaro commented on #4021
Well, using dkms this ends in:
[code]
Tested with zfs 0.6.5.2 and Linux 4.4-rc3.

[2015-12-02 08:32] philmmanjaro commented on #4021
Forget my comment. It works. I just had to [patch it properly](https://github.com/manjaro/packages-extra/blob/master/zfs-dkms/PKGBUILD):
[code]

[2015-12-02 08:38] philmmanjaro commented on #4026
Fixed in master:

61d482f Linux 4.4 compat: xattr operations takes xattr_handler
1a09371 Linux 4.4 compat: make_request_fn returns blk_qc_t

[2015-12-02 09:27] roeme commented on #4056
Duplicate of #184.

[2015-12-02 10:10] dasjoe commented on #4056
No, not of #184 but of zfsonlinux/pkg-zfs#184...

[2015-12-02 10:11] truatpasteurdotfr commented on #1548
same here: upgraded from zfs-0.6.2 to 0.6.5.3 -> 100% full
tried zpool upgrade -> no change
zfs destroy a few fs to make room && zfs umount -a && zfs mount -a: unchanged situation.
zfs set xattr=sa && zfs destroy && zfs umount && zfs mount : no changes
zpool scrub in progress

[code]

[2015-12-02 19:21] ryao commented on #224
@nigoroll I was thinking of this from the perspective of performance, where software using O_DIRECT almost always uses O_SYNC, so it does not improve things over the patch to ZoL to ignore O_DIRECT by mapping it to AIO. It makes more sense when thinking about software compatibility.

[2015-12-02 19:29] AndCycle commented on #4057
there is always this question first,

do you use ECC memory?

as I followed similar discussion on mailing list few days ago,
the conclusion is ZFS blindly trust anything with correct checksum,

which means those metadata is messed up before they been written to disk,
so scrub won't help in this case,

if you are not using ECC, it can be faulty hardware,

if you use ECC,
there could be nasty issue

[2015-12-02 19:41] D4rk4 commented on #4057
Yes it's Dual Xeon E5440 home server with FB-DIMM ECC Memory. Can I continue to safely use this pool?

[2015-12-02 19:44] AndCycle commented on #4057
here is the thread,
http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-November/023949.html

there is no conclusion, so I guess you have make the decision by yourself.

[2015-12-02 21:00] cvoltz opened #4060 "Most zfault.sh tests fail"
# Issue Description
Multiple tests fail when running `zfault.sh`. This is probably related to #2379 but more tests fail and some fail with different error codes than previously reported so this may be a different issue.  Here is a summary of the failing tests and the failure codes.

CentOS 7.1
[code]
Fedora 23
[code]

If the tests aren't going to be fixed for the next release, I would suggest that

[2015-12-02 21:08] yacoob commented on #4047
So... any insight what might have gone wrong here?

[2015-12-02 21:33] behlendorf commented on #1715
Closing, cross-compiling can be accomplished as described in [comment](https://github.com/zfsonlinux/spl/issues/344#issuecomment-159696705).

[2015-12-02 21:33] #1715 closed

[2015-12-02 23:01] #3126 closed

[2015-12-02 23:16] voidzero commented on #4057
Scary. Is this only on 0.6.5? Maybe I should keep running 0.6.4 for now. My pool looks almost the same although not raidz1, and my pool is smaller. Corruption is a big no no though :) Thanks @AndCycle :+1:

[2015-12-03 00:09] nedbass commented on #4057
@D4rk4 bug #3195, which affected ZFS on Linux releases prior to 0.6.4, could corrupt directories in that way. Is it possible that the directory was modified while the pool was imported under 0.6.3 or earlier? I believe it was most likely to affect affect datasets with `xattr=sa` set.

[2015-12-03 00:35] adilger commented on #3625
Resilvering will also benefit greatly from the Metadata allocation class of issue #3779 to separate the metadata onto a separate SSD device.

Another option that was discussed in the past for mirror devices (not sure if this was ever implemented) is to do a full linear "dd" style copy of the working device to the replacement, and then fall back to a scrub to verify the data was written correctly.

[2015-12-03 00:50] adilger commented on #3500
There is work for ext4 to add "Project Quotas" to match an equivalent feature in XFS - http://lists.openwall.net/linux-ext4/2015/09/13/2 and support for project quotas is also being added to Lustre.

This would require the addition of a new "Project ID" for each dnode (in a new SA), and additional quota accounting for the project ID.  It would be great if the patch being implemented here also took

[2015-12-03 00:55] adilger commented on #2856
Why does ZFS even care about device paths?  It could just re-lookup the GUID using blkid/libblkid whenever it needs to, and since blkid caches these GUIDs in a single flat file produced by udev when devices are added to the system, it doesn't need to scan the disks.

[2015-12-03 01:18] #4020 closed

[2015-12-03 07:34] D4rk4 commented on #4057
I don't use xattr=sa on this pool... And i don't import pool on other kernel/zfs/spl version.

[2015-12-03 18:56] bprotopopov commented on #4050
@Ringdingcoder, do you have compression on on your dataset and hole_birth feature on your pool ? If so, then I think I know what is going on.

This is likely the same issue as described in https://github.com/zfsonlinux/zfs/issues/4023 where it is reproduced on zvols, but I can also reproduce it on files.

The problem is as follows. When a large hole (L1 and up) is created in a ZFS file and then pa

[2015-12-03 19:07] Ringdingcoder commented on #4050
No, I don't have hole_birth activated and never have: http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-November/023910.html. Compression is enabled.

[2015-12-03 19:08] rgronlund commented on #4010
So the server with the zpool crashed and so we did a zpool import into the other server which went fine except for the expected reporting of the previous fault
[root@fs1 ~]# zpool import -f melbfs
cannot iterate filesystems: I/O error

The pool reported fine, but didn't automatically mount so ran
[root@fs1 ~]# zfs mount -a
cannot iterate filesystems: I/O error

Which mount everything except one zf

[2015-12-03 19:17] nedbass commented on #4057
@D4rk4 just to be perfectly clear, does that statement apply to the entire history of your pool?

[2015-12-03 19:18] bprotopopov commented on #4050
Hm, the fact that the file is sparse suggests that it was truncated then written past the end, as I have done above or that writes of zero blocks were truncated to holes. But without birth_hole feature enabled, all the holes are transmitted, so there must be something else going on.

You can use
[code]
to see where the holes are where N is the dnode number (run ```zdb -ddddd pool/fs`` to see which

[2015-12-03 19:22] Ringdingcoder commented on #4050
All the info is in the mailing list links. There I have posted zdb output which clearly shows the holes. The file has been written in full, from beginning to end in one go. ZFS creates the holes by itself.

http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-November/023909.html

[2015-12-03 19:45] tuxoko commented on #4052
same as https://github.com/zfsonlinux/zfs/issues/4006

[2015-12-04 03:06] rlaager commented on #4000
I looked into this quite a while ago. The details are fuzzy, but I think it there's some automount flag or callback or something that's set on .zfs or .zfs/snapshots.

[2015-12-04 07:56] OverLocker opened #4064 "ZFS 0.6.5.3-r1. Low speed read again."
Hello,
After update situation is the same as 0.6.5.3
Read from pool from the network is about 60MB/s
On lower versions it was 112MB/s.
When it wil be fixed?

[2015-12-04 08:56] OverLocker commented on #4064
In a addition: Seems that copy from pool cause very high load IO from disks.
It cat be shown by atop program

[2015-12-04 09:24] poiuty opened #4065 "blocked for more than 120 seconds on 0.6.5.2 in KVM VM"
Debian 8, 3.16.0-4-amd64, qemu-kvm, zfs v0.6.5.2-2, VM in zvol with lz4
zfs => zvol kvm vm => lvm => ext4

Today VM freeze again. Get screenshot from vnc. Check logs (node+vm) - no call trace.
<img src=https://poiuty.com/img/b3/6c3ce1a012b4758f8643193348d68cb3.png>

Before (about ~3 months) I use zfs 0.6.4 and dont have this problem.
So. I think problem mb in zfs | or in virtio | or in kernel (vm)

[2015-12-04 16:01] kernelOfTruth commented on #4065
@poiuty please update to 0.6.5.*3*

[code]

or disable dynamic taskq's manually, like you already mentioned in https://github.com/zfsonlinux/zfs/issues/3955#issuecomment-152131807

[2015-12-04 16:03] kernelOfTruth commented on #4064
@OverLocker please provide much more information what the system is doing,

information on the system (hardware), on the software (kernel, distribution ...), etc. etc.

[2015-12-04 16:05] poiuty commented on #4065
@kernelOfTruth - dont help for me (already set 0)
[code]

[2015-12-04 16:14] OverLocker commented on #4064
Linux NAS01 4.1.12-gentoo #1 SMP Thu Nov 5 21:14:34 MSK 2015 x86_64 Intel(R) Pentium(R) CPU G630 @ 2.70GHz GenuineIntel GNU/Linux

Mem 16GB

 cat /etc/modprobe.d/zfs.conf
options zfs zfs_arc_max=2147483648
options zfs zfs_arc_min=536870912

zpool status
  pool: ZFS01
 state: ONLINE
  scan: scrub repaired 16K in 23h4m with 0 errors on Tue Dec  1 23:04:51 2015
config:

        NAME

[2015-12-04 16:20] poiuty commented on #4065
And I cant update to 0.6.5.3
no update for debian 8 (apt-get update && apt-get upgrade)

[2015-12-04 17:09] behlendorf commented on #4010
@rgronlund if the original `zfs mount -a` appears to be hanging I'd first verify that there are no ASSERT/VERIFY/BUG errors in the `dmesg` output.  Assuming the log is clean and the mount command is still hanging I'd grab a stack trace from the `zfs mount` process.  You can do this with `cat /proc/<mount pid>/stack`, that should give us some idea as to why it's blocked if you post it in to the iss

[2015-12-04 17:41] behlendorf commented on #4016
@ilovezfs I don't think we need to veto any of them.  They're all seem to be valid, just not common, but that't not really a problem.  I've merged #4032 to master.

I completely agree we should be relying more heavily on blkid.  We should probably make using it mandatory and not optional.  It would be great if you could work on improving and testing the existing HAVE_LIBBLKID support.

[2015-12-04 19:07] tpagden commented on #3781
Same as bbabich with me. However I may have some operator error here.

Modules zfs not found in directory /lib/modules/4.2.6xxxx

[2015-12-04 19:12] storrgie commented on #3781
It's certainly holding me up from using ZFS on a couple systems. Is there some big changeovers in the packaging/building of the ZoL project that is holding this up?

[2015-12-04 19:17] ryao commented on #4065
Unless there is a hang on the host, I suspect that this might be a bug in QEMU. 0.6.5.y changed how zvol processing is done to return faster. It is conceivable that QEMU cannot handle the faster return. I will try to look into this some more my time permitting.

In the meantime, I suggest switching QEMU from virtio to AHCI. There is an example of how to do this with the raw QEMU command here:

htt

[2015-12-04 20:01] poiuty commented on #4065
@ryao, thx, move test VM to AHCI
[code]

[code]

[2015-12-04 21:42] tuxoko commented on #4052
@joruffin
Can you try to boot with ```slub_debug``` and try rw mount?

[2015-12-04 22:54] behlendorf commented on #4060
Thanks for the careful testing.  Yes, this script hasn't been used in quite some time and isn't part of our regular testing.  I'd like to add it to the automated testing but more careful analysis of the failures is needed, although it looks like we could enable the first three tests.  Did you get a chance to look in to any of the failures?  I suspect they're largely trivial issues with the script.

[2015-12-04 22:55] behlendorf commented on #4026
Fixed in master and we'll get the fixed applied to the next point release.

[2015-12-04 22:55] #4026 closed

[2015-12-04 22:58] cvoltz commented on #4060
Unfortunately, I didn't have the time to investigate the failures. If I
had, I would have submitted a pull request to fix them. If I get some
time in January, I'll look into them then.

On 12/04/2015 04:54 PM, Brian Behlendorf wrote:

[2015-12-04 23:33] behlendorf commented on #3939
Actually, there's no bug here.  You must run `arcstat.py` with an __interval__, zero's are entirely reasonable values.

[2015-12-04 23:33] #3939 closed

[2015-12-05 17:49] #3261 closed

[2015-12-05 23:19] aktau commented on #1538
Oddly, I've also noticed something similar, but I verified that this was not happening during a scrub:

[code]

I'm on 0.6.5.2 with spl 0.6.5.1 (debian 9), should that be important.

I actually suspected that the "reads" from transmission-da were somehow being multiplexed to the z_rd_int_* kernel threads. But the numbers don't add up.

Note that my ZFS pool consists of just one single USB hard dri

[2015-12-06 04:02] lachesis opened #4066 "Linux 4.2.0: kernel NULL pointer dereference"
I'm running Ubuntu 14.04 (trusty) with a backported 4.2.0-18 kernel and I get the following error when trying to `ls` some directories (but not all directories) on my ZFS pool.

[code]

[code]

[code]

[2015-12-06 13:00] durval-menezes commented on #2099
Hello,

Referring to the following, above: https://github.com/zfsonlinux/zfs/issues/2099#issuecomment-54532363, more specifically to that part:

I'm having the exact same issue with one of my pools here, running ZoL's latest stable (0.6.5.3) installed from the official repo on EL6. The only difference is that, contrary to @dswartz, I tried to export the pool, remove the log device and then import

[2015-12-06 13:04] aktau commented on #1538
After reading #2952, I feel obliged to say that I'm using lz4 compression on my zpool. Here's the configuration: https://gist.github.com/aktau/fa6b5ef2fd40201a489b

[2015-12-06 13:04] durval-menezes opened #4067 ""zpool remove" on a log device being silently ignored"
Hello,

This seems to have happened (however irreproducibly) to at least one other person here: https://github.com/zfsonlinux/zfs/issues/2099#issuecomment-162313742

For full details, please see the zfs-discuss mailing list thread starting with this message: http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-December/024006.html

As it seems to be hard to reproduce, I'm keeping my pool in this

[2015-12-06 13:18] gkkovacs commented on #3990
@kernelOfTruth

Yes, the H67 SATA issue is fixed, not applicable to Q77.
Since last time I tested the following things:

**Disable C-states**
I have put the intel_idle.max_cstate=0 kernel option into grub, and verified with i7z that the CPU did not go below C1 at all. Unfortunately, the checksum errors still get created.

**Adaptec controller insted of Intel ICH**
I have installed an Adaptec SAS R

[2015-12-06 22:40] wipash opened #4068 "Snapshot not being removed properly"
As of this weekend, my syslog is being spammed with messages such as the following:

[code]

The snapshots don't exist:
[code]

The snapshot folders don't show up with `ls`:
[code]

But stat shows them:
[code]

`lsof` doesn't show any processes using these folders.

I'm unable to remove these folders manually, and the problem doesn't go away after a reboot.
I've also tried recreating these snapsho

[2015-12-07 01:34] willthelaw opened #4069 "System Bug with call to arc_buf_remove_ref"
Hi,

We have a system running zfs on linux that has gone down twice since friday with a call to arc_buf_remove_ref.  First time we were running ZoL .0.6.4.2 with CentOS5 kernel 2.6.32-504.30.3.el6.x86_64.  I updated the system yesterday to ZoL 0.6.5.3, and it happened again today with this on the console:

First time:
svc: 172.26.6.67, port=47745: unknown version (-1 for prog 100003, nfsd)^M
BUG:

[2015-12-07 05:33] OverLocker opened #4070 "Replace Error"
Hello,
I have two disks in pool (old - online and new - offline) after attempt to replace. What should i do?

pool status
  pool: ZFS01
 state: DEGRADED
  scan: resilvered 136K in 0h0m with 0 errors on Mon Dec  7 06:23:52 2015
config:

        NAME                                            STATE     READ WRITE CKSUM
        ZFS01                                           DEGRADED     0     0

[2015-12-07 09:35] FireDrunk commented on #2908
Would it be a feasible idea to build a tiny JSON server which only listens on 127.0.0.1 which can serve JSON statistics directly from the ZFS core?

Of course this brings a few security risks, but it saves a lot of work building bindings for every programming language.

[2015-12-07 10:29] gregfr opened #4071 "ZFS from VM?"
Hello Community

I was wondering if it would be possible to access a ZFS volume from inside an OpenVZ container?

My goal is to have a dedicated "backup" VM on a host using ZFS volume for its VMs.

Thanks in advance

[2015-12-07 10:57] lnxbil commented on #4071
Hi gregfr,

Sorry, this is not a real answer, but another question:
What recent kernel does support both OpenVZ and ZFS? Most OpenVZ-based distributions changed to LXC and abandoned OpenVZ.

Best

[2015-12-07 11:19] CMCDragonkai commented on #598
Would this work on ZFS over LUKs? We would need to enable the discard for the LUKs of course, but what else would be needed?

[2015-12-07 12:38] willthelaw commented on #4069
Just noticed that it is showed the same device both times, /sys/devices/pci0000:40/0000:40:02.0/0000:42:00.0/host10/port-10:1/expander-10:6/port-10:6:1/expander-10:7/port-10:7:3/end_device-10:7:3/target10:0:65/10:0:65:0/state.    It's one of the L2ARC devices, so I went and disabled it and I'm running a long smartctl test on it.  Does that seem reasonable or am I nuts?

Thanks!

Will

[2015-12-07 13:04] gregfr commented on #4071
Yes I know, but my server are VZ containers right now and I don't plan to migrate now, anyway not before having a reliable backup.

[2015-12-07 20:42] behlendorf commented on #4048
Or the `zio_buf_cache` array global isn't being NULL initialized which is causing the NULL check to fail.  Dropping a printk in there for debugging would make things clear.

[2015-12-07 22:49] tuxoko commented on #4048
```zio_buf_cache``` is global so it must be NULL. The oops also show it's NULL. The problem is @gordan-bobic not building the binary properly with dkms.

I'm not sure what's the proper way to patch a dkms'ed source. What I always do is to purge the zfs stuffs in ```/var/lib/dkms```, patch the source in ```/usr/src/zfs-0.x.y```, and do dkms add. Otherwise, dkms might use the stale source in ```/var

[2015-12-07 23:10] gordan-bobic commented on #4048
There is only one set of sources, as least as set up by DKMS on EL7: in /usr/src/zfs-0.6.5.3.
/var/lib/dkms/zfs-0.6.5.3/source is a symlink to /usr/src/zfs-0.6.5.3.

I am not sure what else could be going on. I'll try rebuilding the modules without dkms and see if that produces different results.

[2015-12-07 23:16] tuxoko commented on #4048
@gordan-bobic
On my ubuntu, there's a ```build``` besides ```source``` which contains a copy of the source.

[2015-12-08 02:18] bdols commented on #4056
yes, I have had experimental of debian for some time for some reason unrelated to zfs

[2015-12-08 10:46] lihui2090 opened #4073 "when i use samba with zfs in debian 64 the kernel panic"
I have a server is debian-7.9 64.
cpu is
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                4
kernel is Linux 2.6.39.001 #1 SMP PREEMPT Sun Dec 6 02:31:31 EST 2015 x86_64 GNU/Linux
I  can login the share dir , but
when i create a  file or dir in samba share  dir the kernle panic .
root@winsuntech:~# zdb
winsun:
    versio

[2015-12-08 11:16] LeeRock opened #4074 "Can't use the whole disk"
According to the official document,create the pool with the whole disk is good in performance.I try to use:
zpool create mypool  /dev/sdl
but zfs is hang on the command  ,i can use the CTRL+C to stop it.My system is redhat 7.0.Kernel is 3.10.0-123.e17.x86_64.
I use the libuuid 1.0.3 and zlib 1.2.8.

[2015-12-08 11:24] LeeRock commented on #4074
My zfs spl is 0.6.5.3.But I can't use the whole disk since 0.6.4

[2015-12-08 13:54] kdomanski opened #4075 "compile tests prevent cross-compilation"
The configure phase extensively uses compilation tests, which fail with `configure: error: cannot run test program while cross compiling` when cross-compiling.

It would be great to be able to disable all of them with a single configure script parameter.

[2015-12-08 14:50] Trisooma commented on #3781
I would also like to see an official Fedora 23 repo, any news yet?

[2015-12-08 15:00] fejiso commented on #342
@CMCDragonkai further fragmentation, which would make swapping even slower.

I just tried and I see the same freeze as with actual reservation.

[2015-12-08 16:35] ryao commented on #4071
@gregfr Do you mean a zvol? It should be configurable just like anything else in OpenVZ.

[2015-12-08 20:34] rabnab opened #4076 "zpool create assigns same partlabel to all partitions"
**zpool create** assigns the same partition label ('zfs') to all pristine disks added to a raidvz2.
This triggers an error in systemd<219 due to duplicate entries in sysfs.

zpool create could assign different partition labels to each partition (e.g zfs1, zfs2, ....) to prevent this.

My system is a Fedora FC22 in vmware-player. I installed zfs-0.6.5.3-1.fc22
I create the pool with:
[code]
After w

[2015-12-08 20:44] rabnab commented on #4076
One workaround to avoid the log-clutter is to rename the partitions by hand with
[code]
Be careful to only rename the partitions which are part of your pool. _sgdisk_ does **not** ask any questions

[2015-12-08 21:43] behlendorf commented on #3781
Packages are now available for Fedora 23.  Sorry about the delay, but I ran in to some issues with `mock`, `dnf`, and packaging signing in the latest release.

[code]

[2015-12-08 21:43] #3781 closed

[2015-12-08 21:46] behlendorf commented on #2627
Closing, the stack frame size of `dsl_dataset_promote_sync()` was reduced some time ago this is no longer an issue.

[2015-12-08 21:46] #2627 closed

[2015-12-08 23:13] hadees opened #4077 "zpool add fails with disks referenced by id"
@ryao told me to file a bug on this.

I ran the command

`zpool add -f -o ashift=12 tank raidz2 /dev/disk/by-id/ata-WDC_WD30EFRX-68EUZN0_WD-foobar1 /dev/disk/by-id/ata-WDC_WD30EFRX-68EUZN0_WD-foobar2 /dev/disk/by-id/ata-WDC_WD30EFRX-68EUZN0_WD-foobar3 /dev/disk/by-id/ata-WDC_WD30EFRX-68EUZN0_WD-foobar4 /dev/disk/by-id/ata-WDC_WD30EFRX-68EUZN0_WD-foobar5 /dev/disk/by-id/ata-WDC_WD30EFRX-68EUZN0_WD-

[2015-12-08 23:22] ryao commented on #4077
From IRC:

[code]

[2015-12-08 23:23] hadees commented on #4077
Here is my `zfs get all`

[code]

[2015-12-09 00:12] behlendorf commented on #4076
This is unfortunate and it's not 100% clear we should do anything about this.  At the time the `zpool create` command is making the partitions it doesn't have much information with which to create useful labels.  All it really knows is the path to the device and the pool name, not even the guid which will be written to the zfs label has been generated yet.  And even if we were to somehow generate

[2015-12-09 00:40] behlendorf commented on #3963
@jelinekr I'm surprised this hasn't come up before.  Right now there's no way to disable `.zfs` snapshot automounting but I definitely agree there should be.  For the moment you'll need to disable it at build time.  Probably the best way to do this is to #undef HAVE_AUTOMOUNT in the zfs_config.h after running configure.

As for how to support this I think extending the `snapdir` property is the lo

[2015-12-09 00:48] behlendorf commented on #3887
This should now be addressed in master and these fixes will appear in the next point release.  @tuxoko provided patches for both known ways this could occur.  If people impacted by this issue have time to independently verify the fix which was applied to master that would be appreciated.

24ef51f Use spa as key besides objsetid for snapentry
d287880 Fix snapshot automount behavior when concurrent

[2015-12-09 00:49] behlendorf commented on #3948
This should now be addressed in master and these fixes will appear in the next point release.  @tuxoko provided patches for both known ways this could occur.  If people impacted by this issue have time to independently verify the fix which was applied to master that would be appreciated.

24ef51f Use spa as key besides objsetid for snapentry
d287880 Fix snapshot automount behavior when concurrent

[2015-12-09 00:49] behlendorf commented on #3786
This should now be addressed in master and these fixes will appear in the next point release.  @tuxoko provided patches for both known ways this could occur.  If people impacted by this issue have time to independently verify the fix which was applied to master that would be appreciated.

24ef51f Use spa as key besides objsetid for snapentry
d287880 Fix snapshot automount behavior when concurrent

[2015-12-09 00:59] chjohnst commented on #3963
I like that proposal
On Dec 8, 2015 7:40 PM, "Brian Behlendorf" <notifications@github.com> wrote:

[2015-12-09 01:51] jelinekr commented on #3963
Me too, thanks for looking into this.

 -----Original Message-----
From:   Christopher Johnston [mailto:notifications@github.com]
Sent:   Tuesday, December 08, 2015 07:59 PM Eastern Standard Time
To:     zfsonlinux/zfs
Cc:     Robert Jelinek
Subject:        Re: [zfs] a way to disable automouting snapshots via access to .zfs dir (#3963)

I like that proposal
On Dec 8, 2015 7:40 PM, "Brian Behlendor

[2015-12-09 01:59] tpagden commented on #3781
Thank you!

[2015-12-09 02:05] JamesRHarris commented on #3781
Make sure you run "dkms install" for spl and zfs for each kernel you might
boot. After the new packages came in I was missing modules. More in my note
on the zfs-discuss list.

On Tue, Dec 8, 2015 at 5:59 PM, tpagden <notifications@github.com> wrote:

--
James Harris
Software Engineer
james.r.harris@gmail.com

[2015-12-09 05:02] ilovezfs commented on #3963
What would be the expected behavior, while snapdir=disabled is set, when a user tries to mkdir .zfs and possibly populate it with data?

[2015-12-09 05:18] behlendorf commented on #3963
Good question, I suppose it will need to fail with a reasonable errno to ensure snapdir can be safely enabled again if desired.

[2015-12-09 06:04] LeeRock commented on #4074
It's my first to communicate in the opensource community.Is anything I did wrong that no one want to help me solve the problem?

[2015-12-09 07:56] AndCycle commented on #4064
I got even worst situation, it failed to list all ZFS,

http://imgur.com/0Q4y5gF

here is the screenshot of failed boot.

[2015-12-09 08:40] ilovezfs commented on #3963
@behlendorf That makes sense. Another issue is whether it makes sense to have the snapdir property controlling .zfs or .zfs/snapshot. It feels like a mistake to conflate snapdir and ctldir. Would it make more sense to have a) two separate properties, snapdir and sharedir, b) three separate properties, snapdir, sharedir, and ctldir, c) just snapdir and ctldir, since a specific need for a separate s

[2015-12-09 10:59] AndCycle commented on #4074
if nobody hit this except you, you have to dig the problem about why by your own,

you need more general support,
try mailing list, http://zfsonlinux.org/lists.html

[2015-12-09 11:09] rabnab commented on #4076
Thank you for reassuring, that partition labels can be changed. I did so on my systems and everything works as expected, no errors.

Since `systemd` is the entity creating sysfs entries, it should be handling duplicate gpt.partlabels gracefully. Nobody can guarantee that two partitions will not have the same partlabel.
I may open this issue on the systemd side.

I close this issue and migrate to F

[2015-12-09 11:09] #4076 closed

[2015-12-09 13:49] CMCDragonkai commented on #342
@fejiso What do you mean by the "same freeze"?

I'm not so concerned with swap space speed, as I just think of it as backup memory.

[2015-12-09 14:05] fejiso commented on #342
@CMCDragonkai I experience the same type of deadlocks as described in this issue, both with reservation enabled and disabled. I haven't performed any performance test but dynamic allocation will certainly cause fragmentation and make swap access slower.

[2015-12-09 14:10] CMCDragonkai commented on #342
With the issue being closed, I thought the problem is solved. You should
post some diagnostics in case we can fix it again?
On 10/12/2015 1:05 AM, "Fernando Jiménez" <notifications@github.com> wrote:

[2015-12-09 14:57] fejiso commented on #342
After looking all around the web this is the only issue that looks remotely similar to what I experienced. In my case overcommitting VMs did it, when memory pressure from VMs started to compete with ARC got the load skyrocketed and eventually the system went unresponsive. ARC downsized as memory pressure increased, but that turned into slower disk access, that kicked the load further up. Very litt

[2015-12-09 15:52] gordan-bobic commented on #4048
On EL7 that is not the case. I have just verified that the only copy of arc.c on the machine is in fact patched. I have purged all traces of previous build directories and modules for the current kernel and am rebuilding the modules. Will report back shortly, but since the last build was made with the same sources, I expect the same result. If that is the case, it really would imply that _ILP32 is

[2015-12-09 16:38] gvdijnsen commented on #3979
Hi, just to let you know that it stalled again just before the weekend. I brought it back up with the recommended settings @kernelOfTruth provided. (not the nr_requests yet, that is our following step if this turns out not to work). Now running 5 days steady...

[2015-12-09 17:00] zgock opened #4079 "build fails with openSUSE xen kernel (and patch)"
Hi. I was tried to install zfs into openSUSE leap 42.1 xen kernel
(it fails to build since 13.1 or later)
[code]
i found problem on spl/include/sys/time.h:49
#define hz    HZ
(sometimes it makes build problem just like #define aaa AAA)
I remove that macro and replace all "hz" to "HZ"
build was done. and test runnung(3day ish) seems stable.
is it a worthy course?

there is patch
[code]

[2015-12-09 17:04] willthelaw commented on #4069
OK, so.... The jury is still out on this.  However, it is EXTREMELY likely that it actually was going down due to a daily zfs send.  The bad part is the machine went down on both 0.6.4.2 and 0.6.5.3.  A colleague did a bunch of work looking at the kernel dumps; I'll have him post that.  Any ideas in helping verify/moving forward?

Current plan is to make a cloned dataset and rsync the data over to

[2015-12-09 17:29] Der-Jan commented on #3786
@behlendorf I've applied the patches and installed the modules. Since I made sure mlocate won't access any zfs snapshots, I cannot really test it with mlocate. However I used @tuxoko's parallel mount without kernel panic. So seems to do the trick for me.

[2015-12-09 19:19] behlendorf commented on #4069
@willthelaw this was definitely caused by a `zfs send`, you can tell because `zfs_ioc_send()` appears in the stack.  As for the crash that's apparently the result of a NULL be passed in to `arc_buf_remove_ref()`.

I've opened pull request #4080 with a patch which should prevent the panic.  However, the reason this occurred at all was because you entered some error handling code designed to handle

[2015-12-09 21:49] tuxoko commented on #4066
Hi @lachesis, can you do ```objdump -d zfs.ko``` and post the result of ```sa_handle_destroy```.
I need to see which dmu_buf_rele it's calling. Thanks.

[2015-12-09 22:28] lachesis commented on #4066
[code]

This stopped happening after a restart, but still seems pretty bad.

[2015-12-09 22:33] mmehnert commented on #3472
@dweeezil  Have you tried that patch in production?
I'm having troubles with a samba server with very intensive xattr-usage for the Windows-ACLs (I can no longer set permissions on directories with very high numbers of files since the icacls command fails with an "unexpected network error" after some hours.)
I've used xattr=sa some versions back but ran into problems (duplicate xattrs ...).
If I r

[2015-12-09 23:02] tuxoko commented on #4066
Ok, so the problem happened after calling into this one:
```dmu_buf_rele((dmu_buf_t *)hdl->sa_spill, NULL);```
And sa_spill seems to have a value of 0x100.

It's hard to judge what's the cause for this. It could be some sort of use-after-free.

[2015-12-09 23:24] behlendorf commented on #4048
@gordan-bobic you're absolutely right, it was entirely possible for _ILP32 and _LP64 not to be defined on some arm, powerpc, and sparc builds.  Things were correct on x86 and x86_64 bit systems which is why it worked for @tuxoko.

I've opened #4082 with a fix but as you're well aware the test coverage on non-x86 systems leaves something we to desired.  There is an ARMv7 builder in the mix but that

[2015-12-09 23:41] tuxoko commented on #4048
@behlendorf But if _ILP32 is not defined, why would there be NULL in zio_buf_cache?
https://github.com/behlendorf/zfs/blob/master/module/zfs/zio.c#L120

@gordan-bobic Can you dump gcc macros with this command?
```gcc -dM -E - < /dev/null```.

[2015-12-09 23:50] behlendorf commented on #4079
@zgock the historical reason for defining hz to HZ was to minimize the code differences between ZFS on Linux and ZFS on Illumos.  However, for exactly the you've discovered I've always been a little bit wary of this causing build issues.

While it may cause us some conflicts when merging patches from upstream I wouldn't object to making this change.  If you could open a pull request against the sp

[2015-12-09 23:56] behlendorf commented on #4048
@tuxoko on 32-bit systems kmem_cache_create() will return NULL when requesting caches with very large objects.

[2015-12-09 23:57] willthelaw commented on #4069
Awesome, thank you!  So I did take out the disk I thought it was and it is resilvering.  Should that theoretically fix it, or is the logical block pointer bad?  Or can it be fixed by destroying the snapshot?  We could rsync the data off and apply it to an older snapshot, too.

Thank you again.  I probably won't be able to apply it until Saturday.

[2015-12-10 00:01] behlendorf commented on #4069
@willthelaw it's somehow incorrect on disk but has a good checksum.  I wouldn't expect the scrub to detect it or replacing the disk to fix it.  You'd need to remove all the snapshots that version of the file appears in to get rid of it.

[2015-12-10 00:04] behlendorf commented on #4064
There's a lot which could be going on here.  Are you able to see good performance when not coping over the network?  Have you verified that rolling back to and older version improves performance?

[2015-12-10 00:07] behlendorf commented on #4073
Please post in the panic you can find it in the output of the `dmesg` command.  Or if that's impossible a photo of the backtrace on the console would work.  Without that we have nothing to go on.

[2015-12-10 00:09] willthelaw commented on #4069
Darn.  OK - we're in Palo Alto (at stanford) so we do owe you some beer.

[2015-12-10 00:16] behlendorf commented on #2908
@FireDrunk you may want to look at #3938.

[2015-12-10 00:22] behlendorf commented on #4068
@wipash there were two automount snapshot fixes applied to master since you last updated.  Could you either cherry-pick these patches up update to the latest master source.

d287880 Fix snapshot automount behavior when concurrent or fail
24ef51f Use spa as key besides objsetid for snapentry

[2015-12-10 00:35] behlendorf commented on #3990
@gkkovacs I know I'm late to the conversation but it definitely looks like you've eliminated almost everything except software.  Have you tried using older Linux kernels and older versions of ZoL to determine when and where this issue was introduced?

[2015-12-10 00:37] mailinglists35 commented on #2934
still getting this on 0.6.5.3

[Thu Dec 10 02:06:33 2015] INFO: task txg_sync:2226 blocked for more than 15 seconds.
[Thu Dec 10 02:06:33 2015]       Tainted: P           O  3.16.0-4-amd64 #1
[Thu Dec 10 02:06:33 2015] "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this message.
[Thu Dec 10 02:06:33 2015] txg_sync        D ffff8800d9fce4e8     0  2226      2 0x00000000
[Thu Dec 10 02:

[2015-12-10 00:41] behlendorf commented on #1538
@aktau you've hit #3904 and you seem to have built with --enable-debug.  You can safely avoid your issue for the moment by not enabling debug, see commit 935434e.

[2015-12-10 00:43] behlendorf commented on #2934
@mailinglists35 are they transient?

[2015-12-10 01:02] behlendorf commented on #2856
It absolutely could be.  This is basically what illumos does using the devid when it can't find the right device at the expected path.  Although that's less common on illumos because they always enumerate the devices sequentially and they block until all the devices are enumerated.  That's not fast but it has the advantage of being dead simple.

Under Linux that was never implemented because given

[2015-12-10 01:05] behlendorf commented on #4055
@liquidhorse please try the patch in pull request #4080.  It should resolve the panic and allow you to import the pool with -F.

[2015-12-10 01:11] mailinglists35 commented on #2934
yes, only during peak disk activity

[2015-12-10 01:43] gordan-bobic commented on #4048
@tuxoko:
$ gcc -dM -E - < /dev/null
#define __DBL_MIN_EXP__ (-1021)
#define __HQ_FBIT__ 15
#define __UINT_LEAST16_MAX__ 65535
#define __ARM_SIZEOF_WCHAR_T 32
#define __ATOMIC_ACQUIRE 2
#define __SFRACT_IBIT__ 0
#define __FLT_MIN__ 1.1754943508222875e-38F
#define __UFRACT_MAX__ 0XFFFFP-16UR
#define __UINT_LEAST8_TYPE__ unsigned char
#define __DQ_FBIT__ 63
#define __INTMAX_C(c) c ## LL
#define __ULF

[2015-12-10 02:04] gordan-bobic opened #4083 "Scrub Passes but rm Panics"
[code]

[broken-fs.zfs-send.zip](https://github.com/zfsonlinux/zfs/files/57561/broken-fs.zfs-send.zip)

[2015-12-10 02:13] dlan17 opened #4084 "arc_summary.py isn't python3 compatible"
~ # python --version
Python 3.4.3

~ # head -1 $(which  arc_summary.py)
#!/usr/bin/python

~ # arc_summary.py
  File "/bin/arc_summary.py", line 1135
    except IndexError , e:
                      ^
SyntaxError: invalid syntax

[2015-12-10 02:58] tuxoko commented on #4048
Yeah, it seems gcc only defines _LP64 but never define _ILP32.

[2015-12-10 03:07] voidzero commented on #2934
Just a thought... Could depleted entropy pools be an issue here? Maybe in relation with kernel.randomize_va_space and/or LUKS; lack of entropy can cause long stalls sometimes.

[2015-12-10 06:53] lihui2090 commented on #4073
in dmesg no find log about the  panic niformation, in the console has the informations,
BUG: scheduling while atomic: smbd/4305/0x00000002
Modules linked in: zfs(P) zunicode(P) zavl(P) zcommon(P) znvpair(P) spl spidev ce5xx_spi_slv
Pid: 4305, comm: smbd Tainted: P            2.6.39.001 #1
Call Trace:
 [<ffffffff815e2e6f>] ? schedule+0x6af/0x8b0
 [<ffffffffa035a555>] ? zpl_read_common+0x85/0xd0 [zf

[2015-12-10 08:20] Xaroth commented on #2908
I would personally disagree with #3938; while json output is 'nice', having it available by spawning processes is bad design, especially with the current implementation of the CLI.
A more ideal situation would be a stable API/ABI for libraries to be created  (like ClusterHQ/pyzfs or my Xaroth/libzfs-python). At which point creating a simple service that returns the data in <format> would be trivia

[2015-12-10 08:27] mailinglists35 commented on #2934
I experience this on pools without LUKS

[2015-12-10 08:34] ioquatix commented on #2934
Is there some way we can test this hypothesis? Can the kernel log when it is running out of entropy?

[2015-12-10 08:39] ioquatix commented on #2934
Okay so this might be odd, but what the hell. I usually experience this problem when running minecraft on said server. Memory Usage? CPU usage? Not really sure. It never seems to be out of memory or pegged.

[2015-12-10 09:44] aktau commented on #1538
Thanks for the update! I'm not running a self-built kernel module though, I just grabbed it from the Debian Jessie repo the zfsonlinux project provides. I assume those are built with debugging support enabled, then?

That means that the `z_rd_int` high IO load is a separate thing, sorry for the confusion. Though, from reading #3904, the two seem related: high read workload with a few random writes

[2015-12-10 10:44] gordan-bobic commented on #4048
Right. So to conclude, this issue _IS_ fixed by the following commit set:
https://github.com/zfsonlinux/zfs/commit/d0c614ecf9eb0b5f5c5d75316c2faeff63e03c4e
https://github.com/behlendorf/spl/commit/625a42172f2f625457409e4b2144e466a6377984
https://github.com/behlendorf/zfs/commit/1288d09188f108bc76c66704a93852855bdb5d4d

Given that all of the 32-bit specific code based on _ILP32 is in fact going to

[2015-12-10 11:55] mmehnert commented on #3472
0e085663605af25d41b0f48a9ba146aa368de9b1 looked straight forward enough to me so I just went with it. So far it works as advertised. Is there something missing that prevents it from inclusion?

[2015-12-10 13:23] mmehnert commented on #3472
@dweeezil I just saw that in #2686 you said "IIRC, the main issue I've got with this patch is that it doesn't clean up the xattr directory when transitioning from directory-style to SA-style."
Is that something serious? ;-D Should I revert to a backup?

[2015-12-10 14:08] gkkovacs commented on #3990
@behlendorf

Regarding kernels: I only used the kernel (4.2) that comes with Proxmox 4, because that's the platform our servers are based on. This particular server has since been reinstalled with LVM/ext4, so I can't test it with ZFS anymore.

However we have another, very similar server that's going to be reinstalled, and since Proxmox 3.4 also supports ZFS with it's RHEL6-based 2.6.32 kernel, I

[2015-12-10 14:28] Ninpo opened #4085 "Assertion failed trying to send a snapshot"
`# zpool status`
`  pool: tank`
` state: ONLINE`
`  scan: resilvered 9.94G in 0h2m with 0 errors on Thu Dec 10 10:42:10 2015`
`config:`

`        NAME        STATE     READ WRITE CKSUM`
`        tank        ONLINE       0     0     0`
`          mirror-0  ONLINE       0     0     0`
`            sdb3    ONLINE       0     0     0`
`            sda3    ONLINE       0     0     0`

`errors: No known

[2015-12-10 14:28] CMCDragonkai commented on #342
I just stress tested it as well with 32GB zvol swap, 32 GB ram and 32GB
tmpfs with 330 MB zram. Tried to put a 33GB zeroed file into tmpfs and
everything locked up. Saw my harddrive led blink for a few times and then
nothing. Had to power down using SysRq.
On 10/12/2015 1:58 AM, "Fernando Jiménez" <notifications@github.com> wrote:

[2015-12-10 14:30] dweeezil commented on #3472
@mmehnert I've not exercised the patch very thoroughly and, quite honestly, it's been quite awhile since I wrote it.  AFAIK, it ought to be safe and leaving the empty xattr directory laying around should not cause any problems.  I think the main reason I didn't post a pull request as-is is because I wanted to make this patch part of a larger rationalization of sa-versus-dir xattrs, possibly includ

[2015-12-10 14:39] mmehnert commented on #3472
@dweeezil
Ok. Then I'll continue using it. A windows client is currently constantly changing ACLs  for about 12 hours now without problems and manually checking the xattrs yields the expected result (no duplicates).
Thanks!

[2015-12-10 15:47] OrdinaryMagician opened #4086 "Linux 4.2.5, ZFS 0.6.5.3, NULL pointer dereference in dsl_deadlist_insert"
Today I was just installing system updates as usual when all of a sudden my entire system froze. Naturally I rebooted and when I came back, I was greeted by a kernel oops (which I couldn't do anything about because it interrupted the boot process entirely). I decided to boot into systemrescuecd and check it out, and noticed the oops would show up again if I tried to mount my root filesystem. I los

[2015-12-10 19:34] behlendorf commented on #4048
@gordan-bobic great news.  Yes, I'm a little surprised things have worked so well too.  Although, many of the checks in the code (and there aren't too many) actually check for _LP64 being defined and assume _ILP32 when it's not.

I'll get the remaining fixes in to master shortly, and we're planning for an 0.6.5.4 within weeks.  Not months.

[2015-12-10 19:54] kernelOfTruth commented on #3990
@gkkovacs the only way to rule out an hardware error (close to 100%, not certain if Btrfs would stress all components in a similar strenuous way) would be to have another checksumming filesystem in a similar configuration which not only does checksums on metadata but also data (e.g. Btrfs)

[2015-12-10 19:59] #4048 closed

[2015-12-10 20:27] behlendorf commented on #3990
@gkkovacs please let us know what you determine because if there is a software bug in ZFS or in the Linux 4.2 kernel we definitely want to know about it.  And the best way to determine that is to roll back to an older Linux kernel and/or version of ZFS.  Finally, and I'm sure you're aware of this, but if this is a 4.2 kernel issue then you may end up having a similar problem with LVM/ext4 and just

[2015-12-10 20:46] gkkovacs commented on #3990
@kernelOfTruth Unfortunately the Proxmox installer does not support Btrfs, and I don't really have the time or the motivation to test it beyond that, since Btrfs has many other issues that exclude it from our use-case.

@behlendorf I have tested the LVM/ext4 setup extensively by copying several hundred gigabytes to the filesystem over the same way, and compared checksums of the files with checksum

[2015-12-10 22:04] behlendorf commented on #4086
@OrdinaryMagician I'm sorry to hear you've run in to problems.  The good news is that based on the backtrace and the fact that you were able to import the pool it appears to be intact.  But before starting to debug this further I suggest you make a backup of your data by booting in to a rescue image and importing the pool read-only.  You should be able to copy off all of your data somewhere safe.

[2015-12-10 22:10] behlendorf commented on #4083
if you still have the backtrace from the panic could you post it in to the bug.

[2015-12-10 22:12] behlendorf commented on #4084
Thanks for pointing this out.  This would be a great issue for someone familiar familiar with the latest python to tackle.

[2015-12-10 22:12] gordan-bobic commented on #4083
I don't have it, but it is reproducible. You should be able to gather your own by doing what I described above. Does it not trigger the kernel panic for you?

[2015-12-10 22:18] behlendorf commented on #4085
@Ninpo just to be clear are you seeing this failure with the version of ZFS shipped with Gentoo or with the tagged 0.6.5.3 version from zfsonlinux.org?  To help help debug this could you please build the latest version from Github and apply the following time patch.  This should cause the errno to be logged.

[code]

[2015-12-10 22:21] behlendorf commented on #2908
@Xaroth I should have also mentioned #3907 which is the ClusterHQ world.  We're looking for additional reviews so we can finalize this it would be great if you could look it over.  As for the JSON output supporting this is convenient in many cases and there's absolutely nothing preventing us from doing both.

[2015-12-10 22:27] behlendorf commented on #4083
@gordan-bobic I haven't had a chance to try yet, but I don't doubt it will.  I just thought you might have it handy.  Thanks for the reproducer.

[2015-12-10 22:36] behlendorf commented on #4051
@BenEstrabaud it would be great if you could tweak the code slightly so we can get the errno returned.  This should work, then we may be able to say why.

[code]

[2015-12-10 22:42] behlendorf commented on #4049
Thanks for filing this so we can track it.  Yes, that's currently the expect behavior but I agree it's not exactly obvious.  Would you prefer that all possible paths for the damaged objects be returned?  That could be a huge list depending on many snapshots it appears in.

Object numbers in the dataset.  You can feed them in to zdb if need be.

[2015-12-10 22:49] behlendorf commented on #3991
It appears to be blocked on the `&zfs_snapshot_lock` but from this stack trace it's unclear what process is holding the lock.  Where there any additional stacks on the console when this occurred?  Can it be easily reproduced so we can add some additional debugging?

[2015-12-11 00:07] behlendorf commented on #3997
I see what's going on here.  There is in fact a deadlock in `zfsctl_lookup_objset()` where it may try to acquire the mutex it's already holding.  That will result in this deadlock.  I suspect there's also quite a lot of contention on this lock which doesn't help so it should be converted to an rw lock.

I also completely agree that `zfs_expire_snapshot=0` should disable snapshot auto-unmounting.

[2015-12-11 00:30] yacoob commented on #4049
If you ask me, *I* would prefer to see a huge list, rather than experience the above. I understand how other people might not. A compromise: show the huge list on `-vv`, show warning along the lines of `paths in snapshots have been omitted` on single `-v`.

My point is, I don't see a way to automatically get all affected paths other than `zpool status -v`. In my incident, having a full list would

[2015-12-11 01:51] tuxoko commented on #4086
The crash point is ```dsl_deadlist_insert -> dle_enqueue``` but ```dle``` is NULL.
Though, I don't know how to interpret it. Maybe ```bp->blk_birth``` is corrupted?

[2015-12-11 08:57] yada commented on #2908
@behlendorf +1 We also strongly think that both can coexist and I agree: there pros and cons for each. I do not think that trying to argue on which one have the best approach will help, but IMHO community deserve both to help and facilitate OpenZFS adaption for any third parties who want to create upfront applications.

[2015-12-11 09:15] Ninpo commented on #4085
Hi, thanks for the reply.

I'm using the Gentoo 0.6.5.3-r1 ebuild, custom-cflags are disabled.

To make sure, do you want me to build 0.6.5.3 from releases on github or do you want me to build from master?

[2015-12-11 11:21] OrdinaryMagician commented on #4086
It's ok, I already send all my snapshots off to an external disk, so everything should be fine for now. I'll begin building the debug modules, hopefully systemrescuecd has all the tools I need.

[2015-12-11 13:25] zgock commented on #4079
I made pull request on spl with 1file/1line changing.
Let's continue discuss on that.
thx.

[2015-12-11 13:25] #4079 closed

[2015-12-11 16:13] ryao commented on #4086
@OrdinaryMagician You can grab a modified system rescue cd from the "System Rescue CD w/ ZFS Mirrors" mirror links from this page:

https://wiki.gentoo.org/wiki/User:Fearedbliss

[2015-12-11 16:22] OrdinaryMagician commented on #4086
I already have one of those, unfortunately, it does not come with anything I can use to build debug modules.

I guess I have to just say goodbye to the whole pool and rebuild it, then.

[2015-12-11 16:25] danwestman commented on #2575
Group:

Experiencing the same issue here, but I have a workaround that I figured I'd share.

System:
CentOS 7.1.1503 / 3.10.0-229.20.1.el7.x86_64
Pool #1 - Connected to motherboard SATA bus (no problems here)
Pool #2 - Connected to PCI SATA adapter (reliably will not mount at boot)

Workaround:

In file: /usr/lib/systemd/system/zfs-import-cache.service
Changed `ExecStart` to a custom script /<path

[2015-12-11 16:26] Xaroth commented on #2908
@behlendorf I've been keeping an eye on the ClusterHQ's repo, but I'll see if I can properly test their code.

My main conern for json output is that it doesn't promote caution when interfacing with kernel systems.. many a time I've seen people approach zfs information by executing several zfs commands, as root, every request... no thought has been put in what-so-ever to cache the information they

[2015-12-11 17:33] ryao commented on #4086
@OrdinaryMagician Out of curiosity, does this system use ECC? If it does, we can rule out a really unlucky bit flip.

I suggest talking to people in #zfsonlinux on the freenode IRC network? I hang out there, although I probably will not be free to assist until tomorrow.

[2015-12-11 19:27] behlendorf commented on #4086
Yes, very possibly the `bp->blk_birth` is corrupted in a very specific way.  If a bit were cleared in `bp->blk_birth` such that the txg birth was now lower than any other txg birth in the deadlist then there would be no entry before this in the tree.  This is normally impossible because of how the deadlists are managed and so there's no error handling code here.  But in the case of a memory or som

[2015-12-11 19:56] OrdinaryMagician commented on #4086
@ryao my system's pretty old, so I don't think there's ECC. It's actually not the first time I get some sudden bit flip that screws everything up. I once had a bootloader stop working overnight, just from one byte suddenly having changed.

[2015-12-11 20:24] shipilev opened #4091 "PANIC at arc.c:1030:hdr_full_dest()"
Just hit this panic under multiple concurrent writes:

[code]

[code]

[2015-12-11 20:50] behlendorf commented on #4085
@Ninpo please use either the master from Github or the posted 0.6.5.3 tarball from zfsonlinux.org.  Also make sure you use the newly built utilities and kernels modules when testing.  @ryao has been working on some ABI stabilization code in Gentoo and I want to rule that out as a possibility.  Plus I'm sure @ryao wants to know about any potential issues like this.

You can also easily make this ch

[2015-12-11 21:34] behlendorf commented on #4091
@shipilev this is very strange.  There is a single bit set in the owner field of the b_freeze_lock mutex which is being destroyed.  It should be NULL, and it will _only_ alternate between a valid task_struct pointer and NULL.  A value of 0x0000000000004000 implies some kind of memory corruption either due to hardware or some kind of unlikely overrun.  You may want to run a memory tester.

[2015-12-11 22:31] OrdinaryMagician commented on #4086
Ah, there we go.
[code]

[2015-12-11 23:24] mailinglists35 commented on #845
I have 600 datasets in a 30% fragmented mirror pool build from two regular 1Tb sata drives, operating in an old system (intel Q33 Express chipset with 4Gb of ram and core2duo  E8200  @ 2.66GHz).
zpool import takes more than 30 seconds.

what are expected numbers (like, let's assume ZOL code is perfect and there's nothing can be done to speed it up) per create/destroy/mount operation given the abov

[2015-12-11 23:31] #4075 closed

[2015-12-12 02:30] behlendorf commented on #4086
@OrdinaryMagician glad to hear that it was just that block pointer.  Now that it's been successfully processed you should be able to return to the packages from the distribution whenever you like.  You won't need to set `zfs_recovery` again.

[2015-12-12 04:28] lihui2090 commented on #4073
may be is
    zfs set sharesmb=on test
    zfs set  aclinherit=restricted  test
    the  test permison is
    drwxr-xr-x 2 root root 4096 Dec  9 06:29 test

   in samba  when i create the dir ,i no authority ,then cheduling while atomic: smbd/4305/0x00000002

   and the device  has  a watchdog  , so  the kernel  reboot and no log

[2015-12-12 06:19] herf commented on #2400
Same -> 0.6.5 on CentOS 6 while upgrading kernel at the same time as ZFS.
Needs a 2-hop upgrade process.

[2015-12-12 11:39] OrdinaryMagician commented on #4086
Thank you. Next computer I build, it'll surely have ECC memory.

[2015-12-12 17:07] mailinglists35 commented on #1484
not sure if I have commented in the right place - does my comment on #845 belong here?
https://github.com/zfsonlinux/zfs/issues/845#issuecomment-164076284

[2015-12-13 20:58] sempervictus opened #4097 "BIO errors to local scsi targets via scst_local atop ZVOLs, related to #4042"
While trying to address #4042 by being clever, i created scst_local handlers and targets for my ZVOLs. And in local testing this worked like a charm - write performance almost doubled (seems to eliminate jitter and provides the numbers i'd expect from a 5SSD RAIDZ, 800/200 linear/random write). However, soon as i mapped these exports into libvirt as virtio-scsi luns (instead of disks) i got this w

[2015-12-13 21:02] sempervictus commented on #4042
@ryao: i may have a viable solution requiring no functional changes to the current implementation (aside from possibly addressing the bug mentioned later) - using SCST or LIO for their local target functionality by mapping those targets over ZVOLs. I'm not a big LIO fan, but with SCST this provides a very pleasant improvement in write throughput. #4097 has my current blocker - mapping through virt

[2015-12-14 00:10] sergiall opened #4098 "Error by GPL-only symbol"
Then building ZoL as builtin mainline kernel I get this issue
Building modules, stage 2.
  MODPOST 4013 modules
FATAL: modpost: GPL-incompatible module zfs.ko uses GPL-only symbol 'event_triggers_call'
scripts/Makefile.modpost:90: recipe for target '__modpost' failed
make[2]: *** [__modpost] Error 1
Makefile:1095: Error for make recipe for target «modules»
make[1]: *** [modules] Error 2
make[1]: e

[2015-12-14 00:40] rblank opened #4099 "Inherited user properties show source as "local" in "zfs get""
Using zfs-0.6.5.3 on Gentoo. When setting a user property on a filesystem, it is correctly inherited by a child filesystem. But the source of the property is displayed as "local" on the child, even though it wasn't overridden. This makes it impossible to determine if a property is inherited by the child or overridden. Filtering by source "inherited" results in an empty set, whereas "local" shows t

[2015-12-14 07:07] ilovezfs commented on #4099
I cannot reproduce this issue with 0.6.5.3 or 0.6.5.3-r1.

[2015-12-14 09:21] zielony360 commented on #4042
@sempervictus
I am already using LIO qla2xxx target. I think it already has tcm_loop functionalities. Moreover it still doesn't solve the issue of passing XCOPY commands to ZFS. LIO probably will do simple copy, not pass XCOPY as zvols doesn't have proper interface to do that, so we don't have neighter too much performance improvement nor deduplication (thanks to metadata copy). Correct me if I am

[2015-12-14 11:13] Ninpo commented on #4085
That patch still throws the original error when patching against the Gentoo build, I'm building the ZFS tools by hand now, will test the send and if I get the same error, build again with the debug patch.  Info to follow..

[2015-12-14 12:10] ilovezfs opened #4100 "Security issue: /dev/zfs has mode 0666 when 60-fprint-autosuspend.rules is installed"
The udev rule 60-fprint-autosuspend.rules causes /dev/zfs, among other devices, to have the mode 0666 instead of whatever mode they would otherwise have, which in /dev/zfs's case is 0600:
https://gist.github.com/ilovezfs/2854a6d59ee6b2ae7e6b#file-dev-with-and-without-fprint-txt

This causes security issues such as the ability for unprivileged users to create zfs datasets.

Is there some change tha

[2015-12-14 13:24] CMCDragonkai opened #4101 "Mount option mode"
When creating a dataset for /tmp in ZFS, I expected that there would be a `mode` option to set like `mode=1777`. Currently ZFS doesn't have this option under `zfs mount`, but neither does normal mount command:

[code]

Any reasons why there's no mode option for ZFS?

[2015-12-14 13:45] dasjoe commented on #4100
Your distribution seems to modify `fprint-list-udev-rules.c` to include `, MODE="0666"`, which should get appended to the first line instead of getting printed on its own.

[2015-12-14 13:49] ilovezfs commented on #4100
@dasjoe Yup, making that change resolves the problem. So the question is whether it's upstream Gentoo or just Sabayon and which version(s) are affected.

The file specifically came from

[code]

[2015-12-14 13:53] dasjoe commented on #4100
Upstream bug: https://bugs.gentoo.org/show_bug.cgi?id=562218

--
Regards,
Hajo Möller

[2015-12-14 14:04] dasjoe commented on #4101
A dataset's permissions are preserved, you can set them manually once and they'll be restored at the next mount:
[code]

[2015-12-14 14:07] #4086 closed

[2015-12-14 14:07] CMCDragonkai commented on #4101
Oh that's handy.

[2015-12-14 15:05] laris opened #4102 "Kernel panic - not syncing: An NMI occurred"
Proxmox 4.0

Linux version 4.2.2-1-pve (root@elsa) (gcc version 4.9.2 (Debian                                                                                                                                                                        4.9.2-10) ) #1 SMP Mon Oct 5 18:23:31 CEST 2015 ()
[    0.000000] Command line: BOOT_IMAGE=/ROOT/pve-1@/boot/vmlinuz-4.2.2-1-pve ro

[2015-12-14 15:37] Ninpo commented on #4085
I'll have to come back to this I'm afraid, built tools/modules from tarball with above patch, rebooted (ZFS on root) and modules won't load.  Don't currently have time at work to keep playing with this with other commitments, I'll come back to it as soon as I can.

[2015-12-14 16:21] AndCycle commented on #4085
@Ninpo
so you caught this issue in Gentoo 0.6.5.3-r1 ebuild?

if it is, you could just fallback to Gentoo 0.6.5.3 ebuild,
it use the github tarback with minor change for openrc,

r1 include quiet a lot of change that I can't even make it work.

[2015-12-14 18:04] williamstein commented on #3948
I'm using Ubuntu 15.10 (pretty vanilla) and was using the latest stable zfsonlinux packages.  The kernel would *instantly* fail as described above whenever there were concurrent mounts of snapshots.   I installed master (built from source right now), and that problem completely vanished.   So: this is independent verification by an impacted user.      (By the way, I used to use zfs a lot, then swi

[2015-12-14 18:16] behlendorf commented on #3948
@williamstein thanks for posting.  We're glad to have you back!

[2015-12-14 18:21] williamstein commented on #3948
Thanks -- I'm about to switch to using ZFS to serve the snapshots for 245,000 projects (=Linux accounts) for https://cloud.sagemath.com...

[2015-12-14 18:49] behlendorf commented on #3948
@williamstein that's awesome.  Just a quick FYI if you're going to want to access these snapshots via NFS you'll want to cherry-pick this small fix.  If NFS isn't in your plans then don't worry about it.  The fix should be in master this week and in the next point release.

https://github.com/behlendorf/zfs/commit/68615963ff5af4f55c48df710964c4808dc4b85e

[2015-12-14 19:03] rblank commented on #4099
Interesting. I'm actually running 0.6.5.3-r1, too, but I have other machines still on 0.6.5.3.

tl;dr: This is an issue with 0.6.5.3-r1 only. I can't reproduce the issue with 0.6.5.3. So I'm going to open a bug with Gentoo. IIUC -r1 is more than just an ebuild change, it's an actual patchset against zfs.

I use the following script:
[code]
Here's a test run on 0.6.5.3-r1. Note that the user proper

[2015-12-14 19:12] williamstein commented on #3948
Thanks for the heads up regarding NFS and the workaround.  I had tested using NFS last week and it consistently hung everything (as you know), so I gave up on that for now, and switched to using sshfs (with properly configuration to sshd with sftp chroot support to make it less insecure).  I had to use keep the snapshots mounted so that they would be visible over sshfs, which is what led me to thi

[2015-12-14 19:39] rblank commented on #4099
Gentoo bug is: https://bugs.gentoo.org/show_bug.cgi?id=568270

[2015-12-14 19:39] #4099 closed

[2015-12-14 20:09] behlendorf commented on #3991
Closing as a duplicate of #3997 which was fixed in master with commit f22f900f15c28ebd8b8b764ee6229a7069c74a13

[2015-12-14 20:09] #3991 closed

[2015-12-14 20:09] #3997 closed

[2015-12-14 20:10] behlendorf commented on #3997
Merged to master along with a few other optimizations and minor bug fixes for accessing snapshots over NFS.

245b7ab Hold the zfs_snapentry_t before dispatch
1997660 Fix snapshot automount race cause EREMOTE
5ed27c5 Change zfs_snapshot_lock from mutex to rw lock
f22f900 Fix zfsctl_lookup_objset() deadlock
5e94284 Set 'zfs_expire_snapshot=0' to disable auto-unmount

[2015-12-14 22:02] DeHackEd commented on #4098
What distro and kernel are you running? Something's changed if that symbol isn't available without GPL

[2015-12-14 22:35] v12venator opened #4103 "./configure fail on Zorin 10 kernel 3.19"
Configure: error:
    uuid/uuid.h missing, libuuid-devel package required
see config.log for more details.

[2015-12-14 22:36] v12venator commented on #4103
Unable to find libuuid-devel in repositories. Any direction?

[2015-12-15 00:19] behlendorf commented on #4098
I suspect this was accidentally caused by b22e2797970b44e6b9d1e4624a5ede935c851010 and ZFS it being built with support with tracepoints.   @sergiall is HAVE_DECLARE_EVENT_CLASS defined in your `zfs_config.h`?

[2015-12-15 00:30] tuxoko commented on #4103
uuid-dev

[2015-12-15 00:37] behlendorf commented on #4103
@v12venator it depends entirely on your distribution, but `uuid-dev` and `libuuid-devel` are common names for the package.

[2015-12-15 03:31] sergiall commented on #4098
@behlendorf  Yes I have
/* DECLARE_EVENT_CLASS() is available */
#define HAVE_DECLARE_EVENT_CLASS 1
in my zfs_config.h
I try to build zen-kernel 4.3/master branch on Ubuntu 16.04 (development branch) and Debian stratch/sid,GCC 5.2.3,but this is deja vu from prevous releases ZoL and this issue you may see in users discussions on different forums of internetland...Early from Arch & Gentoo users,now

[2015-12-15 05:27] RichardSharpe commented on #3075
We have done further testing.

We are unable to provoke this error with 0.6.5-3 with directly connected SCSI devices (KVM connected) but we still see the problem with iSCSI connected devices with 0.6.5-release and master.

Are there any suggestions on how to proceed?

[2015-12-15 05:38] RichardSharpe commented on #3075
OK, I see that #3309 does tell me what I need to do ...

[2015-12-15 07:02] ilovezfs commented on #4099
Ah yeah, I can reproduce it 0.6.5.3-r1. It's order dependent.

[code]

[2015-12-15 13:41] dimez commented on #3950
I confirm this problem on Ubuntu 14.04.3 LTS (kernel 3.16.0-x and 4.2.0.19/4.2.0-21) on ZoL 0.6.5.3

[2015-12-15 15:19] RichardSharpe commented on #3075
I guess the real question is: Why does ZFS send pages to RBD and iSCSI with a page count of zero? It that correct behavior?

[2015-12-15 15:21] mw171 commented on #3789
@dweeezil: Is there any zap operation in which it makes sense that an underflow can happen?

[2015-12-15 15:42] Ninpo commented on #4085
Yes it was the -r1 ebuild that won't send snapshots.

I need to reinstall OS, can't get it booted now with the modules built by hand.  I'll report back when I've had chance.  If it's fine in 0.6.5.3 ebuild I'll file a bug on b.g.o.

Thanks for your time.

[2015-12-15 16:32] gvdijnsen commented on #3979
Stalled after 11 days. I am at a loss what to do... I now started to up some values like: /proc/sys/net/core/rmem_default because they were kinda low, but I am not sure what else to do...

The nr_requests is a per disk setting. Any advise on a good value for that? Default seems 128....

[2015-12-15 17:36] liquidhorse commented on #4055
@behlendorf Looks like that fixed it!  I was able to import the pool successfully and it appears to be intact.  I am performing a full scrub on it now.

THANK YOU SO VERY MUCH!!!!!! :)

[2015-12-15 17:36] #4055 closed

[2015-12-15 20:01] willthelaw commented on #4069
OK, that worked - thank you again.  With the data set with the issue we now get EIO.

[2015-12-16 00:12] behlendorf commented on #4069
@willthelaw OK, then it worked as expected.  The next time I'm over in Palo Alto I'll take you up on the beer.

[2015-12-16 00:17] #4069 closed

[2015-12-16 00:46] behlendorf commented on #3075
ZFS is using compound pages which the upper layers should be able to handle, zfsonlinux/spl@ae16ed992bd0ef5a55b04d9edaaa6456674315f9.

[2015-12-16 00:52] behlendorf commented on #3950
It would be tremendously helpful if someone could determine where this performance issue was introduced.  All previous releases are [available from Github](https://github.com/zfsonlinux/zfs/releases/) as tarballs and they will work with the 14.04 LTS kernel.

[2015-12-16 01:01] behlendorf commented on #4098
@sergiall with an unmodified upstream kernel this test should be failing because `trace_event_raw_init` is also a GPL-only symbol.  Admittedly this will result in tracepoints being disabled but it should build.  If your using unmodified source can you post the DECLARE_EVENT_CLASS test results from the ZFS config.log and check how `trace_event_raw_init` is exported.

[2015-12-16 01:03] behlendorf commented on #4101
@CMCDragonkai they're stored in the root inode for the dataset.

[2015-12-16 01:05] behlendorf commented on #4100
This is really something they'll need to handle upstream, there's only so much we can do if they're changing the permissions on the device.

[2015-12-16 01:11] tuxoko commented on #3075
It is using sendmsg not sendpage. sendmsg uses buffer owns by the network code itself. So the the page is not directly related to ZFS.

[2015-12-16 01:17] behlendorf commented on #4097
@sempervictus the key to the error here in on the second line you've pasted.  It's expecting 512b aligned lengths and offsets, someone will need to determine where it's getting these values from and why.

[code]

[2015-12-16 01:30] behlendorf commented on #4036
@Lukapo-logcheck what version of ZFS.  Also be aware ZFS will only send data as fast as it can be received, which may be way sending it to /dev/null is fast.

[2015-12-16 01:31] behlendorf commented on #434
@Calrama yes, that's the basic idea.

[2015-12-16 01:37] behlendorf commented on #3980
I don't see anything ZFS specific in these stacks.  It's possible this is ZFS related but there's not enough to go on here to say one way or another.

[2015-12-16 03:20] RichardSharpe commented on #3075
@behlendorf: Does that mean that tcp_sendpage does not understand compound pages?

Or, does it mean that the SCSI stack is splitting compound pages into individual pages?

Anyway, I created a patch similar to the Ceph one for iSCSI. Let's see if it works or crashes and burns.

[2015-12-16 03:43] ssrathi opened #4105 "'ls' and other operations hang on a ZFS mount in arc_get_data_buf [zfs]"
I've a ZFS mounted share, on which all operations (including 'ls', 'zfs list -t snapshot', etc.) are resulting in a hang. The process goes in disk-sleep (D) state and never recovers. The output from /proc/pid/stack points to the same stack trace for all the processes which are stuck.

[code]

ARC stats:

[code]

Is it a known issue or similar to any known issue?

Thanks.

[2015-12-16 05:26] #4101 closed

[2015-12-16 07:48] tomposmiko commented on #3980
Thanks, I will ask LXC guys.

[2015-12-16 10:02] sergiall commented on #4098
I don't know how repossition the spoiler here,then else attach this files from zfs & spl
[zfs.config.log.txt](https://github.com/zfsonlinux/zfs/files/63822/zfs.config.log.txt)
[spl.config.log.txt](https://github.com/zfsonlinux/zfs/files/63834/spl.config.log.txt)

[2015-12-16 14:37] ryao commented on #4100
@behlendorf We can enforce UMASK on /dev/zfs in the kernel module itself through a credentials check. The UMASK could be set via a module parameter that defaults to restricting /dev/zfs access to root and can only be set at boot. I intend to implement this idea soon.

[2015-12-16 15:09] stevenburgess commented on #4050
We were seeing similar things as described in the linked email on pools running 0.6.5 working with pools that had feature@hole_birth disabled. Rolling back to 0.6.4 fixed the incremental sendfile creation for new data, but (somewhat obviously) is not able to fix historical data that was sent wrong.

So basically: If for any reason you are running 0.6.5 with pools that have feature@hole_birth disab

[2015-12-16 15:29] jdavidlists opened #4106 "ZFS 0.6.5.3 servers hang trying to get mutexes"
After upgrading several of our NFS fileservers to zfs 0.6.5.3-1~trusty on Ubuntu 14.04.3 LTS with kernel 3.13.0-71-generic, a combination which did fine in all testing, we are suddenly seeing hangs in the ZFS code that cascade down to NFS and render the whole server unresponsive.

Once this happens, any access to the pool -- read or write -- will hang.  iostat shows no disk activity of any kind on

[2015-12-16 16:55] kernelOfTruth commented on #4050
Referencing:

https://github.com/ahrens/illumos/commit/ca3f86be7b84dd144325a276481e98032c16fe2f 6370 ZFS send fails to transmit some holes

https://www.illumos.org/issues/6370 ZFS send fails to transmit some holes

[2015-12-16 17:07] behlendorf commented on #4106
@jdavidlists your definitely on the right track, we need to identify why the mutex isn't being released.  If you could post back traces from all the processes we may be able to spot the deadlock by looking at the stacks.  If the system is still responsive to sysrqs,, `echo t >/proc/sysrq-trigger` and grab the console log.

[2015-12-16 17:10] behlendorf commented on #4100
@ryao we could, although keep in mind many people currently rely on explicitly re-permissioning the /dev/zfs device as a partial substitute for delegations.  For example, they'll make sure a certain group has access to it and put certain trusted users in that group.

[2015-12-16 17:17] behlendorf commented on #4098
@sergiall thanks for the logs, that's what I needed.  Can to try reverting commit b22e2797970b44e6b9d1e4624a5ede935c851010 to verify it fixes the issue.  If it does we'll want to add an autoconf check for this.

[2015-12-16 17:20] stevenburgess commented on #4050
Those do seem related, but only if the description is incorrect. The above links claim

"This can happen only if, since the incremental source (FromSnap), a file was deleted and then another file was created, and the new file is sparse (i.e. has areas that were never written to and should be implicitly zero-filled)."

However in our case (and I believe in the case in this ticket) the sparse files

[2015-12-16 17:23] RichardSharpe commented on #1548
Hmm,

Running 0.6.5.3-1 but space does not seem to be reclaimed after a delete.

I am running with xattr=on NOT xattr=sa.

[2015-12-16 17:35] behlendorf commented on #3075
@RichardSharpe can you link to the Ceph patch and the ISCSI patch you put together.  And also @tuxoko's raises a good point, this page in question should be a ZFS page at all.  So it's not entirely clear what's going on with digging deeper in to this.

[2015-12-16 17:36] behlendorf commented on #4105
@ssrathi can you include all the stacks logged to the console so we can determine why this thread isn;t being woken up.

[2015-12-16 18:07] behlendorf commented on #4028
@rincebrain it's fixed in 0.6.5.3 too, just in a slightly different way.  And git HEAD isn't that dangerous if you want to give it a try!

[2015-12-16 18:07] #4028 closed

[2015-12-16 18:11] behlendorf commented on #3978
@don-brady this sounds like a entirely reasonable approach to me.  I can't think of any reason not to store the mapping you're proposing.

[2015-12-16 18:15] behlendorf commented on #2317
@tomposmiko thanks for calling my attention to this issue.  Unless you're still able to reproduce something like this I don't think it makes sense to keep this open any more since so much has changed.  I'll close it out and we can always open a new one if you are still seeing this.

[2015-12-16 18:15] #2317 closed

[2015-12-16 18:18] behlendorf commented on #2801
Closing, all of these issues have been addressed in ZoL and we'd pushed the fix upstream to illumos.

https://github.com/openzfs/openzfs/pull/24

[2015-12-16 18:18] #2801 closed

[2015-12-16 18:44] willthelaw opened #4109 "hung task on ls of directory with possible corrupt SA attribs"
Hi,

We were affected by #4069.  Upon applying the patch, the system did a good job of giving us EIO on send/receives.  The affected dataset had a directory containing directories that would also give us an EIO initially, and now it gives us these hung tasks on ls.

NFO: task ls:40523 blocked for more than 120 seconds.
      Tainted: P           ---------------    2.6.32-504.30.3.el6.x86_64 #1
"ec

[2015-12-16 18:52] behlendorf commented on #3867
@rgmiller sorry about the slow reply.  The good news is that thanks to the stacks you posted I'm pretty sure I've identified the deadlock you're hitting.  If I'm correctly you should be able to prevent it by setting the `zfs_vdev_aggregation_limit` module option to 16384 or lower while I work up a patch.  This will disable aggregation for larger blocks which is where this deadlock can occur due to

[2015-12-16 19:03] sergiall commented on #4098
Great Thank you! I will do this necessarily,but it take a some times (till 2days),becouse I must go in little travel...I'm necessarily write about results here.Thank you again!

[2015-12-16 19:20] rgmiller commented on #3867
Great.  I'll give it a try this evening.  What should I do about the spl_taskq_thread_dynamic setting?  It's currently at 0.  I assume I should turn it back on again, yes?

[2015-12-16 19:29] behlendorf commented on #3808
Actually, this does appear the same as #3867 and therefore may not be completely resolved by ef5b2e1.

[2015-12-16 19:35] willthelaw commented on #4109
Also; I'm not seeing any... errors, but auto-mounting of snapshots is not working.  I can mount them manually.

[2015-12-16 19:54] willthelaw commented on #4109
So, the other thing that is odd is that initially I could do an ls of the questionable directories and get an EIO, which I'd say is a good thing.
Here's the stack trace of one of hung ls processes:
stack   stat    statm   status
[root@neurostor2 ~]# cat /proc/26775/stack
[<ffffffffa043a2ea>] sa_lookup+0x4a/0xb0 [zfs]
[<ffffffffa048b6d1>] zfs_readdir+0xa1/0x510 [zfs]
[<ffffffffa04a3902>] zpl_readdi

[2015-12-16 20:05] behlendorf commented on #3867
@rgmiller you should be able to leave the default.  For 0.6.5.3 this is `spl_taskq_thread_dynamic=0`, if your running master `spl_taskq_thread_dynamic=1` but a patch has been applied which resolves the root cause correctly.  Or if you could verify the patch in #4111 without modifying `zfs_vdev_aggregation_limit` that would be great.

[2015-12-16 20:36] RichardSharpe commented on #3075
@behlendorf:

The Ceph patch is here: https://github.com/torvalds/linux/commit/178eda29ca721842f2146378e73d43e0044c4166

My patch to the iscsi code looks similar, but has not yet been tested. Maybe this afternoon:

--- drivers/scsi/iscsi_tcp.c.orig       2015-12-15 11:40:31.215451646 -0800
+++ drivers/scsi/iscsi_tcp.c    2015-12-16 12:31:01.221464255 -0800
@@ -248,6 +248,17 @@
 }

 /**
+ * iscsi_b

[2015-12-16 20:36] RichardSharpe commented on #3075
Hmmm, that screwed up. How can I insert text that will not be formatted?

[2015-12-16 21:07] behlendorf commented on #3075
@RichardSharpe use \`\`\`diff ... \`\`\` around a patch to have it formatted correctly.  I've updated your comment.

[2015-12-16 21:19] behlendorf commented on #3999
The spl_kmem_cache threads are kernel threads and cannot be terminated without unloading the kernel modules.  If your having problems on a 32-bit system please try the latest master source which has some 32-bit fixes.  If you still have issues post the console logs from the failure.

[2015-12-16 21:24] wdennis commented on #3708
Another "one or more devices is currently unavailable" sufferer when trying to create zpool with "by-id" devnames... This on Ubuntu 15.04 (ran into it on two separate systems so far.) Again, @dracwyrm 's workaround solved the problem for me. I did have one case where after a 2nd/3rd attempt to create with by-id devname's did work however (fwiw, used the "-f" flag on create...) Didn't work for me o

[2015-12-16 21:59] Ringdingcoder commented on #4050
The claim might well be correct. I can confidently say that some files have been deleted on my file system. It does not matter if sparse or not. The only other ingredient is a new sparse file being created that somehow shares some metadata structures (?) or inode numbers (?) with the deleted files. Unfortunately, it does not take much for a file to become sparse. A few blocks of zeroes are enough

[2015-12-16 22:15] janlam7 opened #4112 "internal error: out of memory on gentoo/zfs-0.6.5.3-r1"
After upgrading from gentoo/zfs-0.6.5.3 to gentoo/zfs-0.6.5.3-r1 one of my systems fails to boot.
During /etc/init.d/zfs-import 'internal error: out of memory' appears, and the initramfs fails to find the real root which is on a zfs dataset.
I can enter an 'ash' shell at that point, and 'zfs list' only shows 2 of the datasets, so the pool seems to be somewhat imported.
Booting again into the 0.6.5

[2015-12-16 22:36] behlendorf commented on #3969
@tuxoko yes, I see your right.  Definitely a lock inversion, I've opened pull request #4113 with a fix for review.   My first thought was to fix the lock ordering but in this specific case that's no that easy to do.  However, it turns out that if we detect the inversion and return an error the code is already in place to handle it safely.

Additional testing of the  patch by anyone seeing this iss

[2015-12-16 22:39] behlendorf commented on #4112
@janlam7 thanks for filing this.  Let me just make sure @ryao who maintains the Gentoo package is aware of this since it sounds like it's distribution specific.

[2015-12-16 22:55] bprotopopov commented on #4050
How did you guys manage to create a pool with this feature disabled ? I tried this on Linux at pool create time, and it did not work (error returned). I assume this is the only way to do it because once it is enabled/activated, you cannot disable it either. I believe that there appear to be assumptions made in the code that once it is activated, you cannot disable it.

Boris.

____________________

[2015-12-16 22:58] behlendorf commented on #3902
@jcst is the same regression observed in 0.6.5.3 or the master ZFS branch?

[2015-12-16 23:09] jsosic opened #4114 "ZFS 0.6.5.3 - zpool import after hard reboot causes kernel panic"
Hi guys,

after loss of power, zpool won't import my pool in RW mode. I can import and back up everything with `zpool import -o readonly=on data`, but there seems to be no way to import the pool in RW mode.

I'm running latest CentOS 7 and 0.6.5.3 build through dkms from zfs yum repository.

I'm attaching kernel dmesg.txts after 1 unsuccessful import with SELinux in enforcing mode and another with

[2015-12-16 23:40] v12venator commented on #4103
@behlendorf I manually updated the uuid-dev package. Now I run into the error of making deb-utils and deb-kmod on both the spl and zfs when building .debs.

Makefile1172: recipe for target 'deb-local' failed
make *** [deb-local] Error 1

Any ideas what that might entail?

[2015-12-16 23:54] v12venator commented on #4103
@tuxoko @behlendorf
I apologize for wasting your time. I gave up on building my own and installed the package from the launchpad website. I figured I would be able to build a generic .deb on my own, being a newbie-ish linux user.

[2015-12-16 23:54] #4103 closed

[2015-12-17 00:51] jsosic commented on #4114
I just successfully mounted RW on FreeBSD 11.1 live image! :+1:  So this is definitely some kind of bug in ZFSonLinux.

I'm running scrub, and after scrub I'll retry mount in Linux.

[2015-12-17 01:01] behlendorf commented on #4114
Thanks for filing the bug report, we have a few similar reports we're still looking in too.  It's helpful to know you were able to import it under FreeBSD.

[2015-12-17 01:24] tuxoko commented on #4114
Same as #4052 #4006

[2015-12-17 01:32] jsosic commented on #4114
No problem if you need more info, I can provide... After importing on FreeBSD and after full scrub, CentOS still panicks :(

[2015-12-17 01:48] tuxoko commented on #4114
@jsosic
Could you try booting with slub_debug.

[2015-12-17 01:58] behlendorf commented on #4114
@jsosic does it panic with the same back trace?  And did you mount all the file systems on FreeBSD?  If so that's surprising because FreeBSD should have fully processed the unlinked set which means it shouldn't need to do this again under Linux.

[2015-12-17 04:49] jdavidlists commented on #4106
OK, that worked, but it seems like it didn't grab the stacks of all processes. There are 626 processes listed under the CPUs' "runnable tasks" list but only 142 stack traces:

[code]

That's not a good ratio, but we'll see what we get.

That's still a lot of data, so rather than spam a huge amount of unformatted info, it might be helpful to thin it down.  It seems safe to ignore the 113 nfsd's sit

[2015-12-17 05:19] jdavidlists commented on #4106
Just for the sake of completeness, the 113 nfsd processes I left out all look like this:

[code]

So they appear to be idle, which is why they got left out.

[2015-12-17 05:56] siebenmann commented on #4106
Looking at the code involved here, it at least looks like there is significant possibility for mutex deadlock between zfs_zinactive() and anything else that uses ZFS_OBJ_HOLD_ENTER(). zfs_zinactive() is clearly being called essentially asynchronously by the overall virtual memory system as part of reclaiming memory (and comments in zfs_vnops.c assert that it may kick off IO of its own), but at the

[2015-12-17 08:18] Ringdingcoder commented on #4050
I created the pool several years ago. I'm not even sure on which OS. Probably OpenIndiana.

[2015-12-17 08:49] tjikkun commented on #3789
@dweeezil Would the patch in the generic ZAP code that @mw171 be okay for us to use in a production environment? Or would it be dangerous or have a large performance impact?

[2015-12-17 09:55] jsosic commented on #4114
Actually it didn't mount /home under FreeBSD live. I mounted it manually after changing mountpoint to /tmp/home, and that's the filesystem that causes panic, even under BSD. So I guess this maybe isn't a bug after all?

Is there a way to drain unlinked list to make it mount RW, or should I just drop the issue and reformat?

[2015-12-17 09:58] janlam7 commented on #4112
@behlendorf, @ryao I just installed the gentoo/zfs-9999 ebuild and dependencies, and the machine will boot without problems. I'll keep it running on this version for a while.

[2015-12-17 11:14] arturpzol opened #4116 "ZFS 0.6.5.3, NULL pointer dereference in dmu_objset_sync"
Hello,

I am using ZFS 0.6.5.3 with kernel 3.10. The pool structure was:

[code]
Also znapzend was configured in that environment to make backup every minute to zvoldest.

When I tried to resize zvoldest using zfs set refreservation (which hanged) I got call trace with NULL pointer dereference:

[code]

Is it know issue? If you need any more information please write.

[2015-12-17 12:05] yetao opened #4117 "Zpool without free space after upgrade to 0.6.5.3"
Hello,

We have a system based on Debian Wheezy 64bits, running a 3.12.32 kernel. We are running ZoL with dedup enabled with good results. This is a backup server.

We were using ZoL at 0.6.4.2 version (DKMS packages). Now we are using KMOD packages at version 0.6.5.3 at this and other servers using the same architecture.

We have upgraded some of the other servers without issue. But last night we

[2015-12-17 12:12] driehuis commented on #3463
TL;DR

As a workaround for the `must be run as root` error message, make sure SELinux is not in enforcing mode on CentOS.

I'm seeing this error as well. From `/var/log/boot.log`:
[code]
I'm not only getting it on boot, but also upon calling the init script:
[code]
When I call the start script specifying "sh" as the shell, it works for reasons I can't quite fathom yet:
[code]
(up to date CentOS re

[2015-12-17 12:16] perfinion commented on #4106
I have a lockup on my laptop that seems related to this. after rebooting i retrieved  several things from pstore. Here are a few of the stacktraces that seem related to locking (the others are mostly watchdog). I was doing a lot of diskIO at the time but this machine is not an NFS server (only client but not actively using the mounts). I have also been getting several lockups on my server too but

[2015-12-17 13:14] yetao commented on #4117
More info about this:

The pool was not allowing to release any space, so we tried to empty some files with echo '' > file. With this operations, the pool was also not releasing any space. And now we are seeing this kind of traces:

Dec 17 07:17:56 localhost kernel: [63491.779241] INFO: task txg_sync:6161 blocked for more than 120 seconds.
Dec 17 07:17:56 localhost kernel: [63491.779269]       Tai

[2015-12-17 14:23] kernelOfTruth commented on #4117
https://github.com/zfsonlinux/zfs/releases

[2015-12-17 14:23] cousins opened #4118 "URGENT: multipath issue took multiple drives offline briefly. ZFS degraded"
Something happened last night that caused multipath to go nuts for some reason briefly. Multiple drives went offline at the same time and then multipath reinstated all of the drives. However, zpool status shows:

  pool: pool2
 state: UNAVAIL
status: One or more devices are faulted in response to IO failures.
action: Make sure the affected devices are connected, then run 'zpool clear'.
   see: htt

[2015-12-17 14:33] ryao commented on #4100
@behlendorf That is why it would be customizable as a module parameter.

[2015-12-17 15:49] yetao commented on #4117
Thank you very much for the tip,

I had forgotten that module option. Indeed, I don't really understand yet its impact..

It talks about 1.6% and 3.6% of total pool capacity. I have a pool with 15TB of capacity. Alternating spa_slop_shift option between 5 and 6 produces a change of almost 3TB of available space, and that's almost 20% though :\. So I'm missing something for sure.

The fact is setti

[2015-12-17 15:50] #4117 closed

[2015-12-17 16:30] cousins commented on #4118
After doing "zpool clear" things cleared up quite a bit and only one drive was found to be bad. I think when that drive failed it somehow reset the backplane it was on which caused the others to be disconnected for a minute.

[2015-12-17 16:30] #4118 closed

[2015-12-17 17:30] stevenburgess commented on #4050
Us as well, we have many pools that existed prior to hole_birth that went un-upgraded, and also some ancient pools that are created

[code]

Because some people still believe that they can switch over to zfs-fuse with no ill-consiquence. I know I have seen some people on the mailing list and GH issues make similar claims, so I was specifically trying to let them know, if they update the code but d

[2015-12-17 17:31] jsosic commented on #4114
@tuxoko as `slub_debug` in kernel cmdline?

[2015-12-17 18:36] behlendorf commented on #4114
@jsosic it's definitely a bug.  Panicing the system isn't OK except as a last resort to avoid damaging the pool, and that isn't at all the case here.  But it does sound like this isn't a bug specific to Linux which is a useful bit of information.

Based on the back trace it suggests a rw lock in memory is being damaged/overwritten which result in the hard lockup and NMI.  Booting with `slab_debug`

[2015-12-17 18:55] tuxoko commented on #4114
```slub_debug``` with a 'u'

[2015-12-17 19:03] behlendorf commented on #4100
@ryao as long as the default behavior doesn't change.  If this is implemented it's a workaround for a distribution specific issue and should be set solely for that distribution.

[2015-12-17 19:04] behlendorf commented on #4114
Whoops, yes.  I've updated by comment above.

[2015-12-17 21:24] jimsalterjrs commented on #3896
@behlendorf , I'm really anxious for this too. Chatted briefly with @ahrens about it in the comments on my latest ZFS article at Ars Technica, and he recommended poking you about ZoL support for resume.  Poke, poke, poke. =)

FWIW, the minute this gets into mainstream ZoL, I'm patching my replication tool [syncoid](https://github.com/jimsalterjrs/sanoid) to take advantage.

[2015-12-17 21:37] jsosic commented on #4114
I can't build the module for -debug kernel. I changed configure script to omit the `` check, but after that I get:

`FATAL: modpost: GPL-incompatible module zfs.ko uses GPL-only symbol 'debug_lockdep_rcu_enabled'`

https://gist.github.com/jsosic/ee9cb7b981691455c5a6

[2015-12-17 21:48] tuxoko commented on #4114
@jsosic
You should change zfs license to GPL in META.

[2015-12-17 21:50] jsosic commented on #4114
[code]

[2015-12-17 22:01] Ringdingcoder commented on #4050
@stevenburgess I just downgraded to 0.6.4.2 in order to test your assertion, however, this does not make any difference for me. I still get the same corruption. And as I already mentioned earlier, OpenIndiana 151a8, which I tend to keep on an USB stick, and which is a good deal older than ZoL 0.6.4, behaves exactly the same.

[2015-12-17 22:16] tuxoko commented on #4114
slub_debug didn't catch anything, that's a bummer.
I'll try to come up with some debug patch.

[2015-12-17 22:16] jsosic commented on #4114
Here's the crash of the debug kernel and zfs.ko compiled against (with patched META). Do you need slub_debug with -debug kernel also?
[vmcore-dmesg-2015-12-17-debug.txt](https://github.com/zfsonlinux/zfs/files/65997/vmcore-dmesg-2015-12-17-debug.txt)

[2015-12-17 22:34] tuxoko commented on #4114
Both doesn't seem to have useful information.
Could you try this debug patch:
https://gist.github.com/tuxoko/b98c72d79150d349b50d

[2015-12-17 22:42] dweeezil commented on #3789
@tjikkun Since the ```zap_increment()``` function is only used in the context of the user/groupused objects, it would likely be OK.  I'd considering patching it as follows (completely untested):
[code]
I wish these functions didn't have such generic names because they might be tempting to use for ZAPs in other places in which this behavior wouldn't be appropriate.

[2015-12-17 23:32] jsosic commented on #4114
Here ya go:
[vmcore-dmesg-debugpatch.txt](https://github.com/zfsonlinux/zfs/files/66054/vmcore-dmesg-debugpatch.txt)

[2015-12-17 23:48] tuxoko commented on #4114
```leaf=ffff8807cb4cc000 object=1619117 blkid=0```
Ok, we are getting something.

https://github.com/zfsonlinux/zfs/blob/b815ec32b3ba04ad7307ca8945a865eec0ec766b/module/zfs/zap.c#L515
The blkid shouldn't be 0.
So it's not the spinlock been corrupted, but it's not even spinlock in the first place.
I'll have to analyze this further.

[2015-12-17 23:58] tuxoko commented on #4114
Could you do ```zdb -edddddd data/home 1619117``` and post the result.
I assume data/home is the faulted filesystem.

[2015-12-18 00:10] behlendorf commented on #4106
@jdavidlists thank you for stacks and detailed analysis.  I'm fairly sure @siebenmann is on the right track here with a ZFS_OBJ_HOLD_ENTER() deadlock although the back traces don't appear to explicitly show this.  They're just blocked waiting for memory.  But this exact issue is something both Linux and FreeBSD have struggled with due to differences in the VM and VFS subsystems across platforms.

[2015-12-18 00:27] jsosic commented on #4114
[code]
And it hangs there.

[2015-12-18 00:34] jdavidlists commented on #4106
As much as it hurts to disappoint  you, I'm using the Launchpad packages.  Building from source should be doable, but it'll take awhile to figure out how to do that.

Also, on the mailing list there has been some discussion and investigation that suggests that the source of the memory pressure may be the sudden allocation of many millions of znode and dnode structures, if that information is in an

[2015-12-18 00:40] siebenmann commented on #4106
@behlendorf if I'm reading the code and traces correctly, kswapd has called zfs_zinactive(), which is probably trying to get the mutex, while zfs_zget() and company probably hold it and are trying to allocate memory. However, now that I look at the mm code it doesn't look like they're explicitly blocked waiting for kswapd; instead they're down in shrinker code flailing away and apparently not maki

[2015-12-18 01:00] behlendorf commented on #4106
@siebenmann that would make a lot of sense.  To help avoid potential deadlocks like this PF_TRANS is set on all the nfsd threads as they handle requests thereby effectively disabling direct filesystem reclaim.  That means we're going to be heavily dependent on kswapd, or another user process, to perform any filesystem reclaim.  If kswapd or a different process can't make progress because it ends u

[2015-12-18 01:18] tuxoko commented on #4114
@jsosic
https://gist.github.com/tuxoko/b98c72d79150d349b50d
I updated the patch, hopefully zdb can finish executing with this.

[2015-12-18 01:37] jdavidlists commented on #4106
All of these servers are indeed NFS and nothing else, with twice-daily "zfs send" backups.  The memory requirements of NFS on its own are vanishingly small, so nearly all of the RAM is available to ZFS.

Unfortunately we tried zfs_arc_sys_free earlier today and it appeared to make the problem *much* worse.  After setting zfs_arc_sys_free to 2G on these machines, this problem has happened several t

[2015-12-18 01:44] jsosic commented on #4114
Nope, still hangs at the same point. This is the `strace` of the running zdb:

[code]

And it dumps bunch of futex syscalls on screen.

[2015-12-18 01:59] tuxoko commented on #4114
Right, thanks anyway for all the info you've got.

There's definitely something not right with this object.
This object is most likely an xattr directory.
It's dsize is 0, and every zap attribute is also 0.
It's basically an empty object.

@jsosic
What xattr option do you use?
Use ```zfs get xattr``` when imported read only, if you don't know.

@behlendorf Do you have any idea what could have caus

[2015-12-18 02:24] perfinion commented on #4106
The symptoms you describe apply to me too. Im pretty sure it is related to ARC shrinking. I have a pretty old server and only 4GB ram. whenever I tried to emerge chromium (needs ~3GB to link) it would deadlock and eventually the watchdog would reboot it.

A few times I have caught it happening with htop already open (once it starts anything at all that hits the disk will die so only things that ne

[2015-12-18 03:13] bprotopopov commented on #4050
So, is there a simple recipe you can describe to reproduce this issue ?

I would be interested to understand the mechanics of the failure.

Boris.

________________________________
From: Stefan Ring <notifications@github.com>
Sent: Thursday, December 17, 2015 5:10 PM
To: zfsonlinux/zfs
Cc: Boris Protopopov
Subject: Re: [zfs] Incremental zfs send does not transmit hole (#4050)

@stevenburgess<https

[2015-12-18 03:28] jdavidlists commented on #4106
Just found one of the servers in the about-to-die state.  It has arc_sys_free set to default (256M on this 16G machine) and was just sitting with about 170-200M free.  This machine happens to run Debian, not Ubuntu, and is using SLAB, not SLUB, so I was able to fire up slabtop and watch what was happening on a per-slab basis without any misattribution.

zio_buf_16384 (as a standin for ARC on the l

[2015-12-18 04:30] RichardSharpe commented on #3075
That patch seems to work, although the iSCSI maintainer has suggested that I skip the helper function and just access the page info directly.

[2015-12-18 05:20] ssrathi commented on #3943
@mmehnert
I'm facing the same deadlock. Please explain what did you do to achieve your suggestion of "serializing all zfs / zpool commands of backup scripts / snapshotting scripts so that at no time zfs commands are run concurrently."? Do I need to configure some parameter while mounting a ZFS path?

[2015-12-18 08:18] tjikkun commented on #3789
@dweeezil Thanks, I don't want to prevent overflows just yet though, because my plan is to implement the patch, then overflow the accounts that have underflowed. Maybe I can better use @mw171 suggestion for that.

[2015-12-18 09:08] jsosic commented on #4114
[code]

[2015-12-18 09:08] Ringdingcoder commented on #4050
No, I just have a state where I can rerun zfs send and zfs receive and check the resulting md5sum. I don't know how to manufacture that state in the first place.

[2015-12-18 09:31] sergiall commented on #4098
I've comeback.@behlendorf I try make revert the trace_dbgmsg.h and now it look like this:
[trace_dbgmsg.h.txt](https://github.com/zfsonlinux/zfs/files/66388/trace_dbgmsg.h.txt)
Then I probe to build the new stable linux-4.3.3 kernel,but again give the such error:

  Building modules, stage 2.
  MODPOST 3995 modules
FATAL: modpost: GPL-incompatible module zfs.ko uses GPL-only symbol 'event_triggers

[2015-12-18 13:01] ryao commented on #4112
@janlam7 It sounds like the userland tools were upgraded, but the modules in the initramfs were not. Are you sure that both were upgraded at the same time?

[2015-12-18 14:29] nbk1982 opened #4120 "Large kmem_alloc(44037, 0x0)"
The following error has been logged, if any other info needed just let me know.
...
[3325556.718601] Possible memory allocation deadlock: size=44037 lflags=0x4210
[3325556.718602] CPU: 3 PID: 29362 Comm: updatedb.mlocat Tainted: P           O  3.16.0-4-amd64 #1 Debian 3.16.7-ckt11-1+deb8u5
[3325556.718603] Hardware name: ASUS All Series/Z97M-PLUS/BR, BIOS 2801 04/08/2015
[3325556.718603]  00000000

[2015-12-18 15:03] dweeezil commented on #4106
I wish I could comment on a comment:  @behlendorf I think ```ZFS_OBJ_MTX_SZ``` had better be a power of 2 due to (not using modulus):
[code]

[2015-12-18 15:41] RichardSharpe opened #4121 "creating snapshots causes activity to stall for 30 minutes"
Hi folks,

We are using 0.6.5.3-2 and during some recent testing where we ran up 200 Samba clients and was taking snapshots with the auto-snapshots stuff (hourly) we are seeing hangs where ZFS will hang for 30 minutes and then come good.

Seeing these sorts of stack traces for processes:

'''
[<ffffffffa03978b5>] cv_wait_common+0x125/0x150 [spl]
[<ffffffffa03978f5>] __cv_wait+0x15/0x20 [spl]
[<fff

[2015-12-18 15:41] RichardSharpe commented on #4121
Currently trying to determine if this was a regression between 0.6.4 and 0.6.5.3.

[2015-12-18 15:43] storepeter opened #4122 "Kernel panic - not syncing: avl_find() succeeded inside avl_add()"
I get a kernel panic every day on Ubuntu 14.04.3 / ZFS 0.6.5.3.
Please advice if you need further details.
I have included a blurred photo of the screen after the crash

Best Regards
Peter

![img_0001](https://cloud.githubusercontent.com/assets/4480669/11900323/3a47d3dc-a573-11e5-998c-55b3c603e299.JPG)

excerpt from dmesg:
[    0.000000] Linux version 3.19.0-41-generic (buildd@lgw01-12) (gcc versi

[2015-12-18 15:57] siebenmann commented on #4106
@jdavidlists I think your results from trying to drop all caches during a lockup are what you'd expect, since the mutex deadlock appears to involve locks used when dropping inodes (that's what zfs_zinactive() is trying to do). It's possible that dropping just the page cache (via 'echo 1 >/proc/sys/vm/drop_caches') wouldn't hit the deadlock and would free up enough memory to unlock things; it might

[2015-12-18 17:12] bprotopopov commented on #4050
Stefan, if you'd like, I can work with you to get more debug info.

This will involve locating a file that was updated incorrectly by send/recv and running zdb on that filesystem in the snapshots and in the resulting filesystem.

Typos courtesy of my iPhone

On Dec 18, 2015, at 4:08 AM, Stefan Ring <notifications@github.com<mailto:notifications@github.com>> wrote:

No, I just have a state where I

[2015-12-18 17:34] satmandu commented on #4019
For what it's worth, running atop on this machine shows this when just doing an unpack of a package  with many small files (linux-libc-dev) using dpkg:

[code]

The dsk line is flashing red and showing busy...

Running atop on another system with zfs disks does not show high disk usage.

[2015-12-18 17:50] behlendorf commented on #4106
@dweeezil whoops, your right.  I've updated by comment and updated it to 4096.

[2015-12-18 19:32] Ringdingcoder commented on #4050
I have already posted most of this: http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-November/023909.html

[2015-12-18 19:57] tuxoko commented on #4114
@jsosic
If you have backed up important data, you can try #4123.
Setting module parameter ```zfs_recover=1``` and import rw, and see if things go well.
After that change back to ```zfs_recover=0``` and import rw again and see if things go well.

[2015-12-18 20:43] sofakng commented on #3964
I'm also having a problem...  what is the correct configuration for samba, zol, and the sharesmb setting?

I can get my share to work, but after a reboot ZFS complains that the share already exists and the zfs-share.service won't start.

[2015-12-18 20:55] sofakng opened #4125 "zfs and sharesmb -- are my shares being created twice?"
I'm using ProxMox v4.1 which is Debian 8 64-bit running ZoL v0.6.5 and Samba v4.1.17.

When I try to use ZFS to enable an smb share (i.e. zfs set sharesmb=on tank/files), it works but after a reboot I receive errors such as "cannot share tank/files: smb add share failed" and "ERROR: share tank_files already exists."

The first change to get anything working was to enable "registry shares = yes" in

[2015-12-18 20:57] behlendorf commented on #4106
@siebenmann nice summary of the problem.  I'm pretty much in agreement with your analysis, but I'd like to add that the reason this doesn't happen under illumos is their memory reclaim behavior is very different.  This really isn't a case which can occur for them.  The recent ARC restructuring and improvements we pulled in from illumos are also the most likely reason this has become more common.

[2015-12-18 21:41] janlam7 commented on #4112
@ryao, I just reinstalled zfs, zfs-kmod and spl, all 0.6.5.3-r1; and recreated the initramfs.
I diffed the contents of the intramfs regarding zfs and the modules with the root filesystem, and they all seem to match. Booting failed with the same error. I'm not sure what else to compare.

I tried spl-0.6.5.3-r1 together with zfs 0.6.5.3 and zfs-kmod 0.6.5.3; that boots normally.
I made an ebuild for

[2015-12-18 22:07] #3867 closed

[2015-12-18 22:07] #3969 closed

[2015-12-18 22:13] behlendorf commented on #4122
@storepeter the fix for this is in the master branch and will be in the next point release.  If you need a fix now you can safely cherry pix these two patches.

d287880 Fix snapshot automount behavior when concurrent or fail
24ef51f Use spa as key besides objsetid for snapentry

[2015-12-18 22:30] behlendorf commented on #4114
@tuxoko looking at `zfs_purgedir()` and I'm not positive but it looks like it _might_ be possible that if we encounter an error we could leave an empty xattr directory in the unlinked set.  This seems like something we could easily check for at the top of `zfs_purgedir()`.  Or better yet fix the ZAP code, I don't see why we couldn't safely iterate over an empty fat ZAP.

[2015-12-18 22:43] behlendorf commented on #4121
@RichardSharpe this could be the same as #3969 for which a fix was merged to master today.  Could you apply the following commit and see if it resolves the issues.

a8ad3bf Fix z_xattr_lock/z_teardown_lock lock inversion

[2015-12-18 22:48] behlendorf commented on #4120
Thanks for reporting this.  This should be just advisory, have you observed any problems aside from this log message?

[2015-12-18 22:54] behlendorf commented on #3943
Can you please verify that this patch which was recently merged to master resolves the issue.  You may be hitting #3969.

a8ad3bf Fix z_xattr_lock/z_teardown_lock lock inversion

[2015-12-18 22:55] behlendorf commented on #3075
@RichardSharpe that's great news.

[2015-12-18 23:23] behlendorf commented on #3896
It's definitely on the short list.  Our next big push is to sync up with the latest illumos code and pull in all of this functionality and more.  And we're going to be methodical and careful about it to avoid and regressions or destabilization.  But it's certainly coming!

[2015-12-18 23:27] behlendorf commented on #4116
Thanks for posting it, this looks like a new issue.  Are you able to consistently reproduce this by running `zfs set refreservation`?

[2015-12-18 23:28] behlendorf commented on #3655
Does anyone know if this is still an issue in master?

[2015-12-18 23:33] behlendorf commented on #3940
What version of ZFS and is this still an issue?

[2015-12-18 23:38] jsosic commented on #4114
Initial mount with `zfs_recover=1` (debug kernel):

[code]

After this I hit `reboot`, and booted standard non-debug kernel, with vanilla ZFS (non-patched) module 0.6.5.3....
Everything seems fine so far!!! :+1:

Thank you guys for awesome support.

I hope I did also help you with my feedback and tests! :)

[2015-12-18 23:42] tuxoko commented on #4114
@jsosic
Thanks for all the testing, it was really helpful.

[2015-12-18 23:43] behlendorf commented on #3974
This should be addressed in 0.6.5.3.

[2015-12-18 23:45] behlendorf commented on #3517
Can I safely close out this issue?  Are things now stable with the latest master source?

[2015-12-18 23:49] behlendorf commented on #3945
Is this still an issue, and if so can you paste in an example back trace.

[2015-12-19 00:24] tuxoko commented on #4114
@behlendorf
So I don't think it's error in ```zfs_purgedir``` caused this. If you look at the zdb log, the object is not exactly a fat zap. It's completely empty, meaning it doesn't even have a header block.

I think what caused this is after ```zfs_purgedir``` succeeded. We do ```dmu_free_long_range```. After that and before object removal, the system went down. So we have an empty zap object in

[2015-12-19 00:37] RichardSharpe commented on #3075
I think it works in that it reduces the occurrence of the messages.

However, I am still seeing this sort of thing:

'''[ 2351.347384]  [<ffffffff816051ca>] dump_stack+0x19/0x1b
[ 2351.347388]  [<ffffffff816003e8>] bad_page.part.59+0xdf/0xfc
[ 2351.347393]  [<ffffffff8115eacd>] free_pages_prepare+0x16d/0x190
[ 2351.347396]  [<ffffffff8115eea9>] free_compound_page+0x29/0x40
[ 2351.347400]  [<ffffff

[2015-12-19 00:47] tuxoko commented on #3075
@RichardSharpe
```kernel_sendmsg``` was on stack in the first place. That's what I keep saying.

[2015-12-19 00:49] behlendorf commented on #3959
@woohgit wow that's a deep stack!  Exactly how deeply have you nested those clones?  One fairly easy thing you can try is to update to a 3.15 or newer kernel.  The default stack depth was doubled from 8k to 16k, that may be large enough for your use case.  If not you could rebuild the kernel with ever larger stacks.

[2015-12-19 01:04] behlendorf commented on #3967
For reference here's something to keep in mind which isn't obvious unless you're already familiar with ZFS internals.  Directories in ZFS are stored as either a micro zap or a fat zap.  Micro zaps are an optimization designed to improve the common directory case and what is normally used.  However, if certain criteria are met the micro zap is automatically promoted to a fat zap.  A fat zap is desi

[2015-12-19 04:09] kfreedman opened #4126 "feature flags missing from pool"
I have two systems whose zfs features differ.. both are the same kernel and zfs version, so this is perplexing:

[root@host1] >> modinfo zfs | grep version
version:        0.6.5.3-1
srcversion:     CEB8F91B3D53F4A2844D531
vermagic:       2.6.32-573.8.1.el6.x86_64 SMP mod_unload modversions

[root@host2]# modinfo zfs | grep version
version:        0.6.5.3-1
srcversion:     CEB8F91B3D53F4A2844D531
v

[2015-12-19 04:23] rgmiller commented on #3867
Just a quick update: I installed patch #4111 this evening and it's running now.  The overnight backup jobs are what normally caused problems, so I'll leave another update after it's run for a couple more days.

[2015-12-19 08:22] shapemaker commented on #4106
You should be able to just drop the SLAB/SLUB objects with 'echo 2'. As per https://www.kernel.org
/doc/Documentation/sysctl/vm.txt

To free reclaimable slab objects (includes dentries and inodes):
	echo 2 > /proc/sys/vm/drop_caches

[2015-12-19 08:38] ilovezfs commented on #4126
Is this gentoo?

[2015-12-19 12:07] mmehnert commented on #3943
@ssrathi Depending on importance I either prepend "/usr/bin/flock /run/lock/zfs.lock" or "/usr/bin/flock -w 1800  /run/lock/zfs.lock" before each zfs command.
@behlendorf I will do that.

[2015-12-19 14:33] Ringdingcoder commented on #4050
@stevenburgess No, you were right. I made a mistake when testing, and I can confirm that the corruption does not happen with 0.6.4.2.

[2015-12-19 14:46] kernelOfTruth commented on #4126
rhel 6 or cent os 6 I suppose

[2015-12-19 21:13] cwtopel commented on #3945
Looks like the paste expired, but basically the issue was that once I had exhausted my available RAM the system would attempt to flush to disk and it will lock up the entire system.

My system is relatively old/slow (16GB DDR2, RAIDz1 with 2x 4TB 3GB/s SATA) and needed a little help moving things along.

[This](https://lonesysadmin.net/2013/12/22/better-linux-disk-caching-performance-vm-dirty_rati

[2015-12-19 21:13] #3945 closed

[2015-12-19 21:23] kernelOfTruth commented on #3945
@cwtopel what additional filesystems did you use ?

do you roughly still remember what was running back then ?

I'm asking because vm.dirty_background_ratio and vm.dirty_ratio don't have or shouldn't have an effect on ZFS

[2015-12-19 21:32] cwtopel commented on #3945
@kernelOfTruth The entire system was ZFS, no additional filesystems that I'm aware of. (The system was essentially running the Proxmox defaults.)

It's entirely possible that `vm.dirty_background_ratio` and `vm.dirty_ratio` aren't doing anything for me, as I added all of those options at roughly the same time.

My running theory is that because a lot of my VMs were high-traffic they would swap int

[2015-12-19 22:26] dmaziuk commented on #3967
Thank you, added to my "notes to self" wiki. Does it get demoted back to micro zap if those are no longer true? For this particular case,
[code]
which is consistent with previous numbers. After a reboot (upgrading centos to 7.2)
[code]

I.e. not much difference.

[2015-12-19 23:45] behlendorf commented on #3967
It could be downgraded but that's not currently implemented.   You can however create a new directory and move the files.

[2015-12-20 00:56] RichardSharpe commented on #4121
Hmmm, shifting to xattr=sa has had a huge impact.

Without it we could easily get into situations where 250 smbds creating and renaming objects would get into a hang and we would see 10 processes getting 'blocked for more than 120 seconds' and sometimes these would be in ZFS (the stacks would show that) and the load average would be high (>200) for a long while.

With xattr=sa we can run the same

[2015-12-20 12:45] janlam7 commented on #4112
So, to be sure there is no mismatch with the versions in the initramfs I copied my zfs-root and /usr to an ext4 partition, put the 0.6.5.3-r1 versions on it, removed the zfs stuff from the runlevels and booted from it. No 'out of memory errors' occur, but the listing of datasets is still not complete. Notice the missing '/data' after zfs list, but the succesfully mounted /data later on, after moun

[2015-12-20 17:22] dweeezil commented on #4106
@behlendorf I'm reviewing #3225 and related commits including d6bd8ea to remind myself of all the issues related to ```z_hold_mtx```.  As to eliminating it, nothing comes to mind right now but it seems that if were were a way to do so, it could be done under illumos and other implementations as well.

Assuming it says, for now, it does seem it could be converted to a hash table or something else t

[2015-12-20 20:21] storepeter commented on #4122
I installed the fixes above, and the system has now been running for more than a day, without any problems.

Thank you for your support, and for making zfsonlinux happen. I have been a happy user for more than two years, with very few problems.

[2015-12-20 20:21] #4122 closed

[2015-12-21 04:36] sempervictus commented on #4097
The block sizing it expects is actually 4096, at least thats what i set in scst.conf when creating the scst_local mappings via vdisk_blockio handlers.

I've implemented this with tcm_loop via LIO and it seems to do most of what i want. Using this as a lun via virtio-scsi still causes problems though, with a volblocksize=8k the data gets corrupted pretty badly. When using as virtio-scsi/disk, with

[2015-12-21 08:29] Gintaras1 commented on #3940
After ~36 days uptime crash again (2015-12-18)
# modinfo zfs |grep version
version:        0.6.5.2-2
# uname -a
Linux ohv1 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u5 (2015-10-09) x86_64 GNU/Linux

Process D state:
26822 ?        Ds     0:00 zfs create -s -V 5368840192 home/zfs-2004/disk.0

# zpool list
NAME   SIZE  ALLOC   FREE  EXPANDSZ   FRAG    CAP  DEDUP  HEALTH  ALTROOT
home  2.17T

[2015-12-21 09:33] FransUrbo commented on #4125
This is a problem I never got around fixing. It was supposed to have been done once the review of the patch started, but "the powers that be" choose to ignore and not accept the patch, so I never bothered to fix that part.

It's perfectly fine, just a bit annoying.

What happens is that when ZoL tells samba to do the sharing it records this as a share. When the machine then stops, ZoL isn't tellin

[2015-12-21 10:29] AndCycle commented on #4112
@ryao
here is a screenshot for reference as I tried 0.6.5.3-r1,
http://imgur.com/0Q4y5gF

you can see it only list first few zfs,
that zpool actually contain much more than that
[code]
then I rollback the entire system because this is a prod server,

[2015-12-21 10:50] gregfr opened #4127 "Zfs crash? how worried should I be?"
Hello

Last night on of my zfs-based servers crashed and I suspect it's zfs related. Here is the syslog output.

How worried should I be? can I just restart the services? how can I find out what really happened?

Thanks in advance

[code]

[2015-12-21 10:56] gregfr commented on #4127
I'm using zfs/spl 0.6.4.1 compiled from source in May 2015 on Debian 7.9.

[2015-12-21 12:57] dweeezil commented on #3940
That appears to be the same issue as #3678.

[2015-12-21 13:38] mmehnert commented on #3943
@behlendorf I switched to git HEAD after may last post. Everything looks good so far but I guess I will wait a few days to be sure. Since I posted the original traces I switched to xattr=sa so I'm not sure whether I would run into the exact same problem. (My traces always had zfs_get_xattrdir in them...)

[2015-12-21 13:46] kernelOfTruth commented on #4127
This appears to be a Proxmox kernel - what makes you think that it's caused by ZFS ?

https://forum.proxmox.com/threads/kernel-list_add-corruption.13101/

https://bugs.openvz.org/browse/OVZ-5620

I remember having seen these kind of errors already on the buildbots (centos ?) and 2.6.32, so older kernels

Did you use hibernation or suspend to ram ?

There appear to be several "triggers" which can c

[2015-12-21 14:58] mw171 commented on #3789
@dweeezil if I already have a faulty userused of e.g. 2^64-1 , how could I get a corrected value near zero with your patch?

[2015-12-21 15:34] tomassrnka commented on #3948
Unfortunately I'm still able to reproduce the bug. Kernel version: 3.19.0-31-generic running on Ubuntu 14.04; ZFS is from 10 Dec - https://github.com/zfsonlinux/zfs/commit/a22502c9e6656e8d19e43de7f983588afc719ec5

[code]

[2015-12-21 15:41] williamstein commented on #3948
I've had two machines crash with a similar log in the last day....

On Monday, December 21, 2015, Tomas Srnka <notifications@github.com> wrote:

--
Sent from my massive iPhone 6 plus.

[2015-12-21 15:55] rgmiller commented on #3867
The overnight backup jobs have run 3 times now without problems, so it looks like the patch is solid.

[2015-12-21 17:10] behlendorf commented on #3867
@rgmiller excellent news, thanks for following up.

[2015-12-21 17:11] behlendorf commented on #3948
@williamstein specifically which back trace, and have you applied to the snapshot fixes?

[2015-12-21 17:14] behlendorf commented on #3943
@mmehnert switching to `xattr=sa` will avoid the issue for because we don't need to take the offending lock in that case.  The fix in HEAD should work address it as well.

[2015-12-21 17:28] tuxoko commented on #3948
@tomassrnka
Try this one https://github.com/zfsonlinux/zfs/commit/199766017076de5bddd0dad4f95f29361fc04169

[2015-12-21 18:52] mmehnert commented on #3943
I'm afraid that I can't verify that the bug is fixed then, since I only experienced it on this machine and I'm hasitant to switch xattr storage again..
@ssrathi, can you help testing, perhaps?

[2015-12-21 18:53] gregfr commented on #4127
Thanks a lot for the pointers!
I think it happened during the night's "updatedb", it seems under high memory load, but I'll try to gather more info

[2015-12-21 19:10] behlendorf commented on #3943
If anyone is able to consistently reproduce this issue it would be helpful if you could verify the patch in #4128 resolves it.  Please use this version of the patch which is more comprehensive than the version applied to master.  Also be aware that `xattr=on` must be set for this problem to manifest.

[2015-12-21 19:49] jdavidlists commented on #4106
OK, here's an update.

First things first, the per-minute check-and-drop_caches script seems very effective.  No crashes on any of the five affected machines since deploying it.

It really wasn't too hard to download and build the ZFS & SPL sources on a test Ubuntu VM, including the patch referenced by @behlendorf (which did apply to the 0.6.5-release branch, as I'm not brave enough to touch maste

[2015-12-21 19:51] stevenburgess commented on #4050
Good to hear! I was a little worried when I read that you were having this problem even on much older systems.

[2015-12-21 20:32] sofakng commented on #4125
Thanks very much for the information!  I spent a couple of hours looking through the ZoL code and then realized that ProxMox used a different version of ZoL that included your patch.  I agree that it's not causing any problems but I do get errors in my log from the zfs-share service.

If I did want to implement a quick fix, all I need is a script that uses "net conf delshares" on shutdown, right?

[2015-12-21 20:43] jdavidlists commented on #4106
Well, a quick follow-up to my own question, installing the ubuntu-zfs packages on the test machine do not change the kernel.  So I'm confused as to why the kernels are not the same on the same version of Ubuntu LTS, but it looks like the test machine somehow pulled in a Vivid backport all by itself.  Which was easy enough to deal with, so the hanging question is:

Is building an alternate set of k

[2015-12-21 20:54] FransUrbo commented on #4125
The _correct_ way should be to make sure that <code>zfs unshare -a</code> is run before Samba is shut down. Or, if you want to make things easy for you, run <code>net conf delshares</code> just before Samba shutdown (as you say). With <code>systemd</code> scripts, I think there's some kind of "post-execute" option you can use for that.

[2015-12-21 21:35] behlendorf opened #4129 "ztest: zdb: can't open 'ztest': No such file or directory"
ztest can occasionally fail because `zdb` cannot locate the pool after several hours of run time.  This appears to be caused be an empty cache file.

[code]

[2015-12-21 21:51] janlam7 commented on #4112
The out of memory error is triggered by the the following command from the initramfs:
zfs get type -o value -H pool/system/zfs06531 (in my case)

[2015-12-21 22:26] mmehnert commented on #3943
Ok. I looked into it. I guess with 0e085663605af25d41b0f48a9ba146aa368de9b1 it's ok to switch back. I'll test it with xattr=on for a few days.

[2015-12-21 22:40] behlendorf commented on #4106
@dweeezil as I understand it the locking is there to serialize access to a specific object number during create and destroy.  Normally this would be done with a lock in the znode but in the create and destroy case the object doesn't yet exist so it needs some external mechanism for this.  My first thought was to leverage the Linux VFS but these same functions are used in ZIL replay which happens w

[2015-12-21 23:01] behlendorf commented on #4122
@storepeter glad to hear that resolved the issue.  Sorry we let this one slip through we'll get it in the next release.

[2015-12-21 23:07] sofakng commented on #4125
Thanks again.

It's too bad your commits won't be merged into master for a while.  Also, it's strange but if you run 'zfs share -a' you get the error that the share already exists but if you run it a second time it doesn't show any errors.  (I'm not sure if it's failing silently, or the second attempt realizes that the share was already created)

[2015-12-22 00:11] dweeezil commented on #4106
@behlendorf That was my impression as well; can't lock something when the "thing" doesn't yet exist. I'm kind of surprised illumos is only using a 64-entry array for this.  The entries must be locked for very very short periods of time.

[2015-12-22 00:28] jdavidlists commented on #4106
@behlendorf OK, your patch is up and running on one server.  It sounds like the hope is this will result in lower CPU usage due to less mutex contention, resulting in lower memory usage due to more effective eviction, resulting in a lack of hangs.  Is that about right?  Is there anything specific to watch for, other than lack of hangs?

[2015-12-22 01:06] behlendorf commented on #4106
@jdavidlists yes the basic idea is that by increasing the number of mutex it's less likely that you'll run in to contention.  Mind you it's still not impossible, just less likely so deadlocks are still possible.  But this may mitigate the issue until we can work up a patch to eliminate them entirely.

@dweeezil yes I always found that surprising too.  But again this is probably far less likely on

[2015-12-22 02:13] MrStaticVoid commented on #3517
I will give it a try.

[2015-12-22 08:09] FransUrbo commented on #4125
There is SOME code bug in there as well, but _usually_ it works by running <code>zfs unshare -a</code> first. But it's not been on my TODO to figure out exactly what the problem is and how to fix it. it works...

[2015-12-22 11:54] fardok commented on #3485
pls   - how to install  ZFS on fedora22?  yum dont work,   dnf cant install

[2015-12-22 12:46] fardok commented on #3781
cant  install zfs:
 sudo yum install kernel-devel zfs
 -Cannot download  repomd.xml: Cannot download repodata/repomd.xml: all mirrors were tried ... errror
yum  try  to install from  http://archive.zfsonlinux.org/fedora/22/i386/    BUT   my linux is i686!      how can i change to i686?

[2015-12-22 13:15] arturpzol commented on #4116
Unfortunately I am not able to reproduce it by running ```zfs set refreservation``` each time. Repeatability of the issue is very small. I am trying to find 100% scenario. Do you have any suspicion where the bug can be?

[2015-12-22 14:40] dweeezil commented on #4106
@behlendorf Couldn't we use a ```ZFS_OBJ_HOLD_TRYENTER``` in ```zfs_zinactive()``` only in the context of a kswapd task?  Isn't it OK to do nothing if called from kswapd?

[2015-12-22 15:11] williamstein commented on #3948
@benalbrecht Here's the traceback I got in production yesterday:
[code]

Maybe I'm wrong and this is a completely different problem.  The mention of arc_prune makes me wonder if I have not configured the servers with sufficient RAM.    Any advise?  I have about 200-300GB of data, and I'm not use deduplication, though I *did* use dedup when originally copying the 200GB in (then I disabled it).   Th

[2015-12-22 16:11] error10 commented on #3781
@fardok, This issue is not related to yours. Fedora packages are built for 64-bit systems, and trying to use ZFS on a 32-bit system isn't recommended anyway.

[2015-12-22 16:26] jdavidlists commented on #4106
@behlendorf Your patch does seem pretty effective.  The one machine it's been applied to is making very efficient use of all available memory (down to 150M - 300M "free"), has not hung, and is using significantly less CPU on all fronts, especially in arc_reclaim.  Its memory usage also shows the sort of give-and-take I would expect, with ARC usage going up and down, the data/metadata ratio fluctua

[2015-12-22 17:28] dweeezil commented on #4106
@jdavidlists I think the summary from @siebenmann above pretty much tells the story.  NFS effectively performs a "first open" on every IO request and each of those requests use the relatively small per-filesystem object lock table to be used.

I think the more interesting question is why your particular workload seems to be more prone to trigger deadlocks than anyone else's (NFS workload).

[2015-12-22 17:38] behlendorf commented on #3485
Supported packages are only provided for x86_64, custom packages can be built for other Fedora architectures as described here.

http://zfsonlinux.org/generic-rpm.html

[2015-12-22 17:55] behlendorf commented on #4106
@dweeezil it really should be but the way `evict()` is implemented by the kernel it isn't.  Here's the normal call path by which `zfs_zinactive()` is reached.  What we'd like to be able to do is return -EBUSY (or similar) from `zpl_evict_inode()` and have `evict()` move on to the next inode.  But the  `.evict_inode` call back has a void return type and `evict()` unconditionally destroys the inode

[2015-12-22 18:08] dweeezil commented on #4106
@behlendorf I seem to have glossed over the ```destroy_inode()``` at the bottom of ```evict()```.

[2015-12-22 18:08] dswartz opened #4134 "It would be nice to have a 'safe mode' for zfs and zpool commands"
I really don't like that I can mistype something and vaporize datasets, and even entire pools.  I would like to propose a property defined for datasets, zvols and pools that basically says 'if this is set to ON, any destructive operation will require use of the -f flag'.  Thinking of destroying datasets, zvols and pools.  Maybe snapshots too?  This could really be a totally userland abstraction.

[2015-12-22 18:09] mbroadst opened #4135 "performance regression from 0.6.4.1 to 0.6.5.3 (iops)"
(excuse this being a very similar title to #3902, I will adjust based on feedback - this seemed a relevant title for the moment).

We run a sort of weird setup using ZFS, where we run a number of qemu/kvm guests on a zvol completely in ram (using /dev/ram0 as a block device). Traditionally this had worked quite well with 0.6.4.1, but as we maxed out the system we ran into one of the dreaded "block

[2015-12-22 18:10] kernelOfTruth commented on #4134
:+1:

[2015-12-22 18:10] behlendorf commented on #4116
@aerusso I suspect that NULL was somehow passed as the `os` argument to `dmu_objset_sync()`.   Exactly how that's possible isn't clear though.

[2015-12-22 18:17] dswartz commented on #4134
I would be happy to take a shot at this...

[2015-12-22 18:19] behlendorf commented on #4134
I think that's a totally reasonable idea which would be a great feature.  Can you flesh out a little more detail about how it should work.  Also I'd be cautious about a `-f` option which is already heavily overloaded.  It might be safer to force users to explicitly disable this 'safe mode' before allowing the operation.  Or how about a `locked=on|off` property which could be set on the dataset to

[2015-12-22 18:20] behlendorf commented on #4106
@dweeezil details, details, details.  :)

[2015-12-22 18:27] dswartz commented on #4134
Hmm, well, I am not thinking of locking the entity per-se, just making it harder to screw yourself.  Although, thinking about this more, I kinda like your idea.  If I want to blow away 'tank/vsphere', where all my VMs live, it's not unreasonable for me to have to do 'zfs set locked=off tank/vsphere' first.  So, yeah, that sounds good to me.  Was there anything else?

[2015-12-22 18:31] behlendorf commented on #4134
I think you'll want to think through exactly what commands this should apply too.

[2015-12-22 18:40] richardelling commented on #4134
-f flags are bad UI design, you just end up training people to always type -f (see also kill -9)

In general, If you don't want to destroy a dataset, don't type "destroy" :-p

NB, there are UIs that mark datasets for later destruction, giving you an opportunity to change your mind. However, the most common use case for dataset destroy is to reclaim space, so the deferred destroy is not a general s

[2015-12-22 18:44] #4129 closed

[2015-12-22 18:45] jdavidlists commented on #4106
"why your particular workload seems to be more prone to trigger deadlocks"

The "outlier" characteristics of our NFS workload are significant concurrency and an unhealthy obsession with metadata.  Over a typical 60-second sample, our NFS operations look like this:

getattr: 40.73%
lookup: 36.29%
access: 11.94%
fsstat: 4.10%
readdir: 3.76%
read: 1.36%
commit: 0.47%
setattr: 0.45%
write: 0.41%
creat

[2015-12-22 18:51] dswartz commented on #4134
On 2015-12-22 13:40, Richard Elling wrote:

Yes, thank you.  I'm familiar with the chainsaw with no safety guard :)

Fair enough, I'd forgotten about that.  That said, I don't think it's
that complex to have any commands that change anything with a pool or
dataset or zvol query that property.  The small amount of heavy lifting
can be encapsulated in one fairly small procedure.

[2015-12-22 20:45] fardok commented on #3485
One year later...  - is it possible to install zfs on Fedora with fucking dnf?

[2015-12-22 21:00] behlendorf commented on #3485
Yes, for x86_64 only.

[2015-12-22 21:03] richardelling commented on #4134
What other subcommand can you confuse with "destroy?"  Answer: none

So the problem you're trying to solve is one of naming datasets. Since there is
no enforced naming, you might try a less failure-prone convention. For example:
	mypool/dataset1, mypool/dataset11, mypool/dataset2
is more failure-prone than:
	mypool/Alice, mypool/Bob, mypool/Godzilla

Fully automated systems, when designed well, ar

[2015-12-23 00:56] behlendorf commented on #4106
I've added a [patch](https://github.com/behlendorf/zfs/commit/e243c31dd4320d9de0f8121d0cca66075c9049fe) to the #4124 patch stack which implements a possible solution.  It doesn't remove these locks, and it's a bit more complicated than I'd like, but it should entirely eliminate the possibility of a deadlock.

Pros:
* No fundamental semantic changes, these locks still serialize the same critical re

[2015-12-23 01:04] #3943 closed

[2015-12-23 01:04] #4121 closed

[2015-12-23 01:18] behlendorf commented on #3971
For CentOS / RHEL I'd suggest using the `rpm/redhat/*` spec files instead.  Because CentOS / RHEL are an entireprise distribution they provide a stable kABI which means we can rely on weak-modules support.    This allows a single build of ZFS to be used with multiple kernels of the same flavor.

As for the `rpm/generic/*` spec files they should already encode the kernel version in the package name

[2015-12-23 01:19] behlendorf commented on #3958
@alexanderhaensch is this still an issue in the version of ZFS your using?

[2015-12-23 06:38] devsk commented on #4085
Another Gentoo user here. As luck would have it, I have run into this issue as well. Darn! Backups are broken....:(

@Ninpo: What came out of this analysis? Do I need to back out to 0.6.5.3 ebuild?

[2015-12-23 06:46] devsk commented on #4085
Looks like -r1 ebuild has a large set of patches from ryao.

@ryao: is it safe to go back to 0.6.5.3 ebuild? What are all those patches for? I hope none of them are something that breaks Gentoo integration with ZoL.

[2015-12-23 10:01] neingeist commented on #4052
I have the same issue and will help to debug in the new year.

[2015-12-23 11:02] fardok commented on #3781
processor is AMD Athlon 2 x2  - he is  x64

[2015-12-23 11:17] mmehnert commented on #3943
I've been generating some xattr-specific load for the last 48 hours with concurrent snapshotting and "zfs send" activity having xattr set back to xattr=on. So far everything looks good and whileI did not do any scientific benchmarks, things actually seem to be faster now...

[2015-12-23 12:43] fikridal commented on #4052
I've the same problem; A volume does not mount/unmount after hard reboot.

http://pastebin.com/gq87hFGx
http://pastebin.com/6tSuEVvZ

Thanks.

[2015-12-23 14:33] dweeezil commented on #4106
@behlendorf While this approach seems solid, save for my concern about the locking order in ```zfs_znode_hold_enter```, it adds quite a bit of overhead (extra mutexes due to refcounts, etc.) to the, presumably common case in which the object's slot isn't locked.  I'm wondering if it would be possible to use a hybrid approach in which a mutex array is used as before for a "fast path" and the more c

[2015-12-23 14:43] kernelOfTruth commented on #3781
@fardok so why don't you make use of the 64bit support and install a 64bit Linux distribution ?

That way the kernel modules exist

you can *_try_* to use ZFSonLinux with a 32bit distribution but it's not recommended (and not really supported) and

in that case it would be best to compile the kernel modules on your own.

If you need further support please go to the IRC channel:
​#zfsonlinux freeno

[2015-12-23 15:19] Ninpo commented on #4085
@devsk I still haven't had time to rebuild the server I managed to break by trying different things so I'm still not of much help I'm afraid.

Appears from the thread though that 0.6.5.3 is the version to use and a bug report should be filed on b.g.o for these patches.

I haven't a clue if simply rolling back to 0.6.5.3 will be ok though.

[2015-12-23 19:14] behlendorf commented on #4106
@dweeezil thanks for looking this over.  I agree with your general sentiment that this is a heavy weight solution to the problem.  I would definitely prefer something more elegant and light weight, but I wanted to post this as a concrete starting point for the discussion.  Plus this is a solution for people who are hitting this problem today.

This isn't quite as bad as it looks on the surface,  W

[2015-12-23 19:30] behlendorf commented on #4052
@fikridal @neingeist can you apply the patches in #4123, they are safe and should resolve the problem.  Definitely let us know if that doesn't fix things.

[2015-12-23 19:32] behlendorf commented on #4006
@mihaivint  can you apply the patches in #4123, they are safe and should resolve the problem.  Definitely let us know if that doesn't fix things.

[2015-12-23 19:36] behlendorf commented on #3943
@mmehnert thanks for the testing!  It's great appreciated to independent confirmation of these fixes.  If it's not to inconvenient could you please test the [latest  fix](https://github.com/zfsonlinux/zfs/commit/2ebc7b72b3989ac53c1753f79eaf71d95419c103) in #4128 with your workload.  Or just use master where it's been applied.  It's a cleaner more generic fix and you _might_ see improved performanc

[2015-12-23 19:46] behlendorf commented on #3900
@DarthAndroid thanks for following up.  I've added #3906 to patches for the next point release.

[2015-12-23 19:46] #3900 closed

[2015-12-23 19:46] behlendorf commented on #3899
@DarthAndroid thanks for following up.  I've added #3906 to patches for the next point release.

[2015-12-23 19:46] #3899 closed

[2015-12-23 19:51] behlendorf commented on #3941
This is fixed in master by commit f22f900f15c28ebd8b8b764ee6229a7069c74a13.  It can be safely cherry-picked back to your version if needed to resolve the issue.  Sorry about that.

[2015-12-23 19:51] #3941 closed

[2015-12-23 19:57] RichardSharpe opened #4136 "When a ZFS File system is set to CASE INSENSITIVE we should be calling d_add_ci on the dentry"
Hi folks,

We just ran into an issue that caused a rename deadlock in Linux.

Kernel 3.10.0, but the same will happen, I believe with the latest kernel.

We use the  casesensitivity=insensitive attribute.

Because ZoL does not call d_add_ci with the canonical case  (at least, I cannot find any such calls) Linux ends up with two dentries pointing to the same inode if you present two paths with diff

[2015-12-23 20:17] kernelOfTruth opened #4139 "[incomplete] November | 11/2015; List of Upstream Illumos changes"
placeholder

[2015-12-23 20:17] kernelOfTruth opened #4140 "[incomplete] December | 12/2015; List of Upstream Illumos changes"
placeholder

[2015-12-23 20:20] kernelOfTruth opened #4141 "[OpenZFS] Illumos 6434 - sa_find_sizes() may compute wrong SA header size"
This issue might need attention and a decision (update with upstream or leaving as-is):

https://www.illumos.org/issues/6434 sa_find_sizes() may compute wrong SA header size

https://github.com/illumos/illumos-gate/commit/3502ed6e7cb3f3d2e781960ab8fe465fdc884834

(see: https://github.com/zfsonlinux/zfs/issues/1890 ; https://github.com/zfsonlinux/zfs/commit/472e7c60853af099fbdf9d52162fd39818884f4f

[2015-12-23 20:22] dweeezil commented on #4106
@behlendorf I agree that we need a solution for the time being and this isn't terribly disruptive to the code base.  I suppose, too, that I might be overreacting a bit to the overhead added by this given how much work the typical code paths are already doing.  That said, some benchmarks are likely in order. This would seem to affect NFS the most due to all the zpl_fh_to_dentry calls.  Unfortunatel

[2015-12-23 20:36] mihaivint commented on #4006
Unfortunatelly i don't have that drive to test this, so i can't provide additional info.

[2015-12-23 20:40] behlendorf commented on #4136
@RichardSharpe nice analysis.  It looks like the fix your proposing can be made entirely in the Linux specific `zpl_lookup()` function.  You can check how the filesystem is mounted by consulting `zsb->z_case` and because it's set once at mount time you know it can't change unless the filesystem is remounted.  Then as you suggest you just need to use `d_add_ci()` to add a case-exact name.

It would

[2015-12-23 20:41] behlendorf commented on #4141
This change is large based on a patch from ZoL and FreeBSD which we pushed upstream after a little more cleanup.  We definitely want to update ZoL to bring us back in sync with upstream.

[2015-12-23 20:50] RichardSharpe commented on #4136
@behlendorf

I will work something up over the next few days.

[2015-12-23 21:05] neingeist commented on #4052
I will after January 4th, as I'm out of town currently.

On December 23, 2015 8:30:58 PM GMT+01:00, Brian Behlendorf <notifications@github.com> wrote:

--
Sent from my Android phone with K-9 Mail. Please excuse my brevity.

[2015-12-23 21:59] fikridal commented on #4052
@behlendorf  my steps are true for patching?

cd /usr/src/zfs-0.6.5.3/module/zfs/
mv zap.c zapc_bck
wget https://raw.githubusercontent.com/zfsonlinux/zfs/16f7d95ffc686c769d8b030b918b0b674125855a/module/zfs/zap.c
mv zfs_dir.c zfs_dir.c_bck
wget https://raw.githubusercontent.com/tuxoko/zfs/da8264a80ad1463d0a27ab2a34cefe721fbd5e77/module/zfs/zfs_dir.c

dkms remove -m zfs -v 0.6.5.3 --all
dkms add -m

[2015-12-23 23:01] mailinglists35 commented on #3950
i'm getting this too on a simple two-way mirror

I was running 0.6.4-something from official repo on debian jessie until the upgrading process broke (https://github.com/zfsonlinux/pkg-zfs/issues/184, https://github.com/zfsonlinux/zfs/issues/3807) so I manually built the debs as instructed on main zol webpage.

if someone manages to prebuild all those debs mentioned by @behlendorf for debian jessie

[2015-12-24 04:38] OverLocker commented on #3950
Speed is slow on 0.6.5.3 when copy from network. It is about 50-60MB/s. On early versions it was 100-112MB/s.
I am hoping it will be fixed somewhere....

[2015-12-24 09:30] fikridal commented on #4052
Hello again,
Theese fixs are ok, my problem solved after 12 hours..
Thanks.. :)

[2015-12-24 17:11] jdavidlists commented on #4106
With a local branch tracking zfs-0.6.5-release plus the patches from behlendorf/zfs/issue-4106, the default for zfs_object_mutex_size has dropped from 256 to 64 (vs. override to 4096 in our environment).

Just to confirm my limited understanding: since the second patch is a fix, the workaround (raising the new variable to 4096) should no longer be necessary?

Right now, we have a machine running w

[2015-12-24 18:06] behlendorf commented on #4106
Right.  With both patches applied you can safely use the default value which has been decreased to 64.  It would be great if you could run with that value since your normal workload seems to give the code a real workout.  If for some reason you do encounter a performance problem you can increase  it.   Thanks again for verifying the fix.

[2015-12-24 18:10] RichardSharpe commented on #4136
Simple test case:

1. Create an fs with casesensitivity=insensitive
2. mkdir /mnt-point/test
3. touch /mnt-point/test/test.txt
4. mv /mnt-point/test/test.txt /mnt-point/Test/test1.txt

Hung and deadlocked at this point.

[2015-12-24 18:50] RichardSharpe commented on #4136
Here is a first attempt at this. It is untested (although it compiles), and I have at least one reservation:

[code]

My reservation is that we are adding a kmem_alloc and kmem_free in the lookup path.

It would have been nicer if zfs_lookup could return a pointer to the actual name, since we are not going to touch the name.

I will try to test this later today.

[2015-12-24 20:55] devsk commented on #4085
@behlendorf : are you familiar with "/dev/zfs API developed by ClusterHQ"? Is there a plan to merge these into ZoL upstream?

Its a fairly large patch and I am surprised that ryao pushed this to ~amd64. This patch should be cooked here first and then released in the wild.

Basic thing like 'zfs send|recv' should never break in a ZFS setup and that's exactly what happened with -r1....:(

[2015-12-25 00:00] mailinglists35 commented on #3077
cpu stays at max frequency:
    Every 2.0s: grep -i hz /proc/cpuinfo                                   Fri Dec 25 01:58:29 2015

    model name      : Intel(R) Xeon(R) CPU            3060  @ 2.40GHz
    cpu MHz         : 2400.136
    model name      : Intel(R) Xeon(R) CPU            3060  @ 2.40GHz
    cpu MHz         : 2400.136

How do I check for throttling?

[2015-12-25 03:56] devsk commented on #4085
I am back on 0.6.5.3 and all is well.

[2015-12-25 06:01] joruffin commented on #4052
This patch also immediately fixed my problem.

[2015-12-25 07:53] nwf commented on #4134
Well, to pitch in $.02, I am always terrified of needing to use "zfs destroy foo/bar@baz" to nuke snapshots, and consider the overloading of "destroy" here to be a little on the hazardous side of things.  I'd much rather an "unsnapshot" command or something that errored if it was given a name without @.

[2015-12-25 14:38] priyadarshan commented on #3990
I am experiencing the exact same symptoms.
I have a 12TB pool, created on FreeBSD 10.2. I scrubbed it, with no issues.
I wanted to use Linux, so:

1. I have installed Ubuntu 15.10, with latest stable ZOL from ppa, on a second boot drive
2. Imported the pool
3. Move some data to it
4. Scrubbed it again. `zpool status` reports unrecoverable drive. Also, the boot filesystem (ext4) suddendly becomes r

[2015-12-25 18:52] RichardSharpe commented on #4136
With a small change (MAXNAMELEN rather than ZFS_MAXNAMELEN) seems to work.

By work I mean:

1. No OOPSes.
2. Lookup still works (ls works etc)
3. The rename test case no longer deadlocks.

More testing required.

[2015-12-26 22:09] CRWdog193 opened #4144 "ZFS attach fails for disk referenced by-id"
Arch Linux with zfs-git 0.6.5.3_r0_g9aaf60b_4.2.5_1-1 (archzfs-git).

Migrating to new disks. Trying to convert (temporary!) single-disk vdevs to mirrors, I noted:

[root] # zpool attach -f data ata-ST2000LM003_HN-M201RAD_S377J9AGA05161 ata-ST2000LM003_HN-M201RAD_S377J9AGA05162
cannot attach ata-ST2000LM003_HN-M201RAD_S377J9AGA05162 to ata-ST2000LM003_HN-M201RAD_S377J9AGA05161: no such pool or dat

[2015-12-27 15:55] jdavidlists commented on #4106
Unfortunately, it seems like this may not be quite fixed yet.  The machine running with these patches + default zfs_object_mutex_size had a nasty hang this morning during a zfs send, exactly as before.

There was plenty of free RAM at the time (about 8G out of 20G total), but the ARC metadata was quite a bit over the limit:

c                               4    10528331776
c_min