[2015-02-18 20:23] jflandry commented on #3114
@prakashsurya Some additional info: I've replaced the cache device on two of the four servers with a full disk SSD and so far everything is behaving normally. I'll keep monitoring for changes.

[code]

[code]

[2015-02-18 22:05] thegreatgazoo commented on #2034
We don't have the system any longer, but we hit it twice in about three weeks. Next time I'll try to gather more data.

It looked like the meta dnode in the MOS on which _dnode_special_close()_ was waiting.

[2015-02-18 23:36] nevion commented on #3107
Small updates:

I've been cruising the ML and issue trackers and have spotted some similiar things but really nothing figuring out what causes these problems - they're just worked around (while being a little more managable), given up on, or replacing the device / rebooting seems to work.

Since then I've installed debug builds from git sources and here's some output of
 zpool import -f -F -n -d /

[2015-02-19 06:50] kiranfractal opened #3118 "zfs is not pointing to latest commit"
I installed zfs by enabling zfs-testing in the zfs.repo file.

It is not pointing to the current master commit.

[root@li349-79 ~]# modinfo zfs
filename:       /lib/modules/2.6.32-504.1.3.el6.x86_64/extra/zfs.ko
version:        0.6.3-202_g33b4de5
license:        CDDL
author:         OpenZFS on Linux
description:    ZFS
srcversion:     C9D2FB9AD6E010CB2F6B3DE
depends:        spl,znvpair,zcommon,zun

[2015-02-19 06:53] kiranfractal commented on #3051
I removed the spl and zfs and its dependent packages and reinstalled zfs using "yum install zfs" it installed without any error.

[2015-02-19 06:53] #3051 closed

[2015-02-19 07:13] kiranfractal opened #3119 "zfs tracepoints are not enabled"
Hi,

I installed zfs by enabling zfs-testing in the zfs.repo file and I tried to check if zfs tracepoints are enabled but it is not.

Let me know what should I do.

[root@li349-79 events]# ls
block   ext4    header_event  irq          jbd2  mce     napi  power  sched  signal  sock      timer  workqueue
enable  ftrace  header_page   irq_vectors  kmem  module  net   ras    scsi   skb     syscalls  u

[2015-02-19 07:16] kiranfractal commented on #3119
[root@li349-79 debug]# find /sys -name zfs
/sys/devices/virtual/misc/zfs
/sys/class/misc/zfs
/sys/module/spl/holders/zfs
/sys/module/zunicode/holders/zfs
/sys/module/zavl/holders/zfs
/sys/module/znvpair/holders/zfs
/sys/module/zcommon/holders/zfs
/sys/module/zfs

[2015-02-19 11:49] Pentium100MHz commented on #3011
OK, the server froze again. The zpool was resilvering for the past day or so (replacing two hard drives)

iotop shows 99% IO being used by "[flush-230:0]"

"zpool status" hangs (D state)
iostat -x 5:
[code]
cat /proc/29432/stack (zpool status command)
[code]

From syslog:
[code]
The messages repeat

[2015-02-19 16:37] lintonv commented on #1161
I did not mean to hijack this thread. I apologize. As my issue is on the ZFS send side and not on the zfs recv side, I will stop here.

Just FYI, I did some improvements by using a larger record size (I was using 4K) and turning primarycache to 'all'. But still nothing significant.

[2015-02-19 16:51] olw2005 commented on #1161
@lintonv  On that note, I was going to mention in my last post but forgot.  You should redirect the performance questions to the zfs discussion list (see the zfsonlinux.org website).  You’ll get more advice there.  (In fact, if you search it you’ll probably find the question of zfs send/recv performance has come up before.  Repeatedly.)

As for block size, this may be out-of-date but at the time w

[2015-02-19 17:10] behlendorf commented on #3118
@kiranfractal thanks, we'll get the packages updated.

[2015-02-19 17:18] behlendorf commented on #3119
@kiranfractal Unfortunately, there are a few caveats which prevent tracepoints from being enabled by default:

* Linux tracepoints appear to only be available to GPL licensed modules due to the way certain kernel functions are exported.   Thus, to actually make use of the tracepoints introduced by this patch, one might have to patch and re-compile the kernel; exporting the necessary functions to n

[2015-02-19 17:18] #3119 closed

[2015-02-19 17:56] nwf commented on #3113
Sigh.  Things never go smoothly.  Anyway, here's the backtrace of the assert:

[code]

In frame 5, the `arc_read_done` call,
[code]
Dumping 48 bytes at that buffer,
[code]
which looks completely smashed.  The magic is wrong, for example.  Could this be a double-allocation problem related to some spacemap issue?

[2015-02-19 18:21] kpande opened #3120 "[RFC] migration of ZoL mailing lists"
@behlendorf , we've reached the limits with Google Groups once more and a few of us were discussing on IRC a possible migration from Google Apps to another service.

Since I've got a few servers available with lots of space, bandwidth and a company policy that loves to give resources for ZFS development, I was offering one.

* The server is in Canada
* 100mbit throughput, 5TB monthly bandwidth
* ~

[2015-02-19 19:27] yarikoptic opened #3121 "Please include to-be-released jessie (Debian 8) to buildbots farm"
jessie is on the way to be released soon and not that many changes are pushed in usually.  It would be nice to be sure that ZFS is working reliably on it (I am trying to use it on jessie with some success)

BTW -- how do you link buildbot reports to PRs reports?  at some point a while back I was looking for a solution but didn't find.

[2015-02-19 19:42] dasjoe commented on #3120
What about setting up a [discourse](http://www.discourse.org/) to replace the old mailing list?

It can be used by email just like a ML, if I'm not mistaken:
![email](https://meta-discourse.global.ssl.fastly.net/uploads/default/_optimized/a5e/f2c/cadd5612a4_690x187.PNG)

That way we'd have a usable web interface, too.

* [Install instructions](https://github.com/discourse/discourse/blob/master/doc

[2015-02-19 20:00] FransUrbo commented on #2583
They (<code>spl-dkms</code> and <code>zfs-dkms</code>) both depends on <code>dkms</code> which depends on the relevant parts:

[code]

[2015-02-19 20:02] FransUrbo commented on #3047
Ok, then we're back to me having no clue :(

[2015-02-19 20:24] snajpa commented on #3120
vpsFree.cz (https://vpsfree.cz, nonprofit org, we're heavy ZFS users) would be happy to provide virtual servers for ZoL. They are OpenVZ containers, 4G RAM, 60G disk, IP4/6 on a gig uplink, with daily incremental backup.
The only gotcha here is that somebody from the community would need to manage the server(s), as we as a non-profit don't have enough resources (manhours) to take care of that.

[2015-02-19 22:54] dennisbirkholz commented on #2583
@FransUrbo that is odd, I had to pull in build-essentials myself. Also linux-headers seems not to be optional, it is required to build the modules. I will try to reproduce that (will take some days). Maybe dkms has missing dependencies.

[2015-02-19 23:55] Curley-Joe opened #3123 "com.delphix:hole_birth and com.delphix:embedded_data features not supported"
After trying several CentOS 6 kernels and different versions of ZFS (stable, testing, git master), and running "zpool upgrade", I find myself with this problem:

status: The pool uses the following feature(s) not supported on this sytem:
	com.delphix:hole_birth
	com.delphix:embedded_data

Now I can't seem to find any version of ZFS that supports these features.  They seem to exist in the "master"

[2015-02-19 23:58] Curley-Joe commented on #3123
Yeah, I did something stupid.  The old ZFS module was still loaded.  "modprobe -r zfs" and "modprobe zfs" fixed the problem.

[2015-02-19 23:58] #3123 closed

[2015-02-20 00:01] behlendorf commented on #3113
It definitely looks trashed, but I don't see how this could have been caused by a spacemap issue.  At this point in the IO pipeline the checksum on the block should have already been verified.  If it was trashed on disk due to an incorrect spacemap the checksum would be bad.  It looks like it was somehow damaged in core and then written with a good checksum.

[2015-02-20 00:38] kpande commented on #3094
I've run all the zdb checks on all of our iSCSI hosts (12+ different servers)  and I don't see this issue. All hosts are plain jane ZFS from just before the kmem rework. I have never used #2129 or other spacemap PRs.

[2015-02-20 01:12] nwf commented on #3113
Even more exciting, that.  Anything else I can provide to be useful?

[2015-02-20 02:34] behlendorf commented on #3121
Good idea, I'll get it installed when I get a chance.

Github provides a simple [status API](https://developer.github.com/v3/repos/statuses/) which can be used to post results.  We've just updated our builtbot infrastructure to post pass/fail along with a link to the detailed buildbot results.

[2015-02-20 02:38] yarikoptic commented on #3121
Thanks in advance for jessie!

buildbot infrastructure -- anything anywhere public to sneak up the recipe? then I would improve ours ;) -- https://github.com/nipy/nibotmi

[2015-02-20 04:08] behlendorf commented on #3120
I'm all for abandoning Google groups.  Early on it was a nice easy way to manage the mailing list but we've clearly out grown it.  Moving to a dedicated server running mailman would definitely be a step in the right direction.

@dasjoe I don't know much about discourse but I'm a little wary.  Using a service like that is how we ended up getting stuck in Google Groups originally.  I'd hate to end u

[2015-02-20 04:18] behlendorf commented on #3113
@nwf it would be interesting to intentionally damage this block on disk so the checksum __is__ wrong.  That would force ZFS to fetch an alternate copy if there's one available in the block pointer.  Can you dump the block pointer with gdb it's stored as `zio->io_bp`.  You can then use `zdb -R ...` to read the blocks it references from disk and see how many copies there are and if either are good.

[2015-02-20 04:25] behlendorf commented on #3121
Sorry not yet, but I agree it would be nice to make all of our buildbot glue available.

[2015-02-20 05:48] tomposmiko commented on #3120
In my opinion the best place for a list would be kernel.org. Why don't we use that?

[2015-02-20 06:03] GregorKopka commented on #2995
After a similar issue on the mailing list (https://groups.google.com/a/zfsonlinux.org/d/msg/zfs-discuss/eeQQA3sb2cI/j7GVt6qDroMJ) my suspicion grows that mountall is sorting the datasets by `name` instead of `mountpoint` (inherited or specified) to obtain the order in which to mount.

[2015-02-20 06:12] thegreatgazoo commented on #3015
If I haven't missed something, I don't think zfs_receive_corrupt_data is needed. The 1st discussion was actually started by a customer of ours who I helped to recover their corrupted pool by using zfs_send_corrupt_data.

When zfs_send_corrupt_data is enabled, the sender just replaces corrupted data with a well-known pattern, and at the receive end the send stream would look perfectly good. There's

[2015-02-20 08:34] tomposmiko commented on #3087
Eventually I could insert one more drive:

[code]

The resilvering speed is still slow.
But I found one more interesting thing:

replacing-10                                    **UNAVAIL**

While:

replacing-8                                     **DEGRADED**

One more note, the system is completely idle, doing nothing.

[2015-02-20 15:11] kpande commented on #3120
I'm with Tom if we can get the ML set up using LKML, but seeing how there's disagreements with licensing that may not be the most appropriate place for ZFS discussions. After all, ZFS has to stay far away from Linus' kernel.

@behlendorf  I can do all the mailman configuration, I will just need the subscriber list.

[2015-02-20 15:12] kpande commented on #3120
Once it's up and available I won't ever pull the plug without giving 3 months' notice for migration efforts to another server - and mailman should be infinitely easier to move than Google Groups :+1:

[2015-02-20 15:17] lintonv commented on #2746
@behlendorf

Just wanted to update you on some results from further testing and debug this week.

We were using a record size of 4K on the ZFS Filesystems were using for send/receive. By increasing this to 128K, we saw the send speed increase from 11 MB/sec to 38 MB/sec.

Could you let me know what other parameter I am using below could affect the speeds we are seeing. We should be at least gettin

[2015-02-20 15:34] dajhorn commented on #2995
People getting something like this should open a new ticket and go through the usual troubleshooting motions, particularly by reporting logs and software versions.

Several distinct things are happening in this family of bug reports:

1. A kernel regression in Trusty seems to be affecting a few installations.  (This bug is not yet diagnosed, but it is easily kludged by running a different kernel b

[2015-02-20 16:26] kpande commented on #3106
I've created a PHP script that generates a list of revisions and walks through it one by one (backwards) to build and benchmark each one with compression=lz4, off, gzip, lzjb

Here's some preliminary results - I do see the LZ4 vs OFF difference, and nearly identical numbers to yours though I don't believe the system I'm testing is meant for HPC:

Intel(R) Core(TM) i7-3820 CPU @ 3.60GHz
32GB DDR3,

[2015-02-20 16:30] yarikoptic commented on #3121
would you be so kind to share at least bits of that recipe "manually"? ;)  e.g. to debian@onerussian.com

[2015-02-20 17:00] devsk commented on #3050
Sorry for being a pest, but any updates on this bug? I thought the problem was well understood and a partial fix had already seen one round of review.

[2015-02-20 17:19] kpande commented on #3106
Sorry - I just noticed I was not sorting the results by time so the commit testing was all out of order. Here's the reprocessed version listing oldest commits on top, newest at bottom:

LZ4 http://paste.debian.net/153195/
OFF http://paste.debian.net/153230/

[2015-02-20 17:34] siebenmann commented on #3050
For what it's worth, I haven't experienced another lockup with ZoL git tip since manually patching in @ryao 's change above.

[2015-02-20 17:47] vanbcguy commented on #2995
I can add a few details...

I don't believe this is kernel related, I had nested mounts working find with the Trusty kernel under Ubuntu 12.04, but after upgrading to 14.04 using the same kernel version I started experiencing problems.  So a consistent kernel version, which should help eliminate point 1 at least in my case.

I even went so far as to do a 'zpool import -N' in recovery mode and conf

[2015-02-20 17:47] ryao commented on #3050
@devsk, @behlendorf, @siebenmann Sorry for the delay. I have been busy with stuff at work and some private non-work related matters. This is on my to do list for the weekend.

[2015-02-20 18:00] kpande commented on #3088
closing this as the issue has not resurfaced - blaming it on a full pool.

[2015-02-20 18:00] #3088 closed

[2015-02-20 18:42] behlendorf commented on #3106
@kpande if you haven't already done so you may want to jump back to stock 0.6.3 to get a baseline.  Just to verify the test on your system will reproduce any regression.  I'm also a bit surprised and the variably of the read rates when compression is disabled, any idea what's going on there?

[2015-02-20 19:02] kpande commented on #3106
I hoped I could get some answers on that one, myself, because it doesn't have any reason that I can see.

The box is 100% idle, I've disabled any periodic monitoring to ensure it's not seeing any health requests (which would run some ZFS commands).. iSCSI is off. Only this test is running.

I did a test on mdraid and noticed it is constantly at 13GB/s read speed.

[2015-02-20 19:05] kpande commented on #3106
The reason I made sure the benchmarks are running 5 times each was because of the initial variation I observed during compression=off testing. I'm also curious why the writes are halved or more.

[2015-02-20 20:33] prakashsurya commented on #3120
@kpande If it's set up on a ZFS dataset, that'd make it easy to use send/recv for backups! :)

[2015-02-20 20:51] lintonv commented on #2746
@behlendorf Just FYI, we are using 8 SSDs in a RAID-Z1 setup

[2015-02-20 21:03] Lalufu opened #3125 "Move to ZFS volume creates correctly sized file filled with \0"
Test case:

[code]

This seems to only happen on a single dataset so far.
Tracing through mv with gdb suggests this is somehow timing related, as stepping through
seems to prevent the effect from happening.

[code]

[2015-02-20 21:15] Lalufu commented on #3125
Note: source and destination are not on the same filesystem, so an actual copy/unlink takes place.

[2015-02-20 21:33] kpande commented on #3106
Is it even possible to run 0.6.3 on 3.17.7 ?

[2015-02-20 21:35] kpande commented on #3120
I'm planning on setting this up on Sunday

[2015-02-20 23:41] setharnold commented on #3107
`zpool import -d /dev/disks/by-id/ poolname` would have been the far easier solution to the original problem. Fixing the new problem is beyond me, though...

[2015-02-21 00:03] nevion commented on #3107
Yes,  I tried that numerous times before this got all crazy - back when I first found the dev paths changing on upgrade to 3.16.  I exported the pool and imported it again with that command It didn't work at the time.  Eventually I started replacing the drives one at a time which as I said wasn't too problematic till this instance.

[2015-02-21 01:10] thegreatgazoo commented on #2034
I just found an easy reproducer:
[code]

I reproduced the hang on just the 2nd time running the script. I was going to add an infinite loop around the commands, but ended up reproducing it so easily. It looked like there's some race/deadlock between the final two commands: the _zfs list_ command must somehow hold a ref on the dnode (before blocking on the name space lock) that _zpool export_ was t

[2015-02-21 01:14] behlendorf commented on #3120
Using the vger.kernel.org lists would be nice but I don't think it's appropriate.  Those lists are focused on developer issues and I think it's fair to say the ZoL ML are more user centric.

@kpande drop me an email at behlendorf1@llnl.gov and I'll send you the subscriber list.

[2015-02-21 01:15] behlendorf commented on #3106
0.6.3-1.2 includes build fixes for newer kernels.

[2015-02-21 07:29] bala-v commented on #2732
Hello, I am getting this same error on Amazon linux after configure, make and make install were successful:-

$ zpool status
Failed to load ZFS module stack.
Load the module manually by running 'insmod <location>/zfs.ko' as root.

$ rpm -qa |grep kernel
kernel-3.14.33-26.47.amzn1.x86_64
kernel-3.14.27-25.47.amzn1.x86_64
kernel-tools-3.14.33-26.47.amzn1.x86_64
kernel-headers-3.14.33-26.47.amzn1.x86

[2015-02-21 19:34] DeHackEd commented on #2546
Just for future reference, this also works:
<pre>
# zpool create testpool /dev/sdb -d -O compress=lz4
[error]
# zpool create testpool /dev/sdb -d -O compress=lz4 -o feature@lz4_compres=enabled
[success]
</pre>

So you can enable exact features at pool creation time even if there are potential conflicts as indicated.

[2015-02-22 10:13] nwf commented on #3113
FYI, before I go and mutate anything, here's a little more of the buffer that's
in question.  It looks like a header followed by an array of 8-byte pointers
with some bit-stuffed flags, always in pairs and almost always in quads, or
something...  I don't claim to understand, but maybe this kind of structure is
used somewhere in ZoL?

It doesn't look (to my mind) like somebody overran a buffer, bec

[2015-02-22 16:36] mihu commented on #3092
@behlendorf I've got similar situation. Reading the code of libblkid it seems that current implementation only inspects first two labels and tries to found four uberblocks. In my case this fails, because I have one uberblock per label (it's a newly added cache device). I've tried to fix it (at least for me). Here is the version of code, which works for me https://gist.github.com/mihu/c144687d718d7

[2015-02-22 21:29] nwf opened #3126 "ztest does not take kindly to being installed in /usr/local"
It segfaults at cmd/ztest/ztest.c:5396, trying to construct the correct invocation for "zdb".  Even symlinking it into /sbin isn't sufficient because it calls realpath() to see through such things.  Perhaps using an environment variable to indicate the path to zdb, overriding this attempted search, is the right answer?

[2015-02-22 23:55] naisanza commented on #2732
I'm having the same problem after building from source on CentOS 7

[2015-02-23 00:31] kpande opened #3127 "Crash with SCST + ZFS + IOmeter"
Some people here say "SCST brings out the worst in ZFS" but I am wondering if it is poorly written or simply using some kind of functionality that IET does not use.

I started testing SCST because it is hailed as a mythical beast in the Linux iSCSI world, supporting features the more basic IET or even COMSTAR don't - one of these claims includes 'higher performance'.

I began testing using my regu

[2015-02-23 02:46] fajarnugraha commented on #3127
Some more info would be nice
- which versions used (e.g. zol 0.6.3 or head? scst 3.0.0 or trunk?). If you're not using head/trunk, does the same thing happen when you use them?
- what happens when you use LVM disk backend, do you see similar results?
- what is your config file for scst? Do you use vdisk_fileio or vdisk_blockio?

Those above should help pinpoint the source of the problem. If you're

[2015-02-23 02:57] fajarnugraha commented on #3125
Works for me. Is this some old zol version, perhaps?

<pre>
$ dpkg -l zfs-dkms spl-dkms
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name                                 Version                 Architecture            Description
+++-===========================

[2015-02-23 03:55] kpande commented on #3127
The performance suffers with LVM backend but doesn't result in the ultimate hang and crash which leads me to believe there are bugs in ZFS that are exposed by SCST.

There's bugs in SCST itself because the performance is a bust even without ZFS involved..

I've tested on the latest 200 revisions from 0.6.3-159 til -220. This issue is present in all revisions. I've seen other issues reported about

[2015-02-23 04:55] fajarnugraha commented on #3127
Yep, vdisk_blockio is the one to use for zvol, which rules-out cache-related problems. For scst-related slowdown with LVM (which should affect zol as well), you should file a bug on their list/tracker.

As for ZOL side, if I'm reading #3062 and #3050 correctly, the issue is a know one, and a fix is currently in testing. Can you try manually applying ryao/zfs@916e29a and see if the crash still happ

[2015-02-23 05:12] kpande commented on #3127
Sorry, I should have been more clear about what it means to have tested revisions 159 to 220 - the kmem rework was introduced somewhere arond 175 and this crash occurred with my pre-kmem code.

[2015-02-23 08:34] fajarnugraha commented on #3127
I'm trying to reproduce your results on VM environment, but unable to do so. One thing strikes me as odd though. You say "IET clearly pushes 3k IOPS" and that you use "4x2TB WD Black box". What is the capability of the disks, and how did you set it up (e.g. raidz, stripe, mirror)?

Even 15k rpm disks should only be able to handle around 200 random IOPS, making 4 disks in stripe capable of at most

[2015-02-23 15:15] kpande commented on #3127
I'm using mirrored pairs - 2-way mirrors, in a 'stripe'. I wouldn't expect a VM environment could do this...

My test is running over 1Gbe so it's limited to that, I get better results (up to 10,000IOPS) when using local non-network testing. I use compression=lz4 and my read speeds are throttled (see #3106) @ 1.5GB/s and writes are 300MB/s but with compression=off I can see 3GB/s and 100MB/s write

[2015-02-23 17:09] gcs-github commented on #3019
@ivecera I'm trying to apply your patch against my installations, but I'm confused about line 5, containing the original file's line numbers: the `dsl_scan_sync(dsl_pool_t *dp, dmu_tx_t *tx)` portion seems to be some weird kind of artefact, unless my patch reading is failing me.

Is your comment containing the entire patch (4 additions, 3 deletions) and we can thus ignore that artefact or is there

[2015-02-23 17:33] colorprint opened #3128 "4.0-rc1 kernel issue"
CC [M]  /var/lib/dkms/zfs/0.6.3/build/module/zfs/../../module/zfs/arc.o
In file included from /var/lib/dkms/zfs/0.6.3/build/include/sys/zpl.h:35:0,
                 from /var/lib/dkms/zfs/0.6.3/build/module/zfs/../../module/zfs/arc.c:142:
/var/lib/dkms/zfs/0.6.3/build/include/linux/vfs_compat.h:77:1: error: conflicting types for 'bdi_setup_and_register'
 bdi_setup_and_register(
 ^
In file included

[2015-02-23 17:35] C00lHandLuke commented on #3019
WARNING:  Following the patch,  my pool metadata corrupted.
https://groups.google.com/a/zfsonlinux.org/forum/m/#!topic/zfs-discuss/LuxsAqaK6AM

[2015-02-23 17:57] gcs-github commented on #3019
@C00lHandLuke Are you sure that your problem is related to the above patch? The discussion you linked to seems to refer to a problem which first occured on the 28th of January 2014, while the patch we're discussing now is only 7 days old (23rd of February 2015)

[2015-02-23 19:29] C00lHandLuke commented on #3019
My pool has only had the isdue asdociated to this thread on github until I applied the patch.  Theregore, the patch definitely caused the issue for my pool.

Since OmniOS us able to mount the volumes without any error,  that thread seemed like the most appropriate one to leverage.

In fact,  I successfully deleted the clones and snapshots in OmniOS.   A scrub also completed in OmniOS without any e

[2015-02-23 19:44] Lalufu commented on #3125
This happens only on one of the datasets on this pool, others are fine. On this single one it's reproducible, though.

Versions (forgot about those):
SPL: Loaded module v0.6.3-1.2
ZFS: Loaded module v0.6.3-1.2, ZFS pool version 5000, ZFS filesystem version 5
3.18.7-200.fc21.x86_64

[2015-02-23 19:48] FransUrbo commented on #3128
A well known fact - the released 0.6.3 version doesn't compile on kernel 3.17+.

You'd need the 0.6.3-1.2 version. Wherever that can be found, just saw that it's not on http://zfsonlinux.org!

[2015-02-23 19:50] colorprint commented on #3128
I am using the latest git version - it works fine with kernel 3.19 but gives error above vith 4.0-rc1

[2015-02-23 21:40] palica opened #3129 "zfs 0.6.3 locks on importing a pool"
Hi,

when trying to import a pool the zpool import command hangs with this bug in dmesg.
gentoo kernel 3.16.2-3
RAM 8 GB
CPU INTEL Core 2 Quad Q9300

#zpool import
   pool: storage
     id: 610138227588183309
  state: ONLINE
 action: The pool can be imported using its name or numeric identifier.
 config:

        storage     ONLINE
          mirror-0  ONLINE
            sde1    ONLINE

[2015-02-24 02:03] seanjensengrey commented on #2125
@behlendorf @ioquatix Not sure if this should be reopened but I just saw very similar behavior on

[code]

While doing a `du -sch .` on a 1.7TB file system during a scrub.

![lots of red in htop](https://cloud.githubusercontent.com/assets/128454/6341919/71702c02-bb85-11e4-9720-c6ccb67845b8.png)

[code]

[2015-02-24 09:28] ivecera commented on #3019
@gcs-github the portion you mentioned is informational only and is generated if you use `diff` command with `-p` switch or `git format-patch` command to generate a patch. Commands `patch` or `git apply` accept this without any problem.

@C00lHandLuke I have not any idea how can the patch cause a metadata corruption. It just fixes a misuse of the `spa_feature_decr` function that is called with inco

[2015-02-24 09:39] gcs-github commented on #3019
@ivecera Thank you for the clarification (and also for coming up with the patch in the first place)! `patch` had actually rejected my first attempts to apply it but stopped complaining when I removed the bit of text I mentioned earlier. I'll be running some of my pools with your patch applied from now on. Will update this issue if I encounter any problems. :smile:

[2015-02-24 19:40] #2985 closed

[2015-02-24 21:45] stevenburgess commented on #3104
I was able to reproduce this same behavior on FreeBSD, so this may be an upstream problem. I am seeing that while the freeze is occurring, no new TXGs are created, so that explains why things like zfs snapshot and zfs recv freeze. Here is the last TXG that was active for the destroy:

txg      birth            state ndirty       nread        nwritten     reads    writes   otime        qtime

[2015-02-24 22:22] behlendorf commented on #3092
@mihu this looks pretty reasonable to me.  It assumes the smallest uberblock size and verifies it can locate at least 4 of them in the labels.  It would be great if you could push this upstream to util-linux.

[2015-02-24 22:32] behlendorf commented on #3126
Yeah, this chunk of code has always been pretty horrible.  I think it's completely reasonable that callers need to have the path to `zdb` in their PATH environment.  We could update the code to honor an environment variable to override the search as you suggested.

[2015-02-24 22:33] behlendorf commented on #2732
Make sure the kernel devel headers match the running kernel.  Additional debugging why why the modules can't be loaded can be found in `dmesg`.

[2015-02-24 22:40] behlendorf commented on #3125
@Lalufu that's very troubling.  Is the problem with the new file persistent?  That is if you export/import the pool does the empty file now have good contents or is it still empty.  Can you reliably reproduce this for that dataset?

[2015-02-24 23:16] gilgamezh commented on #2732
The problem is that you are installing a different version of kernel-dev.

I solved it with a `yum upgrade`

[2015-02-24 23:16] behlendorf commented on #3128
This appears to have been broken by torvalds/linux@b4caecd48005fbed3949dde6c1cb233142fd69e9 which modified the `bdi_setup_and_register()` function.

[2015-02-24 23:25] behlendorf commented on #3129
This is a duplicate of #2946 which includes a proposed patch.

[2015-02-24 23:25] #3129 closed

[2015-02-24 23:26] behlendorf commented on #2946
@ivecera Thanks for getting to the bottom of this, @ryao since this is Gentoo specific could you comment on it.

[2015-02-24 23:36] behlendorf commented on #3104
@stevenburgess I mean to comment on this earlier but it slipped my mind.   I haven't confirmed this with the source but I strongly suspect what happening here is that the recursive destroy needs to be handled in a single TXG.  Since destroying 4000 snapshots takes a fair bit of work this TXG takes a long time to process which prevents the TXGs from rolling forward every few seconds like they're su

[2015-02-25 00:48] dsockwell commented on #3092
@mihu I propose some expanded inline documentation, since util-linux might appreciate being walked through the on-disk format more explicitly. https://gist.github.com/dsockwell/cc067bd917bf86779d1a

Also, is zfs_extract_guid_name(blkid_probe pr, loff_t offset) allowed to fail or yield an ugly struct in this context? because it's looking for some name-value pairs (name and pool_guid) that don't exi

[2015-02-25 00:52] bala-v commented on #2732
I did rebooted the system and now the kernel and kernel-devel are matching, but still get the same error:-
$sudo rpm -qa |grep kernel
kernel-tools-3.14.33-26.47.amzn1.x86_64
kernel-devel-3.14.33-26.47.amzn1.x86_64
kernel-headers-3.14.33-26.47.amzn1.x86_64
kernel-3.14.33-26.47.amzn1.x86_64

@behlendorf - $dmesg |grep zfs returns nothing. Any other ideas?.

[2015-02-25 01:51] behlendorf commented on #2732
Exactly what is the error.  According to dmesg the module was loaded.

[2015-02-25 05:43] thegreatgazoo commented on #2034
More testing today, if the pool wasn't imported with _-o readonly=on_, then the deadlock between _zpool export_ and _zfs list_ couldn't be reproduced.

[2015-02-25 06:30] sempervictus commented on #3127
A bit of clarification may be in order here - on setups like this, you probably wont hit the performance boundaries of most iSCSI implementations provided your processing hardware is reasonable.
We're running full-SSD ZVOLs on low latency 10G, MPIO iSCSI SAN with large VDEVs ( + L2ARC/SLOG SSD mirrors), and things of that nature through SCST on patched kernels. Our aggregate disk throughput is sig

[2015-02-25 07:03] fajarnugraha commented on #3127
@kpande: there is no way 4x2TB HDD in "2-way mirrors stripe" configuration can deliver 3k random write IOPS without cache. Your best numbers should be less than 500.

I agree with @sempervictus , you should probably set sync=always in this case, as all async writes should be buffered on the initiator side anyway

[2015-02-25 10:28] tomposmiko commented on #3120
On 02/20/2015 04:11 PM, kpande wrote:

@kpande, have you successfully created the list? Let me know, if I can help.

[2015-02-25 11:21] micw commented on #616
This also might affect bind mounts (e.g. when trying to access a snapshot from within a linux container or a docker box): http://comments.gmane.org/gmane.linux.file-systems.zfs.user/20179

@behlendorf , what's the reason to have the milestone set to 0.8.0? It seems that there are working patches since more than a year. Solving this would allow much new use cases for zfs on linux.

[2015-02-25 12:47] Lalufu commented on #3125
Is a reboot equivalent to an export/import for this purpose? That would be easier to test than exporting the pool in a running system.

On this particular dataset the issue is reliably reproducible.

Looking at an strace of a (working) cp and a (not working) mv the main difference seems to be that mv (after copying the file over to the destinanation) does the following syscalls:

utimensat() (on t

[2015-02-25 13:25] dweeezil commented on #3125
@Lalufu your strace output plus the ```xattr=sa``` point at an SA corruption problem.  The 0.6.3-1.2 tag is missing a62d1b0 which fixes the last known SA problem.  It would be interesting to see all of the xattr-related calls from the strace of the ```mv``` command.  That said, if your system has selinux enabled and you're running a ZFS-enabled selinux policy, you'll not see all of the xattr calls

[2015-02-25 15:09] yarikoptic commented on #2983
Ok -- this issue strikes back heavily ;)  I think it was the same a week ago as well.  Here are details about current state of affairs:  http://www.onerussian.com/tmp/zfs_report_20150225/

I am running dailies with tiny tune  https://github.com/DeHackEd/zfs/commit/0647ab34defc84c3213e2ad6198017288e3b72d4

System went bzirk again while tar'ing a directory with LOTS of tiny files (can't tell how man

[2015-02-25 15:19] stevenburgess commented on #3104
That certainly stacks up with my observations. I find this behavior to be unexpected, since I would probably not think twice about calling ```zfs destroy -r``` on an 8GB filesystem, but that call could have some pretty severe consequences, so I should.

What do you think is best in terms of this ticket? I dont want to load the ZoL GitHub with upstream issues. Since it is an OpenZFS issue, should I

[2015-02-25 15:40] micw commented on #616
For bind mounts (e.g. in lxc containers) the issue can be workarounded by calling
[code]
before creating the bind mount.

[2015-02-25 15:44] yarikoptic commented on #2983
as ryao at IRC points out, apparently this kernel was running without frame pointers enabled (got upgraded :-/) but here is report from last stall I believe:  http://www.onerussian.com/tmp/zfs_report_20150218/

[2015-02-25 16:14] Lalufu commented on #3125
Yes, I thought about xattr as well. Unfortunately most of the preconditions you mentioned are there, the system is running selinux, the pool has been created on 0.6.2 (as far as I can remember, is there an easy way to check this?).

I'll try the zdb call later to see what gives, and try to build a zfs version with the check.

[2015-02-25 16:38] bala-v commented on #2732
@behlendorf - The step that helped was sudo modprobe zfs (after the kernel reboot with matching kernel, kernel-devel and headers). I am good now. Thanks.

[2015-02-25 19:36] mihu commented on #3092
Seems that util-linux has official repository even here on github, so I've taken the shortcut:)
https://github.com/karelzak/util-linux/pull/155

[2015-02-25 23:15] jots opened #3131 "lost zfs after ubuntu upgrade"
after apt-get upgrade and reboot zfs does not come up.
upgraded to: Ubuntu 14.04.2 LTS
$ uname -a
3.13.0-36-generic #63-Ubuntu SMP Wed Sep 3 21:30:07 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

$ dmesg | grep zfs gives:

[   10.413198] zfs: disagrees about version of symbol vn_openat
[   10.413256] zfs: Unknown symbol vn_openat (err -22)
[   10.413323] zfs: disagrees about version of symbol __cv_dest

[2015-02-25 23:57] jots commented on #3131
got zfs back by:
sudo apt-get install --reinstall zfs-dkms
sudo zfs mount -a

[2015-02-25 23:57] #3131 closed

[2015-02-26 01:17] behlendorf commented on #3118
Closes the repositories have been updated.

[2015-02-26 01:17] #3118 closed

[2015-02-26 05:13] kpande commented on #3120
all done and set up!

http://list.zfsonlinux.org

Just waiting for @behlendorf to set up the final MX records to redirect from Google Groups tomorrow

[2015-02-26 05:14] #3120 closed

[2015-02-26 09:13] Bronek opened #3133 "Support for richacls"
Please treat this as proxy request for comments, rather than a bug report or even feature request.

Today (26th Feb 2015), Andreas Gruenbacher issued request on LKML for comments and code review of upcoming richacls for Linux filesystems feature. Assuming that, if (when?) this feature is eventually merged into the kernel, given the rationale for this new feature ("improve
interoperability between

[2015-02-26 10:49] Lalufu commented on #3125
zdb -b seems to be happy:

[code]

Still need to cherry pick the patch and see if the zero filled file is still empty after a reboot.

[2015-02-26 12:10] Lalufu commented on #3125
The file is still empty after a clean reboot.

[2015-02-26 14:57] Pentium100MHz opened #3134 "soft lockup - CPU7 stuck for 22s on Debian Wheezy"
Hi, this happens randomly on a hypervisor that uses zvols for VM storage. It does not look like there is an immediate problem (the hv and virtual machines still work after this), however, this could be the beginning of some kind of problem.

uname -a
Linux ohv1 3.2.0-4-amd64 #1 SMP Debian 3.2.65-1 x86_64 GNU/Linux

zfs version 0.6.3-763_ge883253
spl version 0.6.3-295_ga9d5f15

zfs was installed fr

[2015-02-26 16:44] ryao commented on #1445
@behlendorf This just occurred on my workstation yesterday evening during system updates. I am archiving a disk image of the root pool before attempting to repair it. I can test any patches that are aimed at fixing this on a copy of the image.

[2015-02-26 16:48] ryao commented on #2957
This appears to be a duplicate of #1445.

[2015-02-26 17:19] Lalufu commented on #3125
I've cherry-picked a62d1b0, and it does not make a difference (I've only rebuilt the kernel module, not user space with the patch).

[2015-02-27 05:35] behlendorf commented on #616
@micw Yes it's definitely not that far off, #2797 actually contains the latest version of the patches and they're something I hope to merge shortly after the next tag.  It would be great if you could give the latest patches with a recent kernel and verify they work properly.

[2015-02-27 05:44] behlendorf commented on #3104
@stevenburgess I think it's definitely appropriate to open an issue in the upstream tracker.  We can leave it open here as well, it might make it easier for people to find.  I'm a little less optimistic about how best to address this.  There are good reasons to want to handle this all in a single TXG.

[2015-02-27 05:50] behlendorf commented on #2983
This should be addressed by #3132 which is going through testing and review right now.  This is one of a small handful of things blocking the next tag.

[2015-02-27 05:52] nwf opened #3136 "VERIFY(dsl_pool_config_held(dp)) failed"
While running `zfs send -DRe omfg/current/data@--head-- | zfs recv -dvu tank`:

[code]

ZFS is

[code]

[2015-02-27 06:13] thegreatgazoo commented on #2034
I just pushed a fix for the deadlock between _zpool export_ and _zfs list_. But it's probably not going to fix the umount hang reported here originally, as the pool must have been imported readonly for the _zpool/zfs_ deadlock to happen.

I noticed an upstream fix: https://github.com/illumos/illumos-gate/commit/bc9014e6a81272073b9854d9f65dd59e18d18c35

I haven't looked closely but it seems relevan

[2015-02-27 15:38] kpande commented on #3127
@fajarnugraha Please, do go on and tell me what I've "never seen". Using ARC cache during benchmarking should deliver more than 3k IOPS at workstation level. I've seen 3k IOPS being done while the server is "asleep". See my reports in bug #3106 where I give quite extensive benchmark information on my setup.

You should spend less time thinking of how to dismiss bug reports and more time on what is

[2015-02-27 15:39] kpande commented on #3127
Plus @fajarnugraha the total IOPS (3000) count is combined read+write, it's about 90% write.

[2015-02-27 15:41] kpande commented on #3127
@fajarnugraha Consider the actual results of my test, IET delivers X performance by SCST fails with "Y" which is much less than X.

It's not a "theoretical" I'm trying to achieve. I've done it once with IET and trying to duplicate it with SCST.

How come SCST needs sync=always ? I do not have SLOG.

[2015-02-27 17:11] prakashsurya commented on #3120
Nice!!

So, what's the transition going to be for an end user?Does everybody need to sign up for the new list, or will that be handled automatically? And, will the old google group be marked read-only? (not sure if that's possible, but I'd hate to see fragmentation with some users still using the old list)

[2015-02-27 19:28] behlendorf commented on #3120
Hopefully it will be pretty seamless, I sent [this notice](https://groups.google.com/a/zfsonlinux.org/forum/#!topic/zfs-announce/9M5H3XtAem4) to the zfs-announce, zfs-discuss, and zfs-devel lists.  But just to be clear...

Everybody who was subscribed to the Google Groups was automatically subscribed to the new lists.  They _shouldn't_ need to do anything.

Yes, they were set read-only when we cut

[2015-02-27 19:33] dasjoe commented on #3120
As just discussed on #zfsonlinux, most if not all messages to the list now turn up in Gmail's spam folder.

To fix it mailman has to rewrite `From:` and list.zfsonlinux.org needs a DMARC record: https://support.google.com/a/answer/2466563?hl=en

[2015-02-27 20:38] behlendorf commented on #3134
Thanks for filing this.  The patches in #2129 which are under active development are designed to address this kind of thing.  We're definitely making progress on this.

[2015-02-27 20:49] dweeezil commented on #3134
I'd like to followup with a note to anyone using zvols as storage for a hypervisor:  Memory use on the host system can be greatly reduced by configuring the host system to use direct I/O when accessing the zvols.

[2015-02-27 21:27] jt1394 commented on #3134
Is this similar to the issue we're experiencing whenever we're under heavy load? Most times things recover fine, but we just had a ext4 vmdk have an aborted journal and remount ro when this occurred.

uname -a
Linux StorageLow0 3.2.0-4-amd64 #1 SMP Debian 3.2.63-2+deb7u2 x86_64 GNU/Linux

SPL: Loaded module v0.6.3-295_ga9d5f15
ZFS: Loaded module v0.6.3-763_ge883253, ZFS pool version 5000, ZFS file

[2015-02-27 21:59] behlendorf commented on #3050
@siebenmann @devsk could you please test and verify the refreshed fix for this.  I've run it though extensive internal testing and it's held up very well. You'll need the patches from the following two pull requests.  @ryao can you please comment on this alternate approach.

zfsonlinux/spl#435
zfsonlinux/zfs#3132

[2015-02-27 22:04] behlendorf commented on #3094
I'm removing this as an 0.6.4 blocker.  The changes which caused this problem were not part of the master branch and therefore shouldn't hold up the release.

[2015-02-27 22:09] DeHackEd commented on #3094
So it's confirmed that some aspect of ABD (#2129) or an older version of it are at fault?

I have a planned upgrade looming and want to know.

[2015-02-27 22:20] nedbass opened #3139 "zhack feature ref decrement is broken"
This is a tiny upstream bug, but I'm just filing it here so we don't lose track of it. I believe `zhack` should be like so:

[code]

[2015-02-27 22:38] kernelOfTruth commented on #3094
@edillmann yes, I used #2129 since that improved the desktop improvement quite noticably

without it (now) - there are some increased minor latencies here and there

did you try #2129 by simply applying the pull to the latest master via:

https://github.com/zfsonlinux/zfs/pull/2129.diff

whether that also lead to the spacemap issues ?

@behlendorf seems like a good idea to add zdb to the test batt

[2015-02-27 23:11] behlendorf commented on #3094
Let me summarize where I think things are at.

* The #2909 debug patch could cause an issue like this.  It was never part of master.
* The #2129 (ABD) patches might have caused something like this.  The current version is believed to be safe and correct but older versions or alternate development branches may not be.
* Over the years there have been a small number of other related bug which could

[2015-02-27 23:27] behlendorf commented on #2346
Bumping to 0.6.5.  This shouldn't hold up the tag.

[2015-02-28 00:11] kernelOfTruth commented on #3094
@behlendorf So when running a pool in at least mirror mode (or even single is sufficient ?)
and running scrub should correct data blocks, provided anything is broken in the first place ?

What a relief !

Luckily so far no errors wound up in scrub ...

[2015-02-28 00:27] yarikoptic commented on #2983
Thanks @behlendorf : simply by #3132 (either I am tired or anyways I don't know zfs codebase, but it doesn't make sense to me why it should have any effect) or in conjunction with https://github.com/zfsonlinux/spl/pull/435 ?

[2015-02-28 00:27] behlendorf commented on #3094
@kernelOfTruth it depends on exactly what was damaged.  For example if a meta data block was overwritten that would be correctable because there's always a second copy even for a non-redundant pool.  A data block on the other hand with only a single copy can't be repaired in a mirror configuration because both sides of the mirror will be damaged in the exact same way.  So you'll want to run scrub

[2015-02-28 00:43] behlendorf commented on #2983
@yarikoptic it's caused by a subtle deadlock in the direct memory reclaim path for ZFS.  Basically it's possible for us to enter direct reclaim while holding one of the hashed mutexes for the ARC.  During this reclaim it's then possible that we'll re-enter the VFS and attempt to take the lock again while trying to free a different object which happens to hash to the same value.  It  would be great

[2015-02-28 00:48] yarikoptic commented on #2983
could you list any other patch I should add besides those two?

P.S. I just begged for a bit of tutoring at https://github.com/zfsonlinux/zfs/pull/3132/files#r25550686  ;-)

[2015-02-28 01:27] tuxoko commented on #3134
Hi, I believe newer kernel should behave better.
In the older kernel, every call to remove_vm_area will do a linear search under lock. That would be quite a lot of contention.
Newer kernel don't do linear search. So if you're willing to, you can upgrade to kernel 3.10 or above and see if it gets better.

[2015-02-28 07:25] pdf commented on #1894
@behlendorf has this been pushed back?  No IPv6 support in 2015 is a bit embarrassing, and I imagine it's a moderately trivial parsing issue?

[2015-02-28 16:36] prakashsurya commented on #1894
Patches are welcomed. :)

[2015-02-28 16:50] kpande commented on #1894
@pdf the whole world should be pretty embarassed about IPv6 implementations, though using it at this point could be asking for security issues - the IPv6 stacks on world routers are not as tested as their IPv4 counterparts. Check out how many holes are found in IPv6 vs IPv4 parsers.

[2015-02-28 23:18] yarikoptic commented on #2983
Dear @behlendorf   please let me know which set of patches should I try since I doubt #3132 alone would be sufficient...

[2015-03-01 08:38] wrouesnel commented on #1422
So I've tried b333z patch for my ZFS kernel, and I still can't get the log devices to actually remove - the same issue arises, the silent fail. As best I can guess, the issue is the mirror volume is unavailable, but the devices are just marked as offline so the checks to remove them still fail out.

One thing I noticed is that when I do an import, the log device isn't immediately known - maybe wha

[2015-03-01 19:00] usrflo commented on #2272
I am running Debian Wheezy, zfs* 0.6.3-1~wheezy

Under heavy load the system becomes stalled and has to be rebooted about once every 2 weeks. This time the system came back after an hour and I found the following stacktraces:

[1013751.840885] INFO: task kswapd0:46 blocked for more than 120 seconds.
[1013751.840920] "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this message.
[1013751

[2015-03-01 19:40] kernelOfTruth commented on #2272
FYI:

Debian Wheezy uses linux-3.2.41 according to
http://distrowatch.com/table.php?distribution=debian
if that's correct - unless @usrflo uses a more recent kernel

It appears that there's a trend with "stable" distributions that run with 2.6* or 3.0*, 3.2* kernels which suffer from this

[2015-03-01 20:14] usrflo commented on #2272
FYI:

# uname -a
Linux hostxx 3.2.0-4-amd64 #1 SMP Debian 3.2.65-1+deb7u1 x86_64 GNU/Linux

[2015-03-01 23:28] kernelOfTruth opened #3142 "[load-related ?] INFO: task arc_adapt:10568 blocked for more than 180 seconds."
Hi,

I just had a system semi to full-hang while having it do the two taxing tasks:

- btrfsck (in the past or still - at least Btrfs scrub was known to cause OOMs - no OOM or out of memory error though)
- compilation of llvm 3.6

while doing that firefox & chromium (youtube background music) were also running a few additional minor apps

No swap was used at all, zswap is used, a swap-device on zr

[2015-03-01 23:59] kernelOfTruth commented on #3142
The output actually looks somewhat related to #3132 , what @ryao wrote in https://github.com/zfsonlinux/zfs/issues/3050#issuecomment-72065881

and the call trace of the suggested patch, https://github.com/ryao/zfs/commit/916e29afddc94dd0fc152db3d473adfbea1d4c45

I also am running with an l2arc partition attached to /home

[2015-03-02 00:01] kernelOfTruth commented on #3142
The used patchset on top of latest master (as of March 1st 2015) was:

- #2351
- #2129
- #2784
- #2890

[2015-03-02 06:55] devsk commented on #3050
Brian: if the change passed your internal testing, please push to master. I would like to see it as part of master. I feel guilty about it but the truth is that I have very little time to tinker with patches and all. I would just like to emerge, get the latest from git master and run with it. That way its also easy to roll it back if needed.

Is that possible? If not, I will try to get some time o

[2015-03-02 07:03] siebenmann commented on #3050
@behlendorf, I apologize for being Github impaired: what's the best way to get the patches from those pull requests in the best way for testing? Use the .patch version of the pull urls? Some git pull/fetch incantation? I'd like to make sure I test the best way possible for this.

[2015-03-02 14:18] kernelOfTruth commented on #3050
@siebenmann add the suffix .diff

that makes e.g. https://github.com/zfsonlinux/zfs/pull/2129.diff
out of https://github.com/zfsonlinux/zfs/pull/2129

at least that's what I've been told to do in the past and/or read

[2015-03-02 16:32] tobias-k opened #3143 "Copy files with xattr kills my box"
Situation:

Server A has a zpool and zfs volumes with following settings

[code]

Server B clean installationion with new zpool und zfs volumes. Same Settings like A

Copy Files from Server A to B including xattr causes instant crash of the B box. (rsync)
Copy Files from Server A to B WITHOUT xattr works fine. Setting xattr after copy works fine.

Once the box is crahses while copying you can acce

[2015-03-02 17:19] bprotopopov opened #3144 "panic in vdev_get_stats() when removing log device"
The following sequence produces the panic() originally reported in https://www.illumos.org/issues/5049:

$ zpool add pool log dev1 dev2
$ zpool remove pool dev1 dev2
$ zpool status -v
- the 'status' panics with invalid access at 0x98.

The following commit from illumos-gate addresses the issue:
https://github.com/illumos/illumos-gate/commit/2986efa8094ce00f75df27fb74a184c65c38614a

[2015-03-02 17:30] bprotopopov commented on #3144
Sorry, somehow missed the fix in the tree. Invalid bug report.

[2015-03-02 17:30] #3144 closed

[2015-03-02 17:36] behlendorf commented on #1894
@pdf It's just a matter of someone having time and motivation to write the patches.  The file systems can be shared over IPv6 today through the normal Linux mechanisms.

[2015-03-02 18:14] kpande opened #3145 "zpool can't import pool on disk partition"
I've got a weird situation here. I can't seem to get a pool imported on a particular server without deleting the whole disk dev node..

I created a pool on two disks, using partition 4 of each. It was working fine for a long time, then behaved oddly - couldn't attach iSCSI targets to volumes even though the /dev/zvol node existed, ietadm didn't want to comply. I rebooted the server and the pool wa

[2015-03-02 18:19] aarcane commented on #3145
Your partition is too close to the end of the disk. You should use a tool
like gparted to relocate the partition at least 10MiB from the end of the
disk. You may need to destroy and recreate
On Mar 2, 2015 10:14 AM, "Kash Pande (Jentu)" <notifications@github.com>
wrote:

[2015-03-02 18:20] kpande commented on #3145
That's not the case. This server, and dozens like it, have been running for two years.

[2015-03-02 18:25] aarcane commented on #3145
Can you add the output of:
parted
unit s
p

To your gist?

[2015-03-02 18:27] kpande commented on #3145
(parted) unit s
(parted) p
Model: ATA ST3500320NS (scsi)
Disk /dev/sda: 976773168s
Sector size (logical/physical): 512B/512B
Partition Table: gpt

Number  Start      End         Size        File system  Name     Flags
 1      2048s      48828415s   48826368s                primary
 2      48828416s  80078847s   31250432s                primary
 3      80078848s  80273407s   194560s

[2015-03-02 18:34] kpande commented on #3145
updated gist

[2015-03-02 18:40] kpande opened #3146 "3.18.8 build failure"
According to Gordon Bobic on zfs-discuss:

[2015-03-02 19:18] behlendorf commented on #3142
@kernelOfTruth this is the same issue #3132 was designed to address.

[2015-03-02 19:22] behlendorf commented on #3050
@devsk @siebenmann No problem, I just wanted to give you guys a heads up there were patches available for this.  Your help verifying proposed changes is always appreciated, but I absolutely wouldn't be making those patches available unless I already felt they were ready for a wider audience.  These changes should be merged to master this week.

[2015-03-02 19:25] siebenmann commented on #3050
I'm now running both PRs and I'm going to try to put as much stress on my machine as possible. I'll report back if anything explodes.

[2015-03-02 19:26] behlendorf commented on #3143
@tobias-k which server is crashing A or B?  Are you able to cause this problem when using two newly created pools?  What version of ZoL are you using?

[2015-03-02 19:29] prometheanfire commented on #3143
I do copies with zpool send and that works fine (xattr=sa), perhaps the extra load of the rsync is the real cause?

[2015-03-02 19:42] behlendorf commented on #3146
Can someone please reproduce this and post the build failure.  I'm guessing for some reason the configure check gets the wrong answer for `3.18.8`.  Everything does work as expected for for all the kernels tested by the buildbot , some are newer than 3.18.8 and some are older.

[2015-03-02 19:51] tuxoko commented on #3146
@kpande Could you post the error log? Thanks.

[2015-03-02 19:51] #2034 closed

[2015-03-02 19:55] behlendorf commented on #2878
I've merged 87a63dd to master which ensures a reasonable error is generated when attempting to destroy or export a suspended pool.  This is far preferable to a hang.  However, I'd still like to leave this issue open so we can explore what is reasonable behavior for a force option.

87a63dd Prevent "zpool destroy|export" when suspended

[2015-03-02 20:21] pdf commented on #1894
I'd do it myself if my C skills were sharper :worried:, maybe I'll have a crack at it anyway.

Even though you may create IPv6 shares in the traditional manner, this is still problematic because it makes it hard to document procedures; it means that either configuration needs to live in two places (confusing, not maintainable), or sharenfs just can't be used in environments with IPv6; and shares c

[2015-03-02 20:25] colorprint commented on #3146
I have built git head with 3.19 kernel a week ago without any problems

[2015-03-02 20:41] behlendorf commented on #3075
Bumping to 0.6.5.  While this is a legitimate issue and does produce some scary console warnings it 1) doesn't occur under realistic workloads, and 2) isn't harmful.  Therefore, I'd rather this not hold up the release.

[2015-03-02 21:29] tuxoko commented on #3075
@behlendorf
Is there a reason to wait for zil before we clear the writeback flag?
Shouldn't the page already be "written back" after we copy back to the ARC?

[2015-03-02 21:43] dasjoe commented on #3145
I'm with @aarcane, your ZFS partition is too close to the end of those disks.

Ongoing transactions probably wrote data (i.e. uberblock array has grown) into the area where ZFS checks for the vdev labels when it's using partitionless disks.

What about swapping partitions 3 and 4, is there any reason why your `bios_grub` isn't partition 4?

[2015-03-02 22:35] dasjoe commented on #3107
I suspect this stems from using an older FreeBSD which did not create partitions, @ryao explained how he helped fix a related issue in #3024. That issue is not too similar to this one, though.

Are there partitions on the devices marked UNAVAIL? If so, it could help to `rm` the raw device link but keep the partition links in `/dev/disk/by-id/` before running `zpool import -d /dev/disk/by-id/`, lik

[2015-03-02 22:40] kpande commented on #3107
is this like #3145 ?

[2015-03-02 22:41] kpande commented on #3145
doesn't make sense: "Ongoing transactions probably wrote data (i.e. uberblock array has grown) into the area where ZFS checks for the vdev labels when it's using partitionless disks."

If this were the case we'd be seeing an awful lot more disk corruption and un-importable pools. It'd also probably start failing scrub and other things due to something being written in the wrong partition.

[2015-03-02 22:53] dasjoe commented on #3040
`zfs list -o name,used,available,referenced,mountpoint,mounted` shows your `tmp` and its sub-datasets as mounted? Then do what @DeHackEd recommends and unmount those datasets, your data is in the root dataset `tank`.

[2015-03-02 22:55] behlendorf commented on #3075
@tuxoko yes, the page needs to remain in writeback until it it known to be safe on disk.  Internally the Linux VFS depends on this behavior.  The page is dirtied when written, when the VFS wants it to be written it's placed in writeback, and only once it's safe on disk is it marked clean (it can be redirtied on error).

From the kernel VFS documentation, filesystems/vfs.txt
[code]

If you have a l

[2015-03-02 23:11] kpande commented on #3145
Is there any way to mitigate this issue inside the zpool source - i.e. check whether a vdev label is inside the last partition and ignore the whole disk if it is?

[2015-03-03 00:11] tuxoko commented on #3075
@behlendorf
Right. After staring a great amout of time at the writeback code, here's my guess.
Because we didn't set the writeback bit before unlock the page, someone came along truncate it. Now that write_cache_pages() becomes the only reference holder on the page, it immediately free the page by pagevec_release() before waiting on the commit.

Although you said this isn't fatal, but this could p

[2015-03-03 00:24] tuxoko commented on #3075
@behlendorf

I kind of doubt this, because I kind of remember seeing this during testing my ABD patches.
Anyway, this is on my top priority if no one else is working on this.

[2015-03-03 00:54] behlendorf commented on #3075
@tuxoko that would definitely make sense and is consistent with what I've observed.  Thanks for diving in to this I'd definitely feel much better getting this resolved.

As a little bit of background you may want to start by looking at  74328ee18f94d27f9c802d29fdd311018dab2adf and d958324f97f4668a2a6e4a6ce3e5ca09b71b31d9. These patches resolved a lock inversion and in the process definitely introd

[2015-03-03 02:04] draffelt commented on #2944
Hi,
I am having the same issue on our 14.04 server. We have 15 drives in a pool, and every time I reboot different numbers of drives are labelled as either the /dev/sdX name or /dev/disk/by-id/. The actual drives that are labelled correctly by-id differ every time I reboot. Most drives are connected via a LSI SAS 9211-8i cards that are in JBOD mode (flashed with IT firmware), using the P20 version

[2015-03-03 03:07] nevion commented on #3107
@dasjoe - yes, I started with Freebsd but the machine had to do more than be a nas so I moved it over to ZoL once it was looking usable.  It was only the first vdev group that I created with zfs.  I tried to keep everything looking the same with gdisk/cgdisk as I added in pool 2 a year+ ago.  @ryao 's fix seems to be something worth trying as I've replaced these disks and pool 1 had some experimen

[2015-03-03 03:21] tuxoko commented on #3143
Thought I haven't look into the code, this could be the rwsem version of mutex_unlock/free race.
@behlendorf Are you aware of any rwsem usage in ZFS code that could suffer from this race?

[2015-03-03 05:45] thegreatgazoo commented on #3145
@dasjoe and @aarcane: Can you please elaborate why the partition can't be near the end of a disk?

My understanding is that uberblock array is fixed and does not grow, so I also found the "uberblock array has grown" claim hard to understand - maybe I missed something here.

[2015-03-03 06:54] Bronek commented on #3146
I've just built and installed current zfs master@d14cfd8 and spl master@c1bc8e6 , on a test system with kernel 3.18.8 (ArchLinux, i.e. almost no patches)

[2015-03-03 08:01] tobias-k commented on #3143
@behlendorf the destination server B crashed. And yes, same behavior on new created pools. v0.6.3-5~trusty from ubuntu ppa repo.
@prometheanfire confimed: zpool send works.It not might be the extra load of rsync. the source is only 1GBit. So load > 2 on 8 core mashine

[2015-03-03 08:22] draffelt commented on #2944
I've followed the instructions to add a [devicewait script](https://github.com/zfsonlinux/pkg-zfs/wiki/Ubuntu-ZFS-mountall-FAQ-and-troubleshooting) to mountall.conf. So far it appears to have fixed the device renaming, however it still hangs on mount about 3/10 times (even though the devicewait script successfully finds all drives in the pool).

The only other clue is that when I hit ctrl-alt-dele

[2015-03-03 08:30] tobias-k opened #3148 "random call trace on heavy load"
random call traces on heavy load an diffrent boxes on diffrent tasks.
3.13.0-24-generic # 47-Ubuntu
ZFS v0.6.3-5~trusty from ubuntu ppa repo

SPL: Loaded module v0.6.3-3~trusty
ZFS: Loaded module v0.6.3-5~trusty, ZFS pool version 5000, ZFS filesystem version 5

Box 1

[code]

Box 6

[code]

Box 7

[code]

[2015-03-03 12:13] gordan-bobic commented on #3146
Typical - I just did a full rm -rf on the source directories, reinstalled the dkms rpms, re-applied the 3.19 patch, tried rebuilding against 3.18.8 and it worked. :(

Must have been a stale file or config cache. Please close. Apologies for the noise.

[2015-03-03 12:37] dasjoe commented on #3148
That's usually just an information about a stuck process: `INFO: task spl_system_task:350 blocked for more than 120 seconds.`

This can happen when your disks are too busy, preventing the named processes from being switched out by the scheduler in the last `/proc/sys/kernel/hung_task_timeout_secs` (here: 120) seconds.

If the boxes stay unresponsive and have to be rebooted to be usable again you'r

[2015-03-03 14:02] dasjoe opened #3149 "New mailing list: long delay before mails get sent"
There's a large delay before mails are being processed, as seen in the headers:
[code]

So `megatron.tripleback.net` got the mail at 07:01:06 -0500 (EST) and processed it at 08:54:47 -0500 (EST), `mx.google.com` received it at 05:55:11 -0800 (PST), nearly two hours after it was originally sent.

The delay is variable, but seems to be longer than one hour most of the time.

[2015-03-03 14:17] ryao commented on #3107
@nevion My apologies for the delayed response, but most of us are very busy at the moment. Doing the procedure from #3024 would make things worse if it is not the right thing to do, but it is worth a try with some precautions. In specific, you should make images of the disks that are unavailable. In this situation, just the GPT partition tables need to be imaged, so the first 10MB of the front and

[2015-03-03 14:45] frankuit opened #3150 "zpool destroy data -f does not work (permanently)"
Hi Guys,
i'm in the process of moving a pool (data) to a new piece of storage hardware and pool (backups).
i've done so with the zfs export and import functionality.
but now the old raid has crashed (disks broken) and i wanted to remove it.
when i remove it, no error is reported.
next, i reboot the server and there are no pools found.
so, i do: zpool import backups (as backups is the pool on the n

[2015-03-03 15:15] #3146 closed

[2015-03-03 15:47] dasjoe commented on #3150
Did you rebuild the initrd after destroying the pool?

If not, do so. Either export or destroy the pool data, then rebuild the initramfs:
[code]

[2015-03-03 16:04] frankuit commented on #3150
ok, trying this now, here's the output:

zpool status
  pool: backups
 state: ONLINE
  scan: none requested
config:

        NAME                                      STATE     READ WRITE CKSUM
        backups                                   ONLINE       0     0     0
          scsi-3600508b1001c77b1e985ba945cf1ddff  ONLINE       0     0     0
          scsi-3600508b1001c49cd37abb1470a1238e6  ON

[2015-03-03 16:10] frankuit commented on #3150
when i pass -v to the update-initramfs command, it tells me: nothing to do, exiting.

[2015-03-03 17:11] kpande commented on #3149
There's been a lot of deferred mail from Google accounts that no longer exist, because Google does not expire old gmail accounts from the group user list (apparently)

When importing into a different system, the list had to deal with a ton of inactive addresses. It's been clogging up the queue and reattempting delivery so frequently that it prevents new mail from being delivered,as described here:

[2015-03-03 17:12] dasjoe commented on #3150
So the pool has some remnants on one of your drives, or it is stuck in your zpool.cache.
What does `zdb` (without parameters) output, when both pools are visible?

[2015-03-03 17:19] kpande commented on #3149
Oh, and Google is rate-limiting all the mail to valid addresses, too, because users haven't marked it as not being spam.

[2015-03-03 17:28] behlendorf commented on #3143
@tuxoko now that you mention it, it sure does look similar to the mutex issue.  The code must be spinning on the `sem->wait_lock` in `rwsem_down_read_failed()` with interrupts disabled.  That's the only way the NMI watchdog being triggered makes sense.  It's definitely possible the ZAP leaf rwsews suffer from a similar issue, but it's harder to tell from a quick look since the code is more complic

[2015-03-03 17:51] kernelOfTruth commented on #3148
looks, like it might be related to #3142

and the pull-request #3132 , https://github.com/zfsonlinux/spl/pull/435 on SPL

[2015-03-03 17:52] kernelOfTruth commented on #3142
@behlendorf thank you, running the pool(s) now with the fix from #3132 & https://github.com/zfsonlinux/spl/pull/435

[2015-03-03 18:37] frankuit commented on #3150
zpool list -v
NAME   SIZE  ALLOC   FREE    CAP  DEDUP  HEALTH  ALTROOT
backups  72.5T  49.9T  22.6T    68%  1.00x  ONLINE  -
  scsi-3600508b1001c77b1e985ba945cf1ddff  36.2T  25.0T  11.3T         -
  scsi-3600508b1001c49cd37abb1470a1238e6  36.2T  25.0T  11.3T         -
cache      -      -      -      -      -      -
  sdb   149G  1.90M   149G         -
  sdc1  93.1G  2.17M  93.1G         -
data

[2015-03-03 18:38] frankuit commented on #3150
i've moved the /etc/zfs/zpool.cache file as i stated earlier, so it should not come from there i think?

[2015-03-03 18:40] kernelOfTruth commented on #361
suggested patch/fix:

Hi,
This problem occurs on Freebsd, Here is a patch trying to fix the issue
The cause is under high memory pressure zfs will wrongly evict cached metadata in prior to data during rewrite.

People who experience the same issue might be interested.

James Pan

http://lists.open-zfs.org/pipermail/developer/2015-January/001222.html

?

[2015-03-03 18:49] tuxoko commented on #3143
@behlendorf Yeah, I also did the quick look. Both ZAP and ZAP leaf are free by dbuf evict path, and I haven't found anything suspicious. But nonetheless, there should be some sort of memory corruption on the spinlock, because every other CPU is in idle state, so there's no way they can hold a spinlock.

[2015-03-03 19:11] tobias-k commented on #3148
@dasjoe You are right. somestime these call traces are hamles. From time to time the "hang" needs several seconds till the box is respondig again. Some aof these "hangs" are more impacting. After the call trace sometimes some zfs processes are runnig at 100% CPU. Mostly arc_adapt and/or zfs_input_taskq are  at 100 %. The box responses but at extrem low performance. This is persistent till reboot.

[2015-03-03 19:27] behlendorf commented on #3143
One _possible_ cause is that we're somehow accidentally damaging the leaves in memory.  There have been a very small number of bugs reported (#1445, #2861) which show that somehow a trashed leaf was written to disk.  If it did somehow get overwritten in memory that is one way the spinlock could be damaged.  It's in part what prompted me to open #3138 to make checking for this even more rigorous.

[2015-03-03 20:03] tuxoko commented on #3143
I think you're right. https://github.com/zfsonlinux/zfs/issues/2861 has very similar lockup. And it consistantly occurs on only a few machine. It's quite possible caused by damaged pool.

[2015-03-03 21:18] #2983 closed

[2015-03-03 21:18] #3050 closed

[2015-03-03 21:18] #3055 closed

[2015-03-03 21:18] #3062 closed

[2015-03-03 21:18] #3128 closed

[2015-03-03 21:18] #3142 closed

[2015-03-03 22:42] dweeezil commented on #3143
I decided to take a peek at recent changes to the rwsem code in the kernel.  I was initially made curious by the realization that zfsonlinux/spl@46aa7b3 and its successors pretty much always are enabled these days (in the mainly x86_64 world) because torvalds/linux@29671f2 to which it implicitly refers (first appearing in 2.6.33) only modified the generic rwsem code and didn't do anything for the

[2015-03-03 23:51] kpande commented on #3149
It's been fixed by switching to VERP mode in Mailman - this will send an individual message per recipient instead of one message with X number of recipients. It may be harder on the network but it's certainly been easier on the mailserver.

[2015-03-04 00:54] snajpa opened #3153 "RHEL6: Pool not imported on boot"
When rebooting a system, upon a new boot my zpool 'vz' is not imported. I suspect it's been doing so since the autoimport default was set to do not autoimport (which is a fairly recent change).

I've tried exporting the pool and importing it under different name, then exporting it again and importing back as 'vz', but that didn't help.

Manually running "zpool import vz" imports the pool with no i

[2015-03-04 01:23] #3149 closed

[2015-03-04 01:53] nevion commented on #3107
@ryao left some messages to you on irc

so far I've taken one drive from the pool, backed up the gpt header w/ sgdisk and dumped the list again with zdb -l
I updated the gist with the steps I've taken: https://gist.github.com/nevion/179eade4f8b42773126f

it looks to me it is seeing the old freebsd vdev... a mix of it rather, I forgot linux does not have /dev/gpt and I noticed them in the zdb list

[2015-03-04 06:56] devsk commented on #3050
I am running the master with 3.18.8. Will let you know if I run into any issues.

[2015-03-04 16:01] StevenWolfe commented on #2611
I'm seeing similar symptoms after running a `zfs rollback` on a SMB shared dataset.  After seeing load quickly rise I've stopped the SMB service and will give the rollback command some time to see if it recovers.

From dmesg, on Ubuntu Server 14.04.2 LTS, ZoL 0.6.3-5 from the Ubuntu PPA:

    [3764100.795021] smbd            D ffff88010b433480     0 34303  60686 0x00000000
    [3764100.795025]  ff

[2015-03-04 18:20] behlendorf commented on #3153
@snajpa thanks for noticing this, and I think you're right that's exactly when this broke.  Disabling the autoimport means that we're dependent on the systemd units or init scripts to import the pool.  It looks like the existing RHEL6 init script don't explicitly import the pool and relied on the autoimport behavior.  I'll try and post a fix for this shortly.

[2015-03-04 19:37] behlendorf commented on #3153
@snajpa could you please verify the proposed patch in #3154 resolves your issue.  Basically, I've replaced the RHEL init script with a slightly modified version of the LSB init script used on other platforms.  It works as expected in my initial minimal testing.  The only issue I noticed was that selinux denied the `zfs mount -a` for some reason on boot.  This may however probably has been a long s

[2015-03-04 19:39] behlendorf commented on #3050
@devsk @siebenmann Thank you!  The additional real world (ab)use of the code is appreciated!

[2015-03-04 21:13] snajpa opened #3155 "Caching dir entries twice"
Is there anything we can do about dentry cache, so that we wouldn't have everything cached twice?

I know that vm.vfs_cache_pressure can be set and it then puts some pressure on VFS to evict dentries early, but still dentry cache on my systems is about 3.5GB in average, dnode_t slab is about 12G (for one example machine).

I'd like to have either dnode cache or dentry cache, not both at once.

Is

[2015-03-04 21:14] snajpa commented on #3153
I'll deploy it today, since our machines are deadlocking and/or having serious memory issues on a daily basis I suspect I'll know rather soon (sigh :( ).

[2015-03-04 21:25] snajpa commented on #3155
[code]

[2015-03-04 21:33] snajpa commented on #3155
![memory-day](https://cloud.githubusercontent.com/assets/1138828/6493926/790f3436-c2be-11e4-8978-025a495e68e5.png)

[2015-03-05 14:20] kernelOfTruth commented on #2873
any news on this ?

either way - please try either with latest master or

https://github.com/zfsonlinux/zfs/pull/3132
https://github.com/zfsonlinux/spl/pull/435

if that helps, it would have been related to memory load

additionally it could be related to #1948

[2015-03-05 19:12] jimsalterjrs opened #3156 "zpool labelclear on full device does not clear label on part1"
Very confusing behavior when feeding full disks to a zpool.

TL;DR you aren't really using a full disk, you're letting ZFS partition the full disk and use partition 1 - but it doesn't really handle all operations properly when referring to the full disk afterward.

Expected behavior: ZFS should handle references to full disks consistently.
Current behavior: references to full disks sometimes work,

[2015-03-05 20:39] rlaager commented on #2546
In reading the manual page, I expected `zpool upgrade -V 5000` to enable feature flags, but no particular features. Instead, it enables everything.

[2015-03-05 22:16] #3082 closed

[2015-03-05 22:17] behlendorf commented on #3153
The updated init script has been merged.  In the process it was updated to automatically start the ZED.

[2015-03-05 22:17] #3153 closed

[2015-03-05 22:22] behlendorf commented on #3009
@chuckatkins thanks for pointing out the fix.  The repositories should be updated in the next week or two with a lustre-2.5.3 version which includes this fix.  Thanks for being patient.

[2015-03-06 00:01] sempervictus commented on #3106
@behlendorf: should this be tagged as a requirement for 0.6.4 so we dont throttle users who arent reading the issues section when they naively upgrade or their pkg manager does?

[2015-03-06 00:16] behlendorf commented on #3106
@sempervictus good question, I was just circling back to take a look at this.  IIRC correctly we were attempting to identify exactly where the lz4 read performance regression was introduced.  Did we ever manage to narrow it down?  Let me add this as an 0.6.4 blocker for now and I'll try and do something testing myself and see if I can't reproduce the issue.  Thanks for the reminder.

[2015-03-06 00:18] kpande commented on #3106
I was doing benchmarks but did not manage to get 0.6.3 running on any systems here.

[2015-03-06 01:32] kernelOfTruth opened #3157 "After rsync of ~2TiB of data large amount of SUnreclaim (ARC), keeps on growing (slabtop) without limit - slowing down system to a halt"
Posting the data here before the system goes "boom" (it's getting slower and slower) - hope it's useful

Symptoms:
opening chromium, firefox, konqueror, etc. takes several seconds to load

besides that the system is (still) working fine

I'm not really sure to agree that SUnreclaim should be *that* huge

[code]

should spl_kmem_cache_reclaim be something else ?

*slub_nomerge* is used during bootu

[2015-03-06 01:34] behlendorf commented on #3106
I was able to easily reproduce this.  It was introduced somewhere between __spl-0.6.3/zfs-0.6.3__ and spl-__0.6.3-12-gde2a22f / zfs-0.6.3-37-g5dbd68a__.  That exonerates the kmem-rework patches (which is a relief to me) and means it was introduced early  in the 0.6.4 development cycle.  I should be able to run it down the rest of the way this evening.

[2015-03-06 03:12] behlendorf commented on #3106
zfs-0.6.3-27-gb0bc7a8 is responsible, b0bc7a84d90dcbf5321d48c5b24ed771c5a128b0.  This was a back port from illumos and it's a pretty sizable change so it's not immediately obvious what the issue is.  Here's my data which pretty clearly shows the cliff, on a pristine pool created with a stock zfs-0.6.3 with no post-0.6.3 features enabled:

[code]

[2015-03-06 03:25] kpande commented on #3106
have you generated perf flame graphs of the benchmarks?

[2015-03-06 03:45] kpande commented on #3145
so it looks like this isn't a case of zpool getting confused about the location of the label, it is something else.

I created a partition table on a drive in an attempt to convert a live system to ZFS root..

I created 4 partitions, the last containing ZFS, but it was 10*GB* away from the end of the disk.

Created the pool using 'zpool create -o ashift=12 tank /dev/sdb4'

Exported, imported the p

[2015-03-06 04:12] behlendorf commented on #3106
Not yet, but it's a good idea.  Maybe tomorrow.

[2015-03-06 04:16] snajpa commented on #3157
Are you by any chance rsyncing over NFS? I've had similar problems, NFS seems to use pagecache, which pressures out the ARC. My workaround was to set up a 5-minute cron with
```echo 1 > /proc/sys/vm/drop_caches```

[2015-03-06 05:19] dweeezil commented on #3106
@behlendorf Thanks for tracking this down to a particular commit.  I've run into a bit of a brick wall while doing benchmarks on 175f4139.  In particular, I'm not seeing nearly as good results as I'd expect from cached reads (running fio read tests with 100% cache hit rates and not using any compression at all).  I'm wondering now if the cause behind this may be causing the poor results relative t

[2015-03-06 14:25] kernelOfTruth commented on #3157
no, only via USB 3.0 :(

I had pasted

[code]

then it would free up SUnreclaim in 20-50 KiB steps, but it partially looked like memory was also growing (I don't have time to wait 5+ days for it to be usable again so)

after 1 hour I did a reboot (via magic sysrq key) - I've the impression that there's still issues with memory pressure despite usage of all the recent stuff and #2129

[2015-03-06 15:02] dweeezil commented on #3106
I might have an answer to some of the poor numbers I've been seeing in high-concurrency cached read tests.  As of 0b39b9f modules built with ```--enable-debug``` will have ```dbuf_verify()``` enabled.  Not only can this kill performance but it also causes ```sem->wait_lock``` to become a major contention point (particularly due to zfsonlinux/spl@46aa7b39 and zfsonlinux/spl@d503b971).  As I mention

[2015-03-06 15:07] kpande commented on #3106
I wasn't using enable-debug for my testing and I was able to see a difference of 1.5GB/s read speed between lz4 and 'none', my system memory when testing mdraid says 13GB/s.

[2015-03-06 15:39] dweeezil commented on #3106
@kpande I have a feeling I'm running into something completely unrelated.  That said, however, I do intend on trying my current testing regimen with/without compression.

[2015-03-06 23:15] behlendorf commented on #3106
OK, I have a partial explanation for this.  The good news is that this probably doesn't impact many real workloads.  At least unless your workload happens to depend on having lots of zero-filled ARC buffers cached.  The bad news is that tiotest has been lying to you (kinda) and it should be enhanced.

Here's the deal.  By default the data buffers written by tiotest are all zero-filled.  When ZFS g

[2015-03-07 00:41] snajpa commented on #3153
Excellent, I can now confirm it is working as expected. Thank you.

[2015-03-07 01:08] markdesouza commented on #3106
Sorry I know this is not the most appropriate location for this but isn't compression generally consider to improve performance (ie reduction in disk reads + time to decompress < full disk read).

I assume that the difference here is the data is already cached and that the compressed blocks are simply cached, so the reduction in read time from the cache < time to decompress. Hence the decrease in

[2015-03-07 01:56] behlendorf commented on #3106
@markdesousa you've struck on the last bit of this which isn't entirely clear to me yet.  In fact, the ARC buffers are stored uncompressed in memory and we see an excellent hit rate.  So the compression method shouldn't have any impact on performance.  Yet it seems to.

What should be limiting performance is lock contention.  Specifically the dbuf mutex which covers these 128k ARC buffer.  The var

[2015-03-07 07:03] markdesouza commented on #3106
@behlendorf  so the dbuf mutex locks the entire arc buffer and not only the buffer intended to be read? if it was the later I thought the contention would be less as the blocksize was reduced. I am also unsure why multiple readers of a buffer would be contended. After all, multiple threads can read a block of memory, the writers or in this case eviction of the buffer would be the only event that i

[2015-03-07 17:04] FransUrbo opened #3159 "Utilize the 'zoned' property in Linux"
I've revitalized an idea I had about a year ago (or there about :) - I'm sure I had a discussion with @behlendorf about this, but I can't find that discussion...

I think the basic idea was to use "lightweight VMs" (i.e. "Linux Containers") for this. But trying to understand the <code>zoned</code> property is somewhat difficult, since I haven't used Solaris in years (and the *BSD <code>jails</code

[2015-03-07 17:28] FransUrbo commented on #3159
But it's still possible for a 'normal' user to both list and cd into the directory:

[code]

[2015-03-07 18:18] DeHackEd commented on #3159
Once again Linux finds itself in the situation where there isn't a single integrated piece of software for a feature. Containers are made by leveraging several features in tandem by what is effectively third party software. SMB and iSCSI sharing are in much the same boat (even though Samba is the defacto). As far as the kernel is concerns containers are made on demand and mount namespaces are iden

[2015-03-07 19:42] kernelOfTruth commented on #3157
I've done several rsync transfers of the 2TB (albeit incremental - so at best 10-30 GB max per import and export)

despite now using a pre-set value for ARC

[code]

memory keeps on growing

anybody can shed a light on what the problem with transparent hugepages and ZFSonLinux is ?

https://groups.google.com/a/zfsonlinux.org/forum/#!msg/zfs-discuss/7a77qQcG4C0/Bpc-VHKSjycJ

the advice keeps on pop

[2015-03-07 20:26] dweeezil commented on #3106
@behlendorf I just performed some testing of your patch in #3158 and although it does reduce the ```db->db_mtx``` contention, it makes minimal difference in a 8-thread I/O test.  I use ```fio``` for my testing and this was its configuration:
[code]
This sets up a variable blocksize random read/write test with small files so it should be fully cached.  I created the filesystem with ```compression=l

[2015-03-07 21:00] kpande commented on #3106
I found in my own testing that a single test is not indicative of much -
5 times was a good average number of runs per test.

[2015-03-07 23:45] dweeezil commented on #3157
@kernelOfTruth I've been meaning to give this issue a more serious looking into but haven't yet had a chance to do so.  Looking at the numbers from your initial posting, this sticks out:

    other_size                      4    4028910448
That's pretty much blowing your 4GiB ARC size limit right there.  This value is the sum a few other things, the sizes of which aren't necessarily readily availa

[2015-03-07 23:46] kpande commented on #3157
Would ABD (#2129) help with this kind of fragmentation?

[2015-03-07 23:51] dweeezil commented on #3157
No, it deals with ARC buffers.

[2015-03-08 00:14] kernelOfTruth commented on #3157
@dweeezil , @kpande thanks for taking a look into this

#2129 is already on board

/proc/sys/vm/vfs_cache_pressure previously was at 1000 ( #3142 )

for this issue it's at 10000, ok so I'll raise it again one step

Related to vfs_cache_pressure settings what stuck out in my memory was something Andrew Morton (?) wrote: having it set at >= 100000

I'll give that a try, thanks !

Wandering around th

[2015-03-08 01:55] kernelOfTruth commented on #3157
setting spl_kmem_alloc_max to 65536 per #3041 (default: 2097152)

[2015-03-08 03:23] yarikoptic opened #3160 "Still locks up after a while: Debian jessie 3.16.0-4-amd64"
The hope was that  #2983 gets fixed by #3132 and I was recently happy to report that system seemed survived relatively heavy bombarding, but again after 4 days the beast locked down.  Here are the gory details: http://www.onerussian.com/tmp//zfs_system_details_20150307/   Let me know if I should provide more information of any kind

[2015-03-08 06:11] yarikoptic commented on #3160
if of any help -- here is a historical overview for today/week from munin
http://www.onerussian.com/tmp/munin-locdown-20150307.html
to see eg (if any relevant, could be just an effect of the deadlock) there was a spike of interrupts right around the deadlock point

[2015-03-08 06:14] yarikoptic commented on #3160
please ignore above comment about interrupts -- a bit confusing plot rendering, they just actually went down

[2015-03-08 14:59] yarikoptic commented on #3160
fresh dump from the system info (with stacktraces.txt now, thanks @DeHackEd for spotting their omission) is available from http://www.onerussian.com/tmp//zfs_system_details_20150308/ . If I don't hear back I will reboot the beast in a few hours -- need to get it usable again

[2015-03-08 15:10] yarikoptic commented on #3160
BTW -- it seems that this stall feels different from before -- unlike before I can still do some actions on those mount ZFS partitions/datasets (e.g. modify files, git commit) while other actions get stuck (docker now can't do stuff even though not directly associated with ZFS, ZFS snapshots/arc_adapt/l2arc_feed/txg_sync and that lengthy rm -r directory  seems to be stuck in D)

[2015-03-08 16:17] FransUrbo commented on #3159
Digging through the code (and comparing with the illumos code), I noticed that ZoL is _always_ in a global zone. This because <code>lib/libspl/zone.c:getzoneid()</code> is always returning the name/id of the global zone:

[code]

where as illumos does a sys call in <code>usr/src/lib/libc/port/sys/zone.c</code>:

[code]

This does not seem portable, but on the other hand, I've been unable to figure

[2015-03-08 16:22] kernelOfTruth commented on #3157
something's fishy:

even though

[code]

are set

and it could be observed that the settings seems to apply on a per-zpool basis

(is that true ?)

after a scrub of an additional pool and now *_after_* the export of the mentioned pool (only the pool containing /home is currently imported)

settings are now at:

[code]

I should have copied arc_meta_max and arc_meta_limit before

but I'm sure the v

[2015-03-08 16:40] FransUrbo commented on #3159
It also seems like the <code>secpolicy_zfs()</code> isn't implemented. That's the part in <code>module/zfs/zfs_ioctl.c:zfs_dozonecheck_impl()</code> that would refuse a non-user to enter the zone fs:

[code]

In illumos this is defined in <code>usr/src/uts/common/os/policy.c</code>:

[code]

None of the secpolicy_*() functions is implemented in ZoL at the moment. The're all defined as <code>(0)</c

[2015-03-08 17:18] FransUrbo commented on #3159
Depends on issue #228 (super seeded by #434 which have a possible, future fix in PR #619 - closed as stale and needs an update).

[2015-03-08 18:46] FransUrbo commented on #3159
Trying out the secpolicy branches (https://github.com/maxximino/spl/tree/secpolicy and https://github.com/maxximino/zfs/tree/secpolicy) did (of course, in retrospect) not help because of <code> getzoneid()</code> in ZoL being a 'dummy' function...

Anyone have an idea on how to create one that can detect global/local zone (without using the SYS_zone syscall that doesn't exist in Linux anyway)?

[2015-03-08 18:51] FransUrbo commented on #3159
<code>INGLOBALZONE()</code> is also a dummy function in ZoL, defined as <code>(1)</code> in <code>include/sys/zfs_context.h</code> but in Illumos:

[code]

[2015-03-08 19:05] dweeezil commented on #3157
Without addressing a few of the specifics in @kernelOfTruth's last couple of postings, I'd like to summarize the problem:  Unlike most (all?) other native Linux filesystems, ZFS carries quite a bit of baggage corresponding to the kernel's dentry cache.  As of at least 302f753, ZoL is completely reliant on the Kernel's shrinker callback mechanism to shed memory.  Due to the nature of Linux's dentry

[2015-03-09 02:18] yarikoptic commented on #3121
@behlendorf  if you share with me your buildbot<->GitHub setup in some shape I can promise to "polish it up" for a re-consumable thing for others ;-)

[2015-03-09 03:53] dweeezil commented on #3157
@kernelOfTruth A bit more testing shows me that you might have better success if you set the module parameters in the ```modprobe``` as in ```modprobe zfs zfs_arc_max=1073741824 ...```.  It seems the changes don't "take" properly if set after the module is loaded.

[2015-03-09 03:56] snajpa commented on #3157
@dweeezil would you please elaborate how setting arc limit run-time doesn't take properly, as you say, please? I've only seen so far that if I limit ARC to a smaller size, than it already is, it may in some cases never shrink (we run into a deadlock sooner than it has a chance to).

[2015-03-09 11:23] dweeezil commented on #3157
Internally, ```arc_c_max``` limits ```arc_c``` (the target ARC size).  The value of ```arc_c``` is set to ```arc_c_max``` during module initialization and ```arc_c_max``` is set to the value of the tunable ```zfs_arc_max```.  If ```zfs_arc_max``` is changed once  the module is loaded, ```arc_c_max``` *is*  updated to the new value (in ```arc_adapt()```) but changes to ```arc_c_max``` are "soft", t

[2015-03-09 16:24] kernelOfTruth commented on #3157
like mentioned in #3155 it would be nice, if we could avoid having to use two caches, dentry & dnode

anyway @dweeezil coincidentally I also made the observation that at least two settings can't be set dynamically once spl/zfs was already loaded and started to put some settings into spl.conf & zfs.conf (when the modules are loaded):

spl_kmem_cache_kmem_threads
spl_kmem_cache_magazine_size

also

[2015-03-09 17:53] behlendorf commented on #3160
@yarikoptic it appears that #2983 was significantly improved by #3121 but we didn't quite get every possible deadlock.  It's clear from the backtraces you provided the threads are all blocked on the ARC hash lock but what isn't clear is what task is holding that lock and why it's not giving it up.  Normally, I'm highly suspicious of the direct reclaim paths like the one taken by the `l2arc_feed` t

[2015-03-09 17:55] behlendorf commented on #3160
NOTE: This may be a blocker for 0.6.4.  There is clearly a potential deadlock still remaining in the code although to my knowledge @yarikoptic's workload in the only workload which has triggered it.

[2015-03-09 18:12] dweeezil commented on #3157
Regarding #3155, I was clearly wrong about other filesystems not hanging onto a lot of stuff in the linux slab.  Here's some slabinfo entries after stat(2)ing about a million files in a 3-level nested set of 1000 directories on an EXT4 filesystem:
[code]
and this is after doing the same on a ZFS file system (with an intervening drop_caches to clean everything up):
[code]
ZFS is definitely grabbing

[2015-03-09 18:40] tuxoko commented on #3157
@dweeezil
dentry and inode(znode) are all handled by kernel VFS, so there's no reason they will behave different when using different filesystem. However, dnode and dmu_buf are handled by ZFS, and dnode should be loosedly coupled with the inode(znode), so I don't think inode(znode) would hold up on to dnode.

I wonder why ZFS doesn't reclaim more aggressively, I'd like to investigate on this but c

[2015-03-09 18:53] dweeezil commented on #3157
@tuxoko Right, I mainly wanted to point out that ZFS isn't the only filesystem that uses a lot of inode-related storage.  Also, it's not clear to me that the kernel is handling large dentry cache sizes very well.  Finally, I wanted to point out that ZFS can behave much better if the arc limit is set during module load rather than after the fact.   For my part, I'm not going to be able to look into

[2015-03-09 19:01] dweeezil commented on #3160
Is there a description of the workload which triggers this problem?  My current testing rigs for the recent illumos ARC work (purposely not referring to those pull requests to minimize non-relevant links) would allow me to test this type of thing pretty easily.

One thing that sticks out to me in the original posting is the other_size of 35627695184 out of an ARC size of 40485186048 (ouch).  It wo

[2015-03-09 19:55] behlendorf commented on #3159
@FransUrbo I think you've hit on most of they key issues here, let me just try and add a little more context.  Basically the zone functionality for ZoL was never implemented because Linux doesn't provide a single direct analog for it.  Instead as @DeHackEd mentioned there are a variety of solutions with differing functionality.  At the time the most compatible and straight forward thing to do was

[2015-03-09 19:57] kpande commented on #3159
i vote for 434 as a starting point as well :+1:

[2015-03-09 20:00] FransUrbo commented on #3159
Since I don't know exactly what <code>zoned</code> _DO_, it's hard to really have an opinion if we should do anything about it. From discussions on IRC, FreeBSD don't even have that property. They have the <code>jailed</code> instead. That might be more in line with what Linux is/works...

[2015-03-09 20:03] kpande commented on #3159
FreeBSD jail is closer in its design to Solaris Zones - i'm not sure Linux has this same idea of a namespace, and if it doesn't, this property seems less useful. If there's some different namespace implementations (LXC, OpenVZ, etc) we can probably have a configurator to have 'zoned' behave different and look to the specified container format in 'zonetype'.

[2015-03-09 20:36] yarikoptic commented on #3160
workload was primarily a

[code]

command where that directory contains millions of files, symlinks and subdirectories (probably around 40mil entries altogether). Each file within there is very small (contains just a path with it).  resultant tar.gz is 16GB.
In parallel or before that load I could have had also had a find/chmod/rm sweeps on similarly "large" directories.
If necessary -- I could sh

[2015-03-09 20:47] lkateley commented on #3159
docker is similar

lk

On 3/9/15 3:03 PM, Kash Pande (Jentu) wrote:

--
Linda Kateley
Kateley Company
Skype ID-kateleyco
http://kateleyco.com

[2015-03-09 21:09] behlendorf commented on #3160
@yarikoptic you might also want to pick up #3163.  The automated testing uncovered another issue, which looks different from yours, but is still possible.

[2015-03-09 22:49] nevion commented on #3107
I've added some additional gist files:

This shows zdb -lu for each partition currently plugged into the pool:
https://gist.github.com/nevion/e3a81206a8bc40f47e60

This breaks down devices into controller and status to determine hardware correlations (I did not spot any)
https://gist.github.com/nevion/706c79a429fe1b252d9b

@ryao astutely observed the txg's of some devices are higher than in others

[2015-03-09 23:24] nedbass opened #3164 "zfsstress: PANIC: zfs: accessing past end of object 29/223"
The buildbot hit this running zfsstress.

[code]

Process listing.

[code]

Gist with partial `sysrq-t` https://gist.github.com/nedbass/bdbcef41b8b5abb8d5dc
Gist with `dbufstat -x` https://gist.github.com/nedbass/8597bd052a77a16b8a5d

[2015-03-10 00:21] yarikoptic commented on #3160
gotcha, rebuilding with 3163 and will restart/resume bombardment shortly

[2015-03-10 00:28] behlendorf commented on #3106
@dweeezil thanks for taking a look at the patch and testing it out.  I completely agree, I don't think it will make any difference for "real" workloads.  So in that sense there isn't really a regression here, aside from what this specific benchmark reports.  And given that this really shouldn't be a blocker.

However, I definitely think there are still some mystery here which need to be explained.

[2015-03-10 00:46] dweeezil commented on #3160
Another workload involving the traversal (statting of) million(s) of files and ```other_size``` is way out of control.  YABITP (yet another big inode traversal problem).  Of course, the deadlock you enountered shouldn't have happened, but with ```c_max``` at 67GB, ```size``` at 86.8GB and ```other_size``` being 35.6GB of that, it's no wonder that Bad Things™ happen.

[2015-03-10 01:09] yarikoptic commented on #3160
ain't I a unique precious user exposing myself to those Bad Things, @dweeezil ? ;) (beast rebooted with both patches in place and tar/chmod running)

[2015-03-10 03:37] andyg5000 commented on #2575
After following @MagnusMWW steps and then running zpool export pool. I was able to reboot and have my pool auto-mounted. :)

[2015-03-10 15:03] sempervictus commented on #3159
Rights delegation is probably the keystone to all of this, as @behlendorf seems to be saying. Far as the concepts of jails/zones/containers, i'd say that LXC based namespacing seems most consistent with Solaris Zones, and should probably be the target implementation for the property @ present. However, LXC is a moving target (doing the sniper dance while having seizures), so we may have to maintai

[2015-03-10 15:15] FransUrbo commented on #3159
I'm not seeing this happening any easier than asking Oracle to do it… They
hate everything Linux, and making ANY amends or simplicity for us, isn't
going to happen.

They simply live in the eighties, with their 'one branch for everything, and
everything in a tree structure that resembles the real thing'. The'll NEVER
(!!) start splitting things up and make porting it to other systems easier.
It's

[2015-03-10 15:19] FransUrbo commented on #3159
The issue get's somewhat more complicated once we've implemented 'this' (either the <code>zoned</code> or the <code>jailed</code> property). We then need to make provisions to support "the other" property and translate it into a/the Linux variant.

[2015-03-10 17:44] nedbass opened #3165 "zfsstress: ida_remove called for id=24 which is not allocated."
The buildbot hit this WARNING and GPF while destroying a snapshot during the `zfsstress` test.

[code]

[2015-03-10 21:34] ryao commented on #3155
The dnode cache is called a cache because it uses the SPL SLAB allocator via the kmem_cache_* functions. The term dnode in ZFS means "DMU object node" and is essentially an abstract inode. The only dnodes in the "dnode cache" should roughly correspond to what the Linux kernel would consider to be in-memory inodes. That said, there is a risk of long lived SLAB objects keeping SLABs from being recla

[2015-03-10 21:48] dweeezil commented on #3155
I also tend to think this and related problems are likely caused by fragmentation.  If I fill the dnode cache by traversing lots of inodes and then immediately apply memory pressure, the cache frees up nicely.  On one of my own customer's rsync servers recently, the dnode_t cache active/size ratio was only 35% and It was never being freed (spending lots of time in the arc adapt thread).

[2015-03-11 00:21] nedbass opened #3167 "GPF in spa_txg_history_data()"
Hit this while running `watch -n .1 cat /proc/spl/kstat/zfs/testpool/txgs`

[code]

[code]

[2015-03-11 01:19] nedbass opened #3168 "Dirty spill blocks not being synced"
It seems that dirty spill blocks may not get synced out to the pool when they should.  This behavior can be seen with the test blow. When I run this on a virtual machine with 2G of RAM, the last command hangs.  The `xattrtest` command is from here https://github.com/nedbass/xattrtest/tree/b_keep.

[code]
The trick is to dirty enough spill blocks (i.e. lots of 4k xattrs in this case) to drive `anon

[2015-03-11 14:12] yarikoptic commented on #3160
ok -- found unable to ssh into the box today and attaching to ipmi console showed that it seems we hit the target:
[code]
but the problem is that it seems I can't even login (I should have ran open ipmi console logged in I guess :-/) -- I will keep trying

[2015-03-11 14:46] yarikoptic commented on #3160
ok -- upon attempt to login from physical console -- it managed!
http://www.onerussian.com/tmp//zfs_system_details_20150311/
has some logs for you guys, including the messages in kern.log from that debug patch.  looking at munin reports, awkward enough L2ARC stats reporting 270GB L2ARC size seems to exceed amount of available L2ARC space (I have 200GB intel SSD drive): http://www.onerussian.com/tm

[2015-03-11 15:02] dweeezil commented on #3160
@yarikoptic Could you please add ```/proc/slabinfo```.

[2015-03-11 15:45] yarikoptic commented on #3160
@dweeezil http://www.onerussian.com/tmp//zfs_system_details_20150311-2/  now should contain all prev information (updated) + slabinfo and other goodies ;)  I am about to try flushing the caches as it was suggested on IRC in attempt to release unevitable data

[2015-03-11 15:59] yarikoptic commented on #3160
and FWIW http://www.onerussian.com/tmp//zfs_system_details_20150311-3/  should have the same info after I issues echo 3 >/proc/sys/vm/drop_caches  which I believe never returned yet.

[2015-03-11 16:21] yarikoptic commented on #3160
since the box is not reachable via network, and I wouldn't be able to run down for another 24h, I am inclined to reboot it within half an hour.  If there is any other information I could provide before then -- please let me know.  Upon reboot I will not bring the same load up (since I know that it would lock it up killing remote access) unless there is a new patch to check or need for more informa

[2015-03-11 16:32] prakashsurya commented on #3160
Points of interest from `zfs_system_details_20150311-2`:
[code]
I'm inclined to believe the workload breaks the ARC, as it seems to consist mainly of 512b buffers (perhaps spill blocks). The interesting thing, is how much data is contained in the MRU and MFU but is unevictable, so the system will just spin trying to reclaim, without making any progress. These ARC buffers are unevictable likely bec

[2015-03-11 16:42] telx85 opened #3170 "Ubuntu 14 LTS: Dataset not automatically mounting"
G'day guys,

I have an issue (bug) where ZFS is not mounting my dataset on boot up. Unfortunately it was working sweet and then I rebooted, thought I had lost everything, re-created my dataset and then found out I could have just done:

$ sudo zpool import -a

Anyway I didn't and so I lost it. But why doesn't the ZFS auto mount?

OS = Ubuntu 14.04 LTS
HDD = 2x 3TB SE Western Digital SATA drives

u

[2015-03-11 17:14] dweeezil commented on #3160
Spill blocks generally wind up in ```kmalloc-512``` which is low in this case.  The ```zio_buf_impl_t``` are likely bonus buffers which should generally track ```dnode_t```.  I've been running my testing lately with a patch which breaks down the components of ```other_size``` to help in matters like this.  I've also considered putting the bonus buffers in their own cache instead of letting them sh

[2015-03-11 18:04] ryao commented on #1161
I noticed when reviewing documentation that it is possible for userspace to use `fctntl(fd, F_SETPIPE_SZ, size)` to change the kernel pipe buffer size on Linux to increase the pipe size up to the value specified in /proc/sys/fs/pipe-max-size. We can use `fstat` to check if the fd is of type  S_IFIFO so that we only do this on actual pipes. I thought of it when working on something else, so I am ma

[2015-03-11 18:23] snajpa commented on #3160
We're having problems with ZFS induced lock-ups really often too, there's at least one lock up a day, but it's gotten worse than it has been. Since about ~4 weeks ago on every lockup I can't even SSH into the box to get the traces (rootfs isn't on ZFS, it's ext4, ZFS is only for containers).

It happens mostly when the workload shifts - we're balancing with all of the RAM used for applications and

[2015-03-11 18:28] behlendorf commented on #3167
Looks like we must have some kind of race here where the memory referenced is being released concurrently with the `kstat_seq_show`.  This is supposed to be prevented through the `ksp->ks_lock` which is held taken in kstat_seq_start and not released until kstat_seq_stop.

[2015-03-11 18:34] kernelOfTruth commented on #3160
@snajpa I know it's not really a solution but would rate-limiting help as a temporary mitigation ?

[code]

I remember having read about a similar issue (rsync- & load-related) of Btrfs where this temporarily helped

[2015-03-11 18:40] ryao commented on #1161
Those additional pushes were just for changes to the commit message. Anyway, the triviality of this piqued my interest, so I implemented it, compiled  it and verified with strace that the right syscalls were being done on a simple test case. Someone else will need to verify that it actually provides a benefit.

[2015-03-11 18:44] snajpa commented on #3160
@kernelOfTruth I've thought about that, but then we wouldn't manage to back up all the CTs on time before the daily peak load, when the IO capacity is needed for more useful things, than doing backups. Also this doesn't do anything about custom backups, which people do on their down in their containers.

[2015-03-11 19:06] Bronek commented on #3170
You forgot to set cachefile , I think it's not set by default.

[2015-03-11 22:16] behlendorf commented on #3160
I agree with @prakashsurya , for this workload it definitely looks like for some reason there is a large amount of metadata being pinned in the ARC.  This is probably related to the huge number of inodes (10+ million) in the Linux VFS inode hash.  Other filesystems on Linux have run in to similar kinds of issues when the hash get's this large.

If you are willing to roll a custom kernel one possib

[2015-03-11 23:39] kernelOfTruth commented on #3160
@behlendorf not sure what you're looking for exactly but search turned up the following:

https://lkml.org/lkml/2011/8/14/110
http://serverfault.com/questions/561350/unusually-high-dentry-cache-usage
https://www.kernel.org/pub/linux/kernel/people/akpm/patches/2.6/2.6.7/2.6.7-mm1/broken-out/vfs-shrinkage-tuning.patch

not sure if it helps though ...

[2015-03-11 23:45] yarikoptic commented on #3160
On Wed, 11 Mar 2015, Brian Behlendorf wrote:

but in theory why "large amount" could be of relevance here --
some int overflow deep inside?

I could try a custom kernel build.  But in the long run I hope to
get some more sustainable resolution... could anyone help to locate any
of the patches Brian had in mind?

so you think it is just a stock linux kernel issue and not ZFS to
blame?  then it defi

[2015-03-11 23:49] ryao commented on #1161
Would someone who benefits from mbuffer mind doing a benchmark of ryao/zfs@3530cf2bc933e0fc6a035026934af8976542bfff against the unpatched userland binaries with and without mbuffer? It should outperform mbuffer in situations where a single core cannot keep up with the two additional copies using mbuffer requires while eliminating the need for it.

[2015-03-12 00:36] telx85 commented on #3170
Just tried and no go.

$ sudo zpool set cachefile=/etc/zfs/zpool.cache

It then creates an unreadable file (maybe by design although I wouldn't think so) - see attached

![zpool cache](https://cloud.githubusercontent.com/assets/2740134/6609889/e87387d0-c892-11e4-8ed4-3f59b7279c17.png)

[2015-03-12 04:11] pmoroney commented on #3170
I am having a problem that may be similar.
My initrd is calling the following command:
mount -t zfs -o zfsutil rootssd/ROOT/gentoo /mnt/root
And I am getting a "filesystem 'rootssd/ROOT/gentoo' cannot be mounted, unable to open the dataset" error
If I do a "zpool import rootssd -R /mnt/root" instead, it works perfectly.
I have verified that I have a good cache file.

[2015-03-12 04:32] telx85 commented on #3170
Hmmm, I'm a bit of a noob so I don't even know how you find what your initrd is calling.

The work around that I currently have (probably completely wrong and bad and will kill my neighbours cats) is this in my crontab

@reboot sudo zpool import -a >> /dev/null

[2015-03-12 09:29] snajpa commented on #3160
@behlendorf I'm usually on HEAD or very close to it, with AIO function mappings commented out (https://github.com/vpsfreecz/zfs)

I personally have no problem with rolling a custom kernel, as long as it has any chance of smoothing things out. At this point, I'm willing to move a mountain to get the situation stabilized.

[2015-03-12 10:12] snajpa commented on #3160
I also forgot to mention that I've set up periodic dentry cache flushing by echoing 1 to drop_caches every 5 minutes and the issues still persist. So I'm not really sure there's (only) dcache to be blamed. Any suggestions on how to help you guys chase this madness are more than welcome, this problem is on the absolute top of my priorities list.

[2015-03-12 16:10] devsk commented on #3106
I have been running the master for last 10 days or so. I find my scrub speeds have decreased somewhat (roughly 3hours instead of 2.5hours for one pool, 9hours instead of 8 for another, both use lz4 compression) compared to 0.6.3. Not sure if this bug is the culprit.

[2015-03-12 19:10] samvde opened #3173 "systemd init scripts are not installed using the ubuntu zol ppa"
I am testdriving systemd on Ubuntu 15.04 with zfs as root filesystem. The system works great, however it seems the systemd initscripts are not installed on my system, leaving one zpool exported and a few filesystems unmounted at boot. This worked fine with upstart.

When looking at the dkms folders I can see the scripts were pulled correctly from git (at least I assume that's why the're there):
ll

[2015-03-12 19:22] FransUrbo commented on #3173
This belong to the https://github.com/zfsonlinux/pkg-zfs repo, NOT this repo.

[2015-03-12 19:33] samvde commented on #3173
Yes you are of course right, I'll try to fix it.

[2015-03-12 19:34] samvde commented on #3173
Close: move to correct repo.

[2015-03-12 19:34] #3173 closed

[2015-03-12 20:53] yarikoptic commented on #3160
FWIW, I have inserted a cold spare to that box, formatting it ext4 and filing it up with that junk which brings down zfs... let's see how that single drive stands... any particular metrics to look out for?

[2015-03-12 21:41] ryao commented on #2835
Is there anything left for us to do here?

[2015-03-12 21:47] behlendorf commented on #2835
Not a thing.  I just lost track of this one.  Closing it out.

[2015-03-12 21:47] #2835 closed

[2015-03-12 22:52] nedbass commented on #3168
Here's an easy reproducer that demonstrates the problem.  Creating and listing symlink with a long target name (long enough to kick in a spill block) causes a dbuf to get stranded on the anonymous list. The buffer isn't dropped unless we drop caches or (presumably) under memory pressure.

[code]

[2015-03-12 23:19] behlendorf commented on #3168
I just wanted to add that this appears to be a fairly long standing issue, back to 0.6.1 at least.  It absolutely needs to be addressed but shouldn't be viewed as a regression.

[2015-03-12 23:20] nedbass commented on #3168
I also see this behavior on FreeBSD so it's not specific to this port.

[2015-03-12 23:34] dpickford opened #3175 "Unable to promote spare to replace failed drive; spare busy."
I have a raidz2 volume with log/cache and 2 spares running on 3.2.0-4-amd64 kernel on Debian 7.

I lost a drive (these 3TB seagates die like flies) and after it rebuilt onto the spare, I'm unable to replace the offline drive, and get a drive busy error.

zpool replace storage ata-ST3000DM001-9YN166_S1F0F33C ata-ST3000VN000-1HJ166_W73036ML
cannot replace ata-ST3000DM001-9YN166_S1F0F33C with ata-ST3

[2015-03-13 00:21] behlendorf commented on #3160
@snajpa @yarikoptic this afternoon I took a careful look at this and I think I've spotted the root cause of the problem.  I'd like to verify I'm on the right track tomorrow morning so I can potentially turn around a patch before the weekend.  However, to do that it would be very helpful if you could post the exact kernel version you're using.

[2015-03-13 01:41] yarikoptic commented on #3160
@behlendorf sounds promising! ;)  mine is

[code]

[2015-03-13 03:05] kernelOfTruth opened #3176 "Potential data abort issue (memory access over @oend by @ref and @op) during lz4 decompress with corrupted or invalid compression data"
JeHyeon (Tom) Yeon from windriver.com found out, if compression
data was corrupted or altered in any way to be invalid,
this could lead to memory accesses over @oend by @ref and @op

Below is his lkml message and link:

If the part of the compression data are corrupted, or the compression
data is totally fake, the memory access over the limit is possible.

This is the log from my system usning lz4

[2015-03-13 05:40] chrisrd opened #3178 "zfs_sb_create: Large kmem_alloc(70800, 0x1000)"
From zfsonlinux/zfs@4c7b7ee on linux-3.18.9

[code]

[2015-03-13 07:20] snajpa commented on #3160
We're using OpenVZ RHEL6, from 2.6.32-042stab093.4 to 2.6.32-042stab104.1. I've had one node to lock up just now, it was clearly because it has run out of memory and this dentry/dnode cache problem is highly visible there to be blamed.

Take a look at the top of slabtop -o -s c:
[code]

[2015-03-13 08:36] alexanderhaensch commented on #3005
Some hint emerged yesterday: The events seem to happen if a recursive chmod is executed.
Is it possible at all that chmod is producing some delay in writes?
I will try to confirm that the events are correlated with chmod -R. From the times the events occur and the execution of recursive chmod fits together.

[2015-03-13 15:13] kernelOfTruth commented on #3176
Seemingly in connection with the patch in the pull request applied - data occured in some places of my local filesystem [data and metadata corruption]

which could be fixed by scrub/resilvering

I'm not sure if those were caused solely by that patch or some other was behind it

Anyway: there's a potential problem and there should be a way to fix it

[2015-03-13 15:32] ryao commented on #3176
Corruption should cause a checksum failure, which would prevent this from happening. Bit flips and hypothetical software bugs that cause the memory buffer to get clobbered would be able to race with the checksum calculation, which would allow this to happen. Specifically, before the checksum is calculated on writes and after the checksum is calculated on reads. I consider the risk here to be equiv

[2015-03-13 15:45] kernelOfTruth commented on #3176
@ryao thanks for passing by ! - I agree, it's low priority given that there was no relating issue posted yet or no reports of such kind have been posted in the mailing list

what baffles me  is the following:

[code]

I'm not sure if there were no checksum errors at all and still corruption
because I did several tests (and thus reboots) which lead to reset of the checksum error counter (but experi

[2015-03-13 16:19] ryao commented on #2302
This might be fixed by #3172. However, we will need to stress test ztest and not see this for an extended period of time before there could be any certainty.

[2015-03-13 16:39] Xaroth commented on #2908
Might as well jump on this one a bit late

libzfs-python was made by me as a test to see if it was feasible to actually make an API for libzfs.

Turns out, that, while possible, it's a hell of a job to keep up-to-date with everything.. keeping in mind that you have several different 'active' versions (git head, <distro>-stable, <distro>-testing, etc), means you have to accomodate for all those ver

[2015-03-13 18:02] albionxyz opened #3180 "Failed to create mountpoint"
For some reason the datasets of a pool of mine won't mount:

cannot mount '/zpool1/dataset1': failed to create mountpoint

I get for each dataset. For my other pools I get for some datasets
cannot mount '/zpool2/dataset2': directory is not empty. It might be related to it.

[2015-03-13 18:14] tuxoko commented on #3176
@kernelOfTruth
See my comments in #3177

[2015-03-13 23:18] simonbuehler commented on #2831
@ryao any idea? do you guys think a professional data rescue service can salvage data off the disks?

[2015-03-14 02:31] behlendorf commented on #3160
@yarikoptic can you please see if the patch in #3181 improves things.  I was able to reproduce the issue you've described and the patch

[2015-03-14 03:01] yarikoptic commented on #3160
Thank you @behlendorf .  I will try it out asap.  Meanwhile was bombarding that single spindle with ext4 partition on it with similar load and it having even more inodes that ZFS partition... seems surviving well (and unfortunately delivers almost 10x throughput on that simple tar'ing test than when I did it on ZFS)

[2015-03-14 03:02] kpande commented on #3145
any chance at a fix for this @behlendorf ? this is causing grief on a lot of systems that were fine before (maybe recent changes ) switching to HEAD newer than -175

[2015-03-14 03:06] kpande commented on #3145
[~sys/disk/by-id]-[root@h]-[1]-[873]
[:(] # zpool import -d /dev/disk/by-id
   pool: tank
     id: 5884798594334896503
  state: UNAVAIL
 status: One or more devices contains corrupted data.
 action: The pool cannot be imported due to damaged devices or data.
   see: http://zfsonlinux.org/msg/ZFS-8000-5E
 config:

	tank                                         UNAVAIL  insufficient replicas
	  mirro

[2015-03-14 04:28] yarikoptic commented on #3160
hm... probably unrelated to the patch but upon build/install/reboot pool wasn't imported as it should have and did before...  may be it is that additional spindle I have inserted to be blamed since I believe I might have initialized pool using sd? names and new drive when imported was sdj which is according to zfs import is now used for one of the system drives... I will give it a fresh look tomor

[2015-03-14 18:55] perfinion commented on #2505
I have been running this patch for a while anyway on my laptop. I just ran into this overflow as well so it is clearly not enough. It is in a different function but also a size overflow issue. I was using a ZVOL as the disk in a VM and mkfs.ext4 hung during formatting and this error popped up.

Mar 15 02:30:54 meriadoc kernel: [29900.040964] PAX: size overflow detected in function dmu_read /var/tm

[2015-03-14 23:24] dweeezil opened #3183 "Continued deadlocks following kmem-rework merge"
As outlined in the kmem-rework merge, and follow-up commits such as 4ec15b8, there are and may be additional code paths within ZFS which require inhibiting filesystem re-entry during reclaim.

I've identified several conditions under which a system can be deadlocked rather easily.  The easiest instance to reproduce involves the interaction beteween ```zfs_zinactive()``` and ```zfs_zget()``` due to

[2015-03-14 23:46] snajpa commented on #3160
I was just browsing through all the changes since 0.6.3 tag, because I was wondering why 0.6.3 didn't have this behavior - it wouldn't evict any data in favor of metadata, and I came across https://github.com/zfsonlinux/zfs/commit/da8ccd0ee0d4eed08200e706cb2ca1da3bdfb5cf;

I think this isn't the best approach - consider my use-case -> I have over 80 containers per node and if anyone decides to cre

[2015-03-15 00:12] kpande commented on #3145
It may be useful to know, I had an issue setting up a Gentoo server with a GPT label disk - the pool would not import at boot unless I remove the whole disk devnode. On the other hand, I was able to use an MBR layout without issue.

[2015-03-15 01:20] malexandvsc opened #3184 "0.6.3-235_g7f3e466"
zfs bleeding, test new 649T nested raidz3 pool, approx. 100 concurrent rsync processes over nfs exports, local nfs imports; no ZIL/L2ARC disks, no compression

symptoms: nfs exports stuck, running local rsync process stuck, new file create/delete ok
peculiarity: zpool in 178 lsi megaraid 0 disks (not jbod)

currently re-running with
vm.min_free_kbytes 512MB
options zfs zfs_arc_max 128GB (half RAM)

[2015-03-15 01:38] snajpa commented on #3160
Well, setting zfs_arc_meta_limit doesn't really do much, ZFS does whatever it wants anyway - it keeps increasing arc_meta_max, thus arc_meta_used increases as well.

[2015-03-15 01:56] kpande commented on #3066
@behlendorf this issue is still present in latest builds.

[2015-03-15 01:57] mike503 commented on #3066
+1. locks it up too, cannot control-C out of it or kill -9 the process. have to reboot to clear it out.

dpkg -l | grep zfs:

ii  dkms                                2.2.0.3-1.1ubuntu5.14.10+zfs10+utopic
ii  libzfs2                             0.6.3-15~utopic
ii  mountall                            2.54ubuntu0.14.10.1-zfs1
ii  ubuntu-zfs                          9~utopic
ii  zfs-dkms

[2015-03-15 02:13] snajpa commented on #3160
Reverting https://github.com/zfsonlinux/zfs/commit/da8ccd0ee0d4eed08200e706cb2ca1da3bdfb5cf seems to do the trick.

[2015-03-15 02:20] snajpa commented on #3160
OK, I take that back, it took a while, but arc_meta_used has overgrown the limit and refuses to go back.

[2015-03-15 02:25] dpickford commented on #3175
It's been a couple of days since I posted this.  I'm happy to move this to a mailing list etc. if that is a better forum.  I'm happy to run any additional tests/diagnostics if needed.

Thanks.

[2015-03-15 04:47] dweeezil commented on #3183
This patch helps the most common cases.  I can still get other deadlocks, however.
[code]

[2015-03-15 05:32] kpande commented on #3183
nice, thanks so much for the detailed write-up - this is what's been happening when I run stress tests and deadlock using SCST ( #3127 )

[2015-03-15 06:21] kpande commented on #3184
May be some fixes coming in #3050 and #3183

Does this occur with ZFS pre-kmem rework?

[2015-03-15 16:03] kernelOfTruth commented on #3157
Seems like the issue is *resolved (reclaim seems to work fine)* - I'm not really sure what of the modified settings made that change possible but I guess that it's a combination

posting the data here for reference if anyone should encounter an ever-growing ARC:

Keep in mind that this is tailored toward a desktop, home backup and workstation - kind of setup

Kernel running *3.19* with following m

[2015-03-15 16:05] kpande commented on #2990
[code]

[2015-03-15 16:07] kpande commented on #2990
The above system was observed with a load over 30 for about 15 minutes. Nothing out of the ordinary was happening.

[2015-03-15 16:08] jimsalterjrs opened #3185 "incorrect scrub status given when multiple pools scrubbed"
When scrubbing multiple pools on the same box, scrub output on zpool status shows "slow scrub" and does not give estimated completion even when scrub is visibly proceeding (by change of % complete) at > 100MB/sec.

Output looks like the following:

`286G scanned out of 1.70T at 1/s`

Note lack of units.  That's not a typo, that's what the scrub shows.

This only happens when both of my two pools a

[2015-03-15 16:17] kernelOfTruth commented on #3157
Below follow the output of /proc/slabinfo, cat /proc/meminfo and /proc/spl/kstat/zfs/arcstats during the restore operation of 1.7 TB from external USB 3.0 disk (both were ZFS pools)

ZFS ARC stats, 1 TB in, mainly "larger" (hundreds MB to GB): http://pastebin.com/uASLYsqW
(close to beginning, a few small files, others several hundred MB, gigabytes and mostly close to 10 MB)

ZFS ARC stats, 1.3 TB,

[2015-03-15 16:50] kpande commented on #3160
@snajpa Check out #3183

[2015-03-15 16:53] snajpa commented on #3160
@kpande I saw that about an hour ago, but my situation isn't a deadlock (luckily). arc_meta_used has just overgrown the limit and there's nothing which would force it to crawl back down. I've tried echoing 2 to drop_caches, but that bash process is now spinning in kernel space at 100% CPU.
Although it did help MFU to gain some space and increase hit rate on it, because it did drop some of the dnod

[2015-03-15 16:54] kpande commented on #3160
oops - I assumed deadlock because the original post here was about a deadlock.

[2015-03-15 18:06] malexandvsc commented on #3184
assuming that it relates to deadlock stalled allocation requests - can a list of locks be dumped cyclically?

2nd run went longer (approx. 8 vs. 4 hours) until no more I/O from existing processes visible with zpool iostat. Not tested with pre-kmem.

I/O seems to pause cyclically - similar to flushing pages behaviour. Both the period between 0 reported pool iostat and the duration of the phases see

[2015-03-15 18:17] kernelOfTruth commented on #3183
@dweeezil much appreciated ! I'll add that patch on top of my stack

Everyone has their kernel built with CONFIG_PARAVIRT_SPINLOCKS and thus paravirt support ?

There are also seemingly lockups that tend to occur with higher probability when that option is NOT enabled: https://github.com/zfsonlinux/zfs/issues/3091

[2015-03-15 18:20] kernelOfTruth commented on #2746
@lintonv please take a look at https://github.com/zfsonlinux/zfs/pull/3171

[2015-03-15 18:33] snajpa commented on #3183
For example RHEL6 kernel is built without CONFIG_PARAVIRT_SPINLOCKS.

[2015-03-15 18:41] bachmarc commented on #3160
Just to let you know: I am struggling as well with a kswapd0 at 99% CPU and the kernel tells me about hung task 120 seconds ... txg_quiesce.

Shall I open a ticket or just hope Debian Jessie and ZOL will one day fall in love based on this ticket?

[2015-03-15 19:38] kernelOfTruth commented on #3157
So here the data after:

rsync (1.7 TB) [ZFS /home to ZFS bak] (several hundred megabytes transferred)
stage4 (system backup from Btrfs partition to ZFS; 7z)
updatedb (system [Btrfs] + ZFS /home partition)
2x rsync (1.7 TB) [ZFS /home to ZFS bak] (5-10 GB transferred)

http://pastebin.com/JgUGMaxi

other_size has twice the size of data_size, meta_size close the size of meta_size

zio_buf_16384 nev

[2015-03-15 20:43] kernelOfTruth commented on #3157
ok, decided to add l2arc

[code]

updatedb with additional imported pool, then another rsync: http://pastebin.com/DgxWtjR5

after export of the additional pool zio_buf_16384 now even went down to 553472K - otherwise it would only ever grow;

dnote_t is at around 1156928K

SUnreclaim:      3544568 kB

Seems like everything works as intended now :+1:

[2015-03-15 20:46] snajpa commented on #3157
@kernelOfTruth lucky you, my SUnreclaim still just keeps on growing. But unlike you I'm stuck with RHEL6 kernel and can't move on to anything newer (OpenVZ).

[2015-03-15 20:59] kernelOfTruth commented on #3157
Thanks :)

@snajpa that's unfortunate :/ Does the support contract allow compiling a different kernel out of the sources (I'm eye-balling towards the Paravirt stability issues since you also mentioned lockup problems in #3160 and that RHEL6 kernels aren't compiled with it)

I also just recently added that support since I only use virtualbox for virtualization purposes

From what I read there seem

[2015-03-15 22:56] chrisrd commented on #2505
So, somewhere here:

[code]

The PaX warning is probably fair enough, given `tocpy` and `bufoff` are `int`s and the only non-`uint64_t` variables involved, and there's nothing in this immediate code that guarantees the calculations won't overflow an `int`. (Although limits elsewhere almost certainly provide this guarantee.)

To avoid the warning I guess simply changing `tocpy` and `bufoff` to `uin

[2015-03-16 02:08] kpande opened #3186 "fileset says mounted when it is not"
I just had an interesting issue where I couldn't mount or unmount a fileset. The fileset is /var/www and it had "overlay=on" when this issue showed up after a reboot.

I noticed Nagios said '404' for my server, and that I couldn't mount/unmount/change the mount properties: https://gist.github.com/kpande/6692fe231e16e10b7dfd

It says the filesystem is mounted _and_ it is listed in mtab, but the fil

[2015-03-16 02:23] dweeezil commented on #3183
The patches in dweeezil/zfs@f04f972 make my test system much more resistant to deadlocks but there are still some remaining.

I'd also like to note that blaming this on the "kmem-rework merge" is not totally accurate.  This class of deadlocks are more correctly related to deprecating KM_PUSHPAGE and relying instead on the correct use of PF_FSTRANS.  The merge simply gave us the ability to use the

[2015-03-16 02:36] kpande commented on #3186
I'll test sending this to a different pool using -p tomorrow and see if the issue transfers with the snapshot properties. Using send/recv without -p allowed me to 'repair' the dataset.

[2015-03-16 03:46] dweeezil commented on #3183
After realizing how hard I had to stress the system to get a deadlock following the patch I mentioned above, I decided to back up a bit and try this same test on a non-lock-debugging kernel and pre-kmem-rework SPL/ZFS (zfsonlinux/spl@47af4b7 and d958324f) and I was able to get a deadlock by running 2 each of the pair of stress testing scripts in https://github.com/dweeezil/stress-tests.

For compl

[2015-03-16 03:51] dweeezil commented on #3183
I'm withdrawing my last comment.  More information as it becomes available.

[2015-03-16 04:59] dweeezil commented on #3183
In a previous posting, I suggested these deadlocks would also occur prior to the kmem-rework merge.  That actually is not quite the case, however, there is some definite Bad Behavior when running these stress tests pre-kmem-rework merge (SPL at zfsonlinux/spl@47af4b7 and ZFS at d958324f9) on a system with memory limited to 4GiB.  Sorry for the confusion (I wasn't running the versions I though I wa

[2015-03-16 13:36] bachmarc opened #3191 "CPU hogging: Debian Jessie 3.16.0-4-amd64"
HI,
I am not sure if this is just a duplicate or a new issue...
I installed a Debian system with 4x4TB disks  in a Raidz2 pool on top of 4 dm-crypt blockdevices.
When ever I try to copy "more" files into that pool I have the following observation.
This times 30k raw pics from Lightroom archive.... smbd was down, with it it blocks faster.

CPU at 100% mostly used by kswapd0
System is slow but is ru

[2015-03-16 14:07] lintonv commented on #2746
@kernelOfTruth Thank you, but the bottle neck I am seeing looks like the ZFS SEND code. The main problem is that it is a highly serial operation as it reads the blocks from disk and builds the SEND stream.

I had a ZFS-DISCUSSION thread on this and the Delphix team is working on a prefetch mechanism that will ensure the blocks already exist in cache to mitigate the serial nature of the SEND operat

[2015-03-16 15:39] FransUrbo commented on #3191
Please edit the issue and use the 'tripple backticks' trick for the listings and change the subject to something like <code>CPU hogging</code> (sorry, couldn't come up with something better in a hurry :).

[2015-03-16 15:44] kpande commented on #3191
does this occur with 0.6.3(-r1/r2) ?

[2015-03-16 15:49] bachmarc commented on #3191
This is default from debian-zfs package from this side...

[code]

[2015-03-16 15:52] kpande commented on #3191
that's just a meta package.

can you do 'dmesg | grep -e ZFS -e SPL'

[2015-03-16 15:53] bachmarc commented on #3191
[code]

sure, I like the listing feature

[2015-03-16 15:58] kpande commented on #3191
can you paste the command you used to create the pool? You can fetch it from `zpool history | head -n1`

[2015-03-16 16:00] bachmarc commented on #3191
[code]

[2015-03-16 16:04] kpande commented on #3191
you may be hitting a raidz2 geometry limit. can I ask why you're using raidz2 instead of striped mirrors? mirrors allow you to expand two disks at a time, raidz2 is limited to your initial configuration and might not work well with less than 6 drives. others here are more familiar with raidz and can give precise pointers on how to use it appropriately.

https://groups.google.com/a/zfsonlinux.org/f

[2015-03-16 16:05] yarikoptic commented on #3160
ok -- the beast locked up but now it seems a bit differently:  I do not remember seeing ZIL mirror drives used anyhow in previous lock-downs (or used at all for that matter -- no applications requiring sync so far) but ATM those poor SSDs get bombarded  (not sure if for I or O), and I have missed the point when system was still somewhat responsitive to collect the information -- attempts to login

[2015-03-16 16:06] kpande commented on #3160
Can you set up a remote syslog daemon to capture messages when the server is unreachable?

[2015-03-16 16:18] bachmarc commented on #3191
Hi,
to be honest because this hardware had exact 4 SATA ports left and adding more disks is no option.
With 4 disks in raid6 I can lose 2 random disks, with raid10 I can just hope two on one side die at same time. Thats all...
I don't care about performance as long as it is close to 1GBit/s-Lan

And if raidz2 command with 4 is defined it should work ;o)....  how can you know it is because of raidz

[2015-03-16 16:19] yarikoptic commented on #3160
yeah -- would need something like that Iguess although those reports hopefully also end up in syslog/journal files... looking at the iostat reports in one of the screen sessions where I was still connected: may be it wasn't ZIL partitions but OS partitions, since I see high IO on the md0 which is software RAID for the OS... so probably no ZIL to blame, sorry for misjudgement (and it was primarily

[2015-03-16 16:22] yarikoptic commented on #3160
note -- that deadlock was somewhat "incremental" -- those mssages started to appear but that "tar" process still was squirting some data from time to time (some times 0bps some times 20kbps) until it went completely dead.  my fault that I haven't prepared to run my reporting thing immediately -- may be I should automate that right upon receving any worrisome msg in kern.log

[2015-03-16 16:26] kpande commented on #3191
you can lose two random disks but the rebuild time encompasses all devices and can be much longer than when using mirrors due to how the system must use checksum and parity.. the longer the rebuild time, the more likely you're to lose more drives.

[2015-03-16 16:29] kpande commented on #3160
can you run iotop in a separate window so you have a snapshot of which processes were using I/O during crash? :-)

[2015-03-16 16:40] bachmarc commented on #3191
Most likely I will lose one at a time... rebuild time is irrelevant because I don't need the system to by 24/7/365 at full performance. It may run for 2 days to resilver...

And if a second disk decides to end up life during that 2 days .... ok its raid6. Thats why I preferred this over a mirror that would need 3 disks for same.

But this is all not the point: I reported a potential bug... I know

[2015-03-16 18:41] yarikoptic commented on #3160
for "during crash" I would need to somehow memorize that particular moment I guess since at times I observe the beast only post-mortem after few hours of deadlock

[2015-03-16 20:28] kpande commented on #3156
this could be somewhat related to the issues in #2844 #2876 #3145

[2015-03-16 21:21] tuxoko commented on #3183
@dweeezil
Nice catch, but I have a stupid question.
What is this mutex ```ZFS_OBJ_HOLD_ENTER``` used for? I can't make any sense out of it.

[2015-03-16 22:19] yarikoptic commented on #3160
btw -- here is curent munin report which also shows that problematic point:
http://www.onerussian.com/tmp/munin-lockdown-20150316.html#zfs
ZFS ARC Size plot shows that size started to grow linearly from some time earlier today and "Frequently used cache size" (size - p  from arcstat if I got it right for that point) caught up with it.  May be there is anything else which would be of interest

[2015-03-17 06:02] tuxoko commented on #3160
@behlendorf
There's seem to be a lock inversion between l2arc_buflist_mtx and HDR_LOCK.
In arc_release, we hold HDR_LOCK then l2arc_buflist_mtx.
However, if we hold l2arc_buflist_mtx -> direct reclaim -> arc_buf_remove_buf -> HDR_LOCK (deadlock).
So, l2arc_buflist_mtx should be FSTRANS.

Also, we need to find if there are other locks that would be held inside a FSTRANS lock. And if they would also

[2015-03-17 06:44] tuxoko opened #3192 "[Proof of concept] A direct-reclaim excercising mechanism"
Hi all,

In light of the recent deadlock issues related to direct reclaim after the kmem-work.
I wonder if we can come up with a direct reclaim excercising mechanism.

My Idea is that we could hook up a stub code into kmem_alloc macro and friends. And that they will check the FSTRANS flag, if it's not set, then we by some chances calls into direct reclaim paths.

It would also be great if it could

[2015-03-17 12:25] bachmarc commented on #3191
I reduced ARC limit to 3GB and at least a scrub run passed successfully.
I copy again 1.4 TB testdata and see what happens...

Anyway it always provides a bitter taste if you cannot predict if for example a rsync would be possible or additional samba or user caused ram consumption would end up in a kswapd0 zombie-run.

Can I support the dev team with additional information, just let me know in cas

[2015-03-17 13:23] yarikoptic commented on #3160
@behlendorf I will wait for your input on #3193 to either I should check it out -- in conjunction or instead of previous fixes?

[2015-03-17 13:35] kernelOfTruth commented on #3160
@yarikoptic there seem to be lots of potential places where a deadlocks could occur

since those patches don't seem mutually exclusive - I'd go for both:
https://github.com/zfsonlinux/zfs/pull/3193
&
https://github.com/dweeezil/zfs/commit/f04f972
(referenced in https://github.com/zfsonlinux/zfs/issues/3183)

let's see what @behlendorf 's input is on this

[2015-03-17 13:44] kernelOfTruth commented on #3160
referencing #2990 & #2934 , error messages look similar and related

[2015-03-17 13:49] kernelOfTruth commented on #3160
everyone seems to  be running at least a L2ARC, but also a ZIL, like mentioned in
https://bbs.archlinux.org/viewtopic.php?id=191777

?

CC: @kpande @ioquatix

[2015-03-17 13:52] kernelOfTruth commented on #2934
@behlendorf I'm pretty sure that I saw these error messages with a drive that was sort of behaving badly and after a few weeks (or 1-2 months) later it wound up showing thousands of defect/reallocated sectors and then went unusable (continually producing errors, taking ages to do things)

[2015-03-17 14:38] kpande commented on #3160
I didn't ever have my system lock up - it just appears to have excessively long TXG times occasionally. That box running BackupPC runs latest HEAD and hasn't deadlocked in a couple years.. just concerned whenever dmesg errors pop up. It's a headless server so I'm not usually looking at it or using any services on it while the errors pop up.

[2015-03-17 17:29] tuxoko commented on #3125
Hi, @Lalufu
The strace links are dead. Could you repost them?
I would like to look into it a bit.

[2015-03-17 17:53] yarikoptic commented on #3160
Interesting development as my system seems to be going to lock down (size of ARC cache started to grow beyond max size, which before as a result went to lock down): arc_adapt is now at 100% CPU, there is little to no I/O on ZFS (I have suspended that tar|pigz task), arcstat.py reports 0 activity too.  Information about the system is here:
http://www.onerussian.com//tmp//zfs_system_details_20150317

[2015-03-17 17:55] tuxoko commented on #3103
It seems that it tries spl-dkms before kernel header is installed.
Maybe the dependency isn't setup in the spl-dkms package?

[2015-03-17 18:25] kpande commented on #3160
@yarikoptic posted this link to flame graph on IRC: http://www.onerussian.com/tmp/perf-IO-while-busy-arc_adapt.svg

[2015-03-17 18:34] yarikoptic commented on #3160
@ryao :  to mitigate 100% CPU looping of arc_adapt I thought to attach to arc_adapt with gdb and help it quit that loop/function.  But blunt attempt resulted in "operation not permitted".  Is it possible at all?

[2015-03-17 19:00] tuxoko commented on #3160
@yarikoptic I don't believe you can attach to a kernel thread, unless you are trying to debug a guest kernel.
arc_adapt seems to be running in 100% trying to evict ARC buffers, but doesn't do it fast enough.
I haven't got the resource to try to reproduce this kind of issue. But I might be able to do so a few days later.

[2015-03-17 19:05] yarikoptic commented on #3160
@tuxoko thanks for chiming in!  But most probably it is just the same issue what @snajpa already pointed out and suggested a fix  https://github.com/vpsfreecz/zfs/commit/e0619c0c58eea2740e9e9e08ed7f05abed51c74c
I guess ultimately I just need to wait for @behlendorf to provide reworked #3181 patch . gdb excercise was primarily to mitigate the problem "on the fly"

[2015-03-17 19:42] kpande commented on #3160
@tuxoko I can give you access to test machines - let me know what kind of hardware you need. I've got a DL380G6 with 36GB RAM we can netboot via iscsi to an ext4 root filesystem that's actually hosted on a ZFS box I'm running. The test server can be snapshotted or rolled back using my ZFS-based web UI. I've got 320mbit connection so it should be comfortable to work on.

[2015-03-17 19:56] tuxoko commented on #3160
@kpande
That sounds really awesome. I'd love to work on that test server. And you also have an SSD, which is great because I haven't really trying out l2arc myself...
Anyway, you can send me private email tuxoko@gmail.com to discuss this.

[2015-03-17 21:51] kpande commented on #3160
@tuxoko I emailed you from @tripleback.net but not sure it went through

[2015-03-17 22:16] kernelOfTruth commented on #3183
not exactly sure under which issue or pull-request to put this but

http://marc.info/?l=linux-kernel&m=142601686103000&w=2
[PATCH 0/9] Sync and VFS scalability improvements

seems related and could be helpful in countering some lockups

[2015-03-17 23:18] bachmarc commented on #3191
Ok,  3gb arc is not a game changer... after 500gb of 1.4tb the machine ended up with kswapd0 on high cpu load.

This is a show stopper :(

[2015-03-17 23:46] kernelOfTruth commented on #3191
@bachmarc please give the updated https://github.com/zfsonlinux/zfs/pull/3181 patchstack a test

[2015-03-18 00:25] nedbass opened #3195 "VERIFY3(zap->zap_u.zap_fat.zap_phys->zap_magic == 0x2F52AB2ABULL) failed (0 == 12703150763)"
I can reliably hit this assertion on master (as of commit e023409) running the zfsstress test from http://github.com/nedbass/zfsstress.  I disabled the script that randomly changes the `recordsize` property and still hit it.  Afterwards the directory containing the file being opened is corrupt.  The directory zap contains entries for objects that don't exist.  i.e., an `ls -l` listing will contain

[2015-03-18 04:23] dweeezil commented on #3183
Without addressing either @tuxoko's last question or the posting referred to by @kernelOfTruth (both of which I'd like to address ASAP), here's a quick update on this issue:  Although the patch(es) in https://github.com/dweeezil/zfs/tree/post-kmem-rework-deadlocks have made my test system survive the stress testing much better, there are still some more deadlocks I can reproduce and need to track

[2015-03-18 10:30] bachmarc commented on #3191
@kernelOfTruth thanks to CET and west coast time zones this hint is already obsolete after my breakfast ;o)
I'll wait what is outcome of #3181 was just bad luck that I started my zfs live with a memory leak.

[2015-03-18 11:32] kiranfractal commented on #2160
What kind of workloads the prefetch option needs to be disabled ?

[2015-03-18 11:37] ioquatix commented on #2934
So, I've replaced that drive with another drive completely different brand and known (reasonably) good. And, the await time is still a bit high.

I've tried three different ports on two controllers. For some reason I haven't seen the await time get less than about 150ms.

This is a completely different drive and I guess I'm just wondering if that's normal if the drive is the boot drive and has a b

[2015-03-18 11:38] ioquatix commented on #2934
By the way, I haven't tested ZFS yet, but I'll see if it makes any difference and report back.

[2015-03-18 12:35] ioquatix commented on #2934
Hmm, okay. So, I've been running `iostat -x 60 10` and at the same time did a system upgrade (packages, mostly on `sdf`) and also a backup via rsync (all to zfs backup partition). Here is a typical dump:

[code]

Mostly looks okay IMHO.

A few minutes into the rsync backup:

[code]

[2015-03-18 12:44] ioquatix commented on #2934
iotop:

[code]

Sometimes speed drops down for a brief period of time, then goes back up. I'm not sure if this coincides with the `dmsg` output but in the time since the last message I've got the following:

[code]

[2015-03-18 14:32] kpande commented on #3191
Which processes end up in 'D' state?

[2015-03-18 14:52] bachmarc commented on #3191
I had to google what a D state is.. so don't expect me to be able to answer that question in a way you are satisfied with...

These three processes are consuming CPU while copy job in gnome file manager waits till armagedon

23   8.40s   0.00s     0K     0K     0K      0K --   - R  84%  kswapd0
  372   1.08s   0.00s     0K     0K     0K      0K --   - S  11%  spl_kmem_cache
 1253   0.31s   0.00s

[2015-03-18 18:51] Lalufu commented on #3125
I've reuploaded the files.

[2015-03-18 20:34] behlendorf commented on #3183
First off thanks @dweeezil  and @tuxoko for taking the time to look at this issue.  Let me try and shed some light on this.

Good question, and I wish I had an authoritative answer.  This is something which was preserved from the upstream OpenSolaris code but it's never been 100% clear to me we actually need it.  It's designed to serialize access to a given object id from the VFS, and the comments

[2015-03-18 23:52] behlendorf commented on #3183
@dweeezil let me propose #3196 for feedback/testing.  It's definitely takes a big hammer approach to this issue, and I don't feel it's the best long term solution.  But functionally it's not that far removed from our previous extensive use of KM_PUSHPAGE.

[2015-03-19 00:20] nedbass commented on #3195
I was able to reproduce this on 0.6.3.  Had to cherry-pick 4254acb0, otherwise I'd hit a different assertion first.  So it's not a new bug.

[2015-03-19 02:47] kpande commented on #3145
After a reboot:

[code]

[2015-03-19 04:38] rickatnight11 opened #3197 "zfs/zpool list on raidz2 pool seem to display faulty space values"
I've just built a new Centos 7 box with 24 x 3TB drives, which I've added to a single raidz2 pool:

[code]

I've just filled it up with an existing dataset that I expected to fit on the array.  Taking a look at `zfs list` and `zpool list`, the values don't seem to match what I'd expect.

[code]

According to https://docs.oracle.com/cd/E26502_01/html/E29007/gbbti.html, `zpool list` should be showin

[2015-03-19 06:20] Pentium100MHz opened #3198 "Manually creating /dev/zd* node for a zvol with zvol_inhibit_dev=1."
Hello, is there a way to manually create a node for a particular zvol when the zvol_inhibit_dev is set to 1?

The reason is twofold:
1. Since we use zvols as VM storage, we expect to have a lot of them, especially in the backup server. A lot of zvols slows down the server and in the backup server the /dev/zd\* nodes are only useful once in a while (when there is a need to recover some info).
2. Wh

[2015-03-19 07:28] edillmann commented on #3198
Hello Pentium100MHz,

You could clone it.

[2015-03-19 07:42] Pentium100MHz commented on #3198
Thanks, this solves the first problem.

[2015-03-19 07:56] DeHackEd commented on #3197
Enormous RAID-Z arrays tend to have poorer space efficiency. You may be experiencing the penalty, especially if you have a lot of small files. Here 'small' is less than 96 kilobytes. Actually, since it's such a big number, even 128 block files will have unusually large overhead

This is unfortunately expected. `zfs list` has fudged the numbers to get something that seems sane.

[2015-03-19 11:52] dirtyharrycallahan commented on #3197
Is there an error in your calculation? Drives are typically sized in powers of 10. 24x 3 TB drives should work out to about 66 TiB.

[2015-03-19 13:52] GeneralStumpf commented on #3197
Several things to consider:
A) A 3TB drive (3*10^12 byte) is NOT a 3TiB (3*2^40 byte) drive.
B) HDD Vendors generally use the TB scale and add a few bytes, i.e. a 3TB labled HDD has 2,728+x TiB.
C) Are checksums enabled? If so, substract one 64th of the poolsize.
D) RAID Parity has to be substracted.
E) As mentioned by DeHackEd, the usable space also depends on file size (due to padding). For deta

[2015-03-19 16:30] behlendorf commented on #2831
@simonbuehler That's an good question.  Since the drives are still functional and clearly largely intact recovering the data should be possible with the right tools.  However, I have no idea what kind of tools and people a professional data rescue service has access too.  To recover the data either ZFS will need to be tweaked or to handle the damage or it a manual repair might be possible.  I woul

[2015-03-19 16:36] behlendorf commented on #3175
@dpickford if you haven't already you may want to move this to the mailing list for a faster reply.  You may have found a bug here so I don't mind leaving this open, but it will take us a little while before we can look in to it.

[2015-03-19 16:39] behlendorf commented on #2990
Hmm, nothing particularly out of order in the txg history.

[2015-03-19 16:41] behlendorf commented on #3185
@jimsalterjrs I agree that's a bit off.  Thanks for filing this so we can track and address it.

[2015-03-19 16:49] behlendorf commented on #3184
@malexandvsc could you fully describe your workload.  You mention you're running many concurrent rsyncs over NFS.  I assume ZoL is running on the NFS server side, is rsync running on the client?  Are you rsyncing a large number of small or large files?  Is the rsync removing and creating files?  etc.  This sounds a lot like #3181 but any detail you could help provide would be useful.

[2015-03-19 16:53] behlendorf commented on #3186
Do you happen to check `/proc/mounts` as well?  As you know `/etc/mtab` is just a cached copy of mounted filesystems and it is possible for it to be out of date.  If it is zfs may not mount on unmount properly.

[2015-03-19 17:16] rickatnight11 commented on #3197
Ah, you're all absolutely right.  My math is bad, and I should feel bad.

[code]
(http://www.wolframalpha.com/input/?i=24+*+%282.7+tebibytes%29)

That means the reported `zpool list` size is correct.

Taking raidz2 into account, that least me with a theoretical:

[code]

That leaves about a `2TiB` discrepancy, `~1TiB` of which can be attributed to checksums, and the rest to padding.

Does that all

[2015-03-19 17:20] malexandvsc commented on #3184
Well - for the last 4 days it was running rsync flawlessly in respect to zfs (_no change to the last failure run above) with about 95M files in 70TB ingested.

rsync is currently creating/reading (directory traversal), no delete about 100 instances. A patched version of rsync is used that does posix_fadvise64 so not to use the Linux page-cache.

rsync-vsc -avrH --sockopts=SO_SNDBUF=8388608,SO_RCVB

[2015-03-19 17:33] behlendorf commented on #3192
@tuxoko I think that's a really interesting idea.  Forcing direct reclaim to occur at a much higher frequency would certainly let us expose these kinds of deadlocks more easily.  Unfortunately, I don't see any easy to do this without patching the kernel.  What we want is `try_to_free_pages()` to be called to expose the deadlocks.

Another way to possibly expose these issues early, and without caus

[2015-03-19 17:53] behlendorf commented on #3145
@kpande do we have a test case for how to create a pool with this problem?  (I may have missed it above).

[2015-03-19 18:14] paboldin commented on #2922
@behlendorf I'm hired to do the job. I will start with adding `ioctl()` for regular quotas.

[2015-03-19 18:17] kernelOfTruth commented on #3184
@malexandvsc could you point to that patch, please ?

or is it the one from http://insights.oetiker.ch/linux/fadvise/ ?

this might help folks that suffer from metadata in ARC exploding

[2015-03-19 18:24] kernelOfTruth commented on #3160
posting this here - this might counter the effects from rsync usage:

http://insights.oetiker.ch/linux/fadvise/

I've used this, too, in the past - but didn't think that it could or would work with ZFS

according to https://github.com/zfsonlinux/zfs/issues/3184#issuecomment-83678419 , it might indeed

[2015-03-19 18:53] snajpa commented on #3160
This resolves nothing (at least for me). I can't force people to apply this in their containers and even skipping a full round of back-ups doesn't do anything to arc_meta_used >>> arc_meta_limit situation.

[2015-03-19 20:08] snajpa commented on #2922
@paboldin that is awesome news.
You can't imagine how many people are waiting at my org (vpsfree.cz) for support of that. Would you be willing to extend the work to support OpenVZ containers? We'll need some mechanism how to pass the control of this down to the containers. We're willing to make a contract with you, if you'd be interested.

[2015-03-19 20:15] pavel-odintsov commented on #2922
Pavel will add full support for OpenVZ because we working together on implementing complete ZFS support for OpenVZ :)

[2015-03-19 20:33] dweeezil commented on #3192
@behlendorf I gave up on CONFIG_PROVE_LOCKING pretty early because ZFS has a bunch of cases in which nested locks are used.  I started adding support for the various lock classes but decided to bail on that idea for the time being because it looked like it would be a pain to get it working properly and I was more interested in trying to track down the existing lock inversions.  That said, I think

[2015-03-19 21:48] GregorKopka commented on #2327
@behlendorf (and others who might look at this)
necro post: we can send/recv snapshots, which will change BPs (since the data is then stored at a different location) without changing the data - so it should be possible to change/update block pointers.

[2015-03-19 21:54] GregorKopka commented on #3197
@rickatnight11 unrelated comment:
24*3TB drives in a single raidz2 is - according to some discussions on the mailing list - a desaster waiting to happen: long resilver times with high stress to the surviving drives -> additional drive failures -> pool loss

[2015-03-19 22:02] rickatnight11 commented on #3197
Totally agree.  All data is backed up regularly to tape and easily recoverable.  ZFS ends up being the best compromise between convenience and performance in this case.  Closing out.  Thanks, everyone!

[2015-03-19 22:02] #3197 closed

[2015-03-19 23:39] FransUrbo commented on #3103
With some help on IRC, we found the issue is in the following dependency list:

	spl-dkms -> dkms -> recommends=linux-headers-amd64

The problem here is that recommends are not ordered before the actual package.

Thanx to xorAxAx on #zfsonlinux for helping me with this (I just haven't had the time to deal with it - it's always (!!) worked for me, even on fresh installs).

[2015-03-19 23:54] thegreatgazoo opened #3199 "zio_injection_enabled should not be a module option"
The zio_inject.c seems to keep <code>zio_injection_enabled</code> as a counter of fault handlers. Maybe I missed something but it doesn't make much sense to give userspace control of its value. For example:
- If user sets <code>options zfs zio_injection_enabled=-1</code>, then adds a fault handler by calling <code>zinject</code>, then <code>zio_inject_fault()</code> would increase  <code>zio_injec

[2015-03-20 00:00] chrisrd commented on #3192
Given the current flurry of deadlocks it seems CONFIG_PROVE_LOCKING might be the only sensible way forward. @dweeezil, do you have any of your initial work to share?

[2015-03-20 09:32] bachmarc commented on #3191
@behlendorf
Just a feeling... if a copy job freezes for hours the difference between availability and very poor performance shrinks. And a file system which is not copying files would be defined as down, isn't it ;o)

[2015-03-20 12:28] ari opened #3200 "zap_create_claim fails"
I have a pool which throws errors on boot, plus it cannot be exported (the command just hangs). I also cannot destroy this pool. Suggestions for workaround to destroy this pool are welcome.

[code]

[2015-03-20 13:06] DeHackEd commented on #2991
Based on my understanding of how ZFS works internally, this would only be feasible under a few conditions:

* The file being moved must not be a directory
* The file must have only 1 reference (no other hard links)
* The file must not be present in the most recent snapshot of the filesystem.

It wouldn't really be possible under the general case.

[2015-03-20 15:47] Flefebvre opened #3201 "OpenZfs quota feature idea"
Hi !

I'm very interested in this feature idea I found on OpenZfs project, and I would like to know if there is any work ongoing / planned on this.

http://open-zfs.org/wiki/Projects#ZFS_Compression_.2F_Dedup_to_favour_provider

Thanks a lot for your work !

[2015-03-20 17:02] FransUrbo opened #3203 "Export all pools"
A command similar to <code>zpool import -a</code> would be nice:

    zpool export -a

instead of having to loop through all individually.

This doesn't sound to difficult and I would be prepared to do the job, if someone could point me in the right direction.

[2015-03-20 17:17] behlendorf commented on #3160
Refreshed patches in #3202 are available which do address @snajpa's issue and should help others.

[2015-03-20 17:22] behlendorf commented on #2922
@paboldin that's great news.  Please let me know if you need any pointers to get started on this!

[2015-03-20 17:35] kpande commented on #3145
@behlendorf I used our standard system installer with debian wheezy. We've been setting systems up using the following:
[code]

When booting with USE_DISK_BY_ID=1 in /etc/default/grub it will not import the pool. If I import using -d /dev/disk/by-id I must rm the whole disk first - if it does not use by-id the pool imports. The downside is, once I've set a machine to import using by-id, this probl

[2015-03-20 17:39] behlendorf commented on #3199
@thegreatgazoo you're right, I was clearly overzealous when I added this module option and exported these.  It would be great if you could propose a patch which.

* Removes the ` zio_injection_enabled` module option.
* Removes the `zio_injection_enabled` section from `man/man5/zfs-module-parameters.5`
* Moves the EXPORT_SYMBOLs to the correct place.

[2015-03-20 17:56] nedbass commented on #3195
With this script it doesn't take long to hit this bug on a filesystem with `xattr=sa` set.

[code]

[2015-03-20 18:01] ilovezfs commented on #3203
Yes, please. I am so tired of my zexport_all script:
[code]

[2015-03-20 18:39] behlendorf commented on #3191
@bachmarc I haven't had a change to look at this until now, but you definitely seem to have a found a case where for some reason it's using entirely too much cpu.  One helpful way to run this down is by running the `perf top` command.  This should shed some light on exactly where all the CPU time is going.  I also don't see the #3202 patch stack helping you're workload until you appraoch the arc_m

[2015-03-20 18:46] behlendorf commented on #3200
@ari This is a duplicate of #2946.  It was caused by a bug in the Gentoo ZFS packages, if you manually build ZFS directly from the master github source you won't see this issue.  I thought @ryao,  the Gentoo maintainer, already updated the Gentoo packages to address this but I'm not 100% certain.

[2015-03-20 19:06] behlendorf commented on #3201
@Flefebvre there's no planned or ongoing work that I'm aware of to implement this.  If someone wants to pick it up and start working on it I think that would be great.

[2015-03-20 20:33] behlendorf commented on #3145
@kpande so it sounds like the problem is that ZFS is finding the specific vdevs by too many different names and is basically having a hard time sorting them out.  I'm guessing this is largely just a problem with gpt labels since they include additional information which causes more entries to be created in the same directory.

What do you think about this as a possible solution.  There already exi

[2015-03-20 20:35] kpande commented on #3145
that would be fine if all of my machines used similar hardware - I was hoping that zpool might learn to distinguish and not try to load the whole device if a partition on that device also contains a zpool. In theory, there shouldn't be a case of whole disk AND partition, the partition should win.

[2015-03-20 20:45] behlendorf commented on #3203
I actually found myself wanting the exact same thing the other day.

@FransUrbo the place to start here is in `zpool_do_export()`.  The code will already loop over all the pools specified on the command line so it should just be a matter of adding the `-a` option to generate the list of pools and then improving the error handling.  Take a look at `zpool_list_get` to see how to iterate over all the

[2015-03-20 21:04] behlendorf commented on #3145
I don't follow, that should be the case today.  If we detect a vdev on a partition then there shouldn't be a valid label on the whole disk.  Although there may be pools on other partitions.  Isn't the issue you're hitting being cases by the fact that `wwn-X` and `scsi-X` end up referring to the same device?  Or have I misunderstood.

[2015-03-20 21:08] kpande commented on #3145
no - i think it handles that gracefully, it'll just end up using random device names. my issue specifically (according to dasjoe) is when a partition is created near the end of a disk (mine is < 10MiB away from the end) it's possible zpool could 'confuse' it as a whole disk label. I don't fully understand how that is possible, but it's enough to cause distress when attempting to use persistent lab

[2015-03-20 21:11] behlendorf commented on #3192
@dweeezil I sympathize, CONFIG_PROVE_LOCKING has been a sore point for too long now.  It's something I've wanted to get working from day 1 because I think it would be very valuable, but I've never had the resources to invest in getting it working.  As you said, it's always been easier just to run down and resolve the deadlock once it's uncovered.  I think getting this working would be a great way

[2015-03-20 21:14] ilovezfs commented on #3203
@behlendorf Which behavior do you think will be best in the case of a system on ZFS root?
1. Automatically skip the root pool
2. Fail immediately if -a is specified
3. Let the command fail naturally when it discovers that pool is busy

Also, in general, if along the way one pool fails to export, should the iteration continue or stop? If it is allowed to continue trying to export the remainder of t

[2015-03-20 21:50] malexandvsc commented on #3184
indeed the Oetiker fadvise patch

[2015-03-20 22:29] nedbass opened #3204 "PANIC at dnode_sync.c:612:dnode_sync()"
Hit this while running the reproducer for #3195.  I rebuilt ZFS with tracepoints enabled, now I'm hitting this ASSERT instead of the one from #3195. I don't know why there would be any connection there.

[code]

[2015-03-20 22:53] behlendorf commented on #3145
Oh! Now I understand, yes that is a very different issue.  I can see how that could cause problems. Can you please try the #3206 patch I just proposed.  It adjusts the `zpool import` such that by default it requires that all 4 vdev labels exist.  This should weed out the bogus devices under a variety of circumstances.

[2015-03-20 22:54] kpande commented on #3145
Already building on an affected server :-) :+1:

[2015-03-20 22:59] kpande commented on #3145
now zpool properly ignores the bunk devices. thanks @behlendorf ! good job! this one was bothering quite a few people recently.

[2015-03-20 23:02] kpande commented on #3145
resolved by PR #3206

[2015-03-20 23:30] behlendorf commented on #3145
@kpande thanks for the quick verification.   There were a variety of issues which might be related to this we should make sure this patch addresses them too.  After pushing this patch I had two other thoughts which I'll probably explore to make this more robust.

* When checking all the labels in zpool_read_label() we should verify not only that they all exist but that they refer the to same guid.

[2015-03-20 23:32] kpande commented on #3145
i like that. i've had these machines in production for a couple years and it just now started working differently, the less modification to keep them running, the better

[2015-03-20 23:40] behlendorf commented on #3160
These changes have been merged to master to address this issue.  If you're experiencing similar to this please update to zfs-0.6.3-245 or newer.

bc88866 Fix arc_adjust_meta() behavior
2cbb06b Restructure per-filesystem reclaim
596a893 Fix arc_meta_max accounting

[2015-03-20 23:40] #3160 closed

[2015-03-20 23:45] ari commented on #2946
@ryao are you still working on an update to the Gentoo packaging to avoid this (pretty serious) bug

[2015-03-20 23:48] ari commented on #3200
My review of that other ticket seems to indicate that there is no update to Gentoo packages since last December. Thanks for the pointer though, I'll close this ticket.

[2015-03-20 23:48] #3200 closed

[2015-03-21 10:05] sempervictus commented on #3145
This should also help with SSDs which were once raw ZFS cache/slog devices, but were subsequently encrypted with dm-crypt and fed to the same/another pool. They still retain enough label to confuse the zpool command without that patch (havent tested yet, enthralled with KoT's ARC monstrosity @ present)...

Far as bizarre corner cases go, a lot of us create and destroy zpools for testing ZoL all th

[2015-03-21 19:47] paboldin commented on #2922
@behlendorf well, I did some investigation and compiled results into the following plan:

1. Implement an option for the ZFS instance that makes kernel export pseudo block-device named e.g. `/dev/zfsfakes/<mountpoint>` for the `quotactl` tools to use. This is required because `quotaon` and other tools do check for existence of the blockdevice used as a mountpoint. Note that this will also change t

[2015-03-21 20:02] FransUrbo opened #3207 "ZoL appears to write to reserved bootblock area and thus, corrupting it"
I've been getting a lot of help from tsoome (on IRC) to get a new Grub working with the new ZoL features. I don't fully understand the issue, but I'm trying to include as much as possible. Much of this is his wording, which I have tried to understand. Without fully succeeding.

This is mostly working (?) but there seems to be a problem with grub embedding.

What I did:

1. Booting the (unofficial)

[2015-03-21 20:47] bachmarc commented on #3191
HI,
I copied a lot of test data arround and for a while I had the feeling the "bug" is gone.... BUT 1.5 TiB later here it is again ;o)

I paste the listing below.., but before I would like to share a "feeling".. unfortunately it is not more than feeling and far away from evidence:
a)  I copied a folder of 400GB videos several times.
It worked two times...
b) I saw that a lot of samba share = on fo

[2015-03-21 20:53] snajpa commented on #2922
As a high level description of the solution at least I like the approach, this will make it very easy to pass it to the container. Though I am curious about the OpenVZ side of thibg as well. Is there a maching bug filed in the public OpenVZ bugzilla too, that you could link for reference?

[2015-03-21 23:07] paboldin commented on #2922
Let's ask @pavel-odintsov to file one.

I'm not very good at the OpenVZ part of the deal at the moment, so someone will have to help me with that.

[2015-03-21 23:26] aarcane commented on #3207
This is an unsupported setup. You need to be sure to add a bios-grub partition to each disk in your rpool. Read any zfs-root guide and they'll tell you about this, unless they're using legacy mbr partition tables, in which case it doesn't matter.

[2015-03-21 23:30] thegreatgazoo commented on #3199
Thanks for confirming. Patch to come shortly.

[2015-03-21 23:31] FransUrbo commented on #3207
It's only unsupported because no one have written this yet. But tsoome did and I put it in a grub package for ZoL.

So it is now supported by grub (both ZoL and Illumos grub) and ZFS in Illumos, but not by ZoL. Hence the issue report.

[2015-03-22 00:03] tsoome commented on #3207
its unsupported setup for grub which does not implement embedding for zfs; still the bootblock area is reserved space for zfs and therefore off limits, zfs must not write anything there. if it still does, its bug. also note that the issue was only found because the updated grub was failing there. zfs on disk format, page 14.

[2015-03-22 12:30] FransUrbo commented on #3145
Could this possibly be related to #3207?

[2015-03-22 14:04] paboldin commented on #2922
Well, bad news. `quota-tools` have a list of supported file systems hardcoded. So the fix for it is required anyway.

[2015-03-22 19:29] snajpa commented on #2922
That's expected (at least I expected that). I've made my piece with the fact, that we're going to need to provide a repo for every major distribution we support with modified quota-utils(/tools). Can't be avoided. I've had a look at the source some time ago, but didn't find the time to do more about it, so I'm really glad that you guys have picked this up.

[2015-03-22 19:40] paboldin commented on #2922
Well, for the OpenVZ containers that do have a lot of emulations it could be optional. But for the plain quota it is indeed necessary.

Seems like I will have to start with a simple implementation of quotas w/o OpenVZ involved first.

[2015-03-22 21:23] kernelOfTruth opened #3209 "[invalid, PEBCAK] ARC limit values still bogus (don't stick) despite being set upon module load"
/etc/modprobe.d/zfs.conf
[code]

cat /proc/spl/kstat/zfs/arcstats
[code]

*_arc_meta_limit_* and *_arc_meta_max_* are a little bit off, don't you think ? ;)

no rsync job has been run yet, uptime is 2 hours, with very little load, mostly listening a few mp3s,

web-browing with firefox & chromium

zpool iostat -v
[code]

cat /proc/meminfo
[code]

cat /proc/slabinfo
[code]

[2015-03-22 22:47] turrini commented on #3191
@bachmarc I had this problem before with kswapd. Seems a kernel regression to me (probably first introduced in 3.5.0). After I upgraded to 3.18.3+ (now using 3.18.9), the problem gone away.

3.18.3 changelog: https://www.kernel.org/pub/linux/kernel/v3.x/ChangeLog-3.18.3
maybe this commit is the fix for your problem: 53bcf5c328d8d89d7357d9d8bdd58ad9fb06a377

[2015-03-22 23:34] kernelOfTruth commented on #3191
FYI - so folks don't have to look it up there ;)

[code]

[2015-03-23 02:37] ryao commented on #3207
From IRC:

[code]

[2015-03-23 04:28] snajpa opened #3210 "Add 'spacemap rebuild' option to zhack"
The pool was running on 0.6.3-stable, where it deadlocked and refused to import afterwards, every attempt to import it (even booting with init=/bin/bash, without udev, doing everything manually), has failed since. RHEL6 kernel, openvz 042stab104.1. Now I'm trying on ~close to master (https://github.com/vpsfreecz/zfs/commits/master) with no luck either.

I guess this might be something ARC related,

[2015-03-23 04:49] snajpa commented on #3210
Actually the machine seems to be reading out SLOG by a look at iostat and zpool import's stack. So I'll forcefully remove even SLOG. I'm starting to dislike this.

[code]

[2015-03-23 05:01] snajpa commented on #3210
Woohoo /o/ This is getting better and better \o\ /o/ During zpool import -m after removing SLOG:
[code]

[2015-03-23 05:06] snajpa commented on #3210
Btw, have you ever SSH'd into your onboard IPMI so you could reboot it, because the web interface got stuck when entered a wrong password? Yay!

[2015-03-23 05:30] snajpa commented on #3210
The machine is now powered off, backups were restored on another server. If anyone's interested, I'll gather more info/try some things, no problem.

[2015-03-23 07:15] breedx2 commented on #1155
Just my $0.02 here in 2015.
I had a similar problem with zpool saying `Failed to load ZFS module stack.`  Still not sure the root cause, but likely due to missing headers package and a confused apt package state.  Regardless, I ended up getting the appropriate kernel headers package installed, followed what @dajhorn suggested above (the wad of dkms remove/add/install commands) and _YES_ it worked.

[2015-03-23 10:21] roedie opened #3211 "Large kmem_alloc"
Well, the kernel message told me to file an issue. So here it is. This happened after I tried importing my pool with  zfs v0.6.3-37-bc8886-wheezy and spl v0.6.3-24-79a005-wheezy

[  474.209307] Large kmem_alloc(41520, 0x0), please file an issue at:
[  474.209307] https://github.com/zfsonlinux/zfs/issues/new
[  474.209403] CPU: 6 PID: 21984 Comm: zpool Tainted: P           O  3.16.0-0.bpo.4-amd64 #

[2015-03-23 11:11] bachmarc commented on #3191
Does anyone know how this in handled in debian project? As ubuntu want to support this 3.16 for longer Debians momentum to move testing to 3.18 is low.
So you just moved to SID? Or only for kernel?

[2015-03-23 11:36] turrini commented on #3191
I always use the most newest kernels (those marked as longterm in kernel.org), not the debian ones.

I simply download, configure, and build this way:

[code]

I've pasted my current 3.18.9 config here: http://pastebin.com/nm2vR4yM

After build, I simply install with dpkg -i linux-*3.18.9*deb , and after that, I use this script I've done to get latest ZFS+SPL and build for the new kernel, this way

[2015-03-23 12:45] tuomari opened #3212 "ZFS hang on 'zfs create'"
Got this while running latest HEAD ( bc88866657979c5658441e201e19df365c67ddfe ) with #2351

There are two 6x3T raidz1 vdevs 30T in total, 550G free. No l2arc, no zil.
System load is mostly constant writes from zoneminder ( ~6MB/s )

When I created a 100G zvol and tried formatting it to ext4, i got the following error

[code]

I then removed the zvol and tried to create it again. ZFS stopped all re

[2015-03-23 16:23] malexandvsc commented on #3184
well the issue seems to coincide with rsync file traversals (approx. 650 million files, which is certainly envelope). Once the diffs have been established, copy works fine without any stuck rsync processes. Yet, during the diff-ing the deadlock-type behavior described on top seems to occur. Re-tried with 0.6.3-245_gbc88866.

[2015-03-23 16:28] snajpa commented on #3209
I don't see it, what's wrong? arc_meta_used is nicely below the limit, _max suggests there hasn't been more metadata loaded in the ARC yet. What am I overlooking? :)

[2015-03-23 16:43] dweeezil commented on #3212
Broken by torvalds/linux@34b48db first appearing in 3.19.

[2015-03-23 17:16] dweeezil commented on #3212
See #3214.

[2015-03-23 17:58] kernelOfTruth commented on #3209
@snajpa might be the case - if that's true I'm a happy camper ;)

[code]

but shouldn't arc_meta_limit and arc_meta_max shown in arcstats equal

those values set during kernel load or in the entries of /sys/module/zfs/parameters/ ?

[2015-03-23 18:01] snajpa commented on #3209
arc_meta_max is the maximum value the arc metadata has reached since the ZFS modules have been loaded. arc_meta_max should only reach arc_meta_limit if enough metadata have been cached.

The values are set both during boot and can be changed in /sys, when changing in /sys, they take effect on each arc_adapt thread pass, maybe in some more cases, but I'm not aware of them.

[2015-03-23 18:03] behlendorf commented on #3207
For future reference I wasn't able to reproduce this issue in a VM.  I created a pool on a new device which had the first 4M of filled with the pattern 0xffffffff.  Then I ran the following tiny script to force TXGs to be written so the uber blocks and labels would both be updated.

[code]

Periodically I'd check the boot block by running `sudo dd if=/dev/vdb1 bs=1M count=4 | hexdump -C` to verify

[2015-03-23 18:06] kernelOfTruth commented on #3209
The thing is:

ok, so meta_max is dynamic and updated - fine :smile:

But what bothers me: I've set meta_limit  to 12 GB (the limit - so static value ?)

[code]

and it shows only 6 GB

[code]

am I missing anything ?

Thanks

[2015-03-23 18:08] snajpa commented on #3209
Try filling up the cache with more metadata (ls -R on lots of files for example) and see if the arc_meta_limit gets updated (as I said, it only happens in arc_adapt thread, which needs to be woken up for that, it needs to have a reason to do so).

[2015-03-23 18:46] ColdCanuck commented on #3209
You set the arc max with 'options zfs zfs_arc_max=0x200000000" (8 GiB)

Since the metadata is part of the arc, it can't be larger than the arc. I assume the module used some defaults when you set the limit for meta data (12 GiB) to be  larger than the ARC  max size.

[2015-03-23 19:22] kernelOfTruth commented on #3209
@ColdCanuck thanks for that gentle push in the right direction,

I had an error in reasoning - D'oh !

[code]

and accordingly now:

[code]

Thanks @snajpa & @ColdCanuck !

[2015-03-23 19:22] #3209 closed

[2015-03-23 20:11] cousins opened #3215 "manually replaced drive with, now new drive = unavail, corrupted data"
I had a drive (vdev id = 1-2)  that was showing read errors. The OEM sent me a drive so I decided to manually replace the drive with the hot-spare (vdev id = 1-44) I had set up. zpool history shows:

    2015-03-19.12:54:53 zpool offline pool3 1-2

    --- physically replaced the drive ---

    2015-03-19.14:19:17 zpool replace pool3 1-2 1-44
    2015-03-23.15:28:50 zpool clear pool3
    2015-03-2

[2015-03-23 21:21] FransUrbo commented on #3207
Not relevant - after more investigation, the issue was/is found in grub.

[2015-03-23 21:34] kernelOfTruth commented on #3209
there you go - after several hours of desktop usage, 2 updatedb's and an incremental rsync backup-job:

[code]

:+1:

[2015-03-23 22:00] Finkregh commented on #2844
i anybody needs some more data: i got some W)

[2015-03-23 22:14] Finkregh commented on #2876
why is this not closed, when this is a dup

[2015-03-23 22:21] kpande commented on #2844
@Finkregh check out #3145

[2015-03-23 22:30] GregorKopka commented on #3150
Sounds like a stale /etc/zfs/zpool.cache in the **initrd**.

[2015-03-23 22:35] frankuit commented on #3150
any idea on how i can fix it ? as the normal initramfs update didn't work.

Regards,
Frank

2015-03-23 23:31 GMT+01:00 Gregor Kopka <notifications@github.com>:

--
Met vriendelijke groet,

Frank Uittenbosch

[2015-03-23 22:56] malexandvsc commented on #3184
1.6TB SSD for L2ARC, ZIL and native HBAs added for more runs

[2015-03-24 02:42] #3207 closed

[2015-03-24 02:59] kernelOfTruth commented on #3157
With recent upstream changes in master ( #3202 ) - this doesn't seem to appear anymore

but it sure still needs a few days (or weeks+) of testing

appears to be fixed - therefore closing.

[2015-03-24 02:59] #3157 closed

[2015-03-24 04:21] dscherger commented on #2453
Here's a stack from another failed attempt yesterday.

Mar 22 21:01:00 haswell kernel: INFO: task spl_system_task:1384 blocked for more than 120 seconds.
Mar 22 21:01:00 haswell kernel:       Tainted: P           O   3.17.8-gentoo-r1 #1
Mar 22 21:01:00 haswell kernel: "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this message.
Mar 22 21:01:00 haswell kernel: spl_system_task D ffff880

[2015-03-24 07:01] tomposmiko opened #3217 "complete lockup"
The very first one from yesterday in the log files:
[code]

[code]

Linux files 3.13.0-48-generic #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

ii  dkms                                            2.2.0.3-1.1ubuntu5.14.04+zfs9~trusty  all          Dynamic Kernel Module Support Framework
ii  libzfs2                                         0.6.3-5~trusty

[2015-03-24 08:42] tomposmiko commented on #3217
Now I can reproduce it with just a simple ls on the problematic directory.
Hoever, directories above there (1..10000) has been removed successfully.

[2015-03-24 09:46] tuxoko commented on #3183
@behlendorf
I noticed something a bit concerning in the MUTEX_FSTRANS patch which I didn't when I reviewed the patch. The way it save/restore flags requires that mutexes are strictly released in reverse order as they are aquired.

Consider mutex A and B both are MUTEX_FSTRANS:
[code]
I don't know if ZFS contain this kind of ordering, but I don't think it would be a good idea to have this kind of r

[2015-03-24 09:57] Finkregh commented on #2844
@kpande thanks a bunch for the hint, i'll try the patch

[2015-03-24 10:05] danielkza commented on #2959
Kernel 3.19 is now out and up in Fedora and this has hit me. I have to stay in 3.18 in the mean time. Would it be possible introduce a manual patch in the Fedora repository to get it to work, or do I have to wait until 0.6.4 is out?

[2015-03-24 10:25] TioNisla opened #3218 "ACL_TYPE_ACCESS"
-

[2015-03-24 10:47] putnam commented on #3217
I'm having the same problem with almost exactly the same stack trace.

I have xattr=sa and acltype=off.

Running kernel 3.13.0-48-generic on Ubuntu Server with ZoL 0.6.3-5. Today I upgraded my kernel to -48 from -46 but have no direct evidence this change was the culprit.

I can reproduce this reliably on my system by copying a small app bundle over samba. Oddly other files don't trigger it. SMB e

[2015-03-24 10:52] putnam commented on #3217
This looks a lot like #3143

[2015-03-24 11:25] TioNisla commented on #3218
delete this

[2015-03-24 11:25] #3218 closed

[2015-03-24 12:00] tuxoko commented on #3183
@behlendorf
Also, in 4ec15b8dcf8038aeb15c7877c50d0fa500b468c6, you use MUTEX_FSTRANS on dbuf hash_mutexes. But there's no memory allocations in the hash_mutexes context, so it doesn't actually do anything.
For the deadlocks like #3055, you need use FSTRANS in db_mtx context. That's where the memory allocation occurs and cause lock inversion.

[2015-03-24 12:25] tomposmiko commented on #3217
Indeed, thanks.

[2015-03-24 12:49] yarikoptic commented on #3160
FWIW -- used master as of bc88866.  Seems to be stable for the past few days. There are no crazy ARC consumption jumps as before.

[2015-03-24 12:58] DeHackEd commented on #3183
My most recent deadlock is as follows:

Kernel threads:
<pre>kswapd0         D 0000000000000001     0   388      2 0x00000000
ffff88041bc7b9f0 0000000000000046 ffff88001d6805f8 ffff88041bc7a010
ffff88041d9e7920 0000000000010900 ffff88041bc7bfd8 0000000000004000
ffff88041bc7bfd8 0000000000010900 ffff88040da73960 ffff88041d9e7920
Call Trace:
[&lt;ffffffffa00f58e6&gt;] ? dbuf_rele+0x4b/0x52 [zfs]
[&l

[2015-03-24 13:20] tuomari commented on #3212
Thank you very much for the quick reply!
I have the patch running and there has been no lockups or other errors so far.

[2015-03-24 14:34] kpande commented on #2959
@danielkza you can use 0.6.3-1.3 until 0.6.4 is released

[2015-03-24 16:37] malexandvsc commented on #3184
so far no changes, even 20M directory traverses single processes seem to trigger it

[2015-03-24 17:05] kernelOfTruth commented on #3184
@malexandvsc thanks - I'll give that patched rsync a try

some of the locks are being tracked at #3183

@dweeezil has mentioned a bunch of fixes in https://github.com/zfsonlinux/zfs/issues/3183#issuecomment-81352438 ( https://github.com/dweeezil/zfs/commit/f04f972 ) - perhaps those can help you

[2015-03-24 18:41] mailinglists35 commented on #2933
not yet :(

[2015-03-24 20:01] behlendorf commented on #3145
@FransUrbo unrelated I suspect.

[2015-03-24 20:13] nedbass opened #3220 "NULL pointer dereference in ftrace_raw_event_zfs_zrlock__reentry"
`zrlock_t *zrl` must have been `NULL`.  Nothing else is dereferenced in the event class.

[code]
Backtrace from crash:

[code]

[code]

[2015-03-24 20:18] #3178 closed

[2015-03-24 20:20] tomposmiko commented on #3143
@dweeezil
Do you have update on this?
I have recently faced this issue and need to decide, which way I should follow.

[2015-03-24 20:22] #3199 closed

[2015-03-24 20:23] nedbass commented on #3220
Actually `zrl->zr_owner` is dereferenced too.

[2015-03-24 20:27] dweeezil commented on #3055
I think I've tracked down another deadlock.  This one involves zf_rwlock acquired in dmu_zfetch() and z_hold_mtx acquired in zfs_get().

One process has this stack:
[code]
and the other is like this (it's a long one):
[code]
Deadlock...

[2015-03-24 20:35] kpande commented on #3186
/proc/mounts was also incorrect. that's why i had to unlink /etc/mtab so the zfs userland tools didn't think the fileset was mounted, otherwise I couldn't change "mountpoint" or "canmount" properties - the box was in a bit of a pickle. this issue has cropped up a couple times recently, all relating to overlay support.

[2015-03-24 20:37] kpande commented on #3186
the reason I filed this as a bug is precisely because /proc/self/mounts was incorrect and showed a filesystem as mounted, when it wasn't.. and it was rather difficult to actually access or repair the filesystem without doing send / recv.

I still have access to the affected filesets - when I did the send/recv, I left the originals in a ZPL called "borked" so they could be investigated later.

[2015-03-24 20:44] behlendorf commented on #3212
@tuomari @dweeezil Thanks for the quick fix and testing on this one.  The fix itself looks good to me, but we'll wait and see what the buildbots have to say.

[2015-03-24 20:51] behlendorf commented on #2876
@Finkregh Yes, this can be closed as a duplicate.  For anyone hitting this issue I've proposed a fix in #3219.  It would be very helpful to have someone independently verify the fix.

[2015-03-24 20:51] #2876 closed

[2015-03-24 20:52] behlendorf commented on #2844
@Finkregh Actually can you please test #3219, it's an improved version of #3145.

[2015-03-24 20:56] behlendorf commented on #3157
@kernelOfTruth Excellent news, thanks for the update.

[2015-03-24 21:03] behlendorf commented on #3160
@yarikoptic Good news, thanks for the update.

[2015-03-24 21:34] dweeezil commented on #3183
Ugh... posted this in the wrong place a little while ago...

I think I've tracked down another deadlock.  This one involves zf_rwlock acquired in dmu_zfetch() and z_hold_mtx acquired in zfs_get().

One process has this stack:
[code]
and the other is like this (it's a long one):
[code]
Deadlock...

[2015-03-24 21:39] dweeezil commented on #3183
I had been zeroing in on dmu_zfetch & friends earlier on in my work on this.

[2015-03-24 21:43] tycho opened #3221 "ZFS hang on 3.19.2"
Not sure what caused this, a reboot recovered the host. Just passing this on in case it uncovers some kind of unfixed bug in the ZFS driver:

[code]

[2015-03-24 21:50] nedbass commented on #3195
Here is some interesting debug data from tracepoints.  Immediately before PID 23432 hits the ASSERT in `zap_deref_leaf()`, PID 23429 called `dbuf_free_range()` on the ZAP (object 4 in this case). Note that all fields of the `zap_phys_t` are 0.

[code]

[2015-03-24 22:00] kernelOfTruth commented on #3221
related to https://github.com/zfsonlinux/zfs/issues/3183

the following might help: https://github.com/dweeezil/zfs/commit/f04f972 (mentioned in 3183)

[2015-03-24 22:01] tycho commented on #3221
Sounds good. I just updated my SPL/ZFS packages in response to this issue, we'll see if it crops up again.

[2015-03-24 22:02] tycho commented on #3221
Oh, wait, that's not in the master repo yet?

[2015-03-24 22:02] kernelOfTruth commented on #3221
since you're running an Amazon EC2 kernel (https://aur.archlinux.org/packages/linux-ec2/ )

is there much load on the box ?

[2015-03-24 22:02] behlendorf commented on #3183
@dweeezil could you open a pull request with the fixes you've already put together for the deadlocks.  I don't merged anything until we're all agreed they're the right fixes but it would be nice to have them all in on place.

[2015-03-24 22:03] behlendorf commented on #3220
I think I saw this once as well.  Any chance you put together a fix for it?

[2015-03-24 22:04] tycho commented on #3221
The EC2 kernel you point out is the one I maintain. I run it on my bare metal boxes too. :)

Not much load. Just a Feed the Beast server, Apache, git daemon, SSHd... System's only using about half its 48GB of RAM at any one moment.

[2015-03-24 22:05] tycho commented on #3221
The SPL/ZFS PKGBUILDs are in my ec2-packages repo:

http://git.uplinklabs.net/snoonan/projects/archlinux/ec2/ec2-packages.git/tree/spl-git
http://git.uplinklabs.net/snoonan/projects/archlinux/ec2/ec2-packages.git/tree/zfs-git

[2015-03-24 22:10] kernelOfTruth commented on #3221
I just pushed a branch to https://github.com/kernelOfTruth/zfs/commits/zfs_master_24.03.2015%2Bf04f972 with that as a single change

that PKGBUILD doesn't contain any reference to the branch used - so I assume it defaults to master or to the main branch to be used

maybe you could modify it to use that specific branch

currently I don't use Arch Linux (on Gentoo) - also haven't modified any PKGBUI

[2015-03-24 22:14] kernelOfTruth commented on #3221
actually scrap that - there's another possiblity:

[code]

https://github.com/kernelOfTruth/zfs/commit/afe5942b71ab473990edee306ac0fb3856bcf847.diff

download that and put the content in that file *fix-deadlocks-in_dbuf_hold-dmu_prefetch-sa_buf_hold.patch*

[2015-03-24 22:17] tycho commented on #3221
Yeah, already on it:

http://git.uplinklabs.net/snoonan/projects/archlinux/ec2/ec2-packages.git/commit/?id=c80bc6566a6cd769606b8ac4047225bc341855d8

[2015-03-24 22:22] nedbass commented on #3195
Here are stack traces for the processes where one calls `dbuf_free_range()` on the ZAP object as the other is calling `fzap_lookup()` on it.

[code]

[2015-03-24 22:37] nedbass opened #3222 "PANIC at zfs_dir.c:784:zfs_link_create()"
Probably related to #3195.  The filesystem has `xattr=sa` set.

[code]

Was using this stress test that writes random xattr to the directory while creating, removing, and writing data to files.

[code]

[2015-03-24 22:38] nedbass commented on #3222
Code snippet for the ASSERT.

[code]

[2015-03-24 23:17] dweeezil commented on #3183
@behlendorf I'll do that later this evening.  I was able to run my stress test with my latest patch for awhile this afternoon with no hangs.

[2015-03-24 23:21] dpickford commented on #3175
Okay, can do.  I'll keep this updated with any learnings from the mailing list.  Thx.

[2015-03-25 00:48] nedbass commented on #3143
@tobias-k @tomposmiko If possible, please try #3223 to see if it helps with this issue. Thanks

[2015-03-25 02:44] kpande commented on #3183
@dweeezil I sent you an email about test hardware I've got available. Let me know if that would be useful to you- two Dell R710 with 96G ram and some SATA/SAS drives at your disposal hosted in our offices.

[2015-03-25 03:15] kernelOfTruth commented on #3221
FYI:

there's an additional fix available at:

https://github.com/dweeezil/zfs/commit/fc436361227d6c4f6ae255745e5861604d05582e

"Testing this one now:
	dmu_zfetch_fetch() - z_hold_mtx[] via zget and zf_rwlock via dmu_zfetch"

https://github.com/dweeezil/zfs/commits/post-kmem-rework-deadlocks

[2015-03-25 03:19] tycho commented on #3221
@kernelOfTruth Yeah, that diff looks like the one I pulled in. When I added his repo as a remote and did a 'git remote update' it didn't fetch dweeezil@f04f972, so I sifted through his branches to find the right commit.

[2015-03-25 03:26] kernelOfTruth commented on #3221
ah ok, wasn't aware of that recent change from today

let's see how it works out for *_fingers crossed_*

[2015-03-25 08:45] tomposmiko commented on #3143
@nedbass
I assume it should be done on master.
Why is it targeted to 0.6.5?

[2015-03-25 08:47] tom71 opened #3224 "bad error : disappearing / reappearing file visibility"
We have the problem, that files are shown as "No such file or directory", when we try to access them. After a few access tries, they are accessible again. This error is shown locally and via nfs. The error happens after about 10 hours of run time of our software. As we have lots of data, we cannot provide a reproducer script on its own. But we have created a test zfs pool now and try to shorten th

[2015-03-25 13:43] tomposmiko commented on #3143
@nedbass
Anyway, I applyied it to the sourcetree from Ubuntu ppa and there is no change.
When I access the directory (ie. /bin/ls), it never returns.

[2015-03-25 13:49] dweeezil commented on #3183
@kpande Thanks.  I'll follow-up later today.  I'm going to post my WIP branch as a pull request shortly so it can get some more attention and will add a couple more comments there.

[2015-03-25 14:36] nedbass commented on #3143
@tomposmiko thanks for trying the patch. You must be running into a different issue.  It would be helpful if you collect any stack traces that appear in `dmesg` and open a new issue. The milestones are a best guess.  This issue was probably pushed out to 0.6.5 because there was no fix forthcoming and it wasn't deemed critical enough to hold up a tag.  If it does get fixed it will most likely make

[2015-03-25 14:47] tomposmiko commented on #3143
@nedbass
There is already a bugreport #3217 .
Though it has been closed, because it was suspected as duplicate of this one.
How can I reopen it?

[2015-03-25 14:48] snajpa commented on #3217
Update to current master please, there are metadata cache limit patches now, which should address this.

[2015-03-25 14:53] tomposmiko commented on #3217
I doubt, that it's cache related.
The same behaviour on two different machines on the same dataset (transferred by zfs).
After removed the problematic (but small) dataset the production one looks pretty stable again.

But I will give a try.

[2015-03-25 14:53] tomposmiko commented on #3217
I found out, how I can reopen the issue (via a comment..:).

[2015-03-25 14:54] nedbass commented on #3143
@tomposmiko I see, that does look like the same issue. I suspect the directory is corrupt on disk in your case, so my patch wouldn't help with that, but it may prevent the corruption from happening in the first place.

[2015-03-25 14:57] snajpa commented on #3217
Most likely it isn't, at least not directly - if your ARC was/is growing uncontrollably (which these patches I'm referring to address) then you might run into a deadlock really fast, because it triggers memory reclaim.

[2015-03-25 15:27] simonbuehler commented on #2831
sent to a rescue service, we'll see what they can do with it ...

[2015-03-25 16:35] danielkza commented on #2959
Working perfectly now, thanks!

[2015-03-25 17:57] tomposmiko commented on #3143
@nedbass
If so, how can I test the patch for sure?

[2015-03-25 18:32] nedbass commented on #3143
@tomposmiko Unfortunately your situation is not a useful test for the patch. The patch should prevent the ZAP object from getting damaged in memory before it is written out to disk, but in your case it seems to already be damaged on disk.  I'm hoping it helps @tobias-k since the lockup occurs every time his rsync job runs, so it must be getting damaged in memory.

[2015-03-25 18:40] behlendorf commented on #3224
@tom71 if you could provide a reproducer of the issue that would be the most helpful.  It would also be helpful to know what version of ZFS you're able to reproduce this issue on.

[2015-03-25 18:46] kpande commented on #3224
From the mailing list:

http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-March/000356.html

[2015-03-25 18:59] #3212 closed

[2015-03-25 21:53] #2844 closed

[2015-03-25 21:53] #3107 closed

[2015-03-25 21:53] #3145 closed

[2015-03-25 21:53] #3195 closed

[2015-03-25 21:53] #3204 closed

[2015-03-25 21:53] #3222 closed

[2015-03-25 23:00] nevion commented on #3107
@behlendorf

I updated to git HEAD to snag this patch.  zpool import still get's confused with the wwn / scsi-3xxx entries for my harddrives.  As such I move them somewhere else while testing importing.

I'm still getting one drive missing which might have been labelcleared, the other I have disconnected and will reconnect momentarily.

[code]
[code]
and  doing zpool import -d /dev/disk/by-id/ aga

[2015-03-25 23:17] nevion commented on #3107
small update, plugged in last drive of pool and we currently are here:

[code]

[2015-03-25 23:23] dasjoe commented on #3107
@nevion that's looking good so far. The `corrupted data` disk is the
labelcleared one?
After carry through with the import, then doing a clean export, ZFS should
no longer try to import using wwn-* or scsi-35* names.

--
Regards,
Hajo Möller

[2015-03-25 23:48] nevion commented on #3107
@dasjoe  It's this drive: https://gist.github.com/nevion/e3a81206a8bc40f47e60#file-scsi-sata_wdc_wd30efrx-68a_wd-wcc1t0804382-part1

Actually I don't know why I forgot this but here is a zfs history before the pool started getting bogged down with "corruption": https://gist.githubusercontent.com/nevion/0bcb7010e52184b07576/raw/zfshist.txt

I'm not sure I ever succeeded in labelclearing although I