[2016-05-30 12:32] javenwu commented on #3937
@xhernandez To reply your previous comments, ZFS sync takes very strict sequence on every transaction group sync context, the dn_phys will not be overwrote after spill blkptr being assigned.

[2016-05-30 12:50] xhernandez commented on #3937
@javenwu I already thought about the possibility of switching those two checks, however I don't have enough knowledge about ZFS to be sure that this can be done (i.e. could it be possible that db_blkptr != NULL and contain a valid bp ? in that case this approach is not valid).

On the other hand, if we really need to do this to solve the problem, it means that we have a real overwriting of the dno

[2016-05-30 13:31] javenwu commented on #3937
@xhernandez  The overwrote that we must avoid is between the blkptr being assigned and the transaction group completed. The dbuf of spill cannot be released and recreated because it's find by dbuf_findXX . The dbuf cannot be destroyed because SA design, I think. Spill block and Bonus block uses well know logic blkid address -1 and -2, so all version spill and bonus shares the same dbuf with differ

[2016-05-30 19:55] joelnn opened #4714 "disregard, sorry mashed keyboard"

[2016-05-30 19:56] #4714 closed

[2016-05-31 04:19] #4581 closed

[2016-05-31 07:32] lundman opened #4715 "zfs destroy: dataset is busy"
ZFS: Loaded module v0.6.5.5-1
Linux 3.10.0-327.10.1.el7.x86_64 # 1 SMP Tue Feb 16 17:03:50 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

There are a couple of issues with similar problem, but I think they are old enough that we should already have those fixes. I am suspecting this has something to do with how the NFS server is setup.

There are many datasets on this system, one such example would be

[

[2016-05-31 09:54] rubentolosa opened #4716 "Hang of whole server 2 hours after accessing a snapshot via NFS"
I have a server with Ubuntu 14.04, kernel 3.13.0-86-generic, zfs version 0.6.5.4.

We have about 70 active users, and each one has his home in a filesystem.
I keep about 60 snapshots for each user (13 x 5 minutes, 13 x 20 minutes, and so on...) for a month...
Users mount their home directory via NFS and when needed they access a snapshot to recover some deleted files... It's been few monts working

[2016-05-31 12:11] javenwu commented on #3937
The testing with my fixing was running over 24 hours without error. Without the fixing, my test case would suffer panic problem within 30 minutes. Today, we started some regression testings, iozone, private FS test tool that create/write/verify/delete huge mount directories and files, so far so good.

[2016-05-31 15:30] dweeezil commented on #3937
@javenwu Your patch causes leaked blocks every time a spilled SA is modified.  I've still not been able to reproduce the original problem.

[2016-05-31 15:44] dweeezil commented on #3937
To clarify a bit:  Clearing the spill blkptr immediatly in ```dbuf_check_blkptr()``` for a spill block causes the existing blkptr, which refers to the pre-updated state of the spill block, to be leaked.

[2016-05-31 15:52] behlendorf commented on #4496
@lots0logs I wasn't able to reproduce the issue locally but the `After=systemd-remount-fs.service` should have addressed the issue reported here.  However, this patch also disables the zpool-import-scan service by default which might cause root pools to nto be automatically imported the initramfs doesn't contain a cache file.  This was done to ensure to ensure pools don't get automatically importe

[2016-05-31 16:12] behlendorf commented on #4658
@supermauro thank you for identifying the exact case where this fails, we'll look in to it and get it resolved.

[2016-05-31 18:24] behlendorf commented on #4713
@johnkeates thanks for filing this.  I spent a little time looking at this so let me post a possible solution to resolve this.  This problem should only impact devices which Linux is performing explicitly power management on.  Drives which spin up/down due to internal power management shouldn't see this issue.

We're going to need to add some code to check the `request_queue->rpm_status` to determ

[2016-05-31 18:34] behlendorf commented on #4715
Right, that's a good guess.  Under Linux the NFS kernel server holds a reference on the filesystem which keeps it busy.  That reference only gets dropped when after exportfs is run to unshare the filesystem.  Beyond that a `umount -l` for Linux is a lazy unmount and only cleans up the namespace, internally it still has a reference and is busy until any process with a file handle open closes it.

U

[2016-05-31 23:07] #4705 closed

[2016-05-31 23:07] #4706 closed

[2016-05-31 23:07] #4707 closed

[2016-06-01 00:55] lots0logs commented on #4496
@behlendorf That makes sense. I will pass the advice on to the user. Thanks for the quick response. Cheers!

[2016-06-01 01:24] lundman commented on #4715
It'd be nice to prove it was a leak between zfs and nfsd, but that would be pretty hard to show, let alone track down.

[2016-06-01 08:45] javenwu commented on #3937
@dweeezil Thanks Tim for the reminder. You are right, I neglect the case for continuous spill block update. I adjusted the fixing to clear spill block's blkptr only when from non-spilling switch to spilling case. The patch please refer to the attached file.

The panic can be reproduced when ：3 transaction groups.
spilling-->non-spilling-->spilling.
  txg1           txg2             txg3

For non-s

[2016-06-01 08:58] xhernandez commented on #3937
@javenwu I think this approach is better. I'll test it. Thanks.

[2016-06-01 09:07] xhernandez commented on #3937
@javenwu only a minor detail about your patch. We could modify it a bit to avoid an unnecessary acquisition of a mutex in some cases:

[code]

[2016-06-01 09:50] javenwu commented on #3937
@xhernandez Your suggestion is good. It seems continuous spill update won't acquire mutex.
However, I hesitated whether we should check the flag within the dn->dn_mutex protection.
From good programming culture, we should check the flag with the mutex.
But I found the flag are set always in sync context, it don't need check the flag in the same context with the mutex protection. If somebody change

[2016-06-01 13:32] ntenisOT opened #4718 "ZFS issue after enlarging image"
I created a new img using the following command:

    truncate -s 250G disk.img

and I replace the existing image that I used for zpool with that one using (lxd.img was 2G):

    zpool replace lxd lxd.img disk.img
I set the autoexpand to on

    sudo zpool set autoexpand=on lxd
But the size is still 2GB and I have an EXPANDSZ property that states the size of the new image.

    NAME   SIZE  ALLOC

[2016-06-01 13:34] FransUrbo commented on #4718
You need to put disk.img online as well.

[2016-06-01 13:35] ntenisOT commented on #4718
But I think it is online.

    sudo zpool status
    pool: lxd
    state: ONLINE
          scan: resilvered 1.82G in 0h0m with 0 errors on Wed Jun  1 14:38:48 2016
        config:

	NAME                     STATE     READ WRITE CKSUM
	lxd                      ONLINE       0     0     0
	  /var/lib/lxd/disk.img  ONLINE       0     0     0

    errors: No known data errors

[2016-06-01 13:37] dweeezil commented on #3937
I can't help but think this might be a side-effect of 4254acb.  @javenwu I still can't reproduce the problem even following the spilling-->non-spilling-->spilling in successive txgs.  Presumably the non-spill case must have a sufficiently large SA to cover the spill blkptr area and that's exactly what I was trying to do.  Have you got a reliable reproducer script?

[2016-06-01 13:37] ntenisOT commented on #4718
Oh thanks. I did:

    sudo zpool online -e lxd /var/lib/lxd/disk.img

and now I have:

    NAME   SIZE  ALLOC   FREE  EXPANDSZ   FRAG    CAP  DEDUP  HEALTH  ALTROOT
    lxd    250G  1.82G   248G         -     0%     0%  1.00x  ONLINE  -

[2016-06-01 13:37] #4718 closed

[2016-06-01 13:48] FransUrbo commented on #4718
Yes, but not the added space..

[2016-06-01 13:50] ntenisOT commented on #4718
Thanks a lot 👍

[2016-06-01 14:37] hsepeng commented on #3937
@dweeezil, our (@javenwu and me) environment was based on the glusterfs (3.7.11 with quota enabled) on zfs. we were using the "rsync -a" to copy the dirs and files into the nfs mount point of the glusterfs volume, which could easily reproduce the panic.

[2016-06-01 15:24] xhernandez commented on #3937
@dweezil I think that another condition is needed for the bug to happen. When dbuf_undirty() is called from dbuf_rm_spill(), it needs to fail (i.e. return false because the spill buffer is still referenced somewhere). Otherwise the spill dbuf is destroyed and a new one is created later with db_blkptr == NULL. I think that the dbuf needs to survive the non-spill step and when it's referenced again

[2016-06-01 15:35] dweeezil commented on #3937
@xhernandez That's likely the condition I've not been able to reproduce.  I'm thinking a fix for this issue likely belongs in ```dbuf_free_range()``` as a follow-on to 4254acb since prior to that patch, the undirty didn't happen.  Possibly doing something like clearing ```db_blkptr``` when ```dbuf_undirty``` fails for the ```freespill``` case.  Since OpenZFS has adopted the 4254acb, I think @ahren

[2016-06-01 15:58] hsepeng commented on #3937
i and @javenwu were working on this bug fix.  our lattest fix patch diff file shown below, which
include detailed comments about how to solve this bug.
please help to review it, thanks for all your efforts and valuable comments

[coderevie.txt](https://github.com/zfsonlinux/zfs/files/293824/coderevie.txt)

[2016-06-01 16:13] ahrens commented on #3937
@hsepeng The change (in coderevie.txt) make sense.  Can you explain (in the comment) the code path that leads to trying to zio_free() the garbage dn_spill?

The comments could use some wordsmithing.  Let me know if you want help with that.

[2016-06-01 16:17] behlendorf commented on #4680
@rlaager let's not change the `libzfs_init()` interface unless we have too, at this point there are external consumers we don't want to break.  This is the main reason the error handling here is slightly weird, the original upstream implementation simply returned NULL for all failures.  Setting errno was added latter to provide some information without having to change the interface.

As for a sol

[2016-06-01 18:06] darkpixel commented on #4528
I've noticed something similar on a Proxmox box.  I'm running two VMs.  When the scrub starts, everything runs fine for about 5-10 minutes, then the scrub speed drops way down, the VMs become extremely sluggish, and the CPU load on the box jumps from ~2 to ~16.  Stopping the scrub results in the load dropping back down to ~2 within 60-90 seconds, and the VMs become responsive within ~10 seconds of

[2016-06-02 05:48] herver commented on #4327
Hi there,

The metadata for the kmod repo for el6/7 are still lagging behind, the RPMs are there for 0.6.5.7 but the repodata didn't get updated (which causes mirror creation to skip these).

- http://archive.zfsonlinux.org/epel/6/kmod/x86_64/
- http://archive.zfsonlinux.org/epel/7/kmod/x86_64/

Could you please have a look ? (and possibly automated it as for the normal repo ?)

[2016-06-02 06:22] xhernandez commented on #3937
@hsepeng are you sure that checking the dn_flags inside the mutex is necessary ?

If flags could be set concurrently, then this solution is not valid because it might set the DNODE_FLAG_SPILL_BLKPTR before it's checked, even if it's inside the mutex. In this case the db->db_blkptr won't be cleared and the bug will appear again.

I think it doesn't make sense this possibility (having concurrent upd

[2016-06-02 06:38] hsepeng commented on #3937
@xhernandez i agree with you that the clear and set of the dn_flags were in the same thread context without concurrent updates in the current code base.
i make dn_flags test and set under the mutex protection is from the perspective of code maintainance and the future just in case scenario since the overhead is negligible.

[2016-06-02 07:07] xhernandez commented on #3937
@hsepeng if in the future the flag is touched anywhere else, this piece of code will need to be changed also, or the bug will appear again. Note that other places where dn_flags is checked are done outside the mutex protection.

If sometime a change is made that sets the flags in another place, the mutex doesn't guarantee anything. It can be set before the mutex is entered, so the check will fail

[2016-06-02 07:09] rincebrain commented on #4704
I _think_ the problem you're encountering is that running find on FOO/.zfs/snapshot doesn't trigger mounts of all of them , so to speak.

For example:
`$ find /workspace/juke_dump/.zfs/snapshot/ | wc -l
16
$ find /workspace/juke_dump/.zfs/snapshot/ | wc -l
887
$ find /workspace/juke_dump/.zfs/snapshot/ | wc -l
1758
$ find /workspace/juke_dump/.zfs/snapshot/ | wc -l
2629
$ find /workspace/juke_dump

[2016-06-02 08:20] bknl opened #4720 "zpool events: internal error: Bad file descriptor, zed goes 100% CPU"
I am at zfs-0.6.5-300-g8fbbc6b, on a 3.16.7-35 kernel ( openSUSE 13.2) on two different machines that got upgraded to that version, the following errors appear:

on one machine zed goes into some internal loop trying to do an ioctl on a file descriptor from a previous open of /dev/zfs, the other is fine.

On _both_ machines, "zpool events" yields:
TIME                           CLASS
internal erro

[2016-06-02 08:50] lnxbil commented on #4704
Thank you for your comment. Your suggested solution is actually what I do right now and what I meant by

[2016-06-02 11:55] hcw70 commented on #4667
Is there a solution to my problem? Should i rebuild my debian package or extract the missing files from somewhere?

Kind regards

Hauke

[2016-06-02 11:56] FransUrbo commented on #4667
Simples would just to take it from https://raw.githubusercontent.com/zfsonlinux/zfs/master/cmd/zed/zed.d/zed-functions.sh.

[2016-06-02 12:13] hcw70 commented on #4667
Ok, with the "zed-functions.sh" in place and also symlinked, zed works!

Kind regards

Hauke

[2016-06-02 12:13] #4667 closed

[2016-06-02 12:34] hcw70 opened #4721 "zpool scrub hangs on non-redundant data failure"
When doing

on a (by accident) non redundant disk file, and then doing a

the data corruption is reported correcly and visible via zpool status, but the scrub process does not terminate. The process is not killable with -KILL.

[2016-06-02 12:45] hcw70 commented on #4721
Btw: status after scrubbing is:

[2016-06-02 13:13] dweeezil commented on #3937
The missing piece of this puzzle is how ```dbuf_sync_leaf()``` can be entered for a spill block when both ```db_blkptr``` is not NULL, points to SA leftovers in ```db_spill``` and ```DNODE_FLAG_SPILL_BLKPTR``` is clear.  The patch proposed here clearly fixes the problem (and actually NULLs ```db_blkptr``` in many cases where it is already NULL, but I wonder if the real issue is how this condition

[2016-06-02 13:19] kdomanski commented on #4361
@behlendorf One interesting phenomenon I noticed is a huge amount of kernel threads spawned by ZFS. Here's a full list. Is that normal?

[code]

[2016-06-02 16:24] alexbarton opened #4722 "kernel: WARNING: Unable to automount …: 256 / cannot stat "…": Object is remote"
We are running the Debian packages _0.6.5.7-8-jessie_ on Debian 8, kernel 3.16.0-4-amd64, and I'm seeing messages like the following every other second in the kernel log:

[code]

The path names doesn't make sense for me, inside of the "dated" directory ("2016…") the actual clone of the systems is stored, there are no "backup1/systems/…" directories at all. For example:

[code]

Can I see what tri

[2016-06-02 17:24] xhernandez commented on #3937
@dweeezil I'm trying to trace the path followed by a dbuf that works fine and a dbuf that causes a panic and I've seen that they start to differ when dbuf_undirty() is called.

In the bad case dbuf_undirty() returns false, but not because the dbuf is still referenced by anyone else, as I thought previously. It returns false because the dbuf is not dirty in the current transaction group. It's dirty

[2016-06-02 18:15] tuxoko commented on #3779
Hi @don-brady
May I ask what's the current status of this feature? Is there anything I can help work on with?
Thanks.

[2016-06-02 18:18] tuxoko commented on #4722
Please try this patch https://github.com/zfsonlinux/zfs/pull/4672

[2016-06-02 19:00] tuxoko commented on #4704
Does `rsync -anv` works?

[2016-06-02 22:33] tonyhutter commented on #3770
@behlendorf I can take a stab at porting this one.  @lundman thanks for the heads-up on the OSX port!  Should make life a lot easier.

[2016-06-02 23:12] behlendorf commented on #4720
@bknl thanks for the bug report.  Do you happen to have test case we can use to reproduce this?

[2016-06-02 23:16] behlendorf commented on #4721
@hcw70 was the pool suspended?  This should be logged on the console.

[2016-06-02 23:18] behlendorf commented on #4361
@kdomanski yes, that's normal.  For the 0.6.5.x releases those threads will be created when the pool is imported, for changes on the master branch those threads will be created and destroyed dynamically as needed.

[2016-06-02 23:24] lundman commented on #4720
This probably  isn't relevant, but we had this happen if /dev/zfs was not available (unloaded the kmods) then it spins in tight loop trying to reopen libzfs. But doesn't look like they unload kmods here :)

[2016-06-02 23:39] dweeezil commented on #3937
@xhernandez I was able to exercise that code path in my testing, but it never resulted in non NULL db_blkptr  for a spill block pointer pointing at trash.

I'll keep trying to reproduce this, but think your patch makes sense right now even though I'm unclear of the  code paths which can cause the problem.

[2016-06-03 02:15] waddles commented on #3766
I'm hitting exactly the same problem using afpd (Netatalk) but it also looks like the same problem was reported with smbd (Samba) in #4025 and #4105 which all show a problem using getxattr().

I have been seeing this fairly regularly since I started using Netatalk about 6 months ago on Ubuntu 15.10 with PPA packages and still after upgrading to Ubuntu 16.04 with supported packages.
[code]
It only

[2016-06-03 04:32] waddles commented on #3766
I tried setting xattr=off while the filesystem is locked but it just hangs (as I expected). In case this helps debug the problem:
[code]

[2016-06-03 06:38] bknl commented on #4720
Mmh. I  pulled forward to zfs-0.6.5-301-g1eeb456 and spl-0.6.5-62-g16fc1ec. Rebooted, same behaviour.
ZFS works normally (It's my production machine at work), snapshots can be created, the full shebang.
 But still fishy:

% zpool status micron
  pool: micron
 state: ONLINE
  scan: scrub repaired 0 in 0h7m with 0 errors on Tue Feb 23 10:23:57 2016
config:

        NAME

[2016-06-03 08:00] ronnyegner commented on #3770
@tonyhutter I can´t help you with the programming, but i can help with testing...

[2016-06-03 08:02] lnxbil commented on #4704
I just tried to figure out what @tuxoko meant I think it works:

[code]

all files were found (in the snapshots and in the filesystem itself), yet it took ages to build the file list.

[2016-06-03 08:09] lundman commented on #3770
Although, now I'm thinking about redoing it, since the crypto PR adds the whole IllumOS crypto to ZFS, and skein/edon-r just slot into that, I should remove it from SPL and move it to ZFS.

 So could be worth keeping in mind, if to base it on crypto :)

[2016-06-03 09:37] osd1000 commented on #4650
Just a quick update to say I applied 0.6.5.7 and have not seen the lockup since...

[2016-06-03 13:10] osd1000 opened #4724 "zfs recv very slow with many unchanged snapshots"
Ubuntu 14.04.3 LTS
ZFS 0.6.5.7-1~trusty

I'm doing incremental zfs replication between two ZoL hosts using zfs send -I and zfs recv.  I have hourly snapshots running on the source host.

recv seems very slow when restoring a tiny (~16k) stream containing 25 intermediate snapshots with no changes between them.

root@rooster:~# zfs send -I local/home/damtp/hep/xx558@1464871319 local/home/damtp/hep/x

[2016-06-03 14:13] D4rk4 opened #4725 "Can't build ZFS module via DKMS on Debian 8"
/var/lib/dkms/zfs/0.6.5.991/build/module/zfs/zpl_file.c: In function ‘zpl_llseek’:
/var/lib/dkms/zfs/0.6.5.991/build/module/zfs/zpl_file.c:424:3: error: implicit declaration of function ‘spl_inode_lock_shared’ [-Werror=implicit-function-declaration]
   spl_inode_lock_shared(ip);
   ^
/var/lib/dkms/zfs/0.6.5.991/build/module/zfs/zpl_file.c:430:3: error: implicit declaration of function ‘spl_inode_u

[2016-06-03 14:23] ptx0 commented on #4724
You should check the value of `zfs get -p -H -o value written path/to/filesystem` before snapshot, ensure it is over a threshold (non-zero) to avoid unnecessary snapshots being sent/recv.

[2016-06-03 14:37] FransUrbo commented on #4725
https://github.com/zfsonlinux/pkg-zfs/issues/211

[2016-06-03 14:37] #4725 closed

[2016-06-03 15:09] kdomanski commented on #4361
Here's a task dump from a machine in a faulty state:
https://gist.githubusercontent.com/kdomanski/018813a8485ca86c7139411266d5b0da/raw/b9a5a55dcf0880ce488cd3786967ff0e88aac7a1/gistfile1.txt

Trying to reboot right after this dump caused the machine to block on the systemd task.
Console shows `Reached target shutdown` - normally right after this I should get a split-second message about the drives

[2016-06-03 16:03] behlendorf commented on #3770
I haven't looked carefully at the dependencies needed for this patch.  But I'd be OK with applying the first half of the encryption patches which add the Illumos Crypto Framework if that functionality is needed.  I'd far prefer that to adding additional interfaces to the SPL.

[2016-06-03 16:57] behlendorf commented on #4721
@hcw70 OK so this is expected behavior.  When a non-redundant pool suffers enough damage that it no longer can continue it will suspend the pool and all I/O.  This includes the scrub, which is what you're seeing.  This behavior is configurable with the **failmode** pool property, by default the property is set to **wait**.

[code]

[2016-06-03 16:57] #4721 closed

[2016-06-03 17:33] tonyhutter commented on #3770
@ronnyegner thanks for the offer. I'll give you a heads-up when I'm ready to test.   @behlendorf I'll port this to ZFS only (no SPL).

[2016-06-03 20:48] rlaager commented on #4680
One complicating factor is that the error message is a static string. If we write "/etc/mtab" in the string, then we have hard-coded the filename, which may not match the value of MNTTAB. If we put MNTTAB into the string, then we won't properly match strings in the translation catalog.

Do we actually care about /etc/mtab being a real file? If we don't, we could replace MNTTAB with a hard-coded /p

[2016-06-03 21:28] tuxoko commented on #4704
So rsync works but find doesn't. So I think the problem might be older find version doesn't know how to deal with automount. On my system both rsync and find works fine.

[2016-06-03 21:31] lnxbil commented on #4704
What ```find``` version do you use?

I use:

[code]

[2016-06-03 21:36] tuxoko commented on #4704
I'm on ubuntu 16.04
[code]
This could also be caused by how zfs shows unmounted snapdir as zero sized. So when find(1) does stat(2), it would think it's empty and not trying to open it.

[2016-06-03 21:37] lnxbil commented on #4704
Will try a newer version next week.

[2016-06-03 23:49] behlendorf commented on #4680
@rlaager that's a good point.  My recollection of the code is that we already handle the case where /etc/mtab is a symlink to /proc/self/mounts.  It wouldn't take much to extend that to not caring at all if /etc/mtab even exists.

[2016-06-04 00:53] jonathanvaughn opened #4726 "arc_reclaim / arc_prune out of control after running long rsync"
This may be related to similar issues such as #4345 or #4239, but those didn't seem to quite match what I'm experiencing.

We've upgraded several machines recently from CentOS 6 to 7, and are using ZFS. I haven't seen this issue on all machines, only the most recent one, so I'm not sure what the issue is.

When performing a large rsync (many GB and hundreds of thousands of files, but not performin

[2016-06-04 01:24] tuxoko commented on #3164
Here as well:
http://build.zfsonlinux.org/builders/Amazon%202015.09%20x86_64%20SIMD%20%28TEST%29/builds/646/steps/shell_12/logs/console/text

[2016-06-04 12:51] dweeezil commented on #4726
@jonathanvaughn Could you please post the full ```/proc/spl/kstat/zfs/arcstats``` when this is happening.  I suspect there are other process competing for memory.  By default, on a 32GiB system, ZoL is going to want to keep at least 512MiB free memory in the system.  This behavior can be adjusted with the newish ```zfs_arc_sys_free``` tunable if necessary.

[2016-06-04 13:13] mailinglists35 opened #4727 "`zfs create` takes unreasonably long time, exponential to existing number of datasets"
When there are lots of existing datasets in an imported pool, creating new datasets take very long time.
steps to reproduce:

[code]

in the graph below, at around 1500 datasets created in the ram-file-backed test pool I have imported a real pool containing 1600 datasets - see how creation time jumped after that.

system specs and zfs/zpool config mentioned [here](https://github.com/zfsonlinux/zfs

[2016-06-04 13:58] dweeezil commented on #3766
@waddles It looks like pids 24992 and 25226 are also blocked.  Could you please post the stack for all blocked processes when this occurs.  Something must have a dirlock on the xattr directory and isn't letting it go or else there is a lock leak.

I did a quick survey of all open issues involving ```zfs_dirent_lock()``` and none of them appear to involve waiting for a release of a dirlock so it lo

[2016-06-04 14:38] dweeezil commented on #4727
@mailinglists35 What happens if you don't mount them (use ```zpool create -O mountpoint=none deleteme /mnt/test/deleteme```)?

[2016-06-04 17:09] Celmor opened #4729 "Healthy Zpool unmountable due to error 1 (archzfs 0.6.5.7_4.5.4_1-1)"
Hello, I have a bit of a problem with ZFS.
I created a [mirrored Zpool](https://pastebin.com/d7zbZhHQ)  on 2 LUKS volumes, after exporting, reboot and importing it, it reports:

[code]

**Status:**

[code]

While on Manjaro:

[code]

I downgraded now to the [LTS / version for 4.4.11](https://pastebin.com/Fv49ubR2) of ZFS (from archzfs repo) and linux (kernel) which made the zpool mountable again.

[2016-06-04 17:28] xhernandez commented on #3937
@dweezil I think I've identified the code path that leads to this situation.

1. Current txg = A.
2. A new spill buffer is created. Its dbuf is initialized with db_blkptr = NULL and it's dirtied.
3. Current txg = B.
4. The spill buffer is modified. It's marked as dirty in this txg.
5. Additional changes make the spill buffer unnecessary because the xattr fits into the bonus buffer, so it's removed

[2016-06-04 18:31] mailinglists35 commented on #4727
@dweeezil I'll re-run and post updates. meanwhile, with NO datasets mounted (the pool with 1600 datasets only imported but not mounted), I get 12 seconds on `zpool create deleteme /mnt/test/deleteme`

    root@linux:~# time perf record -a zpool create deleteme /mnt/test/deleteme
    [ perf record: Woken up 19 times to write data ]
    [ perf record: Captured and wrote 4.862 MB perf.data (99048 sam

[2016-06-04 18:45] mailinglists35 commented on #4727
with `-o mountpoint=none` or with `-o canmount=noauto` (I prefer the later, since I will want the real dataset mounted eventually) I get about 0,015s for 1 dataset creation, no matter how many datasets I create

[2016-06-04 21:16] jonathanvaughn commented on #4726
[code]

[2016-06-04 21:27] jonathanvaughn commented on #4726
The pool status
[code]

[2016-06-05 13:29] dweeezil commented on #4726
@jonathanvaughn Your system is having trouble keeping the metadata under the limit and its not showing much evictable memory.  Try setting the tunable ```zfs_arc_meta_strategy``` to zero and see if the traditional metadata-only adjuster doesn't work better.

[2016-06-05 13:30] meagon opened #4731 "compile error"
/dev/shm/master/module/zfs/arc.c: In function ‘arc_reclaim_thread’:
/dev/shm/master/module/zfs/arc.c:3452:29: error: implicit declaration of function ‘SEC2NSEC’ [-Werror=implicit-function-declaration]
    growtime = gethrtime() + SEC2NSEC(arc_grow_retry);
                             ^
/dev/shm/master/module/zfs/arc.c:3504:11: error: implicit declaration of function ‘cv_timedwait_sig_hires’ [-Werr

[2016-06-05 13:34] DeHackEd commented on #4731
What version of ZFS, what kernel are you compiling it against, and what did you give to `./configure` ?

[2016-06-05 13:39] meagon commented on #4731
./configure --with-spl=/usr/local/src/spl-0.6.5.7

[2016-06-05 13:39] meagon commented on #4731
get from the master

[2016-06-05 14:42] CySlider opened #4732 "Missing mechanism to fix permanent errors/delete file over all snapshots"
### Situation
* Desktop PC setting
* 9TB RaidZ1 with 4 * 3TB
* One failing disk replaced
* Resilvering turned out a bunch of **Permanent errors** of the like:

`tank/Shared@zfs-auto-snap_monthly-2016-01-08-1240:/Games/Steam/SteamApps/common/SatelliteReign/SatelliteReignLinux_Data/sharedassets1.assets`

* The corrupted files can not be accessed at all! (might only be a bit flip in a text file, so w

[2016-06-05 16:03] DanEmord commented on #3708
I'm currently on Ubuntu 16.04 with the latest available ZFS being 0.6.5.6 (0.6.5.7 is available in 16.10, but I don't feel like mucking with that right now :-) ). I was able to create pools on SSDs without issue, but the HDD were too slow and would fail with this error. On a whim, I decided to try maxing out the CPU to induce artificial delay... and it worked! I can reliably create and destroy the

[2016-06-05 16:39] DeHackEd commented on #4732
Snapshots are STRICTLY read-only. That is the entire point of them. The entire architecture of ZFS is designed around this assumption and very special code would need to be written to handle that. This might even enter Block Pointer Rewrite territory.

Pool redundancy (RAID-Z and mirrors) is supposed to provide the restoration point. One issue I have with these ideas idea is that the default check

[2016-06-05 16:48] CySlider commented on #4732
Yes, but at least allow to _manually_ "accept" the corruption as the new status quo, updating the checksums to reflect the corruption should be possible.

And beside that I still think that making files deletable from snapshots is a worthwhile feature to implement.

[2016-06-05 16:55] CySlider commented on #4732
What the heck is happening now?
3 Disk resivering at the same time? how is this even possible? I get more and more confused by ZFS behaviour. And confused = scared for my data

    zpool status -v tank
      pool: tank
     state: ONLINE
    status: One or more devices is currently being resilvered.  The pool will
	continue to function, possibly in a degraded state.
    action: Wait for the resilv

[2016-06-05 18:31] jonathanvaughn commented on #4726
This seems to be an improvement.

So far, I was able to complete an rsync of one dataset (remote machine not ZFS, so not ZFS send/recv) without it locking up. arc_reclaim is still using about 60% CPU but I don't see a bunch of arc_prune in addition and  the system is responsive still with load only ~1. ARC size was just a bit over the limit (8.04GB vs 8GB) and I've started another rsync of another

[2016-06-05 19:01] richardelling commented on #4732
Agree. A report of error isn’t a fault.

The checksum really doesn’t matter because you’ll hit the birthday problem with any of
the checksums. In other words, trying to recreate based on bit flips aiming to match a
checksum of 256 bits against a nominal sized block of 1M bits is futile.
 — richard

--

Richard.Elling@RichardElling.com
+1-760-896-4422

[2016-06-05 19:02] richardelling commented on #4732
From the data presented, it appears as though the “sd?_crypt?” devices are corrupting data.
As the scrub identifies bad data, it tries to repair. Since you’re seeing mostly checksum errors,
then it is likely the “devices” are corrupting data.
 — richard

--

Richard.Elling@RichardElling.com
+1-760-896-4422

[2016-06-05 19:34] CySlider commented on #4732
Well this depends on the use case. I doubt that the "entire point" is it being read-only... More like the most important property is to provide access to data from an earlier time. Making it read-only makes sense to protect it, but I don't see a reason to make it a religion if the user wants a different behaviour.
I think my provided use cases are valid and reasonable, at least for desktop deploym

[2016-06-05 19:57] CySlider commented on #4732
As the scrub identifies bad data, it tries to repair. Since you’re seeing mostly checksum errors,
then it is likely the “devices” are corrupting data.

Well, I doubt that. I admit I did not scrub regularly, so when the disk failed I guess those 40 files that are now corrupted are fully on me, as the resilvering never had a chance to recrate them from 3 disks. Else this tank did run fine for nearly

[2016-06-05 21:04] jonathanvaughn commented on #4726
After those two rsyncs (total files+directories in these datasets are over 7.3million), ARC size is 14.24GB vs 8GB limit set. Setting the datasets to primarycache=metadata and rebooting, and doing all of this again, the result is the same - over 14GB of ARC usage even though the limit is set to 8GB.

So there presumably is a problem preventing the removal of metadata from ARC to stay within the AR

[2016-06-05 21:25] oancarola opened #4733 "can't install on centos 7.2"
[root@dsk18 log]# **cat /proc/version**
Linux version 3.10.0-327.18.2.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.3 20140911 (Red Hat 4.8.3-9) (GCC) ) #1 SMP Thu May 12 11:03:55 UTC 2016
[root@dsk18 log]# **cat /etc/redhat-release**
CentOS Linux release 7.2.1511 (Core)
[root@dsk18 log]# **yum update -y**
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 *

[2016-06-05 21:34] oancarola commented on #4733
I can resolve it just installing previously  EPEL

yum install epel-release

[2016-06-05 21:34] #4733 closed

[2016-06-05 22:25] clandmeter commented on #4686
@behlendorf seems after rebasing the patches to current stable version zpool import is working properly.
Thanks again for your help on getting this to work on musl/alpine.

[2016-06-05 22:25] #4686 closed

[2016-06-05 23:09] CySlider commented on #4732
Ok, solved this at least. There was another backup running rsyncing data from the tank, slowing down resilvering considerably. Does not really explain why the status showed the wrong speed & time estimation though, maybe its a "if I am allowed to resilver (prio), this is the speed I can go".

[2016-06-06 00:02] urza opened #4734 "zfs recv over ssh without root"
Hello, sorry if this is the wrong place to ask, but I have problem I dont know how to solve.

I would like to send and receive incremental snapshot from zfs on one machine to zfs on other machine.
On sending machine I command this:

send -R -i @snap0 mypool/urza@snap1 | ssh urza@my.remote.xx sudo zfs recv -Fv mypool/urza

However problem is that I cant enter the password for sudo.
Is there a way a

[2016-06-06 00:11] rincebrain commented on #4732
As has been said, some of the parts of how ZFS is designed at its core make it impractical (to put it mildly) for the contents of a snapshot to be made read/write.

It might be possible to manually rewrite the checksums to be "correct", but since one of ZFS's goals is not to allow silent data corruption, I would be mildly surprised if code to permit that landed anywhere except maybe in zhack.

If

[2016-06-06 00:38] CySlider commented on #4732
Thank you I understand most of what you said well and already know that.

But, recalculating the checksums based on the corruption to accept the data loss should always be an option in any file system. See "Lost + Found" approach. I understand that ZFS is very proud of not letting this happen in the first place, but as you pointed out yourself in an RAIDZ1 this can very well still happen during re

[2016-06-06 03:28] dweeezil commented on #3937
@xhernandez I finally got a chance to go over your dbgmsg output.  One of the key observations was the failures of ```arc_tempreserve()```.  When this happens, the creation of new txgs is stalled and this is exactly the type of thing which would likely be required in order that the scenario you describe could happen.  Your ```dmu_tx``` kstat would likely bear that out.  I'm still working on a reli

[2016-06-06 04:25] dweeezil commented on #4726
@jonathanvaughn You might be better off with the default "balanced" strategy.  There are a couple of parameters which it uses:  ```zfs_arc_meta_adjust_restarts``` (default 4096) controls the number of passes made over data & metadata and likely represents all the CPU being used by the ```arc_reclaim``` thread.  The ```zfs_arc_meta_prune``` parameter (default 10000) is the amount of objects it scan

[2016-06-06 05:06] jonathanvaughn commented on #4726
Trying right now with restarts 8 and prune 100000. So far this seems to be keeping arc_reclaim from going crazy.

Is there a technical reason why there's not some kind of built in abort to the reclaim loop if it's taking more than a some sane amount of time to finish reclaiming?

Either way, if this solves it, great. Eating ~50% of RAM for this server would be not great but survivable (just) but t

[2016-06-06 05:22] jonathanvaughn commented on #4726
Looks like I spoke too soon / didn't wait long enough. I am going to continue to fiddle with those two settings though and see if some combination works out.

[2016-06-06 08:38] osd1000 commented on #4724
That makes snapshotting rather more complicated than a simple `zfs snapshot -r` ; I'm really looking for a speedup on the receiving end.

[2016-06-06 09:22] erikjanhofstede commented on #4512
Hi,

I'm seeing the same behaviour after updating from 0.6.4 to 0.6.5. Version 0.6.5 is much heavier on the writes being flushed to disks. My observations:

- Dirty data settings seems to be okay: no throttle is being hit.
- Before the update there where quite some merged io's. After the update none
- Disabling/enabling compression does nog change the situation
- There are ~4 times more writes bei

[2016-06-06 10:23] D4rk4 commented on #4734
Enable root. Disable password auth...

[2016-06-06 10:52] urza commented on #4734
I successfully solved the issue by following this solution: https://askubuntu.com/questions/159007/how-do-i-run-specific-sudo-commands-without-a-password

Thank you

[2016-06-06 12:05] fractalram commented on #4150
I'm seeing a similar issue here with running gluster atop 0.6.5.6. The issue first manifested itself when we saw a full filesystem on a df even though there were hardly any files there :

[root@gridcell-pri dist_vol]# df -h .
Filesystem            Size  Used Avail Use% Mounted on
frzpool/normal/dist_vol
                       16E   16E     0 100% /frzpool/normal/dist_vol

Then an ls -l on that dat

[2016-06-06 12:20] dweeezil commented on #4726
@jonathanvaughn There's not been a report of runaway metadata in awhile so I'm wondering if there's anything else special with your setup.  I ran a few of my normal tests and wasn't able to duplicate the situation.  I'm going to start by switching to a 4.6 kernel since my main tests system is running 4.4.6 at the moment to make sure it's not something with the kernel.  Could you, for example, be u

[2016-06-06 13:08] dweeezil commented on #4726
@jonathanvaughn In my initial tests on a 4.6 kernel, it looks like I was able to duplicate the problem.  I'm going back to 4.4.6 to make sure it really didn't happen there.

[2016-06-06 15:52] pdemarino commented on #3094
Experiencing the same problem on a newly created single-disk root pool (Ubuntu 16.04 fresh install). Contents are not incredibly sensitive, happy to share if helpful. Other older servers (14.04) and their pools apparently not affected.

[2016-06-06 16:06] mailinglists35 commented on #2452
@kpande ok, not a support forum, but just giving feedback that the patch does not have the intended effect.
@behlendorf, I also am trying to import an exported healthy pool (no configuration change, just deleted some stuff, exported pool, wanting to recover) but getting the same error message.

[2016-06-06 17:13] tonyhutter commented on #3770
I talked with @behlendorf offline about this, and the current plan is for us to port it on top of the Crypto Framework from https://github.com/zfsonlinux/zfs/pull/4329

[2016-06-06 18:41] jonathanvaughn commented on #4726
So the reason I didn't initially have total success was I forgot to change the strategy back, and after I did so I was unable to reboot to clear ARC (because our users were coming online). However, over the last ~12 hours those ZFS parameter changes did work, and ARC size is now staying at the ARC maximum. I guess because there were already some arc_reclaim runs that were using the old strategy it

[2016-06-06 18:46] jonathanvaughn commented on #4726
For whatever reason Github hadn't refreshed so I didn't see your last updates.

I don't think we're using xattrs extensively, but we are using xattr=sa setting. I am not aware of any specific uses of xattrs, but there might be some projects that have used them (so could be some 10's or 100's of thousands of files, out of the millions).

I wasn't using --fake-super (I was running rsync as root on b

[2016-06-06 19:35] dweeezil commented on #4726
@jonathanvaughn This is a regression caused by changes between the 4.5 and 4.6 kernel.  I'm working on a patch.

[2016-06-06 21:32] dweeezil commented on #4726
The problem appears to be the continuing evolution of memory cgroups (memcg).  If you boot with ```cgroup_disable=memory``` the reclaiming should start working again.  I've not worked up a patch yet.

[2016-06-06 21:49] behlendorf commented on #4731
@meagon you need to pull the latest version of the SPL master branch.

[2016-06-06 21:49] #4731 closed

[2016-06-06 22:07] jonathanvaughn commented on #4726
I will try to test this in a few hours when we have no active users of that system.

[2016-06-06 22:48] behlendorf commented on #4734
Once #4487 is merged you'll be able to use delegations to address this issue as well.

[2016-06-06 22:48] #4734 closed

[2016-06-06 23:02] behlendorf commented on #2452
@mailinglists35 even with the patch there's no guarantee you'll be able to rollback more than a few TXGs.  At that point ZFS can start overwriting previously freed blocks.

[2016-06-06 23:38] mailinglists35 commented on #2452
@behlendorf
with the below testcase, should the file recoverable? because on my case, it gives the same error message even if I try to use the previous txg.

    root@linux:~# truncate -s 2GiB /tmp/deleteme
    root@linux:~# zpool create test /tmp/deleteme
    root@linux:~# zfs mount
    test                            /test
    root@linux:~# cp /bin/true /test/
    root@linux:~# zpool export test

[2016-06-06 23:49] behlendorf commented on #2452
@mailinglists35 yes, I'd expect that to work but you may need to also provide -F.

[2016-06-07 00:00] mailinglists35 commented on #2452
the manual page says that -F and -X are implied when doing -T. Adding -F does not produce any change.

[2016-06-07 00:03] don-brady commented on #3779
@tuxoko I'm hoping to post a public WIP branch soon. The creation/addition of VDEVs dedicated to specific metadata classes is functional. Currently working out accounting issues in metaslab layer.  We just started running ztest with metadata only classes to help shake out any edge cases (found a few). Let me come up with a to-do list so others can help.

[2016-06-07 00:08] mailinglists35 commented on #2452
and I'm pretty sure I have modified the vdev_label.c file:

root@linux:~# grep -C4 'label_txg > best_txg'  /var/lib/dkms/zfs/0.6.5.7/build/module/zfs/vdev_label.c
                            ZPOOL_CONFIG_POOL_TXG, &label_txg);
                        if ((error || label_txg == 0) && !config) {
                                config = label;
                                break;

[2016-06-07 00:27] tuxoko commented on #3779
Sounds great!!

[2016-06-07 00:39] jonathanvaughn commented on #4726
I am start the test now on the existing server with cgroup_disable=memory setting.

Also building yet another new server, this one so far isn't having any problems even without making those ZFS parameter changes. The only difference are : hard drives (3TB vs 2TB and different brand) which seems unlikely to be related, CPU (previous one was AMD FX-8320, this one I'm building now is FX-8350), and ke

[2016-06-07 01:04] jonathanvaughn commented on #4726
cgroup_disable=memory definately solve the problem under 4.6.0. I am testing that same machine in 4.6.1 now since 4.6.1 is working on the other machine without any special configuration.

[2016-06-07 01:13] jonathanvaughn commented on #4726
Upgrading to 4.6.1 solved it for the machine I originally posted this issue about.

So it looks like whatever "they" broke in kernel 4.6.0 "they" fixed in kernel 4.6.1. So as far as I am personally concerned, there's no need to make a patch for 4.6.0 to solve this.

[2016-06-07 01:38] mailinglists35 commented on #2452
ah, it seems I forgot to unload the old zfs module and load the patched version. waiting for import...

[2016-06-07 02:07] gnif opened #4736 "Permanent errors, <0xffffffffffffffff>:<0x0>, due to my own stupid mistake."
I have a zfs pool I made an error with and screwed up, I had just rebuilt my local server and when I when to move the running machine the SATA power cable moved enough to disconnect two of the three disks that contain my ZFS pool. This obvioulsy caused a ton of errors, but thankfully the array was not very active at the time.

Once the physical issue was fixed, one disk was reading as requring a r

[2016-06-07 06:15] JuliaVixen opened #4737 "dmu_buf_get_blkptr unable to handle kernel NULL pointer dereference at 0000000000000038"
Well, this just happened, and now all writes to this filesystem block forever. I don't know what happened, I had one process writing to this filesystem over NFS, and I was reading from the same filesystem, copying some files to a local USB memory stick.

Reads still work fine, but all writes, anywhere in the pool, all block. (I have atime turned off on this whole pool, so reads shouldn't be causin

[2016-06-07 10:34] crollorc commented on #4512
@erikjanhofstede i never got a chance to test 0.6.4 unfortunately.

did you track iostat avgrq-sz as I found this halved for me with compression=on between 0.6.3 and 0.6.5?

[2016-06-07 10:39] erikjanhofstede commented on #4512
@crollorc I only tested between 0.6.4 and 0.6.5. I don't have any stats from 0.6.3. I tried with and without compression on 0.6.5, but didn't notice any difference by the way.

I'm trying to reproduce the issue on a testing server, but that pool is almost empty and there's no workload either.

@dweeezil If this issue is caused by the new priorities, is it possible that disabling spl_taskq_thread_p

[2016-06-07 10:44] erikjanhofstede commented on #4512
@crollorc I don't have any graphs when I was updating from 0.6.3 to 0.6.4 many months ago, but there was no performance regression for me as far as I can remember. Only improvements.

[2016-06-07 16:06] behlendorf commented on #4500
@FireDrunk @CurlyMoo is there still an outstanding issue here which hasn't been sufficiently addressed in the master branch?

[2016-06-07 16:12] behlendorf commented on #2567
Closing, resolved by 43148eaef2819eeda68e6846c03f0bd4672245a7.

[2016-06-07 16:12] #2567 closed

[2016-06-07 16:17] #362 closed

[2016-06-07 16:17] #434 closed

[2016-06-07 16:17] #4100 closed

[2016-06-07 16:17] #4394 closed

[2016-06-07 16:17] #4410 closed

[2016-06-07 17:24] behlendorf commented on #2998
Closing, this should have been addressed by e890dd85a7522730ad46daf68150aafd3952d0c1.

[2016-06-07 17:24] #2998 closed

[2016-06-07 17:42] behlendorf commented on #2452
I've added the patch posted here to #4186 so it's easier to find if needed.

[2016-06-07 17:58] behlendorf commented on #4512
@erikjanhofstede in the latest master code `zpool iostat` has been extended to include latency (**-w**) and request size (**-r**) histograms.  They provide an excellent view in to how well (or poorly) the ZFS I/O pipeline is merging requests _before_ they are submitted to the block device.

If you have a test system available and we suspect the thread priority changes.  Then I'd suggest running yo

[2016-06-07 18:26] hostingnuggets opened #4738 "arc_reclaim slows down system"
I am running Debian 8 with ZoL 0.6.5.6 and have 4 960GB SSD disks in a RAIDZ1 pool as well as 2 additional 240 GB SSDs for the logs in a mirror and finally a NVMe module for the cache. This server is a Xen hypervisor in order to run virtual machines and has 8 GB of RAM assigned to it (total of 128 GB of RAM) and 4 cores. Furthermore I have zfs_arc_max set to 4294967296 (4GB). The ZFS pool is used

[2016-06-07 18:31] dweeezil commented on #4738
Please post the arcstats while the problem is happening.  What kernel version are you running?

[2016-06-07 18:56] devheroo opened #4739 "does ZFS use any master file table that can be used for files search ?"
Windows NTFS uses what they call a master file table (MFT), this made it possible to create applications that search the entire disk for files names in less than a second , a good example for this is a tool called everything from (http://www.voidtools.com/), will ZFS implement such feature and hence make it possible to developed similar tools for ZFS ?

[2016-06-07 19:19] hostingnuggets commented on #4738
lucky you but unlucky me it's happening right now again, here the output of arcstat.py with 2 seconds interval:

[code]

The kernel is the following:

3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-1 (2016-03-06) x86_64 GNU/Linux

[2016-06-07 19:27] hostingnuggets commented on #4738
the contents of /proc/spl/kstat/zfs/arcstats might also be useful for you:
[code]

[2016-06-07 21:26] kingneutron commented on #4669
--I was having this exact same issue on Ubuntu 14.04-64-LTS; thank you for fixing it :)

/ currently using kernels 4.2.0-30-generic #36~14.04.1-Ubuntu SMP and
// 4.2.0-36-generic #42~14.04.1-Ubuntu SMP

(main PC, kernel 4.2.0-30)
$ dpkg -l|grep zfs
ii  dkms                                        2.2.0.3-1.1ubuntu5.14.04.1+zfs10~trusty all          Dynamic Kernel Module Support Framework
ii  libzfs

[2016-06-07 21:29] kingneutron commented on #4669
@hippie131 , what kernel version are you using, maybe try upgrading to 4.2.0-30 or -36?

[2016-06-07 21:31] hippie131 commented on #4669
Im at the highest i can be without going to the next LTS which isnt recommended until the first point release comes out

-------- Original message --------
From: kingneutron <notifications@github.com>
Date: 2016-06-07  5:29 PM  (GMT-05:00)
To: zfsonlinux/zfs <zfs@noreply.github.com>
Cc: hippie131 <pieman131@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [zfsonlinux/zfs] Created po

[2016-06-07 22:36] hippie131 commented on #4669
# uname -a
Linux Media 4.2.0-36-generic #42~14.04.1-Ubuntu SMP Fri May 13 17:27:22 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-06-07 22:46] kingneutron opened #4740 "ashift issue on linux - cannot add mirror disk or replace single-disk pool created with "default" (ashift=9) with 4K disk ashift=12 -- new device has a different optimal sector size"
Ref: https://github.com/zfsonlinux/zfs/issues/1328

--System info:
Ubuntu 14.04--64--LTS
Kernel: 4.2.0-30-generic #36~14.04.1-Ubuntu SMP
RAM: 12GB
Swap: 2GB, mostly un-used due to system optimizations

--ZFS software versions:

 $ dpkg -l|grep zfs
ii  dkms                                        2.2.0.3-1.1ubuntu5.14.04.1+zfs10~trusty all          Dynamic Kernel Module Support Framework
ii  libzfs2

[2016-06-07 22:53] kpande commented on #4694
you may have better success if accessing the zvol via some block device protocol such as AoE or iSCSI.

[2016-06-07 23:02] kpande commented on #624
it's working here.

[2016-06-07 23:02] #624 closed

[2016-06-07 23:10] kpande opened #4741 "test issue"
test issue - sorry for the noise

[2016-06-07 23:17] kpande commented on #4741
:+1:

[2016-06-07 23:19] kpande commented on #4741
test

[2016-06-07 23:19] kingneutron commented on #4740
--OK, so after unplugging the original disk and rebooting, things went a bit better than expected. Did not have to recreate the mountpoints. Again, this is Ubuntu 14.04-64

( I also forgot to mention that I backed up the whold original pool with tar to another zfs pool before doing ANYTHING: )

# time tar cpf -  /bigvaiterazfs /mnt/bluraytemp25 /mnt/bigvai500 /home \
 |pv > /zredpool2/dvcompr/bkp-

[2016-06-08 00:14] richardelling commented on #4694
disagree, the deadlocks are below the volume interface (in ZFS module), not above it. So changing the wiring above the volume interface makes no difference.

[2016-06-08 01:43] JuliaVixen commented on #4737
P.S. I do have ECC memory in this computer.

[2016-06-08 09:18] hostingnuggets commented on #9
So finally when using ZVOLs with ZFS on Linux what kind of settings would you recommend? or simply leave everything as default? I use my ZVOLs for Xen virtual machines with ext4 as filesystem on it. I actually went through the following issue: #4738

[2016-06-08 09:23] xhernandez commented on #3937
@behlendorf will this patch be included in the next 0.6.5.x release ?

[2016-06-08 13:52] bknl commented on #4720
Mmh.

 Pulled one machine forward to zfs-0.6.5-304-gf74b821, rebuild, rebooted. Now "zpool events" works as expected:
# zpool events
TIME                           CLASS
Jun  8 2016 09:05:22.448859670 resource.fs.zfs.statechange
Jun  8 2016 09:05:22.448859670 resource.fs.zfs.statechange
Jun  8 2016 09:05:22.586859681 ereport.fs.zfs.config.sync
Jun  8 2016 09:05:22.645859686 ereport.fs.zfs.config.s

[2016-06-08 14:39] kpande commented on #380
From `man 8 exportfs`:

[code]

[2016-06-08 14:58] SIN3R6Y opened #4744 "Kernel Panic on SPARC64"
I've been able to minimally patch ZoL to run on almost any sparc system except one (E6K). This is the panic that you get after "modprobe zfs"

[code]

Anyone have an idea where to start? To me it looks like perhaps the virtual memory space isn't as big as ZFS wants it to be?

[2016-06-08 16:23] ptx0 commented on #9
please use the mailing list for such questions, thanks @hostingnuggets

[2016-06-08 17:35] hostingnuggets commented on #3926
@behlendorf could you comment and give more details about your sentence "Size your L2ARC accordingly" ?

I had severe performance degradation where arc_reclaim would use 100% of a CPU core as described in issue #4738. My server (hypervisor) has 8 GB RAM, 4 GB RAM is for ARC and then I have a NVMe module of 240 GB for the L2ARC. Should I have a smaller L2ARC ? or what do you recommend?

[2016-06-08 17:37] ptx0 commented on #4738
does this issue occur on HEAD?

[2016-06-08 19:23] hostingnuggets commented on #4738
@ptx this is a production server running 0.6.5.6, I can't upgrade to HEAD on this server.

After having read #3926 I suspect the problem could be related to the size of my L2ARC (240 GB) which might be big to be handled by my ARC of 4 GB and hence the constant arc_reclaim. Is this probable? and if yes what would be an optimal size of the ARC or L2ARC in order to avoid such a situation in the futur

[2016-06-08 20:56] behlendorf commented on #4738
@hostingnuggets yes, that's exactly what's going on.  You can tell by checking the `l2_hdr_size`. According to the arcstats above it has grown to 4.3G or effectively all of your ARC.  Since you're pool is all ssd I'd recommend removing the L2ARC device entirely.

[2016-06-08 21:24] hostingnuggets commented on #4738
@behlendorf thanks for your analysis. So if I understand you correctly if one has an all SSD ZFS pool there is no need for a L2ARC? even if my L2ARC is a very fast NVMe SSD PCI module which has amazing IOPS as well as something like 2 GB/s r/w transfer speed?

[2016-06-08 21:27] dweeezil commented on #4726
The problem is caused by the continued development and integration of memory cgroups.  The key commit which caused the ZoL shrinker to stop working is torvalds/linux@b313aeee25098bf361c808fe45ba2d3af398ec46.

The obvious fix is to make the ZoL shrinker memcg-aware similarly to the way in which it was made NUMA-aware.  Unfortunately, this doesn't seem possible as far as I can tell because ```mem_cg

[2016-06-08 21:30] ptx0 commented on #4738
you'll need more ARC if you want the L2ARC - or find a way to optimize the in-memory L2ARC lists.

[2016-06-08 21:56] jonathanvaughn commented on #4726
Well, I've churned through 3x as much data as would cause the ARC to grow uncontrollably without any further issues, so the problem is at least no longer presenting itself (yet) under the same circumstances it was previously.

[2016-06-08 22:09] dweeezil commented on #4726
@jonathanvaughn I can't explain why 4.6.1 would work OK.  I took a pretty good look at all 101 commits between 4.6 and 4.6.1 and there sure doesn't look like anything that would impact memory cgroups at all.  Does your 4.6.1 system still mount it in /sys/fs/cgroup/memory?  Does its ```arc_meta_used``` always stay well below ```arc_meta_limit``` and not overshoot by much?

[2016-06-08 22:12] tuxoko commented on #4737
@JuliaVixen
Please do `objdump -d zfs.ko`, find `dmu_buf_get_blkptr` and post it. You need to post what ever covered under the range of `dmu_buf_get_blkptr+0x8b`

[2016-06-08 22:57] jonathanvaughn commented on #4726
It overshoots occasionally but not abnormally - i.e. a few percent, and then goes back to the limit.

/sys/fs/cgroup/memory/
[code]

[2016-06-08 23:20] DeHackEd commented on #4740
You're actually supposed to use `zpool replace -o ashift=9 ...` to override detection on the new drive. Also note that while `ashift` looks like a pool property, it really isn't and the `-o ashift=X` notation is not really related to the equivalent operation of `zpool set`. That could be documented better.

But the warning is for your own good. The resilver will easily take 2x, maybe 10x as long a

[2016-06-08 23:34] Cydox opened #4745 "kernel modules not properly installed after custom build."
Hello,
I am not sure whether or not this is the correct place to ask this question.

After a phase of trial and error I managed to compile zfs on my Raspberry Pi B. However the kernel modules are not loaded on startup. I got around that with a little startup script however after I created a pool, I realized that it is not there after a reboot. I suspect that zfs is not fully integrated into the sy

[2016-06-08 23:36] DeHackEd commented on #4745
It's not, this is an issue/bug tracker. Please use the mailing list instead.

[2016-06-09 00:00] Cydox commented on #4745
Well I do think this is an issue/bug because I have built and installed zfs according to the wiki for custom build and I do have some issues:

- pools disappear after reboot
- kernel modules are not loaded automatically
- kernel modules do not seem to be installed properly i.e. I can't load them with modprobe
- the poolname/fsname/.zfs/snapshots folder is missing

[2016-06-09 00:03] jonathanvaughn commented on #4726
For what it's worth, I've built yet another machine today and the kernel-ml package is now 4.6.2. It also appears to work fine so far (holding at no more  than a fraction of a % over the ARC limit).

[2016-06-09 07:05] bknl commented on #4720
Pulled the other machine forward, rebuilt, rebooted. Issue is gone.  As I cannot reproduce it anymore, I'm currently inclined to close the issue.

[2016-06-09 07:35] loli10K commented on #4745
@Cydox these two:
- pools disappear after reboot
- kernel modules are not loaded automatically

are most certainly caused by the 3rd problem: when `modprobe zfs` fails the kernel should give you some kind of error message, it may be just a module dependency issue (eg. ZFS needs both `zlib_deflate` and `spl` to load, a simple `depmod` should fix that).

About the `.zfs/snapshots` problem: refer to

[2016-06-09 08:31] kingneutron commented on #4740
--I understand what you're saying, but I don't believe this behavior is what the user expects.  Original drive was 512 sector, replacement drive is 512 reported/4096 actual, so using ashift=9 gets *worse* performance out of the new drive.

--Desired behavior is for ZFS to replace the existing drive on the fly and use the more desirable ashift=12, since practically nobody is making 512 sector drive

[2016-06-09 09:01] JuliaVixen commented on #4737
This exact same bug just occurred again, under similar conditions as the first time. So, I guess it's reproducible. Here's the dump, 0x947E plus 0x71 is  `94ef:       8b 40 38                mov    0x38(%rax),%eax` which makes sense if RAX is zero.

[code]

Here is the quite nearly identical crash dump from a few minutes ago....

[code]

[2016-06-09 09:57] DeHackEd commented on #4740
Sorry, it doesn't matter what the user expects because that's not how it works. You can't mirror two disks but have them use different pool layout geometries. Furthermore ZFS is incapable of converting the geometry of an existing vdev due to the requirements of Block Pointer Rewrites.

[2016-06-09 10:02] Cydox commented on #4745
@loli10K I have run `depmod`. It solved the problem of the kernel modules not automatically loading.  Unfortunately pools created in one session still disappear after a reboot.

[2016-06-09 10:13] JuliaVixen commented on #4737
I hadn't really looked at that dump before I posted it. The crash isn't in `dmu_buf_get_blkptr()` after all, there's some symbols missing... This function...

[code]

... Which might be in `dbuf_undirty()`, just guessing. I suppose I could try rebuilding this module with debugging symbols intact this time. Though I did this through Gentoo's weird git emerge process, so it's going to be some work t

[2016-06-09 10:26] JuliaVixen commented on #4737
I suppose it might help to see what the last thing on the call stack really was. It's not from `arc_buf_size()`, that's just another bogus symbol. It looks like a call to a function pointer... whatever structure that `173:       48 8b 48 10             mov    rcx,QWORD PTR [rax+0x10]` is.

[code]

[2016-06-09 13:43] muzyk10 opened #4746 "can't see fragmentation of a pool [not a bug]"
After creating pool with Gentoo LiveDVD zfs version 6.2 (as I remember) an having upgrade this pool to the 0.6.5.6 i don't see fragmentation on 'zpool list'

It looks like:

[code]

The way is to create pool from version where fragmentation wass supported or I can do something about it ?

[2016-06-09 15:21] gkoloventzos opened #4747 "Installing zfs on Virtual machine grub-pc has error "failed to get canonical path of rpool/ROOT/ubuntu""
Hello,

I am trying to install 16.04 in a vm. I created a raw image with qemu-img and started the "Try ubuntu"
option.

I did as the tutorial says for BIOS setup but the grub-pc fails with the error "failed to get canonical path of rpool/ROOT/ubuntu".

In the beginning had the error of not having a device map but with a run of grub-mkdevicemap is solved.

Has anyone had any similar issue?

Cheers,

[2016-06-09 15:23] loli10K commented on #4745
@Cydox check if the `zfs-import` service (sysv or systemd) is enabled and running without problems at startup. This should be covered in the docs/wiki.

Other than that you can maybe hop on the IRC channel and ask directly to someone there or use the mailing list, as DeHackEd said this doesn't seems to be a ZoL issue (a part from the `.zfs/snapshot` directory, but there's already an open bug for t

[2016-06-09 15:24] kingneutron commented on #4740
--Which has been "pending" for YEARS.  Which is why I'm filing this bug report...  I was trying to add a mirror, and failing that the device should be able to be replaced with a higher ashift since ZFS is copying the data over anyway.

--Getting bitten by "ashift" in 2016 is a big PITA when you've been strongly recommending to all your friends to use ZFS on Linux for the last 3 years.  For anyone

[2016-06-09 15:24] gkoloventzos commented on #4747
Sorry! I will send there.

[2016-06-09 15:24] #4747 closed

[2016-06-09 16:24] FransUrbo commented on #4694
Yeah, I've had it hang via a VirtualBox and iSCSI (physical disk->ZFS->ZVolume->iSCSI->Network->Physical Machine->VirtualBox VM->ZFS on VM disks).

[2016-06-09 16:48] behlendorf commented on #3937
It's possible if we can get a few developers to review and sign off on the proposed change in #4743.  The fix itself looks reasonable to me but I think the comment could be a little more concise.  Maybe @dweeezil @ahrens or @xhernandez can propose something.  Including the detailed walk-thru from the [above comment](https://github.com/zfsonlinux/zfs/issues/3937#issuecomment-223767804) in the commi

[2016-06-09 16:59] dweeezil commented on #3937
I had started working a bit more concise description of conditions required for this issue.  As mentioned earlier, I think one important prerequisite is dmu tx assignment stalls of some sort in order that multiple references to the spill and/or bonus actually exist at the same time.  So far, I've not come up with a reproducer.  I'd at least like to see the description include the open/quiesce/sync

[2016-06-09 17:01] behlendorf commented on #4738
@hostingnuggets it's really all about trade offs and striking a good balance on the system for your workload.  In most cases I've seen adding a L2ARC device to an SSD based pool usually isn't worth it unless 1) the L2ARC device is much faster than the SSD based pool, and 2) you have enough available memory to efficiently manage the L2ARC device.  In this case it sounds like you have 1 but not enou

[2016-06-09 17:44] hostingnuggets commented on #4738
@behlendorf so it now all makes sense to me, I guess I will go for reducing my L2ARC down to 32 GB as you suggest. Now I have two questions:

1) is it a safe procedure to remove the L2ARC cache of my pool in production and then add it back?
2) what exactly do you mean with "working set"? I am not familiar with this term and don't know its meaning in the context of ZFS.

[2016-06-09 17:51] lnicola commented on #4738
@hostingnuggets

1. Yes, it should be safe to remove the L2ARC while online. But if you repartition the drive you might need to reboot the machine.
2. The working set is usually the data you're using the most (or most of the time). The idea is that you can go without L2ARC if your data fits in ARC.

[2016-06-09 17:55] hostingnuggets commented on #4738
@behlendorf how do you find out approxmiately how big your working set is? I assume here that the system also needs to be warm and not freshly rebooted.

[2016-06-09 18:14] tuxoko commented on #4737
The function is dbuf_write_physdone. The NULL pointer is db->db_data_pending
[code]

[2016-06-09 19:56] mattpepin opened #4748 "xattr not seen if they are stored in a Fat ZAP"
I'm trying to import a FreeNAS 9.3 pool into Ubuntu 16.04 LTS. Everything works fine except extended attributes. New ones work just fine, but I cannot see the ones that were there before in FreeNAS. I poked around with zdb and here's the difference:

Working (created in Ubuntu):
[code]

Not working (Created in FreeNAS):
[code]

I'm no expert with ZFS, but from what I can tell, one xattr is stored

[2016-06-09 19:58] mattpepin commented on #4748
What I mean by not working is that they are not shown when I run "xattr filename" or "getfattr filename". Samba does not see them either.

[2016-06-09 20:08] mattpepin commented on #4748
OK, I was blind. This has nothing to do with Fat or microzap. The prefixes are different. I'm missing a "user." prefix on all old attributes. Is there a way to fix it on my side?

[2016-06-09 20:20] dweeezil commented on #4748
ZoL currently enforces a specific set of prefixes.  It looks like FreeBSD may allow arbitrary prefixes.

[2016-06-09 20:31] mattpepin commented on #4748
Right. It seems that in FreeBSD, unknown prefix = user. It also seems that it's not stored at all if you add an xattr with a user prefix. However, you still have to specify user to list xattr:

[code]

Looks like a not so easy to fix problem without recopying all files from FreeBSD to another server running ZoL... Am I missing something?

[2016-06-09 22:31] #4745 closed

[2016-06-10 08:38] jonathanvaughn commented on #4726
Well, one of the servers (currently on 4.6.1) just had this issue again, though I don't know why. It wasn't having any higher level of IO than normal, nowhere near what happened originally to cause this issue. I did notice that in arcstat.py the 'c' was below the 8GB I set (7.6GB) and the arcsz was around 8GB. There was almost 8GB of free RAM so there shouldn't have been any memory pressure to for

[2016-06-10 09:15] osd1000 commented on #4724
I rather think it is a bug if a 16k replication stream takes 16 seconds to receive!

[2016-06-10 09:17] BioSehnsucht commented on #4738
If you repartition and the new partitions are not seen right away, try using 'partprobe'. I assume this is available for debian, I have it on CentOS.

[2016-06-10 10:02] erikjanhofstede commented on #4512
@behlendorf I've reverted [1229323](https://github.com/zfsonlinux/zfs/commit/1229323d5f82bcb0525b312c80330968cd41466e) (had to fix some conflicts though).  My test consists of running the commands below in parallel, for the rest the servers is idle, with an almost empty zpool, unlike the server that I posted graphs about before.

[code]

The results running on master, polled over a period of 60 se

[2016-06-10 13:34] dweeezil commented on #4726
This problem is difficult to track down because it depends on the place in the memcg hierarchy at which the process performing the allocations resides.  I'm running my test program as a normal logged-in user and on my Ubuntu 14.04 system, my shell appears in the hierarchy at ```.../memory/user/<uid>.user/<sessno>.session```.  When my shell, and therefore the testing programs are in this deeper par

[2016-06-10 19:17] jonathanvaughn commented on #4726
Since there's no telling when these issues will be resolved (either by finding a work around on ZFS' side or providing access to the necessary internals on the kernel side), I guess I'll need to downgrade kernels on these machines.

4.4.13 should be safe? latest in elrepo-kernel repo as kernel-lt. kernel-ml doesn't appear to have any older versions.

[2016-06-10 23:34] mattpepin commented on #4748
I came up with a solution. It's working fine for me and all FreeNAS xattrs are now functional. It adds the missing user. prefix to unknown prefixes. It's conditionally compiled with a NO_USER_PREFIX define. It's in my no-user-prefix branch if it's of any use to someone.

https://github.com/mattpepin/zfs/tree/no-user-prefix

[2016-06-11 11:07] jfburdet opened #4749 "ZFS on root boot broken on arch"
Hi,

I have an Arch Linux NAS server, using ZFS on root

Yesterday, I rebooted my server and got stuck on boot with : "libgcc_s.so.1 must be installed for pthread_cancel to work"

The workaround I found was to boot using emergency usb key and put :

FILES="/usr/lib/libgcc_s.so.1"

into /etc/mkinitcpio.conf

then running mkinicpio -p linux

Hope this makes sense.

[2016-06-12 20:02] muzyk10 commented on #4746
fragmentation column appeared after riching 10% :)
Please remove this issue entirely or tag it as SOLVED

[2016-06-12 23:16] fantom-x opened #4750 "Scrub does not run from cron in Ubuntu 16.04"
I have noticed that the scrub would never run even though `/usr/lib/zfs-linux/scrub` would start as per the schedule below:
[code]
I have tracked it down to `/usr/lib/zfs-linux/scrub`: it is invoking `zpool` but by default the path is not set in the cron environment in Ubuntu, so it can never find `zpool` tool.

[2016-06-13 04:29] shilpi230 opened #4751 "ZFS modules gets missing after every reboot."
I have ZFS installed properly on my server, with everything working properly and once I rebooted it and everything was ZFS module itself was not loading.

[2016-06-13 12:56] ThomasRasmussen commented on #2437
I've hit the same issue as @andyeff but on Ubuntu 16.04 LTS with its standard ZFS implementation.
I've created a blank disk in vmware (4GiB), run **zpool create -o autoexpand=on -f tank /dev/sdb** and now parted lists two partitions.
I've then extended the vmware disk to 5GiB and made sure that kernel actually recognizes this change (fdisk et.al shows disk is 5GiB).
I suspect that the small partit

[2016-06-13 13:17] FransUrbo commented on #2437
In ZoL, this isn't done automatically (yet). You need to <code>online</code> this new disk (actually, the new space) for the additional space to be seen.

[2016-06-13 13:22] ThomasRasmussen commented on #2437
If I understand everything correct, then this should be a proper guide:
* /dev/sdb attached, 5GB
* zpool create -o autoexpand=on -f tank /dev/sdb
* zpool list confirms that it is 5GB
* expand disk in vmware to 10GB
** reboot server, to ensure kernel sees 10GB
** confirmed using parted -l /dev/sdb
* zpool online -e tank /dev/sdb

But this is not true... My tests shows that I need to do this:
* /dev

[2016-06-13 13:30] ilovezfs commented on #2437
`zpool online -e` is supposed to do the re-partitioning – not you – if you're using whole_disk=1.

[2016-06-13 13:34] ThomasRasmussen commented on #2437
@ilovezfs in which version of ZoL did whole_disk appear? On my host I have

ii  zfsutils-linux                           0.6.5.6-0ubuntu9          amd64                     Native OpenZFS management utilities for Linux

[2016-06-13 13:35] andyeff commented on #2437
@ilovezfs Hmm this might have some relation to https://github.com/zfsonlinux/zfs/issues/2296 whereby /dev/mapper drives / multipath drives are being left as whole_disk=0 (which I believe is an issue I have)

At a guess, I can't switch whole_disk from 0 to 1 on an existing pool?

[2016-06-13 13:36] ilovezfs commented on #2437
whole_disk=0/1 is an upstream thing that's older than the hills.

Yeah, anything that's a partition OR not "real" is supposed to be whole_disk=0, so that is correct behavior for dev mapper.

[2016-06-13 13:40] ThomasRasmussen commented on #2437
@ilovezfs  hmmm... How is whole_disk enabled?

sudo zpool create -o whole_disk=1 pool02 /dev/sdc
property 'whole_disk' is not a valid pool property
sudo zpool create -O whole_disk=1 pool02 /dev/sdc
cannot create 'pool02': invalid property 'whole_disk'

[2016-06-13 13:43] ilovezfs commented on #2437
It's handled under the hood automatically. If you have a physical disk, and you use "sdc" not "sdc#{number}", then it will be using whole_disk=1 (i.e., it will autopartiiton, putting the pool on partition 1 and reserving some space in a partition 9). `zpool online -e` handles the task of rewriting the partition in this case.

[2016-06-13 13:53] andyeff commented on #2437
@ilovezfs Is there a standard method for doing this manually, e.g. if using SAN-provided disks as /dev/mapper devices where whole disk won't be 1? What's involved in the partition rewriting?

[2016-06-13 14:12] ilovezfs commented on #2437
In that case, you resize the faux-device OR partition yourself and then run `zpool online -e #{pool} #{faux device or partition}`. autoexpand=on seems to have no impact in that case, even if you export and import.

[2016-06-13 14:22] rschlaikjer opened #4752 "Large kmem_alloc(1430784, 0x1000), unable to handle kernel NULL pointer dereference, metaslab_init+0x219/0x2d0 [zfs]"
After replacing a drive and rebooting, I am now unable to import my pool (`zfs` / `zpool` both hang indefinitely in state D) and the first call to either produces this kernel error trace.

The system is Debian Jessie, using packages from the zfsonlinux debian repo.

Please let me know if more debug info is needed.

[code]

[code]

[code]

[2016-06-13 14:51] rschlaikjer commented on #4752
Looks like the array is still visible with `zdb` -

[code]

[2016-06-13 15:39] FransUrbo commented on #2437
@andyeff I'm not sure what you mean by **SAN-provided disks**, but I can access my iSCSI targets (when logged in to them/it) as a <code>/dev/sd?</code> device..

[2016-06-13 15:42] andyeff commented on #2437
@FransUrbo ah, I don't believe I can get them to be represented that way in my environment. We're using a pair of fibre-channel paths to access the disks, so multipathd presents the disks as /dev/mapper/mpath? items

[2016-06-13 16:02] FransUrbo commented on #2437
Ah, ok. Fair enough. I haven't used in FC in 10+ years, so I have no idea how it works now :).

[2016-06-13 18:29] ofaaland opened #4753 "zfs_vdev_raidz_impl module parameter rejects avx2 on module load"
I see in the manual page zfs-module-parameters.5 states that, avx2 is not an allowed value for module parameter zfs_vdev_raidz_impl.  However, if the user selects "fastest", zfs may choose to use avx2 (and it does on my test system).

Were the module init code and the manpage were left this way accidentally?

[2016-06-13 18:39] DeHackEd commented on #4753
AVX[2] for RAID-Z has not been merged. Do you mean fletcher4?

Instruction support is dependent on compiler and assembler support as well. Make sure your compiler and assembler support AVX2.

[2016-06-13 19:33] ofaaland commented on #4753
Nope, I do mean zfs_vdev_raidz_impl; I pulled it into a local branch for testing.  Thanks though.

It works fine so far - I set the module parameter to "fastest" when loading the module or set it to "avx2" after loading, and then can see with perf top:
{noformat}
   2.25%  [kernel]                   [k] avx2_gen_pq
{noformat}

And furthermore can see that the %cpu taken is much less with the avx2

[2016-06-13 19:35] DeHackEd commented on #4753
Then that's an appropriate comment for the pull request, not an issue on the main project.

[2016-06-13 19:42] #4753 closed

[2016-06-14 05:51] ThomasRasmussen commented on #2437
@ilovezfs If I understand correctly, this should have worked? I would have expected that partition 9 was moved and partition 1 was extended... but what am I doing wrong?

`
# parted /dev/sdc print
Error: /dev/sdc: unrecognised disk label
Model: VMware Virtual disk (scsi)
Disk /dev/sdc: 8590MB
Sector size (logical/physical): 512B/512B
Partition Table: unknown
Disk Flags:

# zpool create -f -o autoe

[2016-06-14 06:18] ThomasRasmussen commented on #2437
I have then tried to remove partition 9 before running zpool online, and then it is actually expanded:

[code]

Then the partition is infact resized, but what is partition 9 used for? is it critical for ZFS to function or is it something that is "just" added?

[2016-06-14 06:53] bknl commented on #4738
@hostingnuggets "how do you find out how big your working set is ?"

Have a look at the fill grade of the l2arc (while it's still there) after the machine has "warmed" up for a while (on my pools it took about a day or 2) and simultaneously note down the l2 hit and miss counters.

Once the filling stops (no matter whether that's at 100% of the L2ARC device or less), you have the upper
bound of the

[2016-06-14 10:01] FransUrbo commented on #2437
It's not actually _used_ for anything, it's a "buffer" partition. Meaning, you don't have to add a new disk with _exactly_ the same number of blocks etc.

[2016-06-14 10:07] ilovezfs commented on #2437
@ThomasRasmussen No that procedure is not expected to work because you're changing the virtual disk size, but the original partition table would still be there. `zpool online -e` is supposed to work as a follow up to `zpool replace`.

[2016-06-14 10:16] ThomasRasmussen commented on #2437
@ilovezfs so it is not possible to perform resize of a pool when the  virtual-disk is expanded?

On Solaris (and I also believe it is true for FreeBSD) this is infact working without problems... so I would have thought that it was true for Linux as well :-(

[2016-06-14 16:09] jamesbeedy opened #4755 "zpool lost after reboot"
Ubuntu release -> Xenial

My zpool is lost after reboot, and I must re-import it every time :-(

[2016-06-14 16:15] kpande commented on #4755
this is an issue tracker, not for distribution support. please use the mailing list or file a bug on Launchpad for their ZFS packages.

[2016-06-14 16:15] #4755 closed

[2016-06-14 16:17] jamesbeedy commented on #4755
@kpande can you supply a link? Everything I find on lp points back to here....

[2016-06-14 16:26] kpande commented on #4755
Sure;

ML: http://list.zfsonlinux.org

Launchpad: https://launchpad.net/ubuntu/xenial/+source/zfs-linux

[2016-06-14 18:03] hostingnuggets commented on #4738
@bknl thanks for your tips regarding L2ARC size optimisation. Right now the server has been up and running for nearly 3 days and I have the following L2ARC stats:

[code]

As you can see the miss ratio looks really bad, meaning my L2ARC is useless. So does this mean now that I should downsize my L2ARC by half? or does it need longer to warm up?

[2016-06-14 20:10] richardelling commented on #4738
@bknl looking at L2 fill rates is pretty much useless. The better approach is to look at the eviction dispositions: evict_l2_eligible counts bytes evicted that could be written to L2. If you see a high rate, then adding L2 can help. By contrast, if you see a high rate of evict_l2_ineligible, then adding L2 doesn't help. If you have an L2, then evict_l2_cached says ARC is too small, but L2 is usefu

[2016-06-14 20:35] hostingnuggets commented on #4738
@richardelling to complement your last comment here would be the detailed l2 stats take from /proc/spl/kstat/zfs/arcstats:

[code]

[2016-06-14 23:26] WoefulDerelict commented on #4749
This was a bit vague; however, as I've managed to produce a rather similar case to the user's issue I'll expound on my own experience.

After synchronising my Arch Linux system with the latest changes in the ZoL repo I rebooted the system. The system booted into a failover console as it was under the impression the pools were from another system and had not been exported. As I knew this wasn't tru

[2016-06-15 01:45] JunioCalu opened #4756 "Decrease size of the ZFS file system"
Hi,
How do I resize my partition zfs? I just installed Antergos on my machine, I used the option to erase the disk completely, but would like to decrease the size of the partition and use the space for other things. Research lead me to solutions for freebsd or solar systems. In several comments say it would be possible through the gpart command. already tested, but the options are not the same, no

[2016-06-15 01:51] kpande commented on #4751
please use the mailing list @ http://list.zfsonlinux.org for support questions

[2016-06-15 01:51] #4751 closed

[2016-06-15 01:52] kpande commented on #4750
please use the mailing list @ http://list.zfsonlinux.org for support questions

[2016-06-15 01:52] #4750 closed

[2016-06-15 01:53] #4746 closed

[2016-06-15 01:54] kpande commented on #4749
this seems to be a distribution packaging issue, correct?

[2016-06-15 01:56] kpande commented on #4732
please use the mailing list @ http://list.zfsonlinux.org for support questions

[2016-06-15 01:56] #4732 closed

[2016-06-15 01:57] #4698 closed

[2016-06-15 07:10] urza opened #4757 "Boot errors, how to reboot correctly?"
Hi, I have debian jessie and zfs on linux (package versions bellow).

I created zpool consisting of two 4TB HDDs in zfs mirror:

 pool1  ONLINE
 -- mirror-0  ONLINE
 -- -- bay1    ONLINE
 -- -- bay2    ONLINE

The disks are ecnrypted BELOW zfs with dmcrypt.
So everytime I boot, I need to dercypt disks and do:
cryptsetup open /dev/sdb bay1
cryptsetup open /dev/sdc bay2
zpool import pool1

Then I ca

[2016-06-15 08:14] WoefulDerelict commented on #4749
kpande: Hard to box this one in. I'd have to look into why there is a new dynamically linked dependency for the zpool utility.

It certainly breaks down to one that would need to be solved at the distribution/packaging level. Avoiding dynamically linked binaries would certainly prevent it from happening.

[2016-06-15 08:27] jfburdet commented on #4749
Some more info to help solve this problem.

When I dig around on my server, i found that some shell code seems to exist to include libgcc_s.so.1 into the ramdisk in /usr/share/initramfs-tools/hooks/zfs

[code]

Since libgcc_s.so.1 is under /usr/lib, I tried to change the line above, but this shell script file doesn't seems to be executed when running mkinitcpio -p linux, that's why I tried to chan

[2016-06-15 12:08] fantom-x commented on #4750
@kpande, How is it a support question if this file `/etc/cron.d/zfsutils-linux` is installed by the `zfsutils-linux` package and it does not work out of the box?

[2016-06-15 13:17] kpande commented on #4757
these packages are made by @FransUrbo

[2016-06-15 13:18] #4739 closed

[2016-06-15 13:20] kpande commented on #4724
on mechanical disks it will always have a hard time receiving incremental streams even when nothing has changed because the recv side must figure out what to write to disk.

[2016-06-15 13:20] #4724 closed

[2016-06-15 13:24] kpande commented on #4677
closing as duplicate of #2449

[2016-06-15 13:24] kpande commented on #4666
please use the mailing list @ http://list.zfsonlinux.org for support questions

[2016-06-15 13:24] #4666 closed

[2016-06-15 13:25] kpande commented on #4650
I'm going to close this, please re-open if the deadlock reoccurs.

[2016-06-15 13:25] #4650 closed

[2016-06-15 13:29] kpande commented on #4609
is your system hitting severe memory pressure?

[2016-06-15 13:53] gmelikov commented on #4609
If you mean free ram for zfs cache - i usually have max 8gb of 16 used by processes. When i've got this problem i had ~6gb  of used ram. In the worst case i have 3gb of free/cached memory.

[2016-06-15 13:57] kpande commented on #4609
do you have the ability to test with latest git master?

[2016-06-15 14:13] gmelikov commented on #4609
I've recently updated to 0.6.5.7 and enabled xattr sa, trying to reproduce problem now.

Can this problem be in default xattr? If yes then i'll test it on new zvol with it.

It's a workstation, i'm afraid i can't test latest git master for now.

[2016-06-15 14:58] FransUrbo commented on #4757
Using zfs on luks partition haven't been properly tested. I recommend taking this to the mailing list, it's more of a support question than a real bug.

[2016-06-15 14:58] #4757 closed

[2016-06-15 20:20] kpande commented on #4750
because `zfsutils-linux` is a Ubuntu-specific thing, not distributed by zfsonlinux upstream (this project)

[2016-06-15 20:23] Stoatwblr commented on #3582
I'm running 32TB with 28% fragmentation - but that's 28% of files, not 28% of data space.

One possible solution is the shake utility - however it's best to have a fragmentation report rather than blindly "shaking" everything.

[2016-06-15 20:34] kpande commented on #3582
that FRAGMENTATION metric is free space fragmentation, not data or files.

[2016-06-15 20:35] kpande commented on #3582
please use the mailing list (http://list.zfsonlinux.org) for these discussions, as this is an issue tracker for bug reports and pull requests.

[2016-06-15 20:35] #3582 closed

[2016-06-15 21:03] iamjamestl opened #4758 "User access to NFS share broken sometime after 0.6.5.x"
On 0.6.5.7 and earlier, I can share a dataset over NFS and operate on it with my regular user.  For example, on a clean system running Linux 4.5.6:

As root:
[code]

As james:
[code]

Good. Then, changing nothing but `zfs`, `zfs-kmod`, and `spl` to use the current git HEAD, f74b821a6696fef9e9953aae05941e99bf83800e:

As root:
[code]

As james:
[code]

For some reason, the file gets created with roo

[2016-06-15 21:21] Stoatwblr commented on #264
I'm the one who originally requested this in the zfsonlinux mailing list. in order to generate fragmentation reports.

Knowing the actual extent of fragmentation is fairly important given how badly ZFS performance falls over when fragmentation becomes widespread (short version: It's pretty ugly.  You don't want to experience it)

Brian, what's the state of play?

[2016-06-15 21:57] narunask commented on #2611
I'm suffering from the similar problem. `rsync` reads/writes are extremely slow ~3M. After struggling like this ~24h (it's a multi-million file dataset) machine gets bricked.

Please advice.

---

[code]

[code]
[code]

[code]

[code]

[code]
[code]

[2016-06-15 22:28] aerusso opened #4759 "Another "unable to chdir too many levels of symlink""
I'm running into a somewhat fickle error. Accessing snapshots in the .zfs/snapshot (sometimes) gives the "too many levels of symlink" error. Running zfs 0.6.5.7, as in the Debian repositories.

I'm able to fairly consistently trigger the bug (or at least some bug). It may or may not require zsh (!?) and seems to be resolved by unmounting and remounting the affected file system. To produce the bug,

[2016-06-15 22:47] tuxoko commented on #4737
@JuliaVixen
Are you still getting this error? If it's easily reproducible, you can try configure zfs with debug enable.

[2016-06-16 00:27] tuxoko commented on #4759
Ok, there's a deadlock between automount and zfs recv on `z_teardown_lock`.

z_teardown_lock is design to be read reentrant for the same process because of mmap. But here we have to invoke another mount process so it wasn't able to reentrant. In fact, I knew for a long time that mmap still would deadlock if you have two process doing mmap across two filesystem in opposite direction, with rollback/

[2016-06-16 00:42] tuxoko commented on #4759
Also the "too may levels" bug is already fixed in master.

[2016-06-16 01:11] kernelOfTruth commented on #2611
@narunask could you please post output of

[code]

or meanwhile access to the box is denied ("bricked") ?

thanks

[2016-06-16 01:40] thisisnotmyrealname commented on #840
I really hate bumping old tickets, but I'm not sure what to do.

I have the exact same issue running 0.6.5-304_gf74b821

I had a problem where a failing drive was still present in the machine, and repeatedly caused the pool to restart resilvering due to possibly this problem? I had my resilver restart about 5 times before I finally found this, offlined the bad device and removed it from the chassi

[2016-06-16 05:49] narunask commented on #2611
Server is on the EC2, currently 1 core, 2GB RAM (t2.small), HDD - the magnetic one on amazon, I believe it is documented [here](https://aws.amazon.com/ebs/previous-generation/).

[code]

FYI, currently `rsync` is calculating deltas and should start moving data again very soon, if that is somehow affecting the stats.

Thanks

[2016-06-16 06:25] lnicola commented on #4749
ZFS root is working fine for me, although I can confirm that `libgcc_s.so.1` is not present in my initramfs image.

[2016-06-16 08:23] ironMann commented on #4752
The error is caused by the raidz[0]: kmem_alloc(1430784) == (asize >> 27(?)) * 8
Workaround might be to set spl parameter 'spl_kmem_alloc_max' slightly above that size.

@behlendorf Should [this](https://github.com/zfsonlinux/zfs/blob/7e945072d18541fb0c30e05b46cce14d01fea8aa/module/zfs/vdev.c#L1653) calculation use MIN() instead?

[2016-06-16 09:16] AB17 commented on #4758
Confirmed.
We are having this issue as well.

[2016-06-16 10:53] bknl commented on #4738
Re: @hostingnuggets

Your miss ratio is already really bad, so downsizing is not going to be the right approach. Whether there ever is a  L2 size at which the hit  ratio climbs remains to be seen (and you didn't seem to have enough RAM to map the entire size).

Re: @richardelling

I've looked over the comments in module/arc.c describing the meaning of  evict_l2_XXX and now I'm unclear about the me

[2016-06-16 12:41] galindro opened #4762 "Question: remove disk from pool"
Is it possible to remove a disk from a pool that was added by mistake to save storage space? If no, why?

I can do it with LVM2: http://superuser.com/questions/820488/remove-a-physical-volume-from-vg-with-no-free-pe.

[2016-06-16 12:49] Blub opened #4763 "on case insensitive subvolume AppArmor can wrongly deny file creation, but file gets created anyway"
Starting with commit: 9d36cdb65089954baf649a8963f2129654c0b0b2

`open()` with `O_CREAT` on a case insensitive subvolume under an AppArmor profile which allows access to the file gets denied and fails with `ENOENT`, but still creates the file to be opened successfully in subsequent calls to `open()`. AppArmor profiles which have the `attach_disconnected` flag set and the `mediate_deleted` flag not

[2016-06-16 13:01] kpande commented on #4762
please use the mailing list (http://list.zfsonlinux.org) for support questions.

[2016-06-16 13:01] #4762 closed

[2016-06-16 13:04] kpande commented on #4587
please use the mailing list (http://list.zfsonlinux.org) for support requests.

[2016-06-16 13:04] #4587 closed

[2016-06-16 13:13] kpande commented on #4599
can't we calculate the most common block size?

[2016-06-16 13:19] kpande commented on #4519
Please see how to report an issue here:
https://github.com/zfsonlinux/zfs/wiki/FAQ#reporting-a-problem

[2016-06-16 13:19] #4519 closed

[2016-06-16 13:21] kpande commented on #4505
can you try with destination pool unmounted?

as a side note, this seems better suited for the mailing list (http://list.zfsonlinux.org) and not the issue tracker.

[2016-06-16 13:21] #4505 closed

[2016-06-16 13:57] galindro commented on #4762
Sorry...

[2016-06-16 14:26] eviweb opened #4764 "Wiki : libvirt/uefi issue on Ubuntu 16.04 Root on ZFS"
Hi,
I spent a lot of time making a *qemu/kvm* virtual machine to succeed in booting in *UEFI* mode.
In fact the prerequisites are:
* `ovmf`: a version that provides the split CODE/VARS binaries, (ie. [Gerd Hoffman's daily build](https://www.kraxel.org/repos/jenkins/edk2/))
Both CODE and VARS files should be installed under: `/usr/share/OVMF`
* `libvirt`: version >= 1.2.8, with the `nvram` setting

[2016-06-16 14:43] rschlaikjer commented on #4752
Setting the alloc max to 8Mb fixed it, thanks. Got a couple more of the same stracktrace in the kernel, but this time was able to import the pool. Is there a pool parameter I should change to avoid this in future, or just leave the spl setting at 8M?

Thanks again.

[2016-06-16 15:32] dweeezil commented on #4726
There really doesn't seem to be a good way of making the shrinker memcg-aware given the interfaces exported from, at least, the 4.6 series of kernels so I think the best solution for now is to fall back to the older ```d_prune_aliases()``` scheme if necessary.  The patch in f7d22c4 seems to work just fine.

[2016-06-16 15:37] hsepeng opened #4765 "zp->z_xattr_lock acquire timeout panic in zpl_xattr_get"
when we running glusterfs with quota enabled on zfs 0.6.5.6, while the quota data crawl collecting
the stat of the size of all the folders, we met several kernel panic as follows:

[Thu Jun 16 01:17:11 2016] INFO: task glusterfsd:23487 blocked for more than 120 seconds.
[Thu Jun 16 01:17:11 2016] "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this message.
[Thu Jun 16 01:17:11 2016] g

[2016-06-16 16:24] hostingnuggets commented on #4738
@bknl after the issues I had I raised the ARC RAM from 4 GB to 6 GB and the hypervisor has now in total 16 GB of RAM. I am respecting the ZFS FAQ question which mentions that if you are running ZFS with Xen hypervisor your should now use more than 30-40% of RAM for the ARC.

So my next question would now be what do you recommend me to do?

Just as a reminder I am using zvols. Two zvols per Xen ins

[2016-06-16 17:59] AB17 commented on #4758
The June 1st master is OK.
The latest one is not.
This happened with one of the commits from June 2 onwards.
I've tested using kernel 4.4.12 and 4.4.13.

[2016-06-16 19:12] tuxoko commented on #4752
The allocation should change to vmem_zalloc. 1M is pretty large.

[2016-06-16 21:18] behlendorf commented on #4512
@erikjanhofstede thanks for running the test.  Based on these results it doesn't look like 1229323 has any real effect.

[2016-06-16 21:23] behlendorf commented on #4748
@mattpepin I'm glad you were able to work up a solution, and thanks for posting the patch.

[2016-06-16 21:23] #4748 closed

[2016-06-16 22:56] behlendorf commented on #4694
@kpande no it's not a regression, this has never been 100% safe.  Over the years we'd addressed some of the possible deadlocks bet we never got all of them.

[2016-06-16 22:58] behlendorf commented on #4739
@devheroo no such feature is planned, and it's not clear how such a feature could be implemented scalably.  It's not uncommon for ZFS filesystems to contains billions of individual files.

[2016-06-17 00:26] qiaoqiang opened #4767 "when pool's I/O is suspended,what can I do to solve this problem?"
when pool's I/O is suspended,I can do nothing to this pool,How to destroy this pool or recover this pool?
How to solve the problem that you can not destroy a pool when this pool's I/O is suspended?

[2016-06-17 01:35] kpande commented on #4767
please use the mailing list (http://list.zfsonlinux.org) for support questions

[2016-06-17 01:35] #4767 closed

[2016-06-17 02:52] hsepeng commented on #4025
@wipash how about your following test result? did the same stuck error happen again? what's the fix of it

[2016-06-17 03:15] wipash commented on #4025
I'm currently running spl-0.6.5.7 / zfs-0.6.5.7, have not seen this issue again.

[2016-06-17 07:01] erikjanhofstede commented on #4512
@behlendorf I'm unable to reproduce the issue I'm having on my testing server, but it's very clearly visible on production servers. Can you think of a safe way to try some things out on a production server? In the meantime I'll continue to try to reproduce the issue.

[2016-06-17 12:51] dweeezil commented on #4512
@erikjanhofstede How about reverting the priority changes on your production server?  That should be completely safe; after all, ZoL had the old priority settings for quite a long time.  My original suggestion that the priority changes were somehow involved was based on the guess that there was sufficient additional load from other tasks on the system, running at normal user priority (100), which

[2016-06-17 16:14] richardelling commented on #4738
Unlike other multi-level caches you might be familiar with, there is not an eviction path from L1 to L2. There is only eviction from L1. Each eviction is classified as I described. Thus by observing the eviction disposition you can determine if L2 is useful or not for the given configuration and workload.

[2016-06-17 18:10] behlendorf commented on #264
@Stoatwblr this issue is waiting for a developer with enough available time and interest to tackle it.  I agree it would be great to have.

[2016-06-17 18:20] behlendorf commented on #4764
Tagging @rlaager to look at this.

[2016-06-17 18:58] markjohnson opened #4770 "Ubuntu 16.04 failure to import on boot"
Ubuntu 16.04 LTS host wouldn't come back up after maintenance reboot. Hung when trying to bring up ZFS.

Last message on the console was:

Starting import ZFS pools by cache file...
VERIFY(rs == NULL) failed
PANIC at range_tree.c:186:range_tree_add()

One drive had dropped out of the array prior to the reboot and hadn't been replaced.  On a hunch I backed up and removed /etc/zfs/zpool.cache and th

[2016-06-17 20:21] behlendorf commented on #4758
Thanks for the bug report.  My guess is this was accidentally introduced when support for `zfs allow` was merged on June 7th, see commit f74b821a6696fef9e9953aae05941e99bf83800e.  This only impacts access via NFS correct?  It would be great if you could try reverting the `zfs allow` commit and verify that resolves the issue.

[2016-06-17 20:25] AB17 commented on #4758
Will build again on Monday and revert that commit.
Will confirm.

[2016-06-17 20:35] #4726 closed

[2016-06-17 20:42] rlaager commented on #4764
@eviweb Does the version of ovmf in 16.04 have the appropriate split?

In other words, are these steps sufficient?
1) Install stock 16.04 host.
2) Install libvirt-bin and ovmf.

Do we also need this step?
3) Uncomment the nvram line in /etc/libvirt/qemu.conf.

[2016-06-17 20:50] tuxoko commented on #4758
@behlendorf
This is definitely introduced by https://github.com/zfsonlinux/zfs/commit/f74b821a6696fef9e9953aae05941e99bf83800e

That patch "enables" `zfs_acl_ids_create` and `zfs_fuid_create_cred` which is used in filesystem operations. But it uses euid and egid, rather than fsuid and fsgid. These two functions are only used in filesystem operations, so I think these two function should be revert.

[2016-06-17 21:09] behlendorf commented on #4752
@rschlaikjer I'd suggest leaving it at 8M for now until we can address this in the code by making the change @tuxoko suggested.

@ironMann that calculation is correct, although perhaps a bit aggressive to allow such large metaslabs.

[2016-06-17 22:02] behlendorf commented on #4758
@tuxoko indeed.  Could you propose a patch which reverts the `zfs_acl_ids_create` and `zfs_fuid_create_cred` change by wrapping them with `#if defined(__sun__)`.

[2016-06-17 22:18] kpande commented on #4658
I see this as well, in Debian Wheezy with ZFS HEAD http://i.imgur.com/aeupAos.png

[2016-06-17 22:24] maxigs opened #4771 "Server died while replacing a disk, Error in Syslog"
Hi,

i just had a zpool die on me while i was adding/replacing a disk.

It was going fine for a while re-silvering when i replaced a disk (after adding a wrong one, and replacing it with the right) but then the server became completely unresponsive and had to be reset eventually.

Here is the log output of that time, suggesting i file a bug report here:
https://gist.github.com/maxigs/2c34b682e519c

[2016-06-17 22:41] tuxoko commented on #4758
@behlendorf
It might not be just those two functions. There are several secpolicy_*() in filesystem operations that were disabled before this patch.

[2016-06-17 22:55] behlendorf commented on #4758
The delegation patch enabled ~70 or so new test cases which were used to verify all of this was functioning correctly.  Of course, all of those test cases covered testing local filesystems and not access via NFS.  I haven't dug too deeply in to this but what must be happening is the CRED being passed by the NFS server when performing the create is the kcred.  We'll need to add code to handle this

[2016-06-17 23:04] tuxoko commented on #4758
Yes, fsuid and fsgid normally would be the same as euid and guid. But on linux, NFS server only changed fsuid and fsgid according to the credential provided by client, so we have this problem. Linux actually has setfsuid(2) and setfsgid(2) syscalls that can let user program does things like NFS server. We can leverage them in test cases without really setting up NFS.

[2016-06-17 23:15] devheroo commented on #4739
Thanks @behlendorf for this information. I appreciate it, this is one of the top features I miss when working on Linux in general compared to Windows, I hope one day I will find such search tool running on Linux.

[2016-06-17 23:17] kpande commented on #4739
does `mlocate` or `slocate` not work?

[2016-06-17 23:28] mailinglists35 commented on #4739
mlocate works by traversing the file system once and collecting that information into a database.
on windows, the tool he mentioned subscribes to ntfs journal updates and after initial traversing of inodes, it continously updates the database with fresh info from ntfs driver - that's why he noticed instant results.
I think in fact @devheroo what really wants/seeks is a inotify-based similar tool,

[2016-06-17 23:31] devheroo commented on #4739
Thanks @kpande , interesting tool, I will try it.
Some of the tools I found either are slow in searching the entire file system or somehow fast but need to use an indexing engine like lucene to index the files names, so I got interested to learn about the different file systems used in Linux and wither they have a native master file table that can be used for such applications.

[2016-06-17 23:36] mailinglists35 commented on #4739
@devheroo there is a feature request for mlocate to work in monitor mode like Everything, but no work is done yet: https://fedorahosted.org/mlocate/ticket/26.
as kpande said, please only use the zfs issue tracker for anomalies of zfs (ie it does something you did not expect, after reading the documentation and mailing lists)

[2016-06-17 23:38] devheroo commented on #4739
@mailinglists35 , you are correct , thanks for all this info.

[2016-06-17 23:58] tuxoko commented on #4771
Same as https://github.com/zfsonlinux/zfs/issues/4752

[2016-06-18 00:38] mailinglists35 commented on #3256
reproductible with the below on 0.6.5.7, discovered this accidentally while trying something else:
kernel [stack.txt](https://github.com/zfsonlinux/zfs/files/321471/stack.txt)

`truncate -s 1GiB /mnt/test/deleteme`
`zpool create deleteme /mnt/test/deleteme`
(fill in some data, I have created 2000 datasets)
`truncate -s 100MiB /mnt/test/deleteme`

at this point, `zpool scrub` hangs, and the followi

[2016-06-18 01:38] mailinglists35 opened #4773 "'zfs list' takes unreasonable long time"
`mount -t tmpfs -o size=1G tmpfs /mnt/test/`
`truncate -s 1GiB /mnt/test/deleteme`
`zpool create -O mountpoint=none deleteme /mnt/test/deleteme`
`for i in `seq 1 10000`; do echo zfs create deleteme/$i; done  > /tmp/a; time bash /tmp/a`
real    1m41.512s
user    0m10.684s
sys     0m31.452s

`time perf record -a zfs list > /dev/null 2>&1`
real    0m17.519s
user    0m0.736s
sys     0m16.716s

[stack.

[2016-06-18 01:42] mailinglists35 commented on #3461
duplicate of #3256 ?

[2016-06-18 01:53] mailinglists35 commented on #4773
'perf report' if anyone's too lazy to process the perf.data file

    Samples: 130K of event 'cycles:p', Event count (approx.): 88000955436
    Overhead  Command          Shared Object            Symbol
      33.01%  swapper          [kernel.kallsyms]        [k] poll_idle
       5.93%  swapper          [kernel.kallsyms]        [k] read_hpet
       4.55%  zfs              [kernel.kallsyms]        [

[2016-06-18 01:59] mailinglists35 commented on #4773
Jun 18 04:11:40 homerouter kernel: [ 1708.095018] sysrq: SysRq : Show State
Jun 18 04:11:40 homerouter kernel: [ 1708.095076]   task                        PC stack   pid father
Jun 18 04:11:40 homerouter kernel: [ 1708.095120] systemd         S 0000000000000000     0     1      0 0x00000000
Jun 18 04:11:40 homerouter kernel: [ 1708.095196]  ffff880116b64cc0 ffff8800d8658e00 ffff880116b6c000 ffff8

[2016-06-18 02:56] kingneutron commented on #4662
--You can accomplish similar with a shell script (recommend running in a GNU "screen" session):

<code>
#!/bin/bash
zp=your-zfs-pool-name-here
# OR
zp=$1 # pass arg to script

        printf `date +%H:%M:%S`" ...waiting for $zp resilver to complete..."
        waitresilver=1
        while [ $waitresilver -gt 0 ];do
          waitresilver=`zpool status -v $zp |grep -c resilvering`
          sleep 5

[2016-06-18 03:02] kpande commented on #4773
does `zfs list -H -o name -s name` work better?

[2016-06-18 03:28] mailinglists35 commented on #4773
no

[2016-06-18 05:44] maxigs commented on #4771
Thanks @tuxoko, indeed error message seems similar. But in my case it even needed a bit more memory.

I tried to set spl_kmem_alloc_max to 12M now, hoping this would be enough.
No idea if it was supposed to change anything.

I assume my zpool is still unrecoverable?

[2016-06-18 07:46] schumann2k opened #4774 "task jbd2/dm-2-8:22274 blocked for more than 120 seconds."
It would seem that my zfs started acting up recently, I can't be 100% certain what exactly caused this since I installed more RAM (8GB > 24GB DDR3 unbuffered ECC) but it tested fine and also joined the machine to a domain, for which I had to set `aclinherit=passthrough` and `acltype=posixacl`.

The server would randomly freeze in its tracks, still allowing logins but not much else. All tasks appea

[2016-06-18 13:08] GregorKopka commented on #3014
On a pool with 1 raidz vdev and 5 2TB drives
[code]
this hides ~150GB (worst case used: every write from now on will be 1 block only so raidz parity overhead will be 100%) of useable space.

This seems to be excessive.

@behlendorf I don't see a reason why using a percentage of the total pool size should be neccecary, especially since the minimum hidden size is hardcoded as 32MB.

How about we lim

[2016-06-18 13:41] kpande commented on #4773
can you post arcstats

[2016-06-18 15:45] mailinglists35 commented on #4773
6 1 0x01 91 4368 3090901245 11480873125780
    name                            type data
    hits                            4    6561949
    misses                          4    1182929
    demand_data_hits                4    0
    demand_data_misses              4    0
    demand_metadata_hits            4    6561949
    demand_metadata_misses          4    1182927
    prefetch_data_hits

[2016-06-18 16:23] kingneutron opened #4775 "[zfs-auto-snapshot] Feature request - configuration dialog"
--The default settings for zfs-auto-snapshot are a bit crazy. Who needs snapshots every 15 minutes by default? That was keeping my disks from spinning down.

--Since it is being supplied in a package, can we get a dialog box that lists existing zfs datasets and has at least checkboxes for "enable at pool level and inherit downward" and for monthly, weekly, daily, and what hour(s) to schedule snaps

[2016-06-18 16:30] kpande commented on #4775
this is a legacy script that is mostly unmaintained, feel free to send a PR, but it's unlikely this will happen. if you'd like further discussion, I suggest the zfs-discuss (or openzfs) mailing list: http://list.zfsonlinux.org

you may find timeslider useful: https://github.com/Lalufu/time-slider

[2016-06-18 16:30] #4775 closed

[2016-06-18 16:30] mailinglists35 commented on #4775
you might want to report this issue to this repo, I think: https://github.com/zfsonlinux/zfs-auto-snapshot
zfsonlinux/zfs is just for the zfs module and utilities (zfs-auto-snapshot is NOT coded here)

[2016-06-18 16:34] kingneutron commented on #4775
Thanks for the info, all :-)

[2016-06-18 18:07] Soylent-Green-Yummy commented on #3708
The following command failed for me:
zpool add tank mirror /dev/disk/by-id/xxxxxxx /dev/disk/by-id/yyyyyyy

New parts like xxxxxx-part1 xxxxx-part9 were created after the command execution.

This workaround works for me:
zpool add tank mirror /dev/disk/by-id/xxxxxxx-part1 /dev/disk/by-id/yyyyyyy-part1

[2016-06-18 18:24] CurlyMoo commented on #34
I experience the same issues on a Hummingboard Pro with a 32bit Quad Core and 4GB ram.

Would using a Raspberry Pi 3 with a 64bit OS solve the issue despite the 1GB ram? Or do we need to look for a Intel or AMD solution?

[2016-06-18 20:13] eviweb commented on #4764
Hi @rlaager,
yes, indeed, the ovmf package provided by Ubuntu 16.04 contains the appropriate split.
All of the three mentioned steps are required.
For info, I was previously under Ubuntu 14.04 and after upgrading to 16.04, I was able to persist the boot manager configuration.
Hope that's help.
Eric

[2016-06-18 20:55] kpande opened #4776 "issue report template"
We need a standard format to report bugs, and github allows the use of a special markdown file in the .github directory to provide a pre-filled issue or pull request template, though I think issues are the more pressing matter.

A script could be bundled with the source to retrieve system information:
- SPL, ZFS, Kernel, distribution name + versions
- ARC / Memory statistics
- Process list?
- Stac

[2016-06-19 00:17] D4rk4 commented on #4698
@kpande  need deb build with this patches...

[2016-06-19 00:18] kpande commented on #4698
maybe @FransUrbo can build a new daily from HEAD which will give you pre-release access to the fix?

[2016-06-19 08:47] hostingnuggets commented on #4738
For your information, I can confirm that my issue (arc_reclaim using 100% CPU and slowing down whole system) happens exactly when the L2 header size equals the ARC size.

Does maybe ZFS have any safeguard for this kind of situtation? Or one just have to make sure that the L2ARC is not too big but then again there are no rules defining the maximum size of an L2ARC. I think this should at least be d

[2016-06-19 19:34] maxigs commented on #4771
I'm closing it, i gave up on the old zpool, and the bug itself already is addressed.

Thanks guys :)

[2016-06-19 19:34] #4771 closed

[2016-06-19 23:44] mailinglists35 commented on #4168
@behlendorf I have a different case where the slog is absent not because of missing from expected path but really absent, so the proposed patches do not apply.

the pool shows as UNAVAIL on 'zpool import' but does import successfully with 'zpool import poolname -m'.

Can the 'zpool import' message be changed from UNAVAIL to the result of 'zpool import -m poolname' aka can 'zpool import' check that

[2016-06-19 23:55] mailinglists35 commented on #852
1. is https://github.com/zfsonlinux/zfs/issues/4168 depending on this?
2. what long-term means now? since this statement was made 4 years ago (wow, that seems quite long ago, thanks for all hard development!), how long could a newbie expect that "long term" means from now on?

[2016-06-20 06:57] tobias-k commented on #840
Hey,
I also hate bumping..
In my case 4 TB SAS NL in Supermicro Expansion.. :(

`[19432.214251] 3w-sas: scsi0: AEN: INFO (0x04:0x0055): Battery charging started:.
[20022.719713] 3w-sas: scsi0: AEN: INFO (0x04:0x0056): Battery charging completed:.
[52097.645349] init: smbd main process (4243) killed by TERM signal
[70169.668106] mpt2sas0: log_info(0x31120303): originator(PL), code(0x12), sub_code(0

[2016-06-20 08:58] AB17 commented on #4758
@behlendorf
Latest master is now fine with this commit reverted.
Confirmed NFS file permission issue is down to https://github.com/zfsonlinux/zfs/commit/f74b821a6696fef9e9953aae05941e99bf83800e

[2016-06-20 09:23] FransUrbo commented on #4776
Have a look at https://github.com/zfsonlinux/zfs/pull/2727

[2016-06-20 09:38] rincebrain commented on #840
There's probably a bug to be found with this, but as a mitigation for either of you, do you have TLER configured on the failing drives? (e.g. smartctl -l scterc,RNUM,WNUM [drive] - RNUM/WNUM are tenths of a second to attempt read/write before giving up, while 0 will generally cause it to not give up...which, if it takes too long, can be when the various other parts of the chain decide to reset it

[2016-06-20 09:59] tobias-k commented on #840
Hey, thx for reply.

I can test it, Which Values for scterc would you recommend?
I will set them asap and see if the rebuild will finaly get trough..

Thank you!

[2016-06-20 10:00] raxxy commented on #840
Tobias, I'm also suffering this issue at the moment.

I've been talking to the blokes on IRC and was given values of 70,70 to try (smartctl -l scterc,70,70)

At this stage i'm on my 5th resilver restart, I'll report back on array type and failure/resolution on this setting (I'm applying it to all disks however) in the near future..

[2016-06-20 10:04] tobias-k commented on #840
Thank you.
So I'll set 80,80 and give feedback. Maybe you can skip at least one resilvering.
60 hours to go.. in my case..
Fingers crossed..

[2016-06-20 10:33] GeLiXin commented on #3094
There have several data corruption problems appear in my server, which use a old version of zfs. Mostly it was detected by import, when the zfs read data from disk instead of ARC.

Sadly my server can't update to the newest release version of master, So it's important for me to  introduce the PR which resolve the space map bugs to my ZFS. I have try to find them in the closed PR but failed to pick

[2016-06-20 11:23] arturpzol opened #4777 "Block layer statistics in /sys/block/zdX/stat in ZOL 0.6.5 are empty"
Hello,

In ZOL 0.6.5.6 and in trunk sources block layer statistics for zvols in /sys/block/zdX/stat files are empty e.g.:

[code]

Of course I wrote and read some data to that zvol before read stat file.
In 0.6.4 that statistics were filled out.

Does it intentional changes?

[2016-06-20 14:36] tobias-k commented on #840
Ok. Again restarted. :(
Next try 150,150

[2016-06-20 14:59] rincebrain commented on #840
Changing the values to different numbers shouldn't affect whether it helps or not, unfortunately.

[2016-06-20 15:06] tobias-k commented on #840
So @rincebrain you would suggest value 0 anyway?

Thank you.

[2016-06-20 15:44] rincebrain commented on #840
No, I still claim having it set to nonzero values in a RAID array is a good idea, but if one set of nonzero values didn't workaround this issue, a different set probably won't either.

[2016-06-20 17:16] behlendorf commented on #4774
@schumann2k none of these stacks suggest a problem with ZFS.  Rather they suggest there's an issues with the jbd2 module or cgroups.

[2016-06-20 17:45] behlendorf commented on #3014
@GregorKopka you can decrease this value locally on your system if you absolutely need to use that space.  However, it's hard to put an exact upper bound on the minimum required free space needed to avoid certain pathological situations.  Reserving this space additionally helps ensure a functional level of performance even with a 99+% full pool.

[2016-06-20 17:50] behlendorf commented on #34
@CurlyMoo any 64-bit kernel will address the majority of the vmalloc() issues.

[2016-06-20 17:53] schumann2k commented on #4774
Hmm, alright thanks. Pretty odd. I've since booted into Kernel version 3.16 (4.5 before) and the issue seems to have disappeared. Closing since it seems to be unrelated to ZFS.

[2016-06-20 17:53] #4774 closed

[2016-06-20 18:00] behlendorf commented on #3094
@GeLiXin we've pulled all patches which address known data corruption issues in to the 0.6.5-release branch.  As long as you can track the latest 0.6.5.x release you'll have all the fixed referenced above.

[2016-06-20 18:03] behlendorf commented on #4777
@arturpzol what kernel version are you using?  These value are reported properly for me with 0.6.5.7 on Ubuntu 16.04, kernel 4.4.0-22-generic.

[2016-06-20 19:22] ireverent opened #4778 "Durring Sync Write, sync reads drop significantly"
During a sync write operation with a large file,  the sync read performance, specifically for small file, slows down by half. After sync write operation is complete performance of Small file Sync Reads comes back. Running ZFSonLinux with Centos 7.2

[2016-06-20 20:05] rlaager commented on #4764
Thanks. I updated the wiki.

[2016-06-20 20:05] #4764 closed

[2016-06-20 22:54] raxxy commented on #840
Reset again for me, setting this on all disks had no effect.

Might remove the new drive and copy as much data as I can off before catastrophic failure and just rebuild, hopefully removing the new replacement drive cancells the resilver..

[2016-06-20 23:50] chrisrd commented on #840
Original problem reporter here...

If your pool is raid-z2 (e.g. @tobias-k), I'd suggest removing the faulty drive from the pool to stop it producing errors that cause the resilver to restart. You still have a remaining parity drive so your data is still safe and this allows you to get back to 2 x parity as quickly as possible.

If you have a faulty drive on raid-z1 you can either remove the fault

[2016-06-21 05:57] waddles commented on #3766
I have not struck this issue again since setting the filesystem to xattr=off

[2016-06-21 08:51] GregorKopka commented on #3014
@behlendorf Would it be feasible to turn the setting into a pool-level property/tuneable?

Asking since the spa_slop_shift being system wide this seems to be a bit unpractical as all systems I run have at least a small root pool and decondary big data pools, it would be helpful to be able to tune this per pool and not per system.

Still confused about the absolute minimum being 4 orders of magnitu

[2016-06-21 12:24] ntenisOT opened #4779 "Auto grow for one .img file does not work"
I have the exact same configuration for zpool on two servers but on the one of the servers the zpool img consumes all 250GB but on the other it consumes only the used space.

Can I somehow do the same for the first server as well? The only difference is that the OK img has been created by the LXD during the initialisation process and the other img that consumes the whole disk has been creating usi

[2016-06-21 12:39] arturpzol commented on #4777
Thanks for feedback.
I am using native kernel version 3.10.92.
I will test with newer kernel version and let you know.

[2016-06-21 16:07] michaelxwang commented on #4227
@nwf and @jonathanvaughn and @ryao and @behlendorf and @alek-p and @kernelOfTruth and @dweeezil and @lnxbil

As you can see from output below, I had problem in ZFS 0.6.5.4 (rebooted after installation of this version) and resolved in ZFS 0.6.5.7 (after the version was installed and rebooted). The problem could have been resolved in version 0.6.5.6 or 0.6.5.5, but I do not know as I did not reboot

[2016-06-21 16:58] kpande commented on #4777
You will need kernel newer than 3.19

[2016-06-21 17:46] #4758 closed

[2016-06-21 17:47] behlendorf commented on #4758
Verified the fix and merged to master as:

100a91a Fix NFS credential

[2016-06-21 18:03] behlendorf commented on #4370
Closing.  The finalized version of the async minor patches which were merged addressed this issue.

[2016-06-21 18:03] #4370 closed

[2016-06-21 19:55] rabin-io opened #4782 "Fedora 24 Package"
Can you please add it ?

[2016-06-21 20:07] behlendorf commented on #4782
Thanks for letting us know this was released.  We'll get it added, in the meanwhile the Fedora 23 DKMS package should continue to work fine.

[2016-06-21 21:05] behlendorf commented on #351
Resolved by 0df9673f01e8c52d882502d62789fa66efc327e2.

[2016-06-21 21:05] #351 closed

[2016-06-21 21:08] behlendorf commented on #471
Closing.  The retry behavior in modern Linux kernels has improved and efforts to add improved logic to ZFS has been problematic.  Users who require lower timeouts should set the standard `/dev/block/*/device/timeout` tunable.

[2016-06-21 21:08] #471 closed

[2016-06-21 21:09] #751 closed

[2016-06-21 21:10] behlendorf commented on #849
Closing.  This is an issue for the distribution packaging.

[2016-06-21 21:10] #849 closed

[2016-06-21 21:12] behlendorf commented on #1103
Closing.  Several patch have been merged which should have improved this.

[2016-06-21 21:12] #1103 closed

[2016-06-21 21:15] behlendorf commented on #1301
Closing.  This is no longer believed to be an issue with the latest code.

[2016-06-21 21:15] #1301 closed

[2016-06-21 21:57] angstymeat opened #4783 "SSE not available in New RAIDZ implementation"
I've just compiled and installed installed version 0.6.5-310_gd0de2e8 onto a system and it does not appear to have the SSE implementation available  (#4328).

When I run "`cat /sys/module/zfs/parameters/zfs_vdev_raidz_impl`" I get "`[fastest] original scalar`", even though my system has SSE available:

`
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx f

[2016-06-21 22:19] ironMann commented on #4783
It seem that your CPU does not support SSSE3, needed for reconstruction path...

Can you post your CPU model number?
Also, for now, SIMD code works only in x86_64 mode.

If this is a common situation, an alternative reconstruction method could be implemented.

[2016-06-21 22:24] angstymeat commented on #4783
I hadn't looked closely enough to realize that SIMD was an Intel technology.

My CPUs are AMD Opterons. On this particular machine I'm using the AMD Opteron 4130. I have other servers running 6328 processors.

[2016-06-21 22:48] ironMann commented on #4783
AMD started supporting SSSE3 starting with Bulldozer based Opterons, about 5years after Intel Xeons [wiki source](https://en.wikipedia.org/wiki/List_of_AMD_Opteron_microprocessors)
So this should work on 6328.

I'll start thinking about solution to close that gap, but I doubt it will be as efficient as with SSSE3.
sidenote: 'scalar' handles RAIDZ3 much faster than original.

[2016-06-21 22:54] angstymeat commented on #4783
Thanks!

I see ssse3 support in the cpuinfo for our 6328-based systems. The 4130-based one is an older one I use for network monitoring and 2nd-tier backups, so I tested it there first.

I think I'm seeing a difference even with the scalar implementation on RAIDZ1 & 2, but I'm having a heck of a time with consistency in my sysbench benchmarks.

[2016-06-22 02:58] kpande commented on #3066
Still hangs when doing ^C on `zfs send -D -R -v`

Stack traces: http://sprunge.us/FIQK

Process list: http://sprunge.us/CeTB

[2016-06-22 10:26] rabin-io commented on #4782
Thanks, It's working.

[2016-06-22 10:27] rabin-io commented on #4782
Thank you.

[2016-06-22 16:35] brando56894 opened #4784 "zfs-mount fails because directory isn't empty, screws up bind mounts and NFS"
I posted this over at the Arch forums but I haven't gotten any responses after a week. I've been running ZoL on Arch for probably about 6 months and ZoL on Ubuntu 14.10 LTS for about 3 months prior to that, before that I was running it on FreeNAS 9.

Everything was working fine up until a month or so ago when the **zfs-mount.service** daemon failed to start after a reboot, which causes my bind mou

[2016-06-22 16:39] FransUrbo commented on #4784
This happen every now and then but have proven almost impossible to debug (because it can't be reproduced reliably).

The "only" (real) way to solve this is to boot into rescue mode, import your pool WITHOUT mouthing anything but the base filesystem. Then remove everything in there.

Then run "zfs mount -a" until it possibly fail on some other directory. Then make sure nothing is mounted below tha

[2016-06-22 17:20] brando56894 commented on #4784
Ah that's wonderful hahaha Luckily I don't reboot often and I'm only using ZoL until FreeNAS 10 becomes usable later this year. I'll give it a try later on. Thanks for the info.

I was thinking that my best solution would be to just forgo the bind mounts and export the mount points directly so it doesn't matter if the zfs-mount fails since the pools still get mounted either way, I'm the only one u

[2016-06-22 22:11] raxxy commented on #840
Removed old disk. Resilver completed, did NOT remove the offlined disk (still stuck there) reboots still causing a resilver restart even though it does complete - never removing the offlined disk.

I have no more data errors (i had 5 files last time, now showing as zero).

I'm just going to complete moving data off array and blow it away.

[2016-06-22 23:11] chrisrd commented on #840
@raxxy Can you clarify what you mean by "removed old disk", then "did NOT remove the offlined disk"  please? If you mean the old failing disk is still in the machine, and a reboot causes another resilver to start again, what happens if you let the resilver complete and remove the failing disk from the machine and reboot?

[2016-06-23 01:21] tuxoko commented on #4784
@FransUrbo
So, mount would failed on non-empty mount point?
But doesn't linux allow mounting on non-empty directory?

[2016-06-23 02:09] rincebrain commented on #840
I believe he means that it claims to be done resilvering/scrubbing, but the device is still marked REPLACING {offline disk, new disk}, and kicks off a resilver anew every reboot.

[2016-06-23 07:04] raxxy commented on #840
Rincebrain is correct, sorry I was in a rush to leave for work, clearly I should proofread more often.. ;)

Dead disk + new replacement disk -> IO errors triggering resilver re-start loop
Dead disk physically removed + new replacement disk in -> resilver completes but does not ever remove the disk now physically removed

Any event to the zfs pool (export/import, reboot) will cause the resilver to

[2016-06-23 07:05] RubenKelevra opened #4785 "Defragmentation like on btrfs"
It would be nice to implement an defragmentation support and a possible to display the file-fragmentation on a disk.

Currently it's only possible to view the fragmentation of the free space (how is this calculated??).

[2016-06-23 07:13] RubenKelevra commented on #4044
Actually it would be interesting to check fletcher4 for dedup and add a support for using sha256-checksum on disk for verifying. That would only cost very less I/O because the reads are very small and could be very easily cached. Else because of the smaller size of a fletcher4 checksum, it would dramatically reduce the memory footprint of the hashtable.

@richardelling I don't understand your poin

[2016-06-23 07:48] vutfastcit opened #4786 "ZFS + CentOS 6 - very low performance of pool and not working SSD write cache"
Hello,

I need advice on where might be wrong?

**Description of the problem:**
Configuration below, I have a very low performance (xx MB/s) of the entire pool. SSD for writing not work. Write operations do not make use SSD (logs). Pool is connected to a Windows Server 2012 R2 via iSCSI initiator (192.168.1.0/24, 10 GbE, MTU 9000).

**Production configuration:**
OS:

Kernel:

ZFS:

ZPOOL LIST:

ZP

[2016-06-23 07:59] Sachiru commented on #4785
As is repeated multiple times, this requires block pointer rewrite, and as
such, is very far from being done.

There are 10 kinds of people in the world; those who can read binary and
those who can't.

On Thu, Jun 23, 2016 at 3:05 PM, @RubenKelevra <notifications@github.com>
wrote:

[2016-06-23 09:08] chrisrd commented on #840
@raxxy OK, I don't know what's going on there. Does your "zpool events -v poolname" have anything interesting in it relating to the scrubs? If you're happy compiling your own ZoL you might try adding in this patch which provides a little more "zpool events" information on the scrub completion: chrisrd/zfs@92da32e

It's also worth bringing up the pool without /etc/zfs/zpool.cache. Something like: e

[2016-06-23 12:01] fantom-x opened #4788 "Daily hungs"
Getting these in my syslog daily now a few minutes after daily snapshots are taken. Last for more than 10 minutes during which the drives are very noisy and all IO seems to be blocked.

[code]

[2016-06-23 12:04] fantom-x commented on #4788
Another one from this morning

[code]

[2016-06-23 12:19] erikjanhofstede commented on #4512
@dweeezil I'm running a server with 0.6.5.6 with [1229323](https://github.com/zfsonlinux/zfs/commit/1229323d5f82bcb0525b312c80330968cd41466e) reverted, but that's doesn't make any difference. Are there any other commits that I need to revert besides this one to figure out if these new priorities are causing the issue?

How about [this](https://github.com/zfsonlinux/spl/pull/466) pull request? And

[2016-06-23 13:01] dweeezil commented on #4512
@erikjanhofstede The pull request to which you refer is the one which resulted in 1229323 being committed.  It looks like neither [62aa81a](https://github.com/zfsonlinux/spl/commit/62aa81a) nor the related [9dc5ffb](https://github.com/zfsonlinux/spl/commit/9dc5ffb) were in 0.6.4, either.  I had forgotten about the related SPL changes which went along with 1229323 so, yes, in order to restore the o

[2016-06-23 14:01] tj90241 opened #4789 "Enhancement: Port AVX2 Fletcher-4 algorithm to SSSE3"
Hi all and thanks for such a great FS!

I saw 1eeb4562a72ab29345572609e1e4315ecd26c5a1 the other day and was intrigued. Unfortunately, my NAS only supports SSSE3, so I backported the algorithm. The module's microbenchmark selected the SSSE3 implementation over the scalar one, so there is a benefit to vectorization even when doing two additions per cycle instead of four... but I'm not sure by how m

[2016-06-23 14:22] #4785 closed

[2016-06-23 14:26] kpande commented on #4785
duplicate of #264

[2016-06-23 14:44] ryao commented on #4785
You can see block pointers with zdb, which lets you see to what extent is a file is fragmented. Run `zdb -ddddd $dataset $objectID` The object id is the inode number reported by the VFS. You can find it out via the `stat` command.

Fragmentation is a normal aspect of filesystems. It is required for a CoW filesystem to function and is a requirement for filesystems in general. Fragmentation is a non

[2016-06-23 15:16] RubenKelevra commented on #4785
Thanks for your very informative response @ryao, I've using zfs as storage for raw files for vservers. I added a cronjob which do snapshots every two ours. The server exports the diff via send | receive to a backup storage.

Rolling back can be easily done if the snapshot is still on the main machines but I have to copy the entirely data back if it's deleted on the main machines.

So the issue of

[2016-06-23 15:24] ryao commented on #4785
@RubenKelevra You are probably seeing read-modify-write IO amplification on the VM disk images. You will want to set recordsize=4K and do a send/recv to ensure that the VMs are stored with recordsize=4K. Changing it on the dataset will only affect new files, so either copying them or doing a send/recv is necessary to change the record size. Doing a full send/recv before shutting down a VM and then

[2016-06-23 15:25] ryao commented on #4785
@RubenKelevra I suggest reading this:

http://open-zfs.org/wiki/Performance_tuning

[2016-06-23 17:43] behlendorf commented on #4789
@tj90241 adding a SSSE3 implementation of fletcher4 would definitely be worth while and appreciated by many!  Please open a pull request with the proposed implementation and hopefully @jxiong and @ironMann can take a look.  They've both been heavily involved in the recent vectorization work.

[2016-06-23 17:46] behlendorf commented on #2709
Fix in #4790.

[2016-06-23 17:50] behlendorf commented on #2302
Likely fixed by #4790.

[2016-06-23 20:42] RubenKelevra commented on #4785
Actually I use only one DB-Server per Hypervisor, and `/var` got it's own hdd which has 8k recordsize :)

[2016-06-23 21:58] ironMann commented on #4789
@tj90241 Great, please share so we can take a look.
About the math you mentioned, I ran the numbers for two lanes quickly, weights should be as follows:
a = a0 + a1;
b = 2b0 + 2b1 - a1;
c = 4c0 - b0 + 4c1 -3b1;
d = 8d0 - 4c0 + 8d1 - 8c1 + b1;
Also, it might be worthwhile making this SSE2 only, to get better coverage. Do you use SSSE3 for byteswap variant only?

[2016-06-23 22:23] KungFuJesus opened #4792 "Poor throughput to vdevs with well conditioned IO"
I'll try to include all the details I know off the top of my head.

This is a broadwell based chipset, with a SuperMicro board.  It's utilizing two Xeon E5-2660 v4's, with 128GB of memory.  X2APIC is enabled (though I've experimented with disabling it as well).  VT-d is disabled.  I'm running Ubuntu Server 16.04.  I'm using 4x Seagate constellation drives (ST91000640NS).  These drives are natively

[2016-06-23 22:41] KungFuJesus commented on #4792
Also same controller but different disk (Intel SSD) doesn't suffer from this issue with ext4, so that may help at least partially eliminate the hardware + drivers as a suspect.

[2016-06-23 23:00] KungFuJesus commented on #4792
So after chatting in #openzfs, a bandaid appears to be doing this:
echo 2 > /sys/module/zfs/parameters/zfs_vdev_async_write_min_active

This appears to keep the disk fed with enough IO to actually saturate the throughput.  For whatever reason ZoL is dropping to the minimum outstanding writes.

[2016-06-23 23:50] richardelling commented on #4044
all ZFS checksums are 256 bit in size

[2016-06-24 00:54] DeHackEd commented on #4792
So the issue is that rotation media write performance tends to tank when the number of outstanding IO requests is reduced to 1 when doing sequential operations. By the time the drive gets the "next" request from ZFS it has already rotated past the point where it can fulfill the new write and must wait for the sector to come around before trying again. Effectively you get 1 block written per rotati

[2016-06-24 01:55] chrisrd commented on #4792
FYI, for more info on the queuing strategy and tuneables, see [ZFS I/O Scheduler](https://github.com/zfsonlinux/zfs/blob/master/module/zfs/vdev_queue.c#L41) and in particular, the stuff starting at [Async Writes](https://github.com/zfsonlinux/zfs/blob/master/module/zfs/vdev_queue.c#L87)

[2016-06-24 03:06] tj90241 commented on #4789
@ironMann Thanks so much for the weights! I'll revise my commit and make a pull request shortly.

Yes, SSSE3 is only used for the byteswap variant (as it requires pshufb). I could also create two fletcher_ops_t structs; one for SSE2 and one for SSSE3 -- they would share all member functions other than the byteswap routine.

[2016-06-24 04:54] ironMann commented on #4789
@tj90241 this looks great, do you have any performance numbers?

Before doing SSE2, I wonder how much would a 'superscalar' version benefit from this decomposition. CPUs can perform at least 2 independent ADDs simultaneously, which we can provide by splitting the algorithm in two lanes. Without having to do `kfpu_begin()/end()` it might very well be as fast as SSE variant.

[2016-06-24 08:21] GregorKopka commented on #4784
While Linux allows mounting on a non-empty directory, Solaris didn't (where ZFS comes from).

With a current enough ZoL you can **zfs set overlay=on** on the dataset(s) in question (or a parent dataset, since the property is inherited) to make ZFS behave like linux.

[2016-06-24 10:04] FransUrbo commented on #4784
@brando56894 I mean the base of your pool.

@tuxoko, what @GregorKopka  said. It was decided that ZFS is ZFS and should behave like ZFS, not Linux. Maybe don't make huge sense for the large [Linux] community, but it makes more sense when you think of ZFS a multi-OS service..

[2016-06-24 12:07] tj90241 commented on #4789
No performance numbers, yet - I'll work on getting some this weekend.

The SSE2 is likely to benefit over a superscalar variant because everything is twice is wide. Although not shown here, we can unroll the loop once and use a 128-bit load instead of doing a 64-bit load each iteration. This should artificially inflate the window size, etc. etc. I'll get some numbers for these cases too.

[2016-06-24 13:28] richardelling commented on #4784
@GregorKopka your history is incorrect. Solaris always did allow overlay mounts, which led to a significant number of service calls. Service calls are expensive. Thus when ZFS came along, they learned from their prior mistake and restricted overlay mounts. That said, in modern times, one could argue there are use cases for overlay mounts, even though the cost of service calls continues to rise. Gu

[2016-06-24 15:05] kpande commented on #4784
`zfs set overlay=on` is not recommended because you will eventually be hit by #3186 and that is especially nasty with root on ZFS.

[2016-06-24 20:23] olw2005 commented on #4512
Jumping on the bandwagon here.  Any further developments on this?

Background:  Upgraded multiple (5 in total) established systems (running smoothly for a year+) from 0.6.4.2 to the current 0.6.5.7.  Immediate noticeable jump in the # of write operations across all systems with corresponding higher latencies.  I've attempted to use some of the new 0.6.5 tuning parameters to regain the 0.6.4 perfor

[2016-06-24 22:13] kernelOfTruth opened #4796 "libzfs_sendrecv.c: error: ‘clp’ may be used uninitialized in this function"
Just encountered the following compilation error during kernel upgrade (with gcc 5.4.0):

[code]

Commits related to it are pretty old:

[code]

ZoL:

https://github.com/zfsonlinux/zfs/blob/9f8026c802bf3ed23c66295ac4a0b07aa2cba528/lib/libzfs/libzfs_sendrecv.c#L3395

Illumos-Gate:

https://github.com/illumos/illumos-gate/blob/9adfa60d484ce2435f5af77cc99dcd4e692b6660/usr/src/lib/libzfs/common/libzfs

[2016-06-25 00:28] liaoyuxiangqin opened #4797 "config of a hot spare not currently in use or l2cache device will memory leak in add_config"
Dear All,

when i reading ZFS on Linux code, I ran into a memory leak problem with add_config function.
At the start of this function, when deal with a config which belongs to a hot spare not currently in use or level 2 cache device, we only add device to the list of names to translate, but we don't free the config whether process successful or not.

I think the memory of config will leak, and the

[2016-06-25 15:52] meagon opened #4798 "spl compile"
[code]

[2016-06-25 17:49] kingneutron commented on #4798
What kernel are you running, please provide more details about your system (linux distro, RAM, 64-bit or not, etc) and do you have linux-headers package installed for your kernel (if using linux)?

[2016-06-26 01:21] DeHackEd opened #4799 "Large stack frame when compiled with -O0"
<pre>cc1: warnings being treated as errors
../../module/zfs/vdev_raidz_math_scalar.c: In function ‘scalar_rec_pqr’:
../../module/zfs/vdev_raidz_math_scalar.c:215: error: the frame size of 1104 bytes is larger than 1024 bytes
</pre>

CentOS 6
Configured with: `CFLAGS='-O0 -g' ./configure --with-config=user --enable-debug`

Moving to `-O1` enables compiling.

Kinda a small concern. Do we care? I use

[2016-06-26 01:40] ironMann commented on #4799
@DeHackEd Could you try compiling with `-fcombine-stack-adjustments` added to CFLAGS

Problem here is that GCC does not report sane stack size for inlined methods in O0

[2016-06-26 01:41] DeHackEd commented on #4799
No such option under gcc 4.4.7 (centos 6)

[2016-06-26 08:43] gordan-bobic commented on #4345
I also seem to be hitting this bug. This is about as much as I could get out of the system as the whole machine becomes completely unresponsive (couldn't even open a new terminal window or start programs (root on zfs):
https://goo.gl/photos/oEfSkarrC4VR6G11A
So by 30 hours of uptime, arc_prune has already clocked up nearly 7 hours of CPU time consumed.

echo 3 > /proc/sys/vm/drop_caches returned n

[2016-06-26 13:10] dweeezil commented on #4345
@validname I think @behlendorf meant ```zfs_zget()```.  Also, the code in question has dropped down to line 1133 (the risks of line number links to the master branch).

[2016-06-26 16:16] ahrens opened #4802 "use _by_dnode() routines for additional performance wins"
https://github.com/zfsonlinux/zfs/issues/4641 recommends adding `*_by_dnode()` routines for accessing objects given their `dnode_t*`, which is more efficient than accessing the object by `(objset_t*, uint64_t object)`.  We should convert additional performance-sensitive code paths to use these routines as we discover them.

For the concurrent file creation microbenchmark, the following additional

[2016-06-26 16:45] ahrens opened #4803 "dbuf_read() creates unnecessary zio_root() for bonus buf"
dbuf_read() creates a zio_root() to track and wait for all the zio's that may happen as part of this call. However, if the blkptr_t for this buffer is NULL or a hole, we will not create any more zio's, so this zio_root() is unnecessary. This is always the case when calling dbuf_read() on a bonus buffer, because it has no blkptr (it's part of the containing dnode). For workloads that read a lot of

[2016-06-26 17:00] ahrens opened #4804 "lock contention on dn_struct_rwlock during concurrent file creation"
When many threads are concurrently creating files, I observed that we spend quite a bit of time acquiring the dn_struct_rwlock for RW_READER.  In this workload, there is no contention on the lock, because no threads are acquiring it for RW_WRITER.  However, each thread acquiring it for RW_READER must modify the lock to increment/decrement the hold count.  This requires moving the cache line to the

[2016-06-26 17:07] ahrens opened #4805 "lock contention on z_acl_lock during concurrent file creation"
When many threads are concurrently creating files, I observed that we spend quite a bit of time acquiring the `z_acl_lock` mutex from `zfs_zaccess_aces_check()`.  In this workload, we are not actually modifying anything protected by the z_acl_lock.  We could change this to be a rwlock, and acquire it for RW_READER in these code paths.  However, each thread acquiring it for RW_READER must modify th

[2016-06-26 17:11] ahrens opened #4806 "lock contention on sa_lock during concurrent file creation"
When many threads are concurrently creating files, I observed that we spend quite a bit of time acquiring the `sa_lock` mutex from `sa_find_layout()`, `sa_build_index()`, and `sa_index_tab_rele()`.  In this workload, we are not actually modifying anything protected by the sa_lock.  We could change this to be a rwlock, and acquire it for RW_READER in these code paths.  However, each thread acquirin

[2016-06-26 17:30] ahrens opened #4807 "multi-threaded spa_sync"
`spa_sync()` iterates over all the dirty dnodes and processes each of them by calling `dnode_sync()`.  If there are many dirty dnodes (e.g. because we created or removed a lot of files), the single thread of `spa_sync()` calling `dnode_sync()` can become a bottleneck.  Additionally, if many dnodes are dirtied concurrently in open context (e.g. due to concurrent file creation), the `os_lock` will e

[2016-06-26 17:41] ahrens opened #4808 "use aggsum for arc stats"
With a fix in place for https://github.com/zfsonlinux/zfs/issues/4807, I observed that although the wall clock time was dramatically improved, the CPU used increased by 30-200%.  Most of the CPU time was spent in `arc_space_return()`, updating the ARC statistics, specifically `arc_size`, `arcstat_*_size`, and `arcstat_meta_used`.  These are globals that are updated by `atomic_add_64()`, and the sl

[2016-06-26 19:09] pwolny opened #4809 "Silently corrupted file in snapshots after send/receive"
I have experienced a silently corrupted snapshot by send/receive – a checksum of a single file on source and target do not match on the filesystem and on the snapshots.
Repeated scrubs of the tested pools do not show any errors.
Trying to replicate the source filesystem results in a modification of single file on the target pool, in the received  filesystem and all snapshots.
Source pool is a 6x1T

[2016-06-26 22:00] ahrens commented on #4803
OpenZFS/illumos PR https://github.com/openzfs/openzfs/pull/137 addresses this.

[2016-06-27 05:16] ahrens opened #4810 "zap_check_ioerr() impacts performance of concurrent file deletion"
On a microbenchmark which uses several threads to concurrently delete (unlink) files, I observed a lot of time spent due to lock contention in `dmu_tx_check_ioerr()` from `dmu_tx_hold_zap(z_unlinkedobj)`.  Even though in this case we are not going to put the object on the delete queue (`z_unlinkedobj`), it's hard to know that in advance, in part because `z_lock` is needed to check the link count,

[2016-06-27 09:12] erikjanhofstede commented on #4512
@dweeezil @olw2005 Reverting [1229323](https://github.com/zfsonlinux/zfs/commit/1229323d5f82bcb0525b312c80330968cd41466e), [62aa81a](https://github.com/zfsonlinux/spl/commit/62aa81a) and [9dc5ffb](https://github.com/zfsonlinux/spl/commit/9dc5ffb) didn't make any difference. This issue is still present.

I 'feels' like the metaslab selection process picks different metaslabs to write the data to, c

[2016-06-27 11:51] fantom-x commented on #4788
Any suggestions? I tried the config parameter below and it seemed to have eliminated the call traces, but I am still getting "zed" messages. Feels like the call traces are logged as a result of freeing space after some daily snapshots are destroyed.

`echo 2 > /sys/module/zfs/parameters/zfs_vdev_async_write_min_active`

[code]

[2016-06-27 12:17] tjikkun opened #4811 "zfs receive hides descendant filesystems"
On our backupserver we receive snapshots from a filesystem hierarchy, but the filesystems under the pool end up being hidden.

To reproduce:
disappear.sh
[code]

Any idea why descendants end op being hidden, but accessible?

[2016-06-27 12:58] dweeezil commented on #4512
@erikjanhofstede What is your pool geometry (```zpool status```)?  My testing has also shown that the priorities don't seem to make any difference.

[2016-06-27 13:15] erikjanhofstede commented on #4512
@dweeezil

  pool: userdata
 state: ONLINE
status: Some supported features are not enabled on the pool. The pool can
	still be used, but some features are unavailable.
action: Enable all features using 'zpool upgrade'. Once this is done,
	the pool may no longer be accessible by software that does not support
	the features. See zpool-features(5) for details.
  scan: scrub canceled on Sun Jun 12 04:

[2016-06-27 13:31] snajpa commented on #3508
Here are some stack traces that I've caught recently since we've deployed ABRT.

[code]

[2016-06-27 18:19] behlendorf commented on #4799
Although option here would be to disable the warning for this function with a [diagnostic pragma](https://gcc.gnu.org/onlinedocs/gcc/Diagnostic-Pragmas.html).  Try this:

[code]

[2016-06-27 18:44] behlendorf commented on #4788
@fantom-x **delay** events are usually the result of hardware which is slow to respond for some reason.  If you're running the latest master code you I'd suggest running `zpool iostat -w`, this will generate a latency histogram which should provide more insight.

[code]

Man page.

[code]

[2016-06-27 18:57] behlendorf commented on #4512
@erikjanhofstede changes to the metaslab code could definitely cause this, and they would more significantly impact older, fuller, more fragmented pools like yours.  However, the majority of those changes went in to 0.6.3 so I'd have expected both releases to be impacted.  Still I'd suggest investigating the following tuning which are described in **zfs-module-parameters(5)**.

If your system has

[2016-06-27 19:24] dweeezil commented on #4512
I'll note, however, that 0.6.4 should have the very same metaslab improvements so it's not something that should have changed between 0.6.4.X and 0.6.5.X.

[2016-06-27 21:58] fantom-x commented on #4788
@behlendorf, thx for the suggestion. Unfortunately "-w" flag is not available in my version. I will try it when Ubuntu 16.04 updates their zfs version...

[2016-06-28 05:42] loli10K commented on #4809
Could this be the same bug as https://github.com/zfsonlinux/zfs/issues/4050? IIRC 6.5.3 was affected and you seem to have the `hole_birth` feature enabled, plus the problem seems to manifest in the same way: chunks of data at the end of the file that should be zeros filled instead with other data.

Anyway all these "_ZFS send/recv corrupts data_" bug reports are really scary, considering the fact

[2016-06-28 07:41] erikjanhofstede commented on #4512
@dweeezil @behlendorf  I'll start with trying to set metaslab_debug_unload=1, see if that makes any difference. Is this something I can do online, or does it require a reboot/re-load of the kernel module?

[2016-06-28 09:36] RubenKelevra commented on #4044
@richardelling fletcher4 isn't 256 bit width.

My idea with this feature request was: using fletcher4 in ram, to reduce the memory-footprint, use checksum=sha256 on disk, so if the fletcher4 match, both sha256 checksums from disk are read and compared.

The binary search tree would be massively reduced in size because fletcher4 is much smaller than sha256.

[2016-06-28 09:42] pwolny commented on #4809
Thanks for the suggestion @loli10K, it would not occur to me to check that issue.
I have checked output of commands suggested by  @bprotopopov on Dec 3, 2015
and it seems that the system is affected by bug #4050.

[code]

I am not sure, but to trigger this same issue on the "nas1FS"  don`t I need to modify the file?
If I remember correctly the file was never modified, and did not exist in "nas1FS/

[2016-06-28 10:03] ironMann commented on #4789
@tj90241 This is coming along nicely! However, I find the benchmark to be somewhat misrepresenting.
AVX2 fletcher was pushed forward as a part of effort to enable large streaming writes for Lustre [slideset](http://wiki.lustre.org/images/2/21/LUG2016D1_Large-Streaming-IO-for-Lustre-on-ZFS_Jinshan-Xiong_Revised_v2.pdf)
For block as large as 16MB, `fini()` method should not make much difference, but

[2016-06-28 11:57] fantom-x commented on #4788
Got a new kernel version yesterday and these messages below are what I got this time. I did notice that the default scheduler changed from `cfq` to `deadline`...

[code]

[2016-06-28 12:02] neoqguo opened #4812 "Is primarycache=all suitable for read performance of database and consistent?"
We build PostgreSQL(PG) on zfs and disc is Fusion-io(high speed io card). Essenial args are set as follows, more in P.S.
ashift=12
recordsize=8k
primarycache=metadata
secondarycache=none
logbias=throughput

In testing, we catch the read performance bottleneck of database, espeically PG scans pages in sequence, only 4kB is fetched one time(= read bandwide/read count), and high utility in iostat, de

[2016-06-28 12:15] DeHackEd commented on #4812
This is an issue tracker, please use the mailing list for questions like this.

[2016-06-28 12:17] GregorKopka commented on #4784
@richardelling the SUN didn't shine on my prior to ZFS, sorry for that.

@kpande following that reasoning zfs send/recv shouldn't be recommended because you'll eventually be hit by https://github.com/zfsonlinux/zfs/issues/4811, I think this line of thinking is a bad idea and should not be pursued any further...

[2016-06-28 12:19] ironMann commented on #4799
Would it make sense to add new libtool convenient library for raidz implementations, always built with `-O2` or without stack frame check.

[2016-06-28 12:56] #4812 closed

[2016-06-28 12:58] kpande commented on #4811
are you really naming the filesystem 'recv'?

[2016-06-28 13:00] kpande commented on #4784
@GregorKopka using `overlay=on` is known to make a ZFS root system not boot up, so the line of reasoning to avoid it is sound.

[2016-06-28 13:00] tjikkun commented on #4811
In this test, yes
In production this is a hostname

[2016-06-28 13:07] kpande commented on #4811
This is not a bug, your recv'd filesystem is simply not mounted:

[code]

[2016-06-28 13:07] #4811 closed

[2016-06-28 13:10] kpande commented on #4809
you could compile your current version with the fix from 4050 and see if it is resolved, if you do not want to update to 0.6.5.7

[2016-06-28 13:21] tjikkun commented on #4811
In my case it is mounted:
[code]

[2016-06-28 13:28] tjikkun commented on #4811
@kpande Apart from that, if the fs is not mounted, how can it be available (but hidden)?

[2016-06-28 13:30] Rovanion commented on #1280
Yes, it would be useful if this mismatch could be signalled to the user in some better way.

[2016-06-28 13:41] kpande commented on #4811
it's not hidden, you can see it in `zfs list`

[2016-06-28 13:51] tjikkun commented on #4811
It is a hidden directory entry, I meant to say.
Just like the .zfs directory can be hidden by setting snapdir=hidden

[2016-06-28 14:04] kpande commented on #4811
Looks like there is a bug similar to #3186:

[code]

[code]

[2016-06-28 14:16] tjikkun commented on #4811
hmm well it seems your system behaves differently then.
What version of ZFS do you use? weird that you get the umount errors, I don't.
Your version looks related to #3186, but what I see looks like a different bug.

Following is an updated version of the script btw, I added set -x to the top.
[code]

[2016-06-28 14:16] kpande commented on #4811
[code]

[2016-06-28 14:20] tjikkun commented on #4811
Do you think the minor update to .7 would make a difference?

[2016-06-28 14:23] kpande commented on #4811
if I destroy the pool twice, it has umount error the first time and succeeds the second. When it imports, the directory is mounted.

[2016-06-28 14:38] pwolny commented on #4809
I have no objections to a complete upgrade to 0.6.5.7.
Unfortunately I just do not have enough knowledge about zfs internals.
I was just curious if upgrading can make making a diagnose harder or harm the source pool in some way?

I was able to crash the system when doing an md5sum of the problematic file on a snapshot when it did not exist on source pool ("nas1FS/backup@20151121_1"), so I thought

[2016-06-28 14:49] kpande commented on #4809
upgrading shouldn't harm the pool, to the best of my knowledge.

[2016-06-28 14:51] tjikkun commented on #4811
On IRC somebody else was willing to test with kernel: 4.6.2-1-ARCH and ZFS 0.6.5.7_4.6.2_1-1:
Relevant output:
[code]
So that behavior is even different.
Do you still think this issue should be closed? I really think there is a bug/unexpected behavior here.

[2016-06-28 14:56] kpande commented on #4811
the bug seems to be the same as #3186, zfs thinks a filesystem is mounted when it is not.

[2016-06-28 14:58] tjikkun commented on #4811
Except that in my case, the filesystem *is* mounted, just not visible (but it is accessible)

[2016-06-28 15:21] dweeezil commented on #4811
I was trying to refrain from commenting on a closed issue, but here goes:  The problem is that when ```zfs recv -Fv poolB/recv/poolA``` is run, the filesystem represented by "poolB/recv/poolA" is mounted which causes the ```zfs recv``` to perform a so-called "on-line" receive.  On on-line receive involves receiving the stream to a temporary dataset and then performing a "clone swap" operation.  Th

[2016-06-28 15:31] GregorKopka commented on #4784
@kpande my point was that the bug you referenced should be fixed instead, let's continue the discussion there.

[2016-06-28 15:40] GregorKopka commented on #4811
@dweeezil ZFS certainly detects the case (else it couldn't swap in the clone), couldn't this be a point to add a recursive remount of the descendant filesystems (mounted tree view, not zfs dataset hirarchy)?

[2016-06-28 15:46] GregorKopka commented on #3186
Having looked through the code, the only difference between overlay mount and normal one seems to be the check for an empty mountpoint at https://github.com/zfsonlinux/zfs/blob/2b54cb14517b8b3877716dbe02fe75f12a47eb5e/lib/libzfs/libzfs_mount.c#L471

So my guess is the problem with the desynced mtab and /proc/mounts comes from https://github.com/zfsonlinux/zfs/blob/2b54cb14517b8b3877716dbe02fe75f12

[2016-06-28 16:48] raphaelcohn opened #4813 "Fails to compile with musl: zed_log.c"
zed_log.c should have

    #include <unistd.h>

To compile correctly against musl

[2016-06-28 17:38] mailinglists35 opened #4814 "default pool mountpoint name should conform to Filesystem Hierarchy Standard (/srv/poolname instead of /poolname)"
when creating a pool without specifying the mountpoint, the mountpoint is constructed from root path plus the poolname, resulting in unexpected mountpoints such as `/poolname` that look at least a bit weird

I propose that `zpool` utility to conform to Filesystem Hierarchy Standard and use `/srv` instead of `/` for prefixing the mountpoint name if user did not specify a mountpoint.

from [wikipedi

[2016-06-28 17:45] ilovezfs commented on #4814
We've done this on OS X with `/Volumes`, and made it configurable via the environment variable `__ZFS_MAIN_MOUNTPOINT_DIR`, if you want to look at porting such an option over to ZoL (though I doubt ZoL will want to make the default anything other than `/`).

[2016-06-28 17:45] mailinglists35 commented on #4814
on debian there is `/etc/default/zfs`, maybe an optional variable could go there

[2016-06-28 18:06] DeHackEd commented on #4814
This would break compatibility with other operating systems though. An unset property is literally unset and its value constructed. FreeBSD and Solaris will still use the original default.

[2016-06-28 18:07] ilovezfs commented on #4814
That's the whole point ;)

[2016-06-28 18:09] mailinglists35 commented on #4814
i don't quite understand what compatibility means in this context. is confusing other os in what way?

[2016-06-28 18:14] mailinglists35 commented on #4814
moreover, if the pool was to be imported on another os, I bet this would be a one time action, and anyway when you import a foreign pool you do it for two major reasons: migrate and rescue. if you migrate, you modify the mountpoint anyway, and if you rescue, you import with altroot. i really don't understand how this which is a minoriity as a percentage of total number of linux pools has prevalenc

[2016-06-28 18:17] DeHackEd commented on #4814
ZFS rather sets its own standards by not using `/etc/fstab`, and we also follow a few Solaris conventions by defaulting to refuse to mount into non-empty directories by default.

Users are free to set mount points to whatever they want. These are just the defaults, and are consistent with Solaris for the sake of consistency and documentation coherency.

[2016-06-28 18:19] ilovezfs commented on #4814
I think you've missed the point. This is about relocating all pools en masse, not about fiddling with mountpoints-per-dataset-per-pool.

[2016-06-28 18:24] DeHackEd commented on #4814
And you think that's not going to cause a lot of trouble? My pool is in different locations when I boot between FreeBSD and Linux, etc.

[2016-06-28 18:25] ilovezfs commented on #4814
@DeHackEd We've been doing it like this on OS X for a couple years now. So no.

[2016-06-28 18:25] mailinglists35 commented on #4814
@DeHackEd you can't aim to forever maintain consistency with oracle when the code has already split.

whatever os i'd be using, as an admin i feel it is a burden to have to provide the mountpoint on zpool create instead of having an os-recommended (and standard!) prefix.

[2016-06-28 18:28] ilovezfs commented on #4814
@mailinglists35 By the way, there is a somewhat counter-intuitive way of "faking" this.
[code]
Now you'll have
[code]

[2016-06-28 18:46] mailinglists35 commented on #4814
as a side note, I wonder how did the original zfs got the default mountpoint[1] - the solaris os does not seem to have designated a directory for permanent mounts[2].

[1]

When a pool is created, the default mount point for the top-level dataset is /pool-name

[2]
https://docs.oracle.com/cd/E26505_01/html/816-5175/filesystem-5.html

[2016-06-28 21:35] behlendorf commented on #4789
@tj90241 the updated patch LGTM and works as expected in my local testing.

@ironMann I'm all for changing the benchmark as you've described to make it more realistic.  This was mentioned in the original review but with only avx2 and a scalar implementation it didn't really matter.  The relative performance difference between the two implementations was huge. However, I agree that as we add additi

[2016-06-28 21:48] olw2005 commented on #4512
@erikjanhofstede @dweeezil @behlendorf  Not sure if this is going to come through correctly.  Spent most of today running through versions of 0.6.5.X on a more isolated system.  The problem appears to manifest between 0.6.5.1 and 0.6.5.2.

![dtc-nvr_disk_io_zfs_0_6_5_0](https://cloud.githubusercontent.com/assets/3035339/16433440/43782862-3d58-11e6-9f64-44aacbce1cc9.png)

![dtc-nvr_disk_io_zfs_0_6_

[2016-06-28 21:50] Rovanion commented on #4461
To clearify the above comment of bachmarc for posterity: Your `/etc/samba/smb.conf` should contain:

[code]

I.e. you shouldn't add a new global section but rather add `registry shares = yes` to it.

[2016-06-28 21:50] mailinglists35 commented on #4512
@olw2005 what did you use to produce those charts?

[2016-06-28 21:53] olw2005 commented on #4512
@mailinglists35  Cropped from the VMware vsphere client.  =)

[2016-06-28 21:57] rincebrain commented on #4809
You should probably try to replicate the lock/crash on 0.6.5.7 and/or master and then report that as a distinct problem, if it persists.

Presuming this is bug #4050, the bug only manifests in the stream when you transmit via incremental send, so the source pool's data is not affected, and upgrading your ZoL version should be safe.

[2016-06-28 22:08] behlendorf commented on #4809
@loli10K thanks for pointing out #4050.  And I completely agree, these kinds of issues can't be allowed to happen and we should work on increasing our test coverage in order to prevent them.

@pwolny I'd also recommend upgrading to 0.6.5.7 and verifying that you can no longer reproduce the issue.

[2016-06-28 23:11] behlendorf commented on #4813
@raphaelcohn please open a PR with the fix so we can get it reviewed, tested and applied.  Tagging @clandmeter since this is proposed change in musl related.

[2016-06-28 23:54] behlendorf commented on #4512
@olw2005 thanks!  You've really narrowed the field of possible causes.  Of the 13 patches applied between 0.6.5.1 and 0.6.5.2 only the following few have the potential to have caused something like this.  In order of most to least likely:

057b87c Fix synchronous behavior in __vdev_disk_physio()
c1013eb Linux 4.3 compat: bio_end_io_t / BIO_UPTODATE
f4943dc Avoid blocking in arc_reclaim_thread()

M

[2016-06-29 03:31] chrisrd opened #4816 "Looping in zfs_zget()"
We're seeing what looks like endless `goto again` looping in `zfs_zget()`, called from `shrink_slab()`.

The symptoms are `kswapd` chewing up CPU, and mounts (and umounts) hanging indefinitely, then eventually running out of RAM (`zfs_arc_max` set to 112G with 176G in the box), then the oom killer starts partying like a host at the [Red Wedding](http://gameofthrones.wikia.com/wiki/Red_Wedding), be

[2016-06-29 05:59] ironMann commented on #4783
@angstymeat New SSE2 implementation is in #4815
Could you give it a try on your 4130-based test system? It would be good to know if everything is working as expected.

[2016-06-29 06:59] angstymeat commented on #4783
Thanks! My system is currently performing backups, but I'll install it and try it tomorrow when it is quiescent.

Also, I have a couple of newer processors on the way for it, anyway, but I have a few other systems that I can't justify upgrading that this could help with.

[2016-06-29 07:40] pwolny commented on #4809
Thanks, I will upgrade to 0.6.5.7 and test it tonight or tomorrow.

[2016-06-29 12:24] kernelOfTruth commented on #4811
@dweeezil thanks for the explanation, seems that covers what I also observed in the near past

[2016-06-29 13:00] kpande commented on #4814
@behlendorf can we get a yes/no on this? It smells to me, I would rather we just stick with upstream behaviour. Linux and OS X are different worlds, for different users.

[2016-06-29 13:16] erikjanhofstede commented on #4512
@olw2005 What's your timeline for reverting [057b87c](https://github.com/zfsonlinux/zfs/commit/057b87c00a8eb395f456e8be2f55f6b34dc647ab) and testing this?

@behlendorf I'd like to revert [057b87c](https://github.com/zfsonlinux/zfs/commit/057b87c00a8eb395f456e8be2f55f6b34dc647ab) on a production system, but [aa159af](https://github.com/zfsonlinux/zfs/commit/aa159afb568fff01bb9f427c16b406c5d29664c7)

[2016-06-29 14:24] olw2005 commented on #4512
@behlendorf @erikjanhofstede  Just trying to do my part for the cause.  =)  Time permitting, I'll try to remove the above patch sets today.  Will also be confirming the problem on another (higher end) system today if I can sneak in the downgrade.  To answer your questions above:

[root@dtc-sannvr ~]# cat /etc/redhat-release
CentOS release 6.7 (Final)

[root@dtc-sannvr ~]# uname -r
2.6.32-573.12.1.

[2016-06-29 14:58] tj90241 commented on #4789
@ironMann @behlendorf I agree that init/fini should be measured. The current benchmark uses a blocksize of 4096. That being said, is it sufficient to benchmark init/compute/byteswap/fini on a 4096 and assume larger block sizes have a speedup that is >= that achieved for a 4096 blocksize? Is blocksize < 4096 used anywhere?

If this is not a safe assumption, what blocksize(s) should be used to bench

[2016-06-29 15:12] ironMann commented on #4789
@tj90241 I propose 512KiB. It's between typical record sizes (128K and 1M), and should fit into caches of most CPUs.

[2016-06-29 15:39] raphaelcohn commented on #4813
I've opened a PR. This PR addresses musl compilation. It also fixes an issue with `RUSAGE_THREAD` and reduces substantially a heap of warnings about the 'correct' location of headers (only by eliminating those did I find the issue with `zed_log.c`. I've pushed the issue with `RUSAGE_THREAD` upstream, too.

This PR does not fix two other musl-related issues:-
* Looking for `attr/xattr.h` instead of

[2016-06-29 16:01] behlendorf commented on #4799
What would we gain by adding a convenience library?

[2016-06-29 16:12] behlendorf commented on #4814
For consistency with the other implementations and the other reasons mentioned above let's leave the default behavior as is.  That said, if someone wants to port the OS X path so that functionality is available under Linux I'd certainly consider it for inclusion as long as the default behavior remains unchanged.

[2016-06-29 16:16] RubenKelevra opened #4818 ""Dataset already exist" on destroying a pool"
[code]

[code]

[2016-06-29 16:23] behlendorf commented on #4789
How about 128K, SPA_OLD_MAXBLOCKSIZE, instead to try and minimize our memory footprint at module load time.  This is still by far the most common block size in use even though 1M (and larger) blocks are supported.  It would be interested to run the benchmark with both sizes and see if there's any significant difference in performance.

[2016-06-29 16:30] tj90241 commented on #4789
@ironMann @behlendorf Thanks for your input. I will experiment with those blocksizes (4k, 128k,512k,1M) on different machines and report back.

[2016-06-29 16:33] behlendorf commented on #4512
@erikjanhofstede reverting 057b87c and aa159af will introduce a small race in the IO pipeline which can cause it to stall.  Depending on the workloads on your system and its configuration you might never hit this race or you might hit it daily.  It's impossible to say.  Worst case you'll need to reboot the system.

@olw2005 thanks for the info.

[2016-06-29 16:34] behlendorf commented on #4818
Possible fix in #4791 awaiting review.

[2016-06-29 16:38] ironMann commented on #4799
@behlendorf For one, we could remove `-Wframe-larger-than` selectively. Other thing is that SIMD code, both raidz and fletcher4, is not guarantied to work if user sets high opt level in `CFLAGS`, e.g. `-O3 -ftree-vectorize`. Too bad automake protects CFLAGS...

That said, everything can also be solved with pragma statements. For gcc, anyway

[2016-06-29 18:19] JuliaVixen commented on #2508
I just got one of these too... I'm running the command `zfs send -eDLRv o@2016_Jun_28 | zfs recv -evF p` Looks like it might be related to those brand new checksum errors, on my brand new hard drive. (I'm just making a backup, but anyway...) The `zfs send` or `recv` appears to have stalled; I mean it's still printing out progress every second, but the number of gigabytes sent is not going up (or i

[2016-06-29 18:37] JuliaVixen commented on #2508
Yeah, the `zfs recv` is stuck. I killed the `zfs send`, and the `recv` hadn't noticed the pipe is closed.
`root      2913  0.3  0.0  44312  3268 tty1     D+   Jun28   4:15 zfs recv -evF p
`

[2016-06-29 18:52] fange-clusterhq opened #4819 "'zfs rollback' should support rolling back to the most recent snapshot with only fs path."
Currently, zfs rollback command must take a snapshot path. However, internally it is using libzfs_core api: lzc_rollback_ext. The function lzc_rollback_ext will only roll back to the most recent snapshot for a given fs. Zfs cli use this api by first destroying all the snapshot after the given snapshot. There seems to be no reason why we should not support the case where 'zfs rollback <fs path>' wi

[2016-06-29 19:39] behlendorf commented on #4799
The only two compilers I'm aware of which can build the Linux kernel are gcc and clang.  Both appear to support diagnostic pragmas so for simplicity this would be my preference.

https://gcc.gnu.org/onlinedocs/gcc/Diagnostic-Pragmas.html
http://clang.llvm.org/docs/UsersManual.html#controlling-diagnostics-via-pragmas

[2016-06-29 20:39] behlendorf commented on #4816
@chrisrd thanks for the detailed analysis, your summary of the issue is spot-on.  As it turns out I've recently observed this myself in master after enabling the remaining zfs send/recv functional tests so this is on the short list of problems to resolve.

The `again` logic is designed to handle the case where `zfs_zget()` is racing with a concurrent eviction for this same inode.  Since the evicti

[2016-06-29 21:40] olw2005 commented on #4512
Ok, further testing today.  My git-fu is rusty so for simplicity, I used the zfs "point-in-time"  as of commits f4943dc followed by the next commit, 057b87c.  First graph shows performance for zfs-commit-f4943dc.  The second graph shows the tail end of f4943dc on the left and 057b87c on the right.  The contrast is readily apparent.

[2016-06-29 22:01] olw2005 commented on #4512
However, the plot thickens...  As mentioned earlier, I downgraded one of our higher-spec hardware servers this morning from 0.6.5.7 to 0.6.5.1 hoping to see the same decrease in latency / increase in performance.  But instead saw the reverse -- performance of 0.6.5.1 was significantly worse.  (Side note, this one also ran very nicely on 0.6.4.2.)

Must be some other commit that has something to do

[2016-06-30 00:43] apetc commented on #4360
Adding some info on a potentially related issue.

I had a RAIDZ2 (grand total of 7 disks) that had two disks with issues. One disappeared and the other had significant checksum/corruption issues. As the data existed elsewhere and the risk of data loss was not a major concern, I replaced both bad disks and issued appropriate "zpool replace" commands. This kicked off a lengthy resilvering that produ

[2016-06-30 01:02] chrisrd commented on #4816
Note: I guess it's much the same thing ("it is the process we're expecting to complete the eviction"), but for the record I've seen this happen from direct reclaim as well as from the swapper, e.g.:
![flame](https://cloud.githubusercontent.com/assets/1211482/16472345/af690736-3ea6-11e6-820f-7d620acb95b0.png)
[perf.report.txt](https://github.com/zfsonlinux/zfs/files/340443/perf.report.txt)
[echo t

[2016-06-30 01:39] behlendorf commented on #4816
@chrisrd I came to a similar conclusion as yours after looking in to working up a patch for this.  The heart of the problem is that it's possible to have both the file inode, xattr directory inode, and individual xattr inodes all on the same disposal list (see dispose_list()).  In this case we can't just retry and wait since the current process is responsible for processing that disposal list.

I'

[2016-06-30 09:08] RJVB opened #4823 "system freezes running off ZFS; kernel 4.5.7, Celeron N3150 and Seagate SSHD"
I am getting too regular system lock-ups when running off my ZFS root (/boot is on ext4), about once every other day. I don't get any useful information in my system logs, possibly because it can no longer be written.

This seems to happen during relatively intensive I/O, like compilation but the other day it happened when I was doing a zfs send/receive to a pool on an external USB disk. I've yet

[2016-06-30 09:08] RJVB commented on #4788
What kernel is that?

I am also getting hangs, but in my case it's the whole system that hangs, but that might simply be because I'm using a ZFS root (= only /boot is on ext4). I also don't get any useful information in my system logs, again possibly because it can no longer be written.
Not that they could be due to unexpected delays; the pool is on a hybrid HDD (SSHD) on the internal SATA3 bus...

[2016-06-30 09:31] RJVB commented on #4823
Re: absent info in the logs. Supposing that's indeed because of a race condition, what should I expect with the following approach:

- boot off the btrfs external
- mount the internal root pool to a sub prefix
- chroot into that prefix the way one would to run updates, redo the grub config etc.:
[code]

That should give me my regular login session/environment, but I'd hope that all system messages

[2016-06-30 11:50] fantom-x commented on #4788
I am running Ubuntu 16.04. The root is ext4 on an SSD and a ZFS mirror is on two rotational disks. These freezes only happen within 10..20 minutes after daily snapshots created/destroyed. After the freezes I get additional space freed and while it is in the frozen state, the drives make a lot of noise: the heads are moving violently.

`4.4.0-28-generic #47-Ubuntu SMP Fri Jun 24 10:09:13 UTC 2016 x

[2016-06-30 12:20] RJVB commented on #4823
FWIW:
[code]

is that reasonable, knowing that the pool sits in a (GPT) partition?

[2016-06-30 12:28] RJVB commented on #4788
From http://docs.basho.com/riak/kv/2.1.4/using/performance/:

[2016-06-30 12:58] RJVB commented on #4788
On Thursday June 30 2016 04:50:57 fantom-x wrote:

If I understand the meaning of that parameter correctly it's a bit surprising, theoretically speaking, that it reduces your issue. Forcing the system to wait until there are more async write requests before taking action on them could be expected to increase latency.

Have you considered trying the blk-mq scheduler? (Requires a scsi_mod.use_blk_mq

[2016-06-30 14:08] dweeezil commented on #4512
@olw2005 Do all of these systems you're testing use ```zfs_nocacheflush=1```?

[2016-06-30 14:22] olw2005 commented on #4512
@dweezil  In general, yes.  Not tied to the setting, but if I recall correctly (and it's been a few years since I set it so I could be wrong) the HP smart array controllers we're using (P421's with 2GB of BBWC) perform better without the flush.

However, come to think of it the graphs and testing above (apart from the last entry above) are on Dell systems with different lower-end controllers.  Hmm

[2016-06-30 15:56] mailinglists35 opened #4824 "`zpool export` does not delete the mountpoint on pools with local mountpoint property"
[code]

expectation: delete the mountpoint after export, like the case for pools without defined mountpoints

[2016-06-30 18:45] rlaager commented on #224
@ryao How much work would it take (on top of your commit earlier) to make O_DIRECT imply primarycache=metadata semantics?

[2016-07-01 00:46] tuxoko commented on #4784
@FransUrbo What about making the mountpoint readonly? That should prevent anyone from accidentally put stuff in it, no?

[2016-07-01 02:03] JuliaVixen commented on #4582
Oh hey guess what! I just got this crash again with a drive from my old Solaris box. I know for certain that there is no missing VDEV this time; I have all of the drives plugged in.

At the console:
[code]
In the log:
[code]
Yep, it's blocked...
`root     16033  0.0  0.0  47064  4592 tty4     D+   01:47   0:00 zpool import -o readonly on unmirrored`

Here's the disk label
[code]
This disk was the

[2016-07-01 09:29] pwolny commented on #4809
I have upgraded to  v0.6.5.7 and problem starts to be more interesting.
The crash during the access to not existing file in snapshot does not happen anymore.
The send/receive of nas1FS/backup (containing problematic file) gives same md5sums on receiving and sending side (compared all files on "nas1FS/backup" and "backup_raidz_test/backup").
When I have repeated commands suggested by  bprotopopov o

[2016-07-01 12:46] STRML commented on #3952
I have this problem as well on a server I'm using on AWS to evaluate switching some of our data storage to ZFS. It's ZFS over EBS, which is potentially problematic as we can see.

We have the same txg_sync errors as above. In addition, I've seen:

[code]

[2016-07-01 19:49] kernelOfTruth commented on #1277
that file moved - new place:

http://wiki.old.lustre.org/images/f/ff/Rebuild_performance-2009-06-15.pdf

[2016-07-01 21:55] tonyhutter commented on #3770
Quick update:
I have a pull request up (https://github.com/zfsonlinux/zfs/pull/4760).  Unfortunately, I'm running into some stack frame size issues on ARM32, x86-32, and PPC.  I'm looking into how to resolve those in the the least ugly way possible...  Might be a similar problem to what's being reported in https://github.com/zfsonlinux/zfs/issues/4799.

[2016-07-02 16:34] mailinglists35 commented on #845
@behlendorf is it normal/expected on latest release (which already has mtab cache enabled) to still observe `zfs create` reading mtab as many times as the number of existing datasets?

    root@linux:/usr/local/src/zfs-linux-0.6.5.7# time strace -f zfs create pool/test > /tmp/create 2>&1

    real    0m13.391s
    user    0m0.228s
    sys     0m12.632s

    root@linux:/usr/local/src/zfs-linux-0.6.

[2016-07-02 20:14] aimaq commented on #1155
Hi Everyone,
I have same issue can anyone help me please? I'm new to ZFS.
I just freshly installed CentOS 7.2.1511 then installed zfs following instructions on https://github.com/zfsonlinux/zfs/wiki/RHEL-%26-CentOS . However the installation completed successfully but when I execute the command "zfs status" I encounter following error message:
[ The ZFS modules are not loaded ]
[ Try running '/sbi

[2016-07-02 21:46] pwolny commented on #4809
It seems that I have not tested enough.
The issue is still present after the upgrade to  v0.6.5.7.
The crash during the access to not existing file in snapshot does not happen anymore but I can still trigger the send/receive snapshot corruption.
Previously I have entered commands by hand or repeated from console history so I have introduced some significant delays between commands.
Later I have au

[2016-07-02 22:57] darkpixel commented on #2210
Just a heads-up for anyone stumbling upon this issue by searching for "cannot receive incremental stream: invalid backup stream":  This error message *can also* occur if you have something running (like a cron job) that automatically takes snapshots on the pool you are zfs-receiving against.

In my case, I use puppet to automatically configure a bunch of Linux boxes that all have a standard config

[2016-07-02 23:13] kernelOfTruth commented on #4809
@pwolny

what are the S.M.A.R.T. stats for those drives ? anything unusual ?

can you post those somewhere ?

[code]

Is there a possibility you can exchange

[code]

for a different drive ?

~~All drives are connected to the same harddrive controller ?~~
http://www.supermicro.com/products/motherboard/Atom/X10/A1SA7-2750F.cfm

LSI 2116 controller for 16x SATA3 /
    SAS2 ports plus 1x SATA3 SMCI

[2016-07-03 01:07] pwolny commented on #4809
@kernelOfTruth

all disks seem to be ok. nothing unusual about them from smartctl.

nas1FS drives are very similar in smartctl :
[code]

All disks are connected to the same controller (LSI) on A1SA7-2750F, the motherboard is as received (no FW updates).

I have repeated the tests with the pool backed by a ramdisk file, so no bad cables or controllers and I **can** still trigger the bug with script

[2016-07-03 09:05] lnicola commented on #4809
@pwolny I'm half-asleep so I might not be reading this right, but this looks like the same bug, but with a somewhat different behavior wrt. size and delay: https://gist.github.com/lnicola/1e069f2abaee1dbaaeafc05437b0777a

[2016-07-03 10:18] pwolny commented on #4809
@lnicola It seems that your script output exhibits the same checksum mismatch footprint as mine. What kernel / zfs version were you using?

[2016-07-03 10:20] lnicola commented on #4809
Sorry for not mentioning those. I'm on 4.6.3-1-ARCH with 0.6.5.7_4.6.3_1-1, i.e. the latest versions.

[2016-07-03 12:06] kernelOfTruth commented on #4809
That's pretty concerning, I'm mostly backing up my files only with zfs send nowadays, too & also running 4.6.3 - ZFS is on top of cryptsetup for me,

@pwolny are you using any encryption or partition "alteration" mechanism (cryptsetup, lvm, etc.) ?

@pwolny @lnicola are your pools running with the latest ZFS feature set ?

what does the zpool upgrade command say ?

(I can't currently provide sampl

[2016-07-03 12:09] kernelOfTruth commented on #4809
referencing https://github.com/zfsonlinux/zfs/pull/4754 (6513 partially filled holes lose birth time) which is in master: https://github.com/zfsonlinux/zfs/commit/bc77ba73fec82d37c0b57949ec29edd9aa207677

[2016-07-03 12:36] lnicola commented on #4809
@kernelOfTruth yes, I do have `hole_birth` active

[2016-07-03 14:04] dweeezil commented on #4512
I'd be curious to know some of the block queue settings of the underlying vdevs for anyone seeing this issue.  At the very least, ```/sys/block/<block_device>/queue/max_sectors_kb```.  Also whether anyone is using large blocks (```zpool get feature@large_blocks``` is "active").  Pinging @olw2005.

[2016-07-03 14:50] kernelOfTruth commented on #4809
@pwolny you're relying to show that issue with the samsung drive and gzip-9 compression,

does this also happen when you explicitly set lz4 compression ?

or one of the other ones?

[code]

[2016-07-03 18:04] kernelOfTruth commented on #4809
referencing: https://github.com/zfsonlinux/zfs/issues/4530 Data Corruption During ZFS send/receieve

[2016-07-03 20:22] pwolny commented on #4809
@kernelOfTruth
- I have passed devices directly to zpool, no cryptsetup or anything else like that.
- I think that intentionally I only changed compression setting to a value different then the default.
- When I tested this issue (on multiple versions of spl/zfs) with a script all feature settings have had default values from the tested zfs version .
- I have retested without compression on my lap

[2016-07-03 20:26] lnicola commented on #4809
@pwolny What if you replace the use of `truncate` with `dd`?

[2016-07-03 20:44] pwolny commented on #4809
I have retested multiple versions of spl/zfs (built from source) on a virtual machine running Knoppix 7.4.2 with kernel
```Linux Microknoppix 3.16.3-64 #10 SMP PREEMPT Fri Sep 26 02:00:22 CEST 2014 x86_64 GNU/Linux```
and I can very reliably reproduce this issue (with script mentioned in https://github.com/zfsonlinux/zfs/issues/4809#issuecomment-230123528 ).

During testing I have seen three possi

[2016-07-03 20:53] pwolny commented on #4809
@lnicola   If I replace:
`truncate -s 1G /$src_fs/large_file`
with
`dd if=/dev/zero of=/$src_fs/large_file bs=1 count=1 seek=1G`
I still can trigger the bug fully.

[2016-07-03 20:55] lnicola commented on #4809
What about the other `truncate` usage? My thinking is that it could prove this is not related to the `hole_birth` feature.

[2016-07-04 02:14] spacelama commented on #4178
It appears this systemd integration has killed the sysv startup?  Up until a few weeks ago, I had been using the zfs package provided by zfsonlinux itself: zfs_0.6.5.4-1_amd64.deb, which had some handy /etc/init.d/zfs-{mount,import,share,zed} scripts.  These have been removed now that we're installing from debian zfs: zfsutils-linux, which only provides /lib/systemd/system/zfs*, and with a reboot

[2016-07-04 02:21] rlaager commented on #4178
@spacelama If you want sysv init support, then you need sysv init scripts. If you want Debian to ship them, then my advice would be to grab the old ZFS sysv init scripts, integrate them into the Debian packaging, and submit a packaging patch to Debian.

[2016-07-04 07:19] mailinglists35 commented on #4773
so... is it normal to take so long?
cpu core2duo E8200  @ 2.66GHz, 4gb ram

[2016-07-04 07:30] erikjanhofstede commented on #4512
@dweeezil /sys/block/*/queue/max_sectors_kb is set on 512 voor all zpool devices over here. The large_blocks feature is disabled (haven't upgraded the zpool).

[2016-07-04 08:15] mailinglists35 commented on #4773
i'm getting similar times on freebsd with lots of ioctls to "5a14" when zfs is spinning 100% cpu

 19199 zfs      CALL  ioctl(0x3,0xc0185a14,0x7fffffff3bb0)
 19199 zfs      RET   ioctl -1 errno 3 No such process
 19199 zfs      CALL  ioctl(0x3,0xc0185a14,0x7fffffff4e00)
 19199 zfs      RET   ioctl 0

on linux strace says

ioctl(3, 0x5a14, 0x7ffd116bb330)        = 0
ioctl(3, 0x5a14, 0x7ffd116b7d00)

[2016-07-04 09:45] mailinglists35 commented on #4773
update to kernel 4.6, first line of `perf report` now says `reschedule_interrupt` instead of `poll_idle`

[2016-07-04 10:33] mailinglists35 commented on #4462
googling for `dbu_evict` for my #4773 shows this http://permalink.gmane.org/gmane.comp.file-systems.openzfs.devel/1534
could it be related?

[2016-07-04 10:35] mailinglists35 commented on #4462
issues involving large number of datasets #845 #1484

[2016-07-04 12:12] RubenKelevra opened #4825 "Feature Request: Sequential Resilvering (was: Very slow drive-replace)"
Currently a drive-replace is dead slow. I've currently at a data-migration to a larger storage...

My setup is a 9 3TB SATA-HDD RAIDz2 which is currently degraded to one redundancy.

I'm currently receiving two filesystems and need to replace two disks, because I started with two disks just borrowed from a friend, now wanna use the disks from the old storage system.

The two zfs receives are limit

[2016-07-04 13:25] intelfx commented on #4178
@spacelama: there's no "this systemd integration". There was no work done in relation to this report since I'm not using ZFS anymore, and nobody probably cares much.

[2016-07-04 13:34] RubenKelevra commented on #4825
I've just changed my procedure:
I've stopped both replaces of running disks - I expected that there was to much load on the disks which were currently active members.

Now I try to add the missing disk in advance, which should be the least load for the whole array - because all disk provide the data for the missing disks at one. Now I would expect a recovering rate at nearly 90 MB/s.

But the resu

[2016-07-04 13:44] RubenKelevra commented on #4825
The System is running on Arch Linux with ZFS version 0.6.5.7, Kernel-Version 4.6.3.

The System got an i5 6xxx quadcore processor without HT and 32 GB DDR3 RAM.

The 3 TB disks are added completely to zfs, the system is booting from a dedicated usb device.

[2016-07-04 14:10] dasjoe commented on #4825
Resilver speed depends on your disks' fragmentation, and thus usually varies over the whole resilver. 3 MB/s for a single vdev is well above the expected minimum speed.

You're looking at a single disk's IOPS, so even slight fragmentation leads to a lower resilver speed.
Let's assume 90 IOPS, so your pool can read at least 90 blocks per second. A minimum block size of 4 KB leads to 360 KB/s, showi

[2016-07-04 18:39] dweeezil commented on #4512
I've been going over the various related commits: b39c22b, 5592404 and aa159af.  The latter two are, respecively, 057b87c and cd887ab on zfs-0.6.5-release.

@olw2005 reported seeing different behavior between 057b87c and its previous commit.

One of the most interesting things I realized about 5592404 (057b87c) is that the new ```wait``` parameter to ```__vdev_disk_physio()``` will _never_ be set

[2016-07-04 21:35] dweeezil commented on #4512
Of course I realized right after writing the patch that it's probably not much different than looking at ```flags``` in ```__vdev_disk_physio()``` with the advantage that it's looking for ZFS-specific flags (the ZIO priority).

[2016-07-04 22:40] STRML commented on #4688
This looks very similar to a deadlock [I'm seeing every few days](https://github.com/zfsonlinux/zfs/issues/3952#issuecomment-229937709) on a test server.

[2016-07-04 22:51] STRML commented on #3952
I've disabled the L2ARC to see if we still get freezes without it. Its cache hit rate is not great anyway so I'm fine with keeping it off. We may move the prod engine to a c4 again some day soon in which case there will no longer be local SSD.

On stage, there's a lot of memory pressure in normal use and the default arc_max is about 1.9GB.

I've added the following to `/etc/modprobe.d/zfs.conf` to

[2016-07-05 06:58] RubenKelevra commented on #4825
This is the performance of a completly idle storage:

[code]

Actually this is a completely new pool. We just started to import data 4 days ago. So I don't think there is no fragmentation at all. Else this was my point: ZFS does not need to read the data with fragmentation. ZFS just need a bitmap of Data & No-Data blocks per Device, when this is completed it's able to do a 1:1 copy of the device w

[2016-07-05 07:13] RubenKelevra commented on #4825
I've tried your `zfs_vdev_scrub_min_active `and `zfs_vdev_scrub_max_active`, zfs recovering speed increased to avg 6 MB/s on the recovering device ... which still seems fairly slow. All disks running at about 9-12% business and the recovering device is a bit higher, with around 60% avg.

Else the written Data seems very cluttered, since the disk is 60% busy but zfs only writes 6 MB/s.

[2016-07-05 07:16] RubenKelevra opened #4826 "Change a fix amount of disks which scrubs/replaces to a percentage IO-value"
The default values of `zfs_vdev_scrub_min_active` and `zfs_vdev_scrub_max_active` slows down an zfs replace more than necessary on larger arrays.

A change from a "how many disks should scrub / replace at once" to "how many percentage IO should be minimal / maximal given to this work" is much more consistently on different poolsizes.

[2016-07-05 08:40] ab-oe commented on #4512
Hello,
If this helps. I noticed similar latency increase after updating ZoL from 0.6.4.2 to ZoL 0.6.5.x. This was introduced with commit 37f9dac592bf5889c3efb305c48ac39b4c7dd140. The last commit with the good latency was dca8c34da4212ed85a92111f26bd3a3cd782f270.

[2016-07-05 09:47] mailinglists35 commented on #4825
this issue was previously discussed in #1110

"behlendorf commented on Nov 29, 2012
@mattlqx Unfortunately, if you have a lot of small files in your pool it's the norm. It's also not really acceptable for the enterprise **so there is a design for a fast resilver feature floating around which just needs to be implemented**."

does anyone know what is the status of the fast resilver feature?

[2016-07-05 09:52] mailinglists35 commented on #4825
from https://www.reddit.com/r/zfs/comments/4192js/resilvering_raidz_why_so_incredibly_slow/

"RAIDz resilvering is very slow in OpenZFS-based zpools. It's a lot better in Solaris, though still not as good as mirroring. Basically, it starts with every transaction that's ever happened in the pool and plays them back one-by-one to the new drive. This is very IO-intensive. If you're using hard drives

[2016-07-05 12:57] dweeezil commented on #4512
Preliminary testing shows that 0caf657 (note updated commit) seems to do the Right Thing:  Sync writes from userland do cause sync-writes to an slog without any unplug timer expiration.  And also,  the synchronous blocking (completion waiting) is working again which, if my theory is correct, will restore the aggregation and lower latency for which this issue was originally opened.

[2016-07-05 13:31] clandmeter commented on #4813
@behlendorf i've just test build current master and I can confirm the RUSAGE_THREAD fix as the discussion can be found here: http://www.openwall.com/lists/musl/2016/06/28/5

The posix include changes breaks my local build.

And my local build doesn't complain about zed_log.c and unistd.h so no need for me to add it.

My suggestion would be to create a separate PR for RUSAGE_THREAD from #4817 so it

[2016-07-05 19:40] pwolny commented on #4809
I have tested few modifications of the testing script.
This is the relevant part of this testing :
[code]
It seems that only second truncate/dd command has any impact on triggering of the issue.

[2016-07-05 19:58] Ralithune commented on #4358
Did this issue get resolved?

We have a customer who wants to know if spares will be automatically used in the case of degradation.

[2016-07-05 20:04] dweeezil commented on #4512
I was using a 2.6.32-573.22.1.el6 during all my previous testing to be in line with the kernel used by @olw2005.

Next, I decided to try a 4.6.3 kernel and in order to get a baseline behavior, started with current master and reverted aa159af, 5592404 and b39c22b.  The behavior described in aa159af did _not_ occur; there were no unplug timer events nor were there any ```wait_for_completion()``` cal

[2016-07-05 21:32] crollorc commented on #4512
@dweeezil We were on 3.2.0-102-generic on Ubuntu 12.04.5 for the performance problems which I described.

[2016-07-05 22:40] gregfr commented on #4701
Am I missing something obvious?

[2016-07-05 23:34] pwolny commented on #4809
Maybe someone will find this version of the script useful:
[zfs_test3.sh.txt](https://github.com/zfsonlinux/zfs/files/348819/zfs_test3.sh.txt)

It will try to create a "test_matrix_output.txt" file in "/tmp/zfs" directory (script does not create this directory).
If in this file are any "E" it means that there was a checksum mismatch between source and target  transfered snapshot.
If the matrix is

[2016-07-06 06:39] jerome-diver commented on #3461
not really, this subject is specific to 'disk removed (without want).
ZFS dev team need to have consideration about material can failed or be removed on real world, that's real situations. close here and stay the other subject is like try to not see the problem from.
A disk who be unconnected, has not to be look like a problem, because the world is not perfect and ZFS has to works in this world (a

[2016-07-06 12:30] RubenKelevra commented on #4825
I'm now fixing this issue with dd, a 1:1 copy. I learned that the 3 TB disks does 200 MB/s, so replacing two disks now takes 4 h not 15 1/2 days like zfs would need.

[2016-07-06 13:01] ironMann commented on #4789
I got my hands on `Intel(R) Xeon Phi(TM) CPU 7210` and I implemented fletcher4 on avx512f. Here are results for full checksum calculation (native) for different block sizes:
[code]

[2016-07-06 13:54] nwf commented on #3625
I'd like to suggest that there be a RAM-only queue mode for sequential resilvering, along the lines of rsync's asynchronous recursor.  Rather than traverse all the metadata blocks at once and sort all the data blocks, which is likely to be an enormous collection which must itself be serialized to disk, it might be nice for the system to use a standard in-RAM producer/consumer queue with the produc

[2016-07-06 14:14] ironMann commented on #3625
I've just started looking into this. Initially I had the same idea with RAM only solution (and it might be my first prototype), but I don't think it will be enough for larger pools. As design document in #1277 suggests there are few benefits with persisting the resilver log. I'm thinking about a solution in line with `async_destroy`, but I still have a lot to learn about zfs internals.

If somebod

[2016-07-06 17:36] bprotopopov commented on #4809
Hi, pwolny,

in the interests of clarity, can the bug be reproduced by running one version of one script with reasonable frequency, and if so, could you please publish the shortest version of such script ?

Ideally, the script would include creation and cleanup of a pool based on file vdevs. I am trying to abstract away the site specifics. To my knowledge, the original issues with partly filled ho

[2016-07-06 18:10] dweeezil commented on #4512
@olw2005 Your difference between f4943dc and 057b87c is most likely explained by the difference in synchronous operations introduced with 057b87c.  Since all your devices were listed as rotational, there will be _fewer_ synchronous writes.  Apparently the 2.6.32 EL kernels benefit from the synchronous writes by bypassing the io queue plugging.

Other kernels are likely impacted differently by this

[2016-07-06 19:19] olw2005 commented on #4512
@dweezil Playing catchup here, reading through lots of comments.  Are you suggesting trying out that patch (b39c22b)?  Would that be 0.6.5.7 + patch?  It looks pretty innocuous.  I assume that the chance of it munging my data is relatively low?  *chuckle*

About the rotational vs. non-rotational.  The config / stat dump above is from a smaller server, with all rotational disks. (No SSD SLOG / L2AR

[2016-07-06 20:06] olw2005 commented on #4512
@dweezil  @crollorc  @behlendorf  The comments above also mention / imply that the older kernel version in Centos 6 is a contributing factor.  Any thoughts on whether the somewhat-less-old Centos 7 kernel (3.10.0 + backports) might play a little nicer with 0.6.5.x?  I've been running a tiny C7 + zfs server at home on 0.6.5 for months without issue, not that I'd even notice a performance decrease g

[2016-07-06 21:02] Freeaqingme commented on #2172
Does this happen to be documented somewhere? I surely would be interested in making a kernel build that includes ZFS. If not, I can always give it some shots and document it somewhere of course... :)