[2017-07-28 20:39] paboldin commented on #3500
@behlendorf yes. We will need to discuss how you guys see the integration.

[2017-07-28 20:45] behlendorf commented on #3500
@paboldin can't we simply register a `quotactl_ops struct` with the super block at mount time?  Then use your existing implementation to add the needed handlers?  Or are there additional complications?

[2017-07-28 20:50] behlendorf commented on #3409
@uzytkownik could you try setting the module option `zfs_arc_pc_percent=100` and see if that resolves the issue.

[2017-07-28 20:50] SenH opened #6425 "zed 0.7.0 - Increased number of "Missed events""
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 12.04.5 LTS
Linux Kernel                 | 3.13.0-110-generic
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-1
SPL Version                  | zfs-0.7.0-1

### Describe the problem you'r

[2017-07-28 20:53] paboldin commented on #3500
@behlendorf IIRC, quota-tools require FSs to have a valid block device. I will take a look at this.

[2017-07-28 21:03] behlendorf commented on #6425
The warnings mean that the events generated by the ZFS kernel modules are generated faster than the ZED able to consume and process them.  This isn't harmful, but it could result in more important events such as IO/checksum errors getting missed.

The 0.7.0 release does generate additional events which were not present in 0.6.5.x, such as the command history events.  Depending on your workload you

[2017-07-28 21:12] #4843 closed

[2017-07-28 21:17] SenH commented on #6425
Indeed, it's `sysevent.fs.zfs.history_event` and in the verbose events one of `history_internal_name = "snapshot" | "set" | "destroy"`

[code]

[2017-07-28 21:21] phik commented on #6414
When I went looking for this error in the code:

...what I found suggested that the checksum "type" is an invalid value, and that it therefore didn't even know which algorithm to use to validate the checksum?

Or have I misinterpreted?

[2017-07-28 21:25] behlendorf commented on #6425
If the generation of these events is busty then increasing `/sys/module/zfs/parameters/zfs_zevent_len_max` to something large, say 10,000 might give the ZED enough time to process the backlog and be an OK workaround for now.  This will only cost you a small amount of memory.

In the past we've also talked about allowing the ZED to process events concurrently, it might be time to implement that.

I

[2017-07-28 21:28] behlendorf commented on #6414
You've got it exactly right.  The other warnings you reported show variations on similar forms of damage (unknown compression types, impossible DVAs, etc).  All of which suggest the block pointer somehow got stomped on.

[2017-07-28 21:30] phik commented on #6414
Then I don't know how to square that with your previous statement:

How can the block checksum be valid, if it doesn't know which algorithm to use to validate?

[2017-07-28 21:30] SenH commented on #6425
@behlendorf I will try out your suggestions. Thank you so much for providing assistance!

[2017-07-28 21:35] behlendorf commented on #6414
Exactly!  ZFS inherently trusts that if the checksum for a block is good, which it was, the contents of that block will be sane.  Somehow blocks were written to the pool with valid checksums and nonsense values.  That should be impossible, the only plausible way that can happen I'm aware of is due to memory corruption.  The block pointers blocks gets damaged in memory after being created but befor

[2017-07-28 21:40] phik commented on #6414
I'm still confused about how it can know that the checksum is valid if it doesn't even know which checksum algorithm was used -- but I trust you. :)

[2017-07-28 21:46] behlendorf commented on #6414
The checksum for the damaged block and it's type are stored in the parent.  The block pointer it's complained about is for one of  it's children.   :)

[2017-07-28 21:47] phik commented on #6414
Ah ha!  You've drawn the veil from my eyes.  I'm now very slightly less ignorant.  Thank you!

[2017-07-28 21:48] uzytkownik commented on #3409
@behlendorf No, at least not during operation is running. I'm rebooting the system to check.

I have an additional data point - I have zfs on lvm on mdraid. When I tried to pvmove an unrelated partition but it got stuck/hanged as well. Is it possible that Linux scheduler is in some weird state for whatever reason?

[2017-07-29 01:18] mailinglists35 commented on #6315
ubuntu 16.04 with kernel 4.10, qemu-kvm 1:2.5+dfsg-5ubuntu10.14 and libvirtd-bin 1.3.1-1ubuntu10

[code]

[2017-07-29 01:48] bunder2015 commented on #6315
test comment for irc bot please ignore

[2017-07-29 04:24] osti commented on #6420
update: vanilla from git repo seems to work; I will further investigate this evening (UTC+2).

[2017-07-29 07:32] sdm900 commented on #6414
Thanks for the insight.  How do you want the pool?  Its currently 3 x 10T raw disk images (dd of the raw device).  I suspect only ~2.1T of each disk is really in use.

[2017-07-29 16:52] MarkGavalda commented on #5226
We just encountered this issue with
Ubuntu 4.4.0-87-generic (official Ubuntu 16.04 kernel, currently the latest)
ZFS v0.6.5.10-1ubuntu2~16.04.york0

We have dozens of other machines (all on Google Cloud) running the exact same setup, this is the first occurrence:

[code]

[2017-07-29 17:50] osti commented on #6420
Sorry for all that noise: after changing nothing (yes, really...) it ... works. No idea, why.

[2017-07-29 17:50] #6420 closed

[2017-07-29 19:48] kernelOfTruth commented on #5226
Related ?

https://lkml.org/lkml/2017/3/9/401 [PATCH 1/2] blk-mq: don't complete un-started request in timeout handler

[2017-07-29 20:34] nagisa opened #6427 "Creating a QEMU VM will fail with OOM when it could use memory used by ARC"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | nixos
Distribution Version    | unstable
Linux Kernel                 | 4.12
Architecture                 | x86_64
ZFS Version                  | 0.7.0-rc4
SPL Version                  | 0.7.0-rc4

### Describe the problem you're observing

Consider a

[2017-07-29 20:45] danielkza opened #6428 "Missing /dev/zvol after upgrade to ZFS 0.7.0 in Fedora 26"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Fedora
Distribution Version    |  26
Linux Kernel                 | 4.11.11-300.fc26
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-1.fc26.x86_64
SPL Version                  | spl-0.7.0-1.fc26.x86_64

### Describe the

[2017-07-30 09:37] gmelikov commented on #6427
I have this behavior in many other scenarios too, when app needs to check free space before allocation (VM start, games textures load, etc).

[2017-07-30 17:35] LnxGnome opened #6429 "zfs-mount.service WorkingDirectory ignored (Not an absolute path)"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  CentOS
Distribution Version    |  7.3
Linux Kernel                 |  3.10.0-514.26.2
Architecture                 | x86_64
ZFS Version                  | 0.7.0-1
SPL Version                  | 0.7.0-1

### Describe the problem you're observing
Seen

[2017-07-30 17:50] voxnihil opened #6430 "zfs-0.7.0-1.el7_3.x86_64 missing /usr/share/man/man8/zpool.8.gz"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  CentOS Linux
Distribution Version    | 7.3.1611 (Core)
Linux Kernel                 | 3.10.0-514.26.2.el7.x86_64
Architecture                 | x86_64
ZFS Version                  |  0.7.0-1
SPL Version                  |  0.7.0-1

### Problem:
zfs-

[2017-07-30 17:54] loli10K commented on #6430
Likely duplicate of https://github.com/zfsonlinux/zfs/issues/6409, already fixed in https://github.com/zfsonlinux/zfs/commit/e0031d86b760c548c52cc10718c96e0aeeaa24e4.

[2017-07-30 17:56] DeHackEd commented on #6430
While true, I think it's serious enough to warrant an interim release to correct it.

[2017-07-30 18:05] loli10K commented on #6429
https://www.freedesktop.org/software/systemd/man/systemd.exec.html#WorkingDirectory=

[2017-07-30 18:06] #6430 closed

[2017-07-30 18:22] loli10K commented on #6429
This _may be_ a systemd bug introduced in https://github.com/systemd/systemd/commit/7b07e99320586fa3baf3e6cbb374f06c6ddc47d8.

@LnxGnome which systemd version is your system running?

[2017-07-30 18:24] krichter722 opened #6431 "Add systemd setup to "Ubuntu ZFS mountall FAQ and troubleshooting" wiki page"
### Describe the problem you're observing
The [Ubuntu ZFS mountall FAQ and troubleshooting](https://github.com/zfsonlinux/zfs/wiki/Ubuntu-ZFS-mountall-FAQ-and-troubleshooting) wiki page mentions the configuration involving the deprecated Ubuntu PPA and `upstart` which is no longer the default the init manager in 17.04 (maybe earlier). It'd be appreciated if that'd be differentiated in the wiki. I'

[2017-07-30 18:34] LnxGnome commented on #6429
systemd-219-30.el7_3.9.x86_64

[2017-07-30 18:52] behlendorf commented on #6430
That's the plan.  We're just delaying slightly to see if [anything else](https://github.com/zfsonlinux/zfs/projects/10) comes up we need to address.

[2017-07-30 22:31] danielkza commented on #6428
It seems there was an issue when generating the initramfs after the upgrade that caused the ZFS modules contained there to differ from the ZFS utilities versions. After a manual re-generation everything seems to be working correctly.

Any idea of what could cause such discrepancies?

[2017-07-30 22:40] bunder2015 commented on #6428
I was starting to think this was a udev problem, but I'm glad you were able to get it sorted.  FWIW, I didn't have any problems with zvols when I upgraded on gentoo.

[2017-07-30 23:11] danielkza commented on #5956
I just ran into issues like this one in Fedora 26.` /var` would constantly fail to mount due to garbage being created before it is mounted.

The best solution I could find was to set `mountpoint=legacy` for `/var` and all it's children datasets and mount them manually in /etc/fstab. But I found that the root dataset itself *cannot* have `mountpoint=legacy`, as the systemd generator explicitly adds

[2017-07-30 23:40] iamjamestl commented on #5956
@danielkza, just curious if you tried my workaround of creating a fake `/var` mountpoint in `/etc/fstab`.  Every service that writes to `/var` either either explicitly expresses that it should come after `/var` is mounted with `RequiresMountsFor=/var` or implicitly with `Requires=local-fs.target`.  Using the fake `/var` mountpoint that requires `zfs-mount.service` causes all of those services to t

[2017-07-30 23:44] danielkza commented on #5956
@iamjamestl I don't want to run `zfs-mount.service` early because I have a second non-root pool on spinning disks that takes about 1 minute to mount.

It would be really helpful if `zfs mount` could receive a pool as an argument, such that it would be possible to mount just the root pool and not all of them at once.

[2017-07-30 23:50] iamjamestl commented on #5956
@danielkza We have that.  `zpool set cachefile=none` on the pool you don't want mounted at boot.  Then you can `zpool import` it manually (or in a custom service) later on in the boot process, or whenever you want.

[2017-07-31 00:06] danielkza commented on #5956
@iamjamestl I currently have both pools with `cachefile=none`, so I had not considered using it to "gate" a pool from being mounted. But I just now realized that I can also set `canmount=noauto` on the slow pool and use a different service to mount it manually.

I'll try your approach and see how it goes.

[2017-07-31 01:23] Rudd-O commented on #5956
The robust and correct solution to all of this is to generate mount
units for all known root pool datasets that must be mounted, and later
on, let zfs-mount.service finish the job for non-root pools.  That way
everything works.

This requires a bit more legwork in the generator I wrote, which I think
I abandoned.  But it's doable.  Please, give me a hand, I'd be happy to
guide you and send commits

[2017-07-31 02:13] eggehad opened #6432 "Resilver restarts everytime zpool status command is executed"
Operational ZFS running v0.6.5.10 with 2x 18 disk VDEVs, in which I had previously completed 14 resilvers with zero issues, was upgraded this afternoon to v0.7.0
After upgrade and restart, a new resilver was started, and an hour later, I checked on the status by doing a zpool status command.  Command showed the resilver had just started.  Odd..
Waited 2 hours, did it again, again, showed the resil

[2017-07-31 02:36] uzytkownik commented on #3409
No. I run into the same problem after reboot.

[2017-07-31 04:34] danielkza commented on #5956
@Rudd-O I agree, every other way seems a bit too hacky.

I looked a bit into the current generator, and unfortunately I don't see how to easily extend it to do what we want. It runs way too early, before the pool is even imported or udev has even settled. Did you create a separate service to do the mounting? Or can we cheat a bit and manually start a "pseudo-generator" and do a `systemctl reload`

[2017-07-31 05:13] eggehad commented on #6432
I downgraded zfs-0.7.0-1 to 0.6.5.11, and when running zpool status, after the usual status header, it followed with "Aborted,"  with no drive or vdev info, which was very concerning.
So I uninstalled zfs, dkms, spl, nvidia, ... completely, and did a complete re-install to 0.7.0-1.

Problem stated above is now mysteriously gone.  Running zpool status now gives the expected results:
**************

[2017-07-31 05:37] loli10K commented on #6429
Reproduced on CentOS7, cannot reproduce on Debian8 (systemd-215-17) or Sid (sytemd-234-2).

Also the "~" character doesn't seem to be accepted too:

[code]

Sorry but this doesn't seem a ZFS bug, maybe it's better to report this to your distro maintainer?

[2017-07-31 05:46] loli10K commented on #6417
Illumos is having a similar issue: https://www.illumos.org/issues/8500 (loader: need __divmoddi4 and __udivmoddi4).

We could ship `__divmoddi4`/`__udivmoddi4` with the SPL like it was done for `__udivdi3`.

[2017-07-31 06:36] danielkza commented on #5956
It seems I've found some success by simply creating a generator that does not reside on the initramfs. It just mounts all children of the root dataset after switching to the real root, which should work exactly like the mounts came from the fstab.

@iamjamestl @Rudd-O can you guys test it out and see if it works in your systems? All it takes is placing [the generator](https://gist.github.com/danie

[2017-07-31 08:33] sempervictus commented on #1681
@behlendorf: may need to reopen it. Pulling in a pool from 0.6.5 on today's HEAD and current daily and stable Ubuntu PPAs results in:
[code]
What's the process for importing this pool at this point?

[2017-07-31 08:56] Rudd-O commented on #5956
On July 31, 2017 8:36:16 AM GMT+02:00, Daniel Miranda <notifications@github.com> wrote:

Bingo!

Will try it later today!

[2017-07-31 10:36] LnxGnome commented on #6429
Looks like that functionality was introduced into systemd @ https://github.com/systemd/systemd/commit/5f5d8eab1f2f5f5e088bc301533b3e4636de96c7 (Sep 23, 2015), which would make it part of the v227 release of systemd (Oct 7, 2015).  CentOS is on v219, so it would not be present.

[2017-07-31 13:55] Nasf-Fan commented on #5510
It seems that I hit the trouble again on zfs-0.7.0:
http://build.zfsonlinux.org/builders/Ubuntu%2014.04%20i686%20%28TEST%29/builds/3165/steps/shell_8/logs/stdio
http://build.zfsonlinux.org/builders/Ubuntu%2014.04%20i686%20%28TEST%29/builds/3165/steps/shell_8/logs/log

[2017-07-31 16:05] #5956 closed

[2017-07-31 16:08] kpande commented on #5956
I don't think this is the right place for this discussion, but your systemd generator is overly complicated when you can just 'zpool get -H -o value rootfs <pool>'

[code]

[2017-07-31 16:12] danielkza commented on #5956
@kpande Sure, I'll take it to the mailing list. But the whole point of the generator is mounting *children* datasets of the root. The bootfs property only identifies what the root is, but it is still mounted manually non-recursively by the dracut scripts.

[2017-07-31 16:16] kpande commented on #5956
sure, but it creates a big mess that must be manually maintained, whereas a simpler configuration with all system-essential directories would allow to just mount one filesystem. this helps later on when cloning the rootfs for temporary work, or rollback for undoing disastrous upgrades. booting from clone is easier with a single filesystem. anyway, it is personal preference, but not 'supported' to

[2017-07-31 17:37] behlendorf commented on #1681
@sempervictus this looks slightly different, but quite possibly related.  The first step is going to be to update the code to get the errno from the VERIFY.  Can you apply the following patch and reproduce the issue.  The VERIFY should then contain the failing errno/

[code]

[2017-07-31 17:38] behlendorf commented on #5510
Reopening so it can be investigated.

[2017-07-31 17:41] behlendorf commented on #6432
@eggehad thanks for following up.  I'm glad things are working properly as a clean install, but I agree it's troubling.  Perhaps you were running with a mismatched user and kernel packages?  Closing.

[2017-07-31 17:41] #6432 closed

[2017-07-31 17:42] behlendorf commented on #6417
Yes, that's going to be the cleanest fix.  The alternative will be invasive changes to the core ZFS code.

[2017-07-31 17:56] loli10K commented on #6429
@LnxGnome you're right, i had erroneously assumed CentOS had this functionality backported. Debian Jessie comes with systemd v215 but seems to support both "-" and "~".

[2017-07-31 18:08] behlendorf commented on #6429
Is there a simple proposed for the older versions of systemd.

[2017-07-31 18:19] LnxGnome commented on #6429
Don't set it.  "If not set, defaults to the root directory when systemd is running as a system instance..."
Since ExecStart is an absolute path, is there a reason to set it to /sbin?

[2017-07-31 19:06] sempervictus commented on #1681
@behlendorf: made the requested change, rebuilt the sources and packages, and tried to import again. Error appears to be 53.
[code]
Verified behavior occurs in Ubuntu's upstream kernel as well.

[2017-07-31 20:01] behlendorf commented on #6429
@LnxGnome this was done originally to work around some undesirable behavior in `mount(8)`, commit d32d25c5c26c8d1e254bc0fcb8a8ae059e95cebc.  We need to make sure the cwd is not root, in fact an empty directory would be best, to avoid a specific  type of mount failure.

[2017-07-31 20:33] dinatale2 opened #6434 "ztest: Uncorrectable I/O failure in mmp thread"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 17.04
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | 0.7.0 (master)
SPL Version                  | 0.7.0 (master)

### Describe the problem you're observing
`ztest`

[2017-07-31 20:41] behlendorf commented on #1681
Not being able to recover the system is to be expected once the VERIFY is hit.

Do you mean with the older 0.6.5.x version of ZFS too?  This would be expected.

The errno 52 (ECKSUM) indicates a checksum error when updating the DDT statistics.  By chance have you ever enabled deduplication on this pool?  Regardless, to get the pool imported to recover it you can use the following patch.  Apply it

[2017-07-31 22:56] williamstein commented on #4492
This is the same as https://www.illumos.org/issues/4986 and is definitely a real issue still..

[2017-07-31 23:31] jwittlincohen opened #6435 "systemd zfs.target service doesn't start on Debian Stretch with custom kmod packages"
Distribution Name       | Debian
Distribution Version    |  Stretch (9.1)
Linux Kernel                 |  4.9.30-2+deb9u2 (2017-06-26) x86_64 GNU/Linux
Architecture                 |  AMD64
ZFS Version                  | 0.7.0-1
SPL Version                  | 0.7.0-1

### Describe the problem you're observing

I followed the instructions on the [ZFS Custom Packages Wiki](https://github.com/zfsonli

[2017-07-31 23:54] #6407 closed

[2017-08-01 00:32] LnxGnome commented on #6429
Dropping the "-" is the next most straightforward solution.  /sbin should be there.
@sbindir@ might be an alternative, which from the rpm.spec is /sbin.
If you leave it as-is, then (has error, defaults to back /) doesn't that reintroduce the chance of undesirable behavior that https://github.com/zfsonlinux/zfs/commit/d32d25c5c26c8d1e254bc0fcb8a8ae059e95cebc is supposed to avoid?

[2017-08-01 01:19] #6428 closed

[2017-08-01 03:17] sdm900 commented on #6414
I've just read this again and wondered why, when this corruption is identified, isn't the previous txg used?  Continually dropping back until a sane txg is found?  Surely almost any issue should either cause the FS not to mount and allow the user to take alternative action, or drop back (as requested by the user) to a sane block?

[2017-08-01 05:59] sempervictus commented on #1681
Dedup was enabled a long time ago.
The patch above permits import of the pool, but no errors thrown in console or dmesg.
Currently sending the contents elsewhere while its imported before doing anything potentially damaging...

[2017-08-01 07:25] hoppel118 commented on #4713
Hey guys,

I am not sure about the comment and milestone from @behlendorf at 31 May 2016:

Is this issue solved with 0.7.0? When will version 0.7.0 be released for debian jessie?

I am using openmediavault3 (debian jessie) with the following zol version:

[code]

Greetings Hoppel

[2017-08-01 07:45] Lalufu commented on #6414
My guess would be that noone anticipated that this could happen, and the code to handle it isn't present.

[2017-08-01 09:08] ironMann commented on #6401
This race happens when a mutex is used for refcounting. To prevent it, [these two lines](https://github.com/zfsonlinux/spl/blob/4fd75d35af1f101ad2ab3e98220f4e52a24532f6/include/sys/mutex.h#L190-L191) should be reversed (see the comment above).
Also, the race should not occur with zfsonlinux/spl#587

[2017-08-01 09:58] matjohn2 commented on #6367
@bunder2015
Updated my build environment to alpine "edge", including `musl-1.1.16-r15`. Sadly get the same error;

[code]

[code]

[2017-08-01 11:51] bunder2015 commented on #6367
I pinged @ryao about this last week and he said he would be interested in taking a look at it, but unfortunately he's been rather busy lately.  Hopefully someone can take a look at this at some point, but musl seems to be a low priority compared to glibc. ☹️

[2017-08-01 12:36] matjohn2 commented on #6367
Thanks @bunder2015.

I understand RE priorities, thanks for the quick feedback.
I'm actually trying to create a pipeline for LinuxKit compatible ZFS/SPL modules.
The LinuxKit kernel build-environment is Alpine; Will have a look into potential alternative build env's with the LinuxKit team in the meantime.

[2017-08-01 12:39] crocket commented on #4720
I am having this problem. zed keeps using 100% of a CPU core even after reboot.
Is there a workaround?

[2017-08-01 14:29] bunder2015 commented on #6315
Just a follow-up, I changed the vm setup to using the zvol as a virtio device instead of ide/sata and was able to install OI.  This might be a configuration problem on kvm after all.

[2017-08-01 17:16] nedbass commented on #6366
Here's the line of interest from the log:

[code]

Which points to this code block:

[code]

So now we need to figure out why `dmu_object_reclaim()` or `dmu_object_claim_dnsize()` is returning an error.

[2017-08-01 17:48] connection-reset opened #6436 "zfs get -Hp reports ratios with x suffix, zpool get -Hp does not"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Arch Linux
Distribution Version    | n/a
Linux Kernel                 | 4.12.3-1-ARCH
Architecture                 | x64
ZFS Version                  | 0.7.0-1
SPL Version                  | 0.7.0-1

### Describe the problem you're observing
Ratios i

[2017-08-01 19:13] nedbass commented on #6366
@lnicola can you please provide the full output for

[code]

[2017-08-01 19:16] lnicola commented on #6366
Here:

[stream_dump.zip](https://github.com/zfsonlinux/zfs/files/1191657/stream_dump.zip)

[2017-08-01 20:22] hvisage commented on #120
okay, Debian9, 0.6.5.9, and I don't get this autoexpand going
[code]

[2017-08-01 23:28] behlendorf commented on #6414
@phik we think we've identified the root cause here and opened #6439 with a proposed fix for review.  My suggestion for the moment is to set `dnodesize=legacy` on your MDS for now as a workaround until we finalize the fix and get it merged.

Yes, this is exactly how the `zpool import -Fx` logic is implemented.  The trouble here is that the block has a valid checksum which is what ZFS uses to verif

[2017-08-01 23:40] phik commented on #6414
Innnteresting.  I definitely don't understand the internals well enough to comment on the patch, but your description would certainly seem to fit the symptom.

Thanks very much for the prompt followup!  I'll discuss your suggestion with the team ASAP.

[2017-08-01 23:58] tonyhutter commented on #6425
Fix out for review: https://github.com/zfsonlinux/zfs/pull/6440

[2017-08-02 00:03] verygreen commented on #6401
Thanks! Reverting the two lines is an effective fix for me and looking at them the current way looks to be very incorrect indeed.
So I wonder why the fix is still not included in one form or another?
Use after free are nasty bugs that manifest themselves in mysterious ways if you are not specially equipped to catch them.

[2017-08-02 00:20] behlendorf commented on #6401
It was unfortunately overlooked since it was part of a larger change.  I think the right way to move forward here would be to get a minimal fix in to the 0.7 release branch and master.  Then work on getting the larger change reviewed and merged to master.

@ironMann it would be great if you could open a PR with the minimal fix.  It sounds like @verygreen can confirm it does resolve the issue as ex

[2017-08-02 00:35] behlendorf commented on #6425
@SenH if it wouldn't be too disruptive it would be great if you could verify @tonyhutter's proposed fix in  #6440.  You could pretty easily check if you're hitting the same issue by looking for a large number of `delay` events in the `zpool events` history.

[2017-08-02 00:38] behlendorf commented on #4720
Possibly related to #6440.  By chance do you have a large number of `delay` events logged in the `zpool events` output.

[2017-08-02 00:40] crocket commented on #4720
[code]

[2017-08-02 00:40] tuxoko commented on #6401
Flipping those to line will indeed fix this, though I think you need to flip the top two lines as well. Otherwise, the lock/unlock will become unbalanced in lockdep.

[2017-08-02 07:25] sempervictus commented on #1681
So it appears that mounting a large dataset which had dedup enabled prior causes this error, not the actual pool import (imported -N did a manual mount, got this fine mess):
[code]
Trying to send it remotely fails as well, the send stops, gives me a resume hash, and when i try to resume with it i get:
[code]
Thoughts?

[2017-08-02 07:45] zviratko commented on #5699
I just hit this issue as well.
What is the fix for this?
I upgraded the sending side to 0.7.0 and re-run zfs send/receive and now I have two zfs receive processes stuck on my storage. I can't upgrade the receiving side.

Is there anything to at least kill those processes? Will they ever finish?

[2017-08-02 07:46] nfinformatique commented on #5699
Bonjour,

 J'ai bien reçu votre message, qui sera traité rapidement.

 Veuillez néanmoins noter que l'adresse nfrey@nfinformatique.ch sera bientôt désactivée. Vous devriez donc modifier votre carnet d'adresse pour la nouvelle adresse nfrey@seculting.ch.

 Je vous souhaite une excellente journée

 Cordialement

 Nicolas Frey

[2017-08-02 09:40] kkretschmer opened #6443 "dracut module does not install all dependencies of vdev_id"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | 2017-08-01
Linux Kernel                 | 4.9.34-gentoo
Architecture                 | x86_64
ZFS Version                  | v0.7.0-r0-gentoo
SPL Version                  | v0.7.0-r0-gentoo

### Describe the problem y

[2017-08-02 14:53] SenH commented on #6425
@behlendorf After #6440 I do not have `Missed events` in syslog anymore but I'm not seeing `delay` events either.
[code]

[2017-08-02 15:42] SenH opened #6444 "zpool events scripted mode not using tab separator"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 12.04.5 LTS
Linux Kernel                 | 3.13.0-110-generic
Architecture                 | x86_64
ZFS Version                  | 0.7.0-8_gaf0f84288
SPL Version                  | 0.7.0-1_geed143d

### Describe the pr

[2017-08-02 15:50] behlendorf commented on #6425
Great.  That's exactly what we'd expect, thanks.

[2017-08-02 15:59] dinatale2 opened #6446 "Test case: rsend_020_pos | rsend_021_pos"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | All
Distribution Version    | All
Linux Kernel                 | All
Architecture                 | All
ZFS Version                  | 0.7.0 (master)
SPL Version                  | 0.7.0 (master)

### Describe the problem you're observing
`rsend_020_

[2017-08-02 16:08] #6425 closed

[2017-08-02 16:11] behlendorf commented on #6443
Thanks for the detailed issue, it would be great to get a PR opened with a proposed fix for review.  Let's get @Rudd-O thoughts on this as well.

[2017-08-02 17:50] ironMann commented on #6401
@verygreen kudos for finding this, also for the intro to `debug_pagealloc`. I would appreciate if you give the zfsonlinux/spl#637 a try.

@tuxoko I believe you're right 👍

[2017-08-02 19:13] sempervictus opened #6447 "Attempting to export pool with its opaquely underlying media removed breaks ZFS systemwide"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Arch
Distribution Version    | Current
Linux Kernel                 | 4.9.39
Architecture                 | x64
ZFS Version                  | master + crypto
SPL Version                  | master + crypto

### Describe the problem you're observing

[2017-08-02 19:18] kpande commented on #6447
this is a duplicate issue where a single disk vdev can not be unloaded from memory, @dweeezil had some work done on this.

[2017-08-02 21:26] sempervictus commented on #6447
The backing volume for the vdev does "exist" though - there's a DM volume still in-kernel, so while the physical device backing DM is gone, ZFS has no way to know that. Its a good illustration for why ZFS is both an FS and a vol manager - blockdev jenga can get confusing.

[2017-08-02 22:04] tonyhutter commented on #4720
@crocket which disto/kernel/zfs version are you using?

[2017-08-02 22:19] gaurkuma commented on #6230
Will be useful to see output of cat /proc/buddyinfo as well. We have seen cases where GBs of memory is available but still high rate of reclaiming because contiguous chunks of physical memory is not available.

[2017-08-02 22:31] crocket commented on #4720
Gentoo Linux

[code]

sys-fs/zfs-0.7.0
sys-fs/zfs-kmod-0.7.0
sys-kernel/spl-0.7.0

[2017-08-02 23:00] behlendorf commented on #1256
To build on @tonyhutter's [previous comment](https://github.com/zfsonlinux/zfs/issues/1256#issuecomment-317913624) I wanted to expand on why failed speculative IOs are not counted in the `zpool status` output.

For performance reasons these IOs  bypass the normal interlocks in the ZFS pipeline.  This means that's it possible they can fail with a checksum error, for example if a file is removed and

[2017-08-02 23:16] tonyhutter commented on #4720
@crocket thanks.  Can you also run the following commands when zed is at 100%?

[code]
I'd also like to see the strace output from this when you get the "Bad file descriptor" error:
[code]
I'm curious if it matches https://github.com/zfsonlinux/zfs/issues/4720#issuecomment-245410201

Please post the output in an attachment if it's really long.

[2017-08-02 23:40] crocket commented on #4720
[code]

[code]

`sudo strace -p $ZPID` keeps spitting out `ioctl(6, _IOC(0, 0x5a, 0x81, 0), 0x7ffdeb81e7c0) = -1 EBADF (Bad file descriptor)`.

[strace-zpool-events.txt](https://github.com/zfsonlinux/zfs/files/1195561/strace-zpool-events.txt) is the output of `sudo strace zpool events`.

[2017-08-03 00:49] tonyhutter commented on #4720
Looks like it's the same issue as https://github.com/zfsonlinux/zfs/issues/4720#issuecomment-245410201 in that `zed` or `zpool events` is trying to do a `ioctl(ZFS_IOC_EVENTS_NEXT)` which is returning `EBADF`.  From the strace, it doesn't look like a double close() issue.  I can see a possible codepath that could give us `EBADF` from zfs:
[code]
https://github.com/zfsonlinux/zfs/blob/master/module

[2017-08-03 03:43] #6401 closed

[2017-08-03 04:33] crocket commented on #4720
I applied the patch to `sys-fs/zfs-kmod` which includes kernel modules and rebooted.

`zpool events` printed nothing on dmesg.

[2017-08-03 04:36] eggehad commented on #6432
Turns out this *IS* a problem.  After that drive finished resilvering, which by the way, was the longest resilver time I have ever had, I started a new one.  This new resilver has exactly the same problem, everytime I run zpool status, a long pause ensues, and the resilvering process restarts.   Also notice the magic 0.35% completion, which shows up even though just a minute earlier the percentage

[2017-08-03 05:13] #6063 closed

[2017-08-03 08:02] Rudd-O commented on #5956
I think it should be supported and I believe the generator approach is the correct one because it prevents junk from appearing in /var prior to the mounting of /var.

[2017-08-03 14:42] quentinleburel opened #6453 "Read performance in 0.7.0"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 7.3
Linux Kernel                 | 3.10.0-514.26.2.el7
Architecture                 | x86_64
ZFS Version                  | 0.7.0-1
SPL Version                  | 0.7.0-1

### Describe the problem you're observing
Read

[2017-08-03 15:29] iamjamestl commented on #5956
Agree, it should be supported and a systemd generator is the right solution.  `/var` as a separate dataset is a supported configuration on Solaris 10 and 11 (an installation option, even), and it's a supported configuration using normal filesystems under systemd--RHEL 7 notably supports this configuration with LVM and XFS.  It is desirable on production systems to prevent the constantly changing a

[2017-08-03 15:31] eniac111 commented on #3512
Is there a something new about the problem?

[2017-08-03 16:43] #6436 closed

[2017-08-03 16:56] #6444 closed

[2017-08-03 17:41] #6417 closed

[2017-08-03 17:45] redmop opened #6455 "Kernel hang on reboot with other mounted filesystems"
I have /boot and /boot/efi mounted in fstab, and if I reboot or halt the server while they are mounted, the kernel hangs right before finishing the shutdown. If I "umount /boot/efi /boot" then restart, it works perfectly. This does not happen with the same install not on zfs.

### System information
Type                                | Version/Name
  ---                                  |     ---

[2017-08-03 17:48] kpande commented on #6455
can you try to use [the zfs-discuss mailing list](http://list.zfsonlinux.org) for initial diagnosis before opening the issue? thank you!

[2017-08-03 17:48] redmop commented on #6455
Sure.

[2017-08-03 18:53] Rudd-O commented on #6443
LGTM.

[2017-08-03 19:02] loli10K commented on #6315
@bunder2015 is this a debug build of ZFS? If not, could you please try to reproduce this with debugging enabled? Thanks.

This may just be a duplicate of https://github.com/zfsonlinux/zfs/issues/6238.

[2017-08-03 19:05] bunder2015 commented on #6315
I'm afraid the EFI partition on my laptop is too small to enable debugging and use stub booting at the same time.  I can possibly try again after we get openzfs 7446.

[2017-08-03 19:11] loli10K commented on #6315
@bunder2015 just to be clear i was talking about the `--enable-debug` option in the `./configure` script, not custom `-OX -g` CFLAGS.

[2017-08-03 19:18] Rudd-O commented on #5956
Here's what I would think is the pie-in-the-sky ideal solution:

* A generator that generates mount units for all mountable datasets that have a mountpoint property and are set to canmount.  That is to say, all datasets that `zfs mount` would mount.  As luck would have it, mount units get the necessary automatic dependencies to be ordered properly, thus things like `/usr` and `/var` can be mounted

[2017-08-03 19:24] aasraoui opened #6456 "Unable to run zfs command lines under zfs revision 0.7"
we have installed zfs 0.7 via DKMS and don't seem to have the cli in this version:
installed software release:
dkms status
lustre, 2.10.0, 3.10.0-514.21.1.el7_lustre.x86_64, x86_64: installed
spl, 0.7.0, 3.10.0-514.21.1.el7_lustre.x86_64, x86_64: installed
zfs, 0.7.0, 3.10.0-514.21.1.el7_lustre.x86_64, x86_64: installed

e.g missing clis:

 zpool list
-bash: zpool: command not found

thanks,
AA

[2017-08-03 19:28] bunder2015 commented on #6315
I only have 8MB to fit a kernel into, and with --enable-debug the zfs/spl modules come out to about 4.5MB (before compression).  The kernel itself is 5MB compressed, when I switched to stub booting I tried to shave off as much as I could but found myself about 300KB too large.

[2017-08-03 19:30] #6456 closed

[2017-08-03 19:30] kpande commented on #6456
this is a configuration issue and as such is better suited for [the zfs-discuss mailing list](http://list.zfsonlinux.org)

[2017-08-03 21:02] tonyhutter commented on #4720
Thanks, I'm going to setup a VM to see if I can reproduce this.

[2017-08-04 01:00] danielkza commented on #5956
That's what I attempted to achieve with the generator I posted earlier, did you have a chance to test it?

That indeed is the most robust approach IMO.

That's is fortunately how generators are always set up. They are executed very early when systemd starts or re-execs (such as after pivoting root), while the units actually generated can get started much later.

I believe systemd itself requires t

[2017-08-04 03:04] wangdbang commented on #6356
I verified it on zfs 0.7.0 release version, it was fixed, marks resolved.

[2017-08-04 03:09] wangdbang opened #6458 "zfs 0.7.0 release version created pool failed with libudev-147"
Hi all，

    I tested zfs 0.7.0 release version with libudev-147, and sure it used libudev,
When i tested it with command "zpool create -f pool00 raidz sdb sdc sdd sde" to create a pool,
it failed with "cannot label 'sdb': failed to detect device partitions on '/dev/sdb1': 19",
I read the code, and guess that caused by the udev related functions, am i right?
which version of libudev should use?

[2017-08-04 04:21] ITWOI opened #6459 "Potential data races when accessing variable di.zerr in function zfs_show_diffs"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |
Distribution Version    |
Linux Kernel                 |
Architecture                 |
ZFS Version                  |  master branch
SPL Version                  |  master branch

### Describe the problem you're observing
Hi all,

Our bug scanner ha

[2017-08-04 04:35] loli10K commented on #6315
@bunder2015 if you're still willing to test this we can make this happen by changing this single ASSERT to VERIFY in `dbuf_unoverride()`.

[code]

[2017-08-04 04:57] loli10K commented on #6356
Somehow i doubt that this was fixed, but as per reporter comment marking resolved: we can continue investigating this in the context of the other issues.

[2017-08-04 04:57] #6356 closed

[2017-08-04 10:52] devZer0 opened #6460 "zfs 0.7.0 centos package is missing manpages"
for example, i am missing the zpool manpage in zfs 0.7.0 centos package. where has it gone ?

[root@backupvm1 ~]# rpm -q -a |grep zfs-
zfs-dkms-0.6.5.9-1.el7.centos.noarch
zfs-release-1-3.el7.centos.noarch
zfs-0.6.5.9-1.el7.centos.x86_64

[root@backupvm1 ~]# rpm -q -i zfs
Name        : zfs
Version     : 0.6.5.9
Release     : 1.el7.centos
Architecture: x86_64
Install Date: Mi 08 Feb 2017 14:50:09 C

[2017-08-04 10:54] bunder2015 commented on #6460
When did you install it?  I was under the impression that this was fixed in https://github.com/zfsonlinux/zfs/commit/0f69f42b43637548bec225ed25fa71b032de114e

[2017-08-04 10:55] gmelikov commented on #6460
closed as duplicate of #6409, please read contribution guidelines next time.

[2017-08-04 10:55] #6460 closed

[2017-08-04 13:29] devZer0 opened #6462 "zfs send size estimation apparently inaccurate"
see https://github.com/jimsalterjrs/sanoid/issues/122#issuecomment-320231908 , is that problem solvable zfs upstream ?

it`s very dissatisfying to have a zfs sync tool report "i`m at 53%" and then be suddenly finish or it is trespassing 100% and then needs for another >200% to finish.

know that from windows progress bars....and it sucks....

[2017-08-04 13:49] devZer0 commented on #6460
i reinstalled today

[root@rx300-1 var]# rpm -q -i zfs
Name        : zfs
Version     : 0.7.0
Release     : 1.el7_3
Architecture: x86_64
Install Date: Fr 04 Aug 2017 12:33:28 CEST
Group       : System Environment/Kernel
Size        : 1029322
License     : CDDL
Signature   : RSA/SHA256, Mi 26 Jul 2017 20:02:17 CEST, Key ID a9d5a1c0f14ab620
Source RPM  : zfs-0.7.0-1.el7_3.src.rpm
Build Date  : Mi 26

[2017-08-04 13:52] devZer0 commented on #6409
i reinstalled via yum on centos today, but the issue remains - maybe the build in the yum repo has not been updated!?

[root@rx300-1 var]# rpm -q -i zfs
Name        : zfs
Version     : 0.7.0
Release     : 1.el7_3
Architecture: x86_64
Install Date: Fr 04 Aug 2017 12:33:28 CEST
Group       : System Environment/Kernel
Size        : 1029322
License     : CDDL
Signature   : RSA/SHA256, Mi 26 Jul 2017 2

[2017-08-04 15:06] #6462 closed

[2017-08-04 15:07] kpande commented on #6462
did you read `CONTRIBUTING.md` or even the template you seemingly completely ignored before submitting the issue? this is a question better asked on [the zfs-discuss mailing list](http://list.zfsonlinux.org).

[2017-08-04 16:51] YFLOPS commented on #6332
I just hit this as well.  I'm testing ZFS and Lustre to see if I can upgrade, with this pointing to 'no'.

ZFS: 0.7.0-1
Lustre: 2.10.0-1
OS: CentOS 7.3.1611
Kernel: 3.10.0-514.26.1.el7.x86_64

Test:  Mounted Lustre on single remote client.  Ran both 'fio' and 'mdtest' concurrently in 2 loops.

fio --size=200G --rw=rw --bs=128k --numjobs=16 --iodepth=16 --ioengine=libaio --direct=0 --invalidate=1 -

[2017-08-04 16:52] YFLOPS commented on #6332
Looks liek it cut my pool information:

ZFS -

`
# zfs get all
NAME         PROPERTY              VALUE                  SOURCE
mdtpool      type                  filesystem             -
mdtpool      creation              Thu Jul 27 11:26 2017  -
mdtpool      used                  201G                   -
mdtpool      available             7.18T                  -
mdtpool      referenced

[2017-08-04 16:53] behlendorf commented on #6409
The CentOS package should get an update early next week with this fix and a few others.

[2017-08-04 18:14] #6443 closed

[2017-08-04 18:15] YFLOPS commented on #6332
Rebooted and got the same error with just the mdtest loop, do not get the error with the 'ior' loops.

[2017-08-04 19:42] jxiong opened #6464 "zdb fails to locate datasets within exporting zfs pool with '-e -p' options"
zdb prior to zfs 0.7.0 is able to get information of a dataset in zfs pool by '-e -p' as following:

```zdb -e -p /tmp -u lustre-ost1/ost1```

where 'ost1' is a dataset within zfs pool 'lustre-ost1'.

The information of zfs pool is as follows:
[code]

it doesn't work any more in zfs 0.7.0:
[code]
However, it works to check zfs pool directly:
[code]
The workaround solution seems to add the zfs pool

[2017-08-04 21:04] jxiong commented on #6464
Update: the workaround solution of setting cachefile doesn't work on a physical device:

[code]

@nedbass @ofaaland probably the new feature MMP stopped it from accessing the dataset.

[2017-08-04 21:53] jspiros commented on #6332
@YFLOPS You may be running into a different issue than me, as although the panic is occurring in the same place, the contents of sa.sa_magic in my case are clearly UNIX timestamps which points to a possible SA upgrade issue, but I don't think that's necessarily true for your case. You may have more luck getting help if you creating a new issue for it, especially if you note that you're using 0.7.0

[2017-08-05 01:13] ofaaland commented on #6464
Yep, this is not intentional.  I'll take a look; thank you.

[2017-08-05 06:21] RNCTX opened #6466 "panic on boot to root pool"
Hey guys, I'm not sure if this is remotely possible but I gave it a shot...

I have a ZFS pool from another machine (BSD, filesystem v5000) that seemingly imports and works normally from a Ubuntu live disk, so I tried following the guide on here to boot from it (after installing 16.04 in a chroot per the guide). I wiped out the BSD-specific datasets and created new ones for Ubuntu per the guide.

[2017-08-05 06:52] gmelikov commented on #6466
It doesn't look like panic, maybe misconfiguration?

Support questions should be asked at our mailing lists.

And next time don't just ignore and delete issue template, thanks, closed.

[2017-08-05 06:52] #6466 closed

[2017-08-05 14:35] Lalufu opened #6467 "-dmks RPM packages require ksh in 0.7.0"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Fedora
Distribution Version    | 25
Linux Kernel                 | 4.11.5
Architecture                 | x86_64
ZFS Version                  | 0.7.0
SPL Version                  | 0.7.0

### Describe the problem you're observing
Installing the 0.7.0

[2017-08-05 18:45] gg7 opened #6468 "NULL pointer dereference in taskq_dispatch"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | N/A
Linux Kernel                 | 4.11.9 (vanilla)
Architecture                 | x86_64
ZFS Version                  | 0.6.5.11-r0-gentoo
SPL Version                  | 0.6.5.11-r0-gentoo

[code]

The zpool consists

[2017-08-05 18:52] 0xFelix commented on #4713
Hey,

I'm also still having the same problems like @hoppel118.

@behlendorf: Is there any progress for the solution mentioned in https://github.com/zfsonlinux/zfs/issues/4713#issuecomment-222776312 ?

The errors in the kernel log and the constant CHECKSUM errors I'm getting are rather frightening.

[2017-08-05 20:07] peachpine commented on #6366
The same thing happened to me today.

I use zsnap script to take daily snapshots, and then send them to a backup dataset using a replication datastream like so:
zfs send -RI pool/home/me@zsnap_daily-2017.AUG.03-14:00 pool/home/me@zsnap_daily-2017.AUG.05-15:32 | zfs receive -uvF backpool/home/me

I decided to upgrade my pools today and set dnodesize=auto for all of them; after that today's snapshot

[2017-08-05 20:20] lnicola commented on #6366
Looking at https://github.com/zfsonlinux/zfs/issues/6414 I wonder if we should set `dnodesize` to `legacy`.

[2017-08-05 20:34] nedbass commented on #6366
Looking at #6414<https://github.com/zfsonlinux/zfs/issues/6414> I wonder if we should set dnodesize to legacy

I think that would be prudent until we get a fix for #6414 in place. We expect to have a new point release out with a fix in the next few days.

[2017-08-05 20:35] peachpine commented on #6366
I noticed on one of my other datasets that setting dnodesize to legacy (after having it set to auto) doesn't revert large dnodes that were created while it was turned on, so your data might still be tainted with bad dnodes that cause an invalid backup stream.

I don't know what to do now; I don't want to revert to five hours ago before I turned this on but I also want to be able to run my backup s

[2017-08-05 20:40] lnicola commented on #6366
What's interesting is that the filesystem itself is fine -- or was last time I sent it in full -- while the snapshots are not.

[2017-08-05 20:53] nedbass commented on #6366
@peachpine you said deleting the latest snapshot, setting dnodesize=legacy, and making a new snapshot allowed the incremental replication stream to start working again. In that case you shouldn't need to revert your dataset, unless I'm misunderstanding something.

[2017-08-05 23:58] gg7 commented on #6468
Unable to reproduce after rebooting and switching to 4.12.4.

[2017-08-06 03:25] eggehad opened #6469 "Resilver broken in v0.7.0-1"
This relates back to issue #6432, which has also been updated with new information.

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Fedora
Distribution Version    |  25
Linux Kernel                 | 4.11.12-200.fc25.x86_64
Architecture                 |  X86_64
ZFS Version                  |  0.7.0-1
SPL Version

[2017-08-06 13:09] ironMann commented on #6469
@eggehad info on installing:
Make sure you [install](https://github.com/zfsonlinux/zfs/wiki/Fedora) all corresponding userspace libraries as well:
[code]
Always use matching userspace and kernel packages.

[2017-08-06 13:37] ironMann commented on #6278
@trenb I'm curious if setting the `zvol_threads` parameter to something smaller, like 4, would yield similar benefit while using the master or the 0.7 branch. The parameter must be provided during loading of the zfs module.

[2017-08-06 15:44] ssergiienko commented on #6413
Hope this could be useful to mention that the issue is not only about kABI-tracking kmod and DKMS-style is affected too. Upgrading my system ZFS 0.6 -> 0.7 always make it unbootable and executing `dracut -f` after upgrade fixes the problem.
Error during boot (import pool) is:
[code]

[2017-08-06 18:36] kheaactua commented on #6222
I have the same issue.  In fact, nothing even seems to exist even at the `epel` base directory at  `http://download.zfsonlinux.org/epel/`

[2017-08-07 00:54] koalaeagle opened #6471 "Unable to mount datasets due to error 17 (cannot mount due to Invalid argument)"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Arch
Distribution Version    | Rolling
Linux Kernel                 | 4.12.3-1-vfio #1 SMP PREEMPT Sun Jul 30 16:04:48 UTC 2017 x86_64 GNU/Linux
Architecture                 | x86_64
ZFS Version                  | 0.7.0-rc4
SPL Version

[2017-08-07 01:44] spacelama commented on #6317
root@weinberg:/home/tconnors# uname -a
Linux weinberg 4.9.0-3-amd64 #1 SMP Debian 4.9.30-1 (2017-06-04) x86_64 GNU/Linux
root@weinberg:/home/tconnors# ps auxww | grep zfs
root     22126  0.0  0.0  63544  2408 pts/10   S+   Aug04   0:00 sudo env PUSER=tconnors bash --login -c  zfs receive tank8TBext/backuppc@20170729
root     22127 13.3  0.0  35248  2216 pts/10   D+   Aug04 539:53 zfs receive tank8

[2017-08-07 01:54] sdm900 commented on #6414
FWIW we just got this panic again on a 0.7.0-rc system

[375528.898326] PANIC: blkptr at ffff881785cfc440 has invalid CHECKSUM 0
[375528.906484] Showing stack for process 221
[375528.912237] CPU: 3 PID: 221 Comm: spl_system_task Tainted: P OE ------------ 3.10.0-514.6.1.el7.x86_64 #1
[375528.924617] Hardware name: GIGABYTE D120-C21/MC20-S10, BIOS F02 05/19/2016
[375528.933127] 0000000000000003 000

[2017-08-07 03:13] sdm900 commented on #6414
Rebooted just fine.

[2017-08-07 05:38] rottegift commented on #6224
FWIW, although it says above that there is a cross-platform that reproduces on Illumos, @lundman notes that it hasn't made the slack and wonders if @ahrens has seen this.

(Reproduces in openzfsonosx too, and annoyingly I have a few affected files in backups that thankfully I haven't had to restore from.)

[2017-08-07 08:52] quentinleburel commented on #6453
just tried the latest master branch and getting the same results.

[2017-08-07 08:53] mcr-ksh opened #6472 "memmove crashdump zcommon"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04LTS
Linux Kernel                 | 4.4.0-77-generic #98-Ubuntu SMP Wed Apr 26 08:34:02 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Architecture                 | x86_64
ZFS Version                  | 0.6.5.10-1ubuntu2

[2017-08-07 09:58] omgold opened #6473 "Shared spares do not honor multihost parameter"
### System information
ZFS Version                  | 0.7.0
SPL Version                  | 0.7.0

### Describe the problem you're observing

When using hotspares which are shared between pool, and both pools have set multihost=on, it is still possible to activate the hotspare on both pools at the same time.

### Describe how to reproduce the problem

- use a system with disks shared between two se

[2017-08-07 10:46] zviratko commented on #6427
I hit this recently as well, I had to decrease zfs_arc_max, spawn the VM and then increase it back again.
This is because ZFS doesn't use the same cache as other filesystems do, but has it's own (in SPL?) which allocates memory on the side.
Would be nice to be able to reclaim ARC memory in the same way, though...

[2017-08-07 14:38] YFLOPS opened #6474 "Panic - PANIC at zfs_vfsops.c:583:zfs_space_delta_cb()"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  CentOS
Distribution Version    |  7.3.1611
Linux Kernel                 |  3.10.0-514.26.1.el7.x86_64
Architecture                 |  x86_64
ZFS Version                  | 0.7.0-1
SPL Version                  | 0.7.0-1

### Describe the problem you'

[2017-08-07 15:22] dinatale2 commented on #6474
@YFLOPS are you able to provide the call stacks that you're seeing?

[2017-08-07 15:47] thewacokid commented on #6473
This seems like expected behavior; "-f" forces the safety checks to be ignored.

If you can cause a simultaneous replacement that ends up with the disk imported into both pools that would indeed be a bug, but this very much feels like expected behavior unless I've completely misread the problem.

[2017-08-07 15:49] YFLOPS commented on #6474
Yeah.  i provided them before and it showed when I submitted the ticket.  Not after the refresh.  Odd.

[code]

[2017-08-07 15:51] thewacokid commented on #6469
Sounds like something in your system is mixed up, I've had no problems with resilvering on 0.7.0-1 and it seems to be quite a bit faster than 0.6.5.X in initial testing.

[2017-08-07 16:03] behlendorf commented on #6414
@sdm900 the exact issue reported here was introduced in 0.7.0-rc5 and will be fixed in 0.7.1.

[2017-08-07 18:08] trenb commented on #6278
@ironMann I will give that a shot this week and update with the results. Thanks!

[2017-08-07 19:55] kyrias commented on #6171
I'm experiencing the same with

* ZFS: 0.7.0_r14_gd19a6d5c8-1
* SPL: 0.7.0_r7_gcce83ba-1

[2017-08-07 20:07] tonyhutter commented on #4720
I'm able to reproduce this on a ubuntu 14.04 by building/installing 0.6.5.11 deb packages (possibly overwriting a previous zfs install in the process).  I'm still looking into it.

@crocket do you see any warnings in dmesg when you first `modprobe zfs`?  I'm seeing this from SPL:
[code]

[2017-08-07 21:32] ofaaland commented on #6473
@omgold, you are correct that multihost does not provide protection in this scenario.  It provides protection only during attempted import.  Import was chosen because it is such a frequent operation, and because we know of actual cases where users destroyed their pools in failover scenarios, where their fencing mechanism failed.

There are several other operations that risk the same device being u

[2017-08-07 23:58] sdm900 commented on #6414
That concerns me a little.

[2017-08-08 00:12] crocket commented on #4720
I don't see `PANIC` in dmesg.

[dmesg.txt](https://github.com/zfsonlinux/zfs/files/1206494/dmesg.txt)

[2017-08-08 00:23] ofaaland commented on #6474
@YFLOPS , can you provde the Lustre version as well?  Thanks.

[2017-08-08 01:01] tonyhutter commented on #4720
@croket ok, maybe you're not hitting that error, or you're building without `--with-debug` when you build spl (which is fine).

Overall, I think the problem may be caused by complications from upgrading from one version of zfs packages to another.  Maybe slightly mismatched versions of zpool & zfs.ko.  I don't have any conclusive proof, but I was able to fix my broken ubuntu VM by doing the follow

[2017-08-08 03:21] crocket commented on #4720
Since I'm on gentoo, I can just enable `debug` USE flag in packages and reinstall them.

Shall I compile `spl` and `zfs` with `debug` flag and post `dmesg` output again?

[2017-08-08 08:15] crocket commented on #4720
After reinstalling zfs, zfs-kmod, and spl with `debug` USE flag, `zed` doesn't consume CPU time.
Thus, I reinstalled zfs, zfs-kmod, and spl without `debug` USE flag, and `zed` still doesn't consume CPU time.

Now, `zpool events` works fine.

[code]

Thus, I can say this issue is solved.

However, I encountered a new issue.

Now, it takes ~36 seconds to import `os` ZFS pool during boot. `os` pool c

[2017-08-08 08:48] crocket opened #6475 "It takes ~36 seconds to import zfs root filesystem during boot."
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Linux Kernel                 | 4.9.34-gentoo
Architecture                 | x86_64
ZFS Version                  | 0.7.0-r0-gentoo
SPL Version                  | 0.7.0-r0-gentoo

### Describe the problem you're observing

It takes ~36 seconds t

[2017-08-08 09:27] bendikro opened #6476 "Problems getting kdump to work with ZFS"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04
Linux Kernel                 | 4.4.0
Architecture                 | x86
ZFS Version                  | 0.6.5.6-0ubuntu16
SPL Version                  | 0.6.5.6-0ubuntu4

### Describe the problem you're observing

[2017-08-08 09:37] megajocke commented on #6258
I followed these instructions roughly when installing my Xenial-on-ZFS box.
https://github.com/zfsonlinux/zfs/wiki/Ubuntu-16.04-Root-on-ZFS

It seems that this step assumes $PWD is /dev (running `cd /dev` before would also work).
I think I probably used the same command as you.

It would be a good idea to change the instruction to use the absolute path as you suggest.

[2017-08-08 11:41] gmelikov commented on #3993
Please try latest release, closed as stale.

[2017-08-08 11:41] #3993 closed

[2017-08-08 12:35] bunder2015 commented on #6475
It might be useful to know your pool geometry, but ultimately I believe that this is a genkernel bug, not a zfs one.  It is my understanding that dracut doesn't have this problem.

[2017-08-08 12:48] crocket commented on #6475
[code]

[2017-08-08 15:39] #6414 closed

[2017-08-08 15:44] behlendorf commented on #6258
@rlaager could you look at this.

[2017-08-08 16:03] tonyhutter commented on #4720
@crocket good to hear `zpool events` is working for you again.  If anyone else hits this issue, please do a clean uninstall and reinstall zfs & spl, and see if that fixes it.

Closing issue.

[2017-08-08 16:03] #4720 closed

[2017-08-08 16:20] flynnjFIU opened #6478 "Kernel panic in ZFS when running qemu-img info on a disk image in a ZFS snapshot"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 6
Linux Kernel                 | 2.6.32-696.1.1.el6.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.0-1
SPL Version                  | 0.7.0-1

### Describe the problem you're observing

[2017-08-08 16:45] kpande commented on #6475
please re-open this when the gentoo bug is resolved, assuming that there is a zol bug then.

[2017-08-08 16:45] #6475 closed

[2017-08-08 16:46] kpande commented on #6475
as another note, the [zfs-discuss mailing list](http://list.zfsonlinux.org) is a great place to discuss the issue with other users to see if someone has the same problem, or a workaround.

[2017-08-08 16:48] kpande commented on #6471
reverting #6398 fixes this issue.

[2017-08-08 16:59] loli10K commented on #6471
According to the issue description this bug occurs with zfs-0.7.0-rc4 which doesn't even include that commit.

[2017-08-08 17:20] behlendorf commented on #6476
My suggestion would be to start here and try and determine what exactly is going wrong.  My understanding of kdump is that it doesn't require any special support from the filesystem.  So I'd expect it to work with ZFS, it may be a case of updating the scripts to be aware that ZFS is a valid kdump target.

If it does turn out this is failing because of missing functionality in ZFS, as a wild guess

[2017-08-08 17:44] YFLOPS commented on #6474
Lustre is 2.10.0-1

[2017-08-08 17:55] bennabiy opened #6480 "zfs not importing zvol from illumos based zfs"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu-Mate
Distribution Version    | 16.04.3
Linux Kernel                 | 4.6.4-040604-generic
Architecture                 | amd64
ZFS Version                  | 0.6.5.7-1
SPL Version                  | 0.6.5.7-1

### Describe the problem you're

[2017-08-08 18:56] bennabiy commented on #6317
This is similar to what I experience, but I have not managed to get mine unstuck. It just freezes.

[2017-08-08 19:47] ironMann commented on #6453
@quentinleburel A wild guess: could you repeat the test with zfs module option `zfs_abd_scatter_enabled=0`? This is by no means the recommended option, but it might tell us where to look.

[2017-08-08 20:04] dinatale2 commented on #6474
@YFLOPS Thank you for the extra information. I suspect from the call stack and since you have `dnodesize=auto` set on `mdtpool`, that you might be hitting a different side effect of #6414.

We recently committed a fix to the 0.7.0-release branch. I suggest you build new spl and zfs packages from the 0.7.0-release branches. Install those and see if the issue clears up.

[2017-08-08 20:14] tuomari commented on #6385
My scrub finally finished, and it seems that it has no effect on this bug. I still hit this at least few times a day.

[2017-08-08 20:30] serg-ku commented on #6469
Sounds similar to my issue #6156 , what do you see in zpool events ? offlining device not helping resilver to finish, only zfs reinstall?

[2017-08-08 20:46] #5985 closed

[2017-08-09 00:28] gdevenyi opened #6482 "Plans for packaging 0.7.x for Ubuntu?"
Will there be another ppa or updates to the existing one for the 0.7.x series?

[2017-08-09 01:03] DeHackEd commented on #6482
You'll have to ask Ubuntu. They package that stuff.

[2017-08-09 01:04] gdevenyi commented on #6482
They don't package the existing ppa, that's zfs on linux

[2017-08-09 06:04] gmelikov commented on #6480
First we need information about SmartOS version.

The main advise is to try with latest version - 0.6.5.11 or 0.7. 0.6.5.7 may have problems with recv from newer openZFS versions.

[2017-08-09 06:10] rlaager commented on #6258
@megajocke This has nothing to do with $PWD. A relative symlink is relative to its own directory, not the process's CWD. For example:
[code]

@ScottHaney I'm not entirely sure if this is necessary, but I don't see how the absolute path is any worse. So I made the change.

[2017-08-09 06:10] #6258 closed

[2017-08-09 06:20] gmelikov commented on #6482
Please ask such questions on Ubuntu PPA page https://launchpad.net/~zfs-native , this is not a support forum, next time please read contribution guidelines https://github.com/zfsonlinux/zfs/blob/master/.github/CONTRIBUTING.md and don't just remove issue template.

[2017-08-09 06:20] #6482 closed

[2017-08-09 09:18] luofeiyu opened #6483 "could not insert 'zfs': Unknown symbol in module, or unknown parameter (see dmesg)"
root@wifi:/home/debian# sudo zfs list
The ZFS modules are not loaded.
Try running '/sbin/modprobe zfs' as root to load them.
root@wifi:/home/debian# /sbin/modprobe zfs
modprobe: ERROR: could not insert 'zfs': Unknown symbol in module, or unknown parameter (see dmesg)

dmesg
[ 5979.240083] SPL: Loaded module v0.6.5.9-1~bpo8+1
[ 5979.245465] zfs: Unknown symbol setattr_prepare (err 0)
[ 6182.431939]

[2017-08-09 09:27] gmelikov commented on #6483
Check zfs/spl version identity, and remove all old package versions before update, it's not a bug.

Next time please don't just remove issue template, closed as non constructive.

[2017-08-09 09:27] #6483 closed

[2017-08-09 10:55] erikjanhofstede commented on #4512
Anybody who's experiencing this issue already tried the 0.7.x release?

[2017-08-09 12:51] bunder2015 commented on #6315
Hi sorry for the delay, been busy off and on lately and haven't had time to do any testing.  Do you still want me to test this?  I might have some time this afternoon.

[2017-08-09 14:30] faxm0dem opened #6485 "zfs root on debian jessie outdated?"
Hi,

The debian [tutorial](/zfsonlinux/zfs/wiki/Debian-Jessie-Root-on-ZFS) seems active, but it refers to jessie. Is that a mistake, or does it only work on jessie?

[2017-08-09 14:36] filip-paczynski commented on #6315
Hi, is it possible, that this is fixed in 0.7.1 as part of #6414 work?

[2017-08-09 15:21] bennabiy commented on #6480
SmartOS PI
`joyent_20170706T001501Z`
output from
[code]

[2017-08-09 15:32] batchuravi commented on #6381
After running for longer durations with 16k slab size we still see memory fragmentation although we did not encounter a panic (of the kind mentioned above). We still see several free chunks in buddy info which are as small as 4k.

[2017-08-09 16:18] behlendorf commented on #6414
This issue was resolved in the v0.7.1 release tagged on August 8th.

[2017-08-09 16:20] behlendorf commented on #6474
Yes, this is very likely the same issue.  There's a fix for this in recently tagged v0.7.1 release.

[2017-08-09 17:02] gmelikov commented on #6485
It works on stretch too, just don't use backports, packages are already in stretch repos.

[2017-08-09 17:02] #6485 closed

[2017-08-09 17:20] gmelikov commented on #6485
I've updated wiki to Stretch https://github.com/zfsonlinux/zfs/wiki/Debian-Stretch-Root-on-ZFS , feel free to reopen this issue if you get any problems.

[2017-08-09 17:24] gmelikov commented on #6480
Looks like #5699 duplicate, install latest zfs vertsion and try, feel free to reopen this issue if it won't help. Closed.

[2017-08-09 17:24] #6480 closed

[2017-08-09 17:36] gmelikov commented on #5999
0.7 branch is stable now, closed as #5699 duplicate.

[2017-08-09 17:36] #5999 closed

[2017-08-09 18:37] dinatale2 opened #6486 "Test case: events_002_pos"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04 and 17.04
Linux Kernel                 | All
Architecture                 | All
ZFS Version                  | 0.7.0
SPL Version                  | 0.7.0

### Describe the problem you're observing
Occasionally `

[2017-08-09 22:23] dinatale2 commented on #5665
This test case also hangs on occasion on various TEST builders. I went ahead and removed the Architecture Specific tag. This issue can become the generic "fix rsend_024_pos" issue.

[2017-08-09 23:36] aasraoui opened #6488 "zfs pool creation fails in version 0.7.0"
Under zfs 0.7 zpool create fails with this response, anything has changed in version 0.7 ?

 zpool create -f -o ashift=12 ost raidz2 35000c5008355e2c3 35000c5008355cedb 35000c500837ece67 35000c5008355ddcf 35000c500837f23cf 35000c500837f2b93 35000c5008355bb67 35000c5008355bbdf 35000c5008355da8b 35000c500837f249f 35000c5008355c33b

cannot create 'ost': invalid argument for this pool operation
 rpm -

[2017-08-09 23:46] stuartthebruce opened #6489 "0.7.1 Input/output error from /bin/ls"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | SL
Distribution Version    | 7.3
Linux Kernel                 | 3.10.0-514.26.1.el7.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.1-1
SPL Version                  | 0.7.1-1

### Describe the problem you're observing
/

[2017-08-10 00:43] tuxoko commented on #6478
The offending code is here.
https://github.com/zfsonlinux/zfs/blob/46364cb2f35545a7fc915df9593b719a94c43a83/module/zfs/zfs_vnops.c#L487

An obvious fix would be to check z_log is NULL. Though I wonder why we need to do zil_commit for  zfs_read.

[2017-08-10 01:31] grantwwu commented on #4534
@KES777 Yes, as I said, this happens "If the NFS server is not installed"

[2017-08-10 06:24] phik commented on #6414
I have a few lingering questions, if I may...

- Out of curiosity, how reliable is that test that you committed?  Did that reproduce the problem 100% of the time on rc5?

- Stu says that we had this issue again on an rc3 system (in his comment of Aug 6).  How can that be, if the problem was introduced in rc5?

- We still have the fact that ``zpool import -Fx`` couldn't import this filesystem -- sh

[2017-08-10 08:06] gusioo opened #6490 "System freeze (rcu lock)"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian
Distribution Version    | Jessie
Linux Kernel                 | 3.10.103
Architecture                 | x64
ZFS Version                  | 0.6.5.4-1
SPL Version                  | 0.6.5.4-1

### Describe the problem you're observing
My system

[2017-08-10 08:11] lnicola commented on #6366
[zfs.zip](https://github.com/zfsonlinux/zfs/files/1214087/zfs.zip)

[2017-08-10 10:16] filip-paczynski commented on #6315
Nevermind, it still crashes.

Debian stretch (9.1)
Kernel: Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u2 (2017-06-26) x86_64 GNU/Linux
XEN Dom0 : xen-hypervisor-4.8-amd64  4.8.1-1+deb9u1
16gb ram ARC, 100gb L2ARC, 16gb SLOG

ZFS 0.7.0-18_g5146d802
SPL 0.7.0 - commit 9243b0fb4784803720a0a5336cc3ded969a779e6

The machine hosts XEN VMs.
The controller is
The error occured after executing `apt upd

[2017-08-10 12:00] faxm0dem opened #6493 "debian stretch zfs root howto grub uefi fails"
I tested the [stretch zfs root debian howto](/zfsonlinux/zfs/wiki/Debian-Stretch-Root-on-ZFS) and thanks so much for updating it from jessie. However, I'm failing to complete the [grub installation step](/zfsonlinux/zfs/wiki/Debian-Stretch-Root-on-ZFS#step-5-grub-installation).

The UEFI method fails with the following message:

[code]

[2017-08-10 12:12] bunder2015 commented on #6493
`EFI variables are not supported on this system.`

best guess, the kernel you booted doesn't have efi support, or you didn't mount /sys in your chroot.

[2017-08-10 12:23] faxm0dem commented on #6493
sysfs is mounted and kernel is 4.9.0-3-amd64.
I tried to load the efivars and efivarfs and both report `could not insert No such device`

[2017-08-10 12:30] faxm0dem commented on #6493
I think I might be booting wrong, as the efi firmware directory is absent in sysfs

[2017-08-10 12:31] gmelikov commented on #6493
UEFI part of instruction was copied from Ubuntu one. It's not ZFS related problem, I think.

[2017-08-10 13:04] faxm0dem commented on #6493
you're absolutely right. I was booting in legacy mode :-/ sorry for the noise.

That being said I found a small typo: one of the first commands should be `echo`, not `cat` in paragraph *1.4 Add contrib archive area*

[2017-08-10 13:12] gmelikov commented on #6493
That's great!

Thanks, fixed. Closed.

[2017-08-10 13:12] #6493 closed

[2017-08-10 15:23] jspiros commented on #6332
@behlendorf Not sure if you've seen this report yet (ignore the three posts by @YFLOPS as that was covered in its own issue #6474). Tagging you in case you haven't as you're the person who closed #1303 and #2025 with a note to create a new issue if it reappeared in recent versions. Given @avg-l's theory in #2025 (and referenced above in my comments) about this being a race condition related to SA

[2017-08-10 15:26] behlendorf commented on #6414
It reproduced the issue 100% of the time in about 5 seconds.  After applying the fix I left it running in a loop for about 8 hours without issue.  We were able to reproduce the issue on one of our Lustre test systems although it took longer to reproduce, after applying the fix a week ago we haven't seen it since.

I agree, that is very troubling.  The PANIC only indicates that a damaged block poin

[2017-08-10 17:34] nedbass commented on #6366
Thanks for the new debug log @lnicola. Here are the relevant lines.

[code]

So `dnode_hold_impl()` is returning ENOSPC for object 90936. That means the requested number of slots weren't free at that offset in the dnode block. I see in the stream dump that object 90935 is a ZAP with dn_slots = 1. So slot 90936 should be free and it's probably slot 90937 that appears to be allocated. That could pos

[2017-08-10 17:51] lnicola commented on #6366
Sorry, it's gone.

[code]

I think `90937` is not present on the source, but is present on the destination?

[2017-08-10 18:28] nedbass commented on #6366
Just to confirm, the snapshots for 2017-07-11 no longer exist?

It is strange that 90937 doesn't appear in the 2017-07-12 snapshot on bike, since that object has a creation date in March, and 90936 wasn't created until the 13th.

[2017-08-10 18:46] lnicola commented on #6366
I keep them for two weeks. I intentionally ran `zfs hold keep` one these.

Yeah, I'm not sure what to make of it.

[2017-08-10 19:59] bunder2015 commented on #6315
So I upgraded to git head again and applied the assert/verify toggle patch and now it's not happening anymore.  Maybe this got patched between 0.7.0 and 0.7.1, will need to test more to confirm.

[2017-08-10 21:31] dinatale2 commented on #6468
If you're able to reproduce the issue, feel free to post back. Closing.

[2017-08-10 21:31] #6468 closed

[2017-08-10 22:53] #6383 closed

[2017-08-11 01:33] sdm900 commented on #6414
I'd love to scrub the file system (and I'll set it going)... but I don't think it will ever finish.  It is on a production file system that is heavily used and we will no doubt loose power before it finishes :(

[2017-08-11 03:21] phik opened #6496 "zpool import -F can't recover from a specific type of corrupted block"
In issue #6414, a bug caused the creation of an invalid block but with a valid checksum -- leading to a kernel panic on import.

We attempted to use ``zpool import -FX`` and ``zpool import -FXn``, but both failed with the same panic.

I can appreciate how challenging it may be to get arbitrarily-far through the import process, detect a problem, and then somehow roll all the way back to the beginni

[2017-08-11 03:26] phik opened #6497 "``zpool import -T`` attempts to read the (entire?) filesystem at 2 MB/s"
In issue #6414, a bug caused the creation of an invalid block but with a valid checksum -- leading to a kernel panic on import.

``zpool import -FX`` didn't work, hitting the same panic (which is the topic of #6496)

We also attempted ``zpool import -T txg``, and while this _didn't_ cause the panic, it also didn't really work.  It started reading the (10 TB x 4) filesystem at about 2 MB/s, an effo

[2017-08-11 07:56] zviratko opened #6498 "Sudden ZFS slowdown on two different machines with same workload"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Ubuntu
Distribution Version    |  16.04
Linux Kernel                 | 4.4.0-51-generic
Architecture                 | amd64
ZFS Version                  | 0.6.5.6
SPL Version                  | 0.6.5.6-0ubuntu4

pool geometry: 2x raidz2 of 8x 1.2tb

[2017-08-11 08:25] GregorKopka commented on #6381
@batchuravi would you please share what 'linux setting' you did that avoids activation of the OOM killer?
(so should others run into the sane issue could find an easy to apply band-aid here that can be applied till the underlying issue is fixed)

[2017-08-11 08:30] zviratko commented on #6498
I could use a better workaround/solution than sync=disabled for obvious reasons. Although it's possible upgrade will fix it, I can't just reboot the storages anytime if it happens again.
Thanks.

[2017-08-11 09:45] zviratko commented on #6498
Just hit this issue again on the node that was rebooted/upgraded yesterday.

It might just really be overloaded for some reason.
This is arcstat with sync=disabled right now

[code]

That's an awful lot of reads (and writes).

zpool iostat:
[code]

This node is resyncing, so we might have gone over what the drives can handle (yes, we are going to change the geometry, but never had this problem bef

[2017-08-11 10:35] filip-paczynski commented on #6315
For me assert/verify patch just move the problem to another place:
[code]

in addition it kanda limits the scope of what has crashed - other zvols are largely accessible event after this kind of crash. It is better in a sense that it allows rest of the VMs to stop in an orderly fashion.

[2017-08-11 15:51] #5503 closed

[2017-08-11 15:51] #5523 closed

[2017-08-11 15:51] #6377 closed

[2017-08-11 15:57] #6478 closed

[2017-08-11 16:04] behlendorf commented on #6488
Nothing has changed in regarding the pool creating syntax, what you've posted should work.  I'd suggest making sure you've removed any old version of ZFS from the system then reinstalling 0.7.1 cleanly to see if you're able to still reproduce the issue.

[2017-08-11 16:18] ironMann commented on #6498
Most likely cause is: `capacity 85%`. You might want to try setting `metaslab_debug_unload=1` (see `man zfs-module-parameters`). This will help remove some i/o that's most likely going on during new allocations. Be prepared to sacrifice few GiB of RAM ...

[2017-08-11 16:21] zviratko commented on #6498
The problem is that there's almost no IO going on with sync=standard, but I'll try that, thanks!

[2017-08-11 16:27] richardelling commented on #6498
If the zvols were not preconditioned, then the first writes are free of reads. Once it is preconditioned,
then the writes can become read-modify-write. In pre-production testing, always test with preconditioned
zvols.
 — richard

[2017-08-11 16:58] behlendorf opened #6499 "Test case: grow_pool/setup"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04 and 17.04
Linux Kernel                 | All
Architecture                 | All
ZFS Version                  | zfs-0.7.0-25-g3769948
SPL Version                  | 0.7.0

### Describe the problem you're observin

[2017-08-11 17:18] gaurkuma commented on #6381
@GregorKopka You can pass a kernel command line parameter "slub_min_order=2", that would force kernel to allocate atleast 16K slabs.

[2017-08-11 18:28] shodanshok commented on #1012
Hi all, I just read about this old, still opened, ticket and wondered if the problem can be somewhat sidestepped by using a quite large `zil_slog_limit`. Sure, with fast main pools this still impair performance as large synchronized writes will be logged to the ZIL *and* to the main pool, but should avoid the problem of 2X writes to the main pool. I am right, or I am missing something?

[2017-08-11 22:48] zviratko commented on #6498
I'm not having a problem with a particular ZVOL, this affects the whole pool.

Looks like deleting snapshots+freeing more space resolved it for now, I still don't know the root cause though.

Some notes:
There was almost no IO on the physical drives
There was almost no IO in the pool (it just more or less paused)
It affected all ZVOLs in the pool
Resizing ARC up/down didn't help and there was no r

[2017-08-11 22:58] hyegeek opened #6500 "PANIC at sa.c:1283:sa_build_index()"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | NA (mostly stable and up to date)
Linux Kernel                 | 4.9.41-gentoo
Architecture                 | x86_64
ZFS Version                  | 0.7.0 (started on 0.6.5.9)
SPL Version                  | 0.7.0

###

[2017-08-12 08:23] tuomari commented on #6385
It seems that after updating to 0.7.0-16_g 6a8ee4f71 the problem went away. I suspect 9631681 fixed this.

[2017-08-12 08:23] #6385 closed

[2017-08-12 23:43] evujumenuk opened #6501 "'edonr' and 'skein' zpool features are not supported for root pools even though UEFI is a thing"
Exhibit A:

https://github.com/zfsonlinux/zfs/blob/376994828fd3753aba75d492859727ca76f6a293/module/zfs/zfs_ioctl.c#L3991-L4004

Exhibit B:

https://github.com/zfsonlinux/zfs/blob/376994828fd3753aba75d492859727ca76f6a293/lib/libzfs/libzfs_dataset.c#L1593-L1598

(376994828fd3753aba75d492859727ca76f6a293 is the current `master`.)

As for the rationale, @skiselkov stated the following in https://www.l

[2017-08-13 00:06] bunder2015 commented on #6501
While EFI stub booting is a thing, most people who use EFI still use it to boot grub, which doesn't support several feature flags.  illumos (to the best of my knowledge) doesn't support EFI either.  I don't know the complete status of the grub they use.  It might be possible their grub can't boot all-flag pools as well.

[2017-08-13 00:29] charlesmilette commented on #6501
What about users of systemd-boot, which on UEFI systems just boots the EFI stub?

[2017-08-13 00:34] bunder2015 commented on #6501
Unfortunately the linux ecosystem is so diverse, I don't think we would find a solution that suits everybody's needs.

[2017-08-13 00:38] Yevgeny1 opened #6502 "zfs 0.7.1 building problem on OEL 7.4"
distr :   OEL 7.4
arch :    x86-64
kernel : UEK4 R4
Linux oel7_1 4.1.12-94.5.7.el7uek.x86_64 #2 SMP Thu Jul 20 18:44:17 PDT 2017 x86_64 x86_64 x86_64 GNU/Linux

ZFS Version   :               0.7.1
modinfo zfs | grep -iw version :                0.7.1-1
modinfo spl | grep -iw version :                0.7.1-1

## problem

rebuild after upgrade (OEL 7.3 --> 7.4),  DKMS  build incorrect modules, for n

[2017-08-13 00:38] charlesmilette commented on #6501
What about the possibility to enable those features (and others) on `bootfs` pools with a clear warning about the possibility to break some bootloaders?

[2017-08-13 05:57] slburson opened #6503 "Feature suggestion: cachefile versioning"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  openSUSE
Distribution Version    |  Leap 42.1
Linux Kernel                 |  4.1.39-56
Architecture                 |  x86_64
ZFS Version                  |  0.7.0-1
SPL Version                  |  0.7.0-1

### Describe the problem you're observing

[2017-08-13 06:01] bunder2015 commented on #6503
If I recall correctly, the cache file should be going away at some point, as it's kindof redundant.  zpool import can scan drives on boot and import pools without it.

[2017-08-13 11:13] zviratko opened #6504 "ZFS receive dataset busy - race with /lib/udev/zvol_id"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Ubuntu
Distribution Version    |  14.04, 16.04
Linux Kernel                 | 4.4 / 4.10
Architecture                 | amd64
ZFS Version                  | 0.6.5.6, 0.6.5.9, 0.7.0
SPL Version                  | 0.6.5.6, 0.6.5.9, 0.7.0

### Describe

[2017-08-13 11:17] gmelikov commented on #6504
Please look at https://github.com/zfsonlinux/zfs/commit/cf8738d85374f51298a0872bcd58257bbb4fda6d , it's already implemented.

[2017-08-13 11:19] zviratko commented on #6504
I didn't know about that! :-)

Cool. Thanks!

[2017-08-13 16:09] asmo123 opened #6505 "same data seems to be put into the L1ARC twice (two zpools)"
Hello, I was asked to report this.

When I copy data from a different filesystem (ext4) to the first pool and then copy the data from pool 1 to pool 2 the ARC grows twice.
It's probably easiest when I show the commands:

[code]

---

Distribution Name       | gentoo
Distribution Version    | (rolling release)
Linux Kernel                 | Linux livecd 4.5.2-aufs-r1
Architecture                 |

[2017-08-13 18:10] pmwoodward3 commented on #3326
Bumping for visibility

[2017-08-13 19:24] dasJ commented on #6471
Had the same problem and fixed it temporarily by downgrading to linux 4.9.6-1

[2017-08-13 19:42] dasJ commented on #6471
Oh, my root (one SSD with TRIM patch) mounted well, but my home (RAID Z1) didn't mount with the error above

[2017-08-13 20:54] richardelling commented on #6505
This is not a bug. Each block in the ARC is identified as belonging to a pool. When the pool is exported, its blocks are evicted from the ARC.

[2017-08-13 20:58] asmo123 commented on #6505
So the ARC is not shared by pools then?

[2017-08-13 21:02] richardelling commented on #6505
The ARC is shared by pools. Think of it this way: the tag for each block in the ARC includes its pool id. This is necessary because dataset ids (and others) are not globally unique. The pool id is unique, so it is needed to differentiate between blocks in pools.

[2017-08-13 21:28] asmo123 commented on #6505
So the space in the ARC is shared, but the data in/of a block from pool-A is and can not be available for pool-B?

cp data from ext4-partition to zpool-A
# blocks written(!?) to zpool-A are stored(?) in the ARC and labeled as "belongs to zpool-A"

cp data from zpool-A to zpool-B
# transferred blocks are stored in the ARC and labeled as
# read-from-A: "belongs to pool A"
# write-to-B: "belongs to p

[2017-08-13 22:08] richardelling commented on #6505
This is not a bug. If you would like to have a discussion, then please use the email list: zfs-discuss@list.zfsonlinux.org

[2017-08-13 22:10] asmo123 commented on #6505
Alright. Mark it as "invalid" please!

[2017-08-13 22:14] DeHackEd commented on #6505
Based on my understanding of the original IRC-posed question, one of the diagrams in that picture shows a single block as being a member of both the LRU and LFU lists. This is likely a mistake. There are a few graphical errors as well, such as arrows without arrowheads. Also the text says "moved over to the frequently used list".

[2017-08-14 01:36] sdm900 commented on #6414
As far as I can tell, zfs scrub is useless...

[code]

and this file system has gone quiet over the weekend.  I expect the rate to drop to almost 0 when people are in the office.

[2017-08-14 02:30] dbavatar opened #6506 "Metadata not counted as evictable/not being reclaimed. Leaked?"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | x
Distribution Version    | x
Linux Kernel                 | 4.4 through 4.9.24+
Architecture                 | x86_64
ZFS Version                  | 0.7.1
SPL Version                  | 0.7.1

### Describe the problem you're observing
Metadata is no

[2017-08-14 02:56] dbavatar commented on #6506
@grwilson for d3c2ae1c0806b183a315e3d43cc8018cfdca79b5

[2017-08-14 05:51] loli10K commented on #6505
Closing.

[2017-08-14 05:51] #6505 closed

[2017-08-14 06:27] bunder2015 commented on #6501
Its probably doable, but I think a better idea would be to add it behind a `-f` option to `zfs set` so people don't arbitrarily change it by mistake.  I'm not a dev and it would probably need to get approval across all the platforms before implementing.  Sounds like something worthy of the mailing lists.

[2017-08-14 12:38] ssergiienko opened #6507 "Send/Recv backward compatibility is broken with ZFS v0.7.x"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS / ArchLinux
Distribution Version    | 7.3 / latest
Linux Kernel                 | 3.10.0-514.6.1.el7.x86_64 / 4.12.6-1-ARCH
Architecture                 | x64
ZFS Version                  | 0.6.5.9-1.el7_3.centos.x86_64   /   zfs-dkms-git 0.7.

[2017-08-14 12:47] gmelikov commented on #6507
Install latest version - 0.6.5.11 or 0.7. 0.6.5.9 may have problems with recv from newer openZFS versions.

Closed as #5699 duplicate.

[2017-08-14 12:47] #6507 closed

[2017-08-14 12:52] gmelikov commented on #6507
About compatibility - we don't break disk data format, but API and ABI will be stabilized only in 1.0 release.

[2017-08-14 12:58] ssergiienko commented on #6507
Ok, so it's just v0.6.5.9 specific problem.

It's understood, but just to be clear - does "send/recv stream" format is fixed and/or versioned?

Thanks!

[2017-08-14 13:30] DeHackEd commented on #6507
There is some minimal version compatibility information in the stream that is only relevant when using the extra parameters, such as `zfs send -L ...`. Otherwise the stream format hasn't changed.

[2017-08-14 16:08] behlendorf commented on #6414
@sdm900 for filesystems with lots of small files or heavy fragmentation I agree it can be unreasonably slow.  There are patches in #6256 under development to improve the situation.  But it sounds like you may want to just cancel, or pause, the scrub for now if it's not going to complete in a reasonable amount of time.

[2017-08-14 17:36] #494 closed

[2017-08-14 18:00] behlendorf commented on #6500
This was almost certainly a duplicate of #6414 which was fixed in 0.7.1.  You'll want to update your system as soon as possible.

[2017-08-14 18:03] behlendorf commented on #6504
Closing.  Already implemented in current release.

[2017-08-14 18:04] zviratko commented on #6504
I'm sorry, but that was only 1/3 :-)
Many folks will want ZVOLs exposed, yet will hit this issue as well. I still believe this race should be fixed so that receive works reliably in both cases.

[2017-08-14 18:21] behlendorf commented on #6504
Right.  To be clear the remaining issue here is occasional `zfs receive` failures.

Another possible way to handle this would be to by default defer registering the new zvols with the kernel until the full receive of the dataset and all its snapshots complete.  @bprotopopov may have some thoughts about how best to handle this.

[2017-08-14 18:27] zviratko commented on #6504
Thank you.

[2017-08-14 18:30] behlendorf commented on #6500
@hyegeek good, I've glad you've upgraded.  Unfortunately what you describe is a possible side effect of this nasty bug.  The good news is that it's understood and fixed in the 0.7.1 release and we've added test coverage to ensure it never happens again.

[2017-08-14 18:32] hyegeek commented on #6500
So what I'm hearing is every one of my zfs systems should be upgraded ASAP.

I will start that process...

[2017-08-14 18:43] behlendorf commented on #6500
Only systems with `dnodesize != legacy` are vulnerable to this specific issue.  My recommendation is to set `dnodesize=legacy` on any 0.7.0 systems as an immediate workaround, after upgrading them to 0.7.1 you can set `dnodesize=auto` again.

[2017-08-14 18:56] hyegeek commented on #6500
Now I'm a bit confused. This is starting to sound like the problem started with 0.7.0. This is certainly not the case for me as it hit me in April and I only now had to rebuild because of it.

I'm also having trouble locating the dnodesize setting. It does not appear to be understood by either the zfs set/get or zpool set/get commands. I do have the following on my 0.7.1 pool

[code]

What command

[2017-08-14 19:26] behlendorf commented on #6500
If this dates back to 0.6.5.9 then this isn't the issue I suspect it was.  The issues I was referring to was accidentally introduce in 0.7.0-rc5 and quickly resolved in 0.7.1.  Only those releases would have been vulnerable and only if the admin has specifically run `zfs set dnodesize=auto` on the dataset after upgrading the pool to enable the feature.  Your pool clearly has the feature inactive s

[2017-08-14 19:35] hyegeek commented on #6500
The issue show up on my machine around a month after I upgraded to sys-fs/zfs-kmod-0.6.5.9. Sounds like it is different. Do you want to have me run commands on the effected filesystem?

On my 0.7.1 machine, I have upgraded the pool, but it does not know anything about dnodesize

[code]

[2017-08-14 19:41] behlendorf commented on #6500
@hyegeek sounds like a different issue.  Are you sure you're running matched user space and kernel space packages?  From the 0.7.1 zfs man pages, `man zfs`.

[code]

[2017-08-14 19:47] hyegeek commented on #6500
Looks like the kernel I booted off to start my recover is indeed running the older one. Sorry about that. I'm almost finished updated the system (I had to rollback to april!) and I'll reboot with the updated zfs at that point.

Not sure how I got the older kernel/ramdisk (I thought I copied the latest), but at least things are explained. Thanks.

[2017-08-14 20:20] AXDOOMER opened #6508 "Kernel Oops - list_del corruption caused a null pointer dereference; RIP is at dbuf_write_physdone+0x26/0x40"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian GNU/Linux
Distribution Version    | 8.9 (jessie)
Linux Kernel                 | Debian 4.8.15-2~bpo8+2
Architecture                 | amd64
ZFS Version                  | 0.6.5.9-2~bpo8+1
SPL Version                  | 0.6.5.9-1~bpo8+1

### De

[2017-08-14 20:59] behlendorf commented on #6500
@hyegeek it sounds like you've gotten to the root of the problem.  Shall we close this out?

[2017-08-14 21:01] hyegeek commented on #6500
Since this issue showed up first under 0.6.5.9, I'm not sure we really know what happened. The upgrade to 0.7.0 simply made the problem worse are opposed to causing it. If that is consistent with what you believe about the issue, we can close it, otherwise, we should probably try to figure out what happened.

[2017-08-14 21:34] behlendorf commented on #6500
So we don't know of any issues in 0.6.5.9 which could have caused this.  Is it possible that you might not have been running 0.6.5.9  and were instead using an older release from the initramfs?  The version information would be in the console logs if you still have them.

[2017-08-14 21:38] hyegeek commented on #6500
That is very unlikely. The only reason things got odd now is I had a mix of rolled back OS and not rolled back /boot.

[2017-08-14 23:02] dbavatar commented on #6506
@behlendorf I think this will have to go in a stable release. I've been looking at this all day, looks pretty bad. Operates effectively as a memory leak, metadata for every file that exists stays in memory, growing past arc limits.

[2017-08-15 00:17] behlendorf commented on #6506
@dbavatar if that's the case, we should definitely get a fix for this in to the next point release.  But first let's determine exactly what is going wrong and take it from there.

It's hard to imagine meta-data is never getting reclaimed or everything would grind to a halt pretty quickly.  Likely something a little more subtle is going on.  Since you identified the compressed ARC change as where t

[2017-08-15 02:49] dweeezil commented on #6497
Addressing the issue described in the subject:  check out the ```spa_load_verify_data```, ```spa_load_verify_metadata``` and ```spa_load_verify_maxinflight``` module parameters.   The "extreme" rewind imports will, by default, try to traverse the pool which may take a very long time.

[2017-08-15 06:12] lnicola commented on #6366
If it helps, I can destroy and re-create the destination filesystem to see if the issue occurs again.

[2017-08-15 06:20] Low-power opened #6510 "Snapshots was allowed to mount as read-write and attempt to write to that snapshot lead a kernel panic"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian GNU/Linux
Distribution Version    | 9
Linux Kernel                 | 4.9
Architecture                 | amd64
ZFS Version                  | 0.7.1
SPL Version                  | 0.7.1

The console screenshot are [**removed link**]

### Describ

[2017-08-15 08:19] justinlynn commented on #3744
@skiselkov This appears stuck upstream on <https://reviews.csiden.org/r/267>. Hate to bother you, but do you have any context for the current state?

[2017-08-15 11:14] ronnyegner opened #6512 "ZFS send --raw crashes AWS instance reproducible"
### System information

Type                                | Amazon AWS t2.medium (2 cores, 4 GB memory)
  ---                                  |     ---
Distribution Name       | Amazon Linux
Distribution Version    |
Linux Kernel                 | 4.9.38-16.35.amzn1.x86_64
Architecture                 | x64_64
ZFS Version                  | Master (v0.7.0-29_gd49d9c2)
SPL Version

[2017-08-15 12:25] zviratko commented on #6506
would this only affect filesystems, or would it include volumes as well? I have tens of GBs of memory hoarded somewhere in kernel slab and drop_caches doesn't free that neither. My pool has 0 files, but hundreds of ZVOLs and ~20K snaps. arcstats show lots of metadata IO (served from cache and linux cache), so I guess any metadata-heavy workload would be affected?

[2017-08-15 12:26] bunder2015 commented on #6506
ZVOLs also use ARC unless you set `primarycache=none`

[2017-08-15 12:29] zviratko commented on #6506
I know they do but I was refering to the reported memory leak - could it be the same issue or would this only apply when ZFS is used as a filesystem? What I see is that there are maybe 30-40G tied somewhere in kernel that don't get freed, but it doesn't seem to be rising much (I can go few months without a reboot on a 128G machine that also has 64G ARC).

[2017-08-15 12:45] AndCycle opened #6513 "ZFS: Unable to set "noop" scheduler"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Linux Kernel                 | 4.12.5-gentoo
Architecture                 | amd64
ZFS Version                  | 0.7.1-r0-gentoo
SPL Version                  | 0.7.1-r0-gentoo

[code]

oops, just a minor issue about using new kernel,
as they chaged scheduler quite a

[2017-08-15 12:50] hyegeek commented on #6500
Now that my updates are done, I've set the dnodesize to auto.

Just to recap what happened on the version mismatch, I did boot off of the kernel I thought I did with both zfs 0.7.1 modules and tools. It then booted into an old os (rolled back because of the corruption). That's why the mismatch.

The issue reported here did occur under 0.6.5.9. The machine was upgraded from 0.6.5.8 on March 11th an

[2017-08-15 13:06] loli10K commented on #6513
@AndCycle what is the issue here? And why is this a ZFS issue?

AFAIK "noop" is still a valid scheduler, maybe you just forgot to enable it in your Kconfig?

[2017-08-15 13:08] AndCycle commented on #6513
no, it's not, you can see the name changed to `none`,

so that require detect kernel version during build time to choose right name for it.

[2017-08-15 13:21] loli10K commented on #6513
I don't think "noop" and "none" are same thing just with a different name, i'm going to build 4.12.5 now but from the looks of it "noop" is still there.

http://elixir.free-electrons.com/linux/v4.12.5/source/block/noop-iosched.c#L104

[code]

[2017-08-15 13:22] DeHackEd commented on #6513
Is this an NVMe drive? The `mq-` prefix suggests this is the multi-queue variant which is relatively new in the kernel and only makes sense for multi-queue block devices.

[2017-08-15 13:22] ssergiienko commented on #6513
Archlinux:
[code]
Noop still there...

[2017-08-15 13:25] AndCycle commented on #6513
@dajhorn noop, it's SATA device, attached by LSI SAS card,
so am I the only one got this problem here?

they are SATA drive attached by LSI SAS/SP1200 onboard/USB
guess I need to dig out why most of my device changed to multi-queue,

I just use only kernel 4.9 config use on 4.12

[2017-08-15 13:33] AndCycle commented on #6513
[code]
ok, I have been messed by this.

[2017-08-15 13:41] dweeezil commented on #6506
I'm going to try to reproduce this.  @dbavatar Could you please also grab ```dbuf_size``` through ```anon_size``` from the arcstats as well.

[2017-08-15 18:04] Synergyst opened #6514 "/dev/zfs is missing!"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name  |  Debian Jessie
Distribution Version  | 8 update 2
Linux Kernel  | Linux pentium 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2+deb8u2 (2017-06-26) x86_64 GNU/Linux
Architecture  | amd64
ZFS  |        0.6.5.9-2~bpo8+1
SPL  |        0.6.5.9-1~bpo8+1

### Describe the problem you're observ

[2017-08-15 18:06] BtbN commented on #6514
modprobe zfs?

[2017-08-15 18:06] Synergyst commented on #6514
I have tried this. Nothing happens..

[2017-08-15 18:16] tcaputi commented on #6512
@ronnyegner
I am having some trouble reproducing your problem. Could you try to provide a script that causes the crash? This script seems to run without issues:

[code]

Is it possible you are using code from before the encryption patch was merged into master? Just before the encryption patch was merged in I fixed a problem regarding sending empty files that would trigger this kind of crash.

[2017-08-15 18:19] tcaputi commented on #6512
I see from your version string that you seem to be using the correct version. Just make sure that it is the same on both the sending and receiving side.

[2017-08-15 18:23] tuxoko commented on #6510
We should add a check in zpl_remount_fs

[2017-08-15 18:51] nedbass commented on #6366
Please do. I'm out of ideas for troubleshooting with the current available data. It seems likely this was related to #6414 but the evidence doesn't seem to fit perfectly. Hopefully 751941e24856a2d451a5281f0502862c2198b411 which fixed #6414 will prevent you from hitting the problem again. But if it does, please hold the snapshots for the last successful send and the one that first fails, and post t

[2017-08-15 20:13] lnicola commented on #6366
Is it fine if it's not an incremental send? Actually, I was able to send the full snapshot from the 12th, so the one from 11th might have not been necessary.

Anyway, I no longer have those, but it happened again, on multiple filesystems this time. Fixing #6414 probably didn't help in my case.

[2017-08-15 20:35] richardelling commented on #6514
There are kernel configurations which prevent the zfs module from loading. Check the output of dmesg for zfs-related error messages.

[2017-08-15 21:27] 1Liol opened #6517 "module ZFS not found"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 7.3.1611
Linux Kernel                 | 4.12.7-1.el7.elrepo.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.1-1.el7_3
SPL Version                  | 0.7.1-1.el7_3

### Describe the prob

[2017-08-15 21:30] PeterHeja commented on #1345
I know this is a closed stale ticket, but for me disabling selinux did the trick.
However, it is not recommended to do so.

[2017-08-15 21:33] jumbi77 commented on #224
Any news on real o_direct support since scatter-gather list gets merged? Just curious, thanks

[2017-08-15 22:05] jgottula commented on #4486
I'm thinking this issue probably needs to be reopened, because I'm experiencing consistent, permanent `send_traverse` task lockups just like @waltersteinlein described above when attempting certain `zfs send`'s on completely-up-to-date kernel and ZoL versions.

[code]

Currently I'm seeing this issue when I try to do a `zfs send` over the network from my machine running kernel 4.12.7 with zfsonlin

[2017-08-15 22:18] cwedgwood commented on #224
@jumbi77 I think we have to consider what `O_DIRECT` actually means for ZFS ZPL.

Historically in the past for other file-systems it more-or-less meant that the data was transferred from the disks directly into the userspace buffers without any intermediate buffering, but with newer storage stacks that mapping isn't possible (this is true for non ZFS in many cases too).

@behlendorf I suggest `O_D

[2017-08-15 22:21] jgottula commented on #4486
Oh and I neglected to mention that the machine on the receiving end of this operation also gets stuck. It's currently running kernel 4.12.6 with zfsonlinux/spl@9df9692 and zfsonlinux/zfs@d49d9c2bd.

[code]

The `zfs send` process on the sending side was able to be ctrl+C'd out of after a short delay; however the `zfs recv` process on the receiving side just won't die, no matter what I do to it (e.

[2017-08-15 22:25] thewacokid opened #6518 "ZFS 0.7.1-1 overreads with larger than 1 MB record size (up to 16x read amplification)"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | TOSS (RHEL 6.7 derivative)
Distribution Version    | 2.4-9
Linux Kernel                 | 2.6.32-573.26.1.1chaos.ch5.4.x86_64 #1 SMP Wed May 4 15:27:57 PDT 2016 x86_64 x86_64 x86_64 GNU/Linux
Architecture                 | x86_64
ZFS Version                  | 0.7.1-1
SPL V

[2017-08-15 22:28] rlaager commented on #224
I think it means "as little buffering as possible". If I want O_SYNC, I'll say O_SYNC (instead of or in addition to O_DIRECT). The open(2) man page on Linux explicitly says that it doesn't guarantee the same semantics as O_SYNC and you need to pass both if you want both.

[2017-08-15 23:04] nedbass commented on #6366
Yes, that's a good point about the full snapshot from the 12th. I want to see how a successfully received backup stream, whether full or incremental, produces a dataset that is incapable of receiving a subsequent incremental stream.

[2017-08-15 23:40] #6499 closed

[2017-08-15 23:59] behlendorf commented on #4486
Reopening.

[2017-08-16 00:50] jgottula commented on #4486
I've managed to narrow things down somewhat, by sending snaps one-by-one and removing some of the command line options and such.

I've found that the receiving end always locks up if the snapshot it's receiving is from a particular point in time or onward.

So while these work just fine:
[code]
Any of these will cause a lockup:
[code]
(Based on the following send-side snapshot list:)
[code]

And t

[2017-08-16 01:02] jgottula commented on #4486
I just checked my package manager history on the sending side (where the `pool` has been living its life), and it appears that pretty damn close to the time when the `pool@auto_2017-06-07-1933_monthly` was created (not 100% sure if this was right before or right after), I upgraded from kernel 4.10.3 with zfs zfsonlinux/zfs@a3478c074 and spl zfsonlinux/spl@e0aacd9, to kernel 4.11.3 with zfs zfsonli

[2017-08-16 01:16] behlendorf commented on #6518
This does look like a performance issue with larger block sizes.

Based on your performance results I'm assuming you set `compression=off` on the filesystem?  Otherwise, I'd expect that your test files which were created with `/dev/zero` would be converted entirely to holes and you'd see great read performance.  You may want to use `/dev/urandom` when creating the files for a more realistic read w

[2017-08-16 06:40] ronnyegner commented on #6512
Version on source:

[code]

Version on target:

[code]

[2017-08-16 06:51] chrisrd commented on #6506
@dbavatar I'm not sure if I'm able to replicate your problem w/ linux 4.9.43 + ZFS today's HEAD

tl;dr: `metadata_size` is `2,640,896` on fresh module load, goes up to `72,632,832` after reading the large directories, and drops down to `17,822,208` a few seconds after `drop_caches`. Note that it *CAN* take more than a second as part of the freeing-up memory process is asynchronous.

Is `metadata_s

[2017-08-16 08:25] ssergiienko commented on #6506
Maybe data from my real working system could help.
Initial state:
[code]
Just after `drop_caches 3`:
[code]
Few seconds later matadata_size dropped even more - `metadata_size 92065280`

ZFS-git ~= 0.7.1
`uname -r
4.12.6-1-ARCH`

[2017-08-16 08:38] lnicola commented on #6366
[zfs.zip](https://github.com/zfsonlinux/zfs/files/1227560/zfs.zip)

[2017-08-16 15:24] Sebi94nbg commented on #6077
I also had this issue.

Distributor ID: Ubuntu
Description: Ubuntu 16.04.2 LTS
Release: 16.04
Codename: xenial
Linux Kernel 4.4.0-87-generic
ZFS 0.6.5.6-0ubuntu17

By running `systemctl enable zfs-import-cache` I was able to fix it. The ZFS pools are available and online after a reboot now.

[2017-08-16 16:04] dbavatar commented on #6506
@behlendorf zfs_compressed_arc_enabled=0 is the first thing I tried, didn't help.
@ssergiienko @chrisrd size should have reduced to arc_c_min, with metadata_size being a subset of that on drop_caches, so unless that system has active IO, you have the problem.

@chrisrd I disagree that it should take more time to clear up more memory, drop_caches should be synchronous. Internally, it MUST be synchr

[2017-08-16 17:09] nedbass commented on #6366
@lnicola can you provide `zdb -dddd` output for objects 645164-645166 for and snapshots bike@znap_2017-08-09-2100_daily, bike@znap_2017-08-10-2100_daily zroot@znap_2017-08-09-2100_daily. It looks like you may have set dnodesize=legacy between when those snapshots were taken, is that correct?

[2017-08-16 17:21] lnicola commented on #6366
Not between August 8 and 9. I changed the setting on the 5th.

`zdb` output follows:

[code]

[2017-08-16 17:51] bprotopopov commented on #6504
I would definitely take a look, but at this time, I am in between representative hw setups. I cannot reproduce this by recursively sending 100 zvols on my VM.

Is there a way to gather any details as to which lock/which code paths take it ?

[2017-08-16 19:24] Lalufu opened #6521 "ARC cache hit size worse after update to 0.7.1"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Fedora
Distribution Version    |  25
Linux Kernel                 |  4.11.12-200
Architecture                 |  x86_64
ZFS Version                  |  0.7.1
SPL Version                  |  0.7.1

### Describe the problem you're observing
I've been

[2017-08-16 19:49] behlendorf commented on #6521
Quite possibly related to #6518 and #6453 where we also suspect a significant decrease in the MRU hit rate.  This may also be related to #6506 where there's some changes to the observed ARC behavior.  With the addition of the compressed ARC and ABD features there was a huge amount of change in this area.  We'll definitely dig in to this to determine what's going on, but a decrease in the MRU hit r

[2017-08-16 21:14] AndCycle opened #6522 "VERIFY(dn->dn_type != DMU_OT_NONE) failed"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Linux Kernel                 | 4.12.5-gentoo
Architecture                 | x86_64
ZFS Version                  | 0.7.1-r0-gentoo
SPL Version                  | 0.7.1-r0-gentoo

### Describe the problem you're observing
system stop working aft

[2017-08-16 21:18] AndCycle commented on #6522
as I revert back to 0.6.5.11 for stable system,
so probably not much I can help.

[2017-08-16 21:44] dbavatar commented on #6506
This is where it gets very concerning: 101*32768 = 3.3 million 0-byte files scanned via `ls -ltr`, leads to ~1.6GB of  arc "size". After drop_caches multiple times, we still have ~450MB reported arc "size", but ~720MB tied up by the pool. My biggest concern is not even with the memory footprint, but kernel allocation failures from not being able to shrink to arc_c_min on-demand.

[code]
After mult

[2017-08-16 21:47] dbavatar commented on #6521
@Lalufu What does your /proc/spl/kstat/zfs/arcstats look like? I bet the distribution of bytes in there has heavily tilted leaving little room for data mru.

[2017-08-16 21:53] behlendorf commented on #6522
Sorry you had to rollback.  This is a duplicate of #5396 which has been hard to reproduce, but it looks like you found a way.  Was there anything special about your workload?

[2017-08-16 21:56] behlendorf commented on #6427
Also potentially related to #6506.

[2017-08-16 21:59] dbavatar commented on #6427
@behlendorf Yes looks like the same issue as #6506.

[2017-08-16 22:12] Synergyst commented on #6514
I rebooted the server and that seems to have resolved the issue.

Is ZFS not supposed to load automatically without a reboot after following the official wiki instructions for Debian?

Feel free to mark this as closed if there is no further input on the issue.

[2017-08-16 22:13] Voothi opened #6523 "Periodic hangs ZFS/iSCSI(LIO), Reconnecting Windows iSCSI Initiator"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Ubuntu Server
Distribution Version    |  16.04.2
Linux Kernel                 |  4.4.0-87-generic #110-Ubuntu SMP GNU/Linux
Architecture                 |  x86_64
ZFS Version                  |  0.6.5.6-0ubuntu16
SPL Version                  |  0.6.

[2017-08-16 22:22] kpande commented on #6523
please use [the zfs-discuss mailing list](http://list.zfsonlinux.org) to have people help you diagnose and gather information to then reopen this issue if need be.

[2017-08-16 22:22] #6523 closed

[2017-08-16 22:25] #6514 closed

[2017-08-16 22:26] kpande commented on #6514
please, in the future, use [the zfs-discuss mailing list](http://list.zfsonlinux.org) or #zfsonlinux on Freenode IRC first before opening an issue

[2017-08-16 22:27] kpande commented on #6517
please, use [the zfs-discuss mailing list](http://list.zfsonlinux.org) or #zfsonlinux on Freenode IRC to help diagnose before reopening your issue

[2017-08-16 22:27] #6517 closed

[2017-08-16 22:30] kpande commented on #6498
please, use [the zfs-discuss mailing list](http://list.zfsonlinux.org) or #zfsonlinux on Freenode IRC to help diagnose before reopening this issue if you find a bug.

[2017-08-16 22:30] #6498 closed

[2017-08-16 22:32] kpande commented on #6488
this is a userland issue with mismatched kernel version.

[2017-08-16 22:32] #6488 closed

[2017-08-16 23:13] AndCycle commented on #6522
I am not sure about do I have any special workload,
it's a mix bag except I don't use ZVOL,

so I will try to layout my storage first

----

`zroot      444G   339G`
Intel 730 SSD, attached on LSI SAS HBA
single boot volume, resident for root system and /var
use for DNS/routing/email/web/database,
pretty low utilization

----

`zassist    222G   143G`
single volume
Intel 240 SSD, attached on LSI S

[2017-08-17 02:33] nedbass opened #6524 "Receiving invalid backup stream hangs pool"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | TOSS (RHEL 7.3 derivative)
Distribution Version    | toss-release-3.1-4.1rc2
Linux Kernel                 | 3.10.0-514.26.2.1chaos.ch6_1.x86_64
Architecture                 | x86_64
ZFS Version                  | v0.7.0-31_gc8f9061
SPL Version

[2017-08-17 05:07] jstenback commented on #6521
Looking back at my graphs I see a similar thing starting when I first switched to a 0.7.0 rc build, and I also noticed this:

![image](https://user-images.githubusercontent.com/509034/29396756-b799c162-82ce-11e7-90a2-d509da8d0e8f.png)

Unclear to me whether that's the same problem or not, but hoping it'll be another useful data point.

[2017-08-17 07:07] faxm0dem opened #6525 "ZFS Debian stretch obsolete step 4.5"
Hi and thanks again for this excellent [tutorial](/zfsonlinux/zfs/wiki/Debian-Stretch-Root-on-ZFS) @gmelikov @rlaager . It seems the step involving the creation of `/usr/share/initramfs-tools/conf.d/zfs` in ¶ *"4.5 Install ZFS in the chroot environment for the new system"* is not necessary anymore in stretch as the file already exists and identical (provided by package `zfs-initramfs`)

[2017-08-17 07:18] gmelikov commented on #6525
Thanks, I've removed it.

[2017-08-17 07:18] #6525 closed

[2017-08-17 09:16] FransUrbo commented on #5958
Yes, I'm all good with this.

[2017-08-17 09:34] gmelikov commented on #6056
Recently i've already adopted wiki to Stretch release https://github.com/zfsonlinux/zfs/wiki/Debian-Stretch-Root-on-ZFS , and encryption is already in master branch, so I prefer to close this issue as stale, @sampablokuper if you won't mind. Thanks for your work!

[2017-08-17 09:34] #6056 closed

[2017-08-17 10:40] gmelikov commented on #5958
Thanks, looks like everyone agrees.

[2017-08-17 11:00] loli10K commented on #6001
ZFS features are documented and working as intended, closing.

[2017-08-17 11:00] #6001 closed

[2017-08-17 11:04] loli10K commented on #6471
Fixed in https://github.com/zfsonlinux/zfs/commit/3e6c9433474f0b6fc4880549c851bfb151c8c719 (not included in zfs-0.7.0-rc4), a Linux downgrade or ZFS upgrade will likely fix this, closing.

[2017-08-17 11:04] #6471 closed

[2017-08-17 11:09] loli10K commented on #6340
This seems a kernel issue, the stack doesn't even show traces of ZFS/SPL, closing.

[2017-08-17 11:09] #6340 closed

[2017-08-17 11:24] loli10K commented on #5615
Likely duplicate of #5835 caused by memory pressure/direct reclaim when using swap-on-ZVOL, closing.

[2017-08-17 11:24] #5615 closed

[2017-08-17 11:31] loli10K commented on #5075
Likey caused by a non-empty mountpoint, closing.

[2017-08-17 11:31] #5075 closed

[2017-08-17 11:58] loli10K commented on #4574
Likely caused by missing kernel sources, closing.

[2017-08-17 11:58] #4574 closed

[2017-08-17 12:21] loli10K commented on #4282
Sometimes udev needs a little push in the right direction:

[code]

I don't know if there's anything we can do in `zfs` via `libudev`, leaving this open in case someone wants to work on this.

[2017-08-17 14:51] setaou commented on #1761
I am having the same problem. For now i use zvol_inhibit_dev=1 as a workaround, but it is only acceptable because I dont need to actually use the zvols on the destination server.

[2017-08-17 15:04] thewacokid commented on #6518
Indeed, compression is disabled on these pools (they're for benchmarking / dev, so we wanted to avoid having to generate consistently compressible datasets).

arcstat.py 1 (while reading a 16 MB recordsize file)
`[root@stb-dsu-sn002 parameters]# arcstat.py 1
    time  read  miss  miss%  dmis  dm%  pmis  pm%  mmis  mm%  arcsz     c
08:35:36     0     0      0     0    0     0    0     0    0   2.2G

[2017-08-17 15:25] efocht commented on #6453
@ironMann `zfs_abd_scatter_enabled=0` didn't help. We see read performance regressions with 0.7.x as well. The new prefetcher seems to behave poorly. Setting `zfetch_max_distance` larger helps a bit, but we're not getting close to what we had with the old prefetcher.

[2017-08-17 16:33] nedbass commented on #6524
Ran into this while hunting a reproducer for #6366.

[2017-08-17 16:40] ironMann commented on #6453
@efocht Can you characterize your access pattern (continuous, strided, random, small files, ...) ? Also, can you paste `/proc/spl/kstat/zfs/zfetchstats` before and after the test you do? Thanks

[2017-08-17 17:46] behlendorf commented on #5958
Thanks everybody.  I've added a [License page](https://github.com/zfsonlinux/zfs/wiki/License) to the wiki git repository and referenced it from the footer.

[2017-08-17 17:46] #5958 closed

[2017-08-17 18:00] tonyhutter opened #6526 "VERIFY(size >= (1ULL << 9) || range_tree_space(msp->ms_tree) == 0) failed"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Fedora
Distribution Version    |  26
Linux Kernel                 | 4.11.9-300.fc26.x86_64
Architecture                 | x86_46
ZFS Version                  | v0.7.0-32_ga1f3a1c05
SPL Version                  | v0.7.0-12_g9df9692

### Describe the p

[2017-08-17 18:23] behlendorf commented on #6524
By chance did you try writing additional data to the pool to force trigger a few more txg syncs.  It looks like the txg_sync thread is waiting for a signal in `txg_thread_wait()->cv_wait_sig()` which somehow got missed or maybe lost?

[2017-08-17 18:40] tonyhutter commented on #6526
I added a printk and saw this on the failure:
[code]

[2017-08-17 19:23] ironMann commented on #6518
@thewacokid Have you tried increasing the `zfetch_max_distance` module parameter above `16MiB`? The value can be adjusted in runtime.

[2017-08-17 19:24] nedbass commented on #6524
Nope that doesn't work. Eventually the writes hang waiting for a new open txg.

Here is the tail of the debug log when the hang occurs:

[code]

[2017-08-17 20:00] tcaputi commented on #4830
Has there been any progress on this? I currently have a system exhibiting this problem. Is there anything I can do to help debug it?

[2017-08-17 20:24] behlendorf commented on #6526
The assertion here might be a tad too strict, but let's try and get @don-brady and @grwilson's thoughts on this.

[2017-08-17 20:31] nedbass commented on #6524
It's actually in `cv_wait()` here in `txg_quiesce()`:

[code]

[2017-08-17 20:38] behlendorf commented on #6524
Interesting, are there any clues as to which process didn't call `txg_rele_to_sync()` or just hasn't yet and is holding up the whole txg sync process?

[2017-08-17 21:04] jbnance commented on #971
Is there realistic potential for this issue to be addressed?  I'm in the same scenario - NFSv4 + bind mounts - and would very much like to have a reasonable, manageable solution.

[2017-08-17 21:28] #6510 closed

[2017-08-17 21:54] ssergiienko commented on #6507
@gmelikov Just tried with Debian ZFS version that you recommend and got same bug. System halted when started recv.
[code]
Sending side:
[code]

Is issue really fixed in v0.6.5.11 or that was just a guess?)

[2017-08-17 21:56] nedbass commented on #6524
I didn't see any obvious clues in the stack traces for all processes:

https://gist.github.com/nedbass/9a954e356b99910d6e06f01005e043b4

[2017-08-17 22:36] nedbass opened #6527 "(!copied) is equivalent to (hdr->b_l1hdr.b_freeze_cksum == NULL)"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | TOSS (RHEL 7.3 derivative)
Distribution Version    | toss-release-3.1-4.1rc2
Linux Kernel                 | 3.10.0-514.26.2.1chaos.ch6_1.x86_64
Architecture                 | x86_64
ZFS Version                  | v0.7.0-31_gc8f9061
SPL Version

[2017-08-17 22:41] nedbass commented on #6527
Duplicate of #5721

[2017-08-17 22:50] nedbass commented on #6524
Under a debug build I hit the following ASSERT when receiving the incremental stream:

[code]

[2017-08-17 22:59] nedbass commented on #6524
Changed it to a `ASSERT0` so we could see the actual txg value.

[code]

[2017-08-17 23:10] behlendorf commented on #6524
It looks like that `dmu_tx_abort()` call was changed from `dmu_tx_commit()` by the recent encyption patch.  That's not OK, once a TX is assigned it can't be aborted and must be committed.  We'll need to change that  back.  Let's also check with @tcaputi what the reasoning was here.

[2017-08-17 23:33] nedbass commented on #6366
@lnicola you may want to hold off on updating your ZFS until we get a fix for #6524. It looks like the encryption support commit b52563034230b35f0562b6f40ad1a00f02bd9a05 introduced a bug where receiving an invalid backup stream hangs the pool.

[2017-08-17 23:52] nedbass commented on #6524
I confirmed that the hang doesn't happen on the commit prior to the encryption patch.

[2017-08-17 23:54] nedbass commented on #6524
It turns out that the test script here is a reproducer for #6366, and the hang happens during the cleanup of the failed receive operation.

[2017-08-17 23:56] nedbass commented on #6366
I can reliably reproduce this issue with this script.

[code]

[2017-08-18 00:32] behlendorf commented on #6524
Does this fix the issue as expected?

[code]

[2017-08-18 01:32] tcaputi commented on #6524
Sorry. It looks like that was a typo on my part. I believe I thought that was the error handling for `dmu_tx_assign()`. Thanks for finding this.

[2017-08-18 05:33] ronnyegner commented on #6512
@tcaputi  I managed to reproduce the issue as follows:

On SOURCE (same ZFS version as target, VM with 1 GB memory, but under Virtualbox):

[code]

On TARGET:

[code]

On SOURCE:
`zfs send -c --raw testpool/encrypt/data@snap1| ssh root@XX.XX.XX.XX zfs recv testpool/test`

[2017-08-18 06:01] tcaputi commented on #6512
@ronnyegner
I'm sorry. I'm still having trouble reproducing this..... This is the script I am running, which is basically  just your script with both pools on the same box:

[code]

This issue should not be caused by memory configuration or distribution. Short of some strange issue where your systems are not using the latest version, but are reporting that they are I kind of don't know what to say

[2017-08-18 07:28] ronnyegner commented on #6512
@tcaputi
Hi,

I am also unable to reproduce it using the SOURCE side only:

[code]

Also not when I dump the data into a file, SCP the file to TARGET and read it back:

[code]

[code]
It seems to happen only when i copy the data via SSH?

[2017-08-18 07:54] filip-paczynski commented on #6469
I had similar problem, killed off zed, resilver finished just fine.

[2017-08-18 08:07] loli10K commented on #6467
You are spot on here:

[code]

`/bin/ksh` is "auto"-added as a dependency when we scan the source directory which includes the ZTS.

If desired we could exclude the test suite from the dkms package with something like this:

[code]

[2017-08-18 08:17] loli10K commented on #6361
This doesn't seem right: the error message you posted is from NFS sharing, not SMB sharing. It's likely you have set `sharenfs=on`on those datasets.

To be honest i don't think this is a ZFS bug.

[2017-08-18 08:55] loli10K commented on #6329
Is this still an issue? I cannot reproduce it here with the commands provided, this may be specific to your setup:

[code]

The thing about coredumps is they usually store a lot of interesting information about the problem, if you can still reproduce the crash we have the opportunity to debug this: install `zfsutils-linux-dbg` and get a backtrace from the core.

[2017-08-18 09:07] sanjeevbagewadi opened #6530 "Wrong TAG used by by mmp_write_uberblock() for spa_config_enter()"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Centos
Distribution Version    |
Linux Kernel                 | 4.4.14-1.el6
Architecture                 |  x86_64
ZFS Version                  |  0.7.1-1
SPL Version                  | 0.7.1-3_gce8260d

### Describe the problem you're observing
Saw

[2017-08-18 09:09] sanjeevbagewadi commented on #6530
The mmp_write_done() is trying to release the spa_config_lock SCL_CONF.
This lock should have been taken when mmp_write_uberblock() is called when the zio is created:
-- snip --
317 mmp_write_uberblock(spa_t *spa)
318 {
....
325
326         spa_config_enter(spa, SCL_STATE, FTAG, RW_READER);
....
355         label = spa_get_random(VDEV_LABELS);
356         vdev_label_write(zio, vd, label, ub_abd, o

[2017-08-18 09:15] ronnyegner commented on #6512
I have re-done everything:

### CLEANUP OLD VERSION ON TARGET

[code]

### GIT CLONE FROM TODAY ON TARGET (after reboot)

[code]

[code]

Compile:
[code]

### RE-CREATE` POOL ON TARGET

[code]

### CHECK MODULES ON TARGET

[code]

[code]

### NEW SEND FROM TARGET

[root@oeltest ~]# cat dump.zfs | ssh TARGET zfs recv testpool/test

Boom

[2017-08-18 09:48] ronnyegner commented on #6512
As a final test i have set up a new AWS instance completely from scratch using Ubuntu this time. I can also reproduce the same behavior there.

[2017-08-18 10:22] loli10K commented on #5186
Closing as stale, feel free to comment if this is still an issue. Also `zpool history -i` would be the place to start looking in case this happens again.

[2017-08-18 10:22] #5186 closed

[2017-08-18 10:24] loli10K commented on #5474
@AndCycle is this still an issue with 0.7.0? Can we close this?

[2017-08-18 10:28] AndCycle commented on #5474
@loli10K I am not able to run 0.7.1 without panic,
so this will gonna live for a while longer or if anyone else can do test it out,

this stats mismatch should be easy to reproduce on 0.6.5.11 by

attach an L2ARC,
running some metadata bench to produce workload for a while,
then removing L2ARC,

on my system this can be easily reproduce in one day.

[2017-08-18 10:31] gmelikov commented on #6507
IIRC there was some problems we fixed in 0.6.5.11, looks like it's not your case. Unfortunately the best method is to update to 0.7 on both sides, this release includes many useful updates, and this behavior may be found in other OpenZFS systems too. Fortunately it's only one minor regression we have.

Be ready for API/ABI incompatibility problems before version 1.0.

[2017-08-18 10:59] loli10K commented on #4851
This can be explained by the following comment: https://github.com/zfsonlinux/zfs/issues/1256#issuecomment-317913624

Your `zpool events` shows:

[code]
These ZIOs without `ZIO_FLAG_IO_RETRY` don't bump vdev stats: this is the reason your `zpool status` is "clear".

[code]

Not an issue, feel free to join the discussion in the zfs-devel mailing list if you have some thoughts on the matter.

[2017-08-18 11:10] loli10K commented on #4704
@lnxbil is this still an issue?

[2017-08-18 11:26] loli10K commented on #4262
@RubenKelevra is this till an issue? This may (or may not) be related to https://github.com/zfsonlinux/zfs/issues/6329.

Can you get a backtrace from the dump? Also `ulimit -a` or `cat /proc/$pid/limits`

[2017-08-18 12:12] NikosAlexandris commented on #4536
@gmelikov @drescherjm I updated recently to 0.6.5.11. I still have the same problem. Any other options to tweak? To narrow down the source of evil?

[2017-08-18 12:26] bunder2015 commented on #4536
I have a pair of machines that tend to "soft lockup" on boot, and its always udev that hangs.  Once they're booted I don't have any problems until I reboot again.  I suspect this might a hardware problem rather than a problem with ZFS.

[2017-08-18 12:30] #4071 closed

[2017-08-18 12:46] loli10K commented on #3964
Closing as stale: feel free to comment providing basic info about your setup (https://github.com/zfsonlinux/zfs/blob/master/.github/ISSUE_TEMPLATE.md) if this can still be reproduced.

[2017-08-18 12:46] #3964 closed

[2017-08-18 12:49] loli10K commented on #3962
Closing as duplicate of https://github.com/zfsonlinux/zfs/issues/5461

[2017-08-18 12:49] #3962 closed

[2017-08-18 13:24] loli10K commented on #3893
This should be fixed by https://github.com/zfsonlinux/zfs/commit/82710e993a3481b2c3cdefb6f5fc31f65e1c6798 which is included in the latest stable, closing.

[2017-08-18 13:24] #3893 closed

[2017-08-18 13:34] efocht commented on #6453
@ironMann The read test is sequential reads of huge files. Example: 2 zpools (raidz2), each takes 32 file reads, so 64 sequential streams in total.

zfetchstats are not really usefull, it seems. Result with (more or less) default settings:

[code]

A single zfetch related change improves the performance significantly, but zfetchstats doesn't show why:

[code]

As said, the performance of 0.6.5.X w

[2017-08-18 13:37] loli10K commented on #3669
Seems this was resolved. AFAIK the correct procedure is to `zpool replace` a disk and then remove it from the system, when it's no longer part of the pool.

[2017-08-18 13:37] #3669 closed

[2017-08-18 14:06] loli10K commented on #2563
Closing as stale and supposedly fixed.

[2017-08-18 14:06] #2563 closed

[2017-08-18 14:18] loli10K commented on #2297
Closing as duplicate of https://github.com/zfsonlinux/zfs/issues/6119.

Actually it's the other way around, #6119 is the duplicate, but since it's already using the new issue template and linking another (possibly) related issue i think it's better to close this one.

[2017-08-18 14:18] #2297 closed

[2017-08-18 14:28] loli10K commented on #1996
Supposedly fixed by https://github.com/zfsonlinux/zfs/commit/2f71caf2d926249920d1b9162550c56715cc6461, closing.

[2017-08-18 14:28] #1996 closed

[2017-08-18 14:30] RubenKelevra commented on #4262
This ticket is 1 and a half year open, no I cannot providea dump anymore, since they are deleted after 90 days or so.

I cannot provide uname -a from that time either, since at this time a completely different kernel was running on that machine - arch does very regular updates.

[2017-08-18 14:35] loli10K commented on #4262
Since we can no longer gather any meaningful information that would help debug the problem i'm closing this issue: we can reopen it when we have a reproducer.

[2017-08-18 14:35] #4262 closed

[2017-08-18 14:39] RubenKelevra commented on #4851
So the title is wrong, there was a reason zed wrote a mail.

Since this isn’t a bug anymore, I like to ask for a reopening:

This behavior should be changed, a of a disk read-error is a read-error of a disk and should be displayed as such for unrecoverable read-errors there is a line per raidz/pool to show this on that logical level.

I would never think that `zpool status` would not show such rea

[2017-08-18 14:49] loli10K commented on #4851
@RubenKelevra like i said, this is being debated in the zfs-devel mailing list which is better suited for this kind of discussion.

You may find some interesting work already being done here: http://list.zfsonlinux.org/pipermail/zfs-devel/2017-August/000132.html

[2017-08-18 14:50] ironMann commented on #6453
@efocht The prefetcher code underwent large rewrite for `0.7.0`, but your use-case should be handled well by the new code. No changes in `zfetchstats`, and a large number of misses indicate that the prefetcher is not recognizing the access pattern...

I could write a patch to instrument the prefetcher to expose more metrics into `zfetchstats` to hopefully get the reason why there are so many misse

[2017-08-18 15:11] efocht commented on #6453
Yes, I'm eager to test, please send me the patch!

[2017-08-18 15:29] kpande commented on #5796
you can manually unmount the extra mount point, and then it allows remount. doesn't seem like a bug here.

if you are writing to the /tank-test directory, zfs will not allow unmount.

if you are writing to the bind mount, it allows unmount of /tank-test, but not /mnt.

basically, the mount point you were writing to was not actually in use and neither was the bind mount.

for my test, I used `dd if

[2017-08-18 18:26] ironMann commented on #6453
Great, the patch is [here](https://gist.github.com/ironMann/e6f26ae9deb68752697799739c9c5d3c). Alternatively, you can pull my [branch](https://github.com/ironMann/zfs/tree/418df8b2d4a66bd8ed29b5ae1cf692ec4435d5c0) based on `0.7.1` tag. There should be plenty of information now in the kstats, but the behavior should be not changed.

[2017-08-18 19:00] snajpa commented on #4512
I do with HEAD at 376994828fd3753aba75d492859727ca76f6a293 and RHEL6 kernel.

[code]

[code]

[code]

[2017-08-18 20:43] tcaputi commented on #6512
I have identified the problem and am working on a fix. It should be done today or Monday.

[2017-08-18 22:26] brendangregg opened #6531 "ARC consuming 38% CPU for no reason"
This is a production system that has ZFS installed, but is not using ZFS. No pools, datasets, or ARC buffers.

It has suffered a performance loss as ZFS was consuming 38% CPU system-wide. This is a 4 CPU system. Here is the bottom of a CPU flame graph (open in a new tab to zoom):

![screen shot 2017-08-18 at 3 07 50 pm](https://user-images.githubusercontent.com/1101211/29479462-3b07cc8e-8427-11e7-

[2017-08-18 22:34] scotte commented on #6531
Here's what top was showing as we managed to catch one of the systems described above by @brendangregg in this state:

[code]

[2017-08-18 22:47] bunder2015 commented on #6531
Just curious, does this still happen on 0.7.x?

[2017-08-18 23:34] gaurkuma commented on #6531
I think we should not even call arc_adjust when ARC is less than c_min or when we do not need to shrink back to target size.

if (arc_size > arc_c_min) && (arc_size > arc_c)
   arc_adjust()

Also, the other thing i do not understand is if we really need to call arc_adjust in the reclaim thread. When kernel is under memory pressure, kswapd will invoke the registered shrinker functions which will ca

[2017-08-19 07:12] brendangregg commented on #6531
@gaurkuma right. At the very least, arc_adjust() should bail early (or not be called) if the arc_size is zero.

[2017-08-19 08:40] ironMann commented on #6531
`spa_get_random()` switched to using a PRNG in `0.7`. But I agree, the reclaim thread should be parked if there's nothing in the arc.

[2017-08-19 14:22] richardelling commented on #6531
I believe the test should be if the spa_namespace_avl is empty in the arc_reclaim_thread() loop.

[2017-08-19 15:10] yuqingdeng commented on #6044
I build rpm first and use alien to convert dkms noarch.rpm to deb.  That works.

[2017-08-19 15:55] satmandu commented on #6044
Do running commands like "zpool status" from installs of alien converted rpms of 0.7.x on a debian system still give you errors like this:

[code]

[2017-08-19 16:25] cytrinox commented on #3409
I could reproduce this issue on my system, too. Setting zfs_arc_min to 1G resolves the problem. Even during a txg_sync freeze and stuck rsync this immediately fixed it.

[2017-08-19 17:20] loli10K commented on #6531
@brendangregg is `zed` (ZFS Event Daemon) running on this system? And if it is by any chance running can you still reproduce this issue when you kill/stop it?

[2017-08-19 18:42] behlendorf commented on #6469
This was likely resolved in 0.7.1 by #6440.

[2017-08-19 18:46] gaurkuma commented on #6531
@richardelling spa_namespace_avl check may not be sufficient because I can have unused pools. For e.g in our use case we create pools upfront on multiple nodes in a cluster and some of them may not even get used for quite some time.

[2017-08-19 18:47] sempervictus commented on #6506
This is the sort of thing that hurts reputation if not addressed post-haste in releases. Large NFS setups used by hospitals will get murdered by this. Buildbots need strict mm testing most likely - the 0 size files taking up space after evict seems a decent way to verify such things.

[2017-08-19 18:51] jwittlincohen commented on #6044
Does the RPM --> DEB method install working systemd unit files?  When I build the kmod packages for Stretch, I have to manually mount my /home partition because systemd zfs.target service doesn't start.  See https://github.com/zfsonlinux/zfs/issues/6435.

[2017-08-19 18:54] Conan-Kudo commented on #6435
@jwittlincohen This makes it sound like that `zfs.target` is actually masked by the Debian system, and the Debian packages themselves unmask it during installation. Can you check to see if any zfs unit files show up on the system and if they're symlinks to `/dev/null`? What your report says indicates that the zfs.target is specifically blocked by default.

[2017-08-19 19:33] efocht commented on #6453
OK, so ... bad case:

[code]

[2017-08-19 19:50] efocht commented on #6453
Somewhat better case (but still 50% off the past dmu_zfetch from 0.6.5.X

[code]

[2017-08-19 20:19] behlendorf commented on #6467
We should really exclude anything which isn't a kmod.  The `zfs-dkms` package is only intended to provide the kernel modules, nothing for user space.

[2017-08-19 20:45] paulkramme commented on #3897
I experience the same issue.

[2017-08-19 21:45] jwittlincohen commented on #6435
@Conan-Kudo Thanks for the suggestion.  On my Debian Stretch system with the Debian-packaged ZFS binaries, /lib/systemd/system contains several zfs unit files including `zfs.target`.  However, on my VM with the custom kmod packages of ZFS 0.7.1, /lib/systemd/system contains no `zfs.target` or any unit files with "ZFS" in the name.

[2017-08-19 21:47] Conan-Kudo commented on #6435
@jwittlincohen Can you check to see if they may be in `/usr/lib/systemd/system` instead?

[2017-08-19 21:56] jwittlincohen commented on #6435
Nope, I see nothing relevant in `/usr/lib/systemd/system`.  The `zfs.target` and other ZFS related unit files are packaged by Debian in the `zfsutils-linux` package.  I do not see that package on the VM where I installed the custom kmod packages.  I checked the folder where I built the custom binaries and there is no zfs-utils binary.  I see packages entitled zfs, zfs-dracut, zfs-initramfs, zfs-te

[2017-08-19 22:54] Conan-Kudo commented on #6435
@jwittlincohen Huh, I think I know what's happened here. I bet it's installing the sysvinit scripts for Debian/Ubuntu targets.

[2017-08-20 02:50] jwittlincohen commented on #6435
@Conan-Kudo Your suspicion appears to be correct. I see init scripts for 'zfs-import', 'zfs-mount', 'zfs-share' and 'zfs-zed' in '/etc/init.d/' on the VM.  My Debian Stretch install with the Debian packages do not contain any ZFS init scripts in 'etc/init.d'.

[2017-08-20 03:41] dweeezil commented on #6427
I've certainly seen this in the context of Qemu/KVM VM guests as well and will concur with @gmelikov's observation that this can occur in other scenarios.  One of my "junk programs" [maxsbrk.c](https://github.com/dweeezil/junkutils/blob/master/maxsbrk.c), which I use on occasion to sweep away memory used by ZFS or other applications, can also be used to demonstrate the issue.  As best as I can tel

[2017-08-20 03:58] dweeezil commented on #6506
@dbavatar I'm finally in a position to start looking into this:  do you know whether the system is using memory cgroups, and if so, whether the issue occurs if they are disabled?  I remember while working on the problem which was fixed by 09fb30e5e9 that it can be very difficult to free memory when memcg's are being used.  Also, although you've only been describing the ARC state following a ```dro

[2017-08-20 07:08] fishdust commented on #6222
Same issue here:

[code]

[2017-08-20 07:21] gmelikov commented on #6427
@behlendorf it may be related to #6506, but I always had this issue on 0.6.5.8-0.6.5.11 too.

[2017-08-20 08:28] ironMann commented on #6453
@efocht Thanks for that. Are you using larger `recodsize`?
 I've updated my branch with a quick fix https://github.com/ironMann/zfs/commit/c35b14c6da31a0e0119fcf4ca5a17d90d14af5fc
In my ad-hoc testing, the number of hits is doubled. If this does not help, we have to investigate your access pattern in more detail.

[2017-08-20 08:57] efocht commented on #6453
Thanks! I'll test ASAP.

Yes, I use recordsize=1MB. Reads are driven by some parallel file system like Lustre or BeeGFS, thus issued by worker threads. So the purely sequential access can be slightly out of order due to the scheduling of these threads in the parallel file system above.

[2017-08-20 10:21] jwezel commented on #5956
@iamjamestl @Rudd-O can you guys test it out and see if it works in your systems? Place the generator in /etc/systemd/system-generators/zfs-root-fs-generator.sh, creating any missing directories and ensuring it is executable. Then remove existing workarounds and reboot. Be sure to keep some backups of your current configs to restore a working state, of course :)

Doesn't work for me. Still junk in

[2017-08-20 10:31] danielkza commented on #5956
@jwezel As I posted it, the generator only mounts datasets that are children of the root dataset. I updated the gist with a version without that limitation, if you want to try it again.

[2017-08-20 13:20] jacque8080 commented on #4830
Hi,

Apologize about the delay.  The recommended solution was to use a LSI SAS
9211-8i HBA.  I have been unable to allocate time to flash the card to
Target / IT mode.  I believe that is the solution for my issue.  Please let
me know if you have additional questions.

On Thu, Aug 17, 2017 at 3:00 PM, Tom Caputi <notifications@github.com>
wrote:

[2017-08-20 13:27] Tobi29 opened #6532 "Random checksum failures and corrupt data in zvols when running QEMU"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Arch Linux
Distribution Version    |
Linux Kernel                 | 4.12.8 (Vanilla as well as Zen)
Architecture                 | x86_64
ZFS Version                  | zfsonlinux/zfs@08de8c16f5d322fb594742ea78958385d8ee5b50 (using customized dkms pa

[2017-08-20 13:39] efocht commented on #6453
Unfortunately performance is worse with [ironMann/zfs@c35b14c](https://github.com/ironMann/zfs/commit/c35b14c6da31a0e0119fcf4ca5a17d90d14af5fc) . Number of hits is on the same level, increasing zfetch_max_distance to 512MB even reduces the performance (~1250MB/s). With 64MB zfetch_max_distance bandwidth is a little better (~2200MB/s) than with the 8MB default (~1750MB/s), but far from what we had

[2017-08-20 14:00] ironMann commented on #6453
@efocht I figured as much, this will not have an easy fix. Increasing the `zfetch_max_distance` has the consequence of re-prefetching the same blocks (hence the async-read pileup you noticed). The best bet with the current prefetcher is to figure out how many PFS worker threads you have and how is the file access split between them. Then try to set `zfetch_max_streams` just above the number of thr

[2017-08-20 14:09] jwezel commented on #5956
Yesss, _much_ better.

**However** now there is a problem with unmounting /var, apparently preventing exporting the volume, resulting in a failure to import it (requiring -f) next boot. I can't find a script or service dealing with unmounting, so I assume systemd is taking care of it itself.

[2017-08-20 20:27] xvzf commented on #4098
Hi there,

Happend again here. Running on ArchLinux (latest roll out as of 20.08.2017), I can send you the PKGBUILD if you want @behlendorf! I was able to reproduce it on 3 independent installations.

Linux:      4.12.8
GCC:        gcc (GCC) 7.1.1 20170630
SPL/ZFS:  0.7.1

[2017-08-20 21:23] DominicWrege commented on #6077
I have the same issue as @minorsatellite =(

[2017-08-20 22:14] thirtythreeforty commented on #6334
I can confirm this issue on CentOS 7 with Linux 3.10.0-514.26.2.el7.x86_64 and ZFS 0.7.1.  I'd be happy to send a kernel crash dump to someone interested.  In the interest of full disclosure, I am also running a proprietary FusionIO storage driver on an ioDrive Octal, but that does not seem to be causing any issues here—correct me if I'm wrong.

This occurs when receiving a stream created by the s

[2017-08-21 01:49] dsw0350 opened #6533 "PANIC at zil.c:565:zil_create()"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |
Distribution Version    |
Linux Kernel                 | linux-4.4.66
Architecture                 | x86_64
ZFS Version                  | 0.6.5.8-1
SPL Version                  | 0.6.5.8-1

### Describe the problem you're observing
When I execute th

[2017-08-21 02:20] spacelama commented on #6524
Talking of dmu_tx_assign, and chance #6317 is related?  That hang seems to be kicked along by forcing extra txg syncs, and one of the stack traces involves dmu_tx_assign().

[2017-08-21 07:02] GregorKopka opened #6534 "nop-write"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | rolling, stale as of Jun 2016
Linux Kernel                 | 4.1.12-gentoo SMP mod_unload modversions
Architecture                 | amd64
ZFS Version                  | 0.6.5-305_g46ab359
SPL Version

[2017-08-21 09:27] ironMann commented on #6453
@efocht I've pushed a new initial prefetcher implementation to https://github.com/ironMann/zfs/tree/prefetch_dmu
The new prefetcher is based on range map and should not issue any overlapping i/os. It should pickup linear ascending and descending access on larger files (also if multiple threads are used, like in your case). It cannot (yet) detect different access streams inside a single file, but t

[2017-08-21 11:50] efocht commented on #6453
Thanks! Here are some results with the new prefetcher. The number of hits increased significantly, reaps are rather few. The PFS on top was doing accesses with 512kB, maybe that's the reason why we see 900k hits vs. 450k x 1MB prefetches.
[code]

[2017-08-21 12:11] efocht commented on #6453
Increasing `zfs_max_distance` to 64MB helps. I switched the PFS back to 1MB transactions.

[code]

[2017-08-21 14:08] erikjanhofstede commented on #4512
@snajpa And still having these write performance issues?

[2017-08-21 14:37] tcaputi commented on #6524
@spacelama Probably not. This bug was merged along with the encryption patch.
@behlendorf I am preparing a follow up to the encryption patch which will fix this issue along with a few other bugs that have been found so far. I should have the PR submitted today or tomorrow.

[2017-08-21 15:04] ironMann commented on #6453
Thanks, I should have access to a Lustre node soon so I'll be able to continue development and tuning there. These numbers are very reassuring, even though this is a very basic implementation. In this case, `hits` just mean that the prefetcher decided to do something on the file access it saw. Miss is a signal that the access pattern was not recognized (or deemed to be random) and that no blocks w

[2017-08-21 15:45] behlendorf commented on #6524
@tcaputi I also saw some recent discussion in the OpenZFS Encryption PR regarding a crash when trying to zfs send/receive from an unencrypted to an encrypted dataset.  Have we seen this issue in ZoL?

[2017-08-21 15:48] tcaputi commented on #6524
Yes. Thats one thing I'm fixing as well. That one should be relatively trivial. It only happens when doing a `--raw` send of an unencrypted dataset. Seems like there is just a missing check somewhere.

[2017-08-21 15:59] #6315 closed

[2017-08-21 16:29] behlendorf commented on #6532
@Tobi29 this sounds a lot like issue #6238 which was just fixed in master by commit f763c3d1df569a8d6b60bcb5e95cf07aa7a189e6.  It would be great if you could pull the latest source and see if you're still able to reproduce this issue.

[2017-08-21 16:31] #1791 closed

[2017-08-21 16:31] #6429 closed

[2017-08-21 17:24] tonyhutter commented on #4851
@RubenKelevra I'm actively working on a fix for this.  I'll assign this bug to myself.

[2017-08-21 19:26] behlendorf commented on #6530
@ofaaland can you take a look at this.

[2017-08-21 19:37] behlendorf commented on #5474
@AndCycle which issue is preventing you from running 0.7.1 again?

[2017-08-21 19:38] behlendorf commented on #4704
Closing as stale.  We can reopen if it's still an issue.

[2017-08-21 19:38] #4704 closed

[2017-08-21 19:40] AndCycle commented on #5474
@behlendorf this one, https://github.com/zfsonlinux/zfs/issues/6522
I have no issue with v0.6.5.11

[2017-08-21 19:58] GregorKopka commented on #6534
Adjusted reproducer (no 2nd cp and added conv=notrunc to dd), nop-write still __not__ happening:

[code]

[code]

[code]

[code]

Anything else that I might be missing that stops nop-write from happening?

[2017-08-21 20:37] ofaaland commented on #6530
@sanjeevbagewadi ,
Thanks for your report.  Your analysis makes sense to me, but I'm unable to reproduce the panic you get.  I notice your SPL build has some additional patches beyond spl-0.7.1.  What are those patches?

thanks,
Olaf

[2017-08-21 20:38] loli10K commented on #6534
Yes.

1. the tunable `zfs_nopwrite_enabled` must be enabled.
2. compression must be enabled

[2017-08-21 21:33] GregorKopka commented on #6534
The tuneable was enabled (looks like default) but compression on the dataset was not, enabling that did the trick and nop-write became functional. Thanks for the pointers, now that I know what to search for I find it...

# Solved, but not satisfactory - some questions

Where in the documentation can this information be found, as it isn't in man zpool/zfs?

Who can update http://open-zfs.org/wiki/F

[2017-08-22 02:55] sdm900 opened #6537 "Hung zfs send"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  CentOS
Distribution Version    | 7.3.1611
Linux Kernel                 | 3.10.0-514.6.1.el7.x86_64
Architecture                 | intel x64
ZFS Version                  | 0.7.1-1
SPL Version                  | 0.7.1-1

### Describe the problem you'r

[2017-08-22 07:09] sanjeevbagewadi commented on #6530
Olaf,

I was running the zfs-testsuite with debug bits and it failed in : "Test:
/usr/share/zfs/zfs-tests/tests/functional/mmp/mmp_on_thread"

Here is a patch that I tested yesterday and that worked well :
-- snip --
diff --git a/module/zfs/mmp.c b/module/zfs/mmp.c
index 00478a3..a85c113 100644
--- a/module/zfs/mmp.c
+++ b/module/zfs/mmp.c
@@ -123,6 +123,7 @@ uint_t zfs_multihost_import_intervals

[2017-08-22 09:26] phreaker0 opened #6539 "kmod package generation fails"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04.3 LTS
Linux Kernel                 | 4.12.0-pf7+
Architecture                 | x86_64
ZFS Version                  | master
SPL Version                  | master

### Describe the problem you're observing

sinc

[2017-08-22 10:24] AceSlash opened #6540 "Changing /sys/module/zfs/parameters/zfs_arc_max doesn't work anymore (Ubuntu)"
I'm not sure if this should be an Ubuntu ticket instead, feel free to close that if it's an issue in the ZoL implementation by Canonical.

### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04.3
Linux Kernel                 | 4.4.0-57-generic
Architecture

[2017-08-22 10:30] #6540 closed

[2017-08-22 12:35] chassepa opened #6541 "ZFS-KMOD don't work after update from RHEL 7.3 to RHEL 7.4"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | RHEL
Distribution Version    | 7.4
Linux Kernel                 | 3.10.0-693.1.1.el7.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.1-1
SPL Version                  | 0.7.1-1

### Describe the problem you're observing

[2017-08-22 13:35] Tobi29 commented on #6532
Good to know that running a debug build to catch errors is possible, seems like this in fact fixed the issue for me as well. Thanks for the help either way!

[2017-08-22 13:35] #6532 closed

[2017-08-22 13:38] Rudd-O commented on #5956
This *probably* means there are wrong dependencies in the autogenerated mount units (systemctl show <unit> after boot will show the dependencies as it was loaded).  If the dependencies are correct (defaultdependencies no, before local-fs.target, conflicts shutdown, et cetera), then /var should be unmounted on shutdown in the exact opposite order it was mounted on boot, which means it should be unm

[2017-08-22 13:39] Rudd-O commented on #5956
@jwezel where's the latest Gist?

[2017-08-22 14:23] rocky-galveston opened #6542 "Debian-Jessie-Root-on-ZFS"
@gmelikov
@rlaager

hi,

ich cannot find the "Debian-Jessie-Root-on-ZFS" wiki page. could you please help me?

regards,

rocky.

[2017-08-22 15:01] utopiabound opened #6543 "PANIC at zfeature.c:294:feature_get_enabled_txg() during import"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Red Hat Enterprise Linux
Distribution Version    |  7.4
Linux Kernel                 | 3.10.0-514.26.2.el7_lustre.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.1-1
SPL Version                  | 0.7.1-1

### Describe

[2017-08-22 15:13] utopiabound commented on #6543
Command that PANICed was:
`zpool import -f zfs_pool_scsi0QEMU_QEMU_HARDDISK_disk13`

Attached is output of:
`zdb -vvvve zfs_pool_scsi0QEMU_QEMU_HARDDISK_disk13`
[zfs_pool_scsi0QEMU_QEMU_HARDDISK_disk13.zdb-dump-vvvv.txt](https://github.com/zfsonlinux/zfs/files/1242463/zfs_pool_scsi0QEMU_QEMU_HARDDISK_disk13.zdb-dump-vvvv.txt)

[2017-08-22 16:02] loli10K commented on #6543
This panic can be "reproduced" in a couple of minutes; output from one of my debian test boxes:

[code]

The real question here is: "how did he MOS get corrupted"?

[2017-08-22 16:59] ofaaland commented on #6530
@sanjeevbagewadi ,
Thanks for the suggested patch, but I really want to reproduce your panic before I submit a PR.  When you say

Can you be more specific?
thanks

[2017-08-22 17:07] sanjeevbagewadi commented on #6530
Olaf,

The zfs modules were built with debug flags (aka. --enable-debug) which
enabled the ASSERT().

Thanks and regards,
Sanjeev

On Tue, Aug 22, 2017 at 10:30 PM, Olaf Faaland <notifications@github.com>
wrote:

[2017-08-22 17:59] gmelikov commented on #6542
It was renamed and updated to Stretch.

Main difference - you must install zfs from backports and grub from stretch.

[2017-08-22 17:59] #6542 closed

[2017-08-22 21:45] dbavatar commented on #6506
@dweeezil I have memory cgroups compiled in, but disabled. I did test with it (coincidentally) enabled, it made no difference.

[2017-08-22 22:48] behlendorf commented on #6543
@loli10K how were you able to reproduce this?

[2017-08-22 22:51] thewacokid commented on #6518
@ironMann I have tried that, and it appears to not change the behavior meaningfully.  16 MB recordsizes work well for writing, but reading is still generating a lot of ARC misses and overreads.  4 MB recordsize appears to work well after tuning a few things, but I know I'm out on the edge in terms of wanting to use massive recordsizes. :)

The underlying issue appears to be a limitation in the sin

[2017-08-23 01:51] phik commented on #6497
Thanks!

I'm not sure that's a super-useful default.  I appreciate the nod towards safety in theory, but the actual result was to render it useless, and drive us to using an extremely-dodgy Python script that uses dd to zero out filesystem blocks (!).

So maybe file that under "unintended consequences".

At the _very least_ I would change "zpool import -T" -- if it sees that one of ``spa_load_veri

[2017-08-23 03:48] dweeezil commented on #6506
@dbavatar Thanks for the information.  I'll get a new round of tests run tomorrow after disabling most debugging.  I've been configuring my test system with ```--enable-debug --enable-debug-kmem --enable-debug-kmem-tracking``` which makes this type of testing unbearably slow.

[2017-08-23 03:53] dweeezil commented on #6497
The ```zpool import -T``` documentation could certainly use some clarification and/or cross-referencing.  I guess I was sufficiently happy to get those tunables documented that I overlooked the fact that they really ought to be referenced in the main ```zpool``` documentation.

[2017-08-23 04:45] loli10K commented on #6543
@behlendorf i just wrote garbage on all the 3 `mos->obj_dir->feature_enabled_txg` DVAs via dd to simulate corruption (ECKSUM): i don't think this PANIC is a bug, the real issue is the one that caused corruption on disk.

[2017-08-23 04:59] stewartadam commented on #6063
Note - I'm still seeing this on 0.7.1

[2017-08-23 05:25] loli10K commented on #6063
@stewartadam i'm not able to reproduce this on 0.7.x: can you provide the exact sequence of commands (and output) used to reproduce this on 0.7.1, kernel version and distribution information?

[code]

[2017-08-23 06:39] chrisrd commented on #6506
I can confirm the bisect by @dbavatar : `metadata_size` definitely drops a lot more before commit d3c2ae1 than after. Using same test setup as before, and on linux-4.4:

[code]

`dbufstat.py` after each test may be instructive:

[code]
...where the `...` was another 870-odd lines at the same objset / object / level but increasing blkids (with gaps in the sequence).

[2017-08-23 06:54] chrisrd commented on #6506
d3c2ae1 added some `arcstat` fields: `compressed_size`, `overhead_size` and `uncompressed_size`. The "after" test shows `overhead_size` is uncomfortably close to the blown-out `metadata_size`:

[code]
In fact, the final `compressed_size + overhead_size` precisely matches  the `metadata_size` - I'm guessing that's no coincidence.

I've no idea yet what this all means!

[2017-08-23 06:55] loli10K commented on #6506
With https://github.com/zfsonlinux/zfs/commit/d3c2ae1c0806b183a315e3d43cc8018cfdca79b5 the old `arc_user_evicts_thread`/`arc_do_user_evicts()`/`arc_buf_eviction_needed()` are gone, replaced by `dbuf_evict_thread` which has a different eviction policy.

Also `arc_buf_t { .b_efunc }` (`arc_evict_func_t` callback function) is gone, i think this was the old way to trigger dbuf eviction from the ARC wh

[2017-08-23 12:55] pavank commented on #6077
I too have the same problem

Distributor ID : Ubuntu
Description : Ubuntu 16.04.3 LTS
Release : 16.04
Codename :  xenial
Linux Kernel : 4.4.0-92-generic
Architecture : x86_64
ZFS Version: v0.6.5.6-0ubuntu16

 Running `systemctl enable zfs-import-cache` doesn't make any difference. I am still having the problem on reboot

[2017-08-23 13:11] pavank commented on #6077
I figured out a work around for this.

When I created the pool, I referenced disks by its name (/dev.sdx) .Read elsewhere this is a bad idea. So I exported the pool and imported back to reference the disk by its ID.The below 2 commands did the job for me.

[code]
Now.My pools are auto-mounting on reboots.

[2017-08-23 13:17] gmelikov commented on #6077
This tracker is for bugs only, please use our mailing lists for support.

Looks like the initial issuer has a problem with device paths, see @pavank 's answer.

Closed.

[2017-08-23 13:17] #6077 closed

[2017-08-23 14:02] brianjmurrell commented on #6543
Is it possible to at least handle this kind of situation in some non-blocking fashion with an error from userspace rather than having the userspace command hang indefinitely?

The latter is much more difficult to detect/debug, particularly when the commands are being driven by a non-human.

[2017-08-23 14:16] chassepa commented on #6541
I think this is the wrong place for that kind of issues.  I should have sent this message to the zfs-discuss list.

Paul-André

[2017-08-23 14:16] #6541 closed

[2017-08-23 15:36] trisk commented on #4486
Can you check if the send side still encounters a problem if the stream is written to /dev/null?

[2017-08-23 15:50] stewartadam commented on #6063
So I am currently on commit `b52563034230b35f0562b6f40ad1a00f02bd9a05` (encryption support) of master, I presumed that it would be equivalent to 0.7.1 since it was released many days prior but examining the release branch it looks like that's not the case.

When do the release branches get merged back into master?

[2017-08-23 16:14] tonyhutter commented on #6063
@stewartadam we cherry-pick bugfixes from `master` into the `zfs-0.7-release` branch and tag a 0.7.x release every couple months or so.  Since encryption is such a big commit, we'll probably let it sit in `master` until an 0.8.0 release (and not cherry-pick it for a 0.7.x release).

[2017-08-23 16:23] stewartadam opened #6547 "Clarify behavior of zfs send/recv with encryption"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Fedora
Distribution Version    | 25
Linux Kernel                 | 4.11.12-200.fc25
Architecture                 | x86_64
ZFS Version                  | 0.7.0-1 (git b52563034230b35f0562b6f40ad1a00f02bd9a05)
SPL Version                  | 0.7.1-1

(Su

[2017-08-23 17:31] stewartadam commented on #6547
Noticed something else, regarding the message *cannot receive incremental stream: kernel modules must be upgraded to receive this stream.*: I can reproduce this error by specifying the incorrect filesystem (or no snapshot name) to `zfs recv` when resuming a transfer.
[code]
Looks like better error handling can fix confusion around this particular message.

[2017-08-23 18:51] pashford commented on #3779
@don-brady,

It's been a year since the last update and I was wondering how this is progressing.

Specifically, I'm interested in DDT devices.  Moving the DDT onto dedicated high-speed devices should allow dedupe to function nearly as fast as the current memory-only implementation, but require much less memory.

For storage of VMs, dedupe could easily save much more space than compression, but the

[2017-08-23 18:53] DeHackEd commented on #3779
See #5182 for the WIP. It's gone through a few iterations but I'm running an (old) version here. Very satisfied thus far. (No dedup, just regular metadata)

[2017-08-23 18:54] behlendorf commented on #6435
@jwittlincohen I've proposed a patch in #6548 to try and do the right thing with systemd when building packages.  If you have a change can you try it out and see if it does resolve your issue.

[2017-08-23 18:56] nwf commented on #3779
@pashford So far as I know, DDT metadata can reside on L2ARC devices.  The only thing this would change is to permit writebacks to go to faster media, rather than the primary (spinning rust) storage.  That seems like it's unlikely to be a *huge* improvement vs. just having the DDT hang around in L2ARC.

[2017-08-23 19:18] pashford commented on #3779
@DeHackEd,

Thanks for the information.

@nwf,

If the writeback goes to a faster media, then a future DDT miss in the ARC/L2ARC would also go to that faster media, which would generate a performance bump.  As an example, if you have a 2PB pool of 7200RPM storage, and have a few fast SSDs (SATA, SAS or NVME) as DDT devices, the DDT performance WILL be better, especially if only a portion of the DD

[2017-08-23 20:29] eiselekd opened #6550 "libzfs_core.la dependency needed?"
On Ubuntu 17.04 and gcc  6.3.0 I get an link error when
compiling via `make deb` in the latest zfs (0.7.0) and spl (0.7.0) repo:

[code]

I needed to add libzfs_core.la to the places where libzfs.la was referenced to
being able to finish `make deb`:

[code]

[2017-08-23 20:35] bunder2015 commented on #6550
Most likely a duplicate of #5744, appears to be harmless.

[2017-08-23 20:39] loli10K commented on #6550
This could explain (and maybe fix) https://github.com/zfsonlinux/zfs/issues/6539

[2017-08-23 20:53] loli10K commented on #6550
@eiselekd how did you configure the build system? Any particular flag used? (e.g. `./configure --libdir=/path/to/libs`)

Another question: was a previous version of ZFS already installed on this system? And if it was, where did its libraries live? (running `ldd $(which zfs)` might help)

[2017-08-23 21:00] behlendorf commented on #6541
Packages for 7.4 will be added once the `3.10.0-693.1.1.el7.x86_64` kernel is available in the CentOS CR repository so we can build packages with mock.

[2017-08-23 21:05] eiselekd commented on #6550
No particular flags used. I use a directory in $d where $d/linux is the kernel $d/spl is the spl repo and $d/zfs is the zfs repo I compile in. Then I do a zfs build
`./configure --with-spl=$d/spl --with-spl-obj=$d/spl --with-linux=$d/linux --with-linux-obj=$d/linux; make deb`
I already installed the new version of zfs and dont have the old version left. The previouse version was from around 3 mont

[2017-08-23 21:49] loli10K commented on #6550
If i understand the error message correctly it seems the build system was trying to link against the "old" `libzfs_core.so` which did not define/export those symbols.

AFAIK `libzfs_core.so` should be pulled in from `libzfs.so` without any need to explicitly inform the linker: this somehow does not work very when we have multiple versions. The proposed patch will unfortunately only work when `libz

[2017-08-23 22:01] eiselekd commented on #6550
@loli10K  I found that the new installation uses /lib64, while the old installation seems to have used /lib to install the zfs libs:

[code]

Next I tried to rebuild zfs with the newly installed setup under /lib64. This time I was able to compile it **without** the libzfs_core.la patch. So it seems that the /lib to /lib64 transition causes the error...

[2017-08-23 23:20] behlendorf commented on #6497
@dweeezil thanks for reminding me about these tunings, they had entirely slipped my mind.

@phik maybe even worse than that.  The `spa_load_verify()` logic currently abandons any TXG which has even a single unrecoverable error found in the metadata.  You would need to disable the meta checks entirely to recover a pool in this state.

Indeed.  These default values could end up making the `-X` and `

[2017-08-23 23:40] behlendorf commented on #6543
@loli10K I see.

@brianjmurrell you can set the module option `spl_panic_halt=1` to cause the system to panic rather than hang to make detecting the issue easier.  But it'd still like to understand how you managed to damage the pool in this way.

[2017-08-23 23:51] chrisrd commented on #6506
d3c2ae1 added a "[dbuf cache](https://github.com/zfsonlinux/zfs/blob/d3c2ae1c0806b183a315e3d43cc8018cfdca79b5/module/zfs/dbuf.c#L101)" with associated zfs parameters (undocumented in `man5/zfs-module-parameters.5` - that's a bit naughty!) including `dbuf_cache_max_bytes` and `dbuf_cache_max_shift`. On my 1GB test box, these default to:

[code]

After running the same `find` + `drop_caches`  tests

[2017-08-23 23:54] #6512 closed

[2017-08-23 23:54] #6524 closed

[2017-08-24 00:06] phik commented on #6497
Thanks, Brian.  My first reaction is that this sounds pretty sensible.

As it happens, this corruption _was_ on a Lustre MDS pool, so it sounds like we'd possibly still need to take heroic action to recover in finite time -- but as you say, that may still be a reasonable default.  So long as that behaviour and mitigation are discoverable, I don't think that's a problem.

[2017-08-24 00:21] tuxoko commented on #6506
I kind of glance through the changes in d3c2ae1, it seems they added a lru list for dbuf, and it has a size of 100M. Those 100M will pin ARC down. I wonder if we should make this value float according to arc size, so that when we do shrink, we would shrink dbuf list as well...

[2017-08-24 01:44] stewartadam commented on #6547
I rebuilt ZFS with the latest round of send/recv fixes, so instead of b52563 my code is now tag zfs-0.7.1 + the following cherry-picked from master:
- Add libtpool (thread pools) (`46364cb2f35545a7fc915df9593b719a94c43a83`)
- Send / Recv Fixes following b52563 (`9b8407638da71ea9f4afb21375f991869f19811f`)
- Native Encryption for ZFS on Linux (`b52563034230b35f0562b6f40ad1a00f02bd9a05`)
modinfo for

[2017-08-24 02:30] chrisrd commented on #6506
Like this? https://github.com/chrisrd/zfs/commit/9fa593d

[code]

Maybe it needs a `dbuf_cache_min_bytes` and/or `dbuf_cache_min_pct` (as a function of ...`arc_meta_limit`?) to prevent the dbuf cache collapsing completely as a result of `arc_c` getting low. Or not.

[2017-08-24 04:45] loli10K commented on #6506
Precisely, and looks like the "`[arc_reclaim]` burning a core"-thing i was seeing is not related to this change, it happens when i rapidly fill the ARC running `find` on a ~1mil 0-byte files even on https://github.com/zfsonlinux/zfs/commit/d3c2ae1c0806b183a315e3d43cc8018cfdca79b5.

I only have one question: why `arc_c`/`arc_target_bytes()` and not `arc_size`/`arc_bytes()`?

It would be nice if you

[2017-08-24 06:04] stewartadam commented on #3409
I experienced the same issue on a large (multi-TB) zfs send/recv to mirror my pool to a new pool featuring the new native encryption. Setting min arc size per comments above immediately unblocked I/O and CPU.

[2017-08-24 06:44] wangdbang commented on #6468
It seems that we met the same issues with the steps
1. created 4 pools
2. run some ios on them with dd write
3. export the pools after dd finish
4. import the pools and repeat the 2,3,4 steps.

[2017-08-24 06:46] chrisrd commented on #6506
The thinking for `arc_c` over `arc_size` was we want to help get where we're going (i.e. the target) rather than concentrate on where we are. Currently running local `zfs-tests` b/f opening pull request.

[2017-08-24 07:42] arturpzol opened #6554 "Unable to handle kernel NULL pointer dereference __kmalloc_node"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian Jessie
Distribution Version    | 8
Linux Kernel                 | 4.4.45
Architecture                 | x86_64
ZFS Version                  | 0.7.1-1
SPL Version                  | 0.7.1-1

### Describe the problem you're observing
Hanged syst

[2017-08-24 08:17] woquflux opened #6555 "Random Write amplification 2~3x？"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Redhat
Distribution Version    | 7.2
Linux Kernel                 | 3.10.0-327.el7.x86_64
Architecture                 |
ZFS Version                  | 0.6.4.2
SPL Version                  | 0.6.4.2

### Describe the problem you're observing

Write a

[2017-08-24 09:04] RubenKelevra commented on #4851
@tonyhutter thanks Tony, highly appreciate it!

[2017-08-24 09:06] RubenKelevra commented on #4262
Thanks :)

[2017-08-24 09:36] jumbi77 commented on #4851
Yes, i appreciate it too! Much thanks.

[2017-08-24 11:28] devZer0 commented on #6521
I have also observed some ARC weirdness i cannot explain . This way ARC usage also does not meet my expectation. Something weird is going on here or my expectation from ARC/L2ARC is wrong or the workload "too exotic".

I have a large ZFS fileserver where i run nightly rsync backup from >100 other machines.

If i freshly boot the server, after backing up the largest client with about 1Mio files, AR

[2017-08-24 12:56] jwittlincohen commented on #6435
@behlendorf I built new SPL and ZFS kmod packages on Debian Stretch (9.1) from git using the proposed patch. I am still seeing the same behavior - init scripts are being installed rather than systemd unit files. Happy to test again with a new patch.

[2017-08-24 13:58] ronnyegner commented on #6512
Confirmed. Newest changes to master solve the issue.

[2017-08-24 17:09] behlendorf commented on #3409
@cytrinox @stewartadam would it be possible for either of you to experiment a little to determine if smaller values of `zfs_arc_min` would have also avoided the issue.  We'd rather not increase this minimal value more than we need too.  Thanks.

[2017-08-24 17:54] dbavatar commented on #6506
@chrisrd

I think we need it.

I don't think it's a leak in the traditional sense, but in the behavioral sense. You just can't get rid of the memory while running, and keeps growing for every file you access.

Although the title of the issue has to do with metadata, the real issue here is we can't shrink zfs memory footprint to 0 (or minimum settings) via shrinker callback, and that opens up pando

[2017-08-24 21:04] Lady-Galadriel opened #6556 "Native encryption - request to allow raw keys on devices, (like USB flash)"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | Rolling
Linux Kernel                 | 4.9.34
Architecture                 | AMD64
ZFS Version                  | 0.7.0-33_g08de8c16
SPL Version                  | 0.7.0-12_g9df9692

### Describe the problem you're ob

[2017-08-24 21:32] Lady-Galadriel opened #6557 "Native encryption - Odd behavior for copies=3: inherited and at dataset creation"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | Rolling
Linux Kernel                 | 4.9.34
Architecture                 | AMD64
ZFS Version                  | 0.7.0-33_g08de8c16
SPL Version                  | 0.7.0-12_g9df9692

### Describe the problem you're ob

[2017-08-24 21:35] loli10K commented on #6557
May be related to https://github.com/zfsonlinux/zfs/issues/5229

[2017-08-24 21:38] Lady-Galadriel commented on #6557
@loli10K, Yes, I agree it's related. Basically we keep this simply as a tracker whence the parent issue #5229 is resolved. Then simply re-test this specific case.

[2017-08-24 21:44] cwedgwood commented on #6557
See https://github.com/zfsonlinux/zfs/blob/master/include/sys/spa.h#L296 as to why.

[2017-08-24 21:57] tcaputi commented on #6547
Thanks a lot for reporting this. I am currently looking into Scenario 2, but its proving a bit difficult to track down (althought I can reproduce it consistently). It seems to have something to do with the interaction with async_destroy feature. Another interesting fact is that it does not seem to happen if you sleep for any amount of time between the recv and the destroy.

Scenario 4 looks like i

[2017-08-24 22:00] tcaputi commented on #6557
Yeah, this is the same issue as #5229. The good news is that the encryption patch is coded to be resistant to this problem. It will only use the maximum 2 copies

[2017-08-24 22:00] Lady-Galadriel commented on #6557
@cwedgwood, Yes, I know `copies=3` is not supported for ZFS native encrypted datasets. It's as @loli10K says, just a different code path that allows odd behaviour.

[2017-08-24 22:05] tcaputi commented on #6556
This can probably be fixed pretty easily. I have another follow-up patch with bug fixes and additional tests and such which could definitely include this. I'm not really sure what the security advantage of using partitions for the keys instead of files might be, however. From a cryptographic standpoint this really doesn't matter and from a Linux permissions standpoint, you should be able to just c

[2017-08-24 22:10] Lady-Galadriel commented on #6557
Thinking about it a bit more, I would think that both of these should give fatal errors;

`zfs create -o copies=3 -o encryption=on ... POOL/DATASET`

`zfs set copies=3 POOL`
`zfs create -o encryption=on ... POOL/DATASET`

For the inherited case, you can work around the issue by forcing only 2 copies ala;

`zfs set copies=3 POOL`
`zfs create -o copies=2 -o encryption=on ... POOL/DATASET`

[2017-08-25 00:02] kernelOfTruth commented on #3744
CC: @skiselkov @ahrens @lundman

[2017-08-25 00:26] lundman commented on #6547
Scenario 2 sounds like it could be related to the immediate-destroy problem I had on the IllumOS port, so I stuck in the test:

https://github.com/openzfsonosx/openzfs/blob/zol_crypto/usr/src/uts/common/fs/zfs/dsl_destroy.c#L824

Which means it will use the slow destroy method for encrypted datasets. I assumed it was a race between the key being released before the final async write, but I never c

[2017-08-25 00:46] stewartadam commented on #3409
I'm in the middle of a multi-TB copy and just changed the zfs_arc_min from 1G to 128M and it's been progressing fine for the last ~4 hours... but not sure if having it prior set to 1G affects the results.

[2017-08-25 01:10] tcaputi commented on #6547
@lundman Once I figure this out you should be able to remove that from your port. Its not a race on the key being released. It seems that something in the async_free code is dirtying the objset for some reason.

[2017-08-25 02:39] daxtens opened #6560 "member access within null pointer of type 'struct mount'"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04
Linux Kernel                 | 4.10.17+ (Ubuntu Zesty kernel + KASAN + UBSAN)
Architecture                 | amd64
ZFS Version                  | 0.7.1 from source
SPL Version                  | 0.7.1 from sourc

[2017-08-25 03:05] dweeezil commented on #6497
@behlendorf That proposal sounds perfectly fine to me.  When I first documented these tunables, I was certainly thinking that at the very least additional documentation ought to be added to the ```zpool import -T``` case (now that we actually document it), but changing the behavior as you suggested makes a whole lot more sense (plus the requisite additional documentation).

[2017-08-25 09:45] arturpzol commented on #5226
Looks like similar call trace I experienced on 0.7.1-1 with kernel 3.10 and 4.4.

3.10.103:

[code]

4.4.45:
[code]

I think that I have full scenario which leads to this issue so if any debug is necessary we can collaborate.

[2017-08-25 09:47] hoonetorg commented on #6541
http://mirror.centos.org/centos/7.3.1611/cr/x86_64/Packages/kernel-3.10.0-693.1.1.el7.x86_64.rpm
that one ^^^ ;)

[2017-08-25 09:52] dcrdev commented on #6541
Please please update the kmods for the 693 kernel, the mainline kernel has a nasty bug in it with nvme storage that causes issues with zfs; it's fixed in 693 though.

[2017-08-25 14:31] zmielna commented on #4492
Bump, I'm hit by this too, CentOS Linux release 7.3.1611 on both source and target.

[2017-08-25 15:29] behlendorf commented on #4492
Reopening.  @zmielna @williamstein can you post the zfs version you were using.

[2017-08-25 15:38] kernelOfTruth commented on #6453
I've sent off the new initial prefetch to a PR [https://github.com/zfsonlinux/zfs/issues/6453#issuecomment-323693969]

if it passes I can do an Android ROM (AOSP or LineageOS) build test-run to see how it differs in the time needed to build it before vs. after - if that is useful

[2017-08-25 15:52] kernelOfTruth commented on #4492
Referencing commits:

https://github.com/zfsonlinux/zfs/commit/671c93546cc0471ff3b4039e82d6f2a77de6d413 OpenZFS 4986 - receiving replication stream fails if any snapshot exc…
…eeds refquota

https://github.com/zfsonlinux/zfs/commit/8c62a0d0f39c450d1fdb001b8073193f89611f56 OpenZFS 6562 - Refquota on receive doesn't account for overage

(both in-tree since 0.7.0-rc1)

[2017-08-25 16:07] tcaputi commented on #6547
So Scenario 2 is being caused by a pre-existing problem with `dmu_objset_upgrade_stop()`. It seems this function has never waited for the txg to sync out before returning. So the user accounting updates were leaking past the time when the objset was disowned. I have a fix for this and will be putting it in the upcoming PR (along with a few other things).

Interestingly, this had nothing to do with

[2017-08-25 17:13] ironMann commented on #6453
@kernelOfTruth Thanks for the effort you're investing in this. @efocht had some success with the code but the patch is in a very rough initial stage. I've just pushed some work from today to enable more sensible prefetching when a stream is first identified. If you go through with the test, I would be very interested in seeing `zfetchstats` and `arcstats`. I'm not sure how useful block prefetching

[2017-08-25 18:17] tcaputi commented on #6547
@stewartadam I am having some trouble reproducing Scenario 4.

I am currently running the following (after your setup commands):

[code]

I get the expected message:
[code]

Are these the same commands you are using?

[2017-08-25 18:18] zmielna commented on #4492
Certainly, it's kmod zfs package in my case and this here is zfs version on source machine:

[code]

[2017-08-25 18:23] ironMann commented on #6500
Here's a stack trace of a possibly related issue. This was testing unrelated code, but the stack-trace is suspicious. TL;DR `db->db_blkid` is invalid in `dbuf_read()`

[code]

Full[ link to the builder](http://build.zfsonlinux.org/builders/Fedora%2026%20x86_64%20%28TEST%29/builds/579/steps/shell_8/logs/console/text)

[2017-08-25 19:23] dmaziuk opened #6565 "centos 7.4 is (almost) out, please build kmod-*.el7_4"
As usual, `kmod-[zfs|spl]` does not load into the new kernel: `3.10.0-693.1.1.el7`. It's in "continuous release" now, 7.4 is not "officially" out yet.

[2017-08-25 19:28] loli10K commented on #6565
This is already being tracked in https://github.com/zfsonlinux/zfs/issues/6541, please use the search functionality next time, thanks.

[2017-08-25 19:28] #6565 closed

[2017-08-25 19:32] dmaziuk commented on #6541
sorry, searching for "centos 7.4" didn't find "RHEL 7.4" for some reason ;)

[2017-08-25 20:03] behlendorf commented on #6541
0.7.1 packages have been posted for RHEL/CentOS 7.4.  Updated zfs-release packages:

http://download.zfsonlinux.org/epel/zfs-release.el7_4.noarch.rpm

[2017-08-25 20:25] dmaziuk commented on #6541
you rock!

Just a reminder to everyone: it'll be installed as `zfs.repo.rpmnew`

[2017-08-25 20:35] chassepa commented on #6541
Thank You Brian for the update.

Now I understand that the releases of ZFS for RedHat/CenOS depend on
CentOS release date and not on RedHat release date.
So next time Red Hat will release a new branch, I will wait for the
release of the same branch on CentOS before trying to update ZFS.

Thanks again.

Paul-André

______________________________
*Paul-André Chassé*, B. Sc.
Analyste de l'informatiqu

[2017-08-26 14:16] clefru commented on #3744
I am offering a symbolic bounty of 0.025 BTC (~100$ at current price) for the committer of this feature expiring 2017/11/01. To claim, please mail me a BTC address.

[2017-08-26 15:51] kernelOfTruth commented on #6453
Seems like there was quite the improvement:

previously known build time:

cache cold build [e.g. after boot] + l2arc:

~ 01:45:00 (hh:mm:ss))

build from yesterday with prior zfs_master (https://github.com/kernelOfTruth/zfs/commits/zfs_master_09.08.2017_0.7.0%2B)

no stats, repo sync (minor sync up - so the files were crawled already after reboot) + l2arc:

#### make completed successfully (01:30

[2017-08-26 16:22] ironMann commented on #6453
@kernelOfTruth Thanks for sharing.
Let me try to clarify few of the arcstat fields, and what I think could be the good metric for judging the efficiency of prefetchers:
- `prefetch_data_hits ` - prefetch block found in ARC. This is partly ok, but we want to keep this as low as possible to avoid useless lookups.
- `prefetch_data_misses ` - prefetch block not in ARC. These blocks are fetched in the

[2017-08-26 17:26] voidzero commented on #3356
Hello. This bug is still open. I don't know how much it matters that the newline isn't trimmed but I guess it's better to make sure that it is - that it gets valid input.

[2017-08-26 17:27] voidzero commented on #3356
By the way, I can't reopen this issue myself. @gmelikov @behlendorf maybe one of you can take a look?

[2017-08-26 21:54] yuqingdeng commented on #6044
I only converted dkms rpm to deb.  Same problem, I have to import zfs by hand after 0.7 upgrade.

[2017-08-26 21:56] williamstein commented on #4492
I'm using
[code]

And -- in case you want to TRULY CRINGE -- here is the actual Python code I'm using in production (on cocalc.com) to workaround this bug (the code recvs a bunch of streams that are gcsfuse mounted from google cloud storage buckets):

[code]

(and thank you @behlendorf for all you do on zfsonlinux; I'm a huge fan.)

[2017-08-26 22:02] yuqingdeng commented on #6435
ubuntu zfsutils-linux constains /sbin/zfs /sbin/zpool as well as /lib/systemd/system/zfs*service .
I had to remove it to install zfs-0.7.1 deb, thus losing automount.

[2017-08-26 22:24] afontenot commented on #971
@jbnance IMO, the correct Linux solution to this problem is described at the bottom of this [article on the Arch wiki](https://wiki.archlinux.org/index.php/ZFS#Bind_mount).

Basically, you want to add a mount option in your fstab that will cause the system to wait for the file system to be mounted.

    /mnt/zfspool	/music	/srv/nfs/music		none	bind,x-systemd.requires=zfs-mount.service	0 0

[2017-08-26 23:35] stewartadam commented on #6547
Scenario 3 is difficult to reproduce, but I was able to make it happen again (this time not with the test scenario, but rather when I interrupted the send/recv of a 40GB filesystem twice along the way.

Re: Scenario 4, my apologies -- I set that one up hypothetically and it didn't follow the test scenario. Here's one that does:
[code]

[2017-08-26 23:44] kernelOfTruth commented on #4492
Referencing further:

https://github.com/zfsonlinux/zfs/commit/fcff0f35bd522076bdda7491c88a91cc0aa531a3 Illumos 5960, 5925
5960 zfs recv should prefetch indirect blocks
5925 zfs receive -o origin=

(also included in-tree since 0.7.0-rc1)

[2017-08-27 05:29] phik opened #6570 "resilvering of a device appears not to stop when the device is offlined?"
I looked through all 75 of the open resilver-related issues, but didn't see anything quite like this.

### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 7.3.1611
Linux Kernel                 | 3.10.0-514.6.1.el7.x86_64
Architecture                 | x86_64
ZFS Versio

[2017-08-27 05:32] loli10K commented on #6570
https://github.com/zfsonlinux/zfs/issues/6076

[2017-08-27 05:55] phik commented on #6570
I see, yes, fair enough.  The subject didn't seem particularly relevant at the time, but now I see that this is one of the questions raised inside.

[2017-08-27 12:21] jbnance commented on #971
@afontenot thanks for the info, I'll try it out.  If it works as described on other distros (especially EL7+) I would agree.  I've been using the `_netdev` option thus far to try and deal with this so the `x-systemd` stuff is a natural progression.

[2017-08-27 18:15] justinlynn commented on #3744
Interestingly, it appears the TRIM change they've blocked on has no pending open review issues (at least at <https://reviews.csiden.org/r/263/>) but the last update was months ago. Additionally, the TLS cert has expired... so, is that even in use?

[2017-08-27 21:27] Lady-Galadriel commented on #6556
Since hex / raw keys are always 32 bytes, perhaps simply truncating any additional hex / raw byte values greater than 32?

This would then be documented behavior in the manual page. And take care of all cases equally.

[2017-08-28 00:33] richardelling commented on #4262
For the archives, "zpool status -D" provides the information that "zdb -DD" presents and the zpool command is preferred over zdb when possible.

[2017-08-28 00:40] richardelling commented on #6555
I believe this is working as designed. For a brand new dataset, there is no pre-existing metadata. By default, there will be 2 copies of metadata and 1 copy of the data. So this benchmark is creating and writing new metadata (2x) + 1 data for every random block written.

Over time, the metadata will catch up and data that shares metadata blocks should result in fewer overall writes.

[2017-08-28 01:49] panxw1987 commented on #6533
I had the same problem when zpool import.
[18591.342161] VERIFY(!claimed || !(zh->zh_flags & 0x2) || (max_blk_seq == claim_blk_seq && max_lr_seq == claim_lr_seq)) failed
[18591.343740] PANIC at zil.c:392:zil_parse()
[18591.344307] Showing stack for process 22540
[18591.344310] CPU: 2 PID: 22540 Comm: dmu_objset_find Tainted: P           O    4.4.66-v64 #1
[18591.344312] Hardware name: AIC HA401-LB

[2017-08-28 02:02] panxw1987 commented on #5953
I had the same problem. kernel is 4.4.66 and zfs/spl is 0.6.5.8-1.
[428695.428349] VERIFY3(0 == rt->rt_space) failed (0 == 730112)
[428695.429356] PANIC at range_tree.c:153:range_tree_destroy()
[428695.430331] Showing stack for process 14675
[428695.430337] CPU: 8 PID: 14675 Comm: zpool Tainted: P           O    4.4.66-v64 #1
[428695.430339] Hardware name: AIC HA401-LB2/LIBRA, BIOS LIBAS061 06/28/

[2017-08-28 04:00] woquflux commented on #6555
Thanks for your reply~

So this phenomenon should be disappeared If I did precondition like dd the entire disk?

[2017-08-28 04:17] tcaputi commented on #6556
This is true for now, but is not actually a limitation of the implementation. At the moment all wrapping keys are 256 bits simply because that is the strongest version of both the AES-CCM and AES-GCM encryption ciphers. In the future, when 512 bit encryption becomes more widely used we will want to be able to add those ciphers in without breaking existing code.

The more I think about this, the le

[2017-08-28 09:16] hubslave commented on #6541
When updating to EL7.4, will it be necessary to uninstall zfs first and then install it again as when updating from EL 7.2 to EL7.3?

"When updating to RHEL/CentOS 7.3 the existing kmod packages will not work due to upstream kABI changes in the 3.10.0-514 kernel series. After upgrading to 7.3 users must uninstall ZFS and then reinstall it as described in the kABI-tracking kmod section. Compatible

[2017-08-28 10:16] zviratko commented on #6504
Try having lots of snapshots of the datasets as well. It seems to happen after the ZVOL itself is received, but before any subsequent snapshots (I don't know what gets generated into zfs send stream with -R and in what order).
Now that I think of it, I don't think zfs receive should want to do more work on the same dataset, but one possibility is that (in my case) the datasets often have clones wh

[2017-08-28 11:25] arturpzol commented on #5226
As I mentioned I had full scenario which leads to this issue (connected with buf_hash_remove) so I enabled debug and experienced below call trace:

[code]

so seems that it is the same as in https://github.com/zfsonlinux/zfs/issues/6238

I tried fix https://github.com/zfsonlinux/zfs/commit/f763c3d1df569a8d6b60bcb5e95cf07aa7a189e6 and issue did not occur again.

[2017-08-28 13:00] erikjanhofstede commented on #4512
I'm running 0.7.1 for a couple of days now and the write performance issue I was having with 0.6.5.x seems to be gone!

[2017-08-28 15:13] tcaputi commented on #6547
Scenario 4 doesn't really have anything to do with encryption and the issue is easy to replicate without ever creating an encrypted dataset. What's happening here is that the kernel is doing a bunch of sanity checks to make sure that its resuming the correct receive. If any of these checks fail it will return EINVAL and all EINVALs end up printing that message. Would you mind opening up a separate

[2017-08-28 16:17] Lady-Galadriel commented on #6556
@tcaputi, I understand. There is no hurry to make any change.
<hr>
Basically the use case is in a data center. From a Unix System Administrator's point of view, whence I have to set up a procedure for operations staff, like a scheduled reboot, I need it to be as straight forward as possible. The procedure I outlined using a USB flash drive with un-mountable partitions requires little intervention

[2017-08-28 17:35] behlendorf commented on #6541
@hubslave yes.  Thanks for pointing this out, I'll update the wiki to also reference EL7.4

[2017-08-28 17:42] gregwalters commented on #4869
I have a similar problem with a host that has 32GiB of ram and is a isci/nfs target. I've got ~28GiB dedicated to ZFS and the ARC target size keeps shrinking despite seemingly low pressure for ram and huge pages are disabled.

Free output:
[code]

[2017-08-28 17:42] dmaziuk commented on #6541
FWIW I did `yum in http://download.zfsonlinux.org/epel/zfs-release.el7_4.noarch.rpm`, renamed/edited `zfs.repo.rpmnew`, run `yum -y up && reboot` and my `/tank` was there afterwards.

[2017-08-28 18:37] tcaputi commented on #6556
Are you aware of the capabilities of the "prompt" keylocation? This allows you to pipe the key to `zfs load-key` and its companion commands. For instance you can do something like this:

[code]

It seems that in either implementation you will need to have a script (probably hooked into udev) to load the key upon inserting the usb drive (as long as you don't want the operations people to have to lo

[2017-08-28 19:19] Lady-Galadriel commented on #6556
Yes, I am aware of the prompt keylocation feature.

I think you are missing the main point. If the USB flash drive is installed and the keylocation references a partition device, no interaction is required during a boot sequence. Meaning someone plugs in the USB flash drive before reboot, waits til reboot is complete, then removes the USB flash drive to secure it. (Or re-use it on another server b

[2017-08-28 19:27] hubslave commented on #6541
@dmaziuk so you did not have to do uninstall zfs - update to EL7.4 - install zfs process? everything worked fine?

@behlendorf please is it also necessary to export all pools before update of EL and reinstall of zfs?

[2017-08-28 20:26] k-u-bux opened #6572 "zfs send -R fails cannot send more than 65535 snapshots"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  gentoo
Distribution Version    |  rolling release
Linux Kernel                 |  4.4.6
Architecture                 |  amd64
ZFS Version                  |  0.7.1-r0-gentoo
SPL Version                  | 0.7.1-r0-gentoo

### Describe the problem yo

[2017-08-28 20:33] behlendorf commented on #6541
@hub the updated EL7.4 user space utilities should work correctly with the 7.3 kernel modules.  You shouldn't need to export the pools until you're ready to reboot on to the new kernel and zfs kmods.

[2017-08-28 20:50] dmaziuk commented on #6541
@hubslave: yes, everything worked fine without the uninstall. FVO "fine" = 7.3 modules get uninstalled automatigally -- you still can't boot into previous kernel and have zfs there. :(
.

[2017-08-28 20:59] loli10K commented on #6572
Duplicate https://github.com/zfsonlinux/zfs/issues/5595?

[2017-08-28 21:24] tcaputi commented on #6547
For scenario 3, could you try to reproduce it one more time with debugging enabled? If you can do that you should be able to do `cat /proc/spl/kstat/zfs/dbgmsg | grep "error"` to find some possibilities for where the error could have originated from.

For the Invalid Exchange message, try running this and pasting the result (bottom is most important if its too long to paste):
[code]

You should be