[2015-12-27 18:10] ptx0 commented on #4136
This seems like it is related to issues with roaming profiles on samba shares.

[2015-12-27 19:05] dweeezil commented on #4106
@jdavidlists I'm finally getting around to setting up a test rig today to simulate your workload and also to gauge the performance impact of the reworked object locking.  Could you please post a few details about your NFS server setup:  How many nfsd threads are you running?  How many hardware threads does the system have?  It sounds like you've got a bunch of these NFS server systems.  I saw a re

[2015-12-27 19:29] aikudinov opened #4146 "Task blocked, traces in syslog"
Got this in syslog: http://pastebin.ca/3304890
Ubuntu 15.10, swap on zvol

[3725092.918403] INFO: task dpkg:10163 blocked for more than 120 seconds.
[3725092.918407]       Tainted: P           OE   4.2.0-19-generic #23-Ubuntu
[3725092.918408] "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this message.
[3725092.918409] dpkg            D ffff88041fc96640     0 10163   5700 0x00000000
[

[2015-12-27 20:04] jdavidlists commented on #4106
These are very small nodes, 2 CPU cores, 16-20GB, 128 nfsd's, running NFSv3 only.  ARC values (indeed all values, presently) are default (half RAM, allowing about 75% for metadata which gets brutally exceeded most of the time,

The system was rebooted; we can catch whatever we know to look for in advance on the next go-around, but there's nothing in `/proc/spl` except `kstat` and `kmem` right now.

[2015-12-27 20:25] dweeezil commented on #4106
@jdavidlists I'll probably have to resort to virtualization to try to simulate that environment.

As to ```/proc/spl/taskq```, I had mistakenly assumed you were running current master (or something close) code.  I just did a quick port of it to 0.6.5.3 in dweeezil/spl@9eda1b6 (compiles but otherwise untested) if you care to give it a try.  There's a chance it might show something useful during thi

[2015-12-27 21:31] RichardSharpe commented on #4136
@ptx0: It might turn up with Roaming Profiles but I don't think it is specifically related to roaming profiles. We found it running FSCT.

[2015-12-28 00:15] RichardSharpe commented on #4136
I have run fsstress many times against the changes and dozens of renames where the case differs in the from and to paths (not the last component) and no deadlocks seen.

I created a pull request.

[2015-12-28 10:08] #4052 closed

[2015-12-28 11:43] drozdu commented on #3856
I am still experiencing this error in ZFS version 0.6.5.3, linux arch, kernel 4.2.5.
Using IBM ServeRAID M1015 in IT mode (SAS2008).
<blockquote><p>
gru 25 01:27:49 nas kernel: sd 6:0:0:0: [sdf] UNKNOWN(0x2003) Result: hostbyte=0x00 driverbyte=0x00<br>
gru 25 01:27:49 nas kernel: sd 6:0:0:0: [sdf] CDB: opcode=0x2a 2a 00 65 23 23 28 00 00 08 00<br>
gru 25 01:27:49 nas kernel: blk_update_request: I/

[2015-12-28 15:15] mkraemerATtum opened #4148 "Volume quota not enforced over NFS"
Dear All,

testing ZFS on Linux I ran into a problem with volume quotas on ZFS exports. While volume quotas are correctly enforced and treated, when accessing the ZFS on the local system, when trying the same via NFS (v4) it is possible to exceed the quota limit. Furthermore the failing of the write process is not reported correctly to the NFS client.

In the following example (see console log bel

[2015-12-28 15:59] ab-oe opened #4149 "Error counters aren't increased when I/O error occurs."
Hello,
I got some I/O errors on one device used in mirror. I can see these errors in zpool event output:

[code]

but the zpool status command shows that there are no errors on devices:

[code]

situation changes after executing zpool scrub command:

[code]

is there any I/O errors threshold that will put device with errors in faulty or unavailable state?

[2015-12-28 16:02] smaeul commented on #4085
I did some testing with a flash drive, and I think I have come up with a minimal test case. This is with
sys-fs/zfs-0.6.5.3-r1::gentoo and sys-fs/zfs-kmod-0.6.5.3-r1::gentoo.

    sodium ~ # zpool create -R /mnt -O redundant_metadata=most ztest /dev/sdd
    sodium ~ # echo 42 > /mnt/ztest/meaning_of_life
    sodium ~ # zfs snapshot ztest@snap1
    sodium ~ # zfs send -p ztest@snap1 > /dev/null

[2015-12-28 17:52] #2861 closed

[2015-12-28 17:52] #3018 closed

[2015-12-28 17:52] #4006 closed

[2015-12-28 17:52] #4114 closed

[2015-12-28 18:08] behlendorf commented on #4146
This looks like a duplicate of #4106, there is a fix in #4124 currently under review.

[2015-12-28 18:08] #4146 closed

[2015-12-28 19:25] behlendorf commented on #4136
@RichardSharpe thanks for tackling this and opening a PR.  The heart of the fix looks good, I've added some review comments so we can get it polished for inclusion.  Please go ahead and refresh it when you can.

[2015-12-28 19:29] nedbass opened #4150 "listxattr() may return EFAULT"
On a dataset with `xattr=sa`, storing xattr values with certain lengths causes the xattr data to be stored in a corrupted nvlist on disk. This makes the xattr data inaccessible as system calls such as `listxattr()` and `lgetxattr()` return EFAULT.  I have traced the return code to the function `nvs_xdr_nvpair()`. The lengths in the script below were determined through experimentation and reproduce

[2015-12-28 19:48] RichardSharpe commented on #4136
@behlendorf:

Re:

[code]

Hmmm, I can't remember a panic.

However, I was printing out some names for debugging and was concerned that there might not be enough space for the trailing NULL.

[2015-12-28 20:11] behlendorf commented on #4148
@mkraemerATtum thanks for the detailed bug report.  I suspect this is related to the NFS client caching most of this data before sending any of it to the server asynchronously.  If that's the case you can likely prevent the issue by using synchronous NFS mounts.  That's almost certainly why O_DIRECT works.  Someone will need to dig deeper to see if there is anything we can do at the ZFS level to c

[2015-12-28 20:15] behlendorf commented on #4149
@ab-oe it depends on exactly the type of error and what I/O was being issues.  These are checksum errors which mean the drive returned data successfully... it was just the wrong data.  Read or write I/O error on the other hand indicate an error from the driver of block layer and will take the device offline.  The exact behavior is more complicated than you might initiially expect and not particula

[2015-12-28 20:27] behlendorf commented on #4085
@devsk yes the ClusterHQ changes are being worked in #3907 to iron out the issues and get feedback.  The plan is to get them merged on to OpenZFS and ZoL once they're fully baked and everyone has signed off on them.  Everyone will benefit from have a stable interface but as you can imagine there's the significant potential for subtle breakage to slip in.

These changes won't be applied to ZoL prop

[2015-12-28 21:26] behlendorf commented on #4136
@RichardSharpe I must have misinterpreted [your comment](https://github.com/zfsonlinux/zfs/issues/4136#issuecomment-167257295) above.

[2015-12-28 22:19] behlendorf commented on #4106
@jdavidlists I have to say your configuration and workload is great at stress testing the code.

The good news  is that proposed patch did address the original deadlock you were encountering.  You'll definitely want to keep that applied.

The bad news is that you've managed to uncover a new complicated deadlock.  This time you've managed to deadlock the system on an arc buf hash lock and a dbuf ha

[2015-12-28 22:46] dweeezil commented on #4106
I suppose it might be worth mentioning that, similar to the previous workaround, lowering ```zfs_arc_average_blocksize``` might help work around this new deadlock.

[2015-12-28 23:31] tuxoko commented on #4150
@nedbass
Do you have selinux enabled?
I don't and I can't reproduce this.

[2015-12-28 23:38] nedbass commented on #4150
SELinux is disabled on my system as well.

[2015-12-28 23:42] tuxoko commented on #4150
Actually, I found a different bug with your script.

If I execute this script 2 times in a roll with a same file name.
After the second run, xattr will go into dir.

And I would get this:
[code]

It seems the listxattr logic will see both spill block and dir, and return each entry twice. Or so I guessed.

[2015-12-29 00:21] jdavidlists commented on #4106
OK, it was very straightforward to pull in the dweeezil/spl@9eda1b6 patch.  It did not seem to work, producing these messages at boot on a test machine:

[    2.509651] SPL: Loaded module v0.6.5.3-9_g45250e2
[    2.606993] zfs: disagrees about version of symbol taskq_dispatch_delay
[    2.607908] zfs: Unknown symbol taskq_dispatch_delay (err -22)
[    2.608911] zfs: disagrees about version of symb

[2015-12-29 00:41] nedbass commented on #4150
It may depend on which kernel is running. I can reproduce the EFAULT error on a RHEL 6.7 VM (ami-5b8a781f on Amazon EC2) with the EPEL packages. But on my Ubuntu 12.04 desktop I get the behavior you see. It could be the same underlying bug. @behlendorf pointed out that `zpl_xattr_set_sa()` doesn't cleanly handle errors from `zfs_sa_set_xattr()`, and this could possibly lead to duplicate directory-

[2015-12-29 01:25] dweeezil commented on #4106
@jdavidlists You need to rebuild the zfs module after patching, compiling and installing the spl.  Although it's handy to have the taskq kstat, it doesn't look like it'll be terribly helpful with the new dbuf/arc lock table deadlock you've discoverred.

[2015-12-29 01:35] jdavidlists commented on #4106
That's exactly the order things were done: patch, autogen, configure, make, sudo make install for SPL, then autogen.sh, configure, make, sudo make install for zfs.  The configure step of zfs even showed the same spl rev as above:

checking spl source directory... /usr/local/src/spl-0.6.5.3
checking spl build directory... /usr/local/src/spl-0.6.5.3/3.13.0-74-generic
checking spl source version... 0

[2015-12-29 03:44] RichardSharpe opened #4151 "SELinux: security_context_to_sid(off) failed for (dev zfs, type zfs) errno=-22 with one version but not others"
I am not sure if this is an issue or my problem with building.

When I first built ZFS I must have built it from master, because the versions in use are:

SPL:  v0.6.4-12_g77ab5dd
ZFS: v0.6.4-139_g1cd7773

If I upgrade to the current master or to 0.6.5-release, everything is fine, but if I build 0.6.4-release with one change and install it on my system with an existing ZPool, I get the above error

[2015-12-29 08:51] ab-oe commented on #4149
@behlendorf thank you for your response. Yes that were I/O errors on block device. In this particular case simulated by error blocks in dm device exported over iSCSI to confirm this behaviour.
[code]
but I though that these errors will increase the vs_write_errors counter.

[2015-12-29 10:13] mkraemerATtum commented on #4148
Thank you for your fast response. I can confirm, that using synchronous NFS prevent the problem. However I doubt, that this is only the client. On production systems I am currently using XFS with "project quotas", which works reliable. If only the client cache matters I cannot understand how this is working with XFS quotas. For the client, this should look very similar.

Talking into account that

[2015-12-29 10:32] mkraemerATtum commented on #4148
I just want to add. Even if the client would report something wrong. The local file should not exceed the quota, i.e. if the quota is set to 100M the generate file should not be 614M.

[2015-12-29 11:17] mkraemerATtum commented on #4148
Further investigations of the problem revealed some further insights. It seems that using asynchronous NFS mounts the files created on the FS are sparse files (at least when using /dev/zero). The allocated disk space respects the quota. I explicitly turned compression and de-duplication off in the first place. Thus it's really the NFS client or server, which is causing this behaviour.

[2015-12-29 14:32] domgross commented on #3605
Not sure if this is related or should be a separate bug, but root on ZFS with zfs-dracut on fedora 23 (with systemd 222) is broken. It fails exactly as one would expect according to: https://bugs.freedesktop.org/show_bug.cgi?id=90913.

So, after looking into the dracut modules it seems that evolarium is right that zfs-dracut with systemd 220 or newer is broken and a generator script for the sysmou

[2015-12-29 17:26] richardelling commented on #4148
A few points to consider:

1. In ZFS, quota is enforced on the size of the files, not the length (duh)

2. Compression and dedup affect the size of files

3. Quota is checked at the close of a txg, nominally every 5 seconds for most distros.
    Thus it is possible to go over for a short time. Due to the nature of transactional
    systems, like ZFS, it is impractical to enforce outside of a trans

[2015-12-29 21:18] RichardSharpe commented on #4151
OK, I think this was a problem with my build environment.

After I fixed that up things work.

[2015-12-29 21:18] #4151 closed

[2015-12-29 23:10] ryao commented on #4085
@behlendorf The benefits for a stable interface updates outweighed the risks, some illumos reviewers prefer to see code in production before it reaches them and all of my own tests were passing at the time. We have since found some minor issues and I intend to refresh the packaging with the latest fixes. I am looking into this one.

[2015-12-29 23:12] ryao commented on #4085
@devsk I was on vacation around when you sent your message and just returned today. It is safe to downgrade, although both the kernel modules and userland tools need to be downgraded together due to a regression that was caused by a last minute bug fix before the Gentoo ebuilds were shipped. -r2 will fix that.

[2015-12-29 23:12] tuxoko commented on #4150
@nedbass
I think my bug is more fundamental than yours.
When set_xattr need to go into dir, whether it's because of the size, or because xattr been set to on. It would never modify the xattrs in sa, causing some weird behaviour.

For example:
[code]

[2015-12-29 23:57] behlendorf commented on #4149
@ab-oe it depends.  If the I/O that caused the error was for a prefetch then the counter don't get bumped.  It's also possible that the SCSI mid-layer retried the I/O and ZFS was never notified of the failure even though it was reported on the console.

[2015-12-30 00:40] behlendorf commented on #3982
Sounds good.  I've enabled the wiki and created https://github.com/zfsonlinux/zfs/wiki/Illumos-Tracking as a starting point.

As for the milestones at the moment I make a best guess as to what can realistically be accomplished in a given milestone given the available resources.  But I think that's probably a separate issue than tracking the Illumos changes.

[2015-12-30 00:40] #3982 closed

[2015-12-30 08:15] ab-oe commented on #4149
@behlendorf it can't be retried by SCSI mid layer with success because it is permanent I/O error. Device mapper table for that device looks as follow:
[code]
or does ZFS retry I/O in different place on SCSI device?

ZFS is notified about I/O errors because I see I/O error events:
[code]
so ZFS also see the error but statistic counters are left untouched...

[2015-12-30 09:33] mkraemerATtum commented on #4148
Dear Richard,

On 12/29/2015 06:27 PM, Richard Elling wrote:

That's how I understood the docu. However I was just surprised, that the
files were created as sparse files by using NFS. Compression and debup
should not apply as these features have been disabled during the test.

That is the reason for me to disabling both feature from the beginning,
when doing this test.

Thank you for this informat

[2015-12-30 15:20] grizzlyfred commented on #3680
I have ZoL 0.6.5-3 in mint from the ppa. not sure if too old to have the patch or not. I too have seen a shrinking arc in conjunction with the creation of a sparse 1TB zvol and putting xfs over luks on it.

Now I am observing a gradual shrinking of ARC (initially 12GB of the 32GB of the machine to the 1GB limit I set), then at some fraction of the read-rate (like 50MB per second the ARC shrinks, b

[2015-12-30 16:21] hkratz commented on #3770
Anyone working on that? The bad sha256 performance cripples deduplication but it also limits write speed to a fraction of what it could be whenever sha256 is enabled on a pool. And fletcher4 is not an alternative if one values verifiable data consistency

[2015-12-30 17:55] behlendorf commented on #4149
That does sound like a possible bug, but the logic here is complicated so it's hard to say for certain without carefully looking at the exact failure mode.  If you'd like to have a look yourself check out the `zio_done()->vdev_stat_update()` call path.  The `zio_done()` function is called when an I/O is completed and this is where the event is posted.  It then calls `vdev_stat_update()` which is r

[2015-12-30 18:17] behlendorf commented on #4148
I'm surprised as well, this shouldn't be the case.  I/O originating from NFS takes almost the same call path as local I/O and will be compressed or dedupped based on the dataset properties.  The only significant difference is that the NFS I/O will arrives via the async I/O interfaces in smaller sized chunks.

One other thing to keep in mind is that a zero filed file in ZFS is treated as a very spe

[2015-12-30 18:53] nedbass commented on #4150
It seems the cached inode survives drop_caches on the Ubuntu kernels, so the getxattr request is serviced from the unpacked nvlist that hangs off the znode. That's why we don't see the problem there until the cached copy is dropped, for example when the filesystem is remounted.

[2015-12-30 19:02] behlendorf commented on #4150
@nedbass that makes sense.  The reclaim code is slightly different due to the different kernels and is in both bases simply best effort.  The heart of the fix looks good to me but I've posted some review comments.

[2015-12-30 19:04] nedbass commented on #4150
@tuxoko the fix in #4150 does avoid the duplicate directory-based xattrs if you run the script twice on the same file. But you're right, there are other fundamental problems when you mix xattr modes. These have been previously reported in #3472.

[2015-12-30 19:05] behlendorf commented on #3770
@hkratz no to my knowledge, it would be great if you could port the Illumos commit, https://github.com/illumos/illumos-gate/commit/45818ee and open a pull request.

[2015-12-30 21:32] #4150 closed

[2015-12-30 23:03] #3887 closed

[2015-12-30 23:05] behlendorf commented on #3794
This has been resolved in master and the release branch.

[2015-12-30 23:05] #3794 closed

[2015-12-30 23:06] behlendorf commented on #3786
This has been resolved in master and the release branch.

[2015-12-30 23:06] #3786 closed

[2015-12-31 01:04] mailinglists35 commented on #3371
@ahrens said that outside help is needed:  https://twitter.com/mahrens1/status/665006514411806720

[2015-12-31 02:11] mailinglists35 commented on #1588
When I install with dkms, I get bash completion; when I install from git zip, I don't. It would be useful to automaticallt get bash completion in the second case, too.

[2015-12-31 03:24] jcst commented on #3902
@behlendorf yes same issue with 0.6.5.3 but I can't test the master branch as it's a production server.

[2015-12-31 04:54] ssrathi opened #4154 "If xattr=sa is enabled, retrieving legacy xattrs is not possible"
Found an issue while storing a large xattr (more than 32k size) with xattr=sa option on ZFS mount.

- Enable xattr=sa option.
- Add a small xattr on a folder (for example, xattr security.NTACL).
- After that, update the same xattr to something with more than 32k size.
- Due to the 32k size limit (DXATTR_MAX_ENTRY_SIZE), zpl_xattr_set_sa fails with error -EFBIG.
- The caller (zpl_xattr_set) will de

[2015-12-31 05:00] ssrathi commented on #4154
As seen below in the output of zdb, even after storing a large xattr (larger than 32k), the old SA is still present.

[code]

[2015-12-31 08:54] hkratz commented on #3770
That commit touches over 100 files. It might be a bit much for me to tackle as I haven't worked on zfs at all before. Also it seems that they are using kernel routines for sha2, so it would not help with the performance of existing pools using sha256.

I could look into porting Dr. Gladman's pure C SHA2 code[1] which should be a lot faster. Is his license[2] acceptable for ZFS?

[1] http://www.gla

[2015-12-31 10:20] lundman commented on #3770
If it helps, we already pulled it in
https://github.com/openzfsonosx/zfs/commit/cc54f70bda0430a6267598f010b2e56e05e58a09
https://github.com/openzfsonosx/spl/commit/97657bb7b0e3d0fe00192d4b53e9cbe900c77468

But tweaking the filenames isn't too hard :)

[2015-12-31 14:42] ab-oe commented on #4149
@behlendorf thank you for the cluses. The vdev_stat_update() function returns when the ZIO_FLAG_IO_RETRY is not set. The comment suggests that it should return when the ZIO_FLAG_IO_RETRY is set. Shouldn't it look like:
[code]
after the patch counters are properly increased for write I/O errors (one error reported per sector) but every ~10s resilvering process starts.

[2015-12-31 15:34] kernelOfTruth commented on #3770
@lundman it definitely helps,

the more information the better ;)

My main question with those changes is where the crypto folder (and the subsequent files) is supposed to land

currently we have e.g. module/zfs/sha256.c for the sha256 hash

and I'm certain it would be quite some effort to split that change up into spl and zfs

[2015-12-31 17:05] darkpixel commented on #2878
We are trying to use ZFS for the exact same scenario.  Our clients have a pool of spinning rust they use for primary data storage.  We zfs send that data to two places--an off-site backup, and a local single external USB drive.

Basically they want *fast* (local) recovery options in case somehow the primary data storage dies from the local USB drive.  And they want an off-site backup in case the o

[2015-12-31 17:54] kernelOfTruth commented on #2878
referencing

https://www.illumos.org/issues/4128 disks in zpools never go away when pulled
https://github.com/illumos/illumos-gate/commit/39cddb1

[2015-12-31 18:37] ssrathi commented on #4154
Looks like the pull request https://github.com/zfsonlinux/zfs/pull/4153 fixes this exact issue.

[2015-12-31 18:43] ssrathi commented on #4154
Related to https://github.com/zfsonlinux/zfs/issues/3472.

[2016-01-01 00:57] dasjoe commented on #4070
You can safely detach the UNAVAIL disk: `zpool detach ZFS01 127286639182292558`

[2016-01-01 00:57] dasjoe commented on #4144
Possible duplicate of #4077

[2016-01-01 03:03] ilovezfs commented on #4144
Someone in IRC had the same issue and a reboot "fixed" it since it's some kind of udev race. Have you tried a reboot yet?

[2016-01-01 03:29] CRWdog193 commented on #4144
Yup, pretty much had to; until rebooted, was unable to re-import the pool by-id; same "no such pool or dataset" message, IIRC.

The export seemed to work fine - based merely on a quick glance at the strings in zpool.cache, it seemed to contain all the expected "by-id" drive indentifiers. But the pool wouldn't import by-id.

After re-boot, the pool could be exported & imported as expected..

Went t

[2016-01-01 05:14] ilovezfs commented on #4144
As an aside, in the future, to dump zpool.cache in human readable format, just run zdb with no arguments.

Also, it's worth mentioning that your description of the zpool.cache contents and the idea that "export worked fine" contradict each other. Upon any export, the zpool.cache file is rewritten with all the information regarding the just exported pool expunged.

[2016-01-02 11:01] alexanderhaensch commented on #3958
This was not happening any more with tag 0.6.5.3

[2016-01-02 11:01] #3958 closed

[2016-01-02 12:06] alexanderhaensch commented on #4085
@ryao i am touched by the send/recieve assertion too. Do you have a fix already?

[2016-01-02 16:50] Flefebvre commented on #3201
Hi !
Happy new year ! I'm interrested to start working on this feature.
Can you point me in which part quota is checked for data write please ?

I have played a little to see how dsl_dir worked :
dsl_dir_phys(dd)->dd_uncompressed_bytes
dsl_dir_phys(dd)->dd_compressed_bytes

NAME        USED  AVAIL  COMPRESS  UNCOMPRESS  COMPRESS  RATIO  QUOTA
tank/test   762M  1.26G      744M       2.38G      gzip

[2016-01-03 07:34] LeeRock commented on #4139
what ralationship is between #4139 and #4140 ?

[2016-01-03 11:16] kernelOfTruth commented on #4139
@LeeRock

4139 is for commits of November, 4140 is for commits of December

[2016-01-03 12:18] virtual81 opened #4161 "PANIC at arc.c:3194:arc_shrink()"
I am using ZFS 0.6.5.3-r1 as provided by Gentoo on kernel 4.1.15. During tests, the following ASSERTs appeared. The corresponding code in arc_shrink looks ok, so I suspect a locking problem.

[Sun Jan  3 11:45:10 2016] VERIFY((arc_stats.arcstat_c.value.ui64) >= (arc_stats.arcstat_c_min.value.ui64)) failed
[Sun Jan  3 11:45:10 2016] VERIFY((arc_stats.arcstat_c.value.ui64) >= (arc_stats.arcstat_c_mi

[2016-01-03 12:25] Flefebvre commented on #3201
I'm getting somewhere :
NAME           AVAIL  QUOTA  REFQUOTA  COMPRESS  UNCOMPRESS  COMPRESS  RATIO
tank/cp            0    20M      none     9.99M       20.1M       lz4  2.01x
tank/ucp           0    20M      none     20.1M       20.1M       off  1.00x

touch: cannot touch ‘/tank/cp/s’: Disk quota exceeded
touch: cannot touch ‘/tank/ucp/s’: Disk quota exceeded

Also change the statvfs call :
df

[2016-01-03 13:40] kernelOfTruth commented on #4139
superseded by the wiki

[2016-01-03 13:40] #4139 closed

[2016-01-03 13:40] kernelOfTruth commented on #4140
superseded by the wiki

[2016-01-03 13:40] #4140 closed

[2016-01-03 15:15] dweeezil commented on #4161
See https://github.com/zfsonlinux/zfs/issues/3904#issuecomment-148055169.  Unfortunately, we don't have a full fix for this problem yet.

[2016-01-03 20:41] dweeezil commented on #4106
I've looked over the stacks for @jdavidlists' latest deadlock and am suspicious of some of the changes made in ca0bf58d and, indirectly in b9541d6b.  Looking at the stack for the reclaim thread (I've filled in the functions missing from the trace due to optimizations):
[code]
```arc_hdr_destroy()``` and, ultimately, the destructor, is being called with ```hash_lock``` held.  While waiting for ```b

[2016-01-03 20:57] dweeezil commented on #4106
Updated previous comment because the situation I described was not actually a "wait for signal".

[2016-01-04 02:09] behlendorf commented on #4106
@dweeezil there are definitely several candidate threads which could be waiting for the signal and therefore have a reference held on the cv.  As you said that would cause the `cv_destroy()` to block.  I suspect we're waiting on `txg_sync` here to issue the signal but can't because it's waiting on the `hash_ lock`.

Pulling the `arc_hdr_destroy()` call outside the `hash_lock` does look like the ri

[2016-01-04 02:11] behlendorf commented on #1588
@mailinglists35 the `contrib/bash_completion.d/zfs` bash completions file just needs to be installed on your system, usually this is under `/etc/bash_completion.d/`.

[2016-01-04 05:00] prakashsurya commented on #4106
I could use a summary of where the investigation is at, so I'm on the same page as everybody else.

With that said, why are there threads with references or waiting for a CV that's linked off a header that's about to be destroyed? Is that a valid thing to do? Do we know which threads are waiting on this CV and have stacks for them?

[2016-01-04 12:06] ab-oe commented on #3678
Hello,
I 'vealso reproduced this issue. The problem occurs when the ```zvol_state_lock``` mutex is held by remove function and meanwhile ```zvol_open``` is invoked. The ```zvol_open``` waits until ```zvol_state_lock``` is released and then does its job on already removed zvol. I resolved this by checking if zvol is still available on the ```zvol_state_list```. I think also that ```check_disk_chang

[2016-01-04 13:32] dweeezil commented on #4106
@jdavidlists Could you please confirm what preemption model your kernel is using (```grep CONFIG_PREEMPT /boot/config-<kernelver>```).

[2016-01-04 13:57] blballa commented on #3867
First, I want to thank everyone for their hard work. Code is awesome.
I can confirm that this bug exists with 6.5.3 whenever we put zfs under heavy load. like rsync and large file copy over samba. We went ahead and pull head from git and we can confirm, that we are no longer getting kernel panics, requiring hard reboot of the servers. It might make sense to release a 6.5.4 so that "official packag

[2016-01-04 15:53] RichardSharpe commented on #4136
1. I have created a new pull request. I might have mistakenly created two. Can I close one or more?

2. Using the github interface is there any way to pull the ZoL repository into my fork so I am always at the top?

[2016-01-04 16:14] mmehnert commented on #3943
That's what I did two weeks ago. I had no crash since then which is the longest uptime I can remember for quite a while. :-)

[2016-01-04 16:42] liaoyuxiangqin opened #4162 "vdev_config_sync can't guarantee the state on disk is still transactionally consistent"
when sync out the even labels (L0, L2) , if the system dies in the middle of this process,
all of the even labels that made it to disk will be newer than any uberblocks and odd labels(L1, L3).

Then, power on the system and import pool. Zfs find pools through search given disk directories use zpool_read_label, but this function will return an nvlist describing the configuration by read the label i

[2016-01-04 16:52] ryao commented on #4112
@behlendorf Could you assign this and other Gentoo specific issues to me to me so that it is a little easier to manage?

@janlam7 This seems to work fine in what should be -r2. I will be pushing that out later today.

If this should ever happen in the future, please join the #zfsonlinux channel on freenode and ping me daily until I get it fixed. Anything that breaks boot should be my top priority.

[2016-01-04 17:05] nvnobelen commented on #3355
Newer version 0.6.5.3 builds. Closing this one as not being relevant

[2016-01-04 17:05] #3355 closed

[2016-01-04 17:06] behlendorf commented on #3867
Thanks for the confirmation, an 0.6.5.4 is definitely in the works.

[2016-01-04 17:16] ryao commented on #4085
@alexanderhaensch This will be fixed by today's -r2 push. Here is the patch that fixes it:

https://bpaste.net/show/d3d31f2d3b1b

[2016-01-04 17:43] richardelling commented on #4162
Are you suggesting that latest uberblock is to be considered invalid? If so, you're guaranteeing silent data loss. Current behaviour fails the spa load and requires manual intervention to accept the data loss.

A better approach is to fix the code that updates the spare activation.

[2016-01-04 18:19] dweeezil commented on #4106
@prakashsurya  Here's a summary of the tasks:
  - several nfsd processes are waiting for hash locks
  - the traverse prefetch thread is waiting for a hash lock
  - ```zfs send``` is waiting on a ```b_cv``` without holding a hash_lock since ```cv_wait()``` drops it
  - the arc reclaim thread is effectively waiting on a ```b_cv``` while holding a hash lock

I think the final point is the key.  The r

[2016-01-04 18:33] jdavidlists commented on #4106
@dweeezil Sure thing.  These are the default kernels for the respective distributions, so I don't think there's any pre-emption.

On the Debian machines:

[code]

On the Ubuntu machines:

[code]

[2016-01-04 18:42] prakashsurya commented on #4106
Sure, I'm not opposed to dropping the lock prior to calling destroy, I'm just not convinced that's the _real_ issue. If we drop the hash lock, then the blocked `arc_read` calls will be able to proceed, but the `arc_reclaim_thread` call will still be blocked waiting on the CV; which will probably manifest itself in an OOM or deadlock some other way.

Without thinking too hard, I'm curious if we sho

[2016-01-04 18:50] behlendorf commented on #4106
@dweeezil thanks for the nice summary.  @prakashsurya OK, here's a detailed summary of what I think must have happened.  Although without a crash dump and only stack traces from the running system there is some guess work involved.  Please poke holes in the following theory.

[code]

The critical thing here is that thread 3 runs before thread 1 is scheduled and able to fully exit cv_wait().  When

[2016-01-04 19:12] prakashsurya commented on #4106
That seems plausible. I wish we had a way to verify this.. do you think it'd be reasonable to write a debug patch to add some tracepoints, or log messages, to try and pin-point the information we need to verify the theory?

If that theory is correct, dropping the `hash_lock` does appear to solve the issue for ZoL, but we'd still `ASSERT` on illumos, which isn't a portable solution. It'd also make

[2016-01-04 19:49] behlendorf commented on #4106
Yeah, me too.  Although even if we did add debugging it's not clear to me that we'd be able to reproduce the issue again.  We've had exactly one report of this specific deadlock with enough information for it to be actionable.

@jdavidlists do you have a feeling for how often you've been able to hit this second deadlock?  Was it a one time event on one of your systems or has it been more frequent

[2016-01-04 20:13] prakashsurya commented on #4106
In general, I very much prefer reference counts to flags or other solutions. On illumos, it's possible to enable certain tunables on a debug build that allow one to get stack traces of where a reference was incremented and decremented, which is invaluable for certain kinds of bugs. So, even when it seems overkill to use a `refcount_t` vs. a `uint64`, I tend to prefer a `refcount_t` (e.g. like with

[2016-01-04 20:26] dweeezil commented on #4106
Before I started digging into the stack traces, I tried to reproduce the deadlock and was not successful.  I set up a VM guest with 2 CPUs, 16GiB RAM, arc min/max set to 128M, both the dbuf and arc hash tables reduced to 2 entries each to maximize collisions and then ran 180 nfsd processes.  No "normal" operations would trigger the deadlock.  Now that the traces have been analyzed, I suspect I nee

[2016-01-04 20:34] grwilson commented on #4106
One problem with this proposed theory is if a read is in progress, then the state of the arc_buf_hdr_t should be either MFU/MRU or ANON. This would mean that when we are in arc_hdr_destroy() we should not end up in this code path:

[code]

[2016-01-04 20:56] jdavidlists commented on #4106
@behlendorf Your patch has drastically reduced the frequency of issues; one of the machines has 11 days of uptime, whereas before they were all struggling to make it 24 hours, so we haven't seen a lot of the other

A couple of them seem like they're headed for problems soon.  arc_reclaim is using a lot of CPU (~30-40%), with traces like this:

[code]

The nfsd's using notable CPU at the same time

[2016-01-04 22:31] behlendorf commented on #4106
@grwilson right, that's definitely the weak point in the theory.  The `arc_buf_hdr_t` would need to have been added to either MFU/MRU or ANON, __then__ moved to a GHOST list, and __finally__ evicted all before `arc_read()` was scheduled.  Which I'll admit seems pretty amazingly unlikely, but I don't see any reason its technically impossible.

[2016-01-04 22:39] grwilson commented on #4106
@behlendorf I totally agree. I've been staring at the code and I think in order for this to happen it would require the first read to be a prefetch (presumably from zfs send), and the next read for the same block would be a demand read (again from zfs send). For this to happen, we would have to be in the MRU/MFU state (since you can't evict from ANON). If we continue to evict before the read compl

[2016-01-04 22:53] janlam7 commented on #4112
@ryao I just installed the -r2 version, updated the initramfs and as far as I can tell, my issues did not change. I'll try with a dedicated ext4 root partition on wednesday.
spl is still on the -r1 version, is that intended ?

[2016-01-04 23:03] behlendorf commented on #4149
@ab-oe I think this is correct and does what the comment describes.  The first I/O error is suppressed from the stats pending a retry to avoid alerting the user due to an innocuous reason.  The subsequent retry zio will have ZIO_FLAG_IO_RETRY set and be counted.  That said, this logic comes unaltered from Illumos where, unlike Linux, the lower layers won't be retrying the I/O.  We do try and set F

[2016-01-04 23:53] grwilson commented on #4106
Looking deeper into arc_hdr_evict(), it seems like we already account for ARC_FLAG_IO_IN_PROGRESS correctly:

[code]
So this goes against the theory. I think we'll need a crash dump to ensure we completely understand the deadlock. Would it be possible to get a crash dump without the latest modification (dropping the hash_lock)?

[2016-01-05 00:32] behlendorf commented on #4106
It sounds like we're going need to wait until this happens again to get a crash dump.  And considering it might not be easy to get the information out of the crash dump once we have it we may want to consider adding some debugging instead.

Yes, I was just looking at that code myself and I don't think it's 100% air tight.  If you look at my [comment](https://github.com/zfsonlinux/zfs/issues/4106#i

[2016-01-05 00:54] behlendorf commented on #3770
We'll just need to make some decision.  Since zfs is going to be the only consumer we could add it to the zfs directory.

We're slowly working towards merging the two in to a single source tree so lets avoid adding any more code to the spl if at all possible.

[2016-01-05 01:02] behlendorf commented on #4136
@RichardSharpe when you open a pull request it's recommended that you use a branch per change.  This way you can easily pull master from the ZoL repository and rebase your branch on top of those changes.  Github provides some [nice documentation](https://help.github.com/articles/using-pull-requests/), I'd suggest closing out #4147 and opening a new PR using a branch if you need to refresh this aga

[2016-01-05 02:10] liaoyuxiangqin commented on #4162
Dear Richard,
I think that when import pool in the scenario above described, we may picking the nvlist config from even labels (L0, L2) , which newer than any uberblocks, such as  config txg greater than latest uberblock txg, or config vdev DTL object  can't find in latest uberblock , so that spa_load_impl load vdev DTL fail and set vdev cant open, at last root vdev state valid fail and spa load f

[2016-01-05 09:59] luozhengzheng opened #4164 "filesystem refquota not enforced over cifs"
Dear All,

testing ZFS on Linux I ran into a problem with filesystem refquotas on ZFS . that is, the refquotas can't enforece the filesystem correctly.  In the following example,a empty zfs filesystem (vd1/16390)is created and the quota is set to 50M. but 50.0015M data can write to the filesystem, which is a little over the requota, who can explain why? thanks.

by the way, no related snapshot or

[2016-01-05 10:54] ab-oe commented on #4149
@behlendorf I understand. I though that ZIO_FLAG_IO_RETRY means that I/O will be retried. Thank you for explanation of this. Currently the problem is that this I/O is never retried for device with bad blocks. This issue was found on dying HDD, there were some I/O errors but pool was online and clean what is not true.

I performed another test to check if this will be ever retried. There are two 12

[2016-01-05 13:26] dswartz commented on #4149
I have to say if it's really working like this, there seems no point in having the error counters in the zpool status...

Arkadiusz Bubała <notifications@github.com> wrote:

[2016-01-05 14:15] jdavidlists commented on #4106
As expected, one of the ones using lots of CPU in arc_reclaim had a hang during zfs send.

The new manifestation of the hang does seem to be that it's unresponsive, but that nobody is particularly using a lot of CPU.  All the related processes are stuck in "D" state.

arc_reclaim looks like this:

[code]

This is new.  z_wr_int_0 had the trace:

[code]

And z_wr_int_5 had:

[code]

txg_quiesce loo

[2016-01-05 14:23] jdavidlists commented on #4106
@grwilson As this issue (of course!) only happens on production servers, we're not in a position to revert a patch that (dramatically) improves the situation.  If there's anything we can do to help reproduce the issue in a less critical environment (either ourselves or assisting someone else), we're happy to do so.

There is a knock-on effect that is making life unnecessarily difficult here; reboo

[2016-01-05 14:44] dweeezil commented on #4106
@jdavidlists I'm going to add ```zfs send``` to the mix on my testing rig to see if I can't reproduce it.  As I alluded to earlier, I've also hacked the ZFS code to maximize the hash contention.  FYI, too, when I ran the tests the first time, the arc reclaim thread _was_ consuming lots of CPU so I think I'm on the right track.  I've not looked at your new stacks yet but they appear to be from a VM

[2016-01-05 14:58] grwilson commented on #4106
@dweeezil using `zfs send` should help reproduce since it always does a prefetch read followed by a demand read. @jdavidlists I totally understand not impacting your production system. Hopefully we can reproduce this on a non-critical system to get the root cause of the problem.

[2016-01-05 15:10] jdavidlists commented on #4106
@dweeezil Yes, that server is a KVM guest.

[code]

As for the processes,  there are many:

[code]

Isn't that related to not using dynamic taskq's anymore?  That change was around the time we noticed the large jump in number of ZFS processes, because it tripped a nagios total_proc warning.

From that particular crash, there are only two taskq captures, about a minute apart.  They are byte-for-byt

[2016-01-05 15:24] RichardSharpe commented on #4136
OK, I will try to close out 4147.

We hit that memory leak in QA a couple of times. It is quite impressive. 733MB leaked in the malloc-256 slab.

[2016-01-05 15:34] dweeezil commented on #4106
@jdavidlists Hmm, the smpboot grep didn't work, the "start_ip = " message was removed in 3.9 so that system must have an older kernel.  I was looking for the messages near or matching "SMP: Allowing 2 CPUs, 0 hotplug CPUs".  The 64 threads in the system taskq doesn't jive with a system only having 2 hardware threads.  My test rig server system is also running as a VM guest (kvm) and I've currently

[2016-01-05 15:44] jdavidlists commented on #4106
Here you go:

[code]

The kernel is from Debian wheezy (3.2.0-4-amd64 #1 SMP Debian 3.2.73-2+deb7u1).

This VM is configured as 1 CPU, 2 cores, 16GiB RAM.

[2016-01-05 15:53] BjoKaSH opened #4166 "live-lock in arc_reclaim, blocking any pool IO"
After upgrade to 0.6.5.3 (Ubuntu 14.04 with ZFS 0.6.5.3-1~trusty) pool IO hangs on moderate load with arc_reclaim in state "D" (but slowly spinning).

This may be related to issue #4106, although workload and stack traces are different.  In my case arc_reclaim is using very little CPU (~1%) and no NFS is involved.  Stack trace of processes accessing the pool contains arc_read and further down buf_

[2016-01-05 15:55] liaoyuxiangqin opened #4167 "ZIO pipeline can not done and no chance to reexecute"
Dear All,

testing ZFS on Linux I ran into a problem with ZIO pipeline execute exception. when accessing the ZFS filesystem via NFS(v3/v4),  when disconnect and connect the disk at the same time zio is possible to can not done and no chance to reexecute. Furthermore the spa sync thread will suspend due to wait orphans zio done.

I thank that the problem has a relationship with the following code,

[2016-01-05 16:01] BjoKaSH commented on #4106
behlendorf wrote a few comments earlier:

I may have a second case, see #4166, with the box still running and more or less responsive (ZFS is not use by the system itself, only for storing backups).  If it is the same problem, I could try to get more internal state data from that box.

[2016-01-05 17:51] behlendorf commented on #4166
@BjoKaSH thanks for posting this.  This does look like the second issue currently being discussed #4106.  The stacks are slightly different but more clearly show the deadlock.  Here's the critical bit from the stacks you posted with annotations for clarity.

[code]

I think what has happened is clear, the mystery still lies in exactly how it happened.  If your familiar with the kgdb or crash utili

[2016-01-05 18:46] behlendorf commented on #4106
#4166 looks very much like the same issue and the stacks are clearer.  If we're right about the root cause the following patch should fix the issue by skipping any headers with waiters as suggested.  It's entirely Linux specific but we can rework it to be portable if we decide it's the right solution.

[code]

[2016-01-05 18:47] darkpixel opened #4168 "zpool import complains about missing log device, suggests -m, then imports with the missing device anyways"
Running a `zpool import` shows my log device is 'missing' and suggests I can import the pool by passing the -m flag.

When I pass the -m flag, the pool (including the 'missing' log device) is imported and works fine.

This annoyingly breaks puppet automation we have set up for deploying new machines.  ;)

I can reproduce on 5/5 machines by rebooting, then trying to import the pool.

[code]

[2016-01-05 19:11] JeroenDeKleijn commented on #4149
I've reported a similar issue once, see https://github.com/zfsonlinux/zfs/issues/1814
Also the following issue is around the same subject and contains some useful information: https://github.com/zfsonlinux/zfs/issues/2246

As far as I understand the counters are ONLY increased when errors occur during scrubbing. I think this is the intended behavior, however I do not have a freebsd or illumos syst

[2016-01-05 19:42] jdavidlists commented on #4106
@behlendorf Is that something you want us to try as well?

[2016-01-05 19:48] behlendorf commented on #4106
@jdavidlists it would be helpful if you could apply it to at least one machine which is exhibiting the problem.  It _should_ resolve the deadlock if in fact the above analysis is right.

[2016-01-05 20:39] grwilson commented on #4106
@behlendorf I was digging into why this issue doesn't show up in illumos or freebsd and it seems that the main difference is the way `cv_broadcast()` is implemented. In both freebsd and illumos, whenever a `cv_broadcast()` is issued we set the `cv_waiters` to 0 since the assumption is that all cv_waiters will be woken up. Do you think that it would be possible to use a similar approach in the spl

[2016-01-05 20:43] prakashsurya commented on #4106
@grwilson if we do that, doesn't that mean the thread waiting on the CV in `arc_read` will now be referencing a freed header?

[2016-01-05 20:56] grwilson commented on #4106
@prakashsurya no, it will wake up and retry the read by first checking if the block is in the ARC. It won't find the block in the cache any longer and just allocate a new hdr and read the data from disk.

[2016-01-05 21:00] kernelOfTruth commented on #679
Just saw it from the change in https://github.com/zfsonlinux/zfs/pull/4159 that

the snippet

[code]

to be removed by this change in module/zcommon/zfs_prop.c

is still there and found this issue entry

[2016-01-05 21:03] kernelOfTruth commented on #679
referencing: https://github.com/zfsonlinux/zfs/issues/340 Suggestion for patch import from the Illumos project

[2016-01-05 21:13] behlendorf commented on #4149
@ab-oe I'd take a look at `zio_vdev_io_assess()` next.  It's responsible for determining if ZFS should retry a given I/O.

You can use `zinject` to artificially create certain errors.  Take a look at the `zinject(8)` man page.

This may have been true under Illumos which is where the comment originally came from.  None of this logic was modified when it was layered on top of Linuxs block layer so

[2016-01-05 21:29] behlendorf commented on #4106
@grwilson I think @prakashsurya is exactly right.  The thread in `cv_wait()` is depending on the fact that the memory backing the condition variable hasn't been freed.  We could get a bad paging request before `cv_wait()` even exists.

In fact, IIRC we originally added reference counting in the condition variables as a way to resolve other use-after-free races.  The range locking code is particula

[2016-01-05 21:31] richardelling commented on #4162
Have you been able to demonstrate this occuring on hardware that supports the cache flush command?

[2016-01-05 21:34] grwilson commented on #4106
@behlendorf agreed. I was talking with @prakashsurya and he pointed out that linux still uses the cv after it wakes up then we would end up looking at bogus memory.

[2016-01-05 21:38] nedbass opened #4169 "zfsstress: send/recv deadlock"
My test system deadlocked while running the zfsstress test scripts. It was running the large dnode patch from #3542 but the deadlock doesn't appear related to the patch.  I have no analysis but I gathered the relevant stack traces below.

[code]

[2016-01-05 22:40] behlendorf commented on #4106
To answer your initial question it wouldn't be easy to change the condition variables implementation.  It's built on the Linux wait event primitives which require that we call `finish_wait()` on a `wait_queue_head_t` after being woken and that's embedded in the cv.  That probably not insurmountable but it would be disruptive.  And FWIW we'd still have the same problem is user space where we depend

[2016-01-05 22:44] tuxoko commented on #4169
There's no thread doing zio?
What's in `/proc/spl/taskq`?

[2016-01-05 23:04] janlam7 commented on #4112
Tried -r2 with a root on ext4. zfs list gives the same output as with -r1. Back to 0.6.5.3 for me.
How can I help debug this ?

[2016-01-05 23:31] dasJ commented on #4054
Had the same issue, fixed it by running `# dkms autoinstall`

[2016-01-06 00:25] nedbass commented on #4169
@tuxoko unfortunately I rebooted the system and lost the state.  But it looks like `[z_fr_iss_7]` is stuck and holding things up. None of the other taskq threads had anything noteworthy in their stacks. I'll post more data if I manage to reproduce it.

[2016-01-06 00:44] digoal opened #4171 "zfs hang"
[1577739.906470] INFO: task postgres:48459 blocked for more than 120 seconds.
[1577739.950194]       Tainted: P           O   3.18.24 #2
[1577739.976440] "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this message.
[1577740.013349] postgres        D 0000000000000005     0 48459  50389 0x00000000
[1577740.047348]  ffff882508ddb5e8 0000000000000086 ffffffffa07d1ca0 ffff882508dd8010
[157

[2016-01-06 00:48] kernelOfTruth commented on #4171
distribution ? zfs & spl version ?

postresql - heavy database workload ? metadata heavy workload ?

hardware specs ?

zpool list ?

how is the state of the system ? zfs on all partitions ?

[2016-01-06 01:22] tuxoko commented on #4169
`[z_fr_iss_7]` is on the send side writing to pipe and it itself looks fairly normal. It doesn't hold anything in zfs except for the taskq thread itself. The problem is whether there's anyone doing I/O in the recv side.

https://github.com/zfsonlinux/spl/pull/496
I had a very similar issue, where the recv I/O taskq is the same as the send side taskq. And the dynamic spawning doesn't spawn correctl

[2016-01-06 01:44] digoal commented on #4171
kernel  3.18.24
zfs,spl  version:        0.6.5.3-1
no any workload
aliflash card
zpool list
zp1
ls in zfs hang
zfs on /data01, only for postgresql data.

[2016-01-06 01:49] nedbass commented on #4169
I was running recent SPL master branch with the fix for #496.

[2016-01-06 04:34] mstromb commented on #4086
I have also encountered an oops in the same place. I don't have ECC memory either so I could also be the victim of an unlucky bit flip as well, but I thought I'd mention it so you have another data point. My pool seems to continue to generally work, though a scrub will hang forever.

[code]

I haven't built zfs with behlendorf's patch because it looks like it will be in 0.6.5.4. Is that correct?

[2016-01-06 05:25] stangri commented on #3952
Same problem on 14.04 LTS (Linux 3.13.0-74-generic #118-Ubuntu SMP Thu Dec 17 22:52:10 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux). When it happens the ZFS read operations take very long time. And it's not just txg_sync, but any process on the server accessing ZFS pool it seems.
[code]

[2016-01-06 05:28] neingeist commented on #4052
For the record: The fixes also worked for me.

[2016-01-06 05:29] neingeist commented on #4006
The fixes also worked for me.

[2016-01-06 07:24] liaoyuxiangqin commented on #4162
I have not do such test, but i think the problem still occuring whether hardware that supports the cache flush command.
I think the problem is due to vdev_config_sync use two-stage sync the uberblock and changes to the vdev configuration,  and then when importing pools we simply get an nvlist config through read the label information for first time success, rather than select best label which cons

[2016-01-06 12:45] rhagu commented on #3986
Hi, I just encountered the same problem. I updated today after a long time of not logging into the machine. It is a supermicro board with Intel CPU: http://pastebin.com/SiqgX728

This is the error message I get with yum update: http://pastebin.com/tJAkYLPX

I am running CentOS Linux release 7.2.1511 (Core) at the moment.

[2016-01-06 14:41] ryao commented on #4112
@janlam7 Would you contact me in #zfsonlinux on the freenode IRC network? It will be faster than using the issue tracker.

[2016-01-06 14:58] ryao commented on #4085
@behlendorf -r2 has been in Gentoo for 2 days. I had been able to reproduce and fix this. It should be safe to close this.

[2016-01-06 18:30] dweeezil commented on #4106
I seem to be able to reproduce this deadlock at will now.  Preliminary indications are that skipping headers with waiters _does_ fix the problem.  I'm going to make sure this is repeatable and post a followup with more information later.

[2016-01-06 18:38] dweeezil commented on #4106
Here's the stacks for one of them:

https://gist.github.com/dweeezil/643ff1130c647f024510

The test is doing nothing more than a bunch of concurrent ```zfs send``` operations.

[2016-01-06 19:37] tuxoko commented on #4169
@nedbass @behlendorf
I think I understand why. There's a window where tq_nactive is not accurate.

If t1 and t2 both want to dispatch on the same dynamic taskq with one thread.
It could not spawn thread when it should.
[code]

[2016-01-06 19:43] tuxoko commented on #4169
The easy fix would be just make dump_bytes_cb in its own taskq, which would eliminate this specific circular dependence.

[2016-01-06 21:20] kernelOfTruth opened #4172 "[dependencies, misc] Illumos 2605 want to resume interrupted zfs send"
[dependencies]

Lots of files are in a state requiring several of the pending pull-requests already merged or requiring even newer ones

posting here - otherwise this functionality and commit is hard to track successfully and merge properly

<del> 5745 https://github.com/zfsonlinux/zfs/commit/23de906c72946da56a54f75238693e186d44d6e2 Illumos 5745 - zfs set allows only one dataset property to be set

[2016-01-06 21:29] dweeezil commented on #4106
The test rig is as follows:
  - Create a pool with a single filesystem and a lot of small files and a single snapshot.  The current one happens to have 2.8M files.
  - Reduce BUF_LOCKS to maximize the collisions.  I've got it set to 2 for the moment.
  - Load the zfs module with both ```zfs_arc_min=256M``` and ```zfs_arc_max=256M```.
  - Run a bunch of parallel ```zfs send``` operations, let them

[2016-01-06 21:40] kernelOfTruth commented on #4172
[regression tests]

https://github.com/zfsonlinux/zfs/commit/0cee24064a79f9c01fc4521543c37acea538405f Speed up 'zfs list -t snapshot -o name -s name'

```zfs list -t snapshot -o name -s name```

still needs to work fairly quick

------------------------------------------------------------------------------------------------------------------------

[new tests]

usr/src/test/zfs-tests/include/comma

[2016-01-06 22:51] kernelOfTruth commented on #4172
[code]

[2016-01-06 22:58] kernelOfTruth commented on #4172
[code]

hm, so ZFS also needs zlib / gzip support ?

[2016-01-06 23:02] richardelling commented on #4162
The two-stage sync ensures that at least one label is written and synced to persistent media. The second stage is not expected to succeed if the first failed. Since the second stage only writes uberblocks, the on-disk data should be correct: including updated MOS and at least one current label. Do you have evidence to the contrary?

[2016-01-06 23:23] kernelOfTruth commented on #4172
alright so where does the sha2.h file come from - and where do we need it ?

https://gist.github.com/kernelOfTruth/ca85a32db3f2db554cda zfs illumos-gate sha2.h commits, libzfs_sendrecv.c

[2016-01-06 23:45] tcaputi commented on #494
I have briefly looked at the Illumos crypto implementation (with the intention of porting it to a Linux kernel module) and it obviously involves quite a bit of code which would be a daunting task to port. It also seems to me that large pieces of infrastructure of a full port might go unused since ZoL would only need aes-ccm and aes-gcm to have feature parity with Solaris. As far as hardware encryp

[2016-01-07 01:46] tuxoko commented on #4166
@behlendorf
This is a pretty funny situation.
But I think this is pretty easy to solve. We really don't need to hold the mutex lock until we release the ref count on the cvp. We can just use a cvp private spin lock to protect itself.

[2016-01-07 06:40] jdavidlists commented on #4106
@behlendorf This change is staged on all five machines, so as soon as one of them reboots for any reason, it'll take effect.

@dweeezil The arcstat for waiter skips will be very interesting.  Once implemented, in the livelock scenario, would that number just start skyrocketing?

[2016-01-07 11:10] sempervictus commented on #2831
This is kind of a hateful problem...
Was running heavy synchronous IO workloads over the last couple of weeks and suddenly managed to kill a pool this way. Z2 pool consisting of 5 disks didn't come back on reboot, one drive is completely missing from dmesg (likely disk-controller death) and one comes up but stalls the system with IO errors. 3 disks remain, and they cant seem to agree on what they

[2016-01-07 11:29] alexanderhaensch commented on #4085
I can confirm that with the new patchset, the send/recieve works flawless.

[2016-01-07 11:32] sempervictus commented on #2831
After a reboot with the zvol patches, the crash still occurs, but now the pool imports - showing 160 data errors.
Whats worse is that with disks 1 and 2 missing, disk 3 shows the last TXG to be on christmas whereas the other two remaining drives correctly show today...

Here's the resulting set of stack traces:
[code]
The pool meanwhile is stuck in busy so cant be exported (nor can the host reboot

[2016-01-07 13:25] simonbuehler commented on #2831
@sempervictus just to understand: is there a specific reason to use https://github.com/zfsonlinux/zfs/pull/4133 and not current master? Are there fixes that might help me get back my stuff? Btw. how come there is no professional zfs rescue support out there ...

[2016-01-07 15:34] kernelOfTruth commented on #2831
@simonbuehler ABD2 hasn't been rebased and fixed to work with current master yet ( #3441 )

[2016-01-07 16:23] koplover commented on #3950
I have also upgraded recently from 0.6.4.2-1 to 0.6.5.3-1, and have again experienced a marked slowdown in IO performance since this upgrade.

We run a virtualized environment (under Xen) and run zfs zvols as the volumes supporting the individual VMs. Benchmarking shows figures show read and write performance down by 50%, and simple iostat on the zvol taking the brunt of the benchmark concurs with

[2016-01-07 16:58] RichardSharpe commented on #3075
In  my testing of this issue, my change has reduced the occurrence significantly. I ran fsstress with and without the fix, and each time created some 20GB of data.

The result was that without the change we saw the Bad page state message in the logs 20 times and with the fix we saw it 6 times.

I would like to try to clear up the last few cases and we think that the pages are originating in ZFS.

[2016-01-07 22:35] dweeezil commented on #4106
I ran quite a few stress tests today with the zfsonlinux/spl@08fbc02 and _without_ the waiter skipping code and it seems to be holding up very well.  I've not been able to deadlock it a single time, although in this extreme test, the reclaim thread can consume lots of CPU.  AFAICT, this is a good fix.

[2016-01-08 01:16] behlendorf commented on #4084
Fixed with:

7cf2ffa Make arc_summary.py and dbufstat.py compatible with python3

[2016-01-08 01:16] #4084 closed

[2016-01-08 03:34] stgraber opened #4177 "ZFS is confused by user namespaces (uid/gid mapping) when used with acltype=posixacl"
Hello,

## First a quick introduction to the world of containers
I'm the project leader for LXC and LXD, working on containers on Linux. We now extensively use the user namespaces to provide an extra layer of security in Linux containers.

The user namespace allows one to map a range of uid and gid from the host or parent namespace into another range of uid and gid of a new namespace.

Typically w

[2016-01-08 03:51] stgraber commented on #4177
The lxc-usernsexec helper tool I'm using there comes from the LXC package in Ubuntu. It essentially causes a call to fork() followed by a call to unshare(CLONE_NEWUSER), then calls the newuidmap and newgidmap setuid helpers with the provided map so that the namespace can be configured properly.

You could reproduce something similar using the simple unshare tool and manual writes to /proc/PID/{u,g

[2016-01-08 04:07] RichardSharpe commented on #4136
I created a new pull request with what I think are the fixes but I noticed that two of the checks failed.

However, that seems to be because wget failed ... what can I do about it?

[2016-01-08 09:45] intelfx opened #4178 "RFC: better import integration with systemd, hotplug et al."
First, this is not an issue report per se, but rather an "RFC issue".

Currently, zfs pool importing and mounting completely bypasses the udev and hotplug machinery. That is, even the systemd pool import unit file begins with:

    Requires=systemd-udev-settle.service
    After=systemd-udev-settle.service

It does not hook up itself to `local-fs.target`, nothing. Moreover, zfs has its own dataset

[2016-01-08 16:07] kernelOfTruth opened #4182 "Comm: z_wr_iss shortly after sending snapshots, exporting the receiving pool and accessing of SMART status of the concerning harddrive"
FWIW:

[code]

The moment this happened X froze, the system still worked via Magic SYSRQ Key.

Previously zfs sends had been run to the device (/dev/sdf),

both /home (mirrored) and the pool exported (/dev/sdf) are luks-encrypted

this is a heavily patched kernel and spl & zfs are running ABD2 plus some additional upstream commits

https://github.com/kernelOfTruth/zfs/commits/zfs_kOT_23.12.2015_cu

[2016-01-08 16:29] rsyring opened #4183 "zfs/kernel crash when mounting dataset, stacktrace provided"
## The Problem

Whenever I try to mount my `rpool/ROOT` dataset I get a zfs/kernel (?) stack trace.  See below for images of the problem (no root filesystem so no way to get the text representation that I am aware of).
## System Info
- Macbook Pro (11,1) w/ 1 TB SSD drive
  - At most, 150GB of data
- Recently installed ZFS on root on ubuntu 14.04.
- Using the latest stable ZFS as released by the Z

[2016-01-08 16:48] dweeezil commented on #4183
For some reason there seems to be a rash of these lately.  See 29572cc and f5f087e for fixes.I suspect the former will cherry-pick cleanly into just about any version and allow you to mount.

[2016-01-08 18:44] alecz20 commented on #3582
An offline de-fragmentation solution is interesting and might be more viable. Is there any discussion on this topic?

[2016-01-08 18:59] behlendorf commented on #4162
@liaoyuxiangqin the case you describe is absolutely something which can happen.  However, there's already code to handle it in the kernel when importing the pool.  See `vdev_uberblock_load()->vdev_label_read_config()`.

[code]

rather than select best label which consistent with uberblock from 4 labels.

Exactly right.  It looks like the user space `zpool_read_label()` function needs to be more di

[2016-01-08 19:02] kernelOfTruth commented on #4182
Happened again on issuing

a simple

[code]

this time for an internal harddrive after having sent snapshots and exporting the pool

[code]

[2016-01-08 19:02] RichardSharpe opened #4185 "zpl_inode.c:zpl_lookup fails to set flags required to return the CI name of zfs snapshot dirs"
Hi,

After we fixed the case-insensitive rename issue, we ran into a snapshot issue.

zfs_dirlook is failing to fill in the pathname if it is a fake .zfs snapshot dir.

The fix seems to be:
[code]

[2016-01-08 19:04] rsyring commented on #4183
@dweeezil I really appreciate the quick response.  I was able to patch the source to match 29572cc and then I could boot back into that dataset.

[2016-01-08 19:04] kernelOfTruth commented on #4182
Running with a different nvidia drivers module (previous version: moved from 358.16-r1 to 355.11-r2)

not sure if it's the nvidia module or the module in combination with a specific compositing manager that caused the gpu to hardlock in the past

Strangely it worked for some time but now two times in a row it lead X to lock up

[2016-01-08 19:05] behlendorf commented on #4136
@RichardSharpe looks like an unrelated hiccup in the test framework.  I'll resubmit them for the sake of completeness but the patch looks good, and tests well, for me.  Thanks for pushing this over the finish line, I'll get it merged it master.

[2016-01-08 19:06] RichardSharpe commented on #4185
I will prepare another change ...

[2016-01-08 19:10] #4136 closed

[2016-01-08 19:18] behlendorf commented on #4185
Better yet have `zpl_lookup()` set FIGNORECASE in `flags` when case insensitive.  That way it's get set properly at the end of `zfs_dirlook()`.

[2016-01-08 19:30] behlendorf commented on #4183
@rsyring great to hear.  These two patches will be in the point release, if your curious was other fixes will be you can follow the release branch https://github.com/zfsonlinux/zfs/commits/zfs-0.6.5-release.

[2016-01-08 19:33] RichardSharpe commented on #4185
OK, so that is our bug. Thanks.

We will test with that and another update will be forthcoming.

[2016-01-08 19:35] behlendorf commented on #4185
@RichardSharpe please open a new pull request with this fix.  As it turns out I merged your latest version to master just moments before I saw you open this issue.

[2016-01-08 19:36] RichardSharpe commented on #4185
Shall do.

[2016-01-08 21:30] dajhorn commented on #4183
@rsyring, those patches are in the Ubuntu dailies.

[2016-01-08 23:04] tuxoko commented on #4185
@RichardSharpe
The original patch doesn't seem complete.
https://github.com/zfsonlinux/zfs/blob/c5d0287011679d76288c2617c409252245172a32/module/zfs/zpl_inode.c#L80

Under case insensitive, if we do d_splice_alias, which hash the negative dentry, we would end up with all sorts of mixed-case negative dentries in the hash. If we create a file later with one of the names, we cannot lookup with other n

[2016-01-08 23:44] behlendorf commented on #4185
Good point, I hadn't considered that case.  That could lead to some strange behavior until the mixed case negative dentries were naturally dropped from the cache.

[2016-01-08 23:52] RichardSharpe commented on #4185
Edited title to indicate the real problem.

[2016-01-08 23:54] RichardSharpe commented on #4185
tuxoko: OK, I see what you mean.

OK, so what we should do in the ENOENT error path is add the negative entry in a CI manner.

[2016-01-09 00:55] behlendorf commented on #4185
Yes, that should address it.  That way we're always using the CI name for cache lookups.

[2016-01-09 00:56] RichardSharpe commented on #4185
So, at least in 3.10 there seems to be no way to indicate that a negative entry is case insensitive. Let me check if there is one in later kernels.

[2016-01-09 01:14] RichardSharpe commented on #4185
Thinking about this some more, there will only be multiple, case-different negative entries in the dcache if someone does some fairly pathological stuff, I imagine.

For example, say we are looking up somefile.txt, if the application did a stat on each case version, we would end up with ~2048 negative entries. Eg, somefile.txt, Somefile.txt, sOmefile.txt ... However, typically, the application wil

[2016-01-09 01:23] tuxoko commented on #4185
The easy fix should be just return NULL, so negative dentry would always be dropped.

[2016-01-09 02:36] RichardSharpe commented on #4185
Yes, you are correct. I realized this in the car on the way home.

This means that we do without the negative entries on a CI file system.

Anything else would require support from Linux. I could imagine each dentry having a pointer to a canonicalize function or table, but that probably would not fly and we already get plenty of benefit from the current approach.

[2016-01-09 03:24] RichardSharpe commented on #4185
Also, I think I will have to look at the rename and delete path because if we convert those dentries to negative entries then I will have to delete them on a case-insensitive FS.

[2016-01-09 11:39] Sachiru opened #4187 "[FEATURE REQUEST] Add labelfix (zpool label recovery tool) to official tools."
Back in the old days, Jeff Bonwick created a tool to recover broken labels on zpools, called labelfix.

A copy is still located at https://gist.github.com/jjwhitney/baaa63144da89726e482

Can we perhaps add this to the official list of tools?

[2016-01-09 15:18] kernelOfTruth commented on #4187
@Sachiru you mean something like the following:

https://github.com/zfsonlinux/zfs/pull/4186 Allow -F to regenerate missing vdev labels

[code]

[2016-01-09 23:27] richardelling commented on #4162
Upon further review, I concur that the logic in zpool_read_label() should do as vdev_label_read_config() with comparison to the latest or target uberblock txg.

Arguably this fix should also apply to illumos, however the use of zpool_read_label() in illumos is different than ZoL, and thus illumos seems to be not effected in the same way.

A clever approach might be to reverse the search order: beg

[2016-01-10 00:46] kernelOfTruth commented on #4182
And it happened again:

sending snapshots, exporting the pool,

running ```smartctl -t short /dev/foo``` and shortly after the music started to stutter, X, too

then the music looped (few seconds snippet), and X output froze

[code]

[2016-01-10 00:52] kernelOfTruth commented on #4182
not sure if it's a coincidence that

https://github.com/kernelOfTruth/zfs/commit/4fbf4bcf9c2ce88c7f928ecce63516a6aa7fb58f Illumos 6288 dmu_buf_will_dirty could be faster

this time is being mentioned,

honestly I haven't stressed the system like in former times since shortly before the move until now

so this "regression" (?) might have slipped my stability and stress testing

[2016-01-10 01:13] kernelOfTruth commented on #4182
okay, I have to ask,

am I hitting the "vdev_queue_aggregate() deadlock"

?

Cause exactly that commit is missing from my patch stack :blush:

[2016-01-10 03:17] ilovezfs commented on #4162
Or maybe ZoL should put it back the way it was?

[2016-01-10 06:32] liaoyuxiangqin commented on #4162
@richardelling i agree with your consideration of zpool_read_label() should do as vdev_label_read_config() with comparison to the latest or target uberblock txg.

Arguably this fix should also apply to illumos, however the use of zpool_read_label() in illumos is different than ZoL, and thus illumos seems to be not affected in the same way.

I think  both illumos  and zfsonlinux  implementations  s

[2016-01-10 07:27] liaoyuxiangqin commented on #4162
@behlendorf  think you for you response, i will preliminary consider to optimize zpool_read_label() function by traversal  4 labels and find best uberblock in this device and then picking the best config for each toplevel vdev rely on the config with the latest transaction group and pool best uberblock txg regard,  but i need to consider more case of  two-stage sync labels failure and self-test.

[2016-01-10 12:34] yesbox commented on #1548
I just found this issue on 0.6.5.4-1. I stored all files in the root filesystem instead of in datasets, but has since created datasets and been moving the files to them. Then I noticed the reported disk usage of the root filesystem only increasing both in "zfs list" and "df" when moving files from it. I don't have any other information other than that I do rely on SELinux and xattr is set to the d

[2016-01-10 13:50] pakjebakmeel opened #4196 "Cannot destroy '<pool>': dataset already exists"
Hi all,

I noticed that my zfs-auto-snapshot was returning errors, it seems something is quite wrong. When trying to destroy a ZVOL:

I have 2 pools, a mirror based on 2 slices and a RAIDZ2 pool consisting of 6 3TB disks:

ZFS List output:

When trying to destroy any snapshot regardless on which pool results in:

gentoo / # zfs destroy storage/vm/john/dsk00@zfs-auto-snap_02-2015-10-31-0230
interna

[2016-01-10 14:25] kernelOfTruth commented on #4196
referencing

https://github.com/zfsonlinux/zfs/issues/3094 Spacemap Problem with Data Error

https://github.com/zfsonlinux/zfs/issues/3577#issuecomment-143968398 Data corruption in cluster environment that uses zfs and shared storage

How old is that pool, when was it created ?

[2016-01-10 15:24] kernelOfTruth commented on #4182
Doesn't seem to get triggered anymore with master, so it definitely appears to be https://github.com/ryao/zfs/commit/3e8cf6f9368aff3ab567c12e25183d9857bbec35 "vdev_queue_aggregate() deadlock"

It's only weird that it gets triggered in this specific way :8ball:

[2016-01-10 17:32] xflou commented on #3701
@behlendorf and @dweeezil

Sorry to hijack this thread, but I had related general questions regarding addressing ZFS/NFS issues that are very painful to those of us running ZOL on dedicated production NFS servers.

1. How far down the list is correcting "ZFS/NFS" issues? I know that are some quick patches thrown at it. Approximate realistic timeframe.
2. Do either of you use NFS in your production

[2016-01-10 17:54] darkpixel opened #4198 "Ran 'echo 3 > /proc/sys/vm/drop_caches', got a panic"
I ran 'echo 3 > /proc/sys/vm/drop_caches' to flush caches because the system was starting to get low on memory and got a panic from ZFS.

[code]
[code]

[2016-01-10 18:29] rsvancara opened #4199 "ZFS Stability Issue...and then long unacceptable recovery time"
Extra Information:
We are experiencing serious stability problems with ZFS on Linux.  We are using server class hardware with ECC memory.  What I am seeing is that the filesystem is used heavily and it crashes.

When the system does crash, it takes almost 8 hours to recover.  Obviously this is a production system and waiting this amount of time is completely unacceptable.

[code]

zpool status:

[2016-01-10 19:07] behlendorf commented on #4199
@rsvancara I'd strongly encourage you up upgrade your system to the 0.6.5.4 release which was made available just a few days ago.  The CentOS repositories have already been updated so you just need to update the system.  It contains fixes for the majority and most common deadlocks and stability issues which have been reported.  We're working on the remaining issues but since those patches are stil

[2016-01-10 19:09] dweeezil commented on #4198
See #3904 and #4161.  Hopefully #4197 or something like it ought to fix this for good.

[2016-01-10 19:26] rsvancara commented on #4199
Thanks, I will give 0.6.5.4 a try.  Anything is better than what we have
now.

On Sun, Jan 10, 2016 at 11:07 AM, Brian Behlendorf <notifications@github.com

--
Randall Svancara

[2016-01-10 19:42] behlendorf commented on #3701
Definitely near the top, this is one of the more common configurations for people using ZoL.  In fact, the recently tagged 0.6.5.4 release should address the majority of the ZoL+NFS issues.  What would be very helpful to us is if you could provide a list of the NFS related issues you're still seeing with this release.

https://github.com/zfsonlinux/zfs/releases/tag/zfs-0.6.5.4

Absolutely we depen

[2016-01-10 19:44] behlendorf commented on #4199
@rsvancara it would be very helpful if you could let us know what issues (if any) you're still seeing after the update.  That would help us focus our efforts on the most critical remaining issues.

[2016-01-10 19:53] behlendorf commented on #4162
How are things so different in ZoL?  We don't return a different label, just a little more information along with that label.  The only major difference here is we depend more heavily on the label scanning behaviour by default and less on a cache file.  I don't see any reason why Illumos wouldn't see the same issues if there were more real world systems stressing these call paths in interesting wa

[2016-01-10 20:01] rsvancara commented on #4199
Oh you dont have to worry about that.  I have this volume that is 10TB and
I have another around 400TB that both have issues from time to time. and to
be honest, I am behind a rock and hard place in terms of making these
stable.  Angry customers on one hand, my reputation on the other....

On Sun, Jan 10, 2016 at 11:44 AM, Brian Behlendorf <notifications@github.com

--
Randall Svancara

[2016-01-10 20:05] behlendorf commented on #4187
Actually this looks like a tool specifically designed to handle something like #4162.  It rewrites the label with an txg consistent to that from the uberblock.  This is something `zpool import` itself needs to handle.

#4186 is slightly different it rewrites all the labels given a cache file and it probably still needs some refinement.  But the idea here is that in general these are things `zpool

[2016-01-10 20:08] behlendorf commented on #4187
Adding this as a `zhack` subcommand seems like a reasonable this to do.  This is a developer tool which shouldn't be needed by end users but sometimes it is handy to have a tool for this kind of this.

[2016-01-10 20:27] xflou commented on #3701
@behlendorf

Thanks for the quick reply. I will update to the 6.5.4 version and see if that resolves the issue with the  "ARC_RECLAIM" using 99% CPU utilization and previous to that we had the "ARC_ADAPT" issue which seem related . I was starting to lose faith and considering the illuminos commercial version(Nexenta), but am not familiar enough to know if they have the same issues with NFS.   Now

[2016-01-10 22:51] richardelling commented on #4162
I think you'll find in practice that large illumos implementations always use the cachefile. Consider that illumos can have 20+ partitions/slices per drive and when there are more than a few hundred drives, this is way too much work. So once the system architecture is set to use cachefiles, there is no going back.

[2016-01-10 23:28] RichardSharpe commented on #4185
After reading through a bunch of code, it seems that rename does not create negative entries but unlink does.

To properly handle this we would have to implement our own dentry operations, I think.

However, the first thing to do is to stop creating negative entries.

[2016-01-10 23:51] gdevenyi opened #4202 "Ubuntu 14.04.3, 0.6.5.3-1~trusty on 4.1.15: arc stuck very small, cpu spinning on txt_sync during writes"
Just installed a new Ubuntu 14.04.3 and added the ubuntu-zfs PPA.

System is a 4-core atom ( https://www.asus.com/us/Commercial-Servers-Workstations/P9AIC2750SAS4L/specifications/ ) with 16GB ECC ram.

Built the following pool:
[code]

Disks are Segate 2TB SAS drives.

I was rsyncing over from another sever and noticed that the io write is very very slow. Running performance testing iotest.sh I fi

[2016-01-10 23:59] kernelOfTruth commented on #4202
continuing from the other repo:

try to raise zfs_arc_min to 2 GiB and see whether that helps in any way

[code]

[2016-01-11 00:02] dweeezil commented on #3701
@xflou Although completely unrelated to this original issue, as I recently mentioned in another issue recently, certain metadata-heavy workloads can easily cause the arc adapt thread to spin trying to free up metadata.  I don't have a good handle on the exact causes yet but any ```zfs send``` operations definitely exacerbate the situation.  At this point, the only solution I'm aware of is to make

[2016-01-11 00:04] Sachiru commented on #4202
A single RAIDZ vdev writes at the speed of the slowest disk. Your RAIDZ
is basically equivalent in performance to a single disk.

If you wish for more performance, I would recommend either splitting the
RAIDZ vdev into two vdevs, or helping to get SSD writeback cache merged
into mainline.

------ Original Message ------
From: "Gabriel A. Devenyi" <notifications@github.com>
To: "zfsonlinux/zfs" <zf

[2016-01-11 00:09] gdevenyi commented on #4202
Thanks, I was aware of that.

I'm reporting specific issues with:
1) Poor usage of ARC
2) High txg_sync usage, rather that writing to the disk

[2016-01-11 00:11] gdevenyi commented on #4202
@kernelOfTruth adding an arc_min pushed the size up to ~800MB when iotest is running.

As soon as I stop, the arc is back down to a tiny 2MB

[2016-01-11 00:15] kernelOfTruth commented on #4202
there's clearly some issue here:

[code]

please assign values to BOTH settings

with arc_meta_max being bigger than arc_meta_min

[2016-01-11 00:16] Sachiru commented on #4202
Perhaps you have a lot of running processes exerting memory pressure?
Arc will not deflate unless the system explicitly asks for RAM.

Also, ARC has nothing to do with write IOPS. Also, have you set your txg
sync interval lower, so that the system does not spend too much time
syncing?

------ Original Message ------
From: "Gabriel A. Devenyi" <notifications@github.com>
To: "zfsonlinux/zfs" <zfs@no

[2016-01-11 00:18] gdevenyi commented on #4202
@kernelOfTruth I started with a stock install, so I wasn't setting anything, except for the parameter you just asked me to set, any suggested values for this to test?

@Sachiru I just installed this system, just currently doing absolutely nothing except this. Current ram usage is 600MB on boot and idle CPUs.

[2016-01-11 00:26] kernelOfTruth commented on #4202
sure, you could start out with

[code]

so that's 2 GiB zfs_arc_min and 8 GiB zfs_arc_max
and 3 GiB for the metadata limit of ARC

set these in /etc/modprobe.d/zfs.conf
and reboot to apply

[2016-01-11 00:43] behlendorf commented on #4185
Just so you're aware we already do register `zpl_revalidate()` to handle invalidating dentries for other circumstances such as `zfs rollback`.

[2016-01-11 00:50] xflou commented on #3701
@dweeezil  once I get the 6.5.4 installed, I'll keep an eye on things and open a separate case. When you say enough RAM are you also referring to the ZFS ram setting for arc_min and max?

I have 256G of RAM on the system and during heavy loads I typically see about 126G being used.

Should my arc setting be set higher than they are current? Please see below:

options zfs zfs_arc_min=10737418240
op

[2016-01-11 01:49] rsvancara commented on #4199
I have installed 0.6.5.1.  Going to test it now....

On Sun, Jan 10, 2016 at 12:01 PM, Randall Svancara <rsvancara@gmail.com>
wrote:

--
Randall Svancara

[2016-01-11 02:15] BjoKaSH commented on #4166
Sooo, I am probably too late, but anyway, here comes the data (all from the ```arc_reclaim``` task, pid 487):

hash_lock
[code]

hdr  and b_l1hdr.b_cv
[code]

b_l1hdr.b_cv
[code]
```cv_event.task_list``` is empty
```cv_destroy.task_list``` contains a single node, but I don't know what it refers to.  What is the true type ```$hdr->b_l1hdr.b_cv.cv_destroy.task_list.next``` points to, i.e. beside an

[2016-01-11 02:26] gdevenyi commented on #4202
Adjusting arc_meta_limit as well seems to have resolved the ARC issues.

What remains is the question why the automatic settings didn't handle this properly.

[2016-01-11 05:43] pakjebakmeel commented on #4196
I'm having the same issues on both pools.

I noticed that all was fine up to a couple of weeks ago. The last thing I actually did was:

So you can see it was doing snapshots just fine until I created the NFS share. It seems that after that no more snapshots were made or deleted. Not sure if it's related..

[2016-01-11 06:06] ryao commented on #4050
@behlendorf @fling- pointed this issue out to me. Any issue where the term corruption is mentioned is something we should prioritize. We should add it to the milestone for the next release.

[2016-01-11 06:07] pakjebakmeel commented on #4196
As soon as I stop my NFS exports if behaves differently:

[2016-01-11 08:39] kaazoo opened #4203 "Allow configuration of zvol logical blocksize"
The logical blocksize of a zvol seems to always be 512 byte, despite the fact that volblocksize is set to 4 KB:
[code]

[code]

Is there any way to set logical blocksize = physical blocksize?

[2016-01-11 10:17] alexanderhaensch opened #4204 "sys-fs/zfs-0.6.5.3-r2 cannot destroy snapshot: internal error: out of memory"
I have a problem since the recent zfs API refactor patch.
If i try to destroy a certain snapshot the error is:

internal error: out of memory

Any ideas?

[2016-01-11 12:06] kaazoo opened #4205 "Allow higher ashift values as command line parameter"
I have a iSCSI (multipathed) device which has a physical blocksize of 16 KB:

[code]

When I try to specifiy 'ashift=14' for 16 KB blocksize, I get the following error:

[code]

However if I don't specifiy the ashift parameter, I everthing is fine and ZFS even seems to use 'ashift=14':

[code]

[2016-01-11 12:28] osti commented on #4204
Same here with version 0.6.5.3-r2 from Gentoo's portage tree, just updated yesterday.
/var/log/messages has this snippet:

    kernel: ------------[ cut here ]------------
    kernel: WARNING: CPU: 1 PID: 4216 at drivers/gpu/drm/drm_atomic.c:491 drm_atomic_check_only+0x4f9/0x590()
    kernel: Modules linked in: af_packet ipv6 dm_mod ppdev zfs(PO) zunicode(PO) zcommon(PO) znvpair(PO) coretemp spl(O

[2016-01-11 12:30] osti commented on #3467
@behlendorf sorry for being so quiet, but I had a lot coming up last months.

[2016-01-11 12:32] alexanderhaensch commented on #4204
I do not get the kernel call trace. I can only deliver a strace.

@ryao do you have that issue as well?

[2016-01-11 12:38] osti commented on #4204
The out of memory also appears during `zfs get -H -o value used $ZFS@$SNAP`

[2016-01-11 12:42] ilovezfs commented on #4204
yup.

[code]

[2016-01-11 13:04] stevenburgess commented on #4050
@ryao agreed that its important, I brought it up in IRC and elsewhere because I feel like ZoL users are particularly prone to having new code with old pools (I know some people do it on purpose for zfs-fuse compatibility).

[2016-01-11 13:45] stormeporm opened #4206 "pool full giving loads of problems"
Edit
This has already been fixed in 0.65 its probably because the spa_slop_shift is still 6 in 0.64 it has been changed to 5 in 0.65
Maybe it can be backported to 0.64 with a big warning that before installing you should check that you pool is less than 97% full
https://github.com/zfsonlinux/zfs/releases/tag/zfs-0.6.5
## https://github.com/zfsonlinux/zfs/issues/3724

First the setup.
6 raidz pools

[2016-01-11 14:38] osti commented on #4204
strace and ltrace from the mentioned `zfs get` command:
[zfs.ltrace.txt](https://github.com/zfsonlinux/zfs/files/85871/zfs.ltrace.txt)
[zfs.strace.txt](https://github.com/zfsonlinux/zfs/files/85872/zfs.strace.txt)

Are there any verbose / debugging options I cannot find a documentation about?

[2016-01-11 15:24] alexanderhaensch commented on #4204
I think we have to find out what was changed during the API patches. It looks to me that the zfs program reads at a wrong position or does not find the correct position.

[2016-01-11 16:39] ryao commented on #4204
@alexanderhaensch I am working on it now. In the meantime, I suggest downgrading to sys-fs/zfs-0.6.5.3. If that doesn't work, also downgrade to sys-fs/zfs-kmod-0.6.5.3, although I suspect that this is a userland bug rather than a kernel module bug.

[2016-01-11 16:42] ryao commented on #4204
@alexanderhaensch @osti I am working on it now.

In the meantime, you should be able to delete snapshots by using rmdir in the hidden .zfs/snapshot directory. The DRM warning is a bug in the graphics driver and is unrelated.

[2016-01-11 16:52] alexanderhaensch commented on #4204
@ryao  great to hear. I cannot delete the snapshots, because i have grsec in place and it is refusing it.

[2016-01-11 17:35] janlam7 commented on #4112
@ryao On another machine I just upgraded I get the same error-text, but during another command.

quad3400 ~ # zfs list -t snapshot | head -n2
NAME                        USED  AVAIL  REFER  MOUNTPOINT
pool3@20160109                 0      -   128K  -
quad3400 ~ # zfs list -H -o used pool3@20160109
internal error: out of memory
quad3400 ~ # modinfo zfs | head -n 2
filename:       /lib/modules/4.1.1

[2016-01-11 18:38] osti commented on #4204
zfs version 0.6.5.3 with kmod 0.6.5.3-r2 works.

[2016-01-11 20:14] kernelOfTruth commented on #4202
we've seen this kind of issue before if I remember correctly,

perhaps @behlendorf or @dweeezil can give a comment why this kind of behavior can occur

(would be good to know if this also has been observed on Illumos or FreeBSD)

[2016-01-11 20:20] kernelOfTruth commented on #4206
referencing https://github.com/zfsonlinux/zfs/pull/4207 Illumos #4950 files sometimes can't be removed from a full filesystem

[2016-01-11 20:53] dmaziuk commented on #3708
Another one here. Adding raidz1-10 (sdae, sdaf, sdag) in a 36-bay AMD supermicro. Centos 7, kmod-zfs-0.6.5.3-1.el7.centos.x86_64 -- also fixed by @dracwyrm's workaround.

[2016-01-11 21:36] tomassrnka commented on #3948
After a week of extensive usage on one of our backup servers, we are getting:
[code]
Any ideas please?

[2016-01-11 21:49] osti commented on #4204
Both zfs-0.6.5.4 (1ffc4c15) and current master (f3c9dca0) from github seem to work here; problem solved?

[2016-01-11 21:54] kernelOfTruth commented on #3948
Referencing:

https://github.com/zfsonlinux/zfs/issues/816 "Too many levels of symbolic links" when "cd"ing to snapshot subdir

https://github.com/zfsonlinux/zfs/issues/3257 kernel panic while browsing snapshots

[2016-01-12 00:56] Sachiru commented on #4187
The initial idea is a tool that rewrites the label given a cache file, yes, however the visualized end goal is a recovery tool that can rewrite a label based on several possible methods:

a) Recover from a cache file
b) Reconstruct cases of damaged partition tables by scanning the disk for pool_guid then following this method: https://forums.freebsd.org/threads/need-help-to-recover-data-from-damag

[2016-01-12 02:07] ilovezfs commented on #4204
@osti No, that's irrelevant. ZFS on Gentoo uses the new API. Neither 0.6.5.4 nor HEAD use it yet. The problem is in the new API, as mentioned above. Therefore, nothing is yet solved unless solved is defined as having a way to work around the issue on your own system.

[2016-01-12 02:36] ilovezfs commented on #4187
@Sachiru yes such a tool would be very nice to have, but I wouldn't oversell it, and I think it will largely leave the lack-of-fsck and lack-of-recovery-tools complaints entirely unaddressed.

The scenarios you described are of the ultimately very minor variety. 1) More serious problems such as spacemap corruptions, device not found I/O errors, metadata corruptions, etc. would still fall into the

[2016-01-12 03:56] richardelling commented on #4187
a) Recover from a cache file

If the pool is writable, then this already exists: import the pool with cachefile set or -c option.

b) Reconstruct cases of damaged partition tables by scanning the disk for pool_guid then following this method: https://forums.freebsd.org/threads/need-help-to-recover-data-from-damaged-zfs-pool.49782/#post-279702

This isn't difficult, because the labels and uberblock

[2016-01-12 04:51] Sachiru commented on #4187
@ilovezfs : True, but even minor recovery tools are better than the lack of them.

@richardelling : The reconstruction via speculative writing can probably be hidden behind a (documented) command line flag, something like

zhack labelfix --reconstruct-from-vdev

And even then, inquiring from the user if they are sure or not before the command is issued. Of course, those who would recommend this me

[2016-01-12 06:10] pakjebakmeel commented on #4196
When using

sys-fs/zfs-0.6.5.3

instead of

sys-fs/zfs-0.6.5.3-r2

It is working again.. I can delete the snapshots again. I presume this means the regression is for the Gentoo maintainer as the issue is not in ZFS particularly?

[2016-01-12 11:40] kernelOfTruth commented on #4196
@pakjebakmeel yes,

referencing: https://github.com/zfsonlinux/zfs/issues/4204 sys-fs/zfs-0.6.5.3-r2 cannot destroy snapshot: internal error: out of memory

CC: @ryao

[2016-01-12 12:51] kernelOfTruth commented on #4182
closing, it was "vdev_queue_aggregate() deadlock",

so using a new enough master should address this issue

[2016-01-12 12:51] #4182 closed

[2016-01-12 16:58] ScottESanDiego commented on #4112
I get this with Gentoo on my 4.4.0 system using -r2.  Looks like most anything that wants to touch snapshots is broken:

intrepid ~ # zfs list -H -o used tank/GENTOO/mail@backupsnapshot_latest
internal error: out of memory

intrepid ~ # zfs destroy tank/GENTOO/mail@backupsnapshot_latest
internal error: out of memory

:-(

[2016-01-12 17:04] behlendorf commented on #4164
@luozhengzheng this isn't intuitive but it is by design.  The most efficient way to enforce quotas is at part of the transaction engine.  This means you can slightly overshoot your quota by get enough updates in to a single transaction group.

[2016-01-12 17:04] #4164 closed

[2016-01-12 17:11] ilovezfs commented on #4112
@ScottESanDiego Yes, ryao is already hard at work fixing this: https://github.com/zfsonlinux/zfs/issues/4204

If you need a workaround immediately, you can build the spl-9999/zfs-9999 ebuilds, or use the .zfs snapdir to interact with the snapshots.

[2016-01-12 17:21] #3449 closed

[2016-01-12 18:07] behlendorf commented on #4204
Duplicate of #4112

[2016-01-12 18:07] #4204 closed

[2016-01-12 18:08] behlendorf commented on #4196
Duplicate of #4112

[2016-01-12 18:08] #4196 closed

[2016-01-12 20:37] tuxoko commented on #3075
@RichardSharpe
I don't think your "fix" fix anything. It's more likely it changes the timing making it occur less.
You can use event tracer in `/sys/kernel/debug/tracing` by tracing the event `mm_page_alloc` and `mm_page_free` to figure out where the page came from.

[2016-01-12 23:20] behlendorf commented on #4199
@rsvancara silence is good I trust?

[2016-01-12 23:27] rsvancara commented on #4199
I am having good luck so far.  I have ran some tests using multiple
concurrent rsync sessions and the filesystem did not fail.  So I take that
as a good sign.

On Tue, Jan 12, 2016 at 3:20 PM, Brian Behlendorf <notifications@github.com>
wrote:

--
Randall Svancara

[2016-01-13 00:48] behlendorf commented on #4085
Great.  Closing.

[2016-01-13 00:48] #4085 closed

[2016-01-13 00:52] behlendorf commented on #679
@kernelOfTruth the way ACLs needed to be implemented for Linux that feature doesn't really apply.  I've marked it as such on the wiki.  I'll close this issue out since it not something anyone is planning to do.

[2016-01-13 00:52] #679 closed

[2016-01-13 00:53] behlendorf commented on #4171
This bug was resolved by commit 0bf3772 which was included in the 0.6.5.4 tag.

[2016-01-13 00:53] #4171 closed

[2016-01-13 00:57] behlendorf commented on #4172
@kernelOfTruth what's going on in this issue?  Is it something you'd like to leave open now that the bulk of the dependencies have been merged?

[2016-01-13 06:50] fractalram commented on #3708
Another one here..

root@debian:/dev/disk/by-id# zpool create -f mypool2 /dev/disk/by-id/scsi-35000c5008e59858f /dev/disk/by-id/scsi-35000c5008e5ba103
cannot create 'mypool2': no such pool or dataset

Works with names :+1
root@debian:/home/debian# zpool create -f mypool mirror sdi sdj
root@debian:/home/debian# zpool list
NAME     SIZE  ALLOC   FREE  EXPANDSZ   FRAG    CAP  DEDUP  HEALTH  ALTROOT
m

[2016-01-13 07:31] jxiong opened #4210 "commit zfs-0.6.4-93-gca0bf58 causes excessive server load"
Recently we're experiencing a timeout issue for Lustre workload on all ZFS revision after commit ca0bf58: 'Illumos 5497 - lock contention on arcs_mtx'. The symptom is that the server load became really high and then after a while timeout happened. The timeout thread is always with the following backtrace.

[code]
I have collected a crashdump when this issue was happening at: http://goo.gl/L52nf5,

[2016-01-13 07:47] jxiong commented on #4210
The backtrace of all processes I extracted from the crashdump file.

[bt.txt](https://github.com/zfsonlinux/zfs/files/88526/bt.txt)

[2016-01-13 11:22] odoucet commented on #2437
We experience the same issue as @andyeff (with Xen instead of VMware).
zpool online -e does not do the trick, nor reboot.
We previously did get this working, but cannot remember which version we used at that time (0.6.2 or 0.6.3). It is not working on 0.6.5.4-1

[2016-01-13 11:23] ilovezfs commented on #2437
@odoucet did you try offlining and then re-onlining -e?

[2016-01-13 12:42] kaazoo opened #4211 "Low performance when zpool is based on iSCSI disk based on zvol/zfs"
I have a setup with a head node (iSCSI initiator) and multiple storage appliances (iSCSI targets). Each target is standard server hardware (16x / 24x HGST 8 TB SAS3). All systems run Ubuntu 14.04 and ZFS 0.6.5.4.
LIO (Linux IO target) is used for the target. Open-iSCSI is used for the initiator.
Target and initiator are connected via 10 GBit Ethernet.

On the target for example a single raidz2 vde

[2016-01-13 13:11] odoucet commented on #2437
Cannot be done on this specific zpool because it is made of only one device, and zfs refused to offline the device in this case ("no valid replica").

[2016-01-13 13:19] ryao commented on #4112
I have pushed fixes for this to the gentoo-next branch in my github repository:

https://github.com/ryao/zfs/tree/gentoo-next

There is one more reported issue that I want to address and I am still testing it, but I am hopeful that I can get things updated later today.

[2016-01-13 13:33] kernelOfTruth commented on #4172
@behlendorf yes, this issue can be closed

the two things currently concerning me is

https://github.com/zfsonlinux/zfs/commit/0cee24064a79f9c01fc4521543c37acea538405f Speed up 'zfs list -t snapshot -o name -s name'

this one is noted here,

and the tests included by this commit:

can these be also tested via the buildbots or is this Illumos, Solaris, etc. specific ?

anyway - closing

Thanks !

[2016-01-13 13:33] #4172 closed

[2016-01-13 14:04] alexanderhaensch commented on #4211
I don't understand why the write performance is (much) faster behind the second iscsi export. Does this come from some write buffering? did you test with the fsync convention?
dd if=/dev/urandom of=/dev/XZ bs=100G conv=fsync
This runs the test in synchronous mode. Does that result shows the similar trend?

[2016-01-13 14:23] zielony360 commented on #4211
@kaazoo
Looking at your configuration (not too many NL-SAS, raidz2) your results are very good, even locally. Remember that each disk of this class has about 100 IOPS only. I wouldn't expect more using such disks and raidz2.

Have you tried running iSCSI transfer for a long time (at least one hour)? Until ZIL is full you will get write performance boost, because data is being written to RAM, if no

[2016-01-13 15:05] kaazoo commented on #4211
@zielony360
How do I disable readahead on the initiator side? I tried the following:
[code]
That doesn't seem to have impact when testing with dd.
I will also test with fio asap.

[2016-01-13 15:32] kaazoo commented on #4211
On the target, I switched to a zpool with 2x raidz2 (8 disks each, ashift=12).
Then I created a zvol with volblockisze=128K.

dd locally:
[code]

[2016-01-13 15:52] behlendorf commented on #4172
There's been an on-again off-again effort to pull those tests over for the buildbot to run but it's been something of a slog and not yet ready.

[2016-01-13 16:05] behlendorf commented on #1912
This was likely fixed in master by commit 43b4935 or possibly one of the other SA fixes.

43b4935 Prevent SA length overflow

[2016-01-13 16:05] #1912 closed

[2016-01-13 16:19] kernelOfTruth commented on #4172
Understood, these tests appear quite complex (and useful !) - so I'm sure there's also significant porting work to be done to get them to work with Linux

[2016-01-13 16:23] kernelOfTruth commented on #4210
@jxiong any reason you can't use the 0.6.5* branch (which should include fixes against that commit) ?

[2016-01-13 16:38] jxiong commented on #4210
@kernelOfTruth we tried the latest revision 0.6.5.4 coming out last Friday and it hit the same issue.

[2016-01-13 16:47] behlendorf commented on #4210
Agreed this looks different.

That said the 0.6.5.4 tag definitely does contain fixes for some deadlocks introduced by that big Illumos commit you referenced which reworked the ARC.  I'd suggest using that or an 0.6.4 variant which predate the change.  We're locally running 0.6.5.3 on our Lustre systems and will be rolling to 0.6.5.4 with the next update.  To my knowledge we haven't hit this speci

[2016-01-13 16:51] ilovezfs commented on #4112
@ryao Yup, things seem to back to normal now on the O3X server running https://github.com/ryao/zfs/tree/gentoo-next

Thanks!

[2016-01-13 17:28] jxiong commented on #4210
@behlendorf I didn't see this pattern on the other crashdumps. But for this specific call, I can see the size passing to `fletcher_4_native` is correct. The r14 is the size and it matches zio:io_size:

[code]
kdump interrupted `fletcher_4_native()` when it's 2652L bytes of computation left.

[2016-01-13 17:35] RichardSharpe commented on #3075
@tuxoko: You might be right. Looking into tracing now.

[2016-01-13 17:50] prometheanfire commented on #3605
does anyone have a generator script?

[2016-01-13 18:07] abuschmann opened #4214 "using vdev_id with sas_direct and sas_switch"
I have set up zfs on a Supermicro 2027R-AR24NV running CentOS 7.2
It has three LSI SAS3008 to connect the 24 disks on the front side.
I have added an LSI SAS2008 to connect an external SAS array, where currently only 8 sas disks are populated. (This array is on loan for testing.)

I currently can not use the names in /dev/disk/by-vdev, but that is supposed to be a problem with the systemd/CentOS i

[2016-01-13 18:23] abuschmann commented on #3689
The arxcis block device can be used as a tape with tar, but it does not work as a block device for ext3.
I wrote a bug report to arxcis in August 2015, but did not yet get an answer.

Unsolved but the problem is with the arxcis driver.
Do you want to close this issue?

[2016-01-13 18:37] jxiong commented on #4210
@prakashsurya @behlendorf

I would like to look into this under your help. I will appreciate if you could tell me where/how to start the investigation.

[2016-01-13 19:27] behlendorf commented on #4210
@jxiong thanks for the quick follow up.  Since you have a crash dump I'd start be carefully inspecting the zio (including its children) which the `ll_ost01_014` thread is blocked on.  You should be able to determine what stage of the pipeline it's in and why it's waiting.  One of the pipeline threads should be completing the IO, is it `z_rd_int_5`?

Have you ruled out hardware problems on this sys

[2016-01-13 19:56] jxiong commented on #4210
When this crash dump was collected the OST `ll_ost01_014` has already timedout, but I found another OST thread `ll_ost00_008` that was doing the similar thing. The ZIO was in `ZIO_STAGE_VDEV_IO_START`state, as follows:

[code]
I believe the disk I/O is not yet finished, because the executor of this ZIO is the OST thread:

[code]
Then I investigated the ZIO in the head of active queue:

[code]
The

[2016-01-13 20:03] janlam7 commented on #4112
@ryao Nice, seems to be working again on the one machine I tried the gentoo-next branch on.

[2016-01-13 20:59] kernelOfTruth commented on #4210
I wonder if the issue would be mitigated by the changes in

Illumos 5960, 5925
https://github.com/zfsonlinux/zfs/commit/fcff0f35bd522076bdda7491c88a91cc0aa531a3
&
Illumos 5987 - zfs prefetch code needs work
https://github.com/zfsonlinux/zfs/commit/7f60329a261bd48558a498fb10e9b29638eab33b

there were several modifications related to ZIO_PRIORITY_SYNC_*

[2016-01-13 21:46] behlendorf commented on #4210
@jxiong I've definitely been down this exact rabbit hole before and we've found a fixed a few rare issues.  One such problem was addressed by commit aa159afb568fff01bb9f427c16b406c5d29664c7 but that fix is part of 0.6.5.3 and latter so if you reproduced the issue on 0.6.5.4 that's not it.

I'm just speculating here without too much information.  But it sounds like either `zio_interrupt()` never ra

[2016-01-13 23:14] kernelOfTruth commented on #3896
https://github.com/zfsonlinux/zfs/pull/4213

[2016-01-13 23:16] kernelOfTruth commented on #3742
@siebenmann thanks for the pointers,

it was a combination of auto-mounting of the snapshots/backup medium and user error,

closing

[2016-01-13 23:16] #3742 closed

[2016-01-13 23:30] tuxoko commented on #2314
Some update on this issue.
It seems sometimes creating a fresh pool and export it immediately the partition table is not synced correctly.

So I created a pool qq on /dev/sde and export it.
[code]
Notice there's no `UUID` or `zfs_member` in it.
Now if I supply `-d` option:
[code]
It actually shows up.
And if I import it with `-d` and export it again. blkid becomes normal.
[code]

[2016-01-14 02:21] jxiong commented on #4210
@kernelOfTruth Those patch are not landed to zfs-0.6.5-release but they are in master. I will check them and give them a try. Thanks.

[2016-01-14 04:49] behlendorf commented on #2314
Or perhaps the blkid cache us stale.   The -d option forces the directory scanning.

[2016-01-14 13:07] kernelOfTruth commented on #4210
@jxiong if you test out these commits on a testing box, make sure to also include

https://github.com/zfsonlinux/zfs/commit/23de906c72946da56a54f75238693e186d44d6e2 Illumos 5745 - zfs set allows only one dataset property to be set at a time

and

https://github.com/zfsonlinux/zfs/commit/37f8a8835a88da6122e2526d6aaeeef75556a7bd Illumos 5746 - more checksumming in zfs send

otherwise they won't appl

[2016-01-14 13:30] chneukirchen opened #4222 "mount.zfs argument order breaks on POSIX-conforming getopt"
The mount.zfs helper program uses getopt(3) to parse its arguments. mount.zfs is called by util-linux with the non-standard order of `<spec> <mountpoint> -o <options>` which other tools like `mount.nfs` or `sshfs` explicitly expect. (This is specified in `EXTERNAL HELPERS` in util-linux mount(8).)

This is not a problem on glibc since GNU getopt(3) will reorder the arguments. However, alternative

[2016-01-14 13:53] kernelOfTruth commented on #3979
@gvdijnsen sorry for the long delay, I've been on a move and slightly lost track of some things

nr_requests should be a pretty high value when running with raid arrays or several drives

so nr_requests of 1024 would be a good start, mark however that higher values might lead to slightly higher latency

Was there any change on your side ?

There were meanwhile several locking issues addressed in D

[2016-01-14 14:20] kaazoo commented on #4211
I order to have something to compare against, I created an ext4 filesystem instead of ZFS on the initiator.

ext4 doesn't seem to support 128 KB blocksize (max seems to be 64 KB), so I just went with the standard of 4 KB., allthough this is not optimal.

[code]
I switched on readahead again:
[code]
dd on initiator:
[code]

fio sequential write on initiator:
[code]

fio sequential read on initiator

[2016-01-14 14:53] gvdijnsen commented on #3979
On our side nothing much has changed. We stall and reboot every once in a while (about twice a week) and try to keep load as low as possible until we have a solution. Meanwhile, to my dismay, we are looking at an exit scenario to fall back to ext4 :-(.

I have looked at the issues you mentioned and although I am quite positive that these look very much like our problem, so the fixes for them shoul

[2016-01-14 15:34] stormeporm commented on #4214
I use it to give vdev names matching the disk numbers on the case.
If you have a HBA you could use the automatic version but I've not tested it. This is  a jbod arrangement on ubuntu and I've used the pci path.
http://zfsonlinux.org/faq.html#HowDoISetupVdevIdConf

Part of my /etc/zfs/vdev_id.conf:

` # Generate a mapping so the disk names match the numbers on the casing. `
`# Numbers starting with

[2016-01-14 19:29] tuxoko commented on #2314
OK, blkid was v2.26.2 on my VM. I tried v2.27 and the issue was gone.

[2016-01-14 19:29] #2314 closed

[2016-01-14 21:29] behlendorf commented on #2314
As an aside, this is the primary reason we've thus far not made blkid mandatory and left it up to the distributions.  There are older versions of blkid out there which can't 100% of the time identify a ZFS label.  Although at this point I'm not sure how many distributions still have that issue.

[2016-01-15 01:45] ofaaland opened #4224 "missing zfs-kmod-debuginfo with --with-spec=redhat"
When configure is run with option --with-spec=redhat, make rpm produces no zfs-kmod-debuginfo package.  The same problem exists in SPL.

Based on our local build farm, I believe the problem was introduced with 0.6.5.  I see the issue myself on 0.6.5.3.

[2016-01-15 01:49] ofaaland commented on #4224
I believe there are multiple problems:
1. The redhat specfile defines debug_package to be nil
2. The .ko files are not executable, and so they are ignored by find-debuginfo.sh
3. When the above two issues are fixed, some of the symlinks created in /usr/lib/debug/.build-id/ are broken.

I have a patch for the first two.  When I have the broken links fixed, and the debuginfo package is fully correct

[2016-01-15 05:06] RichardSharpe commented on #4185
Thanks for that info.

Looks like I need two dentry_operations_t structures, one with just zpl_revalidate and one with both that an a new function, zpl_dentry_iput.

The second dentry_operations_t structure would be used when we are a case-insensitive files system.

The new function would call d_drop on the dentry and iput on the inode.

Seems pretty straightforward.

I am working on cleaning up t

[2016-01-15 12:02] alexanderhaensch commented on #4112
@ryao getting properties works now.
Destroying snapshots is still not possible.

[2016-01-15 13:36] ilovezfs commented on #4112
@alexanderhaensch You sure you actually are using the fixed code? See below.
[code]

[2016-01-15 14:27] AceSlash opened #4226 "zpool lock down with hundred of zfs snapshot stuck during resilvering"
Hello,

I had a strange issue on a server: during a resilvering, zfs snapshot started to get stuck, never finishing. It took some time for us to see that, at the end there was 73 blocked zfs snapshots.

It didn't stop the availability of the datasets until the very end, where all processes accessing any dataset on the zpool were finally now blocked (apache httpd, postgresql, etc). I tried to stop

[2016-01-15 14:35] alexanderhaensch commented on #4112
@ilovezfs Yes you are right. I was missing the system reboot. My setup is now: gentoo 0.6.5.3-r2 + the 6 patches from @ryao s gentoo-next on top of that. Seems to work. Thanks!

[2016-01-15 14:44] ilovezfs commented on #4112
@alexanderhaensch Cool, glad you got it working. Same setup here basically, except that I mirrored https://github.com/ryao/zfs/tree/gentoo-next at https://github.com/ilovezfs/zfsonlinux-zfs and then modified the 0.6.5.3-r2 ebuilds to use that and skip the patching (similar to how the 9999 versions do). The results should be identical to what you did.

[2016-01-15 14:54] kernelOfTruth commented on #4226
referencing - since it looks suspiciously similar:

https://github.com/zfsonlinux/zfs/issues/4106 ZFS 0.6.5.3 servers hang trying to get mutexes
(main thread)

https://github.com/zfsonlinux/zfs/issues/4166 live-lock in arc_reclaim, blocking any pool IO
(additional stack trace)

https://github.com/zfsonlinux/zfs/issues/3979#issuecomment-171649725 in a nutshell the fixes you could apply to your syst

[2016-01-15 15:49] kaazoo commented on #4211
I did further testing with 128 KB blocksize.

The following commands were use for fio:
[code]

test | blocksize log/phy | fio seq write | fio seq read | fio rand write | fio rand read
------------ | ------------- | ------------- | ------------- | ------------- | -------------
zfs on target | 128K | 827 MB/s | 1446 MB/s | 815 MB/s | 26 MB/s
zfs on initiator on LIO iSCSI disk on zvol | 512 / 128K |

[2016-01-15 18:10] michaelxwang opened #4227 "rm / remove / delete a large file causes high load and irresponsiveness"
Here is a demonstration of the problem:

[code]

The top processes are things like:

[code]

The zfs version I have is 0.6.5.4 (rebooted after installing the package):

[code]

The "junk" file is copied from a MySQL database file. I tried creating a large file with dd:

[code]

but as seen, it is removed without issue. Obviously dd a file and cp a file are different.

I originally encountered the

[2016-01-15 18:18] kernelOfTruth commented on #4227
@michaelxwang you have lz4 compression enabled ?

then  ``` dd if=/dev/zero ``` shouldn't be an issue - at all

referencing: https://github.com/zfsonlinux/zfs/issues/3976 High CPU usage by "z_fr_iss" after deleting large files

and judging from the comments in that issue,

lock contention, held locks could be also the underlying issue - thus referencing:

https://github.com/zfsonlinux/zfs/issues/4

[2016-01-15 21:05] michaelxwang commented on #4227
Yes, I have lz4 enabled:

    # zpool get all | grep lz4
    tmp0  feature@lz4_compress        active                      local
    vol1  feature@lz4_compress        active                      local

[2016-01-15 21:17] kernelOfTruth commented on #4166
@BjoKaSH ping

you have the possibility to modify and try out alternative deb packages ?

if yes, there were several fixes mentioned in #4106

https://github.com/zfsonlinux/zfs/issues/3979#issuecomment-171649725

is a summary of those from #4106

[2016-01-15 21:38] kernelOfTruth commented on #4227
@michaelxwang please post output of

``` zcat /proc/config.gz | grep -i preempt ```

to see which preemption model the underlying kernel uses,

how is the system holding up during that delete operation ?

Still responsive ?

Also could you do a quick inspection what iotop shows ?
Consistent, low i/o (not much fluctuation) ?

Any lvm, device-mapper, etc. ?

How much snapshots do exist on that pool

[2016-01-15 23:00] BjoKaSH commented on #4166
@kernelOfTruth  I tried once in a while, but Debian packages are largely black magic to me.  And anything dkms related is deep black magic.  Nevertheless I'll try again in the next days.

Right now I wonder if there is a way to untangle the two threads, such that I can get a clean shutdown instead of just power-cycling the box.  Or if any attempt to modify the state  would always cause disaster.

[2016-01-15 23:03] kernelOfTruth commented on #4227
also what ashift was used during pool creation ?

what harddrives in what configuration is used ?

[2016-01-15 23:45] #3472 closed

[2016-01-15 23:49] behlendorf commented on #4166
@BjoKaSH thanks for the debug, we got what we needed from the back traces.  The fix for this has been merged to the zfs master branch.  You can roll custom debian packages if you need to:

http://zfsonlinux.org/generic-deb.html

zfsonlinux/spl@e843553 Don't hold mutex until release cv in cv_wait
c96c36f Fix zsb->z_hold_mtx deadlock
0720116 Add zfs_object_mutex_size module option

[2016-01-15 23:49] #4166 closed

[2016-01-15 23:55] kernelOfTruth commented on #4166
@BjoKaSH it looks like there are weekly builds available at https://launchpad.net/~zfs-native/+archive/ubuntu/daily

[2016-01-16 00:07] behlendorf commented on #4106
OK, the proposed patches to resolve this issue have been merged to the master branch.

The first two prevent a deadlock where `zfs_zget()` is stuck in the memory system holding the `z_hold_mtx`.  It's waiting on `zfs_zinactive()` but it can't make progress since it happens to have hashed to the same value and is waiting on the same `z_hold_mtx`.  This can't happen under illumos due to VM differenc

[2016-01-16 00:07] #4106 closed

[2016-01-16 00:15] behlendorf commented on #3979
@gvdijnsen sorry I'm a little late to this issue, but if you could post all the stack traces from a system when this happens I could tell you for sure if the #4106 patches will resolve your issue.  These changes have just been merged to master so they may make it in to 0.6.5.5.

[2016-01-16 00:21] behlendorf commented on #4226
I can't say for certain since the back traces are incomplete but I believe cherry-picking the folloiwng patch will resolve the issue.  It  should be in the next point release 0.6.5.5.

zfsonlinux/spl@e843553 Don't hold mutex until release cv in cv_wait

[2016-01-16 01:10] Marlinc opened #4229 "zfs send stuck on 0.6.5.4-1~vivid (kernel 3.19.0-43-generic)"
I just ran into a stuck zfs send process on ZoL version 0.6.5.4-1 on Linux kernel 3.19.0-43.

I did get the following error in the output: `cannot receive incremental stream: invalid backup stream`
# Command

[code]
# Traces
## PID 23010

[code]
## PID 2202

[code]
# 'Open files'
## PID 23010

[code]

[code]

[2016-01-16 01:36] kernelOfTruth opened #4230 "Illumos #6370 ZFS send fails to transmit some holes"
Description

In certain circumstances, "zfs send -i" (incremental send) can produce a stream which will result in incorrect sparse file contents on the target.

The problem manifests as regions of the received file that should be sparse (and read a zero-filled) actually contain data from a file that was deleted (and which happened to share this file's object ID).

Note: this can happen only with f

[2016-01-16 01:37] kernelOfTruth commented on #4229
referencing:

https://github.com/zfsonlinux/zfs/issues/485 "invalid backup stream" error on second incremental stream sent in with -RI
https://github.com/zfsonlinux/zfs/issues/2210 zfs receive fails receiving a deduplicated stream "invalid backup stream"

[2016-01-16 13:48] michaelxwang commented on #4227
(01) Which preemption model the underlying kernel uses: zcat /proc/config.gz | grep -i preempt?

I have not have /proc/config.gz file, my kernel is "3.19.0-43-generic #49~14.04.1-Ubuntu SMP".

(02) How is the system holding up during that delete operation?

The system did not crash but not responsive, for some commands. For example, "vi README.txt"
was hanging there for sometime, and so does ":q".

[2016-01-16 16:09] kernelOfTruth commented on #4227
okay - so the memory pressure can't be too high, lots of it appears to be still free

please post output of

``` dmesg | grep -i preempt ```

[2016-01-16 18:36] jdavidlists commented on #4106
Thanks for all your hard work everyone!  It is much appreciated!

[2016-01-16 19:38] ryao commented on #4112
I pushed out 0.6.5.3-r3 today. The delays were caused by my attempts to verify that I had fixed every reported regression in -r2 so there would not need to be an -r4.

[2016-01-16 19:45] ryao commented on #4064
@AndCycle Your kernel modules likely fell out of sync with the userland tools. I have been trying to stabilize the /dev/zfs API starting with 0.6.5.3-r1 so that this is the last time something like this happens. Unfortunately, mixing the old tools and kernel modules was not working in -r1. As of 0.6.5.3-r2, you can use the old tools with the new modules, but not the new tools with the old modules.

[2016-01-16 20:26] Rudd-O commented on #845
This may be worthy of another bug, @mailinglists35.

[2016-01-16 21:53] michaelxwang commented on #4227
dmsg does not have the info:

    # dmesg | grep -i empt | wc
          0       0       0

[2016-01-16 22:45] lnxbil commented on #4227
I do not know if this is related or not, but I encountered the same problem yielding stuck processes on delete. Could you please check if you have similar messages like these in your ```dmesg```:

[code]

I'm on 0.6.5.4 too.

[2016-01-16 22:45] kernelOfTruth opened #4234 "Illumos #3752 want more verifiable dbuf user eviction"
http://permalink.gmane.org/gmane.os.illumos.zfs/1471

http://cr.illumos.org/~webrev/will/illumos-3752/

[2016-01-16 22:46] dweeezil commented on #4227
@michaelxwang I'm most interested in the CPU being used by the sync task.  I'd suggest running ```perf top``` to get a handle on where the CPU time is being spent.

[2016-01-16 23:46] kernelOfTruth commented on #2831
@sempervictus you looked into:
http://lists.open-zfs.org/pipermail/developer/2014-July/000732.html
https://github.com/wesolows/illumos-joyent/commit/dc4d7e06c8e0af213619f0aa517d819172911005

[2016-01-16 23:55] kernelOfTruth commented on #3111
referencing:

adding :exclamation: marks since this patch is **dangerous**

:exclamation:
http://lists.open-zfs.org/pipermail/developer/2014-July/000732.html
https://github.com/wesolows/illumos-joyent/commit/dc4d7e06c8e0af213619f0aa517d819172911005
:exclamation:
maybe something inspired by the patch above could be created ?

[2016-01-17 01:38] alexanderhaensch commented on #4112
@ryao I guess 0.6.4.3-r3 is pretty much upstream 0.6.5.4 + API patches?

[2016-01-17 03:36] kfreedman commented on #4126
Centos 6, sorry for the late reply.  I didn't see your comments until now for some reason.
Just upgraded to 0.6.5.4  and no change:

[root] ~ >> cat /etc/redhat-release
CentOS release 6.7 (Final)
[root] ~ >> uname -a
Linux webhost1.2.6.32-573.12.1.el6.x86_64 #1 SMP Tue Dec 15 21:19:08 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
[root] ~ >> modinfo zfs | grep version
version:        0.6.5.4-1
srcversio

[2016-01-17 07:41] janlam7 commented on #4112
@ryao The 2nd machine I had problems with now works perfectly. The original machine I filed this report for still gives the out of memory error on boot. zfs list now returns 'no datasets available' instead of returning an incomplete list like berofe. I'll move the rootfs from zfs to an ext4 partition to rule out initramfs issues again.

[2016-01-17 07:52] derekdai opened #4237 "support copy_file_range() syscall"
This is a interesting new syscall first appeared in linux kernel 4.4 that offloaded file copy from user space to kernel, and I think this is a great way to implement a lightweight copying in between zfs file systems. Is there a plan to support it on ZoL?

[2016-01-17 08:38] ilovezfs commented on #4112
@alexanderhaensch Not quite, but not too far from the truth:
https://gist.github.com/ilovezfs/bd6dac157669907a9d4f

[2016-01-17 09:43] janlam7 commented on #4112
@ryao Booting from an ext4 root and trying to import afterwards now gives an out of memory during importing.

mediacenter ~ # zpool import pool4 -f -R /mnt/gentoo
internal error: out of memory
mediacenter ~ # zpool import pool4 -R /mnt/gentoo
cannot import 'pool4': a pool with that name already exists
use the form 'zpool import <pool | id> <newpool>' to give it a new name
mediacenter ~ # zfs list

[2016-01-17 10:10] janlam7 commented on #4112
@ryao Just tried importing without mounting. Gives no 'out of memory' but no datasets too. Listing the snapshots gives the complete list afaik.

mediacenter ~ # zpool import pool4 -N -f -R /mnt/gentoo
mediacenter ~ # zfs list
no datasets available
mediacenter ~ # zfs list -t snapshot
NAME                                 USED  AVAIL  REFER  MOUNTPOINT
pool4@20160116                          0

[2016-01-17 10:38] ilovezfs commented on #4112
@janlam7 You're most likely not actually running 0.6.5.3-r3:
https://gist.github.com/ilovezfs/31ae91380261e53f33c8

[code]

[2016-01-17 12:50] janlam7 commented on #4112
@lovezfs I was I wasn't but I think I am.

mediacenter ~ # dmesg | grep Loaded
[    1.582427] SPL: Loaded module v0.6.5.3-r1-gentoo
[    1.630271] ZFS: Loaded module v0.6.5.3-r3-gentoo, ZFS pool version 5000, ZFS filesystem version 5
[    2.227004] ivtv0: Loaded v4l-cx2341x-enc.fw firmware (376836 bytes)
mediacenter ~ # cat /sys/module/{spl,zfs}/version
0.6.5.3-r1-gentoo
0.6.5.3-r3-gentoo

[2016-01-17 12:53] ilovezfs commented on #4112
And you've rebooted? Also can you get the modification times of your userland commands and libraries vs. those of the kernel modules?

[2016-01-17 12:56] DeHackEd commented on #4237
At the end of the day ZFS doesn't have anything to offer which "accelerates" the process. This system call merely removes the copies from user and kernel spaces. In most situations that's not going to be substantially faster than your disks or controllers can perform the IO.

[2016-01-17 12:59] DeHackEd commented on #4126
Sounds like either your user tools may be out of sync or the loaded kernel module is out of date despite an updated installed kernel module. `rpm -q zfs libzfs2` on each system will check the user tools versions and `cat /sys/module/zfsversion` will check the loaded module version.

[2016-01-17 13:32] janlam7 commented on #4112
Yes rebooted. Emerged spl, zfs and zfs_kmod to be sure, and rebooted again. Below are the filedates.

mediacenter lib # ls -alt /sbin/{zfs,zpool}
-rwxr-xr-x 1 root root 103208 Jan 17 14:19 /sbin/zfs
-rwxr-xr-x 1 root root 122312 Jan 17 14:19 /sbin/zpool
mediacenter lib # ls -alt /lib/libzfs*
lrwxrwxrwx 1 root root     15 Jan 17 14:19 /lib/libzfs.so.2 -> libzfs.so.2.0.0
lrwxrwxrwx 1 root root     2

[2016-01-17 14:07] derekdai commented on #4237
The storage won't go faster because of this syscall, but it saves resources from
* Prevent data from been copy to and from kernel and user space
* zfs can choose the best block size to copy to and from
* zfs don't need to recalculate checksum
* zfs don't need to decompress blocks
* zfs can do deduplication more efficiently

[2016-01-17 14:33] ilovezfs commented on #4112
And how about
[code]

[2016-01-17 14:44] dweeezil commented on #4202
@kernelOfTruth The "arc_meta..." values in the arcstats are a bit confusing:  ```arc_meta_max``` is the highest _observed_ value of the amount of metadata.  It is not a tunable.  The tunable to cap the metadata is ```arc_meta_limit```.

[2016-01-17 14:52] dweeezil commented on #4202
@gdevenyi I'm curious what setting of ```arc_meta_limit``` fixed the problem.  Your arcstats above show that the metadata had not yet even come close to the limit (```arc_meta_max``` is much lower than ```arc_meta_limit```).   Furthermore, there are no signs of memory pressure (both ```memory_direct_count``` and ```memory_indirect_count``` are zero).

[2016-01-17 15:00] janlam7 commented on #4112
mediacenter / # which -a zfs zpool | xargs ldd
/sbin/zfs:
	linux-vdso.so.1 (0x00007ffc85bd9000)
	libnvpair.so.1 => /lib64/libnvpair.so.1 (0x00007f387b9c7000)
	libuutil.so.1 => /lib64/libuutil.so.1 (0x00007f387b7af000)
	libzpool.so.2 => /lib64/libzpool.so.2 (0x00007f387b30f000)
	libzfs.so.2 => /lib64/libzfs.so.2 (0x00007f387b0c7000)
	libzfs_core.so.1 => /lib64/libzfs_core.so.1 (0x00007f387aebf000)

[2016-01-17 15:20] ilovezfs commented on #4112
try running this
[code]

[2016-01-17 18:20] kfreedman commented on #4126
They're both the same
[root@host1] ~ >> cat /sys/module/zfs/version
0.6.5.4-1
[root@host1] ~ >> rpm -q zfs libzfs2
zfs-0.6.5.4-1.el6.x86_64
libzfs2-0.6.5.4-1.el6.x86_64

[root@host2 ~]# cat /sys/module/zfs/version
0.6.5.4-1
[root@host2 ~]# rpm -q zfs libzfs2
zfs-0.6.5.4-1.el6.x86_64
libzfs2-0.6.5.4-1.el6.x86_64

[2016-01-17 18:54] janlam7 commented on #4112
That gives no errors and seems to work as expected.

mediacenter ~ # sh ilovezfs
test1 ...
tmpfoo    49K   208M    19K  /tmpfoo
test2 ...
tmpfoo    49K   208M    19K  /tmpfoo
test3 ....
tmpfoo       104K   208M    19K  /tmpfoo
tmpfoo/A      38K   208M    19K  /tmpfoo/A
tmpfoo/A/B    19K   208M    19K  /tmpfoo/A/B
test4 ...
tmpfoo   104K   208M    19K  /tmpfoo
test5 ...
tmpfoo       105K   208M

[2016-01-17 19:04] AndCycle commented on #4112
@janlam7 no, I think I have the same symptoms like yours,
but I don't have machine to spare for debugging so it's up to you if you wanna get involve into this.

[2016-01-17 19:04] ilovezfs commented on #4112
@janlam7 Good, that's identical output to what I get here.

I don't think it's going to have anything to do with bitrot, but it does make it sound pool specific. We need to figure out what's different with that pool.

zpool status pool4
zpool list | grep pool4
zfs list | grep pool4
zfs list pool4
zfs list -r pool4
zfs list -r -t filesystem pool4
zfs list -r -t all pool4
zfs mount | grep pool4
moun

[2016-01-17 19:39] ryao commented on #4112
@alexanderhaensch 0.6.5.3-r2 had most of what became 0.6.5.4 backported. 0.6.5.3-r3 is just API fixes on top of that. 0.6.5.4 will be in tree soon. I am going through a backlog of bug reports.

@janlam7 It sounds like you did not update your initramfs, such that an older module is loaded. What does `cat /sys/module/zfs/version` output? Also, could you contact me in #zfsonlinux on freenode so that

[2016-01-17 20:07] janlam7 commented on #4112
@ilovezfs The output you requested is at https://gist.github.com/janlam7/7820694e91afdb444b43

[2016-01-17 21:54] kaazoo commented on #3394
I didn't see this issue before and created another one at #4211, because I thought my results were more based on the fact that I also use ZFS on top of the iSCSI disk.

[2016-01-18 01:02] ryao commented on #4112
@janlam7 Would you by any chance have installed ZFS outside of the package manager at some point in time, such that you would have binaries in `/usr/local/{bin,lib}`?

[2016-01-18 01:52] ilovezfs commented on #4112
@ryao The <code>which -a</code> above would have caught that, I think.

@janlam7 The bug appears to be gone. Quoting from your gist above:

pool4                      1019G   783G   149K  /
...

So it is listing the datasets, and not giving "no datasets available." Do you agree that the bug is gone?

[2016-01-18 03:15] michaelxwang commented on #4227
@dweeezil Here is the output of "perf top":
    Samples: 11K of event 'cpu-clock', Event count (approx.): 1714950826
    Overhead  Shared Object        Symbol
      31.72%  [kernel]             [k] _raw_spin_unlock_irqrestore
      11.86%  [kernel]             [k] finish_task_switch
       3.44%  [kernel]             [k] tick_nohz_idle_enter
       2.87%  [kernel]             [k] mutex_lock

[2016-01-18 04:23] therealdano opened #4239 "zfs hang during rsync"
I am unable to do an rysnc of a couple of hundred gigabytes of files to an attached USB drive without zfs hanging. I've updated to zfs 0.6.5.4-1 on CentOS 7 recently but this has not fixed the problem. The first few lines of the kernel message are below:

Jan 15 17:03:22 jootnar kernel: INFO: task arc_reclaim:639 blocked for more than 120 seconds.
Jan 15 17:03:22 jootnar kernel: "echo 0 > /proc/sy

[2016-01-18 04:24] therealdano commented on #4239
Here are my settings for ZFS:

[code]

[2016-01-18 04:50] dweeezil commented on #4227
@michaelxwang I think a flame graph would be helpful here.  If you're not familiar with the steps, here's how:
  - Get the software: git clone https://github.com/brendangregg/FlameGraph
  - In the FlameGraph directory, while the CPU hogging is happening, run: perf record -ag -F 999
  - After about a minute interrupt it with ^c
  - Generate the graph: perf script | ./stackcollapse-perf.pl | ./flame

[2016-01-18 10:23] janlam7 commented on #4112
@ilovezfs
The results are from the working zfs version I have.
I shall redo them tonight with the non working version, after importing without mounting.
The bug is not gone.

[2016-01-18 12:10] kernelOfTruth commented on #4202
@dweeezil yes, arc_meta_peak would be more clear

just recently found out that there's a zfs_arc_meta_min ;)

So for metadata it's arc_meta_limit & arc_meta_min.

[2016-01-18 12:12] fikridal commented on #4052
@behlendorf hi, new version of the zol has that patch?

[2016-01-18 12:29] kernelOfTruth commented on #4052
@fikridal https://github.com/zfsonlinux/zfs/commits/zfs-0.6.5-release
https://github.com/zfsonlinux/zfs/pull/4123

so yes :+1:

[2016-01-18 12:31] fikridal commented on #4052
thanks :)

[2016-01-18 14:46] michaelxwang commented on #4227
@dweeezil Here is the flame graph:

http://wikisend.com/download/745082/fg.svg

Thanks!

[2016-01-18 15:34] dweeezil commented on #4227
@michaelxwang That's not showing terribly excessive CPU usage by the sync task at all.  The sync task is only 1.53% of the total time.  Looking back at your original issue report, I see now that there likely wasn't very high CPU load but instead more likely a lot of blocked zio processes.  My guess would be the ```z_fr_iss``` tasks.  How many hardware threads does your system have?  The current co

[2016-01-18 15:35] dweeezil commented on #4227
I think a reference to #3976 might be in order.

[2016-01-18 15:42] snajpa commented on #3508
We're hitting this one hard and can reproduce it easily within a few tries for umount (albeit at the cost of downtime of production hw).

Can we work together to hunt this one down please?

[2016-01-18 16:15] ryao commented on #4112
@ilovezfs Not for /usr/local/lib being used by things in /sbin.

[2016-01-18 16:38] michaelxwang commented on #4227
@dweeezil It is Amazon memory optimized EC2 instance "r3.8xlarge":

    Model	    vCPU	Mem (GiB)	SSD Storage (GB)
    r3.8xlarge  32      244         2 x 320

with details in:

https://aws.amazon.com/ec2/instance-types/

There are 32 vCPU's, They are all identical, the last one is:

    processor	: 31
    vendor_id	: GenuineIntel
    cpu family	: 6
    model		: 62
    model name	: Intel(R) Xeon(R)

[2016-01-18 16:50] ryao commented on #4227
The `rm file` operation has exhausted the amount of dirty data in the open transaction group, causing all write operations to block in `dmu_tx_assign`. Any time the transaction group commit clears freeing space for more dirty data, the operation then unblocks and gobbles up the rest of it.

Data from `/proc/spl/kstat/zfs/dmu_tx` at the start of the operation, some points during the operation and a

[2016-01-18 16:57] odoucet commented on #3249
Hello,

I encountered a similar problem, and I'm not sure if this is the one or not.
On SPL/ZFS 0.6.4.2-1 :
[code]

When this happens, zpool status runs fine, zfs list runs fine, but nfsd processes are in D state :
[code]

Is this also related to #3443 , and then fixed in 0.6.5 ?

[2016-01-18 17:04] dweeezil commented on #4227
I'd be interested to know what ```dmesg | grep smpboot``` shows.  I've seen EC2 instances with crazy large numbers of hotplug CPUs configured (depending on the AMI used).  That will cause ```tx_cpu``` to be very large and can cause extreme overhead in the txg system creating and destroying various objects such as mutexes, cvs, etc.

[2016-01-18 17:07] dweeezil commented on #4227
If the number of hotplug CPUs shows up as some very large number, you can use the ```possible_cpus=X``` kernel parameter to set it appropriately (32 in this case).

[2016-01-18 17:15] ryao commented on #4227
@michaelxwang In addition to my previous comment, what is the output of `zpool status` for this pool and what drive models is it using? I am particularly interested in trying to get an idea of the IOPS ability of the pool's vdevs. Either we are not syncing often enough or our ability to sync is overwhelmed. The latter could be due to hardware having trouble keeping up with the dirty data generated

[2016-01-18 17:18] ryao commented on #4227
@dweeezil Why would extreme overhead in creating and destroying various objects cause everything to stop until the `rm` operation has finished?

[2016-01-18 17:28] michaelxwang commented on #4227
@dweeezil Here is the output on smpboot:

    # dmesg | grep smpboot
    [    0.000000] smpboot: Allowing 128 CPUs, 96 hotplug CPUs
    [    0.266110] smpboot: CPU0: Intel(R) Xeon(R) CPU E5-2670 v2 @ 2.50GHz (fam: 06, model: 3e, stepping: 04)
    [    0.938384] smpboot: Total of 32 processors activated (160649.95 BogoMIPS)

[2016-01-18 17:30] dweeezil commented on #4227
@ryao My thinking is that it might slow txg commits sufficiently to cause the problem you've described above.

As to unlinked set, why would this operation be bypassing it?  The ```rm``` task is calling ```zfs_rmnode``` which does used it (the unlinked set).

@michaelxwang That's not as much overshoot as I expected to see but it's still excessively high.  Even if it doesn't help this problem, you

[2016-01-18 17:32] dweeezil commented on #4227
@michaelxwang Since you mentioned MySQL, has the recordsize been tuned on this filesystem?  I'm wondering how many blocks might be involved.  If the recordsize is very small, there's a whole lot more to free.

[2016-01-18 18:16] michaelxwang commented on #4227
@dweeezil I believe by recordsize you are referring to the `innodb_page_size`? It is `16k`:

    | innodb_page_size                                       | 16384                |

[2016-01-18 18:30] skorgu commented on #3801
I threw this into /etc/cron.daily/zfs-update-dkms on CentOS 7 (7.2.1511). Obviously if you reboot immediately after updating kernels this won't help unless you remember to run it manually.

[code]

[2016-01-18 18:32] dweeezil commented on #4227
@michaelxwang I was referring to the zfs filesystem recordsize which you can retrieve with ```zfs get recordsize <pool>/<dataset>```.  Database users often set it when not using zfs compression.  If you've not changed it, the recordsize will be 128K.

[2016-01-18 18:42] janlam7 commented on #4112
@ilovezfs I added a gist for the -r3 zfs version results on https://gist.github.com/janlam7/aebd847d6f4fa7236933

@ryao /usr/local/lib and /usr/local/bin are empty

[2016-01-18 18:53] michaelxwang commented on #4227
@dweeezil The datafile that I am deleting via drop table inside mysql, or the copy of the datafile created by the cp command that I am deleting via rm are resides in the data filesystem which has recordsize 16K:

    # zfs get recordsize  | sed "s:^:    :"
    NAME                      PROPERTY    VALUE    SOURCE
    tmp0                      recordsize  128K     default
    tmp0/mysqllog

[2016-01-18 19:09] tuxoko commented on #4239
Normally arc_reclaim should not reclaim because we set up PF_FSTRANS in arc_reclaim_thread. But your kernel version happens to do kmalloc in kmem_cache_shrink.

You need to apply https://github.com/zfsonlinux/spl/commit/3e7e6f34d0b39b210de68fd69a0c08c6d21227a5 which unfortunately didn't get to 0.6.5.4

[2016-01-18 19:14] dweeezil commented on #4227
@michaelxwang The 16K recordsize will certainly amplify the number of blocks which need to be freed.

[2016-01-18 19:21] otwieracz opened #4240 "NixOS kernel 4.4 - zfs build fialed"
Attaching ``$ nixos-rebuild switch`` log. Shouldn't be Nix-related. Everything worked fine with 4.3 kernel.

``
boot.kernelPackages = pkgs.linuxPackages_4_4;
``

[$ nixos-rebuild switch output](https://github.com/zfsonlinux/zfs/files/94900/log.txt)

[2016-01-18 19:32] tpdownes commented on #3801
Using some tips above, this is how I approach a kernel update:

[code]

Something like it might work well in concert with your crontab.

[2016-01-18 21:45] pzwahlen commented on #3394
Just wanted to add that on my quest to a stable iSCSI storage for ESXi I also moved from SCST vdisk_blockio to vdisk_fileio and the performance are days and nights compared to ZVOLs.

iowait went from 20-30% down to 1-2% with the exact same workload.

I would tend to agree that we have a problem when using ZVOLs with SCST, but it might not be a ZFS issue.

[2016-01-18 21:58] dswartz commented on #3394
On 2016-01-18 16:46, pzwahlen wrote:

Hard to say.  Before I built esos with zfs support, I was using it with
mdraid+lvm, and I tried scst_fileio and scst_blockio.  I don't have hard
numbers, but I don't remember the performance being very different...

[2016-01-18 22:15] therealdano commented on #4239
Thanks tuxoko, I'll give that a try today.

[2016-01-18 22:37] janlam7 commented on #4112
Not sure if it means anything but I enabled zfs_dbgmsg and the last lines look like this:

1453156065   looking up system in obj4
1453156065   looking up home in obj4
1453156065   looking up home in obj4
1453156065   looking up home in obj4
1453156065   looking up home in obj4
1453156065   looking up $ORIGIN in obj4

system and home I can relate to, but not to $ORIGIN.

[2016-01-18 22:38] ilovezfs commented on #4112
@janlam7 You should probably do as ryao suggested and go to #zfsonlinux on IRC to debug this with him interactively.

Are the working and non-working machine both running the same kernel? Also what's the output of

[code]

One interesting but probably unrelated discrepancy between the two gists is
[code]
vs.
[code]
I wonder what accounts for that.

Only other thing I can think of is to emerge --un

[2016-01-18 22:56] RichardSharpe opened #4242 "zpl_lookup creates dnode ops based on HAVE_S_D_OP but that seems not to be good enough for some releases of Linux"
Hi,

In zpl_lookup we have:
[code]

And I have modified it to:
[code]

However on Linux 3.10.0-229-xyz (as shipped with Centos 7.x ...) this simply does not work, since I do not get the printk.

Looks like we need a different test. HAVE_S_D_OP relates to superblock ops, not dentry ops, it seems, at least in the version I mentioned.

[2016-01-18 23:52] RichardSharpe commented on #4185
It turns out that it is not simply a case of returning NULL in all cases if we are a CI file system.

You have to pay attention to the flags passed into zpl_lookup and if you don't things like touch start failing.

[2016-01-19 00:16] RichardSharpe commented on #4185
In particular, it seems that something like this is neeed:
[code]

The printks can go.

However, to have this build for kernels where nameidata is passed in rather than flags, it will need to have some ifdefs.

Also, flags & 0x7f00 is pretty ugly. Need to define a symbol with all the appropriate bits.

With that and the new dentry ops for CI file systems, things seem to be more correct.

Tests inv

[2016-01-19 00:49] tuxoko commented on #4185
No, return NULL is the correct way http://lxr.free-electrons.com/source/fs/xfs/xfs_iops.c#L261

[2016-01-19 01:38] tuxoko commented on #4242
We don't need a new set of d_op.
The only different is in lookup, unlink, and rmdir. And they are all trivial.

[2016-01-19 02:25] RichardSharpe commented on #4242
@tuxoko

Well, I have to yield to your superior knowledge, I guess.

However, fs/namei.c:vfs_unlink calls dir->i_ops->unlink(dir, dentry) and then calls d_delete(dentry) and d_delete is going to create a negative entry unless we implement a d_iput entry that does different things.

Regards,
Richard Sharpe
(何以解憂？唯有杜康。--曹操)

[2016-01-19 11:30] gvdijnsen commented on #3979
@behlendorf Thanks for looking into this, even if it is late in the game. I am gratedul for every help I can get. These are stack traces for a recent stall just before reboot:
[Tue Jan  5 22:53:34 2016] INFO: task spl_system_task:1161 blocked for more than 120 seconds.
[Tue Jan  5 22:53:34 2016]       Tainted: P           OE 3.16.0-52-generic #71~14.04.1-Ubuntu
[Tue Jan  5 22:53:34 2016] "echo 0 >

[2016-01-19 11:31] gvdijnsen commented on #3979
Actually it seems that the stack trace is too long to submit here, but I am hoping you can work with this. Let's hope you can verify that our problem is solved with this patch...

[2016-01-19 12:06] rewolff commented on #3831
I've modified the lzjb decompress as follows:
[code]
Two  changed lines, both have s_end in them.

I don't fully agree with your argument that "**the buffer must be ok, the checksum has been verified**". With for example a memory error occurring in the WRITING system between an update to a compressed buffer and generating the checksum, the reading system may get an invalid compressed buffer.
On th

[2016-01-19 14:07] RichardSharpe commented on #4185
I have tested both the only returning NULL approach and the approach above.

The test I use is:

1. ls some-file.txt # This should return ENOENT when it does not exist.
2. touch Some-file.txt # Create a file with a name differing only by the case of the first char
3. ls some-file.txt

If the first step created a negative entry in the dcache, step 3 will fail with ENOENT when it should not.

Return

[2016-01-19 14:44] RichardSharpe commented on #4185
Here is the change:
[code]

However, it still needs cleaning up and further testing.

[2016-01-19 14:44] #4185 closed

[2016-01-19 14:55] RichardSharpe commented on #4242
Hmmm,

shouldn't:
[code]

be:

[code]

[2016-01-19 14:59] dweeezil commented on #4227
I've finally got a decent test scenario set up.  Short story is that deleting a giant file with a 16K record size takes a long time.

If, however, the file is currently open by another process, the unlinked set comes into play and the removal is instantaneous.  It seem that as @ryao suggested, there ought be a way to always use the unlinked set.  Maybe only for very large objects?  I suspect the r

[2016-01-19 16:14] michaelxwang commented on #4227
@ryao This is to respond to your post on dmu_tx. I run a loop to capture the rm process, uptime, and the content of dmu_tx continuously every 15 seconds *before* the rm started, during the process [appearance of the rm process], and after the rm process finishes. The load reaches as high as 49, and it starts to drop before the rm process finishes. Among my repeated tests, sometimes the load reach

[2016-01-19 16:17] RichardSharpe opened #4243 "Handling negative entries in a Case Insensitive file system"
In an issue that I inadvertently closed, I said:
[code]

I went back and tested the case of returning NULL with the above test, as my previous test was slightly different, and I found that returning NULL does work correctly. It is also the simplest way to deal with this.

I with the addition of the d_iput operation I also get rid of negative entries on delete.

After we resolve the issue of how to

[2016-01-19 16:34] dweeezil commented on #4227
@michaelxwang Did you post the output of ```zpool status``` anywhere?  How many IOPS can this pool support?

[2016-01-19 16:57] BjoKaSH commented on #3014
just run into a similar problem while upgrading a box from 0.6.4.1 to 0.6.5.4.

A small pool (648 GB total, physical disk size) that had 55.2 GB (9%) unallocated space according to `zpool list`  showed about 5.3 GB free in `zfs list` under 0.6.4.1. After the upgrade it shows 0 bytes free in `zfs list` and is unusable, i.e. effectively read-only.  I can not even create a final snapshot to transfer

[2016-01-19 17:25] michaelxwang commented on #4227
@dweee and @ryao I have not posted the `zpool status` but here it is:

    # zpool status | sed "s:^:    :"
      pool: tmp0
     state: ONLINE
      scan: none requested
    config:

    	NAME        STATE     READ WRITE CKSUM
    	tmp0        ONLINE       0     0     0
    	  xvdb2     ONLINE       0     0     0
    	  xvdc2     ONLINE       0     0     0

    errors: No known data errors

[2016-01-19 17:29] kernelOfTruth commented on #3014
@BjoKaSH

https://github.com/zfsonlinux/zfs/releases

[2016-01-19 18:01] behlendorf commented on #4243
@RichardSharpe while your chewing on this exact problem let me suggest a small related improvement you could make to help clean this all up.  The `zfs_remove()` and `zfs_link` function both have real pathname chunks commented out with a `#ifdef HAVE_PN_UTILS`.  This was done in the early days of the project as a simplification to avoid adding `pn_alloc()` and `pn_free()`.

If you added those two f

[2016-01-19 18:20] behlendorf commented on #4227
@dweeezil there was some additional logic in `zfs_remove()` similar to what you suggest which was dropped, 3558fd73b5d863304102f6745c26e0b592aca60a, during the initial ZFS port to Linux do dome VFS integration complexity.  Since then the Linux VFS and the ZoL code have moved along significantly, it looks relatively straight forward to re-add this missing functionality.  Take a look at the `may_del

[2016-01-19 18:38] behlendorf commented on #4242
@RichardSharpe perhaps a comment should have been added there, but you can find the rational in the commit history ee93035378ff1f0769bb4216dc35057a2f14f9b9.

[code]

[2016-01-19 18:46] tuxoko commented on #4243
@RichardSharpe
You don't need to add d_op. Just add this to the end of unlink and rmdir when success.
http://lxr.free-electrons.com/source/fs/xfs/xfs_iops.c#L340

[2016-01-19 19:17] RichardSharpe commented on #4242
Ahhh, I should have looked more closely.

[2016-01-19 19:26] RichardSharpe commented on #4242
OK, I see what to do.

[2016-01-19 19:26] RichardSharpe commented on #4242
I think I can close this now.

[2016-01-19 19:26] #4242 closed

[2016-01-19 19:39] RichardSharpe commented on #4243
Great, thanks ... that is simpler!

[2016-01-19 19:55] dweeezil commented on #4227
@behlendorf Very interesting.  I actually did poke around a bit in Illumos to see if things were different but I wasn't looking in the right place.

[2016-01-19 21:52] RichardSharpe opened #4245 "zdb.c received SIGSEGV at zdb.c:491"
Hi,

Has anyone seen this?

I was using zdb -dddd some-zpool on one of our pools that was causing problems and it crashed at the above location.

Much more info available on request.

[2016-01-19 21:56] RichardSharpe commented on #4245
Here is the last useful output:
[code]
After that it is lines and lines of 0 until it crashed.

[2016-01-19 21:56] dweeezil commented on #4245
Should be fixed by 2986b3f.  That patch isn't in any tag yet.

[2016-01-19 22:06] RichardSharpe commented on #4245
Thanks

[2016-01-20 00:33] spacelama opened #4246 "zfs hang, possibly during cron.daily mlocate scan"
174870,2> cat /sys/module/zfs/version
0.6.5.4-1

I believe all my backup rsyncs had finished a few hours before, but I got some hangchecks logged a few minutes after cron.daily (which of course invoked a meta-data heavy mlocate scan) this morning.  I had previously been running 0.6.4-1.2-1 because everything after then has been unstable.  uptime was 6 or 7 days before this hang.  The system was st

[2016-01-20 01:12] alek-p commented on #4227
We've spent some time on the large file delete problem @Nexenta, and this sounds like it could be related. The core issue I've found is that there is no throttle for how many deletes get assigned to one TXG. As a results when deleting large files we end up filling consecutive TXGs with deletes/frees, then write throttling other (more important) ops.

There is an easy test case for this problem. Tr

[2016-01-20 01:21] behlendorf commented on #4246
@spacelama this should be fixed in master by these commits.  They didn't make the 0.6.5.4 tag since we wanted to give them some more soak time.  Unfortunately, re-syncing the ARC code with illumos was more disruptive than we'd hoped despite the stress testing we've done.  You can safely cherry-pick these changes.  @jdavidlists has tested them but if it's possible for you to also stress them it wou

[2016-01-20 01:43] dweeezil commented on #4227
@alek-p I'm not totally sure what the original problem was in this issue. Is it that the unlink blocks for a long time or is its impact on other writes?  I've been assuming the former but the problem you're describing sounds like the latter for which your solution sounds good.

Large deletes also cause stress because they require writes to deadlists if there are any snapshots.

[2016-01-20 03:17] therealdano commented on #4239
I've applied the patch you recommended and re-ran the rsync command. It was able to complete successfully without getting any "blocked for more than 120 seconds" messages.

[2016-01-20 03:31] alek-p commented on #4227
@dweeezil I should have mentioned that we have a separate patch for the unlink blocking problem. It calls zfs_inactive() async for files bigger than 64 GB.
There is also a 3rd patch that will interrupt file freeing if you happen to "zpool export -f" the pool while (large) deletes are ongoing. This becomes even more relevant if you have the delete throttle patch installed since delete then take lon

[2016-01-20 09:13] waxhead opened #4247 "Adding second spare to pool causes core dump."
Hi,

This is the RAID and disk setup on the controller:
 hptraidconf
        HighPoint RAID Management Command Line Utility v3.3
Copyright (C) 2009 HighPoint Technologies, Inc. All rights reserved.

Login:RAID
Password:
HighPoint CLI>query arrays
## ID   Capacity(GB) Type        Status    Block   Sector  Cache   Name

1/1  4000.79      Hard Disk   LEGACY    --      512B    NONE    HPT DISK 0_0
1/2

[2016-01-20 09:30] stormeporm commented on #4214
Some more clarification

In my case the pci path of sdc is
/sys/devices/pci0000:00/0000:00:01.0/0000:01:00.0/host0/phy-0:0/port/end_device-0:1/target0:0:1/0:0:1:0/block/sdc
Is in the alias file
pci-0000:01:00.0-sas-phy0-lun-0

pci path of sdd is
/sys/devices/pci0000:00/0000:00:01.0/0000:01:00.0/host0/phy-0:1/port/end_device-0:2/target0:0:2/0:0:2:0/block/sdd
Is in the alias file
pci-0000:01:00.0-sa

[2016-01-20 09:35] three3q commented on #3456
can confirm problem after fedup 20->21 still exists. had to reinstall spl zfs and then manually yum reinstall for spl-dkms and zfs-dkms.

[2016-01-20 11:21] alexanderhaensch commented on #3043
I ran into this problem recently.
Wouldn't it be best to default the command
zpool import $pool
to
zpool import -d /dev/by-id $pool

The legacy /dev/sdX is getting more and more unreliable.

[2016-01-20 14:52] fermulator commented on #3605
Have been discussing the symptom here http://list.zfsonlinux.org/pipermail/zfs-discuss/2016-January/024355.html.

Anyone have anything started for testing? Or shall I attempt to fix myself from scratch?

[2016-01-20 15:11] domgross commented on #3605
I looked into this a couple of weeks ago but did not pursue it further due to time constraints. Imho this needs to be fixed by rewriting the zfs dracut module from scratch.

I first attempted to re purpose the current zfs dracut parse and mount scripts to generate a sysroot.mount unit. It turns out that the generator scripts are run very early during boot so the current scripts will not work. If I

[2016-01-20 15:43] dweeezil commented on #3605
As a user of Fedora on my personal systems, I think I've also run into this problem.  I've not spent any substantial time trying to figure out what's happening, however, the issue seems to be that systemd (in the initramfs environment) doesn't run the dracut-mount service if a "root=" is specified on the kernel command line (at least if a "root=ZFS=..." is specified).  If the "root=..." is complet

[2016-01-20 15:49] ColinIanKing commented on #3065
Just for reference, I'm seeing this on Ubuntu wily too.  If one installs gcc first and then zfs it works. I'm trying to debug this one further as it seems to bite a few users now.

[2016-01-20 16:07] michaelxwang commented on #4227
@ryao Here is the funclatency output with comment in /* ... */.

    # unbuffer ./funclatency -f spa_sync 60 2>&1 | tee -a funclatency.txt
    Tracing spa_sync latencies. Output every 60 seconds. Ctrl-C to end.

    /* No rm process. */

           0 -> 1       : 1        |####                                  |
           1 -> 2       : 0        |                                      |

[2016-01-20 16:51] AceSlash commented on #4226
zfs snapshot stuck again on the same machine, the snapshot is done every hour and the one that is stuck is from 16:00. I did not apply any patch (I may do so now... I don't want my snapshots to not work every ~5 days).

dmesg output: http://apaste.info/k1W
stack of the blocked zfs snapshot process: http://apaste.info/f3C

Please tell me if I can help with anymore information or if it is a duplicat

[2016-01-20 16:51] michaelxwang commented on #4227
This post is to confirm a fact that @dweeezil mentioned. In one session I did a `tail -f` on a large file, and on another session I issued `rm` on the file. The deletion is immediate and there is no load nor blocking issue. However, when I tried to control-c on the `tail -f` session, it "hangs" there, and there are the normal load and blocking associated with removing the large file while the file

[2016-01-20 16:51] kernelOfTruth opened #4248 "NEX-3485 Deferred deletes causing loss of service for NFS clients on cluster failover"
Could this be useful & is it applicable in some form ?

https://github.com/Nexenta/illumos-nexenta/commit/e308c335ab83c291079b491ae2997702a42f40b1

[2016-01-20 16:54] kernelOfTruth commented on #4227
Key

Description

deletions of very large files built with
small recordsize can see performance
degradation during the delete

Workaround

2) Use a larger recordsize (for example, 128k)

[2016-01-20 16:55] behlendorf commented on #3065
@ColinIanKing thanks for looking in to this.  For what it's worth in epel dkms depends on gcc so it's brought in first that way when the dependencies are solved.

[2016-01-20 16:55] kernelOfTruth commented on #4227
referencing: https://github.com/zfsonlinux/zfs/issues/3725#issuecomment-137593559

[2016-01-20 17:05] ColinIanKing commented on #3065
I believe that spl DKMS builds are failing because although we have gcc installed, the test for gcc building correctly depends on having libc-dev installed.  If one installs that first then all is good.  I've got a clean reproducer now working that fails 100% of the time, so I'm pretty close now to building and testing a possible workaround/fix.

[2016-01-20 17:13] behlendorf commented on #3605
I definitely don't have time to work on this.  However, I think it would be great is someone, or better yet a few people, could tackle the outstanding [dracut issues](https://github.com/zfsonlinux/zfs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+dracut).

[2016-01-20 17:29] domgross commented on #3605
Just tried the workaround mentioned by dweeezil and after upgrading my fedora 23 test setup to the most recent kernel / zfs packages things work, i.e. when omitting root= on the kernel command line rootfs is correctly mounted based on the bootfs property. However, this was not working before (with packages as of late December) so this begs the question of whether or not support for this is intenti

[2016-01-20 17:30] ColinIanKing commented on #3065
OK, I believe this looks like a suitable fix, I've tested it out and it does the trick:

spl-linux:  debian/control,

Package: spl-dkms
Depends: ${misc:Depends}, libc-dev, dkms (>= 2.2.0.2), file, lsb-release
Recommends: spl

The libc-dev is required to make the spl build OK with DKMS on a totally clean machine.  I suspect many people don't see this issue as they normally have this installed.  I'm

[2016-01-20 17:59] FransUrbo commented on #3605
I have pushed a couple of PRs month and month ago that should solve much, if not all, of this but there is no interest in dealing with them so... :(

[2016-01-20 19:27] ryao opened #4249 "/dev/zd* devices on rootpool are missing if initramfs does not preserve /dev"
If your initramfs does not preserve /dev such that userspace is expected to recreate it, any zvols on pools loaded inside the initramfs will lose their devices in /dev. Gentoo's genkernel appears to have been doing this since February 2011. I have done many swap on zvols experiments since that time without the device nodes being lost during boot, so it is not clear what changed. Regardless of what

[2016-01-20 19:31] ofaaland commented on #4224
I was unable to reproduce the issue of broken symlinks, and now believe that was self-inflicted.  So submitting patches for spl and zfs that produce proper debuginfo packages on my test system.

[2016-01-20 19:32] alek-p commented on #4227
I was able to get to this last night, see https://github.com/openzfs/openzfs/pull/61

[2016-01-20 19:35] prometheanfire commented on #3605
@FransUrbo can you link them?

[2016-01-20 19:38] behlendorf commented on #3605
#3559 Refactor SYSV init and initramfs (Phase 2)
#3560 Refactor SYSV init, initramfs and dracut (Phase 3)

Here are the two open PRs.  They need reviewers and testers.

[2016-01-20 19:40] ColinIanKing commented on #3065
Yep, this seems solid. I've done a pull request for this on github

[2016-01-20 19:45] prometheanfire commented on #3605
I imagine phase 1 was merged?  if so I'll test these tonight

[2016-01-20 21:06] behlendorf commented on #4248
It's definitely useful and we made a similar change to ZoL a while back.  Although we increased these values a bit more.

[code]

[2016-01-21 00:37] RichardSharpe commented on #4243
@behlendorf

I see what you mean. Let me look at this, perhaps this weekend ... however, I will fix the negative entry issues first.

[2016-01-21 01:14] michaelxwang commented on #4227
@kernelOfTruth Users performing even *ONE*
deletion of very large files built with
small recordsize can see performance
degradation during the delete.

[2016-01-21 01:18] prometheanfire commented on #3605
and... both patches don't apply :|

[2016-01-21 13:50] FransUrbo commented on #3605
I've force-pushed both of them now. I HAVE NOT BEEN ABLE TO VERIFY THIS, so be prepared that there might be merge issues lingering…

Once it have been reviewed and checked, I'll might cleanup everything and make sure I haven't removed something that should be there and vise-versa...

Also, do note that "Phase 3" contains the patches from "Phase 2"! So take that into account when/if you review them

[2016-01-21 16:04] prometheanfire commented on #3605
so, do I apply phase2 then phase3 or just phase3?  also, I'll test later today

[2016-01-21 16:56] FransUrbo commented on #3605
Doesn't really matters, but since you're interested in the Dracut stuff and to save time, just use "Phase 3" (only).

Remember to place the note/comment you come up with at the right commit and line (or just summerise them here)..

[2016-01-21 19:11] behlendorf commented on #3043
@alexanderhaensch you can change the default search order with the ZPOOL_IMPORT_PATH environment variable.  See `zpool.8`.

[code]

That said, you may be right and it's time to change the default.  The primary reason it was left as `/dev/` for so long was many of the distributions hasn't yet standardized on the `/dev/disk/by-id/` convention.  However, times are a changing and I can't think of a di

[2016-01-21 19:29] #4224 closed

[2016-01-21 19:34] behlendorf commented on #3508
@snajpa I'd love to see this one resolved, do you have a reproducer which doesn't impact your production hardware?

[2016-01-21 19:38] tlvu commented on #3801
On vanila new install of centos 7.0-1406 (3.10.0-123.el7.x86_64), `sudo yum install kernel-devel zfs` doens't even work.
[code]

I am surprised !  I've been using zfs with centos 6 for almost 2 years without any problems.

Would like to promote ZFS strongly in my company but this does not look "enterprise solid" if clean install does not even work, let alone upgrade.

[2016-01-21 19:40] dweeezil commented on #4227
I took a look at @alek-p's patch and am going to try porting it to ZoL (atop @ryao's port of illumos 4950 on which it sort of depends).

[2016-01-21 19:58] dmaziuk commented on #3801
FWIW I've been using `zfs-kmod` since October on several centos 7 hosts. Two of them have problems with centos kernel builds and had to be locked into `-229` builds -- both are old (3+ years) AMD SuperMicros. Another one got bit by #3708 when adding ~30th disk to the pool. The rest have no issues.

Since redhat's already invested a lot into `btr`, zfs support in fedora/rhel and derivatives will li

[2016-01-21 20:51] tlvu commented on #3801
On vanila new install of centos 7.0-1406 (3.10.0-123.el7.x86_64), `sudo yum install kmod-zfs` (with the kmod yum repo file posted by @behlendorf) result in a bunch of `depmod: WARNING: /lib/modules/3.10.0-123.el7.x86_64/weak-updates/spl/splat/splat.ko needs unknown symbol taskq_empty_ent` so zfs it not working either (`sudo modprobe zfs` => `modprobe: FATAL: Module zfs not found.`).

However, a ni

[2016-01-21 21:24] behlendorf commented on #4247
Thanks for taking the time to file this issue so we can resolve it.  You've got an interesting case here, it looks like you've replaced a spare with a spare which isn't a common case.  That may be related to the issue.

[2016-01-21 21:36] waxhead commented on #4247
Brian,

Thanks for taking the time to reply. I agree that the pool is in an
interesting state. Put it down to weird things happing, label changes and
sheer ignorance on my behalf.

For the most part I'm looking to return the pool back to 7 disks with a
spare.

I realised the I didn't include info on OS and zfs version in my report.
I'll update that tonight.

Peter.
On 22 Jan 2016 8:24 AM, "Brian B

[2016-01-21 22:00] tlvu commented on #3801
In the previous comment I installed kmod-zfs on old kernel, then upgrade the kernel.  This time I upgrade the kernel first, then install kmod-zfs.

Happy to report that kmod-zfs clean install with latest kernel 3.10.0-123.el7.x86_64 also works (`sudo modprobe zfs` works, did not try to create a pool yet).

So I am ditching DKMS for KMOD now.

[2016-01-21 22:48] behlendorf commented on #3979
Yes, it looks like your issue should already be addressed in the master branch.  And we'll cherry pick those fixes back for the next point release.

[2016-01-22 00:59] hhhappe opened #4253 "raidz2 writes more than expected to disk"
I discovered that a lot more is written to disks compared to what is written to the fs. Obviously, the parity overhead has to be there, but this is even more.

This simple dd procedure can trigger it on a new fs:

dd of=/test/t1 if=/dev/zero bs=1M count=10000 conv=fsync

The first one writes the expected 10k MB and a bit extra for metadata to disks (parity excluded).

Now, deleting the file and wr

[2016-01-22 03:05] GeLiXin opened #4254 "ARC exhausted when destroy a snapshot who have a huge deadlist"
Hi,
    We have a snapshot with a huge deadlist, which about 10 million entries in it.  And the Arc size of our
equipment is more or less 1GB.
    Every time we attempt to destroy that snap, we get failed  due to arc exhausted and have to reboot our equipment. We can't release the space referenced by the snap now!
    The function 'dsl_destroy_snapshot_sync_impl' will iterate all the entries in de

[2016-01-22 03:38] richardelling commented on #4253
For space efficiency, the recordsize relative to the drive's physical block size and raidz2 layout is critically important. Rather than explaining here, see http://blog.delphix.com/matt/2014/06/06/zfs-stripe-width/

If you are interested in digging into the details, there are ways to observe the details behind Matt's post (note to self: blog these techniques)

[2016-01-22 06:21] GeLiXin opened #4255 "Wonder about how many bytes can exceed the quota"
Hi,
    I can understand that quota isn't a strict restraint in ZFS, because the precise used space is calculate after the spa_sync, and the  inflight ZPL request was counted by a extimate size in dmu_tx_assign.
    The key here is what's the max overflow size will happen? Can we prognosis it in percent or a  absolute value?  I will be deeply grateful for your answer, or if some relative infomatio

[2016-01-22 08:11] hhhappe commented on #4253
This does not have to do with layout, which BTW is 10 disks with recordsize=128k.

It is the actual bytes written to the disks measured with iostat. The first write of the file is doing it within reason, but the second is writing 40% more. Perhaps it is a cleanup thing, but that seems excessive. I have also considered if it could be other be other SCSI command which iostat registers as writes. May

[2016-01-22 08:13] chani commented on #4071
@gregfr: not sure for volumes, but working fine for filesystems:

    VE_ROOT="/var/lib/vz/root/12"
    VE_PRIVATE="/storage/containers/12/private/12"

where storage is my zfs pool and 12 is an OpenVZ container. Basically just create a dataset pool/whatever/VEID and create the folder private/VEID within that. Now modify the above parameters in your configuration file for the container (in this cas

[2016-01-22 08:19] andreas-p commented on #2611
Same for me on Debian Jessie with Linux 3.16.0-4-amd64 and zfs 0.6.5.2-2.
Happened on a postgresql server, no load at that time.

Jan 22 07:04:42 db04 kernel: [5056080.684110] INFO: task txg_sync:378 blocked for more than 120 seconds.
Jan 22 07:04:43 db04 kernel: [5056080.684128]       Tainted: P           O  3.16.0-4-amd64 #1
Jan 22 07:04:43 db04 kernel: [5056080.684134] "echo 0 > /proc/sys/kerne

[2016-01-22 10:40] janlam7 commented on #4112
@ryao Something interesting happened. I destroyed a dataset which I didn't use. It had canmount=off.
Makes no difference for zfs-0.6.5.3, but in zfs-0.6.5.3-r3 zfs list now returned 1 dataset (still an incomplete list)
emerge zfs 0.6.5.3 again ....
add a dataset
emerge zfs-0.6.5.3-r3 : the new dataset also shows up in zfs list
emerge zfs 0.6.5.3 again ....
I did set recordsize=4K on the new datase

[2016-01-22 13:40] kernelOfTruth commented on #2611
@andreas-p please update to 0.6.5.4* if available

[2016-01-22 14:42] andreas-p commented on #2611
Unfortunately, debian8 is DKMS still on 6.5.2, no update in the last three months. Any clue when this gets resolved?

[2016-01-22 15:15] kernelOfTruth commented on #2611
@andreas-p sorry, no idea,

but there's always the option of building the packages on your own - which is some effort but you'll know that you can trust those instead of having to rely on third-party repositories, etc.

[2016-01-22 18:10] behlendorf commented on #4255
@GeLiXin the quota can be exceeded by at most one transaction group worth of data.  How large a transaction group can be is bounded by `zfs_dirty_data_max_percent` module option which is set to 10% of system memory by default.  That's going to be your worst case, although in practice you shouldn't get anywhere need that because a TXG group will be scheduled roughly every 64M of dirty data, control

[2016-01-22 19:26] behlendorf commented on #4222
Normally I'd suggest avoiding the use of `getopt_long()` is ZFS since it's a GNU extension and one of our goals is to keep the code as portable as possible.  However, `mount.zfs` is already one of the few bits of Linux specific bit of code so I don't see any harm in updating it as you suggest.  Can you open a PR against zfsonlinux/zfs with the voidlinux/void-packages@0203a5a fix.  That way we can

[2016-01-22 19:28] behlendorf commented on #4210
@jxiong I definitely want to get to the bottom on this, do you have a test setup where your able to reproduce the issue fairly easily?  I wouldn't mind picking through the crash dumps myself if they're still available.

[2016-01-22 19:30] behlendorf commented on #3689
@abuschmann thanks for following up with us.  Yes, if this was determined to be an issue with the driver there's not really much we can do.  I've closed the issue.

[2016-01-22 19:30] #3689 closed

[2016-01-22 19:34] behlendorf commented on #4203
@kaazoo there isn't currently but there definitely could be.  Why do you need to do this?

[2016-01-22 19:41] behlendorf commented on #4162
That certainly makes sense for illumos but under Linux it's somewhat less useful.  During boot all the block devices are already probed in parallel and brought online asynchronously.  As part of this process udev automatically probes and identifies any filesystems and constructs a convenient cache.  So by the time we're at the point where we could import the pool we already know where everything i

[2016-01-22 20:46] behlendorf commented on #4178
@Lalufu @ryao @don-brady @ColinIanKing @adilger I'm definitely supportive of better integration with systemd.  What we have now is a nice first step but it can certainly be refined.  We need to have a discussion with the systemd experts, zfs experts and interested parties from the distributions and agree on a solid design for how it should be on Linux.  And while I think we could use some ideas fr

[2016-01-22 21:18] janlam7 commented on #4112
@ryao just provided a working patch, nice.

[2016-01-22 21:43] intelfx commented on #4178
Sure, I understand that one can write `pool/dataset` in fstab and it will work from zfs' side. But from systemd side, it needs a valid device name so that it can listen to udev events for that device and wait for the "ready" state (which should be set by udev rules in form of `SYSTEMD_READY` variable).

Here is how it looks for btrfs: https://github.com/systemd/systemd/blob/master/rules/64-btrfs.r

[2016-01-22 22:03] jxiong commented on #4210
I would like to update the status of this problem - we tried the ZFS master revision with the fixes @kernelOfTruth mentioned above, but unfortunately it didn't help.

@behlendorf Yes, this problem can be reproduced on Hyperion really easily. Most of the time we can start seeing this problem in several minutes after test is launched. Sure, I will upload a crash dump to Dropbox soon and update this

[2016-01-22 22:35] behlendorf commented on #4178
Interesting, I wasn't aware of that's how things worked now with btrfs.  Once a pool is imported creating this fake block devices would be straight forward, this infrastructure largely already exists for zvols.  Is there any documentation for how these devices should be named or what ioctl they have to support?

[2016-01-22 23:11] waxhead commented on #4247
Addtional informaiton:

Linux piglet 3.19.0-43-generic #49-Ubuntu SMP Sun Dec 27 19:43:07 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2016-01-23 12:34] intelfx commented on #4178
AFAIK the devices themselves do not need to provide anything. They just need to exist in the sense of the kernel sending out netlink events for them. That is, really a "stub device" which is no more than a "label" for kernel events.

The problem with this approach is naming: zfs allows to nest datasets, and if we will try to map dataset names to fake block device names naïvely (i. e. dataset `pool

[2016-01-23 12:49] RubenKelevra opened #4262 "zdb crash"
[root@maschine ~]# zdb -DD tanka
zdb: kernel.c:182: Assertion `pthread_create(&kt->t_tid, &attr, &zk_thread_helper, kt) == 0 (0xb == 0x0)' failed.
Abgebrochen (Speicherabzug geschrieben)

The german text means "aborted (dump written)"

 # pacman -Qi linux | grep Version
Version              : 4.3.3-3

 # pacman -Qi zfs-git | grep Version
Version              : 0.6.5.4_r0_g1ffc4c1_4.3.3_3-1

[2016-01-23 13:35] gkkovacs commented on #3990
@behlendorf @kernelOfTruth @priyadarshan

To test this issue extensively on different ZFS and kernel versions, we pulled this server from production once again, and thanks to the help of Dietmar Maurer from Proxmox we were able to test the following configurations on the same hardware:

- Proxmox 3.4 / kernel 2.6.32 (-39) / ZFS 0.6.4.1
- Proxmox 3.4 / kernel 2.6.32 (-44) / ZFS 0.6.5.4
- Proxmox 4.

[2016-01-23 18:22] jdb2 commented on #2934
I just started experiencing the same problem mentioned in this issue yesterday. I'm running Linux Mint Cinnamon 17.3 64-bit.

"uname -a" produces :

[code]

"lsb_release -a" produces :

[code]

I have several Windows and Linux VMware VMs ( VMware® Workstation 12 Pro 12.1.0 build-3272444 ) installed in a zpool on an external Western Digital USB 3.0 4TB My Book hard drive which holds a ZFS pool name

[2016-01-23 18:57] kernelOfTruth commented on #3990
@gkkovacs it could just be statistical noise & variation but it's interesting that the newest kernel has less checksum errors

Some points:

:balloon: does the possibility exist to connect one or two drives directly to the motherboard leaving out the Adaptec 6805E in the equation ?
:balloon: is there a newer firmware available for that controller ?
:balloon: are we talking about the same system al

[2016-01-23 19:01] kernelOfTruth commented on #4262
so Arch Linux :+1:

@RubenKelevra is that a 32bit system we're talking about ?

[2016-01-23 19:07] lnxbil opened #4263 "Two crashes one hour apart"
Hi,

I'm using ZFS for my backup storage and store VM dumps via NFS onto it. I have currently 6 SATA disks in a HP MSA60 as a separate pool connected through a SAS2008-based controller and got two crashes (also corresponding crash dumps with kexec) on a HP DL360G6, 32 GB-RAM, kernel ```4.2.6-1-pve``` with ZFS ```v0.6.5.4-1```

and got these two crashes:

[code]

and one hour later this one

[code]

[2016-01-23 19:20] RubenKelevra commented on #4262
Nope, 64 bit and the zfs-package is a binary one from http://demizerone.com/$repo/$arch

[2016-01-23 19:26] behlendorf commented on #4263
Both of these crashes seem implicate the nfsd code, they were trying to reclaim memory held by nfs in a cache, see `nfsd_replay_cache_scan()`.  I'd suggest trying a different kernel.

[2016-01-23 19:50] kaazoo commented on #4203
@behlendorf I was testing ZFS on iSCSI disk based on ZFS with different parameters (see #4211)
I wanted to check if performance changes when using 4 KB blocksize for the iSCSI disk, as the harddisks on the storage server are 4KB advance format.

The standard Linux iSCSI target (LIO) seems to have issues with setting the logical blocksize higher than 512 when the reported blocksize of the used disk

[2016-01-23 21:18] lnxbil commented on #4263
Hi Brian,

Thank you for the response, I'll report it upstream.
I thought of NFS, but there is also a lot of zio/spl-stuff going on.

Best,
Andreas

[2016-01-23 23:29] behlendorf commented on #4262
The error here is 0xb = 11 = EGAIN.  From the `pthread_create(3)` man page.

[code]

Any idea what the rlimit it set to you on your system?

[2016-01-23 23:38] behlendorf commented on #4203
This should do the trick for testing.

[code]

[2016-01-24 01:00] RubenKelevra commented on #4262
Actually not - just wanted to look at the deduplication debug output to find out how many dedupt sectors was found. :)

Everything else works great on that system. I do not remember to set any limits, and the system is fairly new. Is it possible to list the limits which apply to this process.

[2016-01-24 08:27] sempervictus opened #4265 "ZVOLs 3X slower than recordsets at same recordsize/volblocksize for sequential writes"
As we do more work on SSD-only pools we're starting to see consistent slowdowns across the board on ZVOLs vs normal data sets. Our use case is primarily iSCSI from ZVOLs, so this is a bit of a problem for us.

To prove this out, i wrote a simple test script for tiotest which creates zvols and data sets, benchmarks them, and destroys them:

[code]

The results (http://pastebin.com/AfU5VYuG) are odd

[2016-01-24 10:41] kernelOfTruth commented on #4227
referencing: https://github.com/zfsonlinux/zfs/pull/4259 Illumos zfs_remove() patches

[2016-01-24 11:23] gkkovacs commented on #3990
@kernelOfTruth @behlendorf

Number of checksum errors vary by the amount of restored data and number of files it seems, so a 100GB file produces more errors than a 10GB file, but hundreds of files produce even more errors. In the past I tested with restores of KVM machines (single large qcow2 file), but yesterday I tested all 3 setups with restoring the same 126GB OpenVZ machine, which effectively

[2016-01-24 11:32] kernelOfTruth commented on #3990
@gkkovacs I'm currently out of other ideas, but you tried current master whether that also shows up errors ?

alternatively: you tried building the same modules on your own (thinking about compiler and cflags related issues here)

[2016-01-24 15:58] dweeezil commented on #4265
I've not done this exact type of performance testing but I'd like to point out that within ZFS, at least, the data component a ZVOL is no different than a file other than that it has no name in the filesystem namespace.  The big difference, however, is that access to a ZVOL goes through the kernel's block IO system.  Among other things, unless ```O_DIRECT``` is used, the entire Linux block bufferi

[2016-01-24 16:12] ToxicFrog commented on #3256
I think https://github.com/zfsonlinux/zfs/issues/4031 is a duplicate of this.

The same thing happens to my pools after a disk failure, and has on 0.6.3, 0.6.4, and 0.6.5.

[2016-01-24 16:33] dweeezil commented on #3990
Poking my nose into this issue with a bit of trepidation :)  After reading the complete set of issue comments, the one statement from @gkkovacs that sticks out to me is "restored from NFS".   Is the ZFS system to which they're being restored the NFS client or is it the server (are the files being pulled onto the server or are they being pushed)?  It might be interesting to try using SSH for the co

[2016-01-24 18:27] sempervictus commented on #4265
Tiotest is a quick'n dirty approach, i'll run some fio tests in direct=1 iodepth=128 and iodepth=1 to provide more results, but this is a consistent thing we see across real world workloads - random IO on the iSCSI targets being fed by the ZVOLs is much better than linear.

[2016-01-24 18:47] janlam7 opened #4267 "PANIC at metaslab.c:2677:metaslab_fastwrite_unmark()"
While trying to remove a log device from my pool, assisted by @ilovezfs eventually the following stacktrace occured and the system hung:

[ 3904.485505] VERIFY3(vd->vdev_pending_fastwrite >= psize) failed (0 >= 4096)
[ 3904.485511] PANIC at metaslab.c:2677:metaslab_fastwrite_unmark()
[ 3904.485514] Showing stack for process 3508
[ 3904.485523] CPU: 0 PID: 3508 Comm: txg_sync Tainted: P           O

[2016-01-24 19:00] behlendorf commented on #4265
My first thought is that the sequential workload might be triggered some unnecessary read-ahead in either the Linux kernel's block layer or internally in ZFS.  I'd try disabling all read-ahead in both the kernel and ZFS and see what impact that has.  Also be aware that the ZFS prefetch logic was just significantly reworked in master as we just pulled in Illumos 5987 7f60329a261bd48558a498fb10e9b29

[2016-01-24 19:52] sempervictus commented on #4265
@behlendorf: could you provide any instruction for insuring no read-ahead occurs in ZoL? Is _hdparm -A 0_ sufficient for the disk itself?

I'll deploy an ELK logger to consume iostat data for the runs and get some visual representation going.

By the way, during direct=1 testing through a libvirt-scsi disk (not lun) abstraction, i'm seeing SCSI errors from tcm_loop on zvols which arent natively 4k

[2016-01-24 20:13] RichardSharpe commented on #4243
I have created a pull request for the fixups ...

I will look at the issue of pn_alloc and pn_free next.

I am thinking I probably want to allocate one piece of memory and then set up the structure correctly.

[2016-01-24 20:15] otwieracz commented on #3948
on Linux odyssey 4.3.3 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux and zfs 0.6.5.3:
[code]

[2016-01-24 20:50] janlam7 opened #4270 "zpool remove <pool> <log device> returns 'pool already exists'"
I'm trying to remove a log device from my pool and already spent some time with @ilovezfs trying several things, like turning the log into a mirror and then removing it. (which
@ilovezfs suggested trying it in FreeBSD, it gives the same error. But now, when I try it in ZoL it does NOT return the error anymore, but also does not remove the log device.

mediacenter genkernel # zpool remove pool4 sda

[2016-01-24 23:58] behlendorf commented on #4265
@sempervictus set the `zfs_prefetch_disabled` module option to disable read-ahead/prefetching.  You can also look at the `/proc/spl/kstat/zfs/zfetchstats to get an idea how it's performing.

Regarding the SCSI errors you might try the patch in #4203 to increase the logical block size.  There seem to be issues here when the logical size is 512 and the physical size is larger.  Even though ZFS is co

[2016-01-25 00:21] behlendorf commented on #4243
@RichardSharpe awesome thanks.  I took a quick look at the patch and it looks correct to me.

Yes, I think you can just wrap your existing kmem callers with pn_alloc/pn_free wrappers.  I'd suggest adding them as static inline functions in `include/linux/vfs_compat.h`.

As another slight aside you might take a quick look at the related code disabled by the HAVE_DNLC macro.  This macro is never defi

[2016-01-25 00:46] behlendorf commented on #4227
Thanks @kernelOfTruth I meant to link this.  The patches in #4259 are lightly tests but they should help in part with this issue by making the unlinks of very large files asynchronous even if no other process has the file open.

We should definitely work on porting the dmu bits of @alek-p's patch as well.  The whole thing isn't completely applicable because of significant VFS differences but throt

[2016-01-25 03:02] RichardSharpe commented on #4243
OK, now that I have seen what Illumnos does there, it does appear to be as easy as you said.

Give me a few days.

[2016-01-25 03:17] RichardSharpe commented on #4243
Hmmm, Illumnos has this:
[code]
Which means that the buffer they are allocating pn_path is actually MAXPATHLEN in length.

[2016-01-25 14:25] gkkovacs commented on #3990
@dweeezil

During testing, we tried moving data to the ZFS pool from NFS (restoring virtual machines and containers via Proxmox web interface), file copy with MC from a single disk, and copy through SSH from another server as well.

@kernelOfTruth @behlendorf

I decided to take the plunge and test with btrfs as well. I have installed Debian Jessie on an SSD, and created an identical 4 disk RAID10

[2016-01-25 18:20] ryao commented on #4265
@behlendorf We disable Linux's readahead on datasets, but not on zvols. I suspect this is the result of double prefetch overhead from interactions between the Linux readahead and zfetch rather than an issue in zfetch.

I wrote a patch to address this alongside the work to kill the zvol IO queue and decided to split it into its own pull request. The patch to disable Linux readahead was rejected whe

[2016-01-25 18:31] dswartz commented on #4265
On 2016-01-25 13:20, Richard Yao wrote:

Richard, I may give this a try too.

[2016-01-25 18:32] ryao commented on #4265
@dswartz Don't try it. I just double checked and it turns out that while that patch will apply, it won't build because ->zv_queue is gone. I need to rebase it against the modern codebase.

[2016-01-25 18:35] ryao commented on #4265
@dswartz I am juggling enough things at once that while I thought my original comment was correct, I decided to delete it until I can double check things. I will repost it afterward.

[2016-01-25 18:38] dswartz commented on #4265
On 2016-01-25 13:33, Richard Yao wrote:

whoops, okay :)

don't remember if i mentioned this in any earlier posts.  i am currently
running ESOS with ZFS (non-standard build), and was serving a couple of
zvols up to ESXi and windows veeam proxy and the performance was
disappointing.  I ended up creating datasets and using 'dd skip=xxx' to
create LUN files and then set a reservation on the dataset.

[2016-01-25 18:38] dswartz commented on #4265
On 2016-01-25 13:35, Richard Yao wrote:

No worries, thanks :)

[2016-01-25 18:39] ryao commented on #4265
@dswartz After double checking, it turns out that my remarks were right the first time. As paradoxical as saying "we no longer have the IO queue" sounds when we have a ->zv_queue pointer that the patch uses, that is indeed the case. My original comment should have been correct. I will repush that commit in a fresh pull request for the buildbot to evaluate.

 @behlendorf We disable Linux's readahea

[2016-01-25 18:42] ryao commented on #4265
I just opened #4272 as an alias of #2487 for the buildbot tests. We probably need some benchmark numbers to confirm my hypothesis though.

[2016-01-25 21:07] #3904 closed

[2016-01-25 21:07] #4161 closed

[2016-01-25 21:22] #4222 closed

[2016-01-26 06:41] richardelling commented on #3990
FYI, btrfs has a weaker checksum, crc32c, than any checksum available in ZFS. The weaker checksum is faster, but has smaller hamming distance, so one could argue it is best when the blocksize is 64k or less.

Drives can fail such that one head or bank can have more difficulty reading and correcting data than the others. These failure modes are particularly annoying because the file systems are lar

[2016-01-26 07:22] kbrdaemon opened #4273 "Zpool folders empty"
After i upgraded to zfs 0.6.5.3-r3 I got the problem that one of my pools only showed the top level of the folder tree and they were all empty.

The pool imports without any errors.
Running zfs on Gentoo with Kernel 4.3.4

If you need any further information please let me know.

[2016-01-26 09:14] 1stone opened #4274 "zfs send -i transferres too much data!?"
I'm replicating a ZFS volume (here tank/backuppc) do a remote server.
To do this, daily snapshots are created and send incrementally (e.g. `zfs send -i tank/backuppc@zrep_000025 tank/backuppc@zrep_000026`)

[code]

While this is working ok - basically - I was puzzled by the amount of data that is transferred with each run.
For the above example, this was roughly 200G (and it's more-or-less the sam

[2016-01-26 09:25] 1stone commented on #4274
That is with `zfs 0.6.5.2-2` on `Linux backup 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt17-1 (2015-09-26) x86_64 GNU/Linux`.

[2016-01-26 10:17] dracwyrm commented on #3754
Hi,

Tested 0.6.5.4 with both a 4.1.x and 4.4 kernel and this issue still persists. Sorry, hadn't had much time to play with new versions of ZFS. This issue is not closed for me.

I also removed block devices from being controlled by cgroups in the libvirtd config file to see if that would help, and it didn't.

My next step to debugging is to remove patches until I find the culprit. I will go back

[2016-01-26 10:18] clefru commented on #4240
I'm not familiar with the error, but I just happened to notice that zfs-0.6.5.4 brings compat fixes for 4.4. See https://github.com/zfsonlinux/zfs/releases/tag/zfs-0.6.5.4

[2016-01-26 12:30] odoucet commented on #1548
Same bug here with SPL/ZFS v0.6.4.2-1 + kernel 3.10.76 ;
data is stored on a child (not directly on root). xattr=on
zfs umount did the trick but took several minutes.

[2016-01-26 12:43] dracwyrm commented on #4265
Is there a way to disable the kernel read ahead without the patch while booted system and ZFS modules loaded?

I recently had time to play with ZFS again and using the latest version I still had ZVol issues that I reported in my bug report. I asked for that to be reopened. I was wondering if read ahead would cause the issue I had there.

Thanks

[2016-01-26 15:24] Gregy commented on #4083
Hi, I just played with this and thought I would post the panic

[code]

[2016-01-26 18:02] richardelling commented on #4274
Is compression enabled? The send stream is decompressed.

[2016-01-26 18:04] gkkovacs commented on #3990
@richardelling You should have read this page thoroughly first... your advice (while sound) has nothing to do with the issue that we are facing. We are way beyond smartctl here.

**TLDR: We have 4 brand new drives in a server, all showing checksum errors after tens or hundreds of GB written, but only when 4 memory modules are installed.** RAM modules, motherboard, CPU, PSU, cables were all replace

[2016-01-26 18:17] richardelling commented on #3990
I was posting for posterity.

Clearly, your hardware is broken or out of spec.

[2016-01-26 18:25] gkkovacs commented on #3990
@richardelling If it's so clear to you, would you mind telling me which part of my hardware is broken? Or alternatively, could you please not hijack this thread with irrelevant comments? This is an issue that proves very hard to diagnose, and your contribution is not being useful so far.

[2016-01-26 18:36] jxiong commented on #4210
@behlendorf Please check the crashdump at: https://www.dropbox.com/s/23my4xnpahiibgk/zfs-reproduced.tar?dl=0, thanks.

[2016-01-26 18:56] kernelOfTruth commented on #3990
@gkkovacs can you post some more specific data ?

specific motherboard model (revision), specific cpu model (cpuid, /proc/cpuinfo), harddrives, RAM, etc.

Concerning the RAM and motherboard: are the RAM modules on the compatibility list of the mainboard manufacturer ?

Okay, you lessened the timings on the RAM, but did you also try out to run the RAM actually *_slower_* than specs ?

I've read (an

[2016-01-26 19:03] 1stone commented on #4274
Well, yes. Compression is enabled and I'm aware of the fact that the stream is (unfortunately) uncompressed. Currently *compressratio* is 1.31x.

However, considering the list above, I don't understand how the snapshot difference going from `zrep_0025` to `zrep_0026` does account for 200GB when the USED column shows `0`.

[2016-01-26 19:06] priyadarshan commented on #3990
@gkkovacs if you are in a poistion to do it, you could try to install FreeBSD 10.2 (or PC-BSD, which has an easier install) ona different/temporary disk, import your zpool, and see if that happens again. In our case, a 12TB zpool, we were observing the exact same symptomps as you are, but switching to FreeBSD fixed it.

[2016-01-26 19:12] ColdCanuck commented on #4274
The Used column from zrep_0025 to zrep_0025 says nothing was deleted;  but the refer column says some 150GB were added (4.09T - 3.94T), so sending 200 GB isn't that far off the mark.

[2016-01-26 19:15] richardelling commented on #4274
Used for snapshots is the space that is unique to the snapshot. It is expected to change as you delete data in the future.

[2016-01-26 19:15] richardelling commented on #4274
Also, zstreamdump shows what is in the stream, if you want to look at the details.

[2016-01-26 19:19] richardelling commented on #3990
Also, sometimes people set overclocking and forget that it impacts the memory performance as you add DIMMs.

[2016-01-26 19:22] gkkovacs commented on #3990
@priyadarshan Can you post your hardware? CPU, motherboard, RAM and HDD specs please! Will see if I have the time to check FreeBSD.

@richardelling @kernelOfTruth When I first encountered this issue, this server had the following specs: **ASUS P8H67-V** motherboard, rev. 1.04, **Intel Core i7-2600 CPU**, 4x 8GB DDR3-1333 RAM. During the investigation of this issue I have upgraded to an **Intel DQ7

[2016-01-26 20:03] kernelOfTruth commented on #3990
@gkkovacs

yeah, that :)

Running memory modules of two different brands *_can_* work, but don't have to.

What type of RAM is that ? (price range: low range, mid range, high end enthusiast),

Value RAM or most consumer RAM are fine but I've read about cases where they tended to cause trouble when being fully stressed, what @Stoatwblr wrote

To be honest, it looked like that,

but:

What the ... ?

[2016-01-26 21:08] 7Z0t99 commented on #3990
Hi guys,
I found it surprising to see mtrr_cleanup at all in the first /var/log/messages, as the default in the Kconfig files is to disable it. I mean goal of the feature seems to be to fix the MTRR on broken BIOSes, but if your BIOS isn't broken, why try to fix it? Some distros seem to enable it though, including Promox. Anyway, I would be very interested to see if the errors go away when you add

[2016-01-26 21:20] kernelOfTruth commented on #3990
+1

[2016-01-27 00:14] charles-dyfis-net opened #4275 "IO accounting available in /proc/*/io, but not cgroup-level blkio accounting"
As of ZFS 0.6.2 on Linux 3.9.10, cgroup-level accounting included read/write counters for block devices backing zpools. On a system where /dev/sda (8:0) is a raw partition and /dev/sdb (8:16) is a block device backing a zpool, `/sys/fs/cgroup/blkio/system.slice/*.service/blkio.io_service_bytes` would contain content akin to the following (for a service interacting with both root and ZFS filesystem

[2016-01-27 00:37] alek-p commented on #4227
the biggest issue I see with there VFS differences is that there seems to be no VFS flags (particularly VFS_UNMOUNTED) . Is there an existing way to tell that a fs is unmounting/unmounted?

I can port the delete throttle patch by itself to start with, but that exposes the issues I've mentioned in the pull request.

[2016-01-27 01:21] behlendorf commented on #4227
@alek-p right this is one of those small but critical differences in Linux the VFS model.  Most notably there isn't a 1:1 mapping between the mounted namespace and the filesystem super block (zfsvfs_t).  There is a single super block for the filesystem but there can be multiple mounted namespaces for that super block.  That means there isn't a simple mapping back to a single mounted namespace.

Th

[2016-01-27 07:08] 1stone commented on #4274
Hmm... so this is then more a misunderstanding of the USED column on my side...!?
From what the manual says, I would have expected that this value shows the amount of data the snapshot differs in total (so including added and deleted data).

    used

        ...
        When snapshots (see the "Snapshots" section) are created, their space is initially shared between the snapshot and the file syst

[2016-01-27 07:54] CMCDragonkai commented on #494
I just wanted clarification on this, when ZFS is applied on top of LUKS, aren't things encrypted multiple times if there are multiple block devices being used? For example a mirrored ZFS with mirrored ZIL and mirrored L2ARC, each partition/block would be encrypted separately even if it's the same data being encrypted. If this is true, then it sounds a like a significant disadvantage of putting ZFS

[2016-01-27 08:44] dracwyrm commented on #3754
I have a question about something that I don't understand.

I unload all these modules: zfs, zunicode, zavl, zcommon, znvpair, spl
Stop zfs.service.
Upgrade spl/zfs-kmod/zfs from  0.6.4.2 to 0.6.5.4
Restart the service which reloads all the kernel modules.
Do a check on the version of loaded module, to confirm that the new modules are loaded -- they are.
Start the virtual machine.
The performance

[2016-01-27 09:26] dracwyrm commented on #4265
I did some cheap and dirty testing with the Disable Linux Readahead patch.
Host:
Kernel: 4.1.15
ZFS/SPL: 0.6.4.2
ZFS Pool: Raid Z1 on three 2T Platter Drives with ARC/ZIL on separate SSDs in stripe/mirror configuration.

Guest:
Drive: 750G ZVol
OS: Windows 10 latest updates.

Before Disable patch:
-----------------------------------------------------------------------
CrystalDiskMark 5.1.1 x64 (C)

[2016-01-27 11:18] christoph-h commented on #3887
I just got the latest ZFS via the proxmox repos. And although this issue is already closed, I still wanted to confirm that this bug is now fixed. I can run /usr/bin/updatedb.mlocate inside the OpenVZ container without any issues.
Thanks a lot for your great work!

[2016-01-27 11:20] ColdCanuck commented on #4274
consider a simple filesystem:
day one:  Snap S1 contains files A,B, C Used shows 0 because the files are still in the current fs and snapshot (i.e. nothing is unique to S1)

day two: file D is added. Snap S2 Used shows 0 because A,B,C are in S1 and S2;  D is inhe current fs and S2

day three:  B is deleted. Snap S3 Used shows 0 because A, C, and D are in two Snaps plus the file system; B is in Sna

[2016-01-27 12:18] 1stone commented on #4274
Thanks for the hints and insights.

[2016-01-27 12:18] #4274 closed

[2016-01-27 13:00] odoucet commented on #4265
These are exactly the same numbers. Are you sure you copy/paste them right ?

[2016-01-27 13:01] kernelOfTruth commented on #494
It would be the same with other filesystems, wouldn't it ?

[2016-01-27 13:45] dracwyrm commented on #4265
@odoucet Oops. Pasted in the wrong ones for the after patch stats. I updated the post.