[2015-08-05 17:50] hakkikt opened #3661 "Very heavy memory manager activity whenever copying files after snapshot/send/scrub"
Today I created a snapshot for backup, sent it to my USB drive, deleted the oldest local snapshot then started a scrub on the backup drive. The scrub was running at 13MB/s and lacking time to let it run to completion I stopped it and exported the backup pool. Since then whenever I perform any complex IO on the live pool txg_sync and the z_wr_iss threads. Both pools are encrypted, hardware is i7-35

[2015-08-05 18:41] FransUrbo commented on #3657
No, a scrub.

See #3658 for what brought this on.

I couldn't cancel the scrub, because it was resilvering. I don't want
to cancel the resilver, I want to cancel the scrub that was running
_at the same time_ (or paused while the resilver was running).

[2015-08-05 22:22] angstymeat commented on #3654
Running a ```zfs send``` on the off-site machine so I can install some new drives next week and restore, but 245GB in, and the send has locked up with no data being read or written. I have one CPU that is 100% in IOWAIT.

I've also jumped up to 4.7GB written out to swap (2.3M after zswap compression).

Here's some ```vmstat``` output:
[code]

[2015-08-05 23:27] angstymeat commented on #3654
Ok, ignore that previous power about iowait. The network interface was being dropped so NFS was hanging.

[2015-08-06 00:55] angstymeat commented on #3654
I rebooted and I'm trying ZFS without #3643. My ZFS send has been running for about 90 minutes and I have 23.8GB written out to swap.

Is there a memory leak and the leaked data is being swapped out?

[2015-08-06 09:24] angstymeat commented on #3654
The system went down about an hour ago, with my arc ~1/3 full, and over 86GB written into swap. Well, mostly down. It's still technically running, but the shell hangs anytime you try to access a ZFS file system.

At 2am my nightly backups started running at the same time as my ```zfs send``` was running, so the system was about as stressed-out as possible.

Currently, I am running SPL 0.6.4-18_g8a

[2015-08-06 10:27] abuschmann opened #3662 "vdev_id script doesn't find the disks without a tweak"
I have set up zfs on a Supermicro 2027R-AR24NV running CentOS 7.1
It has three LSI SAS3008 to connect the 24 disks on the front side.
The default vdev_id script doesn't find any disk.

The problem is .../bay_identifier doesn't give any helpful value:
cat: .../bay_identifier: Invalid argument

I added the following:
<pre># diff -u /usr/lib/udev/vdev_id.dist /usr/lib/udev/vdev_id
--- /usr/lib/udev/v

[2015-08-06 11:25] myii commented on #2133
@timothyjlaurent @ank @hydro-b @DarwinAwardWinner @UltraSalem

I've been using ZFS-based home directories on a number of Ubuntu computers (10.04, 12.04 & 14.04) for around 2 years and haven't faced this problem - until yesterday.

**In my case**, this wasn't a bug in ZFS but rather an issue in my startup configuration - as an example, I was able to resolve the situation in the following way:

* Af

[2015-08-06 15:28] sempervictus opened #3664 "Apparent AIO related crash in CentOS6 doing ZFS send on SCST host"
A client system went down sometime between 0130 and 0300 this morning, hard crash, had to be forcibly rebooted from the IPMI console.
The system runs a known stable build of ZoL, with ABD being the only major change from master. However, this is a CentOS6 box on kernel 2.6.32-431.17.1.el6.x86_64, whereas the vast majority of our own and our client systems are Ubuntu LTS (storage hosts with a custo

[2015-08-06 16:39] hakkikt commented on #3661
Running the scrub again after rebooting I think that can be eliminated, it runs at 24MB/s and only consumes 5%CPU, half of that in AES-NI in dm-crypt. Neither swapping nor aborting the scrub affect the system. My prime candidate now is deleting the snapshot.

[2015-08-06 17:49] angstymeat commented on #3654
Ok, I can replicate this within an hour or so now. This last time I got my swap file to 500GB! :)

Anyway, I'm going back through testing commits to see if I can figure out when this started.

[2015-08-06 18:46] fearedbliss opened #3665 "# sign for creating bookmarks is not working properly"
Hello,

Taking a bookmark via the following is suppose to work but doesn't (possibly due to the shell?):

zfs bookmark tank/dataset@snapshot #snapshot

however, doing the above makes the zfs command believe that an argument is missing. Doing a # doesn't work and a full qualification of the name is needed (or single quotes):

zfs bookmark tank/dataset@snapshot tank/dataset#snapshot

---

octopus ~

[2015-08-06 18:50] fearedbliss opened #3666 "Sending a bookmark on zfs doesn't allow the -vn flags to be used"
Hello,

If one tries to send an incremental backup from one point to another and would like to see how much data would be sent (-vn), one would normally use a 'fromSnap' and 'toSnap' and this would work. However, if you try to do this from a #bookmark created at the same point as the 'fromSnap', this will not work.

octopus ~ # zfs list -t bookmark
NAME USED AVAIL REFER MOUNTPOINT
tank/gentoo/root

[2015-08-06 19:38] Bronek commented on #598
@dweeezil theoretically you could perform reverse lookup from filesystem to pool(s) and the perform "zpool trim" on a result ...

[2015-08-06 21:36] angstymeat commented on #3654
First... my zswap compression ratio numbers are way off. Both values used to be pages that I calculated into bytes. Now, it appears that one has remained pages and the other is now reported as bytes. In reality, the numbers I'm seeing are are nowhere near this dramatic. My swap partition is filling, but it isn't with pages compressed 2000:1.

I've done some more working trying to isolate this toda

[2015-08-06 21:51] #3654 closed

[2015-08-06 22:08] kernelOfTruth commented on #3654
@angstymeat talking about zswap: are you running with default compression algorithm (lzo) or with lz4 ?

[code]

could help especially when there are lots of zero-filled pages

[2015-08-06 22:19] angstymeat commented on #3654
My boot cli has it set to lz4, but somewhere around Fedora 20 it stopped working and defaults to lzo with a ```lz4 compressor not available```. It worked in 18 & 19.

I preferred it, but I haven't gone back to tinker with it to get it to work again.

They changed the stats on me, so my swap usage graphs on newer systems were completely off-kilter.

I know that I've managed to crash two machines by

[2015-08-06 23:54] angstymeat commented on #3654
@kernelOfTruth Your post got me up off my butt to re-enable zswap lz4 on my systems. Thanks.

[2015-08-07 06:08] Pentium100MHz opened #3667 "Processes that access zvols hang in D state"
Hi, I have a virtualization server running Debian 8, the server uses KVM for virtualization and zvols for storage.

Everything was OK for two months and then for some reason all processes that access zvols got stuck in D state.

Here's the situation now:

zpool status - works
zfs create tank/fish - works
zfs destroy tank/fish - works
zfs create -V 1G tank/fish - D state
stack trace for this:
[code

[2015-08-07 06:46] angstymeat opened #3668 "Stuck in IOWAIT state on multiple CPUs"
This is to replace issue #3654 that I messed up pretty badly with some confused ramblings because my zswap stats weren't being calculated correctly.

__Summary:__
I've seen this happen on two systems, but I an going to be reporting on the system that is easier for me to work on...

After the system gets low on memory after running for a while, my ARC drains and I eventually get to a state where th

[2015-08-07 06:59] tomposmiko opened #3669 "removed disk not detected"
zdb:

[code]

[code]

zpool history:

[code]

pci-0000:01:00.0-scsi-0:2:4:0 was failing, it was removed from the chassis and replaced with a new disk with the above command while the pool was online and functional.

[2015-08-07 07:01] tomposmiko commented on #3669
I was able to remove the ghost member using its guid.

[2015-08-08 03:04] n-other opened #3670 "cannot mount zfs in rw mode. endless rcu_sched warnings"
Hello,

I am running zfs 0.6.4.2 on debian jessie with 3.16 kernel and currently having few issues:

1) I cannot mount zfs in rw mode. it hangs forever while kernel throws out rcu_sched warnings:
INFO: rcu_sched detected stalls on CPU/tasks...
Also the system becomes unresponsive and can be recovered only by hard reset.
It appeared after filesystem was 100% full and recovered by adding additional

[2015-08-09 01:25] angstymeat commented on #3668
My send has frozen again after 9 hours. The system hasn't locked, but there is a good bit of latency when accessing the ZFS mounts. One CPU is again at 100% iowait.

This is with nothing else except the send running.

[2015-08-09 01:40] n-other commented on #3670
I also found really strange object while making zdb -dddd through the whole pool.
here is the object output:

Dataset msapool/brick01 [ZPL], ID 43, cr_txg 204, 63.8T, 2014775 objects, rootbp DVA[0]=<1:572d3a5a400:400> DVA[1]=<2:726e90c400:400> [L0 DMU objset] fletcher4 lz4 LE contiguous unique double size=800L/200P birth=9538649L/9538649P fill=2014775 cksum=1081091e5a:5d6409628bf:11a0fcb401122:257

[2015-08-09 12:36] chrisrd opened #3671 "Build failure on Linux 4.1"
Compiling w/ Linux 4.1.1:

[code]

Due to this `configure` failure captured in the `config.log`:
[code]

[2015-08-09 14:28] dweeezil commented on #3670
@n-other It might be interesting to dump that specific dnode with my patched zdb from https://github.com/dweeezil/zfs/tree/zdb.  It adds a bunch of verbose stuff designed to troubleshoot corrupted SAs but it might also help in this case (use ```-ddddddd```).

[2015-08-09 17:29] n-other commented on #3670
@dweeezil here it is. doesn't look much different :(

# /usr/src/dweeezil.zfs/cmd/zdb/.libs/zdb -ddddddd msapool/brick01 246298
Dataset msapool/brick01 [ZPL], ID 43, cr_txg 204, 63.8T, 2014812 objects, rootbp DVA[0]=<6:5f3875f5000:400> DVA[1]=<7:a36280ec00:400> [L0 DMU objset] fletcher4 lz4 LE contiguous unique double size=800L/200P birth=9551486L/9551486P fill=2014812 cksum=1468f935eb:6fc8b86821e

[2015-08-09 19:03] jas14 commented on #3086
@Ericson2314: you did this for illumos right? do you think the script would be applicable here?

[2015-08-10 10:51] ab-oe opened #3674 "Null pointer dereference during import under heavy load."
Hello,
I got following call trace while trying to import Pool-1 under heavy load.

[code]

spa_load+0x138e points to spa_config_exit(spa, SCL_ALL, FTAG)  in spa_config_valid

There are two pools on that environment. Their structure looks as follows:

[code]

[code]

The Pool-1 is the pool that is online and there is heavy I/O. When I try to import Pool-0 using zpool import - null pointer dereferen

[2015-08-10 12:09] dweeezil commented on #3670
@n-other That's not my hacked zdb.  It will _always_ at least print the "SA hdrsize" and "SA layout" lines prior to the "path".  Once you get the hacked zdb running properly, I'd also like to see the output of ```zdb -dddd  msapool/brick01 5 6```.

My guess is that you may have tried to transplant my patches atop whatever sources you are using but didn't get all the commits.  The ```zdb``` branch

[2015-08-10 16:50] gdevenyi opened #3675 "vdev_id labelling multipath disks as partitions on Ubuntu 14.04"
I have a 60-disk JBOD, connected currently through two SF-8088 connectors, one per HBA card, to a separate IO controller on the HBA, eventually there will also be a crossover connector, but I'm short two cords right now.

My HBAs:
[code]

My /etc/zfs/vdev_id.conf
[code]
(Not all ports are currently connected, I'm short SF-8088 connectors until I retire my old array)

My multipath.conf:
[code]

My

[2015-08-10 17:13] nedbass commented on #3675
This bug was also reported in #1692. `vdev_id` doesn't correctly parse device names containing the letter "p" unless it is a delimiter for a partition number.  The workaround is to disable `user_friendly_names` in `multipath.conf`.

[2015-08-10 17:18] gdevenyi commented on #3675
Hrm, I read that, I missed that that was the problem.
[code]

Fixed!

One other question, what does "B" in this case refer to?

[2015-08-10 17:24] nedbass commented on #3675
The "B" refers to the channel that you defined in `vdev_id.conf`.

[2015-08-10 17:25] gdevenyi commented on #3675
Duplicate of #1692

[2015-08-10 17:25] #3675 closed

[2015-08-10 18:17] eolson78 opened #3676 "ZFS send dead for over 12 hours"
CENTOS 6.5 Kernel 3.14.4
Running a 3 Zpool's
with an NFS based Filebench load running
send and receive running at every 1 minute interval for Replication

the ZFS Send task sits in a D state as seen below and the stacks indicate constant traversal of the pre-fetch thread.

root      70913  0.0  0.0 201104  1564 ?        D    Aug09   0:46 zfs send -PRpv -i PoolLoad1/vol2 snaprep64 PoolLoad1/vol2 sn

[2015-08-10 18:43] ryao commented on #8
I gave this some thought because it would be nice for enabling API testing. Here are my thoughts:

The initial implementation should not bother with any of these:

* share
* onexit (probably not possible)
* ctldir
* zvols
* kstats
* module parameters

libzpool will need modifications to include more files:

module/zfs/zfs_acl.c
* module/zfs/zfs_dir.c
* module/zfs/zfs_log.c
* module/zfs/zfs_ioctl.c

[2015-08-10 18:46] eolson78 commented on #3676
this really appears similar to #3655

[2015-08-10 19:08] ryao commented on #8
I took a look at the ZFS-FUSE code. The ZFS-FUSE developers did a fantastic job of wrapping the native Solaris VFS such that they can use it unmodified:

https://github.com/gordan-bobic/zfs-fuse/blob/master/src/zfs-fuse/zfs_operations.c
https://github.com/gordan-bobic/zfs-fuse/blob/master/src/lib/libsolkerncompat/vnode.c
https://github.com/gordan-bobic/zfs-fuse/blob/master/src/lib/libsolkerncompat

[2015-08-10 22:04] Ericson2314 commented on #3086
For zpool yes, with @lukenels

[2015-08-10 22:30] gbkersey opened #3677 "rsync causes ZoL to use all memory until system crashes STILL :("
I've been having his problem for quite some time and I believe that I have found an easy solution.  Hopefully this will save some other folks some time.

Here are the details:
## Hardware:

Supermicro H8DCL-iF
16GB ECC RAM
2x CPU AMD Opteron(tm) Processor 4334
OS Disk - WDC WD10EZEX-08M2NA0 (1TB) 7200 rpm SATA drive @ 3.0Gb/s connected to the mobo
SATA controller: Advanced Micro Devices, Inc. [AMD

[2015-08-11 01:25] DeHackEd commented on #3637
Someone was just in IRC with the same symptoms.
http://paste.ubuntu.com/12052761/
He appeared to be up to date as of right now, including kernel driver version. Forcibly raising `zfs_arc_max` unwedged him.

[2015-08-11 07:11] Pentium100MHz opened #3678 "Null pointer dereference on zfs 0.6.4.1-2 and Debian 8"
Hi, I saw that the system in my previous issue was not the latest version, so I updated, now I got this:

[code]

The pool has a single raidz1 vdev with 3 SSDs.

modinfo zfs | grep version
[code]
modinfo spl  | grep version
[code]
cat /etc/debian_version
[code]

[2015-08-11 07:58] akorn commented on #3667
How full is your pool?

[2015-08-11 08:04] Pentium100MHz commented on #3667
zfs list home
[code]

So, not completely full, but not much space left.

The pool contains a single raidz1 vdev with 3 SSDs

[2015-08-11 10:06] tjikkun commented on #3538
I see the same on CloudLinux 6.6:

### System Information
* CloudLinux 6.6 x86-64
* dkms-2.2.0.3-30.git.7c3e7c5.el6.noarch
* zfs-0.6.4.1-1.el6.x86_64 (before upgrade)
* zfs-0.6.4.2-1.el6.x86_64 (after upgrade)

[2015-08-11 11:19] n-other commented on #3670
Hi @dweeezil,

here they are:

    Object  lvl   iblk   dblk  dsize  lsize   %full  type
         5    1    16K  1.50K  6.50K  1.50K  100.00  SA attr registration (K=inherit) (Z=inherit)
        dnode flags: USED_BYTES USERUSED_ACCOUNTED
        dnode maxblkid: 0
        microzap: 1536 bytes, 21 entries

                ZPL_DACL_ACES =  40013 : [0:4:19]
                ZPL_DXATTR =  30014 : [0:3:2

[2015-08-11 11:28] n-other commented on #3670
also, the one from my first mail:

msapool/brick01:<0x31f311>

do I understand it right and 0x31f311 represents hex number of inode? if this is true, here is the dump for this node also:

    Object  lvl   iblk   dblk  dsize  lsize   %full  type
   3273489    3    16K   128K   245M   245M  100.00  ZFS plain file (K=inherit) (Z=inherit)
                                        176   bonus  System at

[2015-08-11 12:28] dweeezil commented on #3676
@eolson78 The issue threads on which it's waiting are sending the data through the pipe and on to the receiver.  You'll see this type of stack when the receiving end is blocked.  For example, running ```zfs send <whatever>@snap | sleep 3600``` will produce the exact same stack in the ```zfs``` process.  The problem is on the receiving end.

[2015-08-11 12:32] dweeezil commented on #3676
And for completeness, yes, #3655 is the exact same issue.  You need to check out what's happening on the receive end.  This can be caused poor network connectivity, stuck TCP sessions or, of course, a problem with ZFS on the receiving side (assuming the send stream is targeting a ```zfs receive``` rather than being written to a file or a device).

[2015-08-11 12:48] dweeezil commented on #3670
@n-other  The dnode is fine.  It's an incompletely-removed directory and shouldn't exist anymore.  This is a case of filesystem corruption which shouldn't be able to happen.  Does your system have ECC memory?

[2015-08-11 13:52] n-other commented on #3670
@dweeezil According to dmidecode the system supports Single-bit ECC. If this dnode is fine, why does it make zdb to hang and consume all possible CPU? Missing parent?

I don't have possibility to make backup and restore for this fs due to it's size. Can you recommend good recovery approach?

[2015-08-11 16:29] siebenmann opened #3679 "RFE: zfs doesn't mark its native kernel slabs as being reclaimable"
The native kernel slab caches can be marked as containing data that is likely to be reclaimable under memory pressure. Slabs marked this way have their space show up in /proc/meminfo's SReclaimable (as opposed to SUnreclaim, which is slab memory not marked this way) and show up in the NR_SLAB_RECLAIMABLE page state. It appears that reclaimable slabs affect memory accounting in a few places beyond

[2015-08-11 17:03] siebenmann opened #3680 "Ordinary dd from a disk device can kill the ARC even after it finishes"
I wanted to see the raw speed of my L2ARC SSD, so I did the obvious thing:

    dd if=/dev/sdd of=/dev/null bs=1024k

To my surprise, this wound up destroying my ZFS ARC; the size shrunk to 32 MB and stayed there even after the dd finished. In the end I had to do 'echo 1 >/proc/sys/vm/drop_caches' and then reset zfs_arc_max in order to have the ARC recover (although it looks like a slower recovery

[2015-08-11 18:40] siebenmann commented on #3637
Might it be something similar to or related to #3680, where the page cache hammers the ARC into the ground? The symptoms are sort of similar; arc_no_grow goes to 1, the ARC size is hammered into the ground (especially data_size), and then it doesn't grow afterwards even if arc_no_grow becomes 0 again.

It's also possible that there's a general issue here where once the ARC has been hammered into t

[2015-08-11 20:22] bprotopopov opened #3681 "lock order inversion between zvol_open() and dsl_pool_sync()...zvol_rename_minors()"
There appears to be a problem with the following two code paths executed concurrently:

1) resulting from the zfs rename on zvol snapshot, taking place in txg_sync_thread()

 #0 [ffff8802a6e7ba20] schedule at ffffffff815299d0
 #1 [ffff8802a6e7baf8] __mutex_lock_slowpath at ffffffff8152b3a6
 #2 [ffff8802a6e7bb68] mutex_lock at ffffffff8152aecb
 #3 [ffff8802a6e7bb88] zvol_rename_minors at ffffffffa0

[2015-08-11 21:03] bprotopopov commented on #3681
I am seriously considering performing zvol_*_minor* related functions invoked from dsl_dataset.c, spa.c, and zfs_ioctl.c, through a taskq, in order to isolate it from any sort of locking conditions in the callers.

[2015-08-11 22:07] angstymeat commented on #3668
I know this doesn't particularly help narrow down the issue but...

I was only able to get the system to run up to 9 hours before, but now I'm trying out DeHackEd's ADB + master branch (https://github.com/DeHackEd/zfs/commits/dehacked-bleedingedge2), and I've been copying for over 24 hours without an issue.

My issue also sounds a bit like #3680 and #3676. In #3676 it was mentioned that you would

[2015-08-12 05:25] dweeezil commented on #3680
@siebenmann As of 11f552f, ```arc_available_memory()``` is using ```nr_free_pages()``` which of course will drop as other parts of the system use the page cache, buffers, etc.  There may be a better calculation we can use which takes into account evictable memory but in any case, this will need to be re-thought.

[2015-08-12 10:04] ronnyegner commented on #3680
@siebenmann   You want to use Direct I/O with dd which bypasses the file cache and prevents this kind of issue. Just specify "oflag=direct".

[2015-08-12 10:06] ronnyegner commented on #3497
@thegreatgazoo  What exactly is a "declustered RAIDz/mirror"?

[2015-08-12 12:46] dweeezil commented on #3680
@ronnyegner The problem is a bit deeper than that.  In the current implementation, a simple ```md5sum /ext4mntpoint/bigfiles/*``` for example (reading lots of large files on an ext4-mounted filesystem) will consume the page cache and cause the ARC to collapse. The problem @siebenmann noted could be worked around by using ```nr_free_pages() + nr_blockdev_pages()``` for ```freemem``` but that wouldn

[2015-08-12 13:40] ab-oe opened #3682 "Extremely slow zvol nodes creation when pool is resilvering (or repairing)"
Hello,
I've noticed problem with importing pool when one mirror device was previously replaced or when the scrub operation was running. Creation of zvol nodes is extremely slow and udev gets timeout. For example the execution of **/lib/udev/zvol_id /dev/zd0** takes several minutes. I tried to modify following parameters with different combinations but I didn't noticed any impact on zvol nodes crea

[2015-08-12 14:59] dweeezil commented on #3680
A quick test shows that https://github.com/dweeezil/spl/tree/freemem works around most issues related to this.

[2015-08-12 18:46] sveinse opened #3683 "Kernel panic in ZFS on Ubuntu"
System: Ubuntu 15.04, amd64, Kernel 3.19.0-25-generic. zfs 0.6.4.2-1~vivid. 6-drive raidz2. zfs on root.

I have observed two similar kernel panics recently. I'm not 110% sure, but from the zfs related activities I was working on prior to the crash, it can be one of two cases:

A) Turning off sync for efficiency of installation:

`zfs snapshot tank/neo/system@$(date +%FT%TZ); zfs set sync=disabled

[2015-08-12 18:52] dasjoe commented on #3683
This is a known issue, tracked mainly in #3030. There's a proposed fix in PR #3344.

[2015-08-12 21:23] kernelOfTruth commented on #3497
@ronnyegner http://www.pdl.cmu.edu/PDL-FTP/Declustering/ASPLOS.pdf , http://www.enterprisestorageforum.com/technology/features/article.php/3883346/Can-Declustering-Save-RAID-Storage-Technology.htm

[2015-08-13 04:51] gbkersey commented on #3677
Well that did not work...  I've tried it with running rsync like this....
nocache rsync --lotsofoptions.....
nocache -n2 rsync --lotsofoptions.....

Still seeing this.... :(

![screenshot from 2015-08-12 23 46 50](https://cloud.githubusercontent.com/assets/3144633/9242774/f5d008bc-414c-11e5-8e50-ddf72a984451.png)

[2015-08-13 11:14] Pentium100MHz commented on #3678
Update: this may have something to do with trying to write to a zvol that is marked read only.

[2015-08-13 13:03] kernelOfTruth commented on #3677
@gbkersey try going lower than half of your RAM - I suggest testing 40% (around 6 GiB):

[code]

Also set zfs_arc_min to at least 1 GiB to prevent collapsing of ARC and zfs_arc_meta_limit - if things haven't changed default for meta is 1/4 , I've set it to 1/3

Please post output of /proc/spl/kstat/zfs/arcstats when this is happening.

That's roughly 600 MiB of swap used - to raise efficiency of s

[2015-08-13 13:32] n-other commented on #3670
Hi, after few tests I can state that the problem with file deletion is somewhere around xattr processing:

i've created few additional datasets on the the pool, here is current xattrs:

NAME                 PROPERTY  VALUE  SOURCE
msapool              xattr     on     local
msapool/brick01      xattr     on     local
msapool/brick02      xattr     sa     local
msapool/testbrick01  xattr     on

[2015-08-13 13:58] dweeezil commented on #3677
If ARC collapse is the problem, you might want to try dweeezil/spl@08807f8.

[2015-08-13 13:59] dweeezil commented on #3680
I've added a couple more sources of freeable memory in dweeezil/spl@08807f8 (https://github.com/dweeezil/spl/tree/freemem branch).

[2015-08-13 14:14] kernelOfTruth commented on #3680
@dweeezil what makes you believe that ?

if it compiles with ABD, I'll give it a try, thanks !

[2015-08-13 14:53] dweeezil commented on #3680
@kernelOfTruth Under ABD, we'd like to exclude ABD's own reclaimable pages from the ```freemem``` calculation if they are accounted for in ```global_page_state(NR_INACTIVE_FILE)```.

[2015-08-13 17:16] eolson78 commented on #3668
@angstymeat  any ideas what commits you think are in that repo that are helping you here vs what you were running. I am hitting this exact same issue and would love a fix.

[2015-08-13 17:31] gbkersey commented on #3677
I have made the changes to the zfs_arc parameters....
zfs_arc_max=0x199999999  (0.4*16G)
zfs_arc_min=0x40000000     (1G)

I really don't think I need to use zswap.  The problem is arc_adapt fighting with kswapd and really any memory being used by arc should not be swapped.

I'll see how the backup run goes tonight.

[2015-08-13 17:48] gdevenyi commented on #3297
@smaurin I had a similar problem, do you have multipath-tools-boot installed? This adds multipath to the initramfs very early to get the disks setup.

[2015-08-13 22:38] siebenmann commented on #3680
@dweeezil Also, including NR_SLAB_RECLAIMABLE only works (to the extent that it works) due to #3679. Including it may be overly aggressive in general. Sadly, all of this smells a little bit of heuristics.

[2015-08-14 02:05] dswartz commented on #3497
Link is hosed?

"kernelOfTruth aka. kOT, Gentoo user" <notifications@github.com> wrote:

[2015-08-14 02:08] kernelOfTruth commented on #3497
@dswartz worked for me, might have been a browser issue - better now ?

[2015-08-14 02:34] dswartz commented on #3497
Fails consistently with 500 server configuration error on my kindle.  Maybe the site is not handling mobile browsers right?  I am in the road ATM so I can't really check now...

"kernelOfTruth aka. kOT, Gentoo user" <notifications@github.com> wrote:

[2015-08-14 18:24] gbkersey commented on #3677
Here's what I'm seeing when the crash starts.....

    time  read  miss  miss%  dmis  dm%  pmis  pm%  mmis  mm%  arcsz     c
13:22:55    13     0      4     0    4     0    0     0    0   8.7G  6.4G
13:23:00  7.1K   225      3   225    3     0    0     2   29   8.8G  6.4G
13:23:05  4.2K   132      3   132    3     0    0     1   30   8.8G  6.4G
13:23:10  6.6K   210      3   210    3     0    0

[2015-08-15 15:21] gbkersey commented on #3677
Argh...  Again....
Still have zfs_arc_max set to 6.4GB...  arcsz is 10GB?
[code]

[code]

[2015-08-15 16:40] dweeezil commented on #3677
@gbkersey You've got a NUMA system.  Try cherry-picking 90947b2.

[2015-08-15 16:53] gbkersey commented on #3677
@dweeezil I'll take a look at that, thanks.

[2015-08-16 07:19] ioquatix commented on #816
For some reason this is an issue for me.. `cd` and other commands fail on snapshots.. funnily enough it's to do with Minecraft too:

[code]

Not sure if this issue has regressed or if it's a new issue..

I was just trying to do an strace and got a kernel panic.. See the attached image.

[2015-08-16 07:31] ioquatix commented on #816
Here is the kernel panic.. running

![img_5281](https://cloud.githubusercontent.com/assets/30030/9292430/8e915d6a-444c-11e5-9f57-acef5fe93750.JPG)

[2015-08-17 06:24] sempervictus opened #3684 "Large KMem Allocation When Using ZVOL on RAIDZ2 atop an LSI 1078 (MegaRAID 8888ELP)"
Doing a bit of testing on a new storage system, and seem to be able to consistently reproduce a large allocation notice in dmesg:

[code]

The patch stack in question starts with DeHackEd's bleedingedge2 and consists of:
[code]
Figure this may be of interest to anyone running a similar stack of maintaining the included changes. System seems to run just fine, though i have observed ARC dip to almos

[2015-08-17 10:50] n-other opened #3686 "uneven io distribution"
Hi,

while resolving this issue https://github.com/zfsonlinux/zfs/issues/3670 i've created additional dataset in the pool and started to copy with rsync data from old dataset to new dataset within the same pool.

the issue I see - there is extra load on the first five raidz-sets, while others are getting much less hit. here is iostat output from the pool.

[code]

[2015-08-17 18:48] zhro opened #3687 "Recurring ZFS deadlock; zfs_iput_taskq stuck at 100% for minutes"
I have a recurring problem with ZFS on my server where the system crawls and/or deadlocks when attempting to interact with ZFS volumes. For example, I cannot read or execute scripts from these disks but directory navigation and file listing works (albeit slowly).

Sometimes the lockups get so bad that even the ssh sessions start timing out. It's not limited to the network interface as I sometimes

[2015-08-17 23:41] ioquatix commented on #816
@behlendorf Sorry man just bumping this in case you didn't see it.

[2015-08-18 00:16] drescherjm commented on #816
That kernel panic is a duplicate. I saw that months ago and reported it.

[2015-08-18 00:17] ioquatix commented on #816
@drescherjm perhaps you can link to the other issue?

[2015-08-18 00:28] drescherjm commented on #816
#3257

[2015-08-18 01:11] ioquatix commented on #3257
+1 had this issue.

[2015-08-18 05:09] sempervictus commented on #3684
This is starting to look pretty grave. Happens on master, on DeHackEd's bleeding edge 2 branch, and all of our builds since start of July. Any chance that this could be caused by the pool consisting of a set of RAID0 individual disk volumes comprising the RAIDZ2? The MegaRAID 8888ELP backing this setup doesnt actually do JBOD far as i can tell (and LSI's download sites being gone isn't helping mat

[2015-08-18 07:38] sempervictus commented on #3684
It gets more interesting by the minute: the pool now refuses to import altogether throwing the following in dmesg and hanging zpool import:
[code]

[2015-08-18 09:38] micw commented on #1350
I wonder a bit because on my debian wheezy box zfs recv shows:

    usage:
        receive [-vnFu] [-d | -e] [-o <property>] ... [-x <property>] ... [-l <filesystem|volume>] ...  <filesystem|volume|snapshot>

    For the property list, run: zfs set|get

So I expected that was already included. Today I set up a new box with debian jessie (official zfs build as well, same version: 0.6.4) - and there

[2015-08-18 09:45] FransUrbo commented on #1350
Are you using my debs on that machine? I included the #1867 pull
request in those.

What version exactly? Because it should have been included in
the Jessie packages as well.

[2015-08-18 10:13] micw commented on #1350
Wheezy: zfsutils 0.6.4-1.1-1-wheezy
Jessie: zfsutils 0.6.4-1.2-1

[2015-08-18 10:28] FransUrbo commented on #1350
Hmm, that's weird. I have to investigate this. The packaging should be the same,  as should the pull requests etc being applied.

[2015-08-18 13:13] abuschmann opened #3689 "CentOS 7.1: importing pool with special zil device fails"
I have set up zfs on a Supermicro 2027R-AR24NV running CentOS 7.1

I am trying to use zfs with the zil device on NVDIMM, which uses a special block driver.
(The device is effectively a non volatile ramdisk.)
`zfs import` fails with a corrupt log device.

I have not problems when running the zil on a normal disk.

<pre># uname -a
Linux sierra.sasys-int.de 3.10.0-229.7.2.el7.x86_64 #1 SMP Tue Jun 23

[2015-08-18 16:11] kpande commented on #2772
:+1:

[2015-08-18 17:34] kernelOfTruth commented on #2772
@kpande it also affects ZFS ?

for my kind of workflow there in general wasn't much data reported to be merged: 10-200 MiB or with lots of firefox,  chromium tabs and PDF files some more

[2015-08-18 17:41] kpande commented on #2772
for me with 2GB of ram is invaluable to compress even just 500MB of pages.

[2015-08-18 18:16] kernelOfTruth commented on #2772
Agreed :)

[2015-08-18 18:21] behlendorf commented on #3370
There error code is ENXIO (6) which would suggest that a device was missing from the pool.  Is it possible the device names changed are were inconsistent with the cache file?  That could explain why removing and cache file and rescanning for all the devices fixed the issue.

Regardless, this shouldn't have been fatal.  We should have simply returned the error here so the user gets a sane error abo

[2015-08-18 18:31] behlendorf commented on #2869
@tuxoko agreed that would be a reasonable way to handle this.  Have patch, will apply.

[2015-08-18 18:57] dringdahl commented on #3370
No, no devices were missing. It is a single monolithic device for reasons I won't go into. I know that is sub-optimal for zfs. In any case, the device was available without any issues. Importing using the cache failed but importing manually succeeded.

[2015-08-18 18:58] dringdahl commented on #3370
I can also confirm that the device name was consistent.

[2015-08-18 20:02] behlendorf commented on #3658
As a quick workaround you can set `zfs_no_scrub_io=1` at module load time to disable the scrub IO.  Then once the pools imported cancel the scrub.

I agree an option to `zpool import` would be better.  The way to do it would be to pass the command line option to `zfs_ioc_pool_import()` using the flags stored in the `zfs_cmd_t->zv_cookie`.  Take a look at the existing ZFS_IMPORT_* flags to see how

[2015-08-18 20:09] behlendorf commented on #3682
@ab-oe does the proposed fix in #3659 resolve the issue?

[2015-08-18 20:58] behlendorf commented on #3659
@arturpzol thanks for the workaround.  To be clear, your patch resolves the issue by disabling blkid so it doesn't automatically run on zvols.  That's probably not what we want the default behavior to be but I can see it definitely being useful when you have a lot of volumes.

I was thinking another solution to this issue might be to have ZFS automatically prefetch the first and last blocks for th

[2015-08-18 22:41] wrouesnel commented on #3677
I just upgraded my system to 3.19 and the latest zfs daily and seem to be having a similar problem - about 20 mins after boot (while tracker is starting up inotify watches on my home directory) arc_adapt will suddenly shoot to 100% cpu usage and my desktop will become.e unresponsive (though the mouse will still move). Switching to a TTY s nigh impossible though as the shell doesn't appear after a

[2015-08-18 22:47] behlendorf commented on #3662
@abuschmann thanks for posting this.  Can you open a pull request against master with the proposed patch.  That way we won't loose track of it and can get it reviewed and merged.  This looks like a reasonable approach to me but let's run it by @nedbass and get his input.

[2015-08-18 22:51] behlendorf commented on #3664
@sempervictus I haven't seen anything like this before and there's nothing ZFS related in the posted stack to go on.

[2015-08-18 23:04] behlendorf commented on #3679
Thanks for pointing this out.  As we shift more fully on to the Linux interfaces we should definitely find a way to take advantage of this.

[2015-08-18 23:23] behlendorf commented on #3680
At the moment ABD isn't integrated with the page cache (it's a first step) but once it is we'll need to revisit this.  As for this being a heuristic that's definitely the cache.  But FWIW the entire Linux VM is just a collection of evolved heuristics that happen to work well for many workloads.  @dweeezil's proposed patch looks like a very sensible way to handle this case for now.  Let me run in t

[2015-08-18 23:47] #3671 closed

[2015-08-19 00:56] nedbass commented on #3662
@abuschmann can you do some cable-pull or drive-pull testing with this?  Some device identifiers get incremented when a device disappears and comes back, so they aren't reliable for uniquely identifying the physical location of a drive.

[2015-08-19 01:03] DeHackEd commented on #3666
I thought 5dc8b7365ff1932bfd969bc71cd49db9b3a6dc87 was supposed to fix this. Are you running the latest Git head?

[2015-08-19 01:08] DeHackEd commented on #3665
Yes the shell is causing a bit of trouble there. For reference, # is a shell metacharacter for "comment" so your first test actually never named a bookmark. From the tool's standpoint, the error of missing arguments is correct.

<pre># zfs bookmark atmaweapon/home@2015-08-18 \#2015-08-18
cannot create bookmark '#2015-08-18': invalid argument
</pre>
It would be nice if this syntax was supported tho

[2015-08-19 02:21] fearedbliss commented on #3665
Renaming a snapshot defeats the purpose of the bookmark though since the
difference between. The bookmark and the snapshot is that the snapshot
actually holds data while the bookmark is just a reference in time that you
can use a point to do a send/recv.

On Tue, Aug 18, 2015, 21:08 DeHackEd <notifications@github.com> wrote:

[2015-08-19 02:21] fearedbliss commented on #3666
Nope. I only run the latest released version (0.4.2-r2)

On Tue, Aug 18, 2015, 21:03 DeHackEd <notifications@github.com> wrote:

[2015-08-19 08:18] tobia commented on #2680
I'm getting the same exact message, installing current releases (as of this date) onto Debian Wheezy.

Here are the requested commands and their output. The solution does not seem to work, it gives the same error message:

	# ls -l /etc/init.d/zfs-mount
	-rwxr-xr-x 1 root root 5870 Jun 27 15:04 /etc/init.d/zfs-mount

	# grep update-rc /var/lib/dpkg/info/zfsutils.*inst*
	/var/lib/dpkg/info/zfsutils

[2015-08-19 09:18] FransUrbo commented on #2680
I'm stumped! No idea why that's happening and I can't see anything obvious either.

From the size of the file, I see that this is from the "released" packages (not "dailies"). Those have been working for years and I've never seen any problem with them before. I haven't changed anything in that area that I know of either…

What does the following command reveal?

	ls -l $(find /etc/rc?.d -name '*zf

[2015-08-19 09:29] tobia commented on #2680
I have also installed the released packages on other Debian Wheezy servers in the past, so I don't know what's going on.

This is a new installation over a newly installed server. It has the Proxmox PVE packages and kernel installed, so it's not pure Debian Wheezy, but then again this is a kind of installation I have done several times in the past, without this bug. Maybe they have changed somethi

[2015-08-19 09:51] FransUrbo commented on #2680
Maybe, but I find that doubtful. The problem here seems to be update-rc.d, and unless they messed with that specifically (or insserv), I can't see how their packages would clash with mine and give this problem.

Ok, I kind'a expected that, but just to be sure…

Because of the error:

and the header of the zfs-mount script:

	### BEGIN INIT INFO
	# Provides:       zvol zfs zfs-mount
	# Required-Sta

[2015-08-19 11:17] kernelOfTruth opened #3692 "[Linux Kernel, GPL-only] mm: Change global memory state symbols to GPL-only"
Could the following change be of concern (in case spl or some part of zfs rely on it) ?

http://marc.info/?l=linux-kernel&m=143968216905052&w=2

[code]

[2015-08-19 12:14] TioNisla commented on #3257
spl-8ac6ffecaf
zfs-9d4f86e825
[code]
and panic after few minutes

[2015-08-19 13:53] abuschmann commented on #3662
@behlendorf
I have created a pull request: #3693

@nedbass
I am not sure which output you need.
I have pulled disk01 and disk13:
<pre>
ls -l /dev/disk/by-vdev/ >/var/tmp/ls-vor-platte-ziehen
lsblk >> /var/tmp/ls-vor-platte-ziehen
cat /proc/scsi/scsi >>/var/tmp/ls-vor-platte-ziehen</pre>

pull disk01

<pre>
ls -l /dev/disk/by-vdev/ >/var/tmp/ls-platte-01-gezogen
lsblk >> /var/tmp/ls-platte-01-gezog

[2015-08-19 16:29] #3680 closed

[2015-08-19 16:30] behlendorf commented on #3680
Thanks guys, I've merged the fix.

[2015-08-19 16:58] behlendorf commented on #3681
@bprotopopov what about changing the mutex to a rwlock.  The `zvol_state_lock` is there to primarily protect against addition and removal from the list.  For places like `zvol_rename_minors` where the list is just traversed it would be safe to use a read lock.  A proper mutex to lock the individual `zvol_state_t` member during modification would probably be a good idea as well.

[2015-08-19 17:06] behlendorf commented on #3683
Closing as duplicate of #3030.

[2015-08-19 17:06] #3683 closed

[2015-08-19 17:13] nedbass commented on #3662
@abuschmann what I want to know is whether the drives come back with the expected names in `/dev/disk/by-vdev` after being removed and re-inserted.  Same for disconnecting and reconnecting the cable for the SAS expander.

[2015-08-19 17:25] behlendorf commented on #3678
Yes, it definitely does sound like there some kind of race here but after a brief inspection it's not obvious.  Clearly one of these fields was NULL, but an offset of 0x50 doesn't make sense for any of the members.  We'll need to dig deeper.

[2015-08-19 17:35] behlendorf commented on #3686
@n-other did the load even out over time?  I notice your pool is very full which always complicates allocation policy.

[2015-08-19 17:39] kernelOfTruth commented on #3680
@dweeezil I've been running your fix with ABD for some time now and observed no issues

Thanks

[2015-08-19 17:42] behlendorf commented on #3668
@angstymeat @eolson78 it looks like you're having a similar ARC collapse issue as described in #3680.  The fix for this proposed by @dweeezil was [merged to master](https://github.com/zfsonlinux/spl/commit/851a549305ad9001e7a6dfbf735f501b286e9d08) this morning.  If you could pull the latest masters source and verify it resolves the issue that would be helpful.

[2015-08-19 17:43] behlendorf commented on #3676
Closing as duplicated of #3655.

[2015-08-19 17:43] #3676 closed

[2015-08-19 18:38] behlendorf commented on #3684
@sempervictus do you determine this was in fact related to #3651?

[2015-08-19 19:10] behlendorf commented on #3689
@abuschmann if the arxcis device doesn't support partitions that could cause a problem like your seeing.  As you noticed by default ZFS wants to create an EFI partition table on the device.  You could try manually partitioning the device and creating a DOS-type partition table and then using that for the log device.

[2015-08-19 19:40] Pentium100MHz commented on #3678
It's somewhere that is running all the time though, since once that happens (the error message), zvols cannot be created, destroyed or opened. That is, if a process (virtual machine in my case) was accessing a zvol it continues to be able to access it, but starting new VMs, stopping VMs or even running dd to/from a zvol gets stuck in D state. This continues until I hard reboot the server (running

[2015-08-19 20:03] angstymeat commented on #3668
Thanks, I will give it a try when I can reboot next (might be a day or so). I'm in the process of verifying a 5.2TB send stream in preparation of recreating my pool with new hard drives.

In the meantime, DeHackEd's bleeding-edge2 ABD branch has been working very well.

[2015-08-19 20:31] behlendorf commented on #3692
Thanks for pointing me to this thread.  Yes this potentially of major concern to us.  We've been trying to shift away from the shrinker anyway but this may speed that up.

[2015-08-19 21:06] #2279 closed

[2015-08-19 21:26] sempervictus commented on #3692
Seems an unnecessary spoke in the wheel of anyone writing kernel code/drivers. Wonder what the motivation for this is.

@behlendorf: How _do_ you implement a separate memory reclamation scheme anyway?

[2015-08-19 21:29] sempervictus commented on #3684
Testing that host is a bit of a problem right now - i've had to switch the system back to running the native RAID6 for the time being, and its booting directly from PXE through Fuel to test OpenStack.

I've built out an identical patch stack sans #3651 and am testing it presently on a system which only has mirrored VDEVs (a 5 mirror span). However, under significant IO load, it has shown none of t

[2015-08-19 21:33] angstymeat commented on #3668
My system blew-up with ```txg_sync``` and ```txg_quiesce``` taking up a ton of cpu, and a bunch of frozen rsync processes, so I rebooted and I'm trying out the new commits now.

[2015-08-19 21:33] behlendorf commented on #3692
@sempervictus for a filesystem the right way has always been to rely on notifications through the page cache.

[2015-08-19 21:35] #3370 closed

[2015-08-19 21:36] behlendorf commented on #3370
@dringdahl then I'm not sure what happened here.  I've merged the fix to master which will at least make sure this case is no longer fatal.

[2015-08-19 23:06] angstymeat commented on #3668
I was running for about an hour and then I noticed that ```zswapd0``` and ```zswapd1``` were taking up a lot of CPU (between 80% and 120%) each. I saw that my ```pigz``` which usually runs around 700% was down around 35%. Around then I saw that my ```zfs send``` was stuck.

```vmstat``` show nothing being swapped in or out.

I rebooted and I'm trying again.

[2015-08-19 23:24] jsalinasintel opened #3694 "Simulated EIO errors cause application to abort"
This test was originally intented to trigger ZED.  However, it was not expected that the user applications would see errors and abort.

Here is the software versions (built from Master yesterday):
zfs-0.6.4-184_g6bec435.el6.x86_64
zfs-debuginfo-0.6.4-184_g6bec435.el6.x86_64
libzfs2-devel-0.6.4-184_g6bec435.el6.x86_64
zfs-test-0.6.4-184_g6bec435.el6.x86_64
libzfs2-0.6.4-184_g6bec435.el6.x86_64
zfs-

[2015-08-19 23:45] behlendorf commented on #3694
@jsalinasintel it looks to me like the iozone failure wasn't caused by the IO errors.  It failed because the pool ran out of free space, `write: No space left on device`.

[code]

Also just for future reference you can use tripple-backticks ``` before and after large blocks of text when you don't want them to be formatted as markdown.

[2015-08-19 23:47] jsalinasintel opened #3695 "After simulated EIO ZED does not appear to bring spare online"
Please let me know if my process if flaws to have ZED bring a spare drive online.  This test was designed to simulate EIO errors that ZED would detect and act upon.  The detection appears to be working but no action such as downing the drive and bringing the spare online appeared to happen.

[code]

[code]

[code]

[code]

[code]

zpool create -f diskerrors raidz /dev/dm-0 /dev/dm-4 /dev/dm-2 /dev

[2015-08-19 23:51] jsalinasintel commented on #3694
Thank you on both counts.  I thought I adjusted the space for this but I failed to do so.  Writing 2 1GB files on a 1.4GB zpool is probably not going to work ...

[2015-08-19 23:51] #3694 closed

[2015-08-19 23:59] angstymeat commented on #3668
Got the system to slow down to a crawl in about 20 minutes. I was running a ```zfs send``` piped into ```pigz``` for compression, and I started up my nightly rsync backups at the same time. As soon as memory filled, my send speed dropped from around 50MB/s down to 4MB/s with ```arc_reclaim``` running at 99%. I let it run like this for a while and it didn't appear that ```arc_reclaim``` was making

[2015-08-20 00:22] behlendorf commented on #3668
@angstymeat did you make sure to update the SPL code as well?  That's where the fix was.  Also your previous data showed that the ARC size has collapsed.  Is that still the case?

[2015-08-20 01:10] n-other commented on #3686
@behlendorf it did. rsync copy lasts for the last 6 days. first 4 days I observed the same as above distribution, however for the last 2 days it looks like this:

zpool iostat -v|grep raid
  raidz1                                     7.18T  74.0G     41     45  4.90M  4.40M
  raidz1                                     7.18T  74.1G     43     47  5.08M  4.56M
  raidz1

[2015-08-20 01:55] angstymeat commented on #3668
Yes, I always recompile SPL along with ZFS even when it hasn't changed. It's currently version ```0.6.4-19_g851a549```.

I forgot about the arc collapse; I was looking more for iowait state freezes.

Looking at it, I'm not seeing a sudden collapse although my arc is currently just 388MB in size. I'm now trying the same job that I was running when I originally experienced the issue. The arc is curr

[2015-08-20 02:48] angstymeat commented on #3668
Ok, when I posted this issue the arc collapsed in about 20 minutes. I've been running this for about 45 minutes and my arc is still full.

I'm going to let it run overnight since I was able to grind the system to a halt within 9 hours of starting the send in my previous attempts.

[2015-08-20 07:00] ki82 opened #3697 "arc_adapt makes cpu load go 150+"
We have a server which cpu load spins up to above 150 during around 5-10 and then goes back to normal load around 3. When this happen we can se that there is alot of arc processing so we think that it is related. It most often happen after/during we have rsynced the entire content of the zfs dataset to another server. It could also be related to when we destroy zfs snapshot using zfs-auto-snapshot

[2015-08-20 07:06] ki82 commented on #3697
Let me know if there is any other information that you need.

[2015-08-20 07:11] ki82 commented on #3697
Adding sponsoring of 200$ here for this issue: https://freedomsponsors.org/issue/733/arc_adapt-makes-cpu-load-go-150

[2015-08-20 08:27] ki82 commented on #3697
Now it happen again:
load average: **404.80, 237.41, 124.09**

[2015-08-20 10:22] abuschmann commented on #3662
@nedbass the drives came back with the expected names in `/dev/disk/by-vdev` after I reinserted them in the oder disk01, disk13.

I ran a `dd of=/dev/null if=dNN` on each disk to see that they light up in the right order. (from a physical point of view in front of the system.)

<pre>ls -l /dev/disk/by-vdev/ >/var/tmp/ls-nach-platte-stecken
lsblk >>/var/tmp/ls-nach-platte-stecken
cat /proc/scsi/scs

[2015-08-20 11:55] mrqwer88 opened #3698 "After disk change old disk stayed in zpool and replacing-0"
Hello!

On storage Centos 6 and zfs-0.6.4.2-1.el6.x86_64
[code]
[code]

After disk change we start replase as usual -
[code]

But after resilvered it degraded yet -
[code]
(old disk scsi-3600605b009beb5d01c8f52ab129bbd43 was unavail at first - in offline I set it manual, when try delete it after resivered ended).

I try scrub it, clean and export/import pool, but without any good effect.

Have you

[2015-08-20 15:10] abuschmann commented on #3689
I can and have put GPT partitions on the arxcis device. It didn't help.
Currently I am fighting `udevadm` to create symlinks to the partitions in `/dev/disk/by-id/`.
`/dev/arxcis_b0p1` and `/dev/arxcis_b0p9` are there.
...
I got a config file for udevadm which gives me `/dev/disk/by-id/arxcis_b0-part1` and `/dev/disk/by-id/arxcis_b0-part9` . It doesn't help.
...
I tried to use a partition: `arxcis

[2015-08-20 17:03] Gregy opened #3699 "Accidental creation of volume with the same name as zpool -> zpool trashed"
Hi,
I got myself into interesting situation. I managed to create zvol with the same name as my zpool by forgeting the '-d' switch on zfs receive. Like so:

[code]

After this operation the zpool mainStorage on 192.168.11.9 (which was originally empty) looks like this:

[code]

Problem is that a lot of commands do not work now:

[code]

The only way out I found, was to overwrite disks with zeroes a

[2015-08-20 20:03] angstymeat commented on #3668
Ok, it's been running for over 20 hours without an issue.

[2015-08-20 21:51] dasjoe commented on #3698
The replaced disks can get stuck sometimes, yes.
`zpool detach data scsi-3600605b009beb5d01c8f52ab129bbd43` should work.

[2015-08-21 07:22] mrqwer88 commented on #3698
Yes - zpool detach work.
Now it look good -
[code]
sd 1:2:19:0: [sdt]  Result: hostbyte=DID_BAD_TARGET driverbyte=DRIVER_OK
sd 1:2:19:0: [sdt] CDB: Read(16): 88 00 00 00 00 01 27 23 af b0 00 00 01 00 00 00
__ratelimit: 53 callbacks suppressed
end_request: I/O error, dev sdt, sector 4951617456
sd 1:2:19:0: [sdt]  Result: hostbyte=DID_BAD_TARGET driverbyte=DRIVER_OK
sd 1:2:19:0: [sdt] CDB: Read(16):

[2015-08-21 18:15] trisk commented on #3159
These are the SPL-side changes right now: https://github.com/mistifyio/spl/tree/datasetns

[2015-08-21 21:41] adilger commented on #264
The most recent (but as yet unlanded) patches for handling compressed extents in FIEMAP are at https://lwn.net/Articles/607552/ and http://thread.gmane.org/gmane.comp.file-systems.btrfs/37312

[2015-08-22 03:44] ryao commented on #494
Here are some more documents that might be useful:

http://docs.oracle.com/cd/E23824_01/html/821-1462/zfs-encrypt-1m.html
http://docs.oracle.com/cd/E26502_01/html/E29007/gkkih.html
http://www.oracle.com/technetwork/articles/servers-storage-admin/solaris-zfs-encryption-2242161.html
http://wenku.baidu.com/view/52a44c24a5e9856a5612609b.html

[2015-08-22 04:45] ryao commented on #494
Some discussion of full disk encryption in #gentoo-dev on freenode lead me to poke around. I wrote an outline of the disk format changes mostly via header changes here:

https://github.com/ryao/zfs/commit/c63b98a22a3e16e1ad8ebdb39d1f9833d64ade92

I included the hidden "salt" property there, which I found from reading the GRUB2 code. The keystatus, mounted, rekeydate, encryption, keysource properti

[2015-08-22 05:57] ryao commented on #494
The Linux encryption API is GPL-exported, so we cannot use it without having a fairly unpleasant conversation about whether the GPL-exported symbol restriction is correct. The OpenBSD/FreeBSD AES code is "public domain". We do not have the rights to public domain code in jurisdictions that do not recognize public domain, such as France, so we cannot use that either. The OpenSSL AES code is under t

[2015-08-23 06:04] kernelOfTruth opened #3700 "Large kmem_alloc(40960, 0x1000), please file an issue"
[code]

this happens during start of

/etc/init.d/zfs-import

and loading of the (kernel) modules

[2015-08-23 06:06] kernelOfTruth opened #3701 "INFO: possible recursive locking detected, arc_reclaim"
[code]

kernel was loaded with threadirqs

and built with

[code]

and a special variant of BFS (cpu scheduler), VRQ 0.5

[2015-08-23 12:45] dweeezil commented on #3701
ZoL is not yet compatible with ```CONFIG_PROVE_LOCKING```.  Nested locks need to be annotated properly.  See zfsonlinux/spl@79a0056 for a helper function which was added awhile ago to help and also https://github.com/torvalds/linux/blob/master/Documentation/locking/lockdep-design.txt#L130.

[2015-08-23 12:46] dweeezil commented on #3700
Likely due to lockdep and/or other kernel options which have expanded the sizes of various structures.

[2015-08-24 04:51] ryao commented on #494
To elaborate on my previous comment, implementing this would require porting the Illumos kernel cryptographic library to a Linux kernel module so that we can include the sys/crypto/api.h header:

https://github.com/illumos/illumos-gate/blob/master/usr/src/uts/common/sys/crypto/api.h

That code is also able to be built in userland, which we would need to preserve so that zdb and ztest would be able

[2015-08-24 05:14] lundman commented on #494
The code I did to help rogue, which is only in SPL, does the first step to implementing IllumOS crypto API in Linux kernel. It can be whatever license you prefer, since I wrote it. Although I remember at the time, the Linux crypto call for scatterwalk was wrong, so I had to copy in the linux source files, just to comment out a couple of calls. The `ZFS_COPYDST` comments can be ignored, as having o

[2015-08-24 05:20] ryao commented on #494
@lundman The Gentoo licensing team has instructed me to avoid touching that code. It cannot be reused without forcing me to fork ZoL in Gentoo to satisfy the licensing team.

That said, I have some ideas for a step beyond v30 encryption. In specific, trusted boot. The idea would be to PGP sign each uberblock entry and ZIL block with public/private key cryptography. The key pair would be stored enc

[2015-08-24 05:27] lundman commented on #494
spl-crypto.c I wrote, so it can have whatever license you, or Gentoo, wants. As for the ccm.c, gcm.c and ctr.c, those were copies from Linux at the time. A test should be done to see if linux fixed those problems I encountered, but even if they have not, fresh files can be copied. Those exact files are not needed. The header files are from IllumOS github.

[2015-08-24 05:29] ryao commented on #494
@lundman The Gentoo licensing team explicitly told me that we cannot use spl-crypto.c because it was written against the leaked encryption code. I am not allowed to look at it according to them. It violates the notion of doing clean room reverse-engineering.

[2015-08-24 05:39] lundman commented on #494
No, spl-crypto has nothing to do with leaked encryption code. I wanted to be able to call IllumOS crypto API from ZOL. That required implementing `crypto_mech2id()` and so on. But ultimately, Linux will do whatever Linux wants, even if it doesn't make sense. Good luck.

[2015-08-24 05:49] AndCycle commented on #3094
arh, got, hit by space map refcount mismatch too,
even a fresh send/recv pool that done 1 month a go got this,
using 0.6.4.2,

I have 3 pool over my system,

main root is a single disk ssd zfs,
which doesn't effect by this,

but the other two using raidz1 raidz2 have this symptom,
wonder is this related.

[2015-08-24 06:10] ryao commented on #494
@lundman Does that code use GPL-exported symbols?

Also, WRT to encryption support, we should probably zero memory containing encryption keys during the shutdown process to provide some protection against cold boot attacks.

[2015-08-24 13:54] ab-oe commented on #3682
@behlendorf unfortunately no. Zvol creation is still very slow. I can't see any difference with or without the patch.

[2015-08-24 16:44] behlendorf commented on #3697
@ki82 it definitely looks like contention in the virtual memory subsystem caused by the arc attempting to reclaim memory.  Significant work has already been done in this area and will appear in the 0.6.5 tag.  Additional work to remove this contention point is in pull request #3441 and will be merged after the 0.6.5 tag.  As for a quick fix you could try restricting the maximum ARC size (zfs_arc_m

[2015-08-24 16:55] behlendorf commented on #3662
@abuschmann thanks for the follow up.  Aside from a minor typo in the patch this looks good to me.

[2015-08-24 17:02] behlendorf commented on #3699
I'm surprised it let you do that!  I would have through the `zfs recv` would fail, we'll need to add a check to prevent this.  In the meanwhile I'd try to fix your pool by importing it with a different name to avoid the conflict.  You can do this with `zpool import old-pool-name new-pool-name`.  Once you sort it out and rename/destroy the offending zvol you can export/import the pool to restore th

[2015-08-24 17:04] behlendorf commented on #3668
@angstymeat what's the status of this issue?  Has the initial issue been resolved by the latest code?  Are there other issues here?

[2015-08-24 17:05] Gregy commented on #3699
Thank you for the tip with import/export. It is not necessary for me. It was testing pool so I just scrapped it but it sure can be useful for someone else.

[2015-08-24 17:07] behlendorf commented on #3698
Closing.  This looks like a matter of just documenting the behavior.  Glad you managed to sort it out!

[2015-08-24 17:07] #3698 closed

[2015-08-24 17:20] #3511 closed

[2015-08-24 17:20] #3640 closed

[2015-08-24 17:26] behlendorf commented on #3701
@dweeezil this reminds me, do you have any related patches which needs to be merged to ensure lock profiling works properly?  As long as they're non-disruptive it would be nice to get them in the tree.

[2015-08-24 17:28] behlendorf commented on #3700
@kernelOfTruth presumably this only happens on a debug kernel build?

[2015-08-24 18:48] behlendorf commented on #3612
Closing.  This was resolved by #3651 which was merged to master.

[2015-08-24 18:48] #3612 closed

[2015-08-24 20:13] kernelOfTruth commented on #3700
@dweeezil yes, probably

@behlendorf indeed, I added

[code]

to the kernel to diagnose a scheduler problem and got this issue

and https://github.com/zfsonlinux/zfs/issues/3701 [INFO: possible recursive locking detected, arc_reclaim]

[2015-08-24 21:38] angstymeat commented on #3668
It's been running with this commit just fine. No issues with the arc collapsing.

I don't want to muddy the issue, but it looks like there's a lot more ```kswapd0``` activity, but that's probably because this patch looks to more sources of free memory than before. I don't have any hard numbers, but it seems that performance drops off more when ```kswapd0``` and ```arc_reclaim``` are running here t

[2015-08-24 22:13] behlendorf commented on #3668
@angstymeat yes I think that's to be expected.  ABD should enable significant additional improvements when it gets merged after the tag.  I'm glad we got this sorted out, closing this issue.

[2015-08-24 22:13] #3668 closed

[2015-08-25 02:29] bprotopopov commented on #3681
@behlendorf I believe the zvol_first_open would then have to take the rwlock as a writer whereas the txg_sync_thread would take is as a reader, still resulting in the same deadlock, or am I missing something?

I have prototyped the asynchronous (in a taskq) zvol *minor* operations, and I think the code is much simplified as far as the analysis of the possible deadlocks. I also think with this appr

[2015-08-25 07:52] ki82 commented on #3697
@behlendorf Ok, I will try out 0.6.5 and later releases as soon as they are released and report back.
Could you recommend a good value for zfs_arc_max that would work as a quick-fix?

[2015-08-25 10:46] abuschmann commented on #3662
Thank you for integrating this.

[2015-08-25 15:43] behlendorf commented on #3681
@bprotopopov perhaps the race would be smaller but I think your right.  It would still exist.  I'm definitely not opposed to doing the minor creation asynchronously I was just tossing out another possible idea.  I'd love to see your patch for this once your happy with it.

In fact, what would be ideal is if you could build up a small patch stack with this change and your other zvol improvements.

[2015-08-25 15:46] beachbum314159 opened #3704 "Mount a snap of zpool ZFS volume on Solaris 11.2 fails with new version 35"
ZFS does not support mounting a snap on the same machine because the pool guid is the same as the original.  In the past I had a tool that would modify the pool guid in the beginning of the label, and then update the checksum in the most recent uberblock. This would allow the pool to be imported.

This no longer works in Solaris 11.2 with ZFS version 35, even if I create an older version of the po

[2015-08-25 16:34] sempervictus commented on #494
@ryao: given the information @lundman provided on the provenance of the SPL
components, is it feasible to push that back to the Gentoo licensing team
for re-evaluation? Given their job description, if they believe the code to
be tainted, its not too likely they themselves have read through it, or
done the requisite validations to ascertain that it was or was not built
atop "tainted" code.
100% wit

[2015-08-25 18:35] nedbass commented on #3662
The modified script tested OK for me. The changes look good to me. It's not clear to me whether the "lun" or "id" identifiers will be useful to anyone. I don't have a strong opinion on it, but if there's no clear use case I'd lean toward removing them.

[2015-08-25 19:10] dweeezil commented on #3701
@behlendorf It's something I definitely am interested in but I don't use lockdep much in my current large-scale testing due to the huge overhead it creates so this has percolated down my to-do list.

[2015-08-26 08:21] abuschmann commented on #3662
The background for the "lun" and "id" identifiers is to support the older passive SCSI disk arrays. They are only used in development any more, not in production.
(We still have some in production, but only on old multi role systems which are scheduled to be replaced, but where the new software is not yet done.)

[2015-08-26 16:38] behlendorf commented on #3701
@dweeezil OK, I just suspected you might already have patches for this since I know you've been working in this area.  No problem.

[2015-08-26 17:36] ronnyegner commented on #3704
Can you please explain what you are doing with snaps of the pool? Why dont use use the snapshots in the pool?

[2015-08-26 19:15] rjonasz opened #3706 "Mountall Fails to unlock zfs cache device"
During boot mountall can unlock zfs drives except for cache drives.  This was detected using Ubuntu 14.04 with 3 SAS drives forming root pool in raidz, 2 log SSD drives in mirror, and one SSD cache drive.  They are all encrypted with luks using cryptsetup.  5 of the 6 drives unlock.  The cache can be unlocked after boot and added to the pool.

[2015-08-26 20:06] beachbum314159 commented on #3704
Hi - thanks for commenting.  We need to run a backup of the filesystem.  So we run a hardware snapshot, mount it on the same machine, and can then run a backup of the hardware snap, while leaving the original filesystem in place and untouched.  We are very time constrained, and I believe the hardware supported snap runs faster than a ZFS filesystem level snap.

[2015-08-26 22:59] simonbuehler commented on #2831
@behlendorf trying to give it another shot with current git- can't remember though how i managed to get the traces enabled ?

[2015-08-26 23:54] prometheanfire commented on #3684
Think I can reproduce this as well 4.0.9 kernel with zfs/spl master as of 03/09/2015 (d/m/y).

https://gist.github.com/prometheanfire/c752422c35bf070b5f0c

[2015-08-26 23:56] prometheanfire commented on #3429
should this be combined with #3684

[2015-08-26 23:58] prometheanfire commented on #3615
should this be combined with #3684

[2015-08-27 09:00] alexanderhaensch commented on #3376
Now a different thing happens on the system.
Unfortunatly debug flags are disabled so i can only send perf top"

The situtation looks very similar to: #3697
perf top
  PerfTop:   57212 irqs/sec  kernel:99.6%  exact:  0.0% [4000Hz cycles],  (all, 24 CPUs)
-------------------------------------------------------------------------------------------------------------------------------------------------

[2015-08-27 09:04] alexanderhaensch commented on #3376
In the end access to ext4 partition was not possible anymore.

[2015-08-27 12:39] L-B opened #3707 "Using normalization=normKD, filenames become unusable if there is a conflict during their creation"
After creating a new dataset with the property normalization=formKD, if two files having the same normalized name are created at the same time, the second name becomes unusable.

See below for a demonstration using Roman numerals Ⅰ Ⅱ & Ⅲ, and their ASCII counterpart.

[code]

First, create two files one by one, it all works:

[code]

Create the two files together, they have the same normalization,

[2015-08-27 13:50] dasjoe commented on #3707
Possible duplicate of #3012

[2015-08-27 14:20] L-B commented on #3707
Yes indeed, I had missed that one when looking for «normalization»
So both files are actually created, but only the first is visible. Also, It lasts until the dataset is unmounted.
I guess it's much easier to trigger the issue with the KD form, since there are more equivalent forms.
[code]

[2015-08-27 14:21] Gregy opened #3708 "Cannot create zpool using links in /dev/disk/by-id"
ZFS refuses to create new pool using links in /dev/disk/by-id. Using device nodes directly in /dev/ works fine. See snippet:
[code]
Is there some way to make zpool create more verbose?

I am running debian jessie with zfsutils  0.6.4-1.2-1
[code]

Thank you

[2015-08-27 15:21] alexanderhaensch commented on #3687
a perf top could show the kernel tasks involved during the lock. Can you post some more information about the system?

[2015-08-27 18:32] gdevenyi commented on #3297
After further testing, I'm also experiencing this bug. It looks like zfs comes up before multipath, resulting in it importing via the raw disk interface instead of the multipath device.

[2015-08-27 19:41] ryao commented on #3708
Thanks for the bug report. For now, try using the short names, ata-ST2000VN0001-1SF174_Z4H047T6 and ata-ST2000VN0001-1SF174_Z4H033G5.

[2015-08-27 23:00] Zhro commented on #3687
The motherboard is a Supermicro H8DG6 with dual AMD 6328:

    Architecture:          x86_64
    CPU op-mode(s):        32-bit, 64-bit
    Byte Order:            Little Endian
    CPU(s):                16
    On-line CPU(s) list:   0-15
    Thread(s) per core:    2
    Core(s) per socket:    4
    Socket(s):             2
    NUMA node(s):          4
    Vendor ID:             AuthenticAMD
    CP

[2015-08-27 23:50] prometheanfire commented on #3700
I don't have any of the issues here and get the same backtrace, close in favor of 3700 ?

[2015-08-28 00:19] behlendorf commented on #3684
@sempervictus @prometheanfire could you please verify the patch in #3710 resolves the issue.

[2015-08-28 01:50] prometheanfire commented on #3684
done

[2015-08-28 02:43] behlendorf commented on #3700
This is a different issue which just occurs on debug kernels.

[2015-08-28 05:20] ronnyegner commented on #3704
That´s exactly the purpose of ZFS snapshots - to have a read consistent version of the file system. In terms of speed there should be no difference to your approach....  but it is much more straigh forward and easy.

[2015-08-28 06:59] lihui2090 opened #3711 "bulid 0.6.4.2 in debian 7.8 arch :i386, when system reboot I lose the data set and pool"
I  use  the zfs-0.6.4.2  and spl-0.6.4.2 to bulid in debian 7.8.
the kernel is  :Linux debian 3.2.0-4-686-pae #1 SMP Debian 3.2.68-1+deb7u3 i686 GNU/Linux
use kmod way to bulid
I create pool and dataset, but when i reboot the system ,the pool and dataset is losed.
Am i lose init config step or?
thanks very much .

another quesion is :
when i create pool,
zpool create newpool  raidz /dev/sdb /dev/s

[2015-08-28 08:04] rincebrain commented on #3704
You appear to be attempting to report a bug on Oracle Solaris against the unaffiliated ZFS on Linux github project.

This is unlikely to result in anything useful to you happening.

[2015-08-28 08:59] marku89 commented on #3677
Have you tried to remove the ssd devices ?
I have also problems with freezes.

[2015-08-28 09:20] fling- commented on #3711
What does `zpool import` say?

[2015-08-28 09:30] lihui2090 commented on #3711
I have get it ,thank you vevry much!
root@debian:/home/miniadmin# zpool import
   pool: newpool
     id: 9731241069697300937
  state: ONLINE
 action: The pool can be imported using its name or numeric identifier.
 config:

        newpool     ONLINE
          raidz1-0  ONLINE
            sdb     ONLINE
            sdc     ONLINE

root@debian:/home/miniadmin# zpool import newpool
root@debian:/home/

[2015-08-28 10:10] fling- commented on #3711
Don't use raidz1 with two disks. Add more disks or use mirror instead.

[2015-08-28 10:13] DeHackEd commented on #3711
Also note that 32 bit ZFS on Linux is not very well supported. You WILL see problems relating to memory management. Please upgrade your system to 64 bits if possible.

[2015-08-28 10:18] lihui2090 commented on #3711
I will test the mirror way ths very much .

I have use zfs in 64 bit system, but the company have a product is 32bit.
IFthe 32 bit zfs can run stabel long time?
ths very much.

[2015-08-28 10:21] fling- commented on #3711
You could use multilib and/or 32 bit lxc container.

[2015-08-28 10:26] arturpzol commented on #3659
@behlendorf I have performed a few tests but unfortunately killing zvol_id still occur. Should I change zvol_prefetch_bytes value to other?

[2015-08-28 13:44] gbkersey commented on #3677
Argh...  It died again....
Top showing arc_adapt and kswapd fighting....
[code]
arstats.py showint arcsz > c
[code]
Nothing much going on with the file system though....
[code]

[2015-08-28 14:28] beachbum314159 commented on #3704
rincebrain - I know - just trying multiple avenues trying to find someone who can help.
For various reasons, I need to mount a LUN snapshot containing a ZFS filesystem on the same machine. It can't be a ZFS snapshot.  Many other filesystems support this.

Something changed in the ZFS import in Oracle Solaris zpool version 35 - was hoping to find someone here that might have an idea. I can see the

[2015-08-28 14:39] ronnyegner commented on #3704
@beachbum314159: I still don´t understand why ZFS should support THIS particular use case. It is completely unnecessary. ZFS has snapshots. Mount them and backup from there. There is absolutely NO performance difference between a hardware snapshot copy and accessing the ZFS snapshot itself. In fact it is most likely faster because the cache is already warmed.

[2015-08-28 16:22] #3684 closed

[2015-08-28 16:34] #3591 closed

[2015-08-28 17:46] richardelling commented on #3704
ZFS is not only a filesystem, it is also a "volume manager" and it is the latter functionality
that requires uniqueness. In other words, the path to the device is irrelevant. The metadata
on the device is relevant. So if you have a "hardware clone" of the metadata, then it is not
possible to reconcile the two and ZFS will treat as one.

The way Sun/Oracle deals with this is to not expose the "hard

[2015-08-28 17:53] behlendorf commented on #3659
@arturpzol can you try increasing `zvol_prefetch_bytes`, that was just a best initial guess.  Can you tell if it helped any?

[2015-08-28 18:06] behlendorf commented on #2831
See the 0b39b9f96f1170523ad6e4a3e8319198a574de27 comment for how to enable tracepoints.  Really this information should be added to a developer focused webpage.

[2015-08-28 18:07] behlendorf commented on #3429
@prometheanfire yes, yes it should.  Thanks for noticing this one, this is a duplicate of #3684 and was resolved by commit c495fe2c1c6b1c63aefcd832e2e0eb0a20d4c4dc.

[2015-08-28 18:07] #3429 closed

[2015-08-28 18:08] behlendorf commented on #3615
@prometheanfire yes, yes it should. Thanks for noticing this one, this is a duplicate of #3684 and was resolved by commit c495fe2.

[2015-08-28 18:08] #3615 closed

[2015-08-29 05:37] lihui2090 commented on #3711
ths ,first
the  zoopl should auto import the pools,but i system can't,
can fling give me a advice,ths.

[2015-08-29 07:15] lihui2090 commented on #3711
In /etc/init.d/  have zfs
service zfs start
the pool will imported and mounted
ths fling .

[2015-08-29 12:41] CySlider commented on #1155
Hi,
while the instructions of @dajhorn work for me, I have to do them after EVERY kernel update. This is really annoying. Am I missing something to fix this for good?

Each kernel update throws me out of the system, and I have to repeat this procedure with updated versions...

Can anyone help?

I'm on Kubuntu:
uname -a Linux 3.13.0-62-generic #102-Ubuntu SMP Tue Aug 11 14:29:36 UTC 2015 x86_64 x86

[2015-08-29 16:46] ronnyegner commented on #3711
64 bit Linux supports 32 bit applications. That said you can run yozr 64bit linux with ZFS and your 32bit application at the same time.

[2015-08-29 16:56] kernelOfTruth commented on #3711
@lihui2090 try the chroot approach if the compatibility libs aren't sufficient

https://wiki.debian.org/DebianAMD64Faq
http://swinky-linuxblog.blogspot.co.at/2008/12/using-32-bit-applications-in-64-bit.html
https://web.archive.org/web/20100918121337/http://alioth.debian.org/docman/view.php/30192/21/debian-amd64-howto.html

https://wiki.ubuntu.com/DebootstrapChroot

with a 64bit kernel you should r

[2015-08-29 17:28] FransUrbo commented on #3711
Do note that running a mixed system (64bit kernel, 32bit userland) can give very, very strange results and errors, not easily found or detected.

I ran like that for almost a year, and I had a lot of trouble that I couldn't quite pinpoint.

I even lost my whole pool once. Still don't know the exact cause, I was running the crypto patch as well. But running a mixed system probably had at least SOME

[2015-08-29 19:04] ronnyegner commented on #3711
@FransUrbo you could put the 32 bit into a VM running a 32 bit Linux....

[2015-08-29 19:12] FransUrbo commented on #3711
What good would that do?! The whole point is that you need a 64bit kernel!

With that comes that you really need to run 64bit userland as well, because a mixed environment isn't really working properly.

Hence, if we continue that line of thought, you need a fully enabled 64bit environment, through and through… Which have been the whole point of this "exercise".

ANY part of the environment being

[2015-08-29 19:17] ronnyegner commented on #3711
@FransUrbo I understood that the poster needed a 32 bit for his application but for ZFS 64bit is a must-have. So my advise above was to run a 64bit Linux system with ZFS and then run a virtual machine with a 32bit os on the 64bit system. That way he gets the best of both worlds: ZFS on the host and is still able to run his 32bit app in a complete 32 bit environment.

[2015-08-29 21:17] koraa commented on #494
Since this seems to be going into the direction of an own implementation, I'd like to add two considerations (or rather feature requests) for a future cryptography subsystem in ZoL;
I hope this is not misplaced in this thread :)

The first is the ability to have per-volume keys;
I am using ZFS on my laptop and I do a lot of work for different organizations and projects. Among the data I store for

[2015-08-30 06:48] FransUrbo commented on #494
@koraa The Solaris implementation already do that. Any implementation MUST (IMO) have at least the exact same functionality and command line options etc as the "original" one.

I kinda had preferred the option to have a global pool key, but I ended up reusing the key for all the volumes. Not optimal, but in the end it gave the same result.

[2015-08-30 13:28] CySlider opened #3716 "Have to manually reinstall zfs after kernel update"
I have the problem described in this issue: https://github.com/zfsonlinux/zfs/issues/1155

And the fix of  @dajhorn works for me, but I have to repeat it on EVERY kernel update.

Please help. Also see this "Ask Ubuntu" topic I created for this. They proposed to ask here instead.

https://askubuntu.com/questions/667092/how-to-avoid-manually-reinstalling-zfs-after-kernel-update

Please help, I am li

[2015-08-30 16:27] snajpa commented on #3655
Doesn't matter what I do, none of what @kernelOfTruth suggested has lead to anywhere (but still, thanks!).

Receiving side is Illumos and it's definitely not stuck.

[2015-08-30 21:01] behlendorf commented on #3030
I've posted a complete fix in issue #3718 for this issue.  It's been tested with 4.1 kernels but additional testing on a wider range of kernels would be very helpful.

[2015-08-30 21:07] behlendorf commented on #3662
@abuschmann thanks for iterating on this.  I've squashed the patches together and merged it as:

bba365c Add extra keyword 'slot' to vdev_id.conf

[2015-08-30 21:07] #3662 closed

[2015-08-31 03:33] mgmartin commented on #3030
NICE!  Working well for me after applying the diffs to the latest spl/zfs git on a 4.1.6 kernel.  No issues looking for non-existent snapshots, and no issues mounting and looking through ~53 snapshots.

Thanks!

[2015-08-31 08:50] lihui2090 commented on #3711
Tks every body!
I will test the zfs  32, for know zfs details status in 32 systems  .

[2015-08-31 12:06] whatarcane opened #3719 "ZFS deadlock with zfs receive and clamscan"
Anything that attempts to interact with the ZFS filesystem (df, lsof, etc) gets stuck in "D" state.  Because "kill -9" has no effect on these processes, they are not periodically in the "D" state, but are stuck.  It seems this is a different issue than the other reported deadlock, #3687, because load on the system consists only of processes in the "D" state.

kernel: 3.2.68-1+deb7u3
ZFS is 0.6.4-1

[2015-08-31 13:06] Bronek commented on #3508
@siebenmann try #3718

[2015-08-31 13:06] Bronek commented on #3295
@durdanovic try #3718

[2015-08-31 13:07] Bronek commented on #3257
This seems to be fixed by #3718 , thanks @behlendorf !

[2015-08-31 13:08] Bronek commented on #3030
#3718 works for me, too

[2015-08-31 13:40] kernelOfTruth commented on #3719
just throwing in what comes up on the mind:

you're running with/without NCQ ?
(I'm collecting a few negative experiences with NCQ but my observations haven't been too conclusive thus far)

cfq is the i/o scheduler ?

[2015-08-31 13:54] beachbum314159 commented on #3704
richardelling - thank you for your response.
We need to run a hardware snap, not a filesystem snap for a lot of reasons I'm not detailing.
"zpool reguid" is exactly what I wish Oracle Solaris supported so I wouldn't have to hack up the label myself to mount the hardware snapshot.

The mounted clone is only there temporarily while we run a Backup from it, then we unmount/delete it. So maybe the gun

[2015-08-31 14:20] ryao commented on #494
Implementing an Illumos compatible kernel crypto API by mapping the Linux functions to Illumos functions is not possible because of GPL symbol exports. The SPL does not touch any of those so that it cannot be claimed that ZoL is circumventing them. What lundman implemented can only work by violating that. Consequently, the project cannot use it. That said, we can always port the Illumos cryptograp

[2015-08-31 14:25] ryao commented on #494
It should also be said that the bulk up of the work is independent of implementing the Illumos crypto API, so whether it is used or not will not make this be done much faster or slower.

[2015-08-31 14:33] ryao commented on #3430
This should be reported to the LUKS developers. They should be using libblkid to check for an existing file system and fail requesting -f if forcing it is desired like mkfs.ext4 does.

[2015-08-31 15:11] whatarcane commented on #3719
The scheduler is noop.  The zpool is constituted of 3 RAID 1 arrays striped together:
	NAME                                      STATE     READ WRITE CKSUM
	localzfs                                  ONLINE       0     0     0
	  scsi-36...  ONLINE       0     0     0
	  scsi-36...  ONLINE       0     0     0
	  scsi-36...  ONLINE       0     0     0

errors: No known data errors
I know we lost the

[2015-08-31 16:09] bprotopopov commented on #3681
@behlendorf sure thing

[2015-08-31 17:52] dmaziuk commented on #2410
This is all great but for starters it would be nice to just get the basic disk usage working. On centos 6:
[code]
With
[code]
in `/etc/snmpd.conf` I get
[code]
which I suppose is fair enough but it's not useful. If I ask for a mountpoint, e.g.
[code]
in `/etc/snmpd.conf` I see
[code]
-- i.e. `/tank/opt` is not there at all. Wiith `hrStorage` (that supposedly works on FreeBSD) I get nothing either:

[2015-08-31 18:04] Bronek commented on #3716
The modules included in ZFS on Linux have to be compiled and built for the specific version of kernel they are intended to run on. This is normal, it is the same limitation as all kernel modules. The small difficulty here is that ZOL modules cannot be built together with kernel, because there are not included in kernel sources, due to incompatible licenses. This means that you need to build them a

[2015-08-31 18:19] dajhorn commented on #3716
@CySlider,

The advice given by @Bronek here and by @Pilot6 at the ASK question page applies.

This kind of glitch often happens on `debootstrap`'d systems or super-lean cloud images that are missing a metapackage.  Things like `build-essential`, a `linux-*` set, `ubuntu-minimal` are a hard requirement for reliability.

And depending on what you already have installed when you try to fix the probl

[2015-08-31 18:32] CySlider commented on #3716
Hmm, so if I get you right, under normal circumstances dkms should solve the problem described by @Bornek automatically, right? Thats at least what I understand that DKMS is for.

So my system is somehow messed up? I installed standard Kubuntu Trusty 14.04 I have a root partition thats not on ZFS also my root and my admin account are on the NON-ZFS.

Most fancy thing I did, beside the encryption o

[2015-08-31 19:09] dajhorn commented on #3716
If the system is not configured to automatically rotate old kernels, then having gigabytes of stuff in `/boot` is normal and expected behavior for a long-running Ubuntu system.

But this also suggests that some kernel run-parts are missing or disabled.  Try this:
[code]
If any of these files are missing or orphaned, then the system will not automatically upgrade itself.

When an upgrade next fails

[2015-08-31 20:05] beachbum314159 commented on #3704
One reason that we don't use ZFS to make the snapshot is for portability. If we use a hardware snapshot, we can mount it on another machine to do the backup so that we don't tax the source machine during backup of the data.  I don't think that is possible if I use the built-in ZFS snapshot tool.

[2015-08-31 20:40] lukeiamyourfather commented on #2944
Same issue here as described above where devices imported or created with /dev/disk/by-id go to /dev/sdX after a reboot. This is on Ubuntu 14.04 LTS. If it makes any difference the hardware is SSG-6048R-E1CR24L which has LSI 3008 (IT mode). Interestingly the logs and cache devices show up fine with /dev/disk/by-id and are on a different controller on the motherboard.

[2015-08-31 20:57] #2841 closed

[2015-08-31 20:57] #3030 closed

[2015-08-31 20:57] #3243 closed

[2015-08-31 20:57] #3257 closed

[2015-08-31 20:57] #3295 closed

[2015-08-31 21:01] behlendorf commented on #3508
@Bronek I don't think #3718 will help with this but it is plausible.  We'll have to see.  But for whatever reason this issue appears to have gone in to hiding again.  I'm no longer seeing it regularly in the automated testing so I'm removing it as a blocker for 0.6.5.

[2015-08-31 21:37] CySlider commented on #3716
Thank you for your support. Sounds promising.

I wish it were gigabytes. For some reason the default installation only assigned a 237MB boot partition on my 128GB SSD. I run out of space with around 5 kernels. I feel still too much of a noob to try to repartition, since its a partly encrypted disk. I will tackle this another time:

    sde                               8:64   0 119,2G  0 disk

[2015-08-31 21:44] behlendorf commented on #3619
I'm not able to reproduce the issue described here with zfs-0.6.4-200-gc6a3a22.  Creating a pool with the __-m__ option properly sets __mountpoint=none__, this value is inherited by child datasets, and filesystem set as __none__ are not mounted.  Potentially there might be an issue if `/sbin/mount.zfs` isn't installed.

[code]

[2015-09-01 00:34] ryao commented on #3692
Thanks for telling us about this. We should complain on the list now to prevent this from making it in the next release.

[2015-09-01 00:43] bjin opened #3724 "no space left for all zfs filesystems"
I probably did something wrong, or missed something. But today when I was trying to compile and run zfs from git master, it succeed to import but is totally unusable. Available space become zero for all zfs filesystems and I can't even create or rename a file. The whole filesystem is kind of fronzen so I didn't get any other useful information from log files. Is this expected or a known issue?

My

[2015-09-01 00:51] DeHackEd commented on #3724
The reserved space was increased during a recent patch. If you were very close to full before (97 or 98+%) it'll read as 100% now.

I would suggest either reverting for now or destroying some snapshots to free up space. Your target is about 3% of the whole pool size.

[2015-09-01 00:56] bjin commented on #3724
I suppose it's unlikely the cause. The usage is less than 30% for the pool. However, I did do daily snapshots so it's like hundreds of them.

[2015-09-01 01:32] bjin commented on #3724
Ooops, I realized that I made a mistake here. My pool is indeed near full now, and deleting snapshots did help. Thanks.

[2015-09-01 01:36] bjin commented on #3724
Just for reference purpose, what's the commit that increased the reserved space? Is there anyone to disable that?

[2015-09-01 01:52] bjin commented on #3724
Reopen this issue, since there might cases that it's not possible to delete any files or snapshots to free up spaces.

[2015-09-01 01:56] whatarcane commented on #3719
I've been trying to narrow down the conditions needed to reproduce this.  It turns out clamscan+zfs receive are not enough.  However it happens only when clamscan runs.  I'll update this ticket with what I manage to find.

[2015-09-01 01:58] lihui2090 commented on #3711
i find the zfs-fuse not supporte acl .

[2015-09-01 02:40] nwf opened #3725 "dedup and large unlink()s or 'zfs destroy' can cause stalls, deadlocks, and other badness"
Salutations all.

I've been running ZFS and ZoL for a long while now and have been seeing this issue in several guises, but recently it came to a head and @ryao told me to file a bug, so here I am.

We have a box running ZoL zfs-0.6.4-184-g6bec435, whose `uname -a` output is `Linux chicago.acm.jhu.edu 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u2 (2015-07-17) x86_64 GNU/Linux`.  This box has

[2015-09-01 02:50] nwf commented on #2015
I cannot explicitly confirm that this has been fixed, merely that I have not tripped over it in testing of late.  Perhaps that is enough?

[2015-09-01 03:27] behlendorf commented on #2015
That may be the best we can hope for.   I'm going to close it out for now since we've certainly fixed some issues which could have caused this.  We can file a new issue of needed.

[2015-09-01 03:27] #2015 closed

[2015-09-01 05:49] ronnyegner commented on #3711
@lihui2090  Yes, that´s because the ZFS-FUSE port is no longer maintained (to my knowledge). Why don´t you try the approach i mentioned? You install a 64bit operating system, configure your ZFS pool and then install Virtualbox (or VMWARE) and run a virtual machine with 32 bit linux. In the virtual machine you can then run your application in a pure 32bit environment while you profit from the benef

[2015-09-01 05:52] ronnyegner commented on #3725
Hi,

deduplication uses a LOT of memory. I would say that even 8 GB for a 500 GB dataset is too small. The moment you delete (or destroy) the dedup table must be cleaned up from any references. This takes a lot of cpu power and is time consuming. If in addition to that the DDT table spiiled to disk (due to insufficient memory) everything gets even more slow ("crawling slow").

So i´d say: Not a bu

[2015-09-01 06:04] lihui2090 commented on #3711
because the hard ware is 32bit and  the performance is not very high  .

[2015-09-01 06:05] lihui2090 commented on #3711
@ronnyegner
Because the hard ware is 32bit and the performance is not very high .

[2015-09-01 06:11] ronnyegner commented on #3711
@lihui2090  then maybe ZFS is not the right choice for the platform?

[2015-09-01 06:13] ronnyegner commented on #3704
@beachbum314159  Yes, that´s correct. But this use case is rarely used. If you import the pool on another machine there should be no conflicts. And it should be safe in terms of accidently collision with the devices in the existing pool.

[2015-09-01 06:17] nwf commented on #3725
Please re-read the report.  This is *not* an issue of the system being merely slow.  It deadlocks, it is unable to complete transactions, etc.  The DDT is not magic, it's a *tree* that happens to reside on disk.  The destroy operations at least already know how to span transactions ("background freeing"), in theory, so there's nothing fundamentally incorrect about wanting them to span *more* trans

[2015-09-01 06:19] lihui2090 commented on #3711
@ronnyegner if i use the zfs in 32bit ,the system will to run err or not?

[2015-09-01 06:20] ronnyegner commented on #3725
The DDT is NOT supposed to reside on disk! It is supposed to reside in memory entirely. If it spills to disk everything almost stops. From your report i´d say thats exactly what happened. Also after moving the disks to a system with more memory the issue was solved points to a memory issue....

[2015-09-01 06:22] ronnyegner commented on #3711
@lihui2090 Try it. Nobody can say this for sure. But there are issues with 32 bit systems due to the memory architecture and the limits inheritent to the 32 bit architecture. But maybe it will work for you....

[2015-09-01 06:31] nwf commented on #3725
... what?!  The DDT is part of the on-disk data structure.  It's cached in ARC/L2ARC as with everything else, but it *must* be persisted to disk.  I know, obviously, that having more of it in RAM will make operations faster.  But I am emphatically not asking for this operation to go faster.  I am asking for it not to CRASH THE MACHINE and make the pool unimportable.

[2015-09-01 06:36] ronnyegner commented on #3725
Yes, the DDT is of course stored on disk. But in your case (see my updated post) it doesnt fit into memory... your memory is WAY too small.

When you delete data the system must iterate over the whole DDT and delete any references of the data block that is supposed to be deleted from the DDT. If the DDT is in memory it is stil relatively slow but will work. If it is on disk and does not fit into m

[2015-09-01 06:40] nwf commented on #3725
I *understand* that the DDT needs to have its reference counts decremented.

Do you understand that I would be absolutely OK with this operation taking weeks and lingering in the ZIL as a background thread?  I am fine with a solution that decrements *one* block's reference count per ZFS transaction and keeps the transaction system flowing.  The only thing, in fact, that I am requesting is that it

[2015-09-01 07:51] lihui2090 commented on #3711
ok,i wiil try .

[2015-09-01 08:19] bjin commented on #3724
@DeHackEd @behlendorf Could you tell which commit caused this? What will be very helpful.

[2015-09-01 08:44] bjin commented on #3724
Okay, I figured it out, it's https://github.com/zfsonlinux/zfs/commit/3d45fdd6c0d5b4c8e42b6a2cda00bf6f22c9f2bf .

Is there any reason that reserved space changed from 1/64 to 1/32? It actually brought breakage.

[2015-09-01 12:24] alexanderhaensch commented on #3697
@ki82 if you still having this problem, i think you problem could be related to #3376 .
In our case this workaround https://github.com/zfsonlinux/zfs/issues/3376#issuecomment-99568712 helps.

[2015-09-01 12:28] kernelOfTruth commented on #2869
Could be the same issue I had after rolling back & invoking

[code]

then the system hardlocking after some time (no trace or messages in dmesg)

[2015-09-01 12:39] ki82 commented on #3376
Is there any plans to make a new release with the following patch described by @behlendorf in this issue? If the patch is better then the current state then I think it could be released and then removed later on.

I would like to avoid applying patches to our single server in production where we experience similar problems, described in detailed in #3697

[2015-09-01 12:40] ki82 commented on #3697
@alexanderhaensch Thanks for the tip, I would consider trying it out if there is no release with a solution soon.

[2015-09-01 14:44] ryao commented on #3725
@ronnyegner I disagree. Deduplication should never result in the system deadlocking. If it deadlocks, there is a bug.

@nwf This needs more analysis before we run down the issue, but I am willing to take a stab in the dark. There is a class of issues involving direct reclaim that can deadlock the codebase. A modern example of this in the current codebase is that direct reclaim can deadlock the spa

[2015-09-01 16:58] behlendorf commented on #3724
@bjin yes we absolutely can.  Thanks for reminding me about this, I meant to post a patch which exposes this as a module option.  See pull request #3727.

[2015-09-01 17:18] dajhorn commented on #3716
If these packages are in the diff:

Then the `ubuntu-zfs` package should be there too.

The `zfs-dkms` package appears twice.  Note that multi-arch and multi-version configurations are unsupported.

[2015-09-01 17:20] #2869 closed

[2015-09-01 17:47] behlendorf commented on #3376
@ki82 the 0.6.4.2 tag contained a proper fix so this specific issue shouldn't be an issue there.  The master code contains that fix and several additional improvements.

Issue #3697 looks subtly different than this although the work around provided in the comment above could help for similar reasons.  In the master code you'll be able to set `zfs_arc_meta_prune=0` module option to achieve the same

[2015-09-01 17:54] behlendorf commented on #3697
@ki82 setting `spl_kmem_cache_expire=0` may take the pressure off the VM subsystem in your case.  It will result in the ARC not as aggressively freeing memory back to the Linux slabs.  You can set this at run time as root and the option exists in both 0.6.4 and what will be 0.6.5.

[code]

[2015-09-01 19:33] q-ray commented on #2944
Same here. I installed a new Ubuntu 14.04 LTS server because my boot drive crashed. Installed zfs and imported the existing pools by id. Zpool status showed the pools correct with disks by id. After reboot zpool stsus showed the disk with sdx.
I tried zpool export/import several times. Same result on every try :(

[2015-09-01 21:10] CySlider commented on #3716
Yes, you are right. ubuntu-zfs is also there. And the second zfs-dkms is zfs-doc sorry...

[2015-09-02 06:06] ki82 commented on #3697
@behlendorf Thanks I have applied spl_kmem_cache_expire now and will report back how it works.
I hava also set zfs_arc_max to 20GB since your comment 8 days ago and we are still seeing high cpu spikes.

[2015-09-02 07:49] alexanderhaensch commented on #3376
@behlendorf I think it is okay to close this issue.
Since 0.6.4.2 the effect of the underlying issue is different and it does not log into dmesg anymore.

[2015-09-02 09:36] whatarcane commented on #3719
I've not been able to come up with a deterministic way to trigger this.  Symptoms are similar to issue "Processes that access zvols hang in D state", #3667

[2015-09-02 10:03] whatarcane opened #3729 "receive with forced rollback deletes needed fromsnap"
When using zfs receive with the -F option, when the destination has extraneous snapshots (old snapshots that were deleted on the source), a needed snapshot gets deleted and the receive operation fails.

/sbin/zfs send -RI $lastremote $snapname | ssh $fqdn /sbin/zfs receive -Fv $lfs
prints:
cannot receive new filesystem stream: destination has snapshots (eg. localzfs/www@ubackup-2015-09-01.09-00-01

[2015-09-02 15:42] Bronek commented on #3716
I think this might indicate where you problems are
[code]

building of ZFS requires linux-headers matching to kernel package being built (or installed).

[2015-09-02 16:20] #3513 closed

[2015-09-02 16:21] behlendorf commented on #3376
@alexanderhaensch OK, thanks.

[2015-09-02 16:21] #3376 closed

[2015-09-02 16:30] sempervictus opened #3730 "Feature request: targeted deletion for error correction"
When a scrub reports an error in a specific snap, dataset, or zvol, deleting the offending namespace results in the pool claiming the error to be at some hex offset, for instance, <0x604>:<0xcd3b> instead of the snapshot i just removed which was showing the original error.

We need a way to translate the block addresses into viable pointers in the data sets and ZVOLs so that we can try to clean up

[2015-09-02 16:31] #3724 closed

[2015-09-02 17:05] richardelling commented on #3730
Why is there a requirement to destroy reports of corrupted data?

The error buffer contains information from the current and previous scrub. So you have to scrub twice to remove errors reported against data that was subsequently removed. This confuses people who feel the need for the requirement above. Perhaps a more clear explanation of this in the error message?

[2015-09-02 18:05] kernelOfTruth commented on #3730
@richardelling didn't know that you had to scrub twice to get that message away,

well seems reasonable to me

Thanks

still +1 to @sempervictus ' suggestion to have some easier understandable display of the affected object

[2015-09-02 19:36] sempervictus commented on #3730
The 2 scrub pass i know about, but when pass #2 doesnt fix it, we're stuck staring at a reference we can't read very well. Translation mechanism for this output would be great.

[2015-09-02 19:45] DeHackEd commented on #3730
How to read the number-based system. Assuming "testpool" has errors on 0x16f6/0x1c2 (decimal values 5878, 450)

<pre># zdb -d testpool | grep "ID 5878,"
Dataset <b>testpool/vms/clone1</b> [ZPL], ID 5878, cr_txg 17146531, 848M, 51246 objects
# zdb -dddd testpool/vms/clone1 450
[shortened for brevity]
	path	<b>/bin/dd</b>
	uid     0
	gid     0
</pre>

[2015-09-02 19:47] sempervictus commented on #3730
@DeHackEd: we need to take a snap of and clone your brainz. Any chance you have a good/quick way to incorporate this translation into the runtime instead of manually via ZDB?

[2015-09-02 19:52] sempervictus commented on #3716
Generally when we upgrade kernels SPL rebuilds fine, but we manually have to do a dkms build and then a dkms install for ZFS.

[2015-09-02 20:10] sempervictus commented on #3704
Import the pool in a child VM with a mount to export data recovered from the pool back to the host. Also, just my $0.02, but Oracle may not take kindly to you playing with their on-disk format. That likely falls into reverse engineering and would be illegal and a breach of your contract terms. If you want an open format, use OpenZFS, otherwise, they want to you to pay them for support, and aren't

[2015-09-02 23:43] dhana-robin commented on #3535
This problem should be fixed with https://github.com/zfsonlinux/zfs/commit/21a96fb635fb14a59efe44d7ea6767c5f9a586bc

[2015-09-03 03:22] nwf opened #3731 "dead code in dmu_tx_count_write() checking for DMU_MAX_ACCESS"
`zfs_write` uses the `z_max_blksz` field (i.e. the dataset record size) to determine how big a piece of the file it should write at once.  However, `dmu_tx_hold_write` calls `dmu_tx_count_write` which may fail the transaction with EFBIG if the total amount of data, including metadata, to be changed exceeds "2 \* DMU_MAX_ACCESS".  `zfs_write` will then fail to `dmu_tx_assign` and will return with E

[2015-09-03 07:03] nwf commented on #3725
Encouragingly, I have been beating the snot out of this machine, removing large files and so on... and the deadlocks are gone.  The I/O stalls are still there, but I haven't had it lock up on me yet!

To help with the I/O stall issue, *after* beating on the machine for a while, I've decided to set `zfs_dirty_data_max` to 64M, which is insanely small (the default value was nearly 900M) but it does

[2015-09-03 07:37] nwf opened #3732 "(DDT) ZAP is inefficient when ashift=12?"
I have two pools with `ashift=12` and DDT turned on and have noticed that their size-on-disk is enormous:

[code]

I don't recall ever seeing on-disk-size values that large with an `ashift=9` pool, even when it had lots of data, so I ran a small experiment.  I created two pools thusly:

[code]

And then proceeded to fill them up with `dd if=/dev/urandom`.  Here are various samples taken with `zpoo

[2015-09-03 09:47] tjikkun opened #3733 "Kernel panic"
Hi,

Today one of our servers panicked. Below is the dump. The server didn't seem to do anything special. If you need any more information please let me know!

Distribution: CloudLinux 6
Package info:
[code]
[code]
loaded modules
[code]

panic:
[code]

[2015-09-03 12:16] dweeezil commented on #3733
@tjikkun Can you reproduce this?  If so, please try 641f0ce and see if it fixes the problem.

[2015-09-03 13:43] beachbum314159 commented on #3704
Understood - wish they just supported the ability to mount a hardware snap on the same machine. I can do it with many other filesystems., including Open ZFS.

Open ZFS has the "zpool reguid" command, which would do the trick for us, allowing us to import the snap on the same machine.  Open ZFS saw the need for it, so should Oracle - and then I wouldn't have to change the guid and modify their labe

[2015-09-03 14:26] tjikkun commented on #3733
@dweeezil Thanks for your quick response! Unfortunately I don't have a way of reproducing this.

[2015-09-03 17:20] MaFL2k opened #3734 "Ubuntu 12.04.5 LTS: no import on boot with 0.6.4.x"
Hi,

I have no more working auto import on boot with all releases of 0.6.4 so far.
<0.6.4 it was no problem.

Ubuntu 12.04.5 LTS

Things I tried so far:
- export/import pool, recreation of zpool.cache
- recreation of /etc/hostid
- spl.spl_hostid as kernel parameter (incorrect format prevented spl module loading, so it´s not ignored)
- echo manual >/etc/init/zpool-import.override

I´m running out o

[2015-09-03 17:26] MaFL2k commented on #3734
cat /var/log/upstart/zpool-import.log
/proc/self/fd/9: line 123: cannot create temp file for here-document: Read-only file system

[2015-09-03 19:12] Bronek commented on #2575
Last time I had a problem like this, changing HBA BIOS settings to wait 2s for each HDD helped.

[2015-09-03 19:50] chrsigg opened #3735 "Receiving zvol used as VM disk results in permanently busy dataset"
The following steps create a dataset that is permanently busy (i.e. across reboots), even though nothing (that I know of) is accessing it.

Create two pools:

[code]

Create a sparse ZVOL and use it as the disk for a freshly minted VM:

[code]

Create a recursive snapshot of `source` and send it to `target`:

[code]

At this point, I can still successfully export `target`. However, after I re-impo

[2015-09-03 21:12] behlendorf commented on #3733
That's a pretty deep stack.  @dweeezil adding your patch just in case isn't a bad idea.

[2015-09-03 21:17] #985 closed

[2015-09-03 21:17] #3351 closed

[2015-09-03 21:23] rlanyi commented on #3708
The same is happening for me on Debian Jessie, even with short names, without the "/dev/disk/by-id" prefix.

I also found a workaround: create the pool with device names (eg. sda, sdb), then destroy the pool and recreate it with the previous command. This way I could use disk ids while creating the pool.

[2015-09-03 21:55] micw commented on #3512
Have a look to https://github.com/zfsonlinux/zfs/issues/616 which might be related to this issue. A few months ago I had a workaround with "mount --make-shared" but I cannot reproduce it anymore.

[2015-09-03 22:14] behlendorf commented on #3535
@dhana-robin yes good point that patch.  That does address this issue.

[2015-09-03 22:14] #3535 closed

[2015-09-03 22:42] nwf commented on #3725
I'm going to try testing with nwf/zfs@66dbeba3853690c0b4f259c8b0957dd517e188d7 and a larger `zfs_dirty_data_max` so that we can still get large writes except when large deletes are happening.

I don't think this is the right approach -- I'd rather hook the `dmu_tx_hold_free` / `dmu_tx_assign` machinery directly, but this was an easy, non-invasive place to get my fingers in the control flow. ;)

[2015-09-03 23:38] kernelOfTruth commented on #3725
@nwf interesting change !

I wonder how that would effect latency (e.g. for desktop usage) during big data transfers (or deletes)

[2015-09-04 00:17] dannyash commented on #2680
I am having the same problem on Debian Jessie. Removing zfsutils and purging does not solve the problem. I ran your commands as above, and got this:

/$ sudo ls -l /etc/init.d/zfs-mount<
-rwxr-xr-x 1 root root 5870 Jun 27 09:08 /etc/init.d/zfs-mount
/$ sudo grep update-rc /var/lib/dpkg/info/zfsutils.*inst=
grep: /var/lib/dpkg/info/zfsutils.*inst=: No such file or directory</code>

Is that any help

[2015-09-04 02:32] transmutated commented on #3511
Looking forward to this release. I had to downgrade my kernel, zfs-git, zfs-utils-git, and spl-git packages on arch to get my server stable.

I was seeing the same null pointer reference as this bug: https://github.com/zfsonlinux/zfs/issues/3640

Thanks for the hard work guys.

[2015-09-04 04:29] ikogan opened #3738 "Can't set Kerberos options with sharenfs"
I can't seem to set Kerberos options either the Solaris or the Linux way when exporting via `zfs set sharenfs`.

So far I've tried:

`zfs set sharenfs=rw=@10.1.42.0/24,no_subtree_check,insecure,root_squash,nohide,sec=krb5:krb5i:krb5p Data/Shared`

`zfs set sharenfs=sec=krb5p:krb5i:krb5,rw=@10.1.42.0/24,no_subtree_check,insecure,root_squash.nohide`

No matter what, the output of `exportfs -v` looks

[2015-09-04 05:13] jxiong commented on #3500
I pushed a new patch and fixed the style issues. Please inspect.

[2015-09-04 05:33] ikogan commented on #3738
So, interestingly, if I build from https://github.com/zfsonlinux/zfs/commit/7065e2dac61ceef58df62280185162c0a00e2d30, then this works fine.

[2015-09-04 09:01] FransUrbo commented on #2680
That command should have ended with: *inst*

As in: STAR inst STAR (without spaces). NOT: STAR inst EQUALSIGN.

@dannyash. Please run the correct commands and then give me the exact output (via cut and paste).

[2015-09-04 09:08] FransUrbo commented on #3738
From the strace, I gather that you're running with the sharenfs that comes in ZFS released and/or GIT?

That one is extremely limiting and I rewrote it shortly after it was accepted to use registry shares instead of user shares (which only have four, five options possible). With registry shares, you can give ANY option that's available in smb.conf.

However, @behlendorf prefers to wait "a couple o

[2015-09-04 09:26] realG commented on #3734
Same here, on a HP Microserver, with four SATA drives connected to the built in controller. They appear to be online before the ZFS/SPL modules are loaded.

kern.log: http://pastebin.com/SPz7wPJ2

I've skipped 0.6.4 and 0.6.4.1 so can't comment on those, but auto import was working for me with prior 0.6.3.x releases.

[code]

I've tried the same troubleshooting steps as Matt above, no luck so far.

[2015-09-04 15:39] ikogan commented on #3738
I am indeed, my issue, though, is that I'm trying to give each user their own file system so that they have control over snapshots and what not.

When I use the `/etc/exports` file above, the contents of the individual directories are hidden as they're each on a different file system. I had assume that, since filesystems inherit flags, using sharenfs on `/data/Homes` would cause zfs to export all

[2015-09-04 15:45] #3733 closed

[2015-09-04 15:49] behlendorf commented on #3500
@jxiong great news.  I'll look it over, I think have @don-brady do a review would be good too.

[2015-09-04 17:01] whatarcane commented on #3719
This issue seems to appear when using a replication stream (send -R with receive -F).  It hasn't happened since I switched to using send/receive for each snapshot individually, and to destroying expired ones individually.

[2015-09-04 17:48] ikogan commented on #3738
After setting everything up it does work as I expect with the version I've built from source. My next question is, will 0.6.4.2 be available in the Wheezy repo for ZoL? It doesn't seem to be at the moment.

[2015-09-04 18:09] FransUrbo commented on #3738
It is, it's just called <code>0.6.4-1.2-1-wheezy</code>.

[2015-09-04 19:30] roosteng commented on #3708
This is also happening on OpenSuse 13.2.  Does not happen on OpenSuse 13.1.  Both compiled with latest git.  It creates partition 1 and 9 on the drives but I think maybe they are not showing up fast enough in the /dev/disk/by-id/ directory?

[2015-09-04 19:54] ikogan commented on #3738
Ah, that seems to be the version I have. I just built 44b5ec8fd19d0ff3f258ee000ac404f01cd97835 from source, which I imagine is what that version was built from and it also works fine. Why then does the one installed by the package not work fine?

[2015-09-04 20:15] sigxcpu76 opened #3739 "Large kmem_alloc()"
This occurs randomly on 4.1.3-1-pve (Proxmox kernel). ZoL version: 0.6.4.1-1101_g356456b

[code]

[2015-09-04 20:19] behlendorf commented on #3739
Thanks for filing this.  The issue has already been resolved in master.

[2015-09-04 20:20] sigxcpu76 commented on #3739
Oh, sorry for bugging you then. Just followed the indications from the error message.

[2015-09-04 20:21] #3739 closed

[2015-09-04 20:23] jsalinasintel opened #3740 "fsx failing when memory-mapped files are used"
Running with the fsx.c code from lustre-master/lustre/tests fsx is failing on every run on zfs master and the 0.6.4 release.   The code was compiled as gcc -o fsx fsx.c

Setup test system:

[code]

Then 10 fsx jobs were started using these options:

[code]

Under stock cents 6.7 and zfs 0.6.4 all runs failed:

[code]

Here are some output samples:

[code]

Running on both 0.6.4 and master it appea

[2015-09-04 20:26] #616 closed

[2015-09-04 21:03] sempervictus commented on #3704
This is why we are all here - the Oracle implementation is basically like
NexSAN or a few other custom ones now. Alone, broken, and getting worse
daily. I would expect that we will no longer see Solaris and ZFS from them
in 10y time. Outside of the crypto support they inherited from Sun
engineers, there is little benefit to using their rusty fork, and hopefully
even that can be addressed in the ne

[2015-09-04 21:12] ryao opened #3741 "Reintroduce IO accounting on zvols"
e20cd6f7a8922709b1aa2ecefd783390102d79e0 caused us to lose IO accounting on zvols. As I had written in the commit message for 37f9dac592bf5889c3efb305c48ac39b4c7dd140, the symbols we needed to maintain IO accounting were GPL exported when I wrote the zvol rework last year, but  torvalds/linux@394ffa503bc40e32d7f54a9b817264e81ce131b4 provided suitable symbols 4 months later. We can call those to re

[2015-09-04 23:02] behlendorf commented on #2575
Removing as a 0.6.5 blocker.  Using a stock CentOS 7 VM I'm unable to reproduce this issue.  However, since other have reported this issue I'm leaving it open.

[code]

[2015-09-05 01:02] #3561 closed

[2015-09-05 17:07] FransUrbo commented on #3738
Oh, right! I've added that extra NFS patch to my packages. Totally forgot.

I'll have a look as to why it didn't work. I've accidentally read it as you had a problem with shareSMB not, shareNFS.

[2015-09-05 17:29] chrsigg commented on #3735
I retested with kernel 3.10.0-229.11.1.el7.x86_64 and ZFS version 0.6.4.2 and the problem persists.

It's also not necessary to do a reboot. Shutting down the VM after receiving the snapshot is enough to produce a busy `target` pool:

[code]

Likely the same issue was already [posted](http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-March/021522.html) to zfs-discuss back in March.

[2015-09-05 22:38] kernelOfTruth opened #3742 "Illumos #3190, zfs incremental: cannot receive incremental stream:destination ... has been modified since most recent snapshot - subdirectories suddenly (?) containing data on backup device"
Just hit the referenced BUG:

https://www.illumos.org/issues/3190

I've had 3 snapshots on the backup

31.08
01.09
02.09

when trying to send a newer snapshot to the backup device (03.09 and 04.09)

zfs send bailed out with

[code]

well, yes - but there has been ZERO changes on the master

I've no idea where the changes on the backup appeared from :-1:

tried rolling back recursively but the chan

[2015-09-05 22:44] kernelOfTruth commented on #3742
well, I rolled back that single mentioned directory manually and it continued

but now suddenly lots of other subdirectories from /home (on the destination) contain additional data :confused:

@behlendorf  @ahrens related to snapshot handling: is there any progress on support for resuming interrupted zfs sends ?

the pre-requisite is there (Illumos 5746)

[2015-09-06 00:28] kernelOfTruth commented on #3742
_could_ be user error or false assumption on how send and receive work

investigating ...

[2015-09-06 08:43] grahamperrin commented on #925
From irc://chat.freenode.net/#illumos today:

[2015-09-06 11:00] aither64 opened #3743 "CPU soft lockup on zfs destroy, umount"
Hi,

command `zfs destroy  vz/private/4511` resulted in CPU soft lockup:

[code]

The processes look like this:
[code]

[code]

We're running at version either 0.6.4 or https://github.com/vpsfreecz/zfs, I'm not sure at the moment and will try to specify later.

We found no other solution but reset, because more and more processes are stuck in an uninterruptible state. So far it happened multiple t

[2015-09-06 12:23] kernelOfTruth commented on #925
https://github.com/Nexenta/illumos-nexenta/commit/f0a9ee9eeed31410aecb7bc0172cec615698aecd

https://github.com/Nexenta/illumos-nexenta/commit/887263262dff3397c305be7129b6fb394189de8e

https://github.com/Nexenta/illumos-nexenta/commit/9498bb1539167ca88ff9237851a2ac9047859a5a

[2015-09-06 12:55] kernelOfTruth opened #3744 "NEX-3514 Implement persistent L2ARC"
Reminder for using the persistent l2arc implementation from Nexenta

(there doesn't seem to be any activity related to that on Illumos ?)

https://github.com/Nexenta/illumos-nexenta/commit/f0a9ee9eeed31410aecb7bc0172cec615698aecd NEX-3514 Implement persistent L2ARC

https://github.com/Nexenta/illumos-nexenta/commit/887263262dff3397c305be7129b6fb394189de8e NEX-3514 Implement persistent L2ARC - fix

[2015-09-06 14:17] DeHackEd commented on #1571
I noticed 0500e835af3ea1f3abe27a572f7b2328b4cde386 now made this behaviour off by default. Think that's good enough to satisfy this bug?

[2015-09-06 16:07] behlendorf commented on #1571
It would be good to still log it.   Let's leave it open so we remember to implement this. This should be a bite sized patch if someone wants to get in to the code.

[2015-09-06 23:11] Zhro commented on #3687
I'm experiencing this issue again right now. The server is beginning to grind to a halt and there is max CPU usage in zfs_iput_taskq/, kswapd0, kswapd1, kswapd2, kswapd3, and kthreadd.

My Skype is 'Kahenraz' if someone who is knowledgeable on this subject can call me. I can provide a shell account for diagnostics.

[2015-09-06 23:24] telsin commented on #2575
I see your pool uses /dev/disk/by-id names. That's what wound up working for me. I had problems when I was using vdev aliases though, did you try it that way?

[2015-09-06 23:30] Zhro commented on #3687
I've made a pastbin of a `perf top` log that I was able to pull before the whole system deadlocked. Still waiting for ssh to become responsive again:

http://pastebin.com/raw.php?i=vFpBFUFz

[2015-09-06 23:39] kernelOfTruth commented on #3687
@Zhro can you post arcstats ?

cat /proc/spl/kstat/zfs/arcstats

also try limiting the size of ARC to 1/4 or 1/3 of total memory

stack issues ?

referencing a few issues:
https://github.com/zfsonlinux/zfs/issues/531
https://github.com/zfsonlinux/zfs/issues/1928
https://github.com/zfsonlinux/zfs/issues/3055
https://github.com/zfsonlinux/zfs/issues/3183
https://github.com/zfsonlinux/zfs/pull/3225
h

[2015-09-06 23:50] Zhro commented on #3687
Current `arcstats`:

5 1 0x01 86 4128 34247967600329 5157383365117166
    name                            type data
    hits                            4    2498352634
    misses                          4    92929589
    demand_data_hits                4    2386861450
    demand_data_misses              4    66292474
    demand_metadata_hits            4    92378823
    demand_metadata_misses

[2015-09-06 23:55] kernelOfTruth commented on #3687
What non-default settings do you use for spl or the zfs kernel modules ?

/sys/module/zfs/parameters/
/sys/module/spl/parameters

http://gentoovps.net/zfs-cheatsheet-linux-on-zfs/

[2015-09-06 23:56] Zhro commented on #3687
The results of `perf top` have also changed now that things have settled down:

    7.73%  [kernel]                    [k] page_fault
    3.58%  [kernel]                    [k] unmap_page_range
    2.91%  [kernel]                    [k] copy_page_rep
    2.89%  [kernel]                    [k] __find_get_page
    2.42%  libc-2.17.so                [.] _dl_addr
    2.14%  [kernel]

[2015-09-07 00:07] kernelOfTruth commented on #3687
That's a lot of swap usage (might be due to high swappiness setting, but still ...),

what Java implementation do you use ?

FYI:
in case of IcedTea 7.2* - there appears to be a resource leaking bug with OpenJDK 7

[2015-09-07 00:11] Zhro commented on #3687
Currently running:

    java version "1.8.0_45"
    Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
    Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)

The system will slows down, eventually grinding to a halt (dropping network connections), then will eventually perk back up and start running again.

Every time this happens I am consistently, though with a small sample size s

[2015-09-07 00:48] Zhro commented on #3687
I have an update to report which may or may not be related to this issue. At the time of this slowdown, an erroneous bash function was being executed:

    function cp() {
       cp --preserve=all --no-dereference $@
    }

And at the teminal:

    cp test/ test2/

Top for this user showed virtual memory being allocated in the gigabytes as the process appeared hung but continued to gobble up memor

[2015-09-07 08:33] alexanderhaensch commented on #3687
@Zhro Having a swap or not depends on the workload you have. Allowing programs to swap brings a minimum of 100x slowdown.

In your case: disable it!

[2015-09-07 20:13] SenH opened #3747 "Force create /run/sendsigs.omit.d link when starting zed"
I get the following error when restarting zed. It can be solved by force creating the link.

[code]
With patch:
[code]

[code]

[2015-09-07 20:24] chrekh opened #3748 "Crashes on linux-4.2"
I'm getting crashes with kernel linux-4.2

I'm using spl at 4fa4cab, and zfs at 3b36f83.

I have bisected the kernel and found commit torvalds/linux@0838aa7

The crash is very reliable, it chrashes every time. But it varies how
long time it takes. From before booted to multiuser, to after several
minutes. I have also tested to revert 0838aa7 on top of v4.2 (I had to
revert 1a727c63 and f58e5aa als

[2015-09-07 21:39] vozhyk- opened #3750 "Send | receive stalls in the beginning"
zfs v0.6.4-219_g785a5ce, from tuxoko's abd2 branch
spl v0.6.4-25_g4fa4cab, from zfsonlinux master
kernel 4.0.9-aufs with BFS, BFQ, UKSM and TuxOnIce patches

When sending and receiving onto the same single disk pool I've interrupted it with Control-c. After that send and receive are stuck in D state and SIGKILL doesn't stop them.
[code]

Stack traces after an hour: https://gist.github.com/anonymou

[2015-09-08 01:44] dlan17 opened #3751 "running "mount -o loop" system hang"
it's a Gentoo Linux system, using kernel 4.1.6 (sys-kernel/gentoo-sources-4.1.6), zfs-0.6.4.2, zfs-kmod-0.6.4.2, spl-0.6.4.2.

while running: mount -o loop portage-20150827.squashfs /mnt/test, will trigger kernel panic

[   87.743950] general protection fault: 0000 [#1] SMP
[   87.751424] Modules linked in: nfsd pl2303 usbserial ppdev x86_pkg_temp_thermal dcdbas usb_skeleton coretemp kvm_intel kvm

[2015-09-08 02:35] kernelOfTruth commented on #3751
https://github.com/zfsonlinux/zfs/pull/3651 Fix Linux 4.1 compat regarding loop device on ZFS

[2015-09-08 02:52] drescherjm commented on #3751
Use the 9999 git ebuilds or wait for 0.6.5.

[2015-09-08 04:38] dweeezil opened #3752 "atomic operations hurt performance on large-scale NUMA systems"
While commit ca0bf58 was successful in reducing the lock contention on the various per-state ARC lists by converting the lists to "multilists" and removing `arcs_mtx`, it left `arcs_lsize[]` (the accounting of per-state evictable data) directly within `arc_state_t` and it's always updated atomically.  The atomic updates of `arc_lsize[]` have become, in their own way, a contention point similar to

[2015-09-08 07:18] lihui2090 opened #3753 "how to use ztest?"
I have a platform
hard ware : cpu   Intel(R) Atom(TM) CPU CE5315
                   mem  2G
                   SDCARD 4G FOR install debian system
                   disk 2 *1T
system :    debain  32 bits

in the case how can i use ztest.
ex :   ztest  -v 1  -m 0  -r 2  -d 7
how to make the parameters to meet with my platform?

i have a example: it stop not give test complete

my  mount infor is
/

[2015-09-08 10:50] DeHackEd commented on #3753
This is better suited to the mailing list. This is a bug tracker, not a support forum.

[2015-09-08 13:22] tjikkun commented on #3733
FYI today the same server had a panic again, I am guessing it is the same issue but here is the panic just to be sure. Would disabling prefetch work around this issue?
[code]

[2015-09-08 15:59] behlendorf commented on #3743
@aither64 thanks for filing this.  I'm marking this a duplicate of #3508 which has reduced in frequency in the latest code but the root cause hasn't been precisely identified.

[2015-09-08 15:59] #3743 closed

[2015-09-08 16:02] behlendorf commented on #2575
@telsin no I didn't test with vdev aliases.  That's a good thought and I must have missed that in your comment.  When I get a chance to retest this again I'll use vdev aliases.

[2015-09-08 16:53] behlendorf commented on #3733
@tjikkun setting `zfs_pd_bytes_max=0` would probably prevent the issue but it will negatively impact performance.

[2015-09-08 16:58] #3747 closed

[2015-09-08 17:01] behlendorf commented on #3751
Right, thanks for filing this but as mentioned it was addressed by #3651 so I'm closing this as a duplicate.  Either of the proposed solutions will resolve the issue.

[2015-09-08 17:01] #3751 closed

[2015-09-08 17:11] behlendorf commented on #3753
@lihui2090 it looks like you've run ztest correctly and it ran properly.  See the `ztest(1)` man page for further details on ztest.  Although the estimated time remaining number appear to be incorrect and that should be explained and fixed.

`estimated time remaining: 4294545817hr`

[2015-09-08 18:44] FransUrbo commented on #3738
Ok, I've pushed a new version of the pull request. @ikogan, I'd appreciate immensely if you could build a version with this and test it to make sure.

[2015-09-08 20:10] HRio commented on #1668
It seems there are still issues in this area in 0.6.4.2, I can reproduce problems with write performance by using bonnie++, when approaching quota limits.

More info in this thread:
  http://list.zfsonlinux.org/pipermail/zfs-discuss/2015-July/022730.html

[2015-09-08 20:28] dracwyrm commented on #3708
@rlanyi Instead of destroying the ZPool, you can export and then import it like this:
$ sudo zpool export tank
$ sudo zpool import -d /dev/disk/by-id tank
That will switch all /dev/sdx drives to the full ID.

Cheers.

[2015-09-08 20:47] dracwyrm opened #3754 "ZVol with master branch source 2015-09-06 and kernel 4.1.6 comes to grinding halt."
Hi,

In my set up, I have KVM using ZVols on a Gentoo Linux System with Gentoo Sources 4.1.6. I have been using 0.6.4.2 versions of SPL and ZFS. The tank is built with RAIDZ1 on three spinning HDs with external Logs and Cache on two SSDs.

The commit logs show that there have been speed improvements for ZVols, so I thought I would give it a try. I downloaded the source for SPL and ZFS via the down

[2015-09-08 23:05] behlendorf commented on #3754
@dracwyrm thanks for testing out the updated zvol code in the master branch.  I'm sorry to hear you ran in to problems.  Do you happen to know if anything was logged to the console of the ZFS system when you encountered these hangs.  That would go a long way towards helping us identify the root cause.

[2015-09-08 23:11] ryao commented on #3754
@dracwyrm I assume that the host itself has not deadlocked. Could you provide backtraces from your kernel threads when the guests have deadlocked?

http://zfsonlinux.org/faq.html#HowDoIReportProblems

Ideally, your kernel would be built with CONFIG_DEBUG_INFO=y and CONFIG_FRAME_POINTER=y.

[2015-09-08 23:15] ryao commented on #3754
@dracwyrm Also, what kind of block device is your KVM guest using (e.g. IDE, SATA, SCSI, virtio) and which version of Windows is this?

[2015-09-08 23:56] ryao commented on #3754
I failed to reproduce this with `qemu-system-x86_64 --enable-kvm -smp 8,cores=4,threads=2,sockets=1 -cpu host -m 1024 -hda /dev/zvol/rpool/windows -cdrom backup/isos/win7_64/en_windows_7_professional_x64_dvd_X15-65805.iso`. However, my system has zfsonlinux/spl#474 on it, which might be protecting me from some sort of issue. I will retest without it.

[2015-09-09 00:17] ryao commented on #3754
That wasn't necessary. I was able to reproduce this with `qemu-system-x86_64 --enable-kvm -smp 8,cores=4,threads=2,sockets=1 -cpu host -m 1024 -device ahci,id=ide -device ide-drive,bus=ide.1,drive=HDD -drive file=/dev/zvol/rpool/windows,id=HDD,if=none -cdrom backup/isos/win7_64/en_windows_7_professional_x64_dvd_X15-65805.iso`.

Doing `(for i in /proc/[0-9]*; do cat $i/{comm,stack}; done;) | less`,

[2015-09-09 00:22] ryao commented on #3754
@dracwyrm No need for those backtraces, although information about your guest WIndows version and guest storage device would be useful.

[2015-09-09 01:12] ikogan commented on #3738
[code]

Perhaps my Kernel headers aren't sufficient? https://github.com/zfsonlinux/zfs/commit/44b5ec8fd19d0ff3f258ee000ac404f01cd97835 and https://github.com/zfsonlinux/zfs/commit/7065e2dac61ceef58df62280185162c0a00e2d30 seem to work fine.

[2015-09-09 06:44] FransUrbo commented on #3738
Right! You where using the released version… The PR is including the latest master, which also needs a new SPL…

If you cherry-pick the commits in the PR, it might work better.

[code]

[2015-09-09 08:11] hybridchemistry commented on #2944
Just wanted to chime in that this has been an issue with my Ubuntu 14.04.3 LTS and Perc H310/LSI SAS 9211-8i that have been flashed to IT mode. If a fix is coming for Ubuntu 15, I suppose I can hang on... has anyone else had success with the device wait script?

[2015-09-09 09:35] chrsigg commented on #3735
Thanks for looking into it.

This issue breaks my incremental backups. If anyone can suggest a work-around, I would be grateful.

[2015-09-09 11:21] kernelOfTruth commented on #3735
referencing:

https://forums.freenas.org/index.php?threads/zvol-replication-dataset-is-busy.20074/
https://github.com/zfsonlinux/zfs/issues/1761 Zfs incremental recv fails with dataset is busy error

(both slightly related)

[2015-09-09 13:58] ryao commented on #3754
Some more debugging last night revealed that the install actually finishes. It just takes about half an hour to get past 0%. I had assumed we had somehow become too fast and were triggering a race, but testing with a patch to put `msleep(1)` on each IO did not improve things.

[2015-09-09 14:17] ilikenwf opened #3755 "zfs consumes all 64GB memory (dedup, compression, and luks)"
Machine:
64GB ECC
Perc5I (I know, I know) with 5x 1TB 7200 RPM each as RAID0
luks with zpool on top, dedup and compression enabled
Debian Jessie/Proxmox

I realize my hardware and software setup isn't ideal but I believe what is happening shouldn't be.

Even after limiting the ARC cache to 16GB, I find that on large writes - like copying backed up files over (numbering in the thousands), or restor

[2015-09-09 16:23] behlendorf commented on #3754
Unfortunately I was unable to reproduce this issue at all in my test environment.  Everything worked smoothly.  @dracwyrm could you post the environment you were testing with.

My test configuration is Linux 3.19, QEMU 2.2.0 and Windows 10 x64.

[2015-09-09 16:34] #3741 closed

[2015-09-09 19:31] kernelOfTruth commented on #3748
@chrekh please test booting up the kernel with

[code]

or

[code]
(that disables slub merging, too)

even with slub merging there's an entry nf_conntrack_

in cat /proc/slabinfo
.

Let's see if that shows something more fruitful

[2015-09-09 20:43] dracwyrm commented on #3754
My environment is:
Guest is Windows 10 Pro
Gentoo Sources 4.1.6
qemu 2.4.0
libvirt 1.2.18-r1

It was the guest that was deadlocking. It would just be frozen in place not doing anything. It would not respond to commands. Sometimes I was able to get the install done, but then trying to do anything in guest would be impossible, even sending the keystroke CTRL + Shift + Esc to open task manager would

[2015-09-09 20:50] dracwyrm commented on #3754
Oh. My ZVol settings:
zfs get all tank/JonPC
NAME        PROPERTY              VALUE                  SOURCE
tank/JonPC  type                  volume                 -
tank/JonPC  creation              Mon Sep  7 15:37 2015  -
tank/JonPC  used                  792G                   -
tank/JonPC  available             2.01T                  -
tank/JonPC  referenced            18.1G

[2015-09-09 21:03] ryao commented on #1703
I have not looked at this lately, but if hibernation only applies to userland processes, my previous thinking could be wrong and there would be a slim chance that this issue could go away with the following patch:

https://github.com/zfsonlinux/spl/pull/474

[2015-09-09 21:06] ryao commented on #1703
This appears to be a duplicate of #1237.

[2015-09-09 21:08] chrekh commented on #3748
The server is my router&firewall. I can't test right now. I will do
that later and report here. I'm running zfs on one more server that is
not a router&firewall, and that one doesn't crash.

Apparently I'm using SLAB, not SLUB

[code]

I don't know why though. ;) I can try with SLUB to see if it makes any
difference.

Yes

Some times, but not always.

The kernel (I guess)

Gentoo.

[2015-09-09 21:11] ryao commented on #2390
It turned out that *much* more was needed to fix this. With zfsonlinux/spl#474, I am no longer able to cause deadlocks with swap on zvols on rcent kernels.

[2015-09-09 21:12] ryao commented on #1274
With zfsonlinux/spl#474, I am no longer able to cause deadlocks with swap on zvols on recent kernels.

[2015-09-09 21:12] ryao commented on #1602
@behlendorf This should have been fixed in 0.6.4.

[2015-09-09 21:17] ryao commented on #569
@behlendorf #775 did fix this.

[2015-09-09 21:25] behlendorf commented on #569
@ryao thanks.  It looks like there is still some room for improvement here but the basic issue has been resolved.  Closing.

[2015-09-09 21:25] #569 closed

[2015-09-09 21:27] behlendorf commented on #1602
Yup, this was also resolved.  Closing.

[2015-09-09 21:27] #1602 closed

[2015-09-09 21:32] behlendorf commented on #1703
Closing as duplicate of #1237.

[2015-09-09 21:32] #1703 closed

[2015-09-10 00:40] JandelNinja opened #3756 "zpool status shows sd(x) After reboot, Pool Created with by-id"
Hello
I have just installed a fresh Proxmox 3.4.9 system. I created a RAID1 zfs pool with the command.

zpool create -f -o ashift=12 zfspool mirror /dev/disk/by-id/"DRIVE ID" /dev/disk/by-id/"DRIVE ID"

After creating this I ran a zpool status zfspool command.

  pool: zfspool
 state: ONLINE
  scan: none requested
config:

	NAME               STATE     READ WRITE CKSUM
	zfspool            ONLINE

[2015-09-10 07:56] Bronek commented on #3659
@behlendorf any chance of this being included in 0.6.5 ? I have similar performance problem (although to smaller degree) on my zvols

[2015-09-10 08:40] dracwyrm commented on #3754
I tried several things. I switched to ck-sources, mainly because Kernel of Truth on the Gentoo forums says he has good luck with it and is active here as well. I increased the folder watch limit. I just now tried the very latest code in spl/zfs masters. It resulted in very poor performance of the VM. In fact, it was so poor it just went to a black screen then the monitor said no video input.

I re

[2015-09-10 09:27] Bronek commented on #3754
@dracwyrm could you try with virtio HDD in Windows? I.e. attach 2 CD as ahci or ide (one Windows installation and other virtio-win.iso from fedoraproject), and define your virtual HDDs as virtio rather than ahci (or ide), for example:
[code]

This is generated from libvirt definition similar to:

[code]

This is because ahci (and ide) are both known to be rather slow in qemu. Perhaps this poor emu

[2015-09-10 09:40] Bronek commented on #3754
@behlendorf this might be compatibility issue between ZOL and kernel 4.1 , can you try reproducing with newer kernel versions?

[2015-09-10 10:48] Bronek commented on #3756
It seems to be a duplicate of #2944

[2015-09-10 11:52] tjikkun commented on #3733
@behlendorf With that setting it looks like zfs send/receive is not working anymore, or at the very least so slow that it appears stalled. Is this to be expected?

[2015-09-10 13:30] dracwyrm commented on #3754
I changed the HDD from Virtio-SCSI to just Virtio. It's a bit better. Writes are fine, but reading seems to be really slow. Also, it seems like only one program can access the disk at a time, because if two start to read from it, it slows down a lot. Also, the mouse jumps around when there is disk activity. It hasn't slowed to a grinding halt yet, but it does seem to come close.

It's also strange

[2015-09-10 14:09] Bronek commented on #3754
@dracwyrm use triple backtick i.e. "```" before and after section ; see "Markdown supported" on right-top of text box where you write your comments

[2015-09-10 15:53] siebenmann opened #3757 "Illumos #6214, concurrency race in manipulating ARC buffer flags during L2ARC writeout can cause pool corruption"
This is a just-filed Illumos bug where a concurrency race in manipulating hdr->b_flags between L2ARC writeout and ARC eviction can cause corrupt metadata to get written to the primary pool, [Illumos #6214 - zpools going south](https://www.illumos.org/issues/6214). I don't know if this applies to ZoL given the different kernel environments, but ZoL does have the base commit that introduced the prob

[2015-09-10 16:04] behlendorf commented on #3659
@Bronek unfortunately the proposed `60-persistent-storage.rule` patch can't be included in ZFS because it modified files owned by a different package.  You can definitely make the same modification locally to resolve the issue.  As for the 9965059 patch this I have included in 0.6.5 and it should help somewhat, so it may be enough for your situation.

I'm leaving this issue as a reminded to revisi

[2015-09-10 16:06] behlendorf commented on #3733
@tjikkun that's to expected, and I should have mentioned it in my comment, setting this to zero will effectively disabled any send/recv prefetch and that should  be terrible for performance.  Do you try dweeezil's proposed patch?  That should have resolved this issue without any side effects.

[2015-09-10 16:09] redtex opened #3758 "Compression not work with zfs blocksize=4K and zpool ashift=12"
I have two pools: main and backup.
Main pool with ashift=9 hosts VM's and has zvol blocksize=4k compression=lz4.
Backup pool with ashift=12 used to store backup increment copies of VM's

After upgrading my pools to 0.6.4 from 0.6.3 I've noticed, that when I create new backup with zfs send -R | zfs recv, backed up volumes has contrary properties, original zvol:

zfs get used,compressratio,logicalus

[2015-09-10 16:20] behlendorf commented on #3757
We'll definitely want to pull the upstream fix when it's available right away for this issue.  The same kind of race should be possible in ZoL but may be very unlikely in practice.

[2015-09-10 16:30] sempervictus opened #3759 "ZVOLs appearing as drives in Ubuntu's Unity"
Recent changes to ZVOLs seem to have them enumerated via partprobe or similar component such that their partition tables show up in lsblk and the disks now appear in the unity task tray (which in my case added about a dozen disks to the thing and forces a scroll on it). On this particular system, LVMs are not being enumerated due to a filter setting, but it may also cause VG namespace collisions i

[2015-09-10 16:50] dracwyrm commented on #3754
@Bronek I just managed to kill ZFS completely. I recompiled the kernel with Deadline scheduler since I read that it's best for KVM. Apparently not for ZFS as it came to a grinding halt like before. Had to go back to 0.6.4.2 versions to have a working VM. I was using BFQ before as it's default in the kernel. Lesson learned on that one.

[2015-09-10 16:52] Bronek commented on #3659
@behlendorf thanks, yes your commit will be sufficient.

[2015-09-10 16:57] Bronek commented on #3754
I am using deadline scheduler with 0.6.4.2 . Hope the root cause of this is identified, it would be a pity if this behaviour landed in 0.6.5 because we were not able to find the commit which cause it.

[2015-09-10 17:07] dracwyrm commented on #3754
@Bronek Yeah. It would be. I had very high hopes for the new ZVol code which would make VMs a lot faster.
To clarify, when I switched back to 0.6.4.2, I didn't recompile the kernel. I am still on Deadline, so whatever it was that did this really hates Deadline. It might be a starting point, along with why the kernel doesn't boot when SPL and ZFS are compiled into the kernel directly. Hopefully all

[2015-09-10 18:25] fearedbliss commented on #3754
@dracwyrm You should stick to 'noop' for ZFS. Originally I thought BFQ would help but actually it was slower when I ran tests. You can see the results below:

https://bpaste.net/show/7b39c45ce871

[2015-09-10 19:07] Bronek commented on #3754
@dracwyrm good point. I just learned that, if a whole disk is setup for ZFS, it will switch its scheduler to noop even if default is different. However if only a partition is setup for ZFS, it will leave default scheduler. @fearedbliss are you using whole disks for ZFS?

[2015-09-10 19:18] ilikenwf commented on #3755
I've moved back to lvm.

[2015-09-10 19:18] #3755 closed

[2015-09-10 19:30] behlendorf commented on #3759
@sempervictus that's surprising, I didn't expect any change in behavior.  Do you know exactly which patch caused this?

[2015-09-10 20:06] fearedbliss commented on #3754
@Bronek If by whole disk zfs you mean "zpool create tank /dev/sda" then no. I don't want to rely (nor like) GRUB 2. I basically use the concept of whole disk but for partition. Two things, I don't want /boot inside ZFS, also having swap inside of zfs (zvol) causes my server and laptop to crash. Once I removed 'swap' from zfs, my systems magically became completely stable. Layout is as follows:

/d

[2015-09-10 20:13] kernelOfTruth commented on #2435
@zfsbot you mean to ( _really_ ) force umount anyway ?

[2015-09-10 20:15] kernelOfTruth commented on #3755
@ilikenwf on IRC or ZFS related forums, the mailing list you might have gotten a (faster) response

well, now it's too late probably anyway ...

[2015-09-10 20:42] dracwyrm commented on #3754
@Bronek @fearedbliss This is what the system automatically does as I have never messed with setting individual scheduler settings:
cat /sys/block/sd{a,b,c,d,e,f}/queue/scheduler
noop [deadline] cfq bfq
[noop] deadline cfq bfq
[noop] deadline cfq bfq
[noop] deadline cfq bfq
noop [deadline] cfq bfq
noop [deadline] cfq bfq
 sde and sdf are the log and cache drives of ZFS, so I don't know why those ar

[2015-09-10 20:44] fearedbliss commented on #3754
@dracwyrm That's weird that it doesn't switch it, I'm not sure if that is intended but you should file another bug for that.

From the results that I posted above, I wouldn't recommend using BFQ (or any other scheduler other than no-op) if you are using ZFS).

[2015-09-10 21:09] ryao commented on #3757
@behlendorf It requires that the system use L2ARC, which does not get test converage on the buildbot. Consequently, we have no idea how likely/unlikely it is. I think we should revert b9541d6b7d765883f8a5fe7c1bde74df5c256ff6 as a precaution while it is still not in a tagged release.

[2015-09-10 21:48] sempervictus commented on #3759
I'm pretty sure this came out of the recent changes in either ZVOL semantics (@ryao's elimination of an IO layer) or the accounting code. Dont have a specific commit as i only noticed it this morning on the 3rd stack containing ZVOL accounting fixup.

[2015-09-10 22:03] ikogan commented on #3738
That worked, and it looks like it now works, but only with the Linux syntax. The following does not work:

[code]

The following does work:

[code]

[2015-09-10 22:42] kernelOfTruth commented on #3757
Quickly skimming the discussion on https://www.reddit.com/r/sysadmin/comments/1hmvel/zfs_your_worst_experiences/

are there any pointers to the reports ?

What platform this is appear on (mainly Illumos ? *BSD ? ZOL ?) ?

What patchstack ? There were at least 2 subsequent fixes following that referenced commit, which fixed calculation and other problems with the l2arc - but I doubt they change any

[2015-09-10 23:53] behlendorf commented on #3757
@siebenmann thanks for bringing this to our attention.  I think that even though this issue is exceptionally unlikely we need treat this as a blocker for 0.6.5 and delay the release.  @ryao unfortunately we can't easily revert b9541d6 so we'll need to fix the root cause.  Luckily it's my understanding that there's already fix in the works from the illumos guys.

[2015-09-10 23:54] behlendorf commented on #3759
@sempervictus the odd thing is none of those changes should have changed how zvols are presented to the system.  Is it possible there was some change in unity that was made just recently which caused this?

[2015-09-11 00:10] siebenmann commented on #3757
I believe that the current illumos-devel thread discussing the proposed fix for this starts [here](http://comments.gmane.org/gmane.os.illumos.devel/23301), if people want a head start before the fix lands in the illumos-gate repo. [This initial illumos-devel message](http://article.gmane.org/gmane.os.illumos.devel/23221/) describes where to find the original thread with the problem report and disc

[2015-09-11 08:44] FransUrbo commented on #3738
Ah, yes :(.

Since @behlendorf have no real interest in the pull request, that he thinks that the Solaris syntax should be removed (which I don't really object to technically - I don't have a need for it) I had to "cut some corners" to get it to work.

THAT MEANS that unfortunately one now _HAVE_ to start with a "rw[=@xxx]" _OR_ a "ro[=@xxx]" to make sure that anything after that _and up to the ne

[2015-09-11 09:13] tjikkun commented on #3733
No I haven't tried the patch, but I guess it might not be a bad idea. We were just a bit afraid to patch a production system, and I didn't know if the panic was a one-time fluke (before it happened the second time, of course)

[2015-09-11 13:53] ikogan commented on #3738
It doesn't matter to me at all, so long as one of the two works. I was just pointing it out to be thorough. I think it makes sense for the Linux usage to work on Linux though I understand the usefulness of being able to move a filesystem to Solaris or BSD and have properties that continue to work.

On the other hand, it seems a little scary that my filesystem will automatically start sharing itsel

[2015-09-11 14:49] dasjoe commented on #3758
So your backup pool uses ashift=12, which makes its minimal block size 4k.
You obviously can't gain anything from compression, other than skip writing whole blocks due to the obligatory ZLE pass when any kind of compression is enabled.

[2015-09-11 17:17] Zhro commented on #3687
No. Swap is on the primary disk which contains only / and swap. Everything outside of the standard distro files are run from the /data pool.

The primary disk is a 120GB SSD with nothing but the core OS and swap for IOPS.

[2015-09-11 20:10] dracwyrm commented on #3754
@fearedbliss Setting all drives to noop did not help at all. I switched back to v0.6.4.2 and switched the sde/sdf to noop and v0.6.4 does perform a bit better now. So, same exact kernel, same scheduler, just two different versions of ZFS/SPL. The latest makes the VM so slow that it stalls out and virt-manager thinks the VM is in paused mode, but can't be unpaused.

I will file a separate bug repor

[2015-09-11 20:21] #3757 closed

[2015-09-11 20:27] dracwyrm opened #3761 "Log/Cache on separate drives are not set to noop."
On a default install of spl/zfs, the drives that contain the storage part of a pool have their schedulers set to noop. However, if you have the log and/or the cache on a separate drive, those drives are not set to noop. For example, my layout is as follows:

[code]

The defaults that are set are as follows:

[code]

I added the drive for easier reading. I need to manually set sde/sdf to noop.

Thi

[2015-09-11 20:52] FransUrbo commented on #3738
@ikogan Ok, since we can consider this fixed and that it isn't really a problem with "zfs" (this repo - it should have been moved to https://github.com/zfsonlinux/pkg-zfs but I forgot), can you please close this issue?

[2015-09-11 20:53] FransUrbo commented on #3738
@ikogan _IF_ @behlendorf decide to act on the PR, I'm sure we can work something out on your notes on it (I have marked them as TODO in the source). But we'll do that in the PR, not here...

[2015-09-11 21:45] chrekh commented on #3748
I have now observed a crash when booted with slub_debug=FZ
No kernel-messages was left on file after chrash, and SYSRQ didn't work.

Content of /proc/slabinfo a few minutes before crash.

[code]

But. I no longer think that this has anything at all to do with zfs.

I found this when searching for "contrack" in kernel commits

And I have been seeing those "nf_conntrack: table full, dropping packet"

[2015-09-11 22:43] fling- commented on #3758
@redtex compression works just fine but you are getting a lot of overhead by padding with such small volblocksize set.

[2015-09-12 00:43] ilovezfs opened #3762 "zfs(8) incorrect description of zfs unmount -a"
The error is here:
https://github.com/zfsonlinux/zfs/blob/058ac9ba7811baea78a47ba1ead8acd7512684b6/man/man8/zfs.8#L2034-L2038
(Unmount is part of shutdown not boot.)

illumos has recently corrected the error here: https://github.com/illumos/illumos-gate/commit/b3cff10cdd26674d8dc66e0b349fd185df709fad

[2015-09-12 07:04] #3738 closed

[2015-09-12 07:21] ikogan commented on #3738
For the moment I've decided to handle this by augmenting OpenMediaVault's ZFS support (https://github.com/OpenMediaVault-Plugin-Developers/openmediavault-zfs/pull/1) so I don't yet have to rely on `sharenfs`. When there's a clearer direction on this, I'll update the plugin to do whatever the best practice ends up being.

Thanks again for all of your help!

[2015-09-12 11:19] chrekh commented on #3748
Yes that was it.  Sorry for the noise.

[2015-09-12 11:19] #3748 closed

[2015-09-12 16:34] tuomari opened #3766 "Processes stuck in D-state with xattr=sa"
Running dehacked/dehacked-bleedingedge3 commit edf4a78

I got processes stuck in D-state with the following stack traces. Only one filesystem is stuck and other volumes and filesystems are working fine. All processes trying to access the volume get also stuck.

[code]

Access to the volume produce the following

[code]

[code]

[2015-09-12 20:08] dracwyrm commented on #3754
Just for grins, I tried 0.6.5 with the same results. Then I tried a 4.2 kernel and the results were even more disastrous. The video wouldn't even come on and virt-manager reported high cpu usage. I'll double check my config to see if anything was missed. I did switch the 4.2 config to a noop only configuration.

[2015-09-12 21:38] redtex commented on #3758
Understood, thank you.

[2015-09-12 21:38] #3758 closed

[2015-09-12 21:39] redtex opened #3767 "iostat on zvol"
Hi !!

After upgrade from 0.6.4 to 0.6.5 I have noticed, that iostat shows zeroes for zvols, but earlier it does like for any other disk device.... Is it a bug, or something ?

Regards, Vadim

[2015-09-13 00:30] ryao commented on #3767
Support for iostat on zvols on kernel versions before 3.19 was dropped because the kernel symbols necessary to maintain it in the new, more performing, zvol implementation did not exist until Linux 3.19. It should be possible to restore by backported get the required patch to an older kernel and rebuilding:

https://github.com/torvalds/linux/commit/394ffa503bc40e32d7f54a9b817264e81ce131b4

[2015-09-13 05:21] kgunders opened #3768 "/var dataset requires legacy mount on systemd based distros."
When separating out /var and NOT using legacy mounts, journald writes to /var before zfs has initiated/mounted it.  Hence, zfs will subsequently be unable to mount /var, as it now contains existing data.  Note that I've not tested this very thoroughly, and it has been some years since I used zfs (so maybe I'm out in left field here....) but that sure looks to be what is happening.

[2015-09-13 11:40] Lalufu commented on #3538
This happens because the old version source trees are not installed any more, but the old version DKMS build directories (/var/lib/dkms/spl/0.6.4.1 for example) still contain a symlink (source) to them. This symlink is now broken, and this seems to confuse DKMS to no end.

It seems to be sufficient to just remove the symlink file to make DKMS happy again. This could be done in the %post section of

[2015-09-13 12:35] redtex commented on #3767
Thanks !!
Sorry for my inattention in reading release notes.

[2015-09-13 12:35] #3767 closed

[2015-09-13 16:27] ronnyegner opened #3770 "Feature Request: New checksum algorithms in ZFS"
Hi,

can we also have the new checksum algorithms proposed here:

http://lists.open-zfs.org/pipermail/developer/2015-June/001509.html

Thanks

[2015-09-13 16:49] kernelOfTruth commented on #3770
Haven't seen it turn up at illumos-gate yet

https://www.illumos.org/issues/4185 add new cryptographic checksums to ZFS: SHA-512, Skein, Edon-R
https://reviews.csiden.org/r/223/ 4185 add new cryptographic checksums to ZFS: SHA-512, Skein, Edon-R

[2015-09-13 17:18] bjin opened #3771 "Allow null pointer as mount syscall options"
I find that `docker` is not working properly with `zfs 0.6.5` (See docker/docker#16258). The docker daemon log shows that `mount` failed with `EINVAL` for a newly created `mountpoint=legacy` dataset.

I write two simple program in `C` and `Go`, and it turns out that while `mount("zroot/test", "/tmp/test", "zfs", 0, "")` would succeed, `mount("zroot/test", "/tmp/test", "zfs", 0, NULL)` will trigger

[2015-09-14 01:07] hydrosIII commented on #2505
Hi, Im tryiing to run zfs and pax together using grsecurity in debian Jessie.

An acceptable workaround to this issue maybe the following: Build zfs module using normal kernel, then reboot to switch to the new kernel, with grsecurity.

Or, set up a build server to construct kmod debian packages, and install them in the new kernel without building them directly using a PAX enabled kernel. Would thi

[2015-09-14 04:28] dweeezil commented on #3752
The atomic operations performed by ```crhold()``` and ```crfree()``` (actually by the kernel support they rely on) were found to be taking over 5% of the CPU time on this benchmark.  See dweeezil/zfs@db3d7c7 for a patch to remove them.

[2015-09-14 12:37] gofman commented on #3111
I am having the same error message:
space map refcount mismatch: expected 369 != actual 273

zdb -mc reports that nothing leaked (and the same refcount mismatch at the end)

I found the discussion of the same issue here: https://forums.freenas.org/index.php?threads/problems-with-freenas-9-2-1-5.20879/

Citation:
"dlavigne, Jun 10, 2014

I asked our in-house ZFS guru who said:

We have never seen t

[2015-09-14 13:45] ryao commented on #3768
systemd will need something like 3f1cc17c9005d19faba91fe7236332ed502b1a3f to address this.

[2015-09-14 14:36] inkdot7 opened #3774 "l2arc fully aggressive settings?"
I am trying to use ZFS as a replacement for a low-latency file system
built with MD mirror raid of SSD and (a few) HDDs for resiliency.  By
using the MD option write-mostly, all reads are served by the SSD with
low latency and high bandwidth.  (As long as the SSD is alive :) )

I have not been able to find an option to tell a ZFS mirrored pool to
serve all reads by some specific disks (the SSDs).

[2015-09-14 15:53] ptx0 commented on #3774
Please close this and use the mailing list for general discussion -> http://list.zfsonlinux.org

[2015-09-14 15:57] inkdot7 commented on #3774
Ok, I will.  But one could see it as a bug also: why does L2ARC drop entries when it has free space?

[2015-09-14 16:16] irconan commented on #3644
Looking at this with relatively little prior knowledge it seems to me that zpl_xattr_set should probably always update ctime.

[2015-09-14 19:12] angstymeat opened #3776 "Snapshots mounted over NFS do not unmount"
I installed 0.6.5 on one of our file servers today, and tried out the new ability to look at a snapshot over NFS. That worked fine.

The server mounted the snapshots locally and the ycould be read from the remote client, however the server is never unmounting the snapshots. I have autofs set for a 300 second timeout, and this last time I've waited for 45 minutes. The user that mounted the snapshot

[2015-09-14 19:40] angstymeat commented on #3776
And now, for some reason, everything is unmounting correctly now. It didn't start working until after ```zfs-auto-snapshot``` ran, though.

[2015-09-14 20:03] abraunegg commented on #3767
Given also the history behind bio.c moving from fs to block the git patch does not apply cleanly to a kernel tree (https://github.com/torvalds/linux/commits/master/block/bio.c) however the following patch applies cleanly to 3.14.52:

[code]

After rebuilding my kernel locally:

[code]

[2015-09-14 21:08] #3021 closed

[2015-09-14 22:30] ryao opened #3777 "zfs-import script does not honor the cachefile"
A pool should not be imported unless it is already imported on the system in the cachefile to avoid issues with multipath. I had not scrutinized the zfs-import script too closely when @FransUrbo proposed it and unfortunately, this got by me. Another Gentoo developer who setup a system with a separate pool for /home has the boot process breaking on him because the script is not finding it, but if t

[2015-09-14 23:22] lazy404 opened #3778 "Snapshot automount fails under chroot"
Sep 14 18:31:36 www kernel: WARNING: Unable to automount /.zfs/snapshot/test/wwwpool/lazydev_zfstest@test: 512

wwwpool is mounted under /home/www, the process is chrooted at /home/www/lazydev_zfstest

full_path should be /home/www/lazydev_zfstest/.zfs/snapshot/test but is /.zfs/snapshot/test
https://github.com/zfsonlinux/zfs/blob/master/module/zfs/zfs_ctldir.c#L691
called by
https://github.com/zf

[2015-09-15 00:23] don-brady opened #3779 "Metadata Allocation Class"
Intel is working on ways to isolate large block file data from metadata for ZFS on Linux. In addition to the size discrepancy with file data, metadata often has a more transient lifecycle and additional redundancy requirements (ditto blocks). Metadata is often a poor match for a RAIDZ tier since it cannot be dispersed and the relative parity overhead is high. A mirrored redundancy is a better choi

[2015-09-15 00:34] DeHackEd commented on #3779
I swear someone else was working on a metadata-specific vdev for much the same purpose.

[2015-09-15 06:32] inkdot7 commented on #3774
sent to zfs-discuss

[2015-09-15 06:32] #3774 closed

[2015-09-15 07:29] koraa commented on #1071
@kpande How do the penalties compare? How much penalty would you suffer from with lazy dedup?

[2015-09-15 08:04] GregorKopka commented on #3699
I think the problem is that the root filesystem (which should in my experience never ever be used for anything but as a container for datasets) is special - and was replaced by the zvol through the recv.

The general problem is that the root filesystem (the one created with the pool) is special in that way, which opens ways to paint oneselves into a corner: It can neither be renamed (since it's li

[2015-09-15 09:08] FransUrbo commented on #3777
I'm not exactly sure I understand what you're saying… Are you saying that it imports the pool TWICE?!

[2015-09-15 10:44] hhhappe opened #3780 "0.6.5-1 fsync performance regression"
After upgrading to 0.6.5-1 fsync's are really slow. Ex.:

dd if=/dev/zero of=/zfs/t0 bs=1M count=128 conv=fsync
128+0 records in
128+0 records out
134217728 bytes (134 MB) copied, 11.0608 s, 12.1 MB/s

With 0.6.4-2 this was ~800MB/s. This is an 18 disk raidz2.

I've tried to create smaller raidz2, raidz, mirror and no redundancy. Only single disk and mirrored filesystems are giving more than 100MB

[2015-09-15 10:52] Bronek commented on #3780
Which kernel version?

[2015-09-15 11:00] Bronek commented on #3777
@ryao I think you meant to say "A pool should not be *auto* imported , unless it was imported previously and such fact has been persisted in cachefile" . At least, this is what your justification seem to point to. However, this would prevent auto importing of pools which are not configured to use cachefile, or are configured to use non-standard location of a cachefile.

[2015-09-15 11:12] hhhappe commented on #3398
0.6.5-1 solved this for the single disk case and mirror. However, ext4 is still faster.

EXT4
single SSD: ~80us
MD mirror: ~80us

ZFS
single SSD: ~120us
mirror: ~180us
single rust: 8.5ms
18 disk raidz2: sometimes ~70ms, sometimes ~250ms.

So, multiple disk is not so good.

[2015-09-15 11:13] hhhappe commented on #3780
See last part of message.

[2015-09-15 13:09] maci0 opened #3781 "Fedora 23 Repository"
Fedora 23 already has pre-releases. The zfsonlinux repo should be updated as well.
I still think ZoL should try to provide the new repo as soon as Fedora branches rawhide into the next release tree, maybe even provide ZoL for rawhide as well. That way early adopters/testers have an easier way to upgrade and maybe discover bugs with new toolchains or kernels in combination with ZoL way before stuff

[2015-09-15 13:31] ryao commented on #3777
@FransUrbo The import/export is not like mounting or RAID assembly. An import says "this pool belongs to this system, so do not touch it" while an export says "this pool no longer belongs to this system and is fair game". The way that the import persists across reboots is by something called a verbatim import, which reads the details of the imported pools from the cachefile.

@Bronek People have t

[2015-09-15 13:46] ryao commented on #3780
This is likely a regression caused by the following:

https://github.com/zfsonlinux/zfs/commit/b39c22b73c0e8016381057c2240570f7af992def

That improves latencies, but likely had the effect of hurting though-put. We likely need to revisit this.

That said, I am surprised to hear that fsync was so fast with 0.6.4 in this setup. Unless sync=disabled is set, I would definitely not expect to see 800MB/s

[2015-09-15 13:55] ryao commented on #3780
We probably need to examine things, but just as a point of reference, here are figures from my workstation, which has a mirrored pair of Intel 730 SSDs, uses Linux 4.1 and everything is on ZFS with compression=lz4 and dedup=on:

[code]

There is definitely room for improvement (15.2MB/sec is too slow), but the compression's zero detection meant that no data blocks actually had to be written.

[2015-09-15 14:02] tjikkun opened #3782 "/etc/sysconfig/zfs overlay option has changed"
In commit 2a34db1bdbcecf5019c4a59f2a44c92fe82010f2 the option that has to be set in /etc/sysconfig/zfs to allow overlay mounts has changed. It used to be: DO_OVERLAY_MOUNTS=1 but now it is OVERLAY_MOUNTS=yes
What makes it extra confusing is that the file now lists DO_OVERLAY_MOUNTS='no' by default.
Changing this to yes doesn't work, you actually need to change it to OVERLAY_MOUNTS='yes'

[2015-09-15 14:13] ryao commented on #3780
I just did a flame graph analysis of the urandom case. It is CPU bound by the random number generator. If I adjust for that by copying the random output to a tmpfs, my system becomes bandwidth limited and I see realistic performance numbers:

[code]

[2015-09-15 14:31] SenH opened #3783 "Removing extended attribute fails"
Upon backing up with rsync I encountered the following error:
[code]
spl module:     0.6.4-26_gd4bf6d8 @ 3.13.0-62-generic
zfs module:     0.6.4-231_g9965059 @ 3.13.0-62-generic
[code]

[2015-09-15 14:41] SenH commented on #3783
Specifying a new value for the existing attribute gives a strange result:
[code]

[code]

[2015-09-15 15:00] FransUrbo commented on #3777
Still don't get it…

That require the first cache file to be accurate. AND up to date! Which is the problem, they seldom are, which is why people are having problem with this. And why we want to remove it...

If the first cache file is accurate enough to import the pool, there's no NEED to get a second cache file and import it again. If the import was successful the first time, there's no need to

[2015-09-15 15:02] hhhappe commented on #3780
@ryao: You just had me question my understanding of conv=fsync, so i did a quick strace. It only does one fsync as I expected.

This is plain LSI SAS hardware (Dell MD3060e and 9207-e8) and Seagate ST6000NM0034 disks.

To get to 800MB/s I need to adjust zfs_vdev_sync_write_max_active up. Without fsync these 18 disks can at times reach 3GB/s.

[2015-09-15 16:29] smaurin commented on #3297
0.6.5 seems to correct this bug.

[2015-09-15 17:31] FransUrbo commented on #3782
Oups! Don't know why I missed that. Fixed in #3559 (which also includes a whole bunch of other fixes as well) which I hope @behlendorf can have time to review quite soon.

[2015-09-15 18:38] Bronek commented on #3777
@ryao I do not have cachefile, and yet it works:

[code]

[2015-09-16 02:21] grahamperrin commented on #3779
@DeHackEd I have seen writings about the *concept* but FWIW, no recollection of anyone else *working* on it in an open source area.

Found today: https://github.com/zfsonlinux/zfs/issues/1071#issuecomment-10249646 mentioning tegile, and Google finds e.g.:

* http://www.tegile.com/blog/hybrid-unified-optimized-storage/ "… To the ZFS core they add a sophisticated in-line deduplication and meta-data

[2015-09-16 02:56] ryao commented on #3780
@hhhappe I had not realized that `conv=fsync` only did one `fsync()` call. Thanks for the correction.

To what value are you setting `zfs_vdev_sync_write_max_active`?

[2015-09-16 04:32] behlendorf commented on #3762
Yup, thanks.

[2015-09-16 04:34] behlendorf commented on #3748
@chrekh great news.  Thanks for closing the loop with us and closing out the issue.

[2015-09-16 04:49] behlendorf commented on #3771
@bjin this was done intentionally to ensure certain hints were passed via mount options to the kernel via the mount helper.  Assuming NULL was invalid was a convenient way to simplify the code.  I didn't expect this to be an issue because I wasn't aware of any applications which bypassed `mount.zfs`.  We can certainly allow a NULL here but I'm curious why docker is bypassing the helper.  Without i

[2015-09-16 04:53] perfinion commented on #2505
@hydrosIII no, i think the modules have to link to the exact kernel in question so you cant really build for one kernel and use in another.
That being said, now there has been a new tag I think its time I properly revisit this and try and get it merged, this issue has been open for quite a while now.

[2015-09-16 04:59] behlendorf commented on #3752
Ouch, nice find.  I'll need to take a more careful look at the credential interface in Linux but I suspect we may be able to get away will directly calling `current_cred()` and passing it in without the holds.  Since we're in a system call and we're getting the credentials for the current process they must remain valid for the life of the system call.

[2015-09-16 05:58] Pentium100MHz opened #3784 "zfs 0.6.5 not in Debian (jessie) repository"
Hi,
For some reason the new version is not in Debian repository.

[code]
Do I need to add a new repository or is the new version going to be in the same repository as 0.6.4?

[2015-09-16 06:30] aderouineau commented on #3771
@behlendorf, The following 2 points in docker/docker/issues/16258 should be of interest.

@Mic92 mentions that:

@bjin referenced the following snippet from https://github.com/golang/sys/blob/master/unix/syscall_linux.go#L821

	// them an empty string of data, rather than NULL.

[2015-09-16 06:42] Mic92 commented on #3771
mount.zfs could be an option, since it supports selinux.
I will try this one. Do you know, if this is also part of other zfs distribution such as freebsd?

[2015-09-16 07:35] hhhappe commented on #3780
Hmm, the zfs_vdev_sync_write_max_active increase helped for 0.6.3, but 0.6.4.2 performs without. It helped for files writes ending with fsync.

[2015-09-16 07:43] 0xFelix opened #3785 "system freezes when zfs is waiting for disks to spin up"
I observed the following, not quite 100% sure if the problem is the spindown:

My system freezes when zfs waits for disks to spin up after updating to 0.65.
I have a RAIDZ2 with 6 disks, that go to sleep after 1 hour of idling.
With 0.64 everything worked kind of fine, waiting for the data of the pool to become ready after the disks spun up already took quite an amount of time, but it worked.
Now

[2015-09-16 08:00] Der-Jan opened #3786 "Kernel panic on Ubuntu - zfs 0.6.5-1~trusty"
After updating to zfs 0.6.5 on my Ubuntu server, I get a kernel panic each morning. I think it might be related to mlocate. I've disabled it for the moment - but I haven't had any issues before.
	[84255.374379] CPU: 0 PID: 15716 Comm: updatedb.mlocat Tainted: P           OX 3.13.0-63-generic #103-Ubuntu
	[84255.401492] Hardware name: Supermicro X9SRE/X9SRE-3F/X9SRi/X9SRi-3F/X9SRE/X9SRE-3F/X9SRi/X9

[2015-09-16 10:11] nedbass opened #3787 "ZFS uses directory-based xattrs despite xattr=sa"
ZFS uess a directory-based extended attribute even when the `xattr=sa` dataset property is in effect. This is a regression in 0.6.5 introduced by commit 0282c4137e7409e6d85289f4955adf07fac834f5. The example commands below demonstrate the issue.

[code]

[2015-09-16 11:09] mw171 opened #3789 "zfs send - quota bug - userused underflow"
hi,

there seems to be a bug in the userused computation under 0.6.5:

[code]

Regards,
Martin

[2015-09-16 12:09] discostur commented on #2934
Hello,

i'm having the same issue - im running ZFS 0.6.5 on CentOS 7.1. After rebooting the system i'm trying to import the pool. Pool import works:

<pre>
  pool: dpool01
 state: ONLINE
status: Some supported features are not enabled on the pool. The pool can
	still be used, but some features are unavailable.
action: Enable all features using 'zpool upgrade'. Once this is done,
	the pool may no l

[2015-09-16 14:50] kernelOfTruth commented on #2934
@discostur how full, empty is your pool ?

[2015-09-16 15:10] Zhro opened #3790 "Question regarding updating zfs and concurrent kernel updates"
When updating zfsonlinux for CentOS 7 from a yum update, do I have to worry about pools going offline during this process? Should I export all pools before performing an update?

If I peform a yum update from 6.4 to 6.5 which also includes a kernel update, zfs will build for the currently loaded kernel. When I reboot do I then have to then reinstall zfs for it to recompile the LKM?

[2015-09-16 15:53] kernelOfTruth commented on #3770
https://github.com/illumos/illumos-gate/commit/45818ee124adeaaf947698996b4f4c722afc6d1f

[2015-09-16 16:04] rafi-stratoscale opened #3791 "Deadlock on concurrent snapshot/rename"
It seems like there is a deadlock in case of concurrent snapshot and rename operations.
I am using 0.6.3 stable ( 0.6.3-1.3 ) on CentOS 7.
The issue is very similar to the one described in #2654.
However, I have checked the proposed fix https://github.com/ryao/zfs/commit/87ddec837b68c24554bd72c2d6c38f97b6e8738c
and it does not solve the issue (probably due to the fact that the fix
affects dls_data

[2015-09-16 18:27] gdevenyi commented on #3297
Doesn't' seem to have solved my problem on 14.04.3. Right now, ZFS imports on the /dev/mapper/* interfaces, so at least its doing multipath, buy it's not using my vdev_id.conf names

[2015-09-16 18:40] FransUrbo commented on #3297
To do that, don't you have to use <code>/dev/disk/by-vdev</code>?

[2015-09-16 18:44] gdevenyi commented on #3297
Yes, I have:

vdev_id.conf
[code]

And /dev/disk/by-vdev is properly populated once the system is running:
[code]

By the zpool is imported on the entries in /dev/mapper, rather than the vdev entries.

[2015-09-16 18:51] FransUrbo commented on #3297
What I meant was, that you might have better luck running:

[code]

[2015-09-16 19:46] behlendorf commented on #3780
@hhhappe did the strace show all the time being spent in the call to fsync?

[2015-09-16 20:24] gdevenyi commented on #3297
Sure, I can do that, but my issue is that it doesn't work properly during boot.

I originally created this array using by-vdev devices and if I import after boot things are fine.

[2015-09-16 20:48] bprotopopov commented on #3681
Hope to be done by end of week

[2015-09-16 21:52] discostur commented on #2934
@kernelOfTruth

my pool is quite empty:

NAME                                                           USED  AVAIL  REFER  MOUNTPOINT
dpool01                                                       59,2G   840G  6,55G  /dpool01

[2015-09-17 02:37] lihui2090 commented on #3711
I find a  question in test .
when i  transfer many files to server ,the spl_kmem_cache hold the cpu .
![zfstest](https://cloud.githubusercontent.com/assets/13795209/9923469/e51adfe6-5d27-11e5-8a53-cdc6d8df8d63.png)

[2015-09-17 04:42] MrStaticVoid commented on #3777
I agree with @ryao.  This is of particular important when you consider a SAN environment, where a pool may be visible to multiple hosts (this is very common in virtualization environments, and for certain high-availability setups).  You do not necessarily want the first system to boot to grab all of the visible pools.  Hosts should consult the cache to determine which pools should be imported at b

[2015-09-17 04:50] chrisrd commented on #2934
@discostur The `zfs_unlinked_drain` in your stack trace identifies the likely issue: when mounting, ZFS will clean up files removed before the previous unmount but not yet completely removed (see `module/zfs/zfs_vfsops.c:zfs_sb_setup()` if interested). I've had systems sit in that state for many, many hours. There's nothing to do but wait for it to finish.

[2015-09-17 06:53] siebenmann commented on #3790
The following is based on my experience on Fedora, but I believe it should work the same on CentOS 7.

If you use DKMS-based ZoL packages, the *current* ZFS and SPL modules will be automatically rebuilt for the new kernel when you install a kernel update. This assumes that all goes well; you should watch the yum output during the update for any indication of problems (such as error messages from d

[2015-09-17 07:05] siebenmann commented on #3742
If the destination filesystem is mounted, there is at least one ZFS feature that can cause immediate divergence between snapshots and the mounted filesystem: ZFS delete queues, which are used to handle the case of when a currently open file has been deleted. The snapshot captures the current state of the filesystem's delete queue, the send | receive transfers it, and then on the destination ZFS se

[2015-09-17 09:18] agijsberts commented on #3784
The right place to discuss this would probably be the packaging repository in https://github.com/zfsonlinux/pkg-zfs. Checking the releases thus far on https://github.com/zfsonlinux/pkg-zfs/releases it seems that 0.6.5 has been made available for Ubuntu but not yet for Debian.

[2015-09-17 10:43] DeHackEd commented on #3790
Note that this is a bug tracker, not a support forum. This question is better suited for the mailing list. Please close this issue.

[2015-09-17 11:10] Pentium100MHz commented on #3784
Sorry, I didn't know the packages were a separate thing.

[2015-09-17 11:34] rafi-stratoscale commented on #3791
It seems to me that the deadlock is between threads 1 and 3.
Thread 1 takes zvol mutex and then tries to lock the dsl_pool.
Thread 3 takes the same locks, just in reverse order.

[2015-09-17 13:18] FransUrbo commented on #3784
Done. <code>0.6.5-1</code> is now available for both Wheezy and Jessie. Both Released and Dailes.

Please close this.

[2015-09-17 15:32] alexanderhaensch opened #3792 "0.6.5 PANIC at zfs_uio.c:187:uio_prefaultpages()"
upgraded from 0.6.4.2 to 0.6.5 and recieved kernel panics occuring when  ESET Remote Administrator Software starts:

[  431.936604] PANIC at zfs_uio.c:187:uio_prefaultpages()
[  431.936686] Showing stack for process 20921
[  431.936688] CPU: 13 PID: 20921 Comm: RDSensor Tainted: P           O 3.14.51-hardened #1
[  431.936690] Hardware name: Supermicro X9DR3-F/X9DR3-F, BIOS 3.0a 07/31/2013
[  431.

[2015-09-17 15:37] alexanderhaensch opened #3793 "0.6.5 iSCSI target very slow and unresponsive"
The iSCSI target used by VMware esxi seems to work but the performance is so slow that the virtual machines running become unresponsive and boot very slowly.
dmesg is full of errors like this:
[11334.299177] TARGET_CORE[iSCSI]: Detected NON_EXISTENT_LUN Access for 0x0000004c
[11334.299466] TARGET_CORE[iSCSI]: Detected NON_EXISTENT_LUN Access for 0x0000004d
[11334.299769] TARGET_CORE[iSCSI]: Detect

[2015-09-17 15:47] hhhappe commented on #3780
The strace spends almost all of the time in fsync. One 128x1M run gave ~200us per write and 12s in fsync.

[2015-09-17 15:52] danBhentschel opened #3794 "auto-unmount race over NFS"
### Pastebin of the `dmesg` error: http://pastebin.com/cTVbu2kY

    $ uname -a
    Linux zfsman 3.13.0-63-generic #103-Ubuntu SMP Fri Aug 14 21:42:59 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Running in a VM under Xen, with ZFS 0.6.5-1:

    $ apt --installed list | grep -e zfs -e spl

    dkms/trusty,now 2.2.0.3-1.1ubuntu5.14.04.1+zfs10~trusty all [installed,upgradable to: 2.2.0.3-1.1ubuntu5.14.0

[2015-09-17 17:41] danBhentschel commented on #3794
More info: This is likely related to accessing snapshots via NFS. I started doing that for the first time today, and the system crashed again just a few minutes ago. I will avoid snapshots via NFS for now and see if things seem more stable.

 - dan

[2015-09-17 17:59] alexanderhaensch commented on #3780
I can confirm this on my system too:

### with lz4 compression
#### with fsync
134217728 bytes (134 MB) copied, 0.175775 s, **764 MB/s**
#### without fsync
134217728 bytes (134 MB) copied, 0.072671 s, **1.8 GB/s**

### without compression
#### with fsync
134217728 bytes (134 MB) copied, 4.12551 s, **32.5 MB/s**
#### without fsync
134217728 bytes (134 MB) copied, 0.0699792 s, **1.9 GB/s**

### With

[2015-09-17 18:18] baitisj commented on #3066
I can confirm that this bug exists in FreeBSD 10.2.

[2015-09-17 19:06] Ringdingcoder commented on #2597
It turns out that the previous zdb output was misleading because I used it on the wrong file system – the root of the pool instead of the child on which I ran the diff :)

Having read the opensolaris thread from 2012 linked above, it seems like a wrong parent pointer is indeed causing this. Object 21 is a file object created in 2009, shortly after I originally created the pool. Its parent points t

[2015-09-17 19:42] Ringdingcoder commented on #2597
Very good, it does not hang anymore after the upgrade. It behaves the same as (a somewhat outdated) illumos now. That still does not make zfs diff usable for me, but at least it does not lock up everything.

[2015-09-17 21:11] kpande commented on #3525
I host the ML, it seems this is working now. I don't know what the issue is. Maybe Google :-) :+1:

[2015-09-18 01:34] ryao commented on #3791
Thanks for reporting this. This should still be a problem in the current release. The project lead is away and I have my hands tied this week, so unless someone else grabs it, we will likely not be able to look into this until next week at the earliest. @behlendorf should add this to the milestone for the next release when he returns next week.

[2015-09-18 02:05] #3790 closed

[2015-09-18 04:32] wgogan commented on #2680
I'm experiencing this too.. here's what I get:
[code]

[code]

[code]

Hope this helps in tracking it down. I've tried various remove/purge/reinstall combinations, and nothing has managed to get this working for me yet on Debian.

[2015-09-18 05:26] wuffleton opened #3796 "ZFS Panics with PAX Patch/Grsec (Related to SLAB_USERCOPY)"
Hello. I'm finding myself getting kernel panics as soon as I try loading zfs under a hardened kernel (linux-grsec on Arch Linux). I've asked over at the Grsecurity forums since the panic was a security feature being tripped, and the PAX team says that it's because the slab cache is not marked with SLAB_USERCOPY.

In my searching, issue #2977 may be relevant to this problem.

Grsecurity Thread: htt

[2015-09-18 06:22] #3784 closed

[2015-09-18 08:44] kaazoo commented on #3652
I'm experiencing a similar situation. In a system with multiple I/O errors on different harddrives, `txg_sync`, `spa_async` and `zpool` (doing `watch zpool status` while resilvering) lock up:

[code]

After that `z_null_int` runs at 100 % CPU. According to `iostat` there still seems to be I/O happening, so the resilvering process might still run.

OS: Ubuntu Linux 14.04 LTS x64
ZFS: 0.6.5-1~trusty

[2015-09-18 09:31] tjikkun commented on #3789
We are seeing this bug as well, except in our case I don't know exactly how to reproduce it. It looks like it happens when files are added/removed and then in some cases userused is decremented to much, or it is not incremented enough when it should. But, like I said, unfortunately at this moment I am not sure how to reproduce. It is a very big problem however, as more and more of our users are ge

[2015-09-18 12:51] gbooker commented on #3785
I'm experiencing the exact same thing, though in my case it is a 2 disk mirror on USB disks.  Since upgrading to ZFS 0.6.5, I've had 7 hard-lockups in 36 hours.  In my case, the hdparm command to stop the drive sleep seems to not work.  Each time the machine is locked up, one drive in the mirror seems to have spun up, but not the second.  It's as if it triggered the spin up on one drive, then proc

[2015-09-18 13:47] DeHackEd commented on #3789
I'm also seeing it on a few datasets.
<pre># zfs userspace rubyweapon/home/dhe/private -p
TYPE        NAME                  USED  QUOTA
POSIX User  root  18446744073708409344   none
POSIX User  dhe            4818886144   none
</pre>
Which is about equal to `-1142272` for the root user.

I went through snapshots looking for something a possible time indicator of when the issue began. The most rece

[2015-09-18 15:23] dweeezil commented on #3789
The culprit is 5f8e1e8.  It causes the accounting to be skipped for object creation during ```zfs receive```.  Pinging @nedbass.

[2015-09-18 16:22] Blackclaws commented on #2680
I have the same problem I set up a brand new debian jessie on my new server and tried to install debian-zfs it didn't work with similar errors. I'm going to post my errors to see if that can help anyone track the error down:

DKMS: install completed.
Setting up menu (2.1.47) ...
Setting up spl (0.6.5-1) ...
Setting up zfsutils (0.6.5-3) ...
update-rc.d: warning: start and stop actions are no longe

[2015-09-18 17:10] ryao commented on #3754
@dracwyrm I regret that we did not identify the cause of this issue before 0.6.5 was tagged. This appears to be a critical data loss issue that is the first in the project's history. What happens is that there is a bug on non-aligned discard requests where ZoL will try to truncate them to block boundaries, but the size is not updated, so it effectively rounds the request up to a block boundary. If

[2015-09-18 17:28] dweeezil commented on #3789
I did a bit of digging to get to the root cause.  The ```dbuf_try_add_ref()``` function requires a dbuf's refcount to be greater than its dirty count in order to be successful.  In this case, ```restore_object()``` has called ```dmu_buf_will_dirty()``` in the context of the ```zfs``` program which ultimately adds a reference and results in both the refcount and the dirty count being set to 1.  Whe

[2015-09-18 18:13] Bronek commented on #3754
@ryao can you explain what configuration would trigger or (otherwise) suppress occurrence of this bug? FWIW I have not noticed any performance or other problem when using VMs on zvols under 0.6.5 , example configuration
[code]

[2015-09-18 18:23] Bronek commented on #3777
it makes sense, I was thinking about using hostid (you could mount read-only, compare hostid stored in the pool and then mount if its yours) but then it occurred to me that, I'd rather get rid of hostid and keep cachefile than other way around.

[2015-09-18 18:30] FransUrbo commented on #3777
if all you want to do is ignore ("not import") certain pools, use <code>ZFS_POOL_EXCEPTIONS</code>. That currently takes the name(s) of the pool(s), but it could very easily be extended to account for <code>*</code>.

[2015-09-18 18:31] FransUrbo commented on #3777
I still have no idea what this ticket is about! Nothing in the comments by @ryao makes any sense… !

[2015-09-18 18:46] erkston commented on #3794
I'm also getting lockups on seemingly any access after updating to 0.6.5.  The system completely locks up until a reboot, after which it seems fine until accessed again.  The error doesn't seem to make it to syslog, but I grabbed a pretty readable photo of the console: http://i.imgur.com/ALLkLPY.jpg

[code]

I also found this issue which could be related (though it's from before the 0.6.5 release:

[2015-09-18 19:23] MrStaticVoid commented on #3777
Everything @ryao has made sense, and he's right. I can see how it doesn't make sense when your plan (https://github.com/zfsonlinux/zfs/pull/3526) involves getting rid of the cachefile completely.  I wish I had seen that earlier, because it is, in my opinion, a very bad idea.  Let me explain why:

The cache file as a concept has existed since the beginning of ZFS.  From the manpage, zpool(1M), we l

[2015-09-18 20:05] colorprint opened #3799 "Can't compile with 4.3-rc1 kernel"
Tested with git master:

  CC [M]  /var/lib/dkms/zfs/0.6.4.2/build/module/zfs/vdev_disk.o
In file included from include/linux/bitops.h:36:0,
                 from include/linux/kernel.h:10,
                 from include/linux/list.h:8,
                 from include/linux/module.h:9,
                 from /usr/src/spl-0.6.4.2/include/sys/sysmacros.h:28,
                 from /usr/src/spl-0.6.4.2/in

[2015-09-18 21:02] bprotopopov commented on #3681
@behlendorf, hope you can help, what is the proper way to build SPL and ZFS to enable asserts and other debug checks ?

I did make distclean, ./autogen.sh, ./configure --enable-debug, make rpm-utils && make rpm-kmod, and yum localinstall the RPMs for SPL first, then the same thing for ZFS.

Yet I get a panic
...
SPLError: 2477:0:(list.h:77:list_create()) ASSERTION(size >= offset + sizeof(list_node

[2015-09-18 22:03] dmaziuk opened #3801 "centos 7: dkms strikes again"
This is consistent on all our c7 boxen: kernel update kernel-3.10.0-229.14.1.el7.x86_64 does not trigger a dkms rebuild during install or subsequent reboot. Whether zfs/spl rpms are updated at the same time or not.

A related problem is it doesn't throw you down to single-user login when zfs pool fails to init, like when an fstab failsystem fails to mount. Then init will happily try to start daemo

[2015-09-18 22:57] behlendorf commented on #3681
I'm not sure I follow the question. Passing - - enable-debug as you did will enable the assertions and it looks like your hitting one so that issue will need to be resolved.

[2015-09-18 23:13] bprotopopov commented on #3681
Well the assertion looks like mismatch of type sizes in SPL and ZFS modules, e.g. as if one is build with and one without debug support.

Thanks for confirming the procedure, it must be something in my environment.

Typos courtesy of my iPhone

On Sep 18, 2015, at 6:57 PM, Brian Behlendorf <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure I follow the question. Passi

[2015-09-18 23:29] ryao commented on #3754
Ideally, discards are done on record boundaries. When they are not on record boundaries, we can treat them as hints such that we can truncate the front and back to align them to record boundaries, unless they are secure discards, which are not meant to be hints. The discards are processed by an offset and a length. The regression is caused by the start and end offsets being recalculated, but the l

[2015-09-19 08:53] Markismus opened #3802 "Mounting iso-file from ZFS hangs system"
Mounting an iso-file from a ZFS (zfs-git 0.6.4.2_r0_g44b5ec8_4.1.6_1-1 (archzfs-git)) zpool completely freezes my system (4.1.6-1-ARCH).

When mounting a iso-file from a mounted ZFS pool the system hangs indefinitely (at least 10 minutes).
When mounting the same iso-file from a mounted ext4 partition, it's mounted immediately.

The ZFS pool is a raidz1 with 4 devices.
The ext4 partition is a logic

[2015-09-19 10:40] DeHackEd commented on #3802
#3651
This was fixed in the 0.6.5 tag. Please upgrade, but do be mindful of a known ZVOL corruption bug and check with your package maintainer to see if they have the fix applied.

[2015-09-19 10:44] FransUrbo commented on #3777
As I said in https://github.com/zfsonlinux/zfs/pull/3800#issuecomment-141643856, the correct fix is to set:

[code]

in the defaults config file (<code>/etc/defaults/zfs</code> or corresponding location on Redhat/Fedora etc).

That setup will *enforce* the use of cache file, and ONLY use the cache file (i.e., try once with that ONLY).

[2015-09-19 15:00] BrianPuccio commented on #3756
I can confirm the same behavior running Debian Wheezy.

Previously, right before the reboot, I'd see this:

[code]

Right after the reboot I was greeted with:

[code]

Here's my history from the scrub I last did 5 days ago:

[code]

Versions in case it is useful:

[code]

[2015-09-19 15:12] ggzengel opened #3803 "sharenfs: no_root_squash ignored after update to 2.6.5"
[code]
Before update:
no_root_squash is set
[code]
After update:
no_root_squash is ignored
[code]

Fix:
changing order of no_all_squash
[code]

Is this special (undocumented) code of Turbo? I can't see any changes on github.

[2015-09-19 15:40] gbooker commented on #3785
Some more info in the hopes it is useful:  Zpool import/export work even if the drives are not spinning.  Exporting the pool and leaving it that way ends the lockups.  I think it is quite definitive the issue is with an imported pool where the drives can spin down.

This is a problem with USB disks as they often cannot be stopped from spinning down.  I know the argument against using ZFS on USB di

[2015-09-19 17:10] MrStaticVoid commented on #3777
And as I said in https://github.com/zfsonlinux/zfs/pull/3800#issuecomment-141687925, @FransUrbo's suggested fix doesn't work because:

1. The current infrastructure exports pools at shutdown, which completely negates the point of the cache.
1. Unless made the default, the current infrastructure is still vulnerable to https://github.com/zfsonlinux/zfs/pull/3526#issuecomment-141617698 and the number

[2015-09-19 17:27] tjikkun commented on #3789
Just to be clear: I am seeing this symptom on a dataset that is not on the receiving end of zfs send/receive. Do you think it can be the same issue?

[2015-09-19 17:57] ryao commented on #3777
The following patch to make genkernel load from the cachefile in the pool will be merged  to genkernel after review has been completed:

https://gitweb.gentoo.org/proj/genkernel.git/commit/?h=zfs&id=00e8b41e573acbebd60275792eb6b4a89b834882

There are some edge cases that need to be addressed (like multiple pools with the same name), but at the moment, I am not aware of anyone handling those and it

[2015-09-19 19:04] behlendorf commented on #3781
We'll see what can be done about adding a Fedora 23 repository soon.

[2015-09-19 19:04] DeHackEd commented on #3789
If it matters, my dataset had send/recv done in the past, but that was last year at least.

[2015-09-19 19:13] nedbass commented on #3787
Updated patch to use `saxattr` and `dirxattr` mount options instead of `xattr=sa` and `xattr=dir`. This mirrors the valid dataset property values and adheres to mount option naming conventions. Also eliminates ugly string handling from the option parsing code.

[2015-09-19 19:34] FransUrbo commented on #3777
I don't see the point of doing it this way! If the root pool could be imported read only, why bother with all this??

[2015-09-19 19:34] FransUrbo commented on #3777
Also, it doesn't take that fact into account - there's no check for a failed import!

[2015-09-19 19:37] FransUrbo commented on #3777
Oh, and the third problem is that if the ro import succeeded, but there is no cache file in there (because user have elected not to have one), everything fails… Even though the pool could be imported!

[2015-09-19 19:57] FransUrbo commented on #3803
This belong to https://github.com/zfsonlinux/pkg-zfs. Please close and move.

[2015-09-19 19:57] FransUrbo commented on #3803
Btw, try setting the <code>rw</code> part FIRST in the list of options and see if that helps.

[2015-09-19 20:05] ggzengel commented on #3803
To get zfsonlinux inside of debian you should choose to make your code and changes more official. It needed more than 2 hours to recognise this error and one hour more to fix it.

[2015-09-19 20:05] #3803 closed

[2015-09-19 20:09] ggzengel commented on #3319
nothing changes?
FYI: #3803

[2015-09-19 20:25] Bronek commented on #3777
@ryao I like this approach.

... the pool might be unusable for read-write, e.g. because it is SAN and is accessed by a different node at this time. I can think of other reasons. This does should not prevent reading one file in well known location, though.

good point

also good point, but this probably calls for a different boot switch. There are basically two approaches and I like one presented

[2015-09-19 20:47] FransUrbo commented on #3777
If you don't want _any_ pools to auto import at boot up (other than the root pool), just don't enable the <code>zfs-import</code> script!

If you want a subset of all available pools to import and you don't want to (or can't) setup exceptions, ok, that is a problem.

But there's a much better way to do this than to rewrite the whole shebang (which works for the large majority as it is).

BTW, Most

[2015-09-19 20:52] FransUrbo commented on #3756
On Debian GNU/Linux (and derived distributions), have a look at <code>/etc/default/zfs</code>. Look for the <code>ZPOOL_IMPORT_PATH</code> option. There used to be the option <code>USE_DISK_BY_ID</code>, but that was removed a while ago. It still works though.

On RedHat (and derived dists), look in <code>/etc/sysconfig/zfs</code>. Gentoo: <code>/etc/conf.d/zfs</code>.

[2015-09-19 20:53] adlerd opened #3805 "zfs_inode_update() NULL pointer deref"
When importing and implicitly mounting my pool under zfs 0.6.5, linux 4.2.0, I get the following dmesg output and the pool refuses to mount any datasets or export. The stderr of zpool import reports nothing more than that there was an i/o error, and then zpool export complains that the pool is busy.
zpool iostat reports some write actions as well, which take a very long time to complete or never c

[2015-09-19 21:05] behlendorf commented on #3787
LGTM

[2015-09-19 21:07] Bronek commented on #3777
there you go. My /boot is ext2, my root and few selected filesystems are ZFS and, unfortunately, I often at the time of startup have other ZFS pool attached which I am not comfortable importing (e.g. because they are in ZVOLs , or because I left USB attached when starting etc.). It might be unusual scenario (but I think that it's not, naiively perhaps) and one which, apparently, cachefile is desig

[2015-09-19 21:10] #3771 closed

[2015-09-19 21:10] #3787 closed

[2015-09-19 21:14] behlendorf commented on #3771
The bug here has been addressed in 0.6.5.1.  But just so you're aware you can pass selinux contexts as a mount option using `-o` with ZoL.  See `mount.zfs(8)`.  Alternately you can set this as dataset properties on Linux if that's more convenient.

[code]

[2015-09-19 21:24] FransUrbo commented on #3777
If there's only a few, known, pools (which it sounds like) that you don't want imported, use <code>ZFS_POOL_EXCEPTIONS</code>.

In #3559, I've now added a <code>ZFS_POOL_IMPORT</code> variable which does exactly what you want - it is a list of pools to auto-import.

[2015-09-19 22:43] ryao commented on #3777
@fransurbo The check for a failed import will be added among other changes.

As for editing configuration files, it should not be necessary. The zpool import command should make all the changes to ensure a persistently imported pool. That is how it works on Illumos, FreeBSD and systems systems. Gentoo is going back to this soon. It should not work any other way by default.

[2015-09-19 22:45] adlerd commented on #3805
This continued to repro across several reboots. I recovered the pool by mounting it in 0.6.3 (good thing the new features aren't active! I wish I'd created the pool without them...); now after a kernel rebuild the problem doesn't repro in 0.6.5.
It's probably still worth a look though, since (a) it means complete inability to access the data (although I don't think there was data loss) and (b) it

[2015-09-19 23:03] ggzengel opened #3806 "zcommon: unable to handle kernel paging request at ffff880073eb6008"
While writing files to zfs over nfs.

[code]

[code]

[2015-09-19 23:50] kernelOfTruth commented on #3806
What are your zfs & spl kernel module settings ?

default ?

[2015-09-19 23:53] kernelOfTruth commented on #3806
@ggzengel your best bet for fast Q&A and support would be on the #zfs and #zfsonlinux channels on IRC (freenode)

[2015-09-19 23:55] kernelOfTruth commented on #3802
@DeHackEd , @Markismus that should be addressed as well,

https://github.com/zfsonlinux/zfs/commits/zfs-0.6.5-release

now only that state needs to land in AUR or as an Arch package

[2015-09-20 00:03] kernelOfTruth commented on #3785
@gbooker not sure if it's 100% related to @0xFelix problem since his disks appear to be all internal (?)

I've also encountered issues with spinning up/down of disks and USB and ran into problems with external disks that I haven't ran with internal ones (SATA), e.g. the XHCI driver having bugs, leading to hardlocks of the system, or resetting the driver & link - and assigning a different drive let

[2015-09-20 00:13] jpapadopoulos opened #3807 "Debian Jessie : DKMS issue"
When running dkms build zfs/0.6.5.1 it is looking for the spl source in /usr/src/spl-0.6.5.1 but the source is actually in /usr/src/spl-0.6.5 since spl is still at version 0.6.5

[2015-09-20 03:10] whatarcane commented on #3807
Can confirm, I had to revert to Debian Wheezy after upgrading to Jessie.  zfs-dkms is uninstallable.

[2015-09-20 03:15] whatarcane commented on #3807
This is the error message seen when installing zfs-dkms:
Building initial module for 3.16.0-4-amd64
configure: error:
	*** Please make sure the kmod spl devel <kernel> package for your
	*** distribution is installed then try again.  If that fails you
	*** can specify the location of the spl objects with the
	*** '--with-spl-obj=PATH' option.
Error! Bad return status for module build on kernel: 3.1