[2018-02-10 00:27] behlendorf commented on #1468
Closing, this should be fixed.

[2018-02-10 00:29] behlendorf commented on #1633
@DeHackEd do you know if this is still an issue?

[2018-02-10 00:30] behlendorf commented on #1738
Closing, these changes were never push upstream and aren't available for us to include.

[2018-02-10 00:30] #1738 closed

[2018-02-10 00:34] #2326 closed

[2018-02-10 00:34] behlendorf commented on #2281
Closing as stale.

[2018-02-10 00:34] #2281 closed

[2018-02-10 00:36] #2268 closed

[2018-02-10 00:37] #2229 closed

[2018-02-10 00:38] #2199 closed

[2018-02-10 00:38] behlendorf commented on #2170
Closing as stale.

[2018-02-10 00:38] #2170 closed

[2018-02-10 00:41] #2086 closed

[2018-02-10 00:46] #2719 closed, assigned to nobody

[2018-02-10 00:51] behlendorf commented on #2623
Closing, [ZFS Channel Programs](https://www.illumos.org/issues/7431) have been merged which provides us a more efficient mechanism for these kinds of large operations.

[2018-02-10 00:51] #2623 closed

[2018-02-10 00:52] behlendorf commented on #2933
Closing as stale.

[2018-02-10 00:52] #2933 closed

[2018-02-10 00:53] #2936 closed

[2018-02-10 00:53] #2903 closed

[2018-02-10 00:57] behlendorf commented on #3056
Closing for now, this is something we'll want to examine more closely when integrating with the page cache.

[2018-02-10 00:57] #3056 closed

[2018-02-10 00:57] #3015 closed

[2018-02-10 00:58] #2960 closed

[2018-02-10 00:58] #3354 closed

[2018-02-10 01:01] behlendorf commented on #3371
Closing.  The device removal feature has been merged to OpenZFS and is being ported to ZoL in PR #6900.

[2018-02-10 01:01] #3371 closed

[2018-02-10 01:04] #3657 closed

[2018-02-10 01:05] #3523 closed

[2018-02-10 01:58] tcaputi commented on #6916
@phreaker0
Hmmmm. Can i ask how large this pool is and how sensitive the data on it is? At this point, I have checked all of the code paths that I can think of related to pool import and I can't find anything that might be causing this. Without being able to reproduce the issue myself, I'm a bit lost on what to do. If I could poke around with it I might be able to figure it out.

Feel free to emai

[2018-02-10 02:34] tcaputi commented on #7151
If you still have the pool available and can consistently get it to crash like this, could I ask you to run the following command? `zdb -e -bccsiv <pool guid>` You can get the pool guid by running `zpool import` without specifying a dataset to simply list all importable pools. The guid is listed there as "id".

[2018-02-10 07:22] sanjeevbagewadi commented on #6530
Sure. Will do it.

[2018-02-10 10:03] bunder2015 commented on #7153
A few of us had a huge long discussion on IRC, but posting here for the sake of visibility.  Grub hasn't had any ZFS features added to it in quite some time.  I had attempted to add a few myself last year and got shouted down by two or three developers over licensing.  Personally, I've moved on to EFI.  That said, it would be nice to have more features added to grub, but I'm not going to hold my b

[2018-02-10 10:36] lundman commented on #7153
I was considering adding openzfs crypt support to the work I did over at u-boot, once the crypto support lands (on Illumos). Sounds like there isn't much help to be expected from grub guys?

[2018-02-10 13:10] turrini opened #7157 "zpool import panic: VERIFY(rs == NULL)"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  SystemRescueCD
Distribution Version    |  5.1.2
Linux Kernel                 |  4.9.60
Architecture                 |  amd64
ZFS Version                  |  0.7.5
SPL Version                  |  0.7.5

### Describe the problem you're observing
Can't

[2018-02-10 13:16] bunder2015 commented on #7157
Can you try with the 0.7.6 iso?

[2018-02-10 13:19] ptx0 commented on #7157
you have corrupt spacemaps probably from bad or simply non-ECC laptop memory, the delicate circuitry on the modules makes errors more likely. unfortunately you will need to rebuild the pool.

[2018-02-10 13:24] bunder2015 commented on #7157
Please ignore my previous message, I'm afraid ptx0 is probably right.

https://github.com/zfsonlinux/zfs/issues/3210#issuecomment-84812008

[2018-02-10 16:45] PaulZ-98 commented on #6939
added code to zdb_003_pos.ksh to override "DISK"
[code]
#
# Get actual devices used by the pool (i.e. linux sdb1 not sdb).
#
function get_pool_devices #testpool #devdir
{
        typeset testpool=$1
        typeset devdir=$2
        typeset guid
        typeset out=""

        if is_linux; then
                guid=$(zpool get -H guid $testpool | awk '{print $3}')
                zpool export $tes

[2018-02-10 19:39] behlendorf commented on #6939
Adding it to `include/blkdev.sh` sounds good.  You shouldn't need to export/import the pool either in the function.  Incidentally, an alternate way to get the same path information is with the `zpool status -P` option.  Either approach is OK with me.

[2018-02-11 08:52] loli10K commented on #6041
This can now be achieved using ZFS Channel Programs (`zfs program`) which was recently merged: should we close this?

[2018-02-11 09:08] gmelikov commented on #6317
Probably fixed by https://github.com/zfsonlinux/zfs/commit/9b8407638da71ea9f4afb21375f991869f19811f , feel free to reopen the issue if it's not.

[2018-02-11 09:08] #6317 closed

[2018-02-11 09:12] tcaputi commented on #7117
Ok, I've just had a minute to look at this a little closer. Let me see if I understand everything correctly:

[code]

You performed a `zpool import -l` in readonly mode. The command seems to have succeeded, but it failed to mount the dataset, since you had some data at that mount point. I'm guessing you may have accidentally written some files there while the pool was exported or while that datase

[2018-02-11 09:35] loli10K commented on #2958
The ZFS Channel Programs project was recently merged: both `zfs.list.children()` and `zfs.sync.rollback()`, with some limitations (see below), can be used to perform recursive rollbacks.

[2018-02-11 09:36] gmelikov commented on #6218
Please test latest stable version 0.7.6, feel free to reopen the issue if it's reproducible.

[2018-02-11 09:36] #6218 closed

[2018-02-11 09:37] gmelikov commented on #6149
Please test latest stable version 0.7.6, feel free to reopen the issue if it's reproducible.

[2018-02-11 09:37] #6149 closed

[2018-02-11 09:40] gmelikov commented on #6626
Please test with latest stable version 0.7.6.

[2018-02-11 09:41] gmelikov commented on #6622
Closed as duplicate of #4830.

[2018-02-11 09:41] #6622 closed

[2018-02-11 09:44] gmelikov commented on #6621
There were many fixes with encryption send/recv lately, please test them in master branch.

Feel free to reopen the issue if it's still reproducible.

[2018-02-11 09:44] #6621 closed

[2018-02-11 09:50] gmelikov commented on #6533
Please test latest stable version 0.7.6, feel free to reopen the issue if it's still reproducible.

[2018-02-11 09:50] #6533 closed

[2018-02-11 09:59] loli10K commented on #3393
_9018 Replace kmem_cache_reap_now() with kmem_cache_reap_soon()_ has recently landed in illumos-gate (https://github.com/illumos/illumos-gate/commit/36a64e62848b51ac5a9a5216e894ec723cfef14e), `kmem_cache_reap_now()` is no more; we can probably close this in the next OpenZFS sync?

[2018-02-11 10:07] loli10K commented on #5417
Some ARM fixes were recently merged, will reopen if it's reproducible.

[2018-02-11 10:07] #5417 closed

[2018-02-11 10:23] loli10K commented on #3470
I recently moved one NFS server (odroid-xu4) from 0.6.5.8 to 0.7.6 disabling all kinds of tuning (zfs_arc_min/max, zfs_dirty_data_max/sync, zfs_prefetch_disable ...) and i'm not seeing the only issue (`vmap allocation for size xxx failed: use vmalloc=<size> to increase size.`) that was bugging me with 0.6.5.x during heavy load.

I am going to close this now that 0.7 is the current release, we can

[2018-02-11 10:23] #3470 closed

[2018-02-11 10:26] gmelikov commented on #4358
There were ZED related changes last year which affect this issue. Closed.

[2018-02-11 10:26] #4358 closed

[2018-02-11 10:26] loli10K commented on #3466
A lot of fixes has landed to improve ARM compatibility since 0.6.4, closing as stale.

[2018-02-11 10:26] #3466 closed

[2018-02-11 10:52] loli10K commented on #7153
Is this a ZFS issue or a GRUB issue (duplicate of https://github.com/zfsonlinux/grub/issues/24)?

[2018-02-11 11:09] hostingnuggets commented on #5417
@loli10K thanks for the news, it looks like the following change must fix that issue:

`Fix Debian packaging on ARMv7/ARM64 zfsonlinux/zfs #7046 #678`

btw this entry is mentioned twice in the changelog of 0.7.6 here https://github.com/zfsonlinux/zfs/releases

[2018-02-11 11:09] mailinglists35 commented on #6041
i tried reading about zcp but i find it very hard to understand what it really does and how can it help for this issue.
could you post an example how can this be achieved using zcp?
thanks!

[2018-02-11 11:11] loli10K commented on #5417
@hostingnuggets it is mentioned twice because both ZFS and SPL required the change.

[2018-02-11 11:19] bunder2015 commented on #7153
Is that repo for all distros, or just deb/ubu variants?  I can't tell.

[2018-02-11 11:23] loli10K commented on #6041
The following ZCP script was briefly tested on a throwaway VM, feel free to adapt it to your environment:

[code]

Test output (snapshot is taken only the first time because `written == 0`):

[code]

[2018-02-11 11:30] GregorKopka commented on #6041
What is the exact meaning of

from https://illumos.org/man/1M/zfs-program ?

In case I understand it correnctly: Having -z as an option to the normal zfs snapshot command would allow users to execute it (if zfs allow'ed) - while the channel program workaround is limited to root... ?

[2018-02-11 11:32] loli10K commented on #6041
@GregorKopka exactly.

[2018-02-11 11:32] GregorKopka commented on #2958
I take it the same limitation (root only, as I suspect in https://github.com/zfsonlinux/zfs/issues/6041#issuecomment-364744480) applies?

[2018-02-11 11:37] mailinglists35 commented on #6041
zfs.sync.snapshot(root .. "@" .. name)

hm, so what is the effort difference between above and the following code in a modified zfs-auto-snapshot script? the end user still has to verify if the written property is non-zero. so what's the benefit of zfs program vs the already working [modified zfs-auto-snapshot](https://github.com/zfsonlinux/zfs-auto-snapshot/pull/59/commits/27413ac7983ca9ed22af111

[2018-02-11 12:10] loli10K commented on #6041
From `zfs-program(8)`:

The **bold** part is the important one.

From my perspective `zfs snapshot -z` is more difficult to implement (requires both cli args parsing and libzfs modifications) and less powerful than ZCP (would be limited to zero-sized snapshots): given we now have `zfs program` available i find it difficult to justify the need to work on adding more, less powerful, options to `zfs

[2018-02-11 13:23] loli10K commented on #6071
AFAIK "/usr/share/initramfs-tools/conf.d/zfs" is now included in "zfs-initramfs" on both Debian and Ubuntu, this change does not seem to be required anymore.

[2018-02-11 13:23] #6071 closed

[2018-02-11 16:26] DeHackEd commented on #1633
Tested with ba779f7 and it's still doing it.
[code]

[2018-02-11 20:26] PSSGCSim commented on #7152
I compiled today from the master and I am facing the same issue. What did you do differently to fix it? @phreaker0

[2018-02-11 20:34] hostingnuggets commented on #5417
ah good to know, i thought it was just a duplicate...

[2018-02-11 21:42] ptx0 commented on #7002
physically remove the log device from the system and then import with missing log device.

if you don't have ECC memory and aren't using large_dnode feature then no, #7151 won't help.

[2018-02-12 07:26] aarononeal commented on #6793
I don't know if there is an easier way, but the only solution I could figure out to send all snapshots when migrating an unencrypted to encrypted dataset was:

[code]

[2018-02-12 07:28] loli10K commented on #4770
A similar (duplicate?) issue was just reported (#7157), i'm going to close this one since it has not seen activity in more than a year and the other one may have some fresh data to troubleshoot the problem.

[2018-02-12 07:28] #4770 closed

[2018-02-12 07:38] loli10K commented on #4376
Closing as stale (and possibly distro-specific), will reopen if can be reproduced on recent versions.

[2018-02-12 07:38] #4376 closed

[2018-02-12 08:37] phreaker0 commented on #7152
for me it only works on workstations where i still have a patch around intended for another issue (#6539), i don't know where I got this snipped actually. The following patch does the trick for me:

[code]

For me this is reproducible, if i compile without the patch, i can't load the keys. If i include it again it works again. So it seems that without the patch I'm linking to older/wrong libs or s

[2018-02-12 08:46] phreaker0 commented on #6916
@tcaputi
The pool is 1TB in size with about 80% used. It only contains encrypted datasets so I have no problem if you need access to it. But I think it is too big for sending the whole thing. Maybe I can share the disk as block device via iSCSI or something (I never used iSCSI but it sounds like it would be useful here) or do you think it would be too slow?

[2018-02-12 09:16] tcaputi commented on #6916
ISCSI will almost definitely not work over WAN. The only way I can think to do this is if you can plug the drive into a spare machine somewhere that you don't mind me having root access to (maybe passthrough to a VM). You could then expose the port over the WAN and privately email me ssh credentials to the VM so I can access it. I will need to be able to reboot this VM a few times to figure out wh

[2018-02-12 10:03] bud4 commented on #7038
same problem (hp-dataprotector backup software; vbda process). While run  full backup on a snapshot zfs recive does not go on . attach file output of perf record -a and perf sched . i'm using deadline scheduler on block device to try to workaround this problem. some problem with noop scheduler.
[perf_record-a2.data.gz](https://github.com/zfsonlinux/zfs/files/1715909/perf_record-a2.data.gz)
[perf_s

[2018-02-12 10:31] phreaker0 commented on #6916
no problem, i will setup a vm and email you the details when ready

[2018-02-12 13:40] rmeichsner opened #7159 "Centos 7, zfs 0.7.6 build dkms failes with kernel-ml 4.15.2-1.el7.elrepo"
### System information

Type                                | CentOS Linux release 7.4.1708 (Core)
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 7.4.1708
Linux Kernel                 | kernel-ml 4.15.2-1
Architecture                 | x64
ZFS Version                  | 0.7.6-1.el7_3
SPL Version                  | 0.7.6-1.el7_3

### Desc

[2018-02-12 13:52] PaulZ-98 commented on #6939
Great suggestion using zpool status -P.  That cleans it up quite a bit.

[code]

[2018-02-12 15:35] pk1234 commented on #224
We are using ZFS on all of our production machines (mostly Solaris an Linux) and our backup strategy is based upon ZFS-snapshots.

So far we only used Oracle Databases on Solaris machines and Oracle runs just fine on ZFS. There's even a Sun-whitepaper with information about optimal ZFS-configuration for Oracle databases.

Unfortunately Oracle fails under Linux if Archive Log files are stored withi

[2018-02-12 15:56] nigoroll commented on #224
@pk1234 see
https://github.com/zfsonlinux/zfs/issues/224#issuecomment-160126586
https://code.uplex.de/liblongpath/liblongpath/commit/2e46a921ce2b6b1caa56d39cbd58be85c5988bd0

Here we try the original flags and only remove O_DIRECT if they fail.

[2018-02-12 18:26] sjau commented on #6821
@tcaputi

I still get the invalid exchange when trying to mount an encrypted dataset send in raw mode:

[code]

[2018-02-12 18:42] behlendorf commented on #7117
@tcaputi that definitely looks possible.  I don't see a read-only check in `dmu_objset_userobjspace_upgradable()` which would prevent this.  Extending `upgrade_userobj_001_pos.ksh` to cover more cases like this would be good.

[2018-02-12 18:49] tcaputi commented on #6821
One other person has reported this as well since the stability patch. I'm looking into it. Do you have any steps to reproduce it?

[2018-02-12 19:21] pcd1193182 commented on #7128
I can reproduce this on other platforms as well (Specifically illumos):
[code]

[2018-02-12 19:30] #6530 closed

[2018-02-12 19:32] pcd1193182 commented on #7128
I think this bug used to exist in our operating system, but I think we fixed it at some point. Let me look around and see if I can find a record of it.

[2018-02-12 19:40] #6606 closed

[2018-02-12 19:47] pcd1193182 commented on #7128
Ok, I tried reproducing this on my ZoL box, and I haven't been able to do so. I also can't find any history of issues related to this in our OS; I may have been imagining it, or I may have not been looking hard enough.  I would suggest trying to gather more debugging information; if you can get it into the state where you can't receive an incremental, try `zfs snapshot tankSubi/encZFS/TEST@test` a

[2018-02-12 20:08] loli10K commented on #7128
I tried reproducing this issue with commits prior to https://github.com/zfsonlinux/zfs/commit/6a2185660d000c99b14556c7eb1108c5609faf41 (_OpenZFS 8930 - zfs_zinactive: do not remove the node if the filesystem is readonly_) without success.

[2018-02-12 20:11] loli10K commented on #7128
Duplicate of https://github.com/zfsonlinux/zfs/issues/6741

[2018-02-12 20:14] loli10K commented on #6318
Duplicate of #4290

[2018-02-12 20:14] #6318 closed

[2018-02-12 20:15] loli10K commented on #4046
Duplicate of #810

[2018-02-12 20:15] #4046 closed

[2018-02-12 20:29] #7129 closed

[2018-02-12 21:01] behlendorf commented on #7153
In fact the repository is quite old.  We should probably migrate the outstanding issues which are still relevant to either the main ZFS issue tracker or as upstream grub issues, then retire the repository.

[2018-02-12 21:03] sjau commented on #6821
Well, it's what I did above.

[2018-02-12 21:03] ptx0 commented on #7153
if it ends up as an upstream grub issue it will just die without any attention given to it. since the code came from us, we should either fix it or provide an alternative (porting FreeBSD/illumos btx loader is probably the most straightforward solution here)

[2018-02-12 21:18] tcaputi commented on #6916
Ok. I have found the cause of the issue and will be making a PR for it shortly. Basically, ZIL claiming was accidentally causing user accounting to occur even though the keys weren't loaded yet. Thanks for the help with this @phreaker0 .

[2018-02-12 21:52] rlaager commented on #7153
In my experience, nobody at upstream GRUB cares much about ZFS support. They will accept patches from those who are interested, but such patches need to be GPL-licensed, not CDDL-licensed, so you can't copy anything from OpenZFS (unless all authors of that code agree to dual-license it).

More importantly, if the patch is non-trivial (which encryption support certainly would be), GPL-licensed is n

[2018-02-12 22:04] ptx0 commented on #7153
using an ext2 /boot means the system will default to the cfq scheduler on most systems, causing I/O timeouts for application when running scrub or send/recv or even high  load on a zvol. using noop for the entire drive whenever ZFS is running on it should be the default behaviour, on linux, if this is what we want to recommend to users. you also, unfortunately, don't get the benefits of ZFS checks

[2018-02-12 22:10] rlaager commented on #7153
As I said, my intention is to use a ZFS dataset for /boot and not ext2.

I absolutely agree that ZFS for /boot is better, for checksumming, mirroring/raidz, and snapshots. Either way, the elevator is noop. The initramfs script in Ubuntu was patched (by me) to set elevator=noop on the partitions used in the root pool (since ZoL only sets elevator=noop for wholedisk pools). Unfortunately, this was l

[2018-02-13 00:05] behlendorf opened #7160 "ztest: metaslab_group_passivate() deadlock"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | any
Distribution Version    |  any
Linux Kernel                 | any
Architecture                 | any
ZFS Version                  | zfs-0.7.0-310-gc03f04708c
SPL Version                  | spl-0.7.0-26-g48ef8ba07

### Describe the problem you're

[2018-02-13 00:09] ptx0 opened #7161 "BUG: unable to handle kernel NULL pointer dereference at 00000000000000a0"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | 17.0
Linux Kernel                 | 4.14.15, 4.14.18, 4.15.2
Architecture                 | amd64
ZFS Version                  | 0.7.6, git master
SPL Version                  | 0.7.6, git master

### Describe the pro

[2018-02-13 01:16] behlendorf commented on #6155
Closing as unreproducible.  @nonooo if you're still able to reproduce this let us know and we can reopen this issue.

[2018-02-13 02:14] ptx0 commented on #7161
stack trace for txg_sync

[code]

[2018-02-13 05:18] dweeezil opened #7162 "zfs_dbgmsg user-land issues"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | All
Distribution Version    | Any
Linux Kernel                 | N/A
Architecture                 | N/A
ZFS Version                  | Post 3b36f8319d56842c85782e7842218a7499f3cf16 (maybe)
SPL Version                  | N/A
### Describe the problem y

[2018-02-13 06:59] f-s commented on #3309
Hi, running zfs.x86_64 0.7.5-1.el7_3 still get this:

`[Sa Feb  3 23:53:58 2018] BUG: Bad page state in process swapper/5  pfn:02934
[Sa Feb  3 23:53:58 2018] page:ffffea00000a4d00 count:0 mapcount:-1 mapping:          (null) index:0x0
[Sa Feb  3 23:53:58 2018] page flags: 0x1fffff00008000(tail)
[Sa Feb  3 23:53:58 2018] page dumped because: nonzero mapcount
[Sa Feb  3 23:53:58 2018] Modules linke

[2018-02-13 07:16] nonooo commented on #6155
Well I am still able to reproduce on my "patapouf" pool but I have not yet updated to 0.7 series.. I will update the server this weekend and check if it is still not working.
To be honest this is not a "real" issue for me, everything else is working fine... but if you think this is worth it I will make your test (I can't dd the pool to you because I got photo of my children in it and I don't want

[2018-02-13 08:48] chrisrd commented on #6988
_Me too_...  zfs-0.7.6, linux-4.9.76 (also noticed via node-exporter failing)
[code]

[2018-02-13 09:17] lnxbil commented on #224
Hi Peter,

I tried a similar thing over a year ago and my listener was not able to work in xml mode, only plaintext mode. I could not patch that, yet the database was working. I have to search the writeup of my work at home and post it here. It's so funny to see that we both tried to solve the problem similarly. I went also one step further and tried to patch glibc to just use it everywhere, trans

[2018-02-13 09:23] nigoroll commented on #224
@lnxbil I can tell you that my interposer does the job.

[2018-02-13 11:37] AceSlash opened #7164 "very high IO load during zpool upgrade from 0.6.5 to 0.7.5"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian
Distribution Version    | 9 (stretch)
Linux Kernel                 | 4.9.0-5-amd64 - SMP Debian 4.9.65-3+deb9u2 (2018-01-04)
Architecture                 | x86_64
ZFS Version                  | 0.7.5-1~bpo9+1 (from Debian Stretch backports)
SPL

[2018-02-13 17:07] tcaputi commented on #7117
@Celmor Would you mind trying to reproduce the `VERIFY3(sa.sa_magic == 0x2F505A) failed (2 == 3100762)` error with #7163? That may have fixed that issue for you (although I'm not sure).

[2018-02-13 17:37] behlendorf commented on #6155
@nonooo thanks for offering but no need, this isn't a critical issue.  If you have everything else working as intended I'd suggest leaving your system as is.  The error you posted above is enough for us to better handle this issue.  Reopening.

[2018-02-13 17:41] cwedgwood commented on #6988
@chrisrd @behlendorf note 18446744073709537686 is 0xffffffffffffc996 - again, high bits set as if an underflow (-13930)

[2018-02-13 18:07] behlendorf commented on #7164
You are correct, the I/O load is almost certainly being generated by enabling the __userobj_accounting__ feature.  How long the upgrade takes is proportional to the number of files in the pool, and usually only takes a few minutes even for pools with a large number of files.  Your pool does sound like a worst case and I'd be curious to know many files you have and how long the upgrade took.

As fo

[2018-02-13 18:12] behlendorf commented on #3968
Closing as duplicate of #7117.

[2018-02-13 18:12] #3968 closed

[2018-02-13 18:12] behlendorf commented on #6332
Closing as duplicate of #7117.

[2018-02-13 18:13] behlendorf commented on #6474
Closing as duplicate of #7117.

[2018-02-13 18:13] #6474 closed

[2018-02-13 18:26] AceSlash commented on #7164
Thank you for pointing that part of the manual, I guess I'm just not used to having any kind of load during zpool upgrade (I'm using ZoL since 2013 with large dataset, and did a lot of zpool upgrade).

I'll guess I'll have to check the features before blindly upgrading the zpool.

About the content of the data in those datasets, you are indeed correct in assuming that they contains a very large am

[2018-02-13 18:36] behlendorf commented on #7164
You're right, historically for most new features we've tried hard to avoid any upgrade cost.  That just wasn't possible this time if we wanted the new quota information to be available for existing filesystems.

As for total file count you can run `df -i` to quickly report total inodes (files) used.

[2018-02-13 18:40] AceSlash commented on #7164
@behlendorf 131319442 files, I guess I have a little more than I thought.

[2018-02-13 18:56] behlendorf commented on #7164
That's quite a few!  Do you have a rough idea of how long the upgrade took?

[2018-02-13 18:58] behlendorf commented on #3309
@f-s thanks for posting.  Can you please open a new issue describing your iscsi setup including software versions.

[2018-02-13 18:59] jspiros commented on #6332
@behlendorf I'm not sure that this is a duplicate of #7117 as the value in sa.sa_magic that's causing the panic is clearly a timestamp, despite the panic otherwise looking similar. Have you or anyone checked whether @avg-I's theory in #2025 (a race condition in `zfs_space_delta_cb` relating to SA upgrades to fs version 5+) might be what's causing this? I've looked at the code myself and it seems t

[2018-02-13 19:36] tcaputi commented on #7147
@lnicola Would you mind running:
[code]

This should help em figure out where the initial crash happened.

[2018-02-13 19:38] AceSlash commented on #7164
It looks like it is still running, I'm not quite sure because the load is almost 0 now, but I still see some z_upgrade processes running.

Number of dataset | number of files in all dataset | used space | highest IO wait % | time until the load was not noticeable anymore | CPU
--- | --- | --- | --- | --- | ---
16 | 131319442 | 6.75T | 7.6% | ~ 4h20 | 2*Xeon(R) CPU E5-2687W v3 @ 3.10GHz (40 core)
1

[2018-02-13 20:13] lnicola commented on #7147
[code]

[2018-02-13 20:26] tcaputi commented on #7117
It seems that this issue has been popping up randomly for quite some time, so its unlikely that my patch will fix anything. Nevermind.

[2018-02-13 21:06] behlendorf commented on #7164
Thanks for the nice graphs.  Sorry this caught you by surprise, but since everything here did work as intended I'm going to close the issue.

[2018-02-13 21:06] #7164 closed

[2018-02-13 21:11] behlendorf commented on #6332
@jspiros I revisited the issue and it looks like I did jump the gun on this one.  Despite similarities this does appear to be a different issue, I'll reopen it.  The theory in #2025 does look like a plausible cause.

[2018-02-13 21:45] behlendorf commented on #6120
Closing.  Won't fix, this isn't an issue with newer versions of gcc.

[2018-02-13 21:45] #6120 closed

[2018-02-13 22:03] behlendorf commented on #7162
Agreed, we should take some time and consider exactly how we want the logging to work under Linux.

I put together a [WIP patch](https://github.com/behlendorf/zfs/commit/33bee587664e63cca2b6dc6d12b1cafb007e9426)  a while back in an attempt to cleanup some of the code in this area and make it more understandable.  It might act as a good starting point for this work, but it does not try to address t

[2018-02-13 22:10] jaytaylor commented on #6222
Thanks @lungati, `yum clean all && yum update` worked wonders to resolve the 404s :)

[2018-02-13 22:56] ahrens commented on #7162
The original intent (which is implemented on illumos) is that zfs_dbgmsg() is always captured, and dprintf() is almost never captured.  Specifically, dprintf() is not compiled on nondebug builds, and on debug builds it is compiled in but disabled by default, and can be enabled by changing a tunable (`zfs_flags`).

Tangential to your question, here are some general principles I recently wrote up fo

[2018-02-13 23:36] geaaru opened #7165 "ARM 32: Error on import pool with 0.7.6"
Hi,

i'm not sure if this problem is related with #6981 but now with 0.7.6 some pools describe on previous issue are all not mountable.

On upgrade 0.7.6 I only do only another change: upgrade to kernel 4.9.77.

### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Gentoo/Sabayon
Distribution Version

[2018-02-13 23:53] richardelling commented on #6988
The logic for the length of the data written is incorrect in zil.c line 1165, allowing a negative
increment soon thereafter.
[code]
I'll take a closer look at this soon.

Regarding node_explorer, the latest version after 16-jan-2018 should handle uint64 to float64 ok. node_explorer and Prometheus only do floats, so we inevitably will lose resolution. If you can reach out to me at Richard.Elling@Ri

[2018-02-14 00:07] rincebrain commented on #7165
@geaaru could you try rolling back the kernel version to see if the problem is specific to 0.7.6?

[2018-02-14 03:44] Celmor commented on #7117
Looking through my logs I noticed that I used `change-key` to change the passphrase for DataBackup/enc and rebooted after which I couldn't mount child datasets of enc anymore I created before that point, I can still mount datasets I created after though. I'm not sure how it works exactly in code regarding the encryption the key but it seems to me like it didn't actually change for those previously

[2018-02-14 03:54] tcaputi commented on #7117
Have you tried loading the key for the child datasets? You should need to load the key for `DataBackup/enc/Backup`

[2018-02-14 04:08] Celmor commented on #7117
@tcaputi
As I wanted to make clear in OP, I tried loading the key for child dataset (although there's only enc with a key and all others inherit) where it obviously tells me to load the key for the encryption root with "keystatus" being unavailable e.g.:
[code]
I've gone through `DataBackup/enc/Backup` as well with it telling me to load the key for the encryption root again and keystatus being una

[2018-02-14 04:58] tcaputi commented on #7117
OK. Now I understand. So the problem is that your encryption hierarchy is messed up and I'm not sure how it got that way. `DataBackup/enc/Backup` should be its own encryption root. Could you tell me a little about how you received these datasets and the change-key operation you performed?

[2018-02-14 05:41] Celmor commented on #7117
- DataBackup received encrypted datasets from a temporary zpool (with `-cewLR` send options set) because I had to rebuild DataBackup (accidentally added instead of attached).
- Attached disk to make pool redundant, resilvered
- Deleted sending pool
- Moved a bunch of datasets on DataBackup into DataBackup/enc to encrypt them
- reboot, import and load-key
- change-key for enc dataset
- moving a new

[2018-02-14 05:57] chrisrd commented on #6929
The last line of the https://github.com/zfsonlinux/zfs/releases/tag/zfs-0.7.4 release notes is
[code]

I don't know if it's too late to change, but these should specify they're SPL issues, and hopefully link across there...

There was a question on zfs-discuss about this:

http://list.zfsonlinux.org/pipermail/zfs-discuss/2018-February/030483.html

[2018-02-14 06:04] chrisrd commented on #6929
...oops, sorry, that was meant to go into #7051. Reposting over there...

[2018-02-14 06:42] loli10K commented on #6957
I've just tested this on https://github.com/zfsonlinux/zfs/commit/9c5167d19fe02e44ba09c6d0282363c19781b19d:

[code]

This seems indeed fixed, i think we can close this now, unless we want to add new tests to the ZTS to cover this case.

[2018-02-14 09:42] lnxbil commented on #2878
I just ran into the same problem after accidentially removing the only disk the pool consists of via a `echo 1 > /sys/block/sdr/delete` call and I was (after a lot of different tries) able to reimport the pool after reading this thread:

[code]

Just for others that might run into the same problem:
* I have/had a luks-crypted device called `externes_backup_crypt`
* Closing luks device (to be able

[2018-02-14 09:51] bud4 opened #7166 "snapshot delete blocked for more than 120 seconds"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Ubuntu
Distribution Version    |16.04.3 LTS
Linux Kernel                 | 4.4.0-112-generic #135-Ubuntu
Architecture                 | x86_64
ZFS Version                  | 0.6.5.6-0ubuntu16
SPL Version                  | 0.6.5.6-0ubuntu4

### Describe the problem you're

[2018-02-14 10:14] ptx0 commented on #7166
use the [zfs-discuss mailing list](http://list.zfsonlinux.org) for support requests, please close this out. txg_sync timeout are an indication of slow hardware or something else, it's not a bug.

[2018-02-14 10:23] devZer0 commented on #6997
it's probably not mounted because you need to enable zfs-import.target, see zfs 0.7.4 release modes how to enable systemd service.

[2018-02-14 10:26] bud4 commented on #7166
@ptx0 I thought it could help to improve performance. if it is not useful then close it.
sorry

[2018-02-14 10:27] ptx0 commented on #7166
no problem, it's a very old release and not a critical message.

[2018-02-14 10:32] #7166 closed

[2018-02-14 11:24] vlcek commented on #6171
We also had a problem with high IO load (z_null_int). The system's root was on the zfs pool as data storage for VMs. We got rid of this problem by reinstalling the system on different disks (not using ZFS anymore for root of the system).

When we imported the pool in reinstalled system the problem was gone and did not appear again - it's over 2 months now.

Hope this info will help somehow.

[2018-02-14 11:45] cooljimy84 commented on #6171
Kinda wanted to use ZFS on the root, for nice quick roll backs after updates/upgrades.

[2018-02-14 11:58] jkalousek commented on #6171
@cooljimy84 It was working for over a year before first problem started for me so It's something that was updated approximately 3-5 months ago.

@vlcek did you transfer your proxmox config without any problem? I know about [Script From Dan Ziemecki](http://ziemecki.net/content/proxmox-config-backups) but I actually never tested if it transfers everything.

[2018-02-14 12:03] vlcek commented on #6171
@jkalousek we are not using proxmox (only debian and xen as hypervisor) so I cannot help you with that.

[2018-02-14 13:49] f-s commented on #3309
@behlendorf  Sorry, I am no longer using the 0.7.5-1.el7_3.

[2018-02-14 15:01] arturpzol commented on #7118
I have tried to test https://github.com/zfsonlinux/zfs/pull/7068/commits/891b2e770ce3efc75c40c2211445f3e849280001, https://github.com/zfsonlinux/zfs/pull/7068/commits/abd17be2e0d03633a1f98b1fb031116fd8f768d1 and seems that suspending with my test is very hard repeatable but still easy possible with `zfs_multihost_fail_intervals` smaller then default. Default value and MMP delay logic changes looks

[2018-02-14 15:12] dmaziuk commented on #6997
no: sas cabling and/or systemd + pacemaker. I am not quite ready to upgrade all the way to freebsd yet, for now I only upgraded to centos 6.

[2018-02-14 16:42] ofaaland commented on #7118
@arturpzol I'm working on patches to make the multihost history more useful, and using those to investigate the issue with a removed disk triggering suspend via MMP.  I'll get those pushed where you can get them, it will help clarify what's going on.

I see your test involves removing a physical disk.  Are you able to reproduce just by offlining or detaching a disk via **zpool offline <pool> <disk

[2018-02-14 19:34] behlendorf commented on #6957
@loli10K thanks for verifying this, I agree let's close this out.  Additional test cases are always welcome if someone feels so inclined.

[2018-02-14 19:34] #6957 closed

[2018-02-14 21:13] geaaru commented on #7165
@rincebrain Hi, I confirm that on downgrade to 4.9.22 all works fine.

I try with last release of 4.9 tree (4.9.81).

[2018-02-14 21:14] rincebrain commented on #7165
@geaaru so it works fine with 4.9.22 and 0.7.6?

[2018-02-14 21:18] geaaru commented on #7165
@rincebrain Yes, it seems so. 4.9.22 + 0.7.6 works fine. Let me try in these days if I receive some errors.
But for now with a fast test it seems that is all ok. I can also mount raidz pool (describe on #6981).

[2018-02-14 23:26] behlendorf commented on #5918
The OpenZFS fix for this issue has been merged.  If anyone has been able to consistently reproduce this issue it would be great if you could verify it's now resolved in master.  This fix has been added to the list of proposed changes for the next 0.7 release.

[2018-02-14 23:32] DeHackEd commented on #5918
Unfortunately not me. That system is now running metadata allocation classes instead so there's no SSD space left for L2ARC.

[2018-02-14 23:57] gratay opened #7175 "Cannot mount encrypted volume on thumb drive"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Gentoo & Knoppix (Debian)
Distribution Version    |  N/A (Gentoo) & 8.1 (Knoppix)
Linux Kernel                 |  4.14.15-aufs (Gentoo) & 4.12.7-64 (Knoppix)
Architecture                 | amd64
ZFS Version                  | git repository HEAD 2018/2/14
SPL Version

[2018-02-15 02:16] richardelling commented on #6988
I can see no benefit to incrementing `zil_itx_needcopy_bytes` after lrw->lr_length is decremented. IMHO, the benefit of tracking the bytes is to see the relative weight of WR_COPY, WR_NEED_COPY, and WR_INDIRECT. With the relative weighting, decisions can be made wrt `zfs_immediate_write_sz` and `logbias`

So I propose moving the `lrw->lr_length -= dnow;` after the ZIL_STAT_* adjustments. Thoughts?

[2018-02-15 06:28] ptx0 commented on #7161
so I think I've narrowed it down to attempting to recv to a mounted / in-use dataset. @behlendorf any ideas about that?

[2018-02-15 07:24] ofaaland commented on #7118
[code]

The mmp write marked with asterisks is after the pool was suspended;  the timestamp 1518211349 matches the time of the zfs.io_failure event.

[code]

At that point mmp_delay was over 5 seconds, when it had been 141ms prior to that.  And the most recent mmp write was 5 seconds before that.  So something caused the mmp thread to stop attempting to write for 5 seconds (multihost history shows

[2018-02-15 08:00] chrisrd commented on #6988
It's all pretty opaque to me, but here goes nothing...

It looks like `dnow` is how much data we're adding "now" to `lwb` (via `lrcb`) and writing out in `zil_lwb_add_txg(lwb, txg)`. And this stuff:
[code]
...is recording the offset in the buffer (`lr_offset`) and how much data (`lr_length`) we need to output next time we come through the `goto cont` loop,

So this:
[code]
...looks like we're incr

[2018-02-15 11:23] arturpzol commented on #7118
@ofaaland thank you for your notes.

I have also leaded to pool suspend with **zpool offline** even with  **zpool online** but that is depend of I/O load.

Unfortunately I do not have suspend logs from my previous note so below logs from **zpool offline** operations:
[code]

[code]

`zfs multihost history` log is available at: https://pastebin.com/U2PR1fSL

[code]
Below kernel logs are with some c

[2018-02-15 18:39] siebenmann commented on #6741
It's possible that this is due to pending deletes being processed when the filesystem is mounted. You get pending deletes if you open a file and keep it open in a process, then delete the file on disk; the file isn't accessible at the filesystem level, but it can't be removed until the process closes it. ZFS implements this with a per-filesystem queue of pending deletes, and this queue is captured

[2018-02-15 19:31] PaulZ-98 commented on #6939
The issue mentioned above where a pool created over zvols hangs, is a duplicate (or at least similar to)
https://github.com/zfsonlinux/zfs/issues/6145

[2018-02-16 01:24] tonyhutter opened #7179 "4.16 kernel: atomic_dec_and_test() changed"
I hit these errors building against the 4.16 nightly kernel packages (http://kernel.ubuntu.com/~kernel-ppa/mainline/daily/current/):

[code]

### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Ubuntu
Distribution Version    | 17.10
Linux Kernel                 |  4.16.0-999-generic
Architecture

[2018-02-16 01:38] tonyhutter commented on #7179
This seems to fix it:
[code]
https://www.redhat.com/archives/linux-audit/2017-July/msg00060.html

I'll put together a PR

[2018-02-16 17:27] prometheanfire opened #7180 "receive of raw encrypted incrimental backup caused stacktrace and D state"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | latest
Linux Kernel                 | 4.14.18-gentoo
Architecture                 | x86_64
ZFS Version                  | built from master on the 8th, somwhere around https://github.com/zfsonlinux/zfs/commit/f54976dc

[2018-02-16 17:27] prometheanfire commented on #7180
additional info, the kernel on the sender and receiver are the exact same (built and reused).

[2018-02-16 17:29] prometheanfire commented on #7180
@tcaputi you may want in on this, am I using an unsupported option when sending?

[2018-02-16 19:50] tcaputi commented on #7180
Can you tell me what datasets are encrypted on each system? Specifically is the sent dataset encrypted and are any parents of the received dataset encrypted?

[2018-02-16 20:21] prometheanfire commented on #7180
All datasets on the source system are encrypted, pool created with the following:

    zpool create -O encryption=on -O keyformat=passphrase zfstest /dev/zvol/slaanesh-zp00/zfstest

The destination systems has no encrypted datasets, just the raw receive from the first send to it (which it received correctly).  ZFS commands are hanging, so I can't get the output of zfs list on the destination syste

[2018-02-16 20:25] tcaputi commented on #7180
OK. I think this is probably related to #7117. This manifestation of it doesn't seem to be a very serious ASSERT and we could probably just ignore it, but I'd like to know why it's happening before I say so for sure.

[2018-02-16 20:25] tcaputi commented on #7180
Did your original pool have any clones, by the way?

[2018-02-16 20:29] prometheanfire commented on #7180
Any way to work around it (other than sending non-raw, unencrypted)?

[2018-02-16 20:34] tcaputi commented on #7180
looking into it now.don't want to tell you something that causes permanent damage...

[2018-02-16 22:50] geaaru commented on #7165
Some issue with 4.9.81.

[code]
I try to investigate and found from which version is begin this regression.

[2018-02-16 23:21] rincebrain commented on #7165
@geaaru are you saying that 4.9.80 works with 0.7.6, but 4.9.81 does not?

If so, can you bisect the commits between those two and see where it starts?

[2018-02-16 23:57] geaaru commented on #7165
@rincebrain Let me try to summarize my tests:
 * kernel 4.9.22 + zfs-0.7.6: OK
 * kernel 4.9.77 + zfs-0.7.6: KO
 * kernel 4.9.81 + zfs-0.7.6: KO

I try to investigate which version from 4.9.23 create this regression. For now it seems that kernel >= 4.9.77 is broken with zfs-0.7.6.

[2018-02-17 08:32] bunder2015 opened #7183 ""zpool status -c temp" not working across various disks"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | gentoo
Distribution Version    | n/a
Linux Kernel                 | n/a
Architecture                 | n/a
ZFS Version                  | various 0.7.x git
SPL Version                  | various 0.7.x git

### Describe the problem you're observing
`z

[2018-02-17 08:36] loli10K commented on #7165
@geaaru i run zfs-0.7.6/linux-4.9.80 on my RaspberryPi 3 without issues; i should be able to get a spare BananaPi soon, would you mind sharing your Kconfig so i can try reproducing this on my hardware? Thanks!

[2018-02-17 10:49] geaaru commented on #7165
@loli10K hi, do you means "config" used for compile kernel ?
[config-bpi-4.9.81.gz](https://github.com/zfsonlinux/zfs/files/1733592/config-bpi-4.9.81.gz)

[2018-02-17 10:59] loli10K commented on #7165
@geaaru yes, thank you.

[2018-02-17 13:51] Celmor opened #7184 ""metadata is corrupted" 'fixed' by removing a Device file..."
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Linux NixOS
Linux Kernel            | 4.9.77
Architecture            | x86_64
ZFS Version             | 0.7.0-1 (commit [4c46b99](https://github.com/zfsonlinux/zfs/commit/4c46b99d24a6e71b3c72462c11cb051d0930ad60))`*`
SPL Version             | 0.7.0-1

[2018-02-17 14:00] loli10K commented on #7184
This will (hopefully) be fixed by https://github.com/openzfs/openzfs/commit/619c0123a513678d5824d6b1c4d7e8fad3c63e76 (_9075 Improve ZFS pool import/load process and corrupted pool recovery_) once it gets merged.

[2018-02-17 14:21] Celmor commented on #7184
Not sure but I might have overwritten `/dev/disk/by-id/ata-HGST_HDN724040ALE640_PK1338P4HVX34B-part1` with the same data as sdd at some point (have a 3rd disk from which I often duplicated a disk of DataBackup)
This is the zdb output for each disk:
[code]
Even if the disks contain the same data and zfs thinks one of them was the other disk of the mirrored vdev, it shouldn't say that the zpool is c

[2018-02-17 18:00] vozhyk- opened #7186 "PANIC at arc.c:5295:arc_read() when little free memory left"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Funtoo
Distribution Version    |
Linux Kernel                 | 4.1.15-aufs
Architecture                 | x86_64
ZFS Version                  | 0.7.6-2_gc558c93f
SPL Version                  | 0.7.6-r0-gentoo

### Describe the problem you're observi

[2018-02-17 22:26] aarononeal opened #7187 "Can't compile with 4.4.0 kernel due to "implicit declaration of function ‘vn_remove’""
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04.3 LTS (Xenial Xerus)
Linux Kernel                 | 4.4.0-1050-aws
Architecture                 | x86_64
ZFS Version                  | master
SPL Version                  | master

### Describe the problem you'

[2018-02-17 22:29] DeHackEd commented on #7187
This was changed recently in SPL. Make sure you update and recompile both SPL and ZFS, including re-running autogen.sh

See zfsonlinux/spl@8be368899918e2786f2fed84dc746de1894b06c1

[2018-02-17 22:50] aarononeal commented on #7187
Both my SPL and ZFS repos say they're up to date on the master branch. It looks like `vn_remove` was removed from SPL and that's what's breaking the ZFS compile which still references it.

[2018-02-17 22:58] aarononeal commented on #7187
After inspecting the file I discovered that the local repo on this machine wasn't updating. Pulling down a new copy now. Sorry for the noise and thanks for the pointer.

[2018-02-17 22:58] #7187 closed

[2018-02-18 07:20] loli10K commented on #7165
zfs-0.7.6/linux-4.9.81 (with your Kconfig) seem to work fine on my BPi M1 with a newly created pool:

[code]

[2018-02-18 07:32] tcaputi commented on #7180
So basically, this ASSERT is being caused because the code is confused about whether or not your dataset is encrypted. I have not been able to replicate your exact error, but i have replicated a couple other small issues and I have a patch to fix them (which I will be making a PR for soon).

The 2 bugs I found have to do with `zfs recv -F` and the way it replaces existing datasets if necessary. Ca

[2018-02-18 08:29] prometheanfire commented on #7180
Honestly my workflow for creating a new backup was to create the dataset then receive -F over it.  It's probably just paranoia or stupidity on my part but a I've never been able to create a dataset on initial receive.  I'll watch for your PR though and let you know how it goes (on 4.14.20 with master as of a few hours ago).

[2018-02-18 10:31] geaaru commented on #7165
@loli10K hi, thank you for your time.

I think that something is present because if I use kernel 4.9.22 all works fine. I will investigate on it.

As visible on issue #6981 use new pools often doesn't present any issues, it is needed use existing pool from previous version to catch errors. Can you try to do these tests:
  * create a zpool to an usb disk from previous version or from same arch or f

[2018-02-18 12:06] matveevandrey commented on #6736
Same issue on Debian with Ubuntu kernel (proxmox with 0.7.6 ZiL)

[code]
[code]

[2018-02-18 12:26] bunder2015 commented on #6736
"task blocked" comes up quite a bit, but it usually boils down to a heavily loaded system, there probably isn't enough cpu or disk bandwidth to go around. what kind of hardware are you running the pool on?

[2018-02-18 12:30] kpande commented on #6736
they are just warnings, disable them if you want via `echo 0 > /proc/sys/kernel/hung_task_timeout_secs`

[2018-02-18 13:10] loli10K commented on #7165
Done, pool from 0.6.5.x with a mix of filesystems and ZVOLs imports without issues (mirror on USB flash drives):

[code]

Done, on a pool with a mix of raidz and mirror VDEVs; again, no issues here:

[code]

I did not understand this question, sorry.

@geaaru are you able to reproduce this issue on a newly created pool? Does this reproduce on file VDEVs? If it does, please create a sample pool wit

[2018-02-18 13:24] flo82 commented on #4713
i switched from a Broadcom SAS2008 to a marvel 88SE9485 chipset and the problem is gone.
Seems to be a kernel problem issue.

The problem described above only occurs if a controller which uses "mpt2sas" kernel mode is installed.
HBA controllers which use the "mvsas" kernel module work fine.

Tested with ubuntu 16.04. and kernel 4.4.0-112.

[2018-02-18 20:14] rmeichsner commented on #7159
Hi all,

after upgradeding the Kernel to 4.15.3-1.el7.elrepo.x86_64 the compilation succeeded without any errors:

[code]

[2018-02-18 20:14] #7159 closed

[2018-02-18 20:17] jkalousek commented on #6171
@behlendorf well I tried to install perf (from git) but during cloning, host system stopped responding (probably because of this problem) and after 15 minutes of waiting (VM were running fine) I did hard reboot of whole server so I wont be probably able to provide perf log...

[2018-02-18 20:28] jkalousek commented on #6171
@behlendorf This is zfs_read for me during idle (all VM running - cpu usage ~4%, overall system load ~1)
[code]

[2018-02-18 22:30] hoppel118 commented on #4713
Yeah, but changing to another chipset is no solution for me! :)

Regards Hoppel

[2018-02-19 05:38] ronnyegner commented on #6736
I know these are just warnings, but they happen on a completely idle system (16 cores, 128 GB memory) with no ZVOL at all.

[2018-02-19 06:56] kpande commented on #6736
yes, but it's not really a bug. you should ask for support on [the zfs-discuss mailing list](http://list.zfsonlinux.org) or IRC (#zfsonlinux at Freenode).

[2018-02-19 06:57] kpande commented on #6736
didn't mean to close that.

[2018-02-19 07:05] loli10K commented on #7183
@bunder2015 thank you for reporting this.

Are you already working on a fix? If so, would you mind if this issue gets assigned to you?

[2018-02-19 07:06] bunder2015 commented on #7183
I think I have something working for SSD, but I'm trying to see if I can get NVME working as well.

[2018-02-19 07:09] loli10K commented on #7183
Nice, thanks. I've seen you edit your report multiple times, it looked to me you were onto something.

[2018-02-19 07:16] ronnyegner commented on #6736
Why isn’t this not a bug? There are no ZVOLs and it only happens during zfs send. So something is going obviously blocking here.

[2018-02-19 07:28] loli10K commented on #6736
@ronnyegner by the looks of it *is* a bug. It has been reported multiple (at least 3) times, so it's also a duplicate.

Would you mind if we close this since #6330 contains a clean reproducer?

[2018-02-19 07:35] kpande commented on #6736
6330 says it has a hard lockup, this seems different (though 6736 also has users unable to reproduce the hard lock but have the stack).

@bud4 / @matveevandrey both posted completely different issues in this thread, too - what made either of you think the issues are the same?

[2018-02-19 07:57] loli10K commented on #6736
The issue originally reported here is clearly about "hung z_zvol tasks" during "zfs send/zfs recv operations".

#6330 is also about "hung z_zvol tasks" during "on the receiving side of zfs send".

The fact other "_task xxx:nnn blocked for more than yyy seconds_" have been reported here (which are clearly from the sending side of zfs) does not change the fact this looks like a duplicate of #6330.

[2018-02-19 07:59] kpande commented on #6736
yuo'd think if this user experienced a hard lock up they would have explicitly stated it, I must be reading it incorrectly.

[2018-02-19 08:00] kpande commented on #6736
in fact, the original issue here does not say it has "hung z_zvol tasks", it just mentions stack traces that something is obviously blocking on an otherwise idle system.

@ronnyegner can you verify that you're not having any tasks actually hanging as a result of these errors?

[2018-02-19 12:32] WenbinHou commented on #3547
I suggest not closing this issue, since it has not been solved.
I ran `zfs send -D seafile@20180219202024429258304 | xz -z -9 -v >/storage/tmp/20180219202024429258304.xz` and pressed `Ctrl-C`, it stalled too.

[2018-02-19 15:52] woffs commented on #4367
Upgraded both utils and module to 0.7.5, I tried again and it still aborts on that error (both on EINVAL and on EEXIST) instead of logging and continuing, which is what I would prefer and what I remember it was doing some time ago.

[code]
strace says at the end:
[code]
And finally zdb:
[code]
So in this case the object is there, and in the EEXIST case it says `zdb: dmu_bonus_hold(43351) failed, e

[2018-02-19 18:44] flynnjFIU commented on #6332
We've started hitting this issue too, in just the past few days.

The pool is on a relatively new server, but the filesystems were zfs sent from the old server to the new, then upgraded to zfs version 5 as part of getting everything up to date. Trying to rsync from the filesystem seems to tickle the bug most quickly.

One thing we found that has reduced the frequency of crashes was to zfs set atim

[2018-02-19 19:28] ronnyegner commented on #6736
@loli10K: of course not. I missed that obviously and will close.

[2018-02-19 19:28] #6736 closed

[2018-02-19 19:43] jspiros commented on #6332
For what it's worth, I've been experiencing this all along with rsync as my primary test, though rm -r also causes it, and that's with `atime=off`.

[2018-02-19 19:46] flynnjFIU commented on #6332
@jspiros Well, that's disconcerting. Haven't crashed yet and have been rsyncing since this morning nearly constantly, though. (moving data to a ZFS v4 partition to try to get away from this bug since it only seems to affect ZFS v5)

Haven't tried any rm -r yet; there isn't large directory tree that we can delete on the affected filesystems right now. Still, I'll report back if we crash again with

[2018-02-19 19:53] jspiros commented on #6332
@flynnjFIU Given the theory on why this is happening, datasets of hundreds of thousands of tiny files would sooner exhibit the problem than datasets of fewer, larger files. My case is more the latter. Indeed, I'd even considered as a solution doing a script that would replicate `rm -r`, but with `sleep 1` between each individual `rm`, as that should make the likelihood of the race condition almost

[2018-02-19 19:54] flynnjFIU commented on #6332
@jspiros In the interest of being thorough, do you also have relatime=off? relatime=on could also cause atime updates on access, though they wouldn't be as frequent as atime=on.

Given the timestamp erroneously in the field, it feels like this bug definitely has to do with a race condition where a timestamp update is ending up in the wrong memory location.

[2018-02-19 21:11] flynnjFIU commented on #6332
Welp, the problem just recurred. So although atime=off seems to reduce the likelyhood of it, it still happens.

I shall continue migrating this filesystem to ZFS v4, along with the others on the host.

[2018-02-19 22:46] Kelvin3388 commented on #4361
Experiencing similar issue.

Linux version 3.10.0-693.5.2.el7_lustre.x86_64
SPL: Loaded module v0.7.3-1
ZFS: Loaded module v0.7.3-1

Feb 13 23:47:24 zfswh2-oss-17-2 kernel: INFO: task txg_sync:32290 blocked for more than 120 seconds.
Feb 13 23:47:24 zfswh2-oss-17-2 kernel: "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this message.
Feb 13 23:47:24 zfswh2-oss-17-2 kernel: txg_sync

[2018-02-20 06:17] loli10K commented on #6112
@avg-I  is proposing a patch to fix this issue on the OpenZFS developer ML (https://openzfs.topicbox.com/groups/developer/T9d8097b8fffd8bfa).

I've been running "zpool_upgrade_007_pos" on a local Debian builder for ~6 hours without triggering the VERIFY(), the fix looks promising, posting the patch here for completeness (modified to take into account encryption changes):

[code]

[2018-02-20 11:57] AceSlash opened #7195 "impossible to run any zfs command while doing a zfs destroy -r on a dataset with a lot of snapshots (1000+)"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian
Distribution Version    | 9 (stretch)
Linux Kernel                 | 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28)
Architecture                 | x86_64
ZFS Version                  | 0.7.5-1~bpo9+1
SPL Version                  | 0.7.5-1~b

[2018-02-20 13:21] loli10K commented on #7195
Duplicate of #3104

[2018-02-20 13:23] AceSlash commented on #7195
As asked on IRC, the CPU on this server are 2x Intel(R) Xeon(R) CPU E5-2667 v2 @ 3.30GHz .

An the pool layout is:
[code]
Also note that the "zfs destroy -r" did eventually return (not sure how much time it took, more than 30 minutes that's for sure). Since I tried to CRTL+C it, the "zfs destroy -r" command did delete all snapshot but not the dataset itself.

[2018-02-20 13:39] AceSlash commented on #3104
@behlendorf Is there an upstream ticket since?

This issue is still here on ZoL 0.7.5. I got bitten by it several time now when I forget and naively runs a `zfs destroy -r`. With monitoring software that issue a log of `zfs get` and hourly backup script, the amount of zfs commands stuck grows very quickly and the consequences can be very bad.

[2018-02-20 13:40] AceSlash commented on #7195
Since this ticket is the same as #3104, closing it.

[2018-02-20 13:40] #7195 closed

[2018-02-20 14:44] AndCycle commented on #6171
just a simple report back,

upgrade to 0.7.6 and have system run for 24hrs,
z_null_int no longer show up in my iotop, and the ARC hit rate also fixed on my case.

[2018-02-20 17:46] behlendorf commented on #7179
It looks like we're either going to need a little more compatibility code for this.

[2018-02-20 17:55] tonyhutter commented on #7179
@behlendorf yea, I'll do the normal autoconf tests for it.

[2018-02-20 18:36] tonyhutter commented on #7183
Yea, unfortunately the `-c` error reporting is non-existent at this time.  We do provide a sudoers rule that people can use to allow `smartctl` for unprivilaged users (`etc/sudoers.d/zfs` mentioned in `zpool(8)`)

[2018-02-20 20:58] behlendorf commented on #3104
@stevenburgess @AceSlash we expect that ZFS Channel Programs (OpenZFS 7431), #6558, should improve performance for this case.  This feature was recently merged to master and if your in a postion to test the current master source it would be appreciated.

[2018-02-20 21:49] behlendorf commented on #7186
@vozhyk- by chance is this pool using the new encryption feature?

[2018-02-20 22:59] vozhyk- commented on #7186
@behlendorf no. The 2 extra commits in ZFS don't touch ZFS code (just add some libraries and a binary).

It was running a version of ZFS with encryption support for some time, but I never enabled or used it.

[2018-02-21 00:17] behlendorf commented on #7186
Thanks, then that narrows this issue down to a failure [here](https://github.com/zfsonlinux/zfs/blob/master/module/zfs/arc.c#L2231) decompressing the data which is almost certainly due to a memory allocation failure.  Which is good since that jibes with the stack trace you posted.  I'd expect the proposed changes in #7170 to help mitigate this and we'll of course want to handle this more gracefull

[2018-02-21 00:27] #6916 closed

[2018-02-21 01:00] fcicq commented on #1952
Anyone still interested in this issue?

it is possible to port the scheduler by joyent which use zoneid to use blkcg instead, but it will become a one layer scheduler if succeed.

idea:
in order to save the state in blkcg, use blkcg_policy_register() and activate it.
this is available since kernel 4.2 at https://github.com/torvalds/linux/commit/e48453c386f39ca9ea29e9df6efef78f56746af0 , 4.3 fixed

[2018-02-21 02:13] Pauan commented on #7095
This is a serious issue for me, yet I have waited patiently for over 3 weeks for a reply.

Even saying something like "we're sorry, we can't help you, all of your data is lost forever" would be better than silence.

I understand that the `sa_magic` panic is probably not the fault of zfs, but the `blkptr` panic sounds pretty serious.

[2018-02-21 03:17] verygreen opened #7203 "VERIFY3(dr->dr_dbuf->db_level == level) failed (1 == 18446744073709551615)"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | RedHat
Distribution Version    | 7
Linux Kernel                 | 3.10.0-debug
Architecture                 |
ZFS Version                  | 0.7.6
SPL Version                  |

### Describe the problem you're observing
I hit the above mentioned ass

[2018-02-21 06:48] mabod opened #7204 "Question about "refcount mismatch""
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Manjaro
Distribution Version    |  rolling release
Linux Kernel                 |  4.15.4
Architecture                 |  amd64
ZFS Version                  |  0.7.5-1
SPL Version                  | 0.7.5-1

I find a handful of issues here related t

[2018-02-21 07:11] fcicq commented on #1952
Ah. the situation is harder than I thought. I dont know where to mark the request.

for example, there is wbc in the zfs_writepage().
if (wbc->wb), we should save wbc->wb->blkcg_css to somewhere... and it must be handled to zio_create. is that possible?

[2018-02-21 09:31] geaaru commented on #7165
A question... from dmesg there is this message:
[code]
Could be related with some options to pass on load ZFS kernel module to limit on 32bit with few memory ?

[2018-02-21 09:57] morphinz opened #7205 "CPU soft lockup & z_null_iss + mmp high cpu usage"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | ARCH Linux
Distribution Version    | SMP Tue Feb 13 13:11:52 CET 2018 x86_64 GNU/Linux
Linux Kernel                 | 4.14.19-1-lts
Architecture                 | x86_64
ZFS Version                  | zfs-linux 0.7.6-1
SPL Version                  |

[2018-02-21 14:03] geaaru commented on #7165
I confirm that if I create a new pool all works fine. Issue is related with use of existing pool.

[code]

[2018-02-21 15:04] tcaputi commented on #7147
@lnicola would you mind trying this again with the most recent code from master. We recently fixed a related issue to this and I think the problem might be solved.

[2018-02-21 15:05] lnicola commented on #7147
I'll try it on the next distro package update, but the only issue I still have is the slow send.

[2018-02-21 15:09] tcaputi commented on #7117
I think this might be fixed with https://github.com/zfsonlinux/zfs/pull/7200. We were unable to reproduce the issue with the commands you gave us, but that patch fixes some of the error handling in the receive code path. Specifically, there was an issue where a failed receive would still update the encryption keys, even though the rest of the state was rolled back. When that patch is merged, can y

[2018-02-21 15:11] tcaputi commented on #7147
Ok. That problem should mostly be alleviated by #7197 so hopefully all your problems should be fixed soon.

[2018-02-21 16:32] prometheanfire commented on #7117
Sure, I'll get this on both sender and receiver.  Do I need to recreate the dataset that already exists on the receive side (since I'm doing incrimentals)?

[2018-02-21 16:46] tcaputi commented on #7117
I would just to be safe. I'm still not sure the exact steps to get into your state

[2018-02-21 18:09] geaaru commented on #7165
I see this after reboot and a retry to import test pool:

[code]

And when I try to export pool from disk on power-safe mode command it remains stuck (also if I try to do fdisk -l). It seems that there is some case when there is a semaphore locked for ever.

[2018-02-21 20:50] behlendorf commented on #7095
@Pauan thank you for your patience and I'm sorry to hear you ran in to problems.

My suggestion would be to try and import the pool read-only and to set the `zfs_recover=1` module option.  This will do a few things.  By importing the pool read-only ZFS won't bother reading certain information from disk, if those are the damaged blocks then you should be able to get the pool imported.
 Secondly set

[2018-02-21 20:55] behlendorf commented on #7204
It depends.  This may be harmless if you're running `zdb` on an active imported pool.  To determine for certain if there's an issue make sure you export the pool then run `zdb` on it and see if it detects the same problem.

If you still observe the issue it means that the spacemaps describing the free space in your pool have somehow been damaged.  Currently the only guarenteed cure for this is to

[2018-02-21 20:59] behlendorf commented on #7205
@morphinz if the system is still in this state could you place grab backtraces for the `z_null_iss` and `mmp` processes if possible.

[code]

[2018-02-21 21:52] #7183 closed

[2018-02-22 00:48] fcicq commented on #4275
if I remembered right, blkio.io_service_bytes is updated by cfq, so if you use noop you cant see that.
blkio.throttle.io_service_bytes always works if you enabled, but it can only be used on zvol.
see also #1952

[2018-02-22 05:11] prometheanfire opened #7213 "volumes missing from /dev/zvol"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | latest
Linux Kernel                 | 4.14.20
Architecture                 | x86_64
ZFS Version                  | 09302a4ca86df2a758c5b883e28b0952cfa31ff7
SPL Version                  | 378c6ed549e7d68eebb4b0bd37a09e

[2018-02-22 05:13] prometheanfire commented on #7213
@tcaputi can't test the encryption if my iscsi devs can't get accessed :P

[2018-02-22 05:57] mabod commented on #7204
I dont know what you mean. When I export the pool and run `zbd -u zstore`

`zdb: can't open 'zstore': No such file or directory`

and `zdb -ue zstore` says:

`zdb: can't open 'zstore': File exists`

If I move ` /etc/zfs/zpool.cache` and try `zdb -ue zstore` again it gives the same error:

[code]

[2018-02-22 06:07] mabod commented on #7204
I succeeded somehow to get zdb output from the exported pool. I moved `/etc/zfs/zpool.cache` and ran `zdb -eC zstore`: This gives the same `space map refcount mismatch`:

[code]
So you say this pool is in trouble? What next?

[2018-02-22 06:45] tcaputi commented on #7213
I'm assuming the zvols are encrypted? This patch should fix that issue: https://github.com/zfsonlinux/zfs/pull/7210

[2018-02-22 07:08] mabod commented on #7204
This whole thing is making me nervous. And obviously I am not alone. There are more issues raised about the same thing.  E.g. Issue #3094 is open since Feb. 2015 but nowhere an explanation why this is happening and if it dangerous. Possible solutions are discussed since 2015 either. See issue #3111 which still open.

I am reading all this and can not get my arms around it. If this `space map refco

[2018-02-22 07:37] kpande opened #7215 "can't split encrypted zpool"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | 17.0
Linux Kernel                 | 4.14.20
Architecture                 | amd64
ZFS Version                  | 0.7.0-316_ge921f650
SPL Version                  | 0.7.0-29_g378c6ed

### Describe the problem you're obs

[2018-02-22 07:47] kpande commented on #7215
trying to split a non-encrypted pool results in the following:

[code]

[2018-02-22 07:49] loli10K commented on #7215
It just occurred to me we don't really test `zpool split` in the ZFS Test Suite, we should do that. I can probably add more tests for `zpool split` when i'm done importing/packaging pyzfs from ClusterHQ repo.

[2018-02-22 07:50] kpande commented on #7215
@loli10K you think it's a problem on other platforms too?

[2018-02-22 07:54] loli10K commented on #7215
Yes, and we have some other subtle issues with `zpool split`, https://github.com/zfsonlinux/zfs/issues/6643.

[2018-02-22 08:32] morphinz commented on #7205
@behlendorf Yes system still running. Just ask me anything you want.

[code]

And process still is there.
[code]

[2018-02-22 17:02] #7179 closed

[2018-02-22 17:42] stgraber commented on #6966
This will be addressed by the fix in #7120 so the issue should probably be considered a duplicate of #5796.

[2018-02-22 17:55] behlendorf commented on #6966
There is an updated version of the #7207.

[2018-02-22 20:39] jspiros commented on #6332
@flynnjFIU In the interest of completeness, yes, I have `relatime=off` as well, and the problem still occurs.

[2018-02-22 21:24] tcaputi commented on #7215
@kpande I'm pretty sure this should already be fixed with 163a8c28dd7084bd85a32968c2b7941e99ead161. Can you try it again with that patch and let me know if the problem persists?

[2018-02-22 21:25] MyPod commented on #7204
This isn't a hardware issue but rather an issue with ZFS. What follows is just my understanding of the matter, which may or may not be correct.
There isn't a clear reproducer that can be used to understand why this issue happens, and that's why there's not been much progress in fixing it. There aren't tools to perform offline scanning and correction of issues like this and similar that could rebui

[2018-02-22 21:27] tcaputi commented on #7213
The patch was merged. You should be able to try again with the current master code.

[2018-02-22 21:33] prometheanfire commented on #7213
yep, they showed up again

[2018-02-22 21:33] #7213 closed

[2018-02-22 21:48] kpande opened #7217 "mounting encrypted dataset fails with "Invalid exchange""
this pool was Feb 18th and a new SSD arrived so I intended on doing testing and tried to zpool split the mirror to create two separate pools, but that didn't work (reported an issue for it)

I tried to send/recv the entire rpool to rpool2 and this seemed to work until I exported and imported - I could no longer mount the filesystems.

some issue is preventing mount of encrypted datasets - it kind-

[2018-02-22 21:59] kpande commented on #7215
@tcaputi I can't mount datasets with master branch, see #7217

[2018-02-22 22:39] behlendorf opened #7218 "Test case zpool_import_errata3"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | all
Distribution Version    | all
Linux Kernel                 | all
Architecture                 | all
ZFS Version                  | zfs-0.7.0-317-g7b30ee6
SPL Version                  | 0.7

### Describe the problem you're observing

Frequently ob

[2018-02-22 22:41] #7218 closed

[2018-02-22 22:52] tcaputi commented on #7217
Hmmm. interesting. Let me look into this today and tomorrow.

[2018-02-22 23:05] tcaputi commented on #7217
I noticed in your snippets that in your working example you only sent `ROOT`. That dataset didn't appear to have a problem in the `-wR` case either. did you try sending the ALL of the other datasets with with just `-w`?

[2018-02-22 23:06] kpande commented on #7217
I can't, `-R` requires `-w`. I tried sending each individually, no go.

[2018-02-22 23:09] kpande commented on #7217
(if we could get `-R` to work without `-w` that would be most excellent - it's not clear why it won't work, as-is)

[2018-02-22 23:12] tcaputi commented on #7217
I meant sending them each individually. By nogo you mean they don't mount like that either? Basically what I'm asking is you can cause the issue without `zfs send -Rw`?

Working on it. The reason is that the encryption code isnt yet integrated with `zfs recv -o / -x`, and there are a lot of complications and edge cases that come up related to encryptionroot hierarchy when you do a recursive raw se

[2018-02-22 23:13] ofaaland opened #7219 "ztest fails with "No such hold ... on refcount ..." in arc_free_data_impl->refcount_remove_many"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 7 test builder
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | dfcb779 on top of master 0d398b2
SPL Version                  | master 378c6ed5

### Describe the prob

[2018-02-22 23:15] kpande commented on #7217
that's funny because I was going to say, if only `-o` and `-x` worked (I already brought this up to you) then we'd be able to use `-R` no problem ;D

but they do mount when sending with -w only, but well, I wanted to send all the snapshots and properties (and keys)

[2018-02-22 23:42] behlendorf opened #7220 "Test case: mv_files_002_pos"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 7
Linux Kernel                 | 4.8.1-1.el7.elrepo.x86_64
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe

[2018-02-23 00:00] trisk commented on #7104
Is the sysctl `vfs.zfs.l2arc_noprefetch` set? This will prevent the L2ARC from caching streaming workloads which would mean your disk image isn't populated into the L2ARC.

[2018-02-23 00:09] tcaputi commented on #7217
So this * only * happens when you use `-R`. That's pretty interesting. That helps a lot. I'll look into it tomorrow.

[2018-02-23 00:16] kpande commented on #7217
@tcaputi the odd part is how my currently-running ZFS will mount my rpool but then the latest ZFS won't (once it's included in the initrd, I can't even boot)

[2018-02-23 00:18] kpande commented on #7217
@tcaputi I did receive the rpool initially  but you'd think if there were only an issue with recv then it wouldn't mount my rpool either.. but once it boots from rpool I can freely reproduce the Invalid exchange, so this older version isn't 100% either.

[2018-02-23 00:26] prometheanfire opened #7221 "How to receive the first raw encrypted stream"
I'm probably doing it wrong, but I thought in order to set up a backup of a dataset, you need the dataset create on the remote server.  Then send/recv -F it to overwrite.

if sent with -F:

    cannot receive new filesystem stream: zfs receive -F cannot be used to destroy an encrypted filesystem or overwrite an unencrypted one with an encrypted one

if sent without -F:

    cannot receive new file

[2018-02-23 00:26] prometheanfire commented on #7221
@tcaputi how are we supposed to set up encrypted backups (bootstrap them)?

[2018-02-23 01:41] fcicq opened #7222 "feature: reporting bdi congested state"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | *
Distribution Version    | *
Linux Kernel                 | 4.2+
Architecture                 | *
ZFS Version                  | *
SPL Version                  | *

### Describe the problem you're observing
linux kernel 4.2 introduced CONFIG_CGROUP_

[2018-02-23 01:54] kpande commented on #7221
@prometheanfire are you sending from an encrypted dataset or an unencrypted one?

sending from unencrypted dataset to encrypted remote side requires creating an encrypted remote dataset and loading the key before you can write, since it has to encrypt as it receives.

sending from encrypted dataset is simple, it should work with recv -F.

[2018-02-23 01:57] prometheanfire commented on #7221
I'm sending from encrypted to unencrypted

[2018-02-23 01:58] kpande commented on #7221
you can't, recv -o encryption=off doesn't work right now

[2018-02-23 02:20] prometheanfire commented on #7221
So I can't have it so the remote end (one receiving the backup) is not able to read the data?  I have to create an encrypted dataset/volume and recv -F to it to overwrite?

I'd like @tcaputi to confirm as I thought that was one of the desired use cases (for the remote end to not be able to read the received data).

[2018-02-23 02:32] kpande commented on #7221
for the remote side to be unable to read it must be encrypted locally and then send -w will accomodate you with raw blocks (remote key is not loaded)

for the remote side with a loaded key (it is readable) you do not need send -w and can  have different keys on sending and receiving side (I believe)

[2018-02-23 02:37] prometheanfire commented on #7221
ok, I'd like to confirm before I send though :P

[2018-02-23 02:57] tcaputi commented on #7221
@kpande has it pretty much exactly right. The only way to make the data unreadable on the remote is to encrypt it locally and then do a raw send. If you want the receeived dataset to be unencrypted, you can wait until I have support for `zfs recv -o / -x` with encryption properties integrated or you can avoid using the `-p` and `-R` options. I understand this is inconvenient, and I plan to have th

[2018-02-23 03:01] tcaputi commented on #7217
How long ago did you receive the rpool? There was a brief period where there was an incompatibility with encryption and the new project quota code. All of the known bugs related to this were fixed in 7b30ee6bafe91ebd3b34433ef3b943fd07a98cea, 163a8c28dd7084bd85a32968c2b7941e99ead161, and f8478fc2ca8d62f9562a4284426e8d3bd41c0cf0

[2018-02-23 03:03] prometheanfire commented on #7221
@tcaputi sure, so if I want to have the remote recv be unreadable by the remote system what should I do?

[2018-02-23 03:17] kpande commented on #7221
like so;

[code]

[2018-02-23 03:44] kpande commented on #7217
seems that the `-d` argument to recv is what causes the `does not exist` error.

[2018-02-23 03:45] prometheanfire commented on #7221
@tcaputi ok, it looks like I can't recv a raw stream with `-d`

`-d`  Discard the first element of the sent snapshot's file system name, using the remaining elements to determine the name of the target file system for the new snapshot as described in the paragraph above.

[2018-02-23 03:45] kpande commented on #7217
I did try reverting to ZFS version before those commits because I did remember seeing them, but it still does the same thing in the initrd..

[2018-02-23 03:49] kpande commented on #7221
i found some errant data hidden among your send stream?

![alt text](https://i.imgur.com/ln71BcI.png)

[2018-02-23 03:49] prometheanfire commented on #7221
to be clear, THIS worked

`zfs send -Lwecp POOLNAME/DATASET_PATH@backup-201802091942 | ssh IP_ADDR zfs recv -uvsF -o canmount=off storage-pool/remote-backups/POOL_NAME/DATASET_PATH`

[2018-02-23 04:45] Pauan commented on #7095
@behlendorf Thank you very much for replying!

I tried following your instructions, this is the result in the console:

[code]

(I did not manually kill it, the `Killed` is the output from the command)

And here is the output of `journalctl -b` after running the above commands:

[code]

In other words, it's still giving the `blkptr` panic.

[2018-02-23 04:52] prometheanfire commented on #7221
looks like I got another fail though

[code]

[2018-02-23 04:52] prometheanfire commented on #7221
I'll leave it up til tomorrow, then I'll have to reboot

[2018-02-23 04:57] kpande commented on #7221
that is a similar error to #7215

[2018-02-23 04:58] prometheanfire commented on #7221
since we are getting to that point, this kernel has zfs at https://github.com/zfsonlinux/zfs/commit/f8478fc2ca8d62f9562a4284426e8d3bd41c0cf0

[2018-02-23 05:59] prometheanfire commented on #7221
writes were stalled, had to reboot to reset :|

[2018-02-23 06:34] kpande commented on #7217
so i managed to use ZFS 316 to send my datasets to an unencrypted pool and then boot into ZFS 330 successfully (without encryption, but also without `-R` or `-w` because both are incompatible with decrypting a send stream, since `-o encryption=off` can't be specified), then once again send/recv my data to the recreated `rpool` and encrypt it the same way it was before.

now I'm able to mount all o

[2018-02-23 06:36] prometheanfire commented on #7217
we should probably combine our backtraces into voltron

[2018-02-23 06:51] tcaputi commented on #7217
@kpande

This makes sense. Like I was trying to say above (but I'm not sure if it was clear), the new projectquota code which was merged about a week ago had some on-disk incompatibilities with the encryption code; The project quota data which was added wasn't being properly protected. If you created these datasets on thee code that did not have that problem fixed you would definitely see those pr

[2018-02-23 06:52] kpande commented on #7217
316 and 330 refer to build numbers, as referenced initially in the OP

`working: v0.7.0-316_ge921f650,, not working: 0.7.0-330_g09302a4c`

[2018-02-23 06:54] tcaputi commented on #7221
@prometheanfire  Try the current master with 163a8c2 (as I said in #7217). I believe this should correct that problem.

Sorry for all the issues with this feature. on the surface raw sends are really a very simple idea (take the raw encrypted data and put it on disk, then save the encryption key). However, much of the ZFS code wass not built for this and we have uncovered many latent issues that d

[2018-02-23 06:56] prometheanfire commented on #7221
Both source and receive have https://github.com/zfsonlinux/zfs/commit/163a8c28dd7084bd85a32968c2b7941e99ead161

I'm not worried too much about it not working, I know it'll work eventually :D

[2018-02-23 06:57] kpande commented on #7221
the image was a joke I'd hoped you'd laugh at, maybe someday you will. :+1:

[2018-02-23 06:57] tcaputi commented on #7221
I appreciate it. Thanks for all the help testing in different environments.

[2018-02-23 07:00] prometheanfire commented on #7221
consider this testing the vigorous desire to use what you are enabling :robot:

[2018-02-23 07:01] prometheanfire commented on #7221
At this point should this issue be moved into another issue?

[2018-02-23 07:02] kpande commented on #7221
sure, i'll report a new bug since you're going to be away.

[2018-02-23 07:02] #7221 closed

[2018-02-23 07:04] tcaputi commented on #7221
The spa_do_crypt_abd() issue is probably a duplicate of #7215.

[2018-02-23 07:04] kpande opened #7223 "backtrace when sending encrypted dataset"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | 17.0
Linux Kernel                 | 4.14.20
Architecture                 | amd64
ZFS Version                  | 0.7.0-330_g09302a4c (master)
SPL Version                  | master

### Describe the problem you're obser

[2018-02-23 07:05] kpande commented on #7221
ok, well, we can close #7223 then

[2018-02-23 07:05] tcaputi commented on #7217
I see. That has all the fixes so this must be something new. Let's consolidate this in #7215 since that appears to be the same issue at this point

[2018-02-23 07:05] kpande commented on #7223
@tcaputi close this if satisfied that it's a duplicate, please

[2018-02-23 07:06] tcaputi commented on #7223
Duplicate of #7215

[2018-02-23 07:06] #7223 closed

[2018-02-23 07:06] kpande commented on #7217
we should leave this one open so that the errata for the pool can be tracked instead of the nasty "won't mount at boot" issue

[2018-02-23 07:09] tcaputi commented on #7217
I'm not completely sure how we want to handle this. The problem only existed for about 4 days so I'm not sure if we want to make a full errata listing for it and I'm not sure what the criteria should be for closing this. @behlendorf any thoughts here?

[2018-02-23 07:10] kpande commented on #7217
a few people were testing encryption in this time window since the fix had been merged so there's bound to be more than 1 more person asking, it's up to you and @behlendorf though

[2018-02-23 07:12] prometheanfire commented on #7217
Let me see if I got this right.

~4 days ago a bug was introduced that caused pools/datasets created with that version to be on disk incompat.
~12 hours ago it was fixed

that it? (want to know if I need to recreate my pool).

[2018-02-23 07:13] kpande commented on #7217
if you upgraded the pool (I didn't realize I had?) to enable that feature then it is affected, apparently. but if master will load everything, no problem.

[2018-02-23 07:16] prometheanfire commented on #7217
ah, ya, doesn't look like I have that enabled yet

[2018-02-23 07:27] prometheanfire commented on #7217
I might have booted a kernel without the fix, but not with project_quotas enabled

[2018-02-23 07:48] tcaputi commented on #7215
Interestingly enough, my system fails to split the pool with a similar message (the pool remains unsplit though).

[code]

[2018-02-23 07:58] tcaputi commented on #7215
@kpande This also fails to reproduce the issue for me (from the duplicate ticket #7223). Any other ideas to replicate it?

[code]

[2018-02-23 08:52] kdwinter commented on #7217
I'm afraid I've been hit by this issue as well. Yesterday I upgraded my pool, which contains only encrypted datasets, as advised by zpool status. Today after a fresh boot I can no longer import, mount, or run any zfs-related commands without them timing out or completely locking up the system. `dmesg` is also full of "Tainted" call traces.

I have since updated to the latest master code, but that

[2018-02-23 09:26] tcaputi commented on #7217
@kdwinter It looks like you started using the code from master at the wrong time. Good news is that I think your data is fine (as far as I can tell). Your zfs commands are hanging because of a failed ASSERT in the code. I will be working to resolve that first thing tomorrow, but until I can figure out what's wrong and come up with a fix you might have to just hang tight.

Side note: "tainted" does

[2018-02-23 10:49] kdwinter commented on #7217
Thanks for the followup. Hopefully the data is indeed fine, as I have to admit I did not consider *this* kind of issue to be a possible cause for data loss. Lesson learned, preferably not the hard way! :)

[2018-02-23 16:03] kpande commented on #7215
you didn't get a stack trace when splitting the pool?

[2018-02-23 16:10] kpande commented on #7215
the latest ZFS master doesn't trigger the ASSERT during `zpool split` but it does during `zfs send`

[2018-02-23 16:10] kpande commented on #7215
[code]

[2018-02-23 16:12] kpande commented on #7215
[code]

here, I hit the ASSERT on a freshly booted system.

[2018-02-23 16:15] kpande commented on #7215
@tcaputi make sure that compression is enabled.
https://pastebin.ca/raw/3977324

[2018-02-23 17:19] behlendorf opened #7224 "Test case: zfs_promote_008_pos"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ununtu
Distribution Version    | 17.10
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're ob

[2018-02-23 17:28] morphinz commented on #7205
Today I tried to export the pool but when i start "zpool export" I got cpu lockups again.
(I still did not reboot the server since When i open the issue. but im gonna shoot the server and run failover. )
I just waited 40 min but nothing changed, zpool export command still waiting.
Zpool status, zfs list vs. Not working either.

BTW: I have 2 pool on the server "ssdpool and clspool".
When I upgrade

[2018-02-23 17:47] behlendorf commented on #7222
Using`bdi->congested_fn` looks like a nice way to implement this.  But I don't think `vdev_queue_class_to_issue()` is exactly what you want since it will only return `ZIO_PRIORITY_NUM_QUEUEABLE` when all of the queues are full.  My suggestion would be to implement a new function in this layer which defines what congestion is.  Thanks for working on this!

[2018-02-23 18:02] behlendorf commented on #7095
OK, so the system crashed because by setting `zfs_recover=1` we allowed it to use potentially dodgy block pointer.  Can you also set `spa_load_verify_metadata=0` and `spa_load_verify_data=0` and try again.  This will disable some of the additional verification which might avoid reading the damaged block pointer allowing the pool to be imported.

[2018-02-23 18:53] tcaputi commented on #7215
No, and my pool didn't split. This is probably an existing problem as @loli10K alluded.

I'm still having trouble reproducing the error.... I updated my script to copy more data and do an incremental and still no ASSERT (see below). Still trying to figure it out....

[code]

[2018-02-23 18:58] kpande commented on #7215
it took a few GB before it triggers here, I'm using SSDs that transfer about 500MB/s and @prometheanfire is using NVMe that goes even faster

[2018-02-23 19:01] prometheanfire commented on #7215
yep, don't think I mentioned that either, but it does take a few GB here (and nvme doesn't help over a network :P)

[2018-02-23 19:15] prometheanfire commented on #7215
It MAY have happened at the end of a receive, but I'm not able to determine that.

[2018-02-23 19:16] kpande commented on #7215
four receives completed successfully before the final one failed at 5.91GB:

[code]

[2018-02-23 19:18] prometheanfire commented on #7215
ya, the smaller datasets seemed to work

[2018-02-23 19:33] tcaputi commented on #7215
While I'm getting this set up, can I ask you to run it again and see if the error happens at approximately the same place during the receive? I'm wondering if this is a problem with a specific record in the send file, or if the problem just happens randomly.

[2018-02-23 19:37] kpande commented on #7215
it's random:

[code]

[2018-02-23 19:38] #4662 closed

[2018-02-23 19:40] kpande commented on #7215
here is my .ko file in case you want to inspect it
[zfs.ko.gz](https://github.com/zfsonlinux/zfs/files/1752948/zfs.ko.gz)

[2018-02-23 20:20] tcaputi commented on #7215
Finaally able to reproduce it. Should be able to figrure it out soon

[2018-02-24 05:19] ebsebs commented on #7204
Hit the same problem after playing with zfs on Gentoo (4.14.21 kernel, 0.7.6 zfs)
zpool status
  pool: z
 state: ONLINE
  scan: resilvered 2.93M in 0h0m with 0 errors on Fri Feb 23 21:00:19 2018
config:

	NAME                                   STATE     READ WRITE CKSUM
	z                                      ONLINE       0     0     0
	  mirror-0                             ONLINE       0     0

[2018-02-24 07:30] mabod commented on #7204
Interesting, @ebsebs  !
I just realized that my pool - RAID10 - was also imported once with one drive missing. May be that introduced the refcount mismatch for me too.

[2018-02-24 07:34] ebsebs commented on #7204
I'm really curious what devs think about this - either I'm doing something weird (which is possible, I spent only several days trying zfs out) or I don't understand how this can be called production ready...

[2018-02-24 07:46] mabod commented on #7204
`I don't understand how this can be called production ready.`

This is exactly my point. And what I find really odd is that this bug is known since several years and I can not find any risk assessment from any ZFS developer. They have a skeleton in the closet and nobody is talking about it.

[2018-02-24 09:11] KireinaHoro opened #7228 "Segfault in zfs_do_bookmark if input snapshot name is invalid"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Arch Linux
Distribution Version    |  rolling
Linux Kernel                 |  4.15.3-ARCH
Architecture                 |  x86_64
ZFS Version                  |  0.7.6
SPL Version                  |  0.7.6

### Describe the problem you're observing

[2018-02-24 09:24] kpande commented on #7215
@tcaputi any luck?

[2018-02-24 09:28] mabod commented on #3111
@behlendorf  worte in Feb. 2015:

3 years later I have a couple of question about this:

1. This refcount mismatch bug is still open. It looks like the Devs all agree that fixing this bug is not a priority. Does that mean that it is not critical for data integrity? Can somebody please share a risk assessment.

2. Fixing refcount mismatches with an extra tool is one thing. And I would highly apprec

[2018-02-24 09:59] woffs commented on #7003
I had a FAULTED on the other pool now, with zfs-0.7.5, and the hot spare was automatically activated as expected. So maybe this is fixed, or there is something special with the first pool. I'll close this for now.

[2018-02-24 09:59] #7003 closed

[2018-02-24 10:27] bud4 commented on #3111
Il 24 feb 2018 10:28, "mabod" <notifications@github.com> ha scritto:

@behlendorf <https://github.com/behlendorf> worte in Feb. 2015:

I absolutely agree we need a tool which can rebuild the space maps.

+1

3 years later I have a couple of question about this:

   1.

   This refcount mismatch bug is still open. It looks like the Devs all
   agree that fixing this bug is not a priority. Does that

[2018-02-24 16:04] zeigerpuppy commented on #6453
Just tested with the new release 0.7.6 which builds fine on Debian Stretch.

I'm so impressed with the new performance gains, on a deliberately memory starved server (11G free), here are some stats:

8x NVME Micron 9100 (MTFDHAL1T2MCF) in RAIDZ2

[code]

[code]

[code]

[code]

[2018-02-24 19:08] sempervictus commented on #7204
Good chance it stores more data than any other disk-level FS, including at well known OS/device/cloud vendors for the everyday nonsense people keep on their devices and unwittingly clone to these systems on regular basis. Its more production ready than anything else meeting the capacity and functional requirements it has... Your options for alternatives can be described as limited or laughable, an

[2018-02-24 19:16] ebsebs commented on #7204
@sempervictus, I know what production means, thank you very much, I work for a company in Mountain View. Do you have anything closer to a topic of this bug to contribute?

[2018-02-24 21:09] aarononeal opened #7231 "Receive of raw encrypted dataset caused PANIC in zio_encrypt"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04.4 LTS (Xenial Xerus)
Linux Kernel                 | 4.4.0-1052-aws
Architecture                 | x86_64
ZFS Version                  | 0.7.0-338_g41532e5
SPL Version                  | 0.7.0-29_g378c6ed

### De

[2018-02-24 21:13] Hultner commented on #3065
I've run into the same problem and have tried everything I can think of without getting it to work. The solution @jawi and then @helix84 recommends does not work as the `spl_config.h` and `Modules.symvers` doesn't exist for me.

My `dkms status` list looks like this
[code]

And reinstalling spl with the conf gives the following
[code]

This is really quite cumbersome :/

[2018-02-24 21:14] sempervictus commented on #7204
_could_, in theory, if you manage to map a block as having been freed when it isn't. If this was a serious problem experienced in the field, in prod, it'd be addressed by the companies who sell ZFS commercially. Since that's not the case, they're still making money, and have not been sued into the dirt for losing data, one may conclude that it's a nuisance not a critical bug. We have run petabytes

[2018-02-24 21:17] mabod commented on #7204
@sempervictus  :
Thank you for this clarification. My concerns regarding this bug stem from the fact that only very few experts have actually assesst the resik associated with this bug. One of those few was @behlendorf who wrote in #3094:

He actually did this in a direct reply to you. For me this contradicts what you are stating here:

I hope you can understand that this is confusing for amateurs

[2018-02-24 21:23] loli10K commented on #7231
Duplicate of #7215

[2018-02-24 21:44] #7231 closed

[2018-02-24 21:52] sempervictus commented on #7204
Sorry for the confusion, this is a problem which can, mathematically result in such a condition. My commentary is intended to point out that practical collisions between a block marked as free when its not and allocated to other data are not common. Situations where you have allocation pressure coupled with these issues could get bad I imagine. I could see a nearly full pool doing file erasures an

[2018-02-24 21:56] kpande commented on #7204
this topic has been beaten to death, if @behlendorf wants more information he can unlock the conversation

for further reading see #3094 or use the [zfs-discuss](http://list.zfsonlinux.org) mailing list for discussion.

[2018-02-24 23:37] Hultner commented on #3065
I changed my sources to buster so I could use zfs 0.7.5, now it seems to work as it should.

[2018-02-25 00:49] zeigerpuppy commented on #6577
I can confirm the same error on Debian Stretch 9.1 and zfs release 0.7.6

[2018-02-25 01:46] zeigerpuppy opened #7232 "zpools not visible after reboot after upgrade to 0.7.6 (Debian)"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Debian Stretch (without systemd)
Distribution Version    | 4.9.65-3+deb9u1
Linux Kernel                 | 4.9.0-4-amd64
Architecture                 | amd64
ZFS Version                  | 0.7.6-1 (from release files)
SPL Version                  | 0

[2018-02-25 01:56] #7232 closed

[2018-02-25 01:57] kpande commented on #7232
please use [the mailing list](http://list.zfsonlinux.org) for distribution support on ubuntu or debian systems since we don't provide packages for these

[2018-02-25 02:11] DeHackEd commented on #5918
Slight edit, another machine is exhibiting the same symptoms with an L2ARC. Maybe I can.

(I absentmindedly removed the L2ARC as a fix before I remembered this issue was still outstanding)...

But this will likely take some time. It's around a month between crashes. And I'll have to get approval from above before I leave a machine in a potentially crash-prone state.

[2018-02-25 03:56] fcicq commented on #7222
@behlendorf
Is this correct? for both sync/async, ```return txg_stalled(spa->spa_dsl_pool->dp);``` (and spa is zsb->z_os->os_spa?)

[2018-02-25 10:37] tcaputi commented on #7215
Figured out what's going on. There is a subtle race condition that can happen:

1. Send stream received a `OBJECT_RANGE` record, which gives an L0 dnode block its encryption parameters.
2. The txg sync happens, writing out this block. The data hasn't been filled in yet, so it becomes a hole
3. Subsequent `OBJECT` records attempt to write raw data into the dnode block, but it is not encrypted (beca

[2018-02-25 14:57] wiesl opened #7233 "Fedora 27 repositories - not working"
Tried to install it according to: https://github.com/zfsonlinux/zfs/wiki/Fedora
dnf install http://download.zfsonlinux.org/fedora/zfs-release$(rpm -E %dist).noarch.rpm
gpg --quiet --with-fingerprint /etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux
dnf install kernel-devel zfs
Failed to synchronize cache for repo 'zfs', disabling.

Looks like the repos aren't available anymore.

It is also not listed in the

[2018-02-25 15:24] morphinz commented on #7097
Hello again.
I still have the problem. Could you please give me an advice?
How can I debug the problem? How can I understand what is the reason of this issue?
BTW= 0.7.6-1 have same problem. Nothing changed.

[2018-02-26 01:16] alienmindbender commented on #6171
a simple report back as well (even if I didn't participate in the conversation before).

I still see z_null_int in iotop using
v0.7.6-1, ZFS pool version 5000, ZFS filesystem version 5

[2018-02-26 07:12] chrone81 opened #7235 "Possible memory leak on ZFS ZVOL as source image format and qemu-img convert."
### System information
Type                                | Version/Name
Distribution Name       | Proxmox VE
Distribution Version    | 5.1-41
Linux Kernel                 | 4.13.13-6-pve
Architecture                 | amd64
ZFS Version                  | 0.7.6-1
SPL Version                  | 0.7.6-1

### Describe the problem you're observing
"qemu-img convert" will use all available memory as b

[2018-02-26 07:18] gmelikov commented on #7235
Could you try to reproduce it with https://github.com/zfsonlinux/zfs/commit/e9a77290081b578144e9a911ad734f67274df82f ?

[2018-02-26 07:19] jkalousek commented on #6171
After upgrade to 0.7.6-1 on Proxmox on Friday I can say that I also still see z_null_int in iotop but after two nights full of backups so far I can say that problem with slowdowns and freezing didn't occur (unlike every backup in past 3 months) so I will keep continue testing through this week and report back if I hit any performance problems.

[2018-02-26 08:12] kdwinter commented on #7217
@tcaputi Any update on this?

[2018-02-26 08:22] tcaputi commented on #7217
We are tracking that issue here: https://github.com/zfsonlinux/zfs/issues/7215. I posted an update last night. I hope to have it fixed by tomorrow morning.

[2018-02-26 09:16] bunder2015 commented on #7235
I wonder if 03b60eee78b0bf1125878dbad0fcffd717def61f would also help

[2018-02-26 09:51] Fabian-Gruenbichler commented on #7235
@chrone: if you need a test PVE kernel with either (or both) of these
commits cherry-picked, feel free to ping me.

[2018-02-26 10:07] chrone81 commented on #7235
@gmelikov @bunder2015 Thanks for the tips, unfortunately, I'm no good at compiling ZFS from scratch especially on PVE kernel.

@Fabian-Gruenbichler Whoa, this is great. Sure, I could do a test on the PVE kernel. Are you Fabian from Proxmox staff? If you are then I could leave a message on Proxmox forum.

[2018-02-26 10:59] bunder2015 commented on #7235
@chrone81 I believe you should have 03b60ee already as part of 0.7.x, however its disabled by default.  Setting `zfs_arc_pc_percent` to something like 100-500 may help block a mass arc eviction from linux buffer/cache.  (that is, unless I'm misinterpreting how that option works)

[2018-02-26 11:28] chrone81 commented on #7235
Hi @bunder2015 thanks for pointing that out. The memory buffered pages are removed when the 'qemu-img convert' is finished or cancelled though.

I just tested with 100 or 500 and it didn't help limit the buffered pages used by qemu-img convert. The memory buffered pages keeps growing and spilled to swap over time.

[2018-02-26 11:37] bunder2015 commented on #7235
My apologies, it must only work on cache then (rather than both cache and buffers). :frowning_face:

[2018-02-26 13:08] Pauan commented on #7095
@behlendorf Yes! Now I can mount it! My files *appear* to be intact, but I have no way of knowing which ones are corrupted and which aren't.

I'll start transferring the files over to a new harddrive. Thank you for your help! Where should I send the money I had promised?

[2018-02-26 13:08] #7095 closed

[2018-02-26 15:02] Fabian-Gruenbichler commented on #7235
PVE 5 kernel with #7170 backported:
http://download.proxmox.com/temp/pve-kernel-4.13.13-6-pve_4.13.13-42~test1_amd64.deb

md5/sha256sum:
[code]

[2018-02-26 16:02] Fabian-Gruenbichler commented on #7235
I think this is only tangentially ZFS related, as I can still reproduce it on a test system with #7170 included.

@chrone81: do you see an improvement if you manually re-try the qemu-img command (you might have to create the target zvol first if it does not exist already), but add "-t none -T none" before the zvol paths? I think qemu-img just has a very bad choice of default caching mode, which sh

[2018-02-26 17:55] #7228 closed

[2018-02-26 18:11] behlendorf commented on #7095
@Pauan if you can read the entire file then it's intact.  ZFS even with these slightly relaxed settings won't let you read a corrupt file.  No charge, I'm glad to hear you were about to get the pool imported.

[2018-02-26 18:29] tonyhutter commented on #7233
It works for me:
[code]

[2018-02-26 19:00] tcaputi commented on #7215
Pushed a patch  (#7236). It resolves the issue in my testing. Can you guys confirm it when you get a  minute?

[2018-02-26 19:36] wiesl commented on #7233
For some reasons after the update I had:
cat /etc/yum.repos.d/zfs.repo.new
[zfs]
name=ZFS on Linux for Fedora
baseurl=http://download.zfsonlinux.org/fedora///
enabled=1
metadata_expire=7d
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux

[zfs-source]
name=ZFS on Linux for Fedora  - Source
baseurl=http://download.zfsonlinux.org/fedora//SRPMS/
enabled=0
gpgcheck=1
gpgkey=file:///etc/

[2018-02-26 19:36] #7233 closed

[2018-02-26 20:13] kdwinter commented on #7215
That appears to have fixed my problems at least. My pool is accessible and working again. Thank you!

[2018-02-26 22:33] behlendorf commented on #7222
@fcicq I'd recommend `dsl_pool_need_dirty_delay()` instead for async/sync writes,  it will kick in the when the dmu starts to throttle new transactions because the dirty limit has been exceeded.

[2018-02-26 22:40] behlendorf commented on #6171
Cherry-picking e9a77290081b578144e9a911ad734f67274df82f may yeild further improvements depending on your exact kernel version.  This one is also queued up for 0.7.7.

[2018-02-26 22:47] behlendorf opened #7239 "Test case: dbufstats_001_pos"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 6
Linux Kernel                 | 2.6.32-696.20.1.el6
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're observing

[2018-02-26 22:52] andi8086 opened #7240 "cannot import encrypted pool created with zfs-0.7-rc4"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Arch-Linux
Distribution Version    |  -
Linux Kernel                 | 4.9.37
Architecture                 |  x64
ZFS Version                  |  0.7.2 / 0.7.6
SPL Version                  |  0.7.2 / 0.7.6

### Describe the problem you're observing

[2018-02-26 23:01] andi8086 commented on #7240
Okay, forget it... I did not understand that the support for encryption is only in master on top of 0.7.0-something.... strange branching... a pitty.

[2018-02-26 23:01] #7240 closed

[2018-02-27 00:09] prometheanfire commented on #7215
I'm not able to test for a week, but thanks for looking into this.

[2018-02-27 00:38] behlendorf commented on #7204
@mabod @ebsebs believe me I share your concern about this issue.  I'd like nothing more than to get to the root cause of the problem and resolve it.  Unfortunately, reproducing this specific issue so it can be understood has proven to be challenging.  Despite having good test coverage for this in the test suite (including `ztest` which verifies the space maps frequently) the issue has not been rep

[2018-02-27 00:38] #7204 closed

[2018-02-27 01:05] ebsebs commented on #7204
@behlendorf, I didn't mention but I had spacemap_histogram feature enabled by default on zpool when I was able to reproduce the problem. If I don't have this feature enabled, I cannot reproduce it anymore.
What kind of setup you'd prefer for a repro? I can try in Gentoo VM (vmware fusion)

[2018-02-27 01:06] fcicq commented on #7222
@behlendorf thanks. that is a simplified method... so the both checks should be preserved,
even txg_kick will never be called on this path.

[code]

sb->s_iflags |= SB_I_CGROUPWB; is for later (enabled for dev), another issue though.
I need wbc_account_io() but exported by EXPORT_SYMBOL_GPL :(

Now this one is resolved. but I cant do pull request atm ... sorry.

[2018-02-27 01:11] aarononeal commented on #7215
So far so good. Several datasets completed and I'll report back when the rest finish.

[2018-02-27 01:12] fcicq commented on #7235
try again with memcg / memory controller enabled. maybe like this
cgcreate -g memory:/sandbox
cgset -r memory.limit_in_bytes=100M sandbox
cgexec -g memory:/sandbox (your actual work)

[2018-02-27 01:18] behlendorf commented on #7204
@ebsebs pretty much any distribution I can easily install in a VM locally would be fine.  I'm not particularly familar with Gentoo so I'd prefer one of the other major distributions with a stock kernel if that's possible.  But the key thing would be the specific steps to reproduce it since then we'll hopefully be able to distill it down in to a test case which can be added to the full test suite.

[2018-02-27 01:27] behlendorf commented on #7204
@ebsebs thanks.  For what it's worth, there's nothing too special about using sparse files for vdevs, that might make it a little easier to work up a reproducer.

[2018-02-27 03:28] chrone81 commented on #7235
@Fabian-Gruenbichler

Just tested without the patched PVE kernel and with the qemu-img convert -t none and -T none options. The RAM usage is normal as in attached screenshot.

![zfs zvol qemu-img convert issue fix](https://user-images.githubusercontent.com/1284195/36709090-c004d210-1ba8-11e8-861c-566a3c199eb8.png)

I'll test with the patched kernel and report back later.

@fcicq Unfortunately, I d

[2018-02-27 04:49] chrone81 commented on #7235
@Fabian-Gruenbichler using the ZFS patched PVE kernel didn't help. Only with the qemu-img convert -t none and -T none options did fix this issue.

[2018-02-27 06:01] gmelikov commented on #7240
master branch will be changed to 0.8 later.

[2018-02-27 06:59] kpande commented on #7215
works here, thanks @tcaputi

[2018-02-27 07:51] ebsebs commented on #7204
So far my attempts to reproduce this using sparse files directly or through loop devices were unsuccessful. Same goes for virtual SCSI disks under VMware Fusion... I'll keep trying

[2018-02-27 08:00] tuomari commented on #5910
The system has been stable for a while. Assuming this fixed.

[2018-02-27 08:00] #5910 closed

[2018-02-27 08:00] tuomari commented on #6327
I have not encountered this in a while. Closing as assumed fixed

[2018-02-27 08:00] #6327 closed

[2018-02-27 08:01] tuomari commented on #6220
Have not encountered this in a while. Assume fixed

[2018-02-27 08:01] #6220 closed

[2018-02-27 09:36] Fabian-Gruenbichler commented on #6171
for the PVE users in this issue: https://github.com/zfsonlinux/zfs/issues/7235#issuecomment-368531631 contains information about a test build of the PVE kernel with commit e9a7729 / PR#7170 backported

[2018-02-27 10:01] gmelikov commented on #3324
Looks like the problem persists http://list.zfsonlinux.org/pipermail/zfs-discuss/2018-February/030543.html , reopened.

[2018-02-27 12:08] tuomari opened #7241 "ZFS gets stuck when copying large files"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian
Distribution Version    |  Jessie (8.10)
Linux Kernel                 | 4.9.49
Architecture                 | amd64
ZFS Version                  |  0.7.0-338_g41532e5
SPL Version                  |  v0.7.0-29_g378c6ed

### Describe the problem

[2018-02-27 13:10] fcicq commented on #7241
from the trace: looks like txg is stuck (txg_wait_open & txg_wait_synced)... and blkdev_issue_discard seems to be slow.

[2018-02-27 16:55] behlendorf opened #7242 "Test case: mv_files_001_pos"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    | 7
Linux Kernel                 | 4.8.1-1.el7.elrepo.x86_64
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're obse

[2018-02-27 17:04] #7215 closed

[2018-02-27 19:42] morphinz commented on #7205
@behlendorf what happens here is mmp creates very high I/O if there are enough large number of disks in the pool. I am not sure the exact count but I observed that mmp is good with at 50 disks pool and behaves with at 165 disks pool. A full ssd pool of 165 disk has more than 33.000 I/O when set multihost=on and it becomes idle as soon as multihost is set off. Moreover it is impossible to export th

[2018-02-27 21:09] mabod commented on #7204
@behlendorf , @ebsebs

I was not able to reproduce with loop device but I was able to reproduce it 2 times with an arch linux installation in a virtualbox. I am using virutalbox  5.2.6 r120293 on Manjaro. Installed in virtualbox is arch linux xfce desktop. The steps to reproduce:

0.) Install arch linux + xfce + zfs in virtualbox and bring up-to-date. arch linux is setup to import pools during boo

[2018-02-27 21:20] loli10K commented on #7204
@mabod "scan" import or "cachefile" import? Can you please post the full output of `zpool history $poolname`?

[2018-02-27 21:26] sdenovan commented on #3512
This can be (inelegantly) hacked together if you're desperate for the functionality today:

1) Create a chrooted SFTP user (ie. SFTP instead of SSH for additional security) on the host that is restricted to the ZFS filesystem that backs the container. The UID/GID of the user should have access to the required files and directories. You may have to duplicate UID / GIDs for this to be feasible.

2)

[2018-02-27 21:28] mabod commented on #7204
Its cachefile:
``
History for 'testz':
2018-02-27.22:15:07 zpool create testz mirror /dev/sdb /dev/sdc mirror /dev/sdd /dev/sde
2018-02-27.22:16:35 zpool import -c /etc/zfs/zpool.cache -aN
2018-02-27.22:18:26 zpool import -c /etc/zfs/zpool.cache -aN
2018-02-27.22:21:59 zpool import -c /etc/zfs/zpool.cache -aN
2018-02-27.22:25:08 zpool import -c /etc/zfs/zpool.cache -
[code]

[2018-02-27 21:31] mabod commented on #7204
arch is setup with the following zfs related services:

[code]

[2018-02-27 21:59] foobarable commented on #4930
I'm currently running into this issue as well.

[code]

[2018-02-27 22:03] foobarable commented on #4930
[code]

[2018-02-27 22:58] Mic92 commented on #3512
One thing that could work, is to make `.zfs` a shared mountpoint, so that every mount in it is propagated to the container

[2018-02-27 23:16] behlendorf opened #7246 "Test case: zfs_destroy_002_pos"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    |  17.10
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're observing

Rare failure o

[2018-02-27 23:18] behlendorf opened #7247 "Test case: add_nested_replacing_spare"
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    |  17.10
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're observing

Rare failure o

[2018-02-27 23:21] behlendorf opened #7248 "Test case: grow_replicas_001_pos"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Amazon
Distribution Version    |  2
Linux Kernel                 | 4.9.81-44.57.amzn2.x86_64
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describ

[2018-02-27 23:21] DeHackEd commented on #3512
That won't work in container situations where `pivot_root` is called to reorient the filesystem. The mount points are different in the perspectives of the host and container.

[2018-02-27 23:24] behlendorf opened #7249 "Test case: zfs_allow_004_pos"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    |  17.10
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're o

[2018-02-27 23:27] behlendorf opened #7250 "Test case: zpool_import_missing_001_pos"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    |  17.10
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're o

[2018-02-27 23:50] behlendorf commented on #7205
@morphinz thanks for the hint this is mmp related.  Let me tag @ofaaland so he's aware of this issue, he's been looking in to resolving mmp issues exactly along these lines.  Assuming the fixes don't end up being too invasive there's a good chance we'll get them in a point release.

[2018-02-28 00:09] ofaaland commented on #7205
@morphinz, can you provide the output of
```head /sys/module/zfs/parameters/*multihost*```
on the machine while it has the 165-disk pool imported and multihost=on?  And to confirm, you are seeing 33,000 I/O per second in that configuration?

[2018-02-28 06:17] mabod commented on #7204
It is even easier to reproduce. Here is the command history of my last test:

[code]

[2018-02-28 06:44] richardelling commented on #7204
By default, virtualbox virtual disks ignore cache flush commands. Since many filesystems, including ZFS, rely on cache flushes to work, you'll want to enable them and repeat your test.
https://www.virtualbox.org/manual/ch12.html#idp47569020608528

[2018-02-28 07:40] rincebrain commented on #7204
@richardelling I mean, whether the disks ignore cache flush or not, they should flush completely before VM teardown, so that shouldn't really matter here?

[2018-02-28 08:43] Mic92 commented on #3512
Container could support this though. LXC for example has special support for zfs.

[2018-02-28 08:57] morphinz commented on #7205
@ofaaland

**Multihost=off**
[code]
Htop

![ekran resmi 2018-02-28 11 23 32](https://user-images.githubusercontent.com/11850235/36777324-2bd336f4-1c7a-11e8-8bd0-bb192fb98d75.png)

**Multihost=on**
[code]

![ekran resmi 2018-02-28 11 28 59](https://user-images.githubusercontent.com/11850235/36777408-6bd55426-1c7a-11e8-95e1-c89cc611d263.png)

As you can see the usage of the pool goes up directly "12

[2018-02-28 09:49] kpande commented on #7204
also please don't keep running this test on a running pool since it's inherently unreliable. for most accurate results, run the spacemap check on an exported pool.

[2018-02-28 10:15] felisucoibi commented on #6613
How can i stop zed?

[2018-02-28 10:18] evermind-micw commented on #3512
@Mic92

IMO that's the other end - containers can use zfs as their backend/overlay filesystem. The issue here is about using zfs features within the container (e.g. access a .zfs/snapshots directory)

[2018-02-28 10:21] StefanCohen commented on #6613
service zfs-zed stop

[2018-02-28 11:01] Mic92 commented on #3512
Yes. But I see no other way to implement this. zfs cannot rely on having a mount command in the container available. And if there is one, it should not execute it because it could be malicious.

[2018-02-28 11:12] felisucoibi commented on #6613
In ubuntu 16.04 it said this daemon is not loaded but if i do service zed stop something stops, i hope is the same :D

[2018-02-28 11:21] kpande commented on #7097
fwiw I'm hitting a similar problem on `master` with encrypted datasets but it deadlocks so hard the audio playing (when it happens) skips forever and I do not get any stack traces. I don't have a serial cable to debug with but I can acquire one.

[2018-02-28 11:30] kpande commented on #7097
@morphinz I notice you said you have encryption feature disabled on 0.7.6 but this release did not have the code at all. I haven't been able to reproduce this issue on 0.7.6 without encryption code.

can you please verify the actively loaded module version?

[2018-02-28 11:32] heinrich5991 opened #7251 "Can't `chattr` on pools that have `feature@project_quota=disabled`"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Arch Linux
Distribution Version    | rolling release
Linux Kernel                 | 4.15.3-2-ARCH
Architecture                 | x86_64
ZFS Version                  | 0.7.0-316_ge921f6508
SPL Version                  | 0.7.0-26_g48ef8ba

### Describe

[2018-02-28 12:04] bunder2015 commented on #7251
can confirm that it works on ba779f7f, doesn't work on e921f650

[2018-02-28 12:05] kpande commented on #7251
it works for me on new pools that have the feature `enabled`.

[2018-02-28 12:08] heinrich5991 commented on #7251
Yes, it works for me for pools that have the feature enabled as well.

[2018-02-28 14:36] DaFresh commented on #3324
It seems something goes wrong during previous benchmarks as bumping below parameters (in order of x10 default values) **actually improve significantly sequential workloads**.

zfs_vdev_async_read_max_active
zfs_vdev_async_read_min_active
zfs_vdev_async_write_max_active
zfs_vdev_async_write_min_active
zfs_vdev_max_active
zfs_vdev_sync_read_max_active
zfs_vdev_sync_read_min_active
zfs_vdev_sync_writ

[2018-02-28 15:53] tcaputi commented on #7097
@kpande

Usually crashing like that is caused when the code hits a call to `panic()`. If you are using a GUI or ssh you can probably get a stack trace from the raw tty. Let me know if you can get a stack trace from this.

@morphinz and @kpande
This looks like either a double free or a buffer overrun, which are usually pretty hard to debug without being able to reproduce the problem. Fortunately, t

[2018-02-28 16:00] kpande commented on #7097
@tcaputi i have a usb serial cable on the way since X blocks my terminal and I can't obtain a trace (this is a workstation)

[2018-02-28 16:18] tcaputi commented on #7097
@kpande. With the configure options there is a good chance it might not hard panic like that and you won't need the cable. You can also get to a raw terminal (not blocked by X) with Ctrl + alt + f5 (or any other f-key).

[2018-02-28 16:52] #6873 closed

[2018-02-28 17:56] behlendorf commented on #3324
@DaFresh the default values were experimentally determined to give good performance for pools constructed from hdd/ssd devices.  It's entirely possible that these aren't the best values for rbd devices which may have very different performance characteristics.  It would be great if you could post what values do work well for you so we could document those recommented tunning.  The default values a

[2018-02-28 18:01] behlendorf commented on #7205
@morphinz to be clear, you're saying you didn't observe this behavior in 0.7.5-4?  Only of 0.7.6?

[2018-02-28 18:14] behlendorf commented on #7251
@Nasf-Fan would you mind looking in to this issue.

[2018-02-28 18:19] tdb commented on #3324
I've had some success with these values. At least, they were an improvement over the defaults. I haven't spent a lot of time tuning or testing.

<pre>
# defaults given at the end of the line
options zfs zfs_max_recordsize=4194304          # 1048576
options zfs zfs_vdev_async_read_max_active=18   # 3
options zfs zfs_vdev_async_write_max_active=60  # 10
options zfs zfs_vdev_scrub_max_active=12

[2018-02-28 18:52] mabod commented on #7204
@richardelling  I followed your advice with the virtualbox cache flush. Setting
`VBoxManage setextradata "VM name" "VBoxInternal/Devices/ahci/0/LUN#[0-5]/Config/IgnoreFlush" 0`
for all discs. But that is somehow breaking zfs functionality. With this setting zfs does not resilver anymore. It says that the drive is FAULTED and I have to do a `zpool replace` instead which is not giving refcount misma

[2018-02-28 19:43] morphinz commented on #7205
@behlendorf Yes. I'm sure. On 0.7.5 I/O usage was 1 for per disk. So I have seen 140-160 I/O for mmp.

[2018-02-28 20:48] tcaputi commented on #7117
@prometheanfire any update here?

[2018-02-28 20:48] tcaputi commented on #7147
@lnicola any update here?

[2018-02-28 20:53] lnicola commented on #7147
I mentioned before, the file system or pool got rolled back at the time. I lost 9 hours of changes or so, and I didn't encounter any issues afterwards, even with that same ZFS version. So I don't know if it's fixed, but I no longer have a way to reproduce these issues.

[2018-02-28 20:59] lnicola commented on #7151
As mentioned in https://github.com/zfsonlinux/zfs/issues/7147#issuecomment-369379082, I no longer have a way to reproduce this issue. I'll close it, but feel free to reopen if you want to investigate the error further.

[2018-02-28 23:09] prometheanfire commented on #7117
I ran into the issue that you fixed Monday.  I can't test the fix for a week though due to travel (stuck in dublin for now).  But I think we are fixed here (from what I've seen here and elsewhere).

[2018-02-28 23:17] secabeen opened #7253 ".zfs and .zfs/snapshot directories do not support xattrs"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  CentOS
Distribution Version    | 7.4
Linux Kernel                 | 3.10.0-693.17.1.el7.x86_64
Architecture                 | amd64
ZFS Version                  | zfs-0.7.5-1.el7_4.x86_64
SPL Version                  | spl-0.7.5-1.el7_4.x86_64

### D

[2018-02-28 23:18] Celmor commented on #7117
Currently I can't load the key anymore as zfs reports that the given passphrase (I copied from my password manager) is wrong. Not sure what's that about.

[2018-03-01 01:34] fcicq commented on #7253
seems the same issue for freebsd & fixed https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=225793

[2018-03-01 03:44] richardelling commented on #7204
@rincebrain I think if cache flushes are ignored, then all bets are off because there is no way to verify the cache gets flushed.

@mabod this too is troubling. Since others have trouble recreating, perhaps testing with a solution other than VBox can eliminate one variable?

FWIW, I cannot reproduce with VMware Fusion.

[2018-03-01 04:47] secabeen commented on #7253
Yeah, they only handled POSIX mode, and didn't take it to xattr, but the idea is similar.

[2018-03-01 05:55] richardelling commented on #3324
The above are (mostly) ZIO scheduler tunables. More likely you need to adjust the write throttle tunables, as documented in the zfs-module-parameters man page section ZFS TRANSACTION DELAY.

But first... check the latency distribution from `zpool iostat -w` and see if there are outliers in the high latency buckets. If you don't have a version with the `-w` option, then you might try an external to

[2018-03-01 06:58] mabod commented on #7204
I sacrificed one of my JBODs to do the test with my real PC. JBOD with 4 discs as RAID10, pool name `testz` like before.

I have executed the same steps as mentioned before and I was able to reproduce the refcount mismatch although with different zfs behaviour.

1. When booting with the degraded pool, the pool is not imported automatically. Instead `zfs-import-cache.service` is giving the followin

[2018-03-01 08:14] tcaputi commented on #7117
@prometheanfire If you are ok with it then, would you mind closing this ticket? Unless you have other concerns.

@Celmor This sounds similar to a bug that should be fixed in master. Would you mind repeating your sends with that code and, if it's still a problem, opening a new ticket? I'm going on vacation for a week soon, so this might have to wait until I get back.

[2018-03-01 08:50] kdwinter commented on #7215
@tcaputi Not sure if this is still the same issue, but as of today's reboot I can again no longer import the pool and any zpool/zfs commands endlessly hang/time out the same way they did before your fix. Nothing was updated/changed on the system in the meantime, so this is very strange.

I have posted more dmesg call traces here:
https://gist.github.com/kdwinter/6f90d05975fbb03891d3492e454efd96

F

[2018-03-01 09:02] tcaputi commented on #7215
@kdwinter This does not appear to be related to encryption. Is there anything else in `dmesg` related to this problem? @behlendorf Any ideas what might be happening here?

[2018-03-01 09:24] kdwinter commented on #7215
There is also this during one of the boots where systemd attempted to auto-import the pool:

    Mar 01 09:34:01 archbox kernel: WARNING: CPU: 6 PID: 54 at kernel/rcu/tree.c:2792 rcu_do_batch.isra.28+0x231/0x250
    Mar 01 09:34:01 archbox kernel: Modules linked in: bridge stp llc cmac bnep arc4 zfs(PO) iwlmvm zunicode(PO) zlua(PO) nls_iso8859_1 nls_c>
    Mar 01 09:34:01 archbox kernel:  dm_mod s

[2018-03-01 11:37] redtex commented on #3871
Upgraded production system from 0.6.4.2 to 0.7.6
Issue is gone

[2018-03-01 11:37] #3871 closed

[2018-03-01 11:43] kpande commented on #7215
@kdwinter are you using ECC memory? the Ryzen family of CPUs don't officially support it, though you can add some UDIMMs, it's possible that the implementation of ECC misses some correctable errors, as has been demonstrated by Hardware Canucks.

in any case though, no, it's not the same issue.

[2018-03-01 11:59] kdwinter commented on #7215
Not using ECC memory unfortunately. I'm currently in the process of backing up important data while in read-only mode.

I did just remember I ran `zpool set cachefile=/etc/zfs/zpool.cache storage` last night, but surely this wouldn't be what triggered a complete inability to import the pool at all? It's the only thing I can think of that would have changed since the last succesful import. I've sin

[2018-03-01 14:35] alejos commented on #3708
hello there,
I had the same probleme but there was just a space in my command check your syntax.
hope help !
Alejo

[2018-03-01 15:40] kpande commented on #7215
@tcaputi there is a double free

[code]

[2018-03-01 15:44] kpande opened #7255 "spacemap double free leads to kernel panic, pool unimportable"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | 17.0
Linux Kernel                 | 4.14.20
Architecture                 | amd64
ZFS Version                  | 0.7.0-341_g8b581439
SPL Version                  | 0.7.0-29_g378c6ed

### Describe the problem you're obs

[2018-03-01 15:50] tcaputi commented on #7215
@kpande That is really weird. This code has nothing to do with either encryption or resumable sends. This is in the space allocation code..... And that stack doesn't make any sense either. I'll take a look in a few minutes. Would you mind opening a new ticket for this (since this is already closed?) Feel free to @ me in it.

@kdwinter

That definitely looks like a new and unrelated issue. Would yo

[2018-03-01 15:55] kpande commented on #7215
see #7255 for new panic

[2018-03-01 16:12] kdwinter opened #7256 "zpool import times out"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Arch Linux
Distribution Version    |  -
Linux Kernel                 |  4.15.5-1-ARCH
Architecture                 |  x86_64
ZFS Version                  |  v0.7.0-340_g4af6873af
SPL Version                  |  v0.7.0-30_g3673d03

Commit 095495e0081

[2018-03-01 16:37] tcaputi commented on #7255
This is really concerning because the metaslab code should not being using gap-based space maps and therefore should not be calling `range_tree_adjust_fill()`. I'm looking into what might be setting `rt->rt_gap` now.

[2018-03-01 16:39] tcaputi commented on #7255
Also as a side note, this is not  a memory double-free. This is a spacemap double free.

[2018-03-01 16:42] tcaputi commented on #7217
@kpande Are we good to close this issue?

[2018-03-01 16:43] #7217 closed

[2018-03-01 16:43] kpande commented on #7217
this isn't resolved per se but in either case users will need to send/recv, they can't mount on new version but the chance of hitting the issue is low.

[2018-03-01 16:44] tcaputi commented on #7180
@prometheanfire Any thoughts for how we might go about getting this issue closed? I'm not sure if we were ever able to replicate the issue after these patches went through.

[2018-03-01 16:51] tcaputi commented on #7175
@gratay We have fixed a number of bugs with encryption since you created the dataset, some of which technically required rebuilding the encrypted datasets due to on-disk format problems that could arise. Can you try doing that with the latest code from master? Would it be ok if we closed this ticket for now and you can reopen it and @ me if it happens again?

[2018-03-01 16:55] prometheanfire commented on #7180
I haven't been able to retest (I'm traveling), I'm going to close it and will reopen (or make a new one if I have to) if needed.

[2018-03-01 16:55] #7180 closed

[2018-03-01 16:56] tcaputi commented on #7097
@kpande Was [this](https://github.com/zfsonlinux/zfs/issues/7215#issuecomment-369632103) comment meant to be made here?

[2018-03-01 17:52] kpande commented on #7255
@tcaputi unfortunately when I rebooted, the system panics on import at Grub and it will go no further.

[2018-03-01 17:53] kpande commented on #7255
@behlendorf it seems there is a big problem. with spacemaps

[2018-03-01 19:29] behlendorf commented on #7255
That would be bad, but this actually looks like a case where the stack isn't quite right.  Based on the `PANIC: zfs: freeing free segment` error message we know it failed before ever reaching `range_tree_adjust_fill()` call.  Although, it's not clear how this did happen.

@kpande yes, it seems that way and we absolutely need to get to the root cause.

[2018-03-01 19:53] kpande commented on #7255
I was able to import the pool `-o readonly=on` and send all data from the most recent snapshot to a newly created pool but I was unable to send it using encryption because of a new hang.

I was able to send it decrypted.

I still have the pool around in case you would like for me to test any fixes or repair tools.

[2018-03-01 19:58] tcaputi commented on #7255
Do you have a ticket for that issue? This particular issue doesn't seem to be related o encryption though.

How big is the pool and how sensitive is the data on it? Is there any chance we could try to figure out what's going on?

[2018-03-01 19:58] kpande commented on #7255
it's all encrypted and it's a hundred or two GB, I guess it'd be fine to share in private for your use.

[2018-03-01 20:04] tcaputi commented on #7255
That would be great. You can email me at tcaputi@datto.com with credentials for how you would like to share it with me.

I'm also interested in whatever was preventing you from doing encrypted sends as well.

[2018-03-01 20:59] kpande commented on #7255
@tcaputi it's going to take about 43 hours to upload the image, it is 270GB.

[2018-03-01 21:03] tcaputi commented on #7255
OK. Unfortunately I am going to be gone on vacation by then, but I will look at it as soon as I get back.

[2018-03-01 22:00] kpande commented on #7255
ah, leaving the country so soon after my pool was corrupted - how coincidental.. ;-)

[2018-03-01 22:07] loli10K commented on #7247
This can, unfortunately, fail in another way: http://build.zfsonlinux.org/builders/CentOS%207%20x86_64%20Mainline%20%28TEST%29/builds/5725/steps/shell_8/logs/log

[code]

It's not yet clear to me if/how `zinject` is responsible for starting a resilver.

[2018-03-02 00:52] ahrens commented on #7204
@mabod The problem reported by "`space map refcount mismatch`" is with the count of space maps that are using the `spacemap_histogram` feature flag.  An incorrect count here has essentially zero impact on your pool.  You can safely continue using the pool without consequence.

We'll investigate the problem.  I suspect it has to do with DTL's, which are implemented with spacemaps, and exist on unhe

[2018-03-02 00:53] kpande commented on #7204
@ahrens see #7255 for a manifestation of this corruption preventing pool import.

[2018-03-02 00:58] ahrens commented on #7204
@kpande I've only skimmed this thread --  can you clarify how the (perhaps spurious) warning message from ZDB is related to a kernel panic (which is obviously much more concerning)?

[2018-03-02 01:18] kpande commented on #7204
@ahrens it is not so spurious for my pool there, but it does have the refcount mismatch, and when using zfs_recover=1 which allows me to disable some asserts, it will then complain that the spacemap walk did not equal the allocated space.. which is essentially what refcount mismatch means, right?

[2018-03-02 01:22] ahrens commented on #7204
@kpande no, the `space map refcount mismatch` is not at all what `freeing free segment` or `spacemap walk did not equal the allocated space` means.  They are totally orthogonal.  The former is an issue with the feature flag refcount (happens to be the feature flag for `spacemap_histogram`), with the latter are issues with the *contents* of the spacemap (which is much more concerning).

[2018-03-02 06:02] mabod commented on #7204
@ahrens : I have exported the pool and  uploaded the output of `zdb -edddd testz` to dropbox:

https://www.dropbox.com/s/pqyc07cqy1d472c/testz-zdb-dddd.txt.gz?dl=0

[2018-03-02 09:50] DaFresh commented on #3324
@behlendorf RBD volumes latency behave differently than traditional hard drives, so this is what I ended to think too. Please find below parameters and values that give me much better performances:

[code]
I will try more benchmarks, also with @tdb values, when I got some time. Note that I am not a big fan to diverge from default settings, more specifically with ZFS which as some internals magics,

[2018-03-02 11:33] optiz0r commented on #3860
I just ran into an issue where setting `sharenfs=sec=krb5` did not result in the filesystem being shared. As per https://github.com/zfsonlinux/zfs/issues/3738#issuecomment-139488424 setting `sharenfs=rw,sec=krb5` did share the filesystem, but this requirement to prefix the share options with `ro` or `rw` is not covered in the manpage (at least for 0.7.6)

[2018-03-02 17:10] cwedgwood commented on #6880
@behlendorf the bug is still there, just now i got the trace below

it's definitely related to qemu/kvm closing/opening zvol's and i'm going to retest with your suggested change above as i think that helped last i had it

i *think* i can probably reproduce this fairly (happens within a day usually) if you have some suggestions on what else to try

[code]

kernel: 4.14.23
zfs: e086e717c
spl: 3673d0

[2018-03-02 17:26] ahrens commented on #7204
@mabod Thanks for that.  It looks like what's happened is that a space map object has been leaked.  So the `spacemap_histogram` feature flag refcount is actually correct (there are 22 spacemaps using this feature), but ZDB only located 21 of them.  The last one (object 6) doesn't seem to be referenced anywhere.  I suspect that it's a DTL object that has been leaked.  The leaked object is empty.  T

[2018-03-02 17:33] kpande commented on #6880
+1 hit this on 4.14.20

[2018-03-02 17:38] Merlin83b commented on #2575
Running CentOS 7.4, ZoL 7.6 (updated from something much older), enabling zfs-import.target (it was disabled) didn't work for me.

I ended up doing
`cat /usr/lib/systemd/system-preset/50-zfs.preset|while read -r i; do systemctl $i; done`
which is probably not the systemd way, but worked for me.

[2018-03-02 18:00] mabod commented on #7204
@ahrens : Thanks for the feedback. THe out put was generated from the JBOD pool I mentioned a few comments later. [https://github.com/zfsonlinux/zfs/issues/7204#issuecomment-369494935](https://github.com/zfsonlinux/zfs/issues/7204#issuecomment-369494935)

Please share with me how you did determine the issue about Object 6 since I want to debug my real productive pool the same way.

[code]
Is it th

[2018-03-02 18:02] #6988 closed

[2018-03-02 18:21] ahrens commented on #7204
@mabod Yes, that's the object.  I found it by matching up all the other `SPA space map` objects with the ones referenced by metaslabs or DTL's; see examples below.

"Leaked" means that this (space map) object in the MOS is not referenced by any other data structures in the pool.  So there isn't any way for it to be freed.  Assuming that it should have been freed, the only impact is a tiny bit of s

[2018-03-02 21:05] mabod commented on #7204
I am afraid I can not handle my own debugging. The `zdb -edddd` dump for my main pool is 3 GB. Is there any way to reduce the amount of debug info but still find what I am looking for?

[2018-03-02 21:32] ahrens commented on #7204
@mabod you can definitely remove everything after the MOS part of that zdb output (unfortunately I don't think there's a good way to tell it to dump the MOS only - that would be a nice, straightforward enhancement).  Specifically, if you search for `Dataset`, you'll see the MOS and then the dataset with the same name as the pool.  You can cut everything after that.  For example:

[code]

[2018-03-03 12:25] kpande opened #7262 "recv -F should abort resume token"
### System information
(omitted)

### Describe the problem you're observing
Resume tokens will prevent `recv -F` from rolling back and storing the received stream.

It would be nice if `recv -F` did the abort internally automatically.

### Include any warning/errors/backtraces from the system logs
(omitted)

[2018-03-03 12:42] kpande opened #7263 "bookmark should be usable for incremental stream"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | 17.0
Linux Kernel                 | 4.14.20
Architecture                 | amd64
ZFS Version                  | master
SPL Version                  | master

### Describe the problem you're observing
`zfs send -I` is

[2018-03-03 12:50] kpande commented on #7263
the same exists with `send -p`.

[2018-03-03 13:06] mabod commented on #7204
@ahrens  : I created a python script to strip the zdb output. It is taking everyting between `Dataset mos [META]` and `Dataset poolname [ZPL]`. That still creates a file of 3 GB. Not much is left out.

Here is the python script I use. The logfile is coming via STDIN, the poolname is a commandline argument:

[code]

[2018-03-03 15:25] yshui commented on #7151
The bug is still there. I'm seeing the same failure on master

[2018-03-03 15:29] lnicola commented on #7151
I'm not using TRIM. Did you enable encryption or large dnodes?

[2018-03-03 15:36] yshui commented on #7151
I'm not using encryption, but large_dnode is active

[2018-03-03 15:36] yshui commented on #7151
I think I've seen #7147 happen too

[2018-03-03 16:41] tcaputi commented on #7151
@yshui Do you have any steps to reproduce the bug(s)? And what commit of the code are you running?

[2018-03-03 17:51] yshui commented on #7151
@tcaputi I'm on e086e717c (and with TRIM branch merged on top of that).

And I have no idea have to reproduce this bug. So before today, I would have occasional kernel general protection faults, same as the one describe in #7147. I would just force reboot, and everything will be fine.

Until today, after I reboot from the same kernel fault, I got the VERIFY failure as described in this issue.

[2018-03-03 17:54] kdwinter commented on #7256
This ended up being a very weird hardware issue. One of my storage drives is generating RCU kernel hangs very consistently no matter what I tried to do with it: add it to a new zfs pool, format it as btrfs, format it as ext4. Anything that writes to the drive triggers it.

But even more strangely, neither S.M.A.R.T nor zfs reports any errors. Ah well, I will be replacing the drive, so this ticket

[2018-03-03 17:54] #7256 closed

[2018-03-03 18:12] tcaputi commented on #7151
Hmmmm. Can you tell me a little about your workload? What kinds of files do you have in your zpool? Are you doing a lot of sends / receives?

[2018-03-03 21:08] richardelling commented on #6880
@cwedgwood in the past, we've been able to debug the zvol evict ARC buffers on close() by simply doing dd to a zvol. When dd calls close(), the zvol_shutdown_zv() function described above kicks in. In VMs, this would occur if a VM that uses a zvol is stopped. Hopefully you'll be able to reproduce without having to wait a few days before stopping a VM.

[2018-03-04 02:03] yshui commented on #7151
@tcaputi It's just a normal desktop workload. No send/receive, no snapshot.

[2018-03-04 03:13] tcaputi commented on #7151
Are you using zfs as your root filesystem?

[2018-03-04 04:11] yshui commented on #7151
Yes

[2018-03-04 04:16] tcaputi commented on #7151
Ok. I will look into reproducing this on Monday.

[2018-03-04 04:22] tcaputi commented on #7255
My vacation was actually postponed until May due to the weather here on the east coast. so feel free to send me the info and i'll look into it on Monday.

[2018-03-04 06:53] Pascal666 commented on #4869
Have any devs been able to reproduce this issue or do you still need more information?  I'm running into this problem too.

[2018-03-04 07:54] kpande commented on #7255
@tcaputi my motherboard was fried by my own stupid hand so I've had a delay, it's uploading again and I'll ping you when it's ready.

[2018-03-04 13:22] Nasf-Fan commented on #7251
The issue will be fixed via #7265

[2018-03-04 21:17] chrisrd commented on #4869
If you're on a v3.14+ kernel, it's worth seeing if e9a77290 helps. See also #7170

[2018-03-04 22:26] Pascal666 commented on #4869
Thank you chrisrd, but I am using v0.7.6 on `Linux version 3.10.0-693.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC) ) #1 SMP Tue Aug 22 21:09:27 UTC 2017`.

I did not see this problem until I upgraded from v0.6.5.9 on `Linux version 3.10.0-229.20.1.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.3 20140911 (Red Hat 4.8.3-9) (GCC) )

[2018-03-05 00:25] stgraber commented on #6800
@Blub as there been some progress on a fix for this?

We (LXD) have just noticed a number of our users start hitting this as they switched to distributions shipping 0.7.x, most notably the upcoming Ubuntu 18.04 LTS.

Having package installations silently drop setgid makes for extremely annoying bugs to figure out...

[2018-03-05 04:13] gratay commented on #7175
Ok, that sounds all right. I was using the key for a couple of weeks, so if there's still a problem it will probably take that long again for it to show. I'll nuke the key and restart.

[2018-03-05 06:28] krichter722 commented on #5867
I got a huge improvement with zfs-0.7.0-349-g5666a994f and spl spl-0.7.0-30-g3673d03 on Ubuntu 17.10 (without a lot of knowledge about why this might be the case I suspect 5666a994f2b17f1d720efa83d4c64b1ed7bb53d0 to have introduced the improvement). Concretely I no longer see the slowdown of throughput to down to 20KB/s for minutes. If I torture the system with two VirtualBox VMs, `updatedb` and c

[2018-03-05 07:27] zeigerpuppy commented on #7232
For anyone that stumbles across this, the fix was simply to enable the init scripts for zfs, I guess this is not automatically done by the installer any more.

[code]

[2018-03-05 08:46] Blub commented on #6800
For that particular patch to be merged the only missing parts are the detection of older kernels without `ns_capable`/`cred->user_ns`. I really need to give this a higher priority now and should get separate this part out into its own PR.

[2018-03-05 10:19] kpande opened #7269 "VERIFY3(rs->rs_start <= start) failed (3221348352 <= 3221225472), PANIC at range_tree.c:430:range_tree_remove_impl(), pool unimportable"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Gentoo
Distribution Version    | 17.0
Linux Kernel                 | 4.14.24
Architecture                 | amd64
ZFS Version                  | dweeezil/zfs:ntrim2-next
SPL Version                  | master

### Describe the problem you're observing

[2018-03-05 10:35] kpande commented on #7269
not simple to reproduce:

[code]

[2018-03-05 21:36] behlendorf commented on #7253
Adopting something like the FreeBSD solution where a trival ACL is dynamically generated based on the mode bits would be a pretty reasonable solution.  And as suggested we'd also want to support the `get` and `list` xattr handlers in the same way, as for `set` I'd suggest registering one but have it return `-EPERM` to indicate the xattrs are read-only.

If someone has time to work on this that wou

[2018-03-05 23:49] behlendorf commented on #6880
@cwedgwood @richardelling PR #7273 may also help with this issue.  This is a port of OpenZFS https://github.com/openzfs/openzfs/pull/564 which increases the default dbuf cache size.  This can improve performance by keeping more indirect blocks in the dbuf cache which is particularly important when the block size is small.

You can see if this helps without patching anything by increasing the `dbuf

[2018-03-06 00:27] behlendorf commented on #5867
@krichter722 my hunch would be it's in fact commit e9a77290081b578144e9a911ad734f67274df82f which helped performance.  This fix will be included in 0.7.7.

[2018-03-06 00:33] cwedgwood commented on #6880
@behlendorf i saw the upstream issue, it's unclear to me how a performance fix will prevent what's a hard lock/failure in this case

[2018-03-06 00:39] richardelling commented on #6880
Today we can already tune the dbuf cache size in sysfs, so it is easy to test.

However, I don't think the size is where the bug lies, though increasing the size might make it easier to trigger the bug when compressed ARC is in play.

[2018-03-06 00:50] behlendorf commented on #6880
@cwedgwood yes of course, I was thinking this was solely a performance issue again.  Reading back through the issue again it's pretty clear that in fact things are blocking on the `dn->dn_dbufs_mtx` in `dbuf_destroy()`.  What remains unclear is where that mutex is held.

[2018-03-06 16:46] siebenmann opened #7274 "Current ZFS git tip constantly creates and destroys taskq kernel threads, especially z_wr_int_N threads"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Fedora
Distribution Version    | Fedora 27
Linux Kernel                 | 4.15.6-300.fc27.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.0-352_g2705ebf0a (current git tip)
SPL Version                  | git tip 3673d0

[2018-03-06 20:38] PaulZ-98 commented on #6577
Per @BloodBlight, this worked (but going to try autoreconf next time)
[code]

[2018-03-06 22:34] griznog opened #7275 "Large kmem_alloc(92160, 0x1000), please file an issue"
### System information

Type                                | Version/Name
  SGI                                  |     UV300 (360 cores, 10 TB RAM)
Distribution Name       |  CentOS
Distribution Version    | 7.4
Linux Kernel                 | 3.10.0-693.17.1.el7.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.6-1
SPL Version                  | 0.7.6-1

### Describe

[2018-03-06 22:53] prometheanfire commented on #7262
heh, was just talking about this an hour or two ago, sub'd

[2018-03-06 22:55] #7224 closed

[2018-03-06 22:55] #7246 closed

[2018-03-06 22:55] #7249 closed

[2018-03-06 22:55] prometheanfire commented on #7117
ok, I'm good with closing this, sent raw and also incremental raws (I don't have perms to do so, and I was not the initial reporter)

[code]

[2018-03-06 23:10] loli10K commented on #7275
Given the number of cores (360) it seems `multilist_create_impl()` is `kmem_zalloc()`'ing a lot of memory due to an high number of sublists requested (calculated as `num_sublists = MAX(boot_ncpus, 4)` in `multilist_create()`).

https://github.com/zfsonlinux/zfs/blob/c7b55e71b0c24b836f8de56554cd1b0270c363ff/module/zfs/multilist.c#L72-L86

[code]

Coincidentally 92160 is the size being kmem_zalloc()

[2018-03-06 23:12] #5489 closed

[2018-03-06 23:13] #7117 closed

[2018-03-06 23:21] behlendorf opened #7276 "Test case: send-c_stream_size_estimate"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | CentOS
Distribution Version    |  6
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-334-g7088545
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're obser

[2018-03-06 23:41] #6886 closed

[2018-03-07 00:30] behlendorf commented on #7275
@griznog that's a lot of cores!

For the moment you can suppress the warnings, which are harmless, by setting the large allocation threshhold to zero.  That should get you past this issue immediately.

[code]

If you can spare a little time to do some performance tuning I'd be very interested to know what decreasing the number of sublists does to performance.  As @loli10K mentioned by default the

[2018-03-07 00:47] griznog commented on #7275
@behlendorf this sounds good, warning is silenced and I'll set aside a window to do some testing during our next maintenance outage.

Thanks!

[2018-03-07 04:42] valeech opened #7279 "Kernel panic when deleting send/recv replicated clones"
### System information SOURCE

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Proxmox
Distribution Version    | 5.1-43/bdb08029
Linux Kernel                 | 4.13.13-5-pve
Architecture                 | x86_64
ZFS Version                  | v0.7.4-1
SPL Version                  | v0.7.4-1

### System information TARGET

[2018-03-07 05:17] TemptorSent commented on #985
Looking at the code, it appears temporary mountpoint support was penciled in to this code MNTOPT_MNTPOINT, but its implementation is incomplete. Is there any reason this functionality can't be fleshed out and made functional based on what's there?

[2018-03-07 13:52] SolidTux opened #7280 "Repository for Fedora 28"
I'm thinking of upgrading Fedora to [Branched](https://fedoraproject.org/wiki/Releases/Branched?rd=Branched) (version 28), but there is no repository yet.

Would it be possible to provide a repository for Fedora 28? What would be needed for that?

[2018-03-07 14:39] zviratko commented on #6709
I believe this only allows zpool clear to not block, but doesn't fix the real issue, that when the device is reattached the pool I/O cannot be resumed.

It is most likely because the reattached device will end up with different minor number (e.g. sdb instead of sda). How does it get "reattached" to the pool then? There needs to be a way to either replace the device with the new instance, or to exp

[2018-03-07 16:52] bjquinn commented on #6709
@zviratko Yes, I believe you're right that this doesn't fix the real issue.  Additionally, I have definitely run into the issue where zpool clear doesn't hang anymore, but the device still won't reattach even though I'm sure it came up as the same device name (sdc/sdd, etc.), and anyway I'm obviously not using the /dev/sdb device names to create the pool.

[2018-03-07 17:40] behlendorf commented on #7274
@siebenmann is the pid churn somehow causing problems for the system?  This is normal behavior for ZFS which creates and destroys the I/O pipeline kernel threads as they are needed.  If you'd prefer the threads to be long lived set the `spl_taskq_thread_dynamic` module optiont to `0`.

[2018-03-07 17:53] #7239 closed

[2018-03-07 17:56] #7276 closed

[2018-03-07 17:59] behlendorf commented on #7220
Reopening.  This appears not to have been completely addressed by d0f6fbaff383d0ea0b11f4e4547d6b062ef7ddad, a failure was observed on master with this patch applied.  @chrisrd any thoughts?

http://build.zfsonlinux.org/builders/CentOS%207%20x86_64%20%28TEST%29/builds/2107/steps/shell_8/logs/summary

[code]

[2018-03-07 18:51] behlendorf commented on #985
@TemptorSent could you be more specific?  In what way is it currently imcomplete?

[2018-03-07 20:07] jefferai commented on #7217
@tcaputi Sorry to bug on a closed issue, but it's not clear to me the right way to solve this problem if you're affected. I do have `-2` as an object in `zdb -dd` for my encrypted data sets and I do get the error `filesystem <fs> can not be mounted: Invalid exchange` but I'm not hitting any panics and I'm not trying to split a pool as in #7215.

I went from e921f6508 where things were working (aft

[2018-03-07 20:09] kpande commented on #7217
mount using an old version.

if you're wanting to keep it encrypted, send it to a new pool in a VM or on a separate system, running the latest git tip.

if you want to keep it unencrypted, you can send it unencrypted to the local pool and then destroy the encrypted copy before upgrading.

if you don't mind temporary exposure you can decrypt and then reencrypt once you reboot into the newer version

[2018-03-07 20:12] tcaputi commented on #7217
@jefferai What @kpande said is basically correct. I'm sorry this isn't more convenient but it seems like you are one of a few people who started using encryption at a bad time. If you encounter this kind of problem again with any datasets created from the current git master code going forward, please make a new issue and I will look into it as soon as possible.

[2018-03-07 20:12] kpande commented on #7217
@tcaputi it seems like more people ran into this than we thought originally and might make sense to introduce Eratta 4.

[2018-03-07 20:15] tcaputi commented on #7217
I will talk to Brian about it tomorrow (we're having a snowpocalypse over here on the East coast US).

[2018-03-07 20:33] TemptorSent commented on #985
@behlendorf  - As far as I can find, there is no means of setting the 'mountpoint' property on a temporary basis, as also mentioned in #4553.

The only place I see **MNTOPT_MNTPOINT** ("mntpoint") used currently is a 'hint' for snapshots. I found no mention of **ZPROP_SRC_TEMPORARY** in combination with the mountpoint property, so as far as I can tell, only the **ZFS_PROP_{ATIME,RELATIME,DEVICES,E

[2018-03-07 20:45] tcaputi commented on #7217
No you don't need to send it to a different pool. The only thing that needs to happen is that the data needs to be re-encrypted with the latest code (so don't use `zfs send -w`). It may be possible that your encrypted datasets won't mount or send now with the latest code so what you will have to do is revert to the old code, send the data in plaintext (you can just keep the send files or you can r

[2018-03-07 21:04] mailinglists35 commented on #6709
@zviratko the root cause is that zfs code lacks the ability to drop on demand a suspended pool from memory.
you need to follow [this issue](https://github.com/zfsonlinux/zfs/issues/5242#issuecomment-304233962) then only when that issue is solved, all other suspended pool related issues will be solved.

[2018-03-07 21:04] zrav commented on #6224
@behlendorf any particular reason this wasn't revisited?

[2018-03-07 21:09] mailinglists35 commented on #5242
@dweeezil also do you think this is challenging enough to only see the light into 1.0.0 release?

[2018-03-07 21:12] jefferai commented on #7217
Thank you! I've rolled back and it's successfully sending -- failed with latest git code, so to an unencrypted data set at the moment, then will transfer back after re-upgrading.

Native encryption in ZoL is fantastic, and I'm happy taking the good with the bad as part of being an early adopter. Keep on keeping on!

[2018-03-07 21:57] siebenmann commented on #7274
It's possible that PID churn or the very large PID numbers it now creates on my machine are causing problems, but I'm going to have to investigate more. I've tried booting with `spl_taskq_thread_dynamic` set to 0 and indeed the direct ZFS threads wind up staying with low PIDs. However, less than two hours after boot (with some compiles thrown in) I'm up to over PID 450,000, and apparently somethin

[2018-03-07 22:02] dweeezil commented on #5242
@mailinglists35 As you've likely noticed, I'm still grinding away on the device evacuation code.  It does sound like @sanjeevbagewadi may be working on something similar based on the commentary in #6649 in which pool export is mentioned.

I just did a bit more looking around at some of the underlying issues.  Among plenty of other things, the whole code base right now pretty much assumes that  ```

[2018-03-07 22:29] behlendorf commented on #985
@TemptorSent I see where you're going with this.  The short answer is that there's no technical reason this couldn't be added, it simply hasn't been done.  I agree it would definitely be nice to have, we just need a developer to implement it.

[2018-03-07 22:42] behlendorf commented on #7274
@siebenmann it may still be caused by ZFS.  There are several places in the code where a pool of kthread works will by dynamically created then destroyed so some work can be performed in parallel.

[2018-03-07 22:43] TemptorSent commented on #985
@behlendorf - Excellent, thank you. I wanted to make sure there was no technical reason not to proceed with implementing it before wasting my time :) While I'm at it, should support for other _temporary_ properties be implemented as well?

[2018-03-07 22:44] behlendorf commented on #6224
Available developer resources, I'll add it to the 0.8 milestone so we don't loose track of it.

[2018-03-07 22:57] behlendorf commented on #985
Sounds good, thanks!  While you're here I think adding support for `ZFS_PROP_CANMOUNT` in addition to `ZFS_PROP_MOUNTPOINT` would be useful.  We have several datasets which are used by Lustre which set `canmount=off` by default so they can't be inadvertantly mounted as a normal filesystem.  Being able to explicitly mount them when needed with `zfs mount -o canmount=on  mountpoint=/mnt/ ...` would

[2018-03-07 23:01] TemptorSent commented on #985
Okay great! I'll start identifying the sections to modify then, starting with updating the docs and tests.

[2018-03-08 01:03] #6939 closed

[2018-03-08 09:14] beloncfy opened #7283 "ZFS Freeze"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  CentOS 7.X
Distribution Version    |  7.4
Linux Kernel                 | 3.10.0-693.17.1.el7.x86_64
Architecture                 |
ZFS Version                  |  0.7.6-1
SPL Version                  |  0.7.6-1

### Describe the problem you're obser

[2018-03-08 13:23] #7283 closed

[2018-03-08 13:23] kpande commented on #7283
use [ the zfs-discuss mailing list](http://list.zfsonlinux.org) for support requests, this is not a bug.

[2018-03-08 15:12] krichter722 commented on #6976
I'm experiencing

[code]

after heavy I/O operations while moving files from a btrfs onto a ZFS dataset with `dedup` enabled with

[code]

(one HDD with 2 SSD cache and logs partitions)

experienced with SPL 0.7.0-30_g3673d03 and ZFS 0.7.0-356_g639b18944 on Ubuntu 17.10 with Linux 4.16-rc mainline.

[2018-03-08 15:14] kpande commented on #6976
looks like some kind of spacemap corruption, does the system have ECC memory?

also, using shared non-mirrored device for log is really against the best practices, your slog latency is compromised by l2arc activity. you should use dedicated, mirrored devices.

[2018-03-08 18:27] lnicola commented on #7147
I just got a new one, in `0.7.0-356_g639b18944`:

[code]

The application (a `rm`) is now hung.

[2018-03-09 05:36] morphinz commented on #7205
@behlendorf I am runing zfs commit 639b18944a6a3483c02039621c02dac08a954a90 and 4.14.23-1-lts kernel.
I have two different pools, fkmmedium and fkmbig.

fkmmedium has 93 disks. Here is the pool status.

[code]

fkmbig has 167 disks. Here is the pool status.

[code]

fkmmedium has no problem setting multihost=on.
[code]

[2018-03-09 07:52] msl86131 opened #7288 "ERROR: could not insert 'zfs': Unknown symbol in module, or unknown parameter (see dmesg) [...same issue as #6483]"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian Jessie
Distribution Version    | 8.3
Linux Kernel                 | 3.16.0-4
Architecture                 | amd64
ZFS Version                  | 0.6.5.9-5~bpo8+1
SPL Version                  | 0.6.5.9-1~bpo8+1

### Describe the problem you're

[2018-03-09 12:30] kpande commented on #7288
this is not a bug, use [the zfs-discuss mailing list](http://list.zfsonlinux.org) for support.

[2018-03-09 12:30] #7288 closed

[2018-03-09 12:31] kpande commented on #7279
please provide a reproducing script, if possible

[2018-03-09 13:08] krichter722 commented on #6976
@kpande The system has no ECC memory.

Unfortunately, I can't on my laptop. Does mirroring two partitions on the same SSD avoid/reduce the probability of spacemap corruptions (note you don't need to answer if you don't want to pollute the issue with support-scoped advice)?

[2018-03-09 20:43] siebenmann commented on #7274
It turns out that the PID churn I was seeing is not ZFS's fault. Much to my surprise, building Go from source and running its tests goes through over 200,000 PIDs (even on ext4), although the whole process completes in only a few minutes. This has likely been going on for some time, but was previously masked because my machine used the normal Linux low `/proc/sys/kernel/pix_max` setting of 32k, wh

[2018-03-09 21:42] behlendorf commented on #7274
@siebenmann ahh that explains it.  Then please go ahead and close this out if you agree there isn't an actual problem here.

[2018-03-09 21:44] valeech commented on #7279
I wrote this script and was able to successfully reproduce the behavior.

The Populate script will create the initial dataset, clone that to a new dataset, copy in some data, then clone again and so on. The script will perform 3 clones, then replicate to a remote host. It will create a total of 72 datasets all cloned off of each other. The source pool is assumed to be "tank" and the remote pool is

[2018-03-09 21:50] #7274 closed

[2018-03-09 23:36] behlendorf commented on #7205
@morphinz I see the issue.  The Arch Linux LTS kernel defaults to CONFIG_HZ_100 which causes mmp not to fully delay between writes when the number of vdevs goes over 100.  Our testing was all done with a CONFIG_HZ=1000 which pushes that threshhold up to 1000 vdevs per pool.

I've opened #7289 which fixes this issue by switching to the hires timers.  This will properly handle low values of HZ and p

[2018-03-10 00:08] behlendorf opened #7290 "Test case: redundancy_004_neg"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Amazon
Distribution Version    |  2
Linux Kernel                 |
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-366-g743253d
SPL Version                  | spl-0.7.0-29-g378c6ed

### Describe the problem you're obser

[2018-03-10 17:04] sdenovan commented on #7059
I'm hitting this this issue too. I have 4 pools configured on the host and experienced lock-ups while 3 scrubs were simultaneously active with send / receive activity against those 3 pools.

Configurations that experienced the issue: ZFS 0.7.6 against vanilla kernels 4.14.20,21,24,25 and 4.15.8 under Proxmox (Debian Stretch). The last time these ran successfully was under 0.7.4.

I'm now running t

[2018-03-11 07:01] sdenovan commented on #7059
The 0.7.4 scrub also hung on that pool which was unexpected. I'm able to reproduce this easily (in 4 hours or less) so please let me know if there's anything else that would help.

A few notes:
* The scrub continues on after the reboot so it's not hitting something absolute on the filesystem. I expect with enough forced reboots that it would complete.
* If I cancel and restart the scrub, it doesn'

[2018-03-11 08:05] tcaputi commented on #7059
I'll look into it on Monday. It looks like something is preventing an IO from completing.

[2018-03-11 08:11] lnicola commented on #7147
Call traces of processes in `D` state after the hang:

[code]

[2018-03-11 08:17] tcaputi commented on #7147
@lnicola That is expected. Once the GPF happens, that thread will stop running, causing any threads that rely on it to also become stuck. Unfortunately, we need to find a way to reproduce the issue at least somewhat consistently if we are going to have a chance to fix it.

[2018-03-12 01:08] sumo491bn opened #7292 "Need help installing 0.7.6-1 using dkms on RHEL kernel 2.6.32-573.26.1.el6.x86_64"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  RHEL
Distribution Version    |  6.9
Linux Kernel                 |  2.6.32-573.26.1
Architecture                 | X86_64
ZFS Version                  |  0.7.6
SPL Version                  | 0.7.6

### Describe the problem you're observing
When doin

[2018-03-12 02:01] DeHackEd commented on #7292
This is a bug tracker, not a support forum. Please use the mailing list.

[2018-03-12 02:03] #7292 closed

[2018-03-12 02:52] as-com commented on #840
I'm using archzfs-git (probably a very recent version) and I was having issues replacing a drive, with these logs in the journal:
[code]

`systemctl stop zfs-zed` solved the problem, and resilvering is continuing normally (I hope).

[2018-03-12 08:10] morphinz commented on #7097
Sorry for the late answer.

I ran Scrub on both pool "repaired 0B - with 0 errors"
After Scrub I try to send an incremental "I don't use resume token" and B server got panic again...
Nothing changed!

After that I tried few weird things;
**Information:**
1- The dataset named "xXx" 27T.
2- xXx has 1 snapshot on source and destination. This was the first Send-Revc snaphot.
3- If I take a new snapsho

[2018-03-12 09:30] rugubara commented on #7241
My experience maybe completely unrelated. I experienced a very noticeable slow down of write operations to my SSD pool when I ran master versions of ZOL that don't support TRIM last summer. I can see that you use these too now.
I solved my problem by switching to the branch https://github.com/dweeezil/zfs/tree/ntrim2-next by @dweeezil and running a TRIM.
 Before trimming my devs, I could observe w

[2018-03-12 13:15] sdenovan commented on #7059
It has happened again, but without a scrub. I noticed that one disk LED was solid amber which typically means continuous IO or a drive fault. The kernel did not register any bus/drive errors and ejecting the drive did not allow the scrub to continue.

I have a spare backplane and LSI card so I'm going to move everything and see if I can still duplicate the issue. The drives are Western Digital Red

[2018-03-12 16:39] behlendorf opened #7294 "Adding --no-canonicalize prevents user mounts"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Ubuntu
Distribution Version    | 16.04
Linux Kernel                 | Any
Architecture                 | x86_64
ZFS Version                  | zfs-0.7.0-360-g8e5d148
SPL Version                  | spl-0.7.0-30-g3673d03

### Describe the problem you'r

[2018-03-12 18:00] loli10K commented on #7294
I did not know `zfs allow mount` could work with any other user than root, from `zfs(8)`:

[2018-03-12 18:26] #7205 closed

[2018-03-12 22:44] pashford commented on #4045
I'm just brainstorming here, but I believe this might be handled by the Persistent L2ARC feature.  While the initial access might be a bit slow (like pulling the data off the secondary storage), subsequent access would be fast (pulling the cached copies from the L2ARC).  Is this close enough to the original request to do the job?

Now if only we could get the Persistent L2ARC feature moving forwar

[2018-03-13 13:32] sdenovan commented on #7059
My issue ended up being hardware; after replacing the backplane and the HBA the scrub was able to complete. I'll remove my earlier debug related comments as they're not relevant to this issue. Thanks for taking a look.

[2018-03-13 14:22] tcaputi commented on #7097
@morphinz I'm a little confused at the moment. Does this issue only happen when you use a resume token? In your [comment from yesterday](https://github.com/zfsonlinux/zfs/issues/7097#issuecomment-372224063) you don't mention the resume token in your commands. When the kernel panics is the stack trace the same as the one you posted, or are you unable to get a stack trace at all?

@kpande any update

[2018-03-13 14:25] tcaputi commented on #7059
@danielkza Have you encountered this issue again since your last post?

[2018-03-13 14:27] kpande commented on #7097
@tcaputi I had to build a new workstation, and Threadripper has some teething issues. I've got an Ubuntu VM now I can pass that .img file to. I'll email you with credentials.

[2018-03-13 21:00] jimsalterjrs opened #7297 "ZVOL does not honor all sync write requests"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Ubuntu
Distribution Version    |  16.04.4 LTS
Linux Kernel                 |  4.4.0-116-generic #140-Ubuntu SMP
Architecture                 |  x86_64
ZFS Version                  |  0.6.5.6-0ubuntu16
SPL Version                  |  0.6.5.6-0ubuntu4

[2018-03-14 01:05] richardelling commented on #7297
In fio, sync calls read(2) and write(2). It doesn't necessarily call fsync. You can trace the actual system calls to see for sure. In any case, perhaps `--fsync=1` is what you want?

[2018-03-14 07:55] wuyan6293 opened #7298 "ZVOL performance issue with 80GB capacity"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       |  Redhat
Distribution Version    | Red Hat Enterprise Linux Server release 7.2 (Maipo)
Linux Kernel                 | 3.10.0-327.el7.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.6-1
SPL Version                  | 0.7

[2018-03-14 11:07] ztcn opened #7299 "AMD Threadripper Kernel Panic - Initial copy of a gluster volume"
### System information
Type                            Threadripper 1950x, x399, 64G
Distribution Name       Archlinux
Distribution Version     current
Linux Kernel                4.15.8-1-ARCH #1 SMP PREEMPT
Architecture                x86_64
ZFS Version                 0.7.6
SPL Version                 0.7.6

### ZFS Volumes
tank/gluster       1.39G  6.89T  32.9K  /mnt/gluster
tank/gluster/home

[2018-03-14 12:10] morphinz commented on #7097
@tcaputi When I open the issue I was thinking this is all about with resume token but now %100 I'm sure its not. Also I don't use resume token anymore. I have the issue with or without resume token.

Also today I create a bookmark from that snapshot and I delete the snapshot because I was thinking the snapshot will cause the problem and deleting will be solve my problem but it did not.. I got same

[2018-03-14 15:14] kpande commented on #7299
what `-march` are you using with GCC?

[2018-03-14 16:25] lkateley commented on #7241
I have been studying this symptom for the last week or 2.. and it seems to consistent occur with several different kinds of virtualization, proxmox, xen, vmware, and virtualbox.. I also have seen that it is mostly described as being bad disks. These are high quality sas drives. Will look at trim too.

On the systems I am working on I also just discovered this.

2018-03-14 05:04:47 lp_pool      255

[2018-03-14 18:10] kpande commented on #7298
please use [the zfs-discuss mailing list](http://list.zfsonlinux.org) instead, this is not necessarily a bug, but a user configuration issue that is best debugged elsewhere.

[2018-03-14 18:10] #7298 closed

[2018-03-14 23:19] ztcn commented on #7299
I do not specify any architecture with GCC; I build with the PKGBUILD in the aur repository of ArchLinux.
I looked at the PKGBUILD script and didn't find any overrides so I guess I'm using the default architecture the makefile is using.  I should be able to doublecheck tomorrow but I don't specify anything.

[2018-03-15 00:18] hoc-genebygene commented on #1012
I'm not sure if I understand the proposed case 3 and 4 and I wonder if are building your cases incorrectly?

Assumption: SLOG present and SLOG can write faster than data disks for small writes.

Case 1:
logbias = **throughput**
Large Write (>zil_slog_limit, so **you can't write it to the slog**)

Write it to the data disks in indirect mode since that doesnt need to write twice.

Case 2:
logbias =

[2018-03-15 00:33] hocheung20 commented on #1012
Sorry I posted the last post under the wrong Github account (used my work account).

I'm not sure if I understand the proposed case 3 and 4 and I wonder if are building your cases incorrectly?

Assumption: SLOG present and SLOG can write faster than data disks for small writes.

Case 1:
logbias = **throughput**
Large Write (>zil_slog_limit, so **you can't write it to the slog**)

Write it to the d

[2018-03-15 03:14] danielkza commented on #7059
@tcaputi No recurrence so far.

[2018-03-15 09:29] ztcn commented on #7299
I just added compile options used.

[2018-03-15 12:08] avsej commented on #7280
The beta release is going to happen soon (https://fedoraproject.org/wiki/Releases/28/Schedule), so having Fedora 28 repository would be great to test and report issues earlier.

[2018-03-15 16:22] devZer0 opened #7303 "zfs diff no result despite changes to fs being made"
Distribution Name       | CentOS
Distribution Version    |  7.4.1708
Linux Kernel                 |  3.10.0-693.17.1.el7.x86_64
Architecture                 | x86_64
ZFS Version                  |  0.7.6-1
SPL Version                  |  0.7.6-1

### Describe the problem you're observing
i'm seeing that there are changes made to the filesystem (as you can see in snapshot "written") statistics, but

[2018-03-15 17:04] h1z1 commented on #7299
Curious, running zfs on a similar host -  1950x, AOURUS G7, 10G, 0.7.5-1 but CentOS and 4.14.10 kernel if it helps any?  No crash like that so far.

[2018-03-15 17:06] kpande commented on #7299
to add another semi-useless "works for me", I'm even using native encryption on 1900x OC'd to 4.1GHz, ASUS X399 PRIME, 32G [2400MHz], git master, 4.15.8-gentoo. Originally I was having crashes in the raidz codepaths even though I'm not using raidz, but this was resolved by recompiling with `-march=native`.

[2018-03-15 20:59] donhwy opened #7306 "Bad disk takes proxmox down"
I am not sure if this is zol or proxmox issue. I will report it here on advice of others.
I have a proxmox server with zfs pools on hbas. The os is on a hw raid. It has a failed drive. I did an upgrade yesterday that included a kernel. After rebooting zfs failed making the vm's unusable. zfs and zpool commands would just hang. To get it running I had to physically remove all the disks in the pool

[2018-03-15 21:01] kpande commented on #7306
sorry, this is indeed the wrong place. please use [the zfs-discuss mailing list](http://list.zfsonlinux.org)

[2018-03-15 21:01] #7306 closed

[2018-03-16 00:44] tonyhutter commented on #7280
We've been testing to see if we can have a F28 repo up for the 0.7.7 release, but we're hitting some packaging problems.  If we can get those sorted out quickly and without much impact, then we'll include a F28 0.7.7 repo.  If not, then you'll have to wait for 0.7.8.

[2018-03-16 16:08] hoppel118 commented on #4713
@behlendorf Do you think to get this sorted until milestone 0.8?

Greetings Hoppel

[2018-03-16 16:45] valeech commented on #7279
@kpande  @behlendorf I see that this has been added to the 0.8.0 milestone, thank you!! I am just checking to see if there might be a temporary work around to the issue or a configuration change that could be made in the meantime?

[2018-03-16 17:02] devZer0 opened #7308 "zpool list -v console output formatting"
Distribution Name       |   CentOS7
Distribution Version    |  7.4.1708 (Core)
Linux Kernel                 | 3.10.0-693.17.1.el7.x86_64
Architecture                 | .x86_64
ZFS Version                  | 0.7.6-1
SPL Version                  | 0.7.6-1

### Describe the problem you're observing

while commands like  "zpool iostat -l -q -v 1" , "zpool status" or "zfs list"

produce nicely formatte

[2018-03-16 17:06] kpande commented on #7308
[code]

[2018-03-16 17:28] devZer0 commented on #7308
even that one does not format correctly (the lines with the pool names)

[2018-03-16 19:01] ahrens commented on #6938
The existing phrasing is correct about removing mirrors, but you're right that we should explicitly mention that that log devices can be removed in the `Intent Log` section.  We might also break out the import/export into another sentence like, `Log devices are part of their containing pool and "zpool import/export" treats them the same as other devices in the pool.`

[2018-03-16 19:06] ahrens commented on #6534
I updated http://open-zfs.org/wiki/Features#nop-write.

I could buy that if you you don't have snapshots, then even if compression is off, ignoring the write doesn't change the space accounting. And if you have snapshots, then you know you're using ZFS and will appreciate the reasonable behavior of ignoring the write when possible (even if it's a little surprising).  So I would consider your sugge

[2018-03-16 19:16] morphinz commented on #7205
@behlendorf I was too busy these days.
I will try the patch as soon as I can.
Thank you for the patch btw.

[2018-03-16 19:59] behlendorf commented on #7205
@morphinz no problem, the fix will be part of 0.7.7 so you might just want to wait until you can test the tagged release.

[2018-03-16 20:44] sbbeachvball commented on #4966
There is a UCSB research contigent that is also very interested in NFSv4 acls on ZOL.  We absolutely love ZOL and this is the one catching point.  We have posix ACLs on some of our filesystems, which forces us to use NFSv3 on clients.  Would completely dig switching those to NFSv4 ACLs!  Thanks ZOL team.

[2018-03-16 21:12] ghost1one opened #7309 "Zpool becomes unresponsive and leads to high CPU consumption"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Fedora
Distribution Version    | 26
Linux Kernel                 | 4.15.7-200.fc26.x86_64
Architecture                 | x86_64
ZFS Version                  | 0.7.6-1
SPL Version                  | 0.7.6-1

### Describe the problem you're observing
A

[2018-03-16 21:20] kpande commented on #7309
this is most likely a hardware issue, please use [the zfs-discuss mailing list](http://list.zfsonlinux.org) for support.

[2018-03-16 21:25] #7309 closed

[2018-03-16 22:01] rincebrain commented on #6613
FYI to anyone at home, I just encountered resilver restarting over and over without obvious cause until I stopped zed on 0.7.6.

No read errors, just every 10-15s the resilver would restart and zpool history -i on the pool contains at the end, over and over:
[code]

until I shot zed, at which point it starts and does not abort.

[2018-03-17 07:21] gf-mse commented on #6534
@GregorKopka :+1: my sincere gratitude, for you have here at least one other "falling into the same pit".
@ahrens  :  Do we really need compression=on for nop-write to work? Since (imho) its something that shall be considered by anyone using snapshots.

[2018-03-17 07:27] tcaputi commented on #7059
I believe this issue should be resolved by #7307. If the issue comes up again (after applying this patch) feel free to reopen the ticket.

[2018-03-17 07:27] #7059 closed

[2018-03-17 09:33] bunder2015 commented on #7294
I would like to second what @loli10K has mentioned, this has also been a repeated topic of conversation on IRC.  It would be nice if `zfs allow` was fully functional on linux.  We seem to be in a chicken-and-egg problem where ZFS is blaming linux and linux is blaming ZFS.

[2018-03-17 10:49] felisucoibi commented on #6613
Btw, at the end my problem was writing errors in sda because of usb hub not working properly.

I had luks + zfs anbd at luks level kernel had writing errors because usb not enough power, so i changed the hub and not any more restartings. Maybe can help somebody.

To discover the writing errors, or reading errors i found them in /var/log/kernel.log

ZFS did not gave me any information.

[2018-03-17 15:31] dechamps commented on #1012
@hocheung20

Sure. This is what ZFS already does.

No. `logbias=throughput` means "maximize throughput, don't care about latency". The best way to maximize throughput is to write in indirect mode to the main disks - you're only writing the data once. If you write it to the SLOG too then you run the risk of the SLOG becoming a throughput bottleneck (remember that many SSDs are not much better than

[2018-03-17 16:37] rincebrain commented on #6613
In my case, none of my drives threw errors, nothing in kern.log or messages or dmesg or the drives' own SMART counters changing.

[2018-03-17 19:10] hoc-genebygene commented on #1012
You make good points, although I think today, even for homelab type use cases, if you want to use/can afford an SLOG, you can easily pick up something NVMe and faster than your spindles while remaining reasonable on the budget.

For example, I have a pair of ~$350 Optane 900p 280 GB - a **consumer** drive - each of which has rated endurance 5 PB, write long-term sustained ~2GB/s even when drive is

[2018-03-17 19:11] hocheung20 commented on #1012
You make good points, although I think today, even for homelab type use cases, if you want to use/can afford an SLOG, you can easily pick up something NVMe and faster than your spindles while remaining reasonable on the budget.

For example, I have a pair of ~$350 Optane 900p 280 GB - a **consumer** drive - each of which has rated endurance 5 PB, write long-term sustained ~2GB/s even when drive is

[2018-03-17 19:53] benbennett commented on #6171
I ran into this problem also with kernel 4.13.0-37 , ubuntu 16.04 with zfs master using dkms modules.
I have kernel 4.4.0-97 also install.
Booting to 4.4.0-97 with the same version of zfs the problem went away.

Now   in iotop the processes are
txg_sync , l2arc_feed which bounce around like expected, they weren't ever listed with the 4.13 kernel

Biggest difference is z_null_int doesn't even show

[2018-03-18 08:56] loli10K commented on #7130
Does https://github.com/zfsonlinux/zfs/commit/1a2342784aeb15049a3d4926615adf3b85f0bce4 fix this issue? Can we close this?

[2018-03-18 09:06] loli10K commented on #7303
Most probably you have "atime=on" on your dataset:

[code]

With "atime=off":

[code]

[2018-03-18 09:11] tcaputi commented on #7130
Yes. Thanks.

[2018-03-18 09:11] #7130 closed

[2018-03-18 09:15] loli10K commented on #7279
@valeech you can lower the nesting level of your clones.

Duplicate of #3959.

[2018-03-18 11:06] dechamps commented on #1012
You should be able to do that today by setting a very high value on the `zil_slog_limit` tunable, which will have the effect of making all sync writes go to the SLOG in immediate mode unconditionally. On current ZFS I think that's a good idea as long as your SLOG write throughput is more than half the write throughput of your combined spindles, and you don't care about longevity issues due to writ

[2018-03-19 08:25] wheelcomplex opened #7311 "iso URL for Ubuntu-18.04-Root-on-ZFS is broken"
https://github.com/zfsonlinux/zfs/wiki/Ubuntu-18.04-Root-on-ZFS

has a link to no exist URL: http://releases.ubuntu.com/18.04/ubuntu-18.04-desktop-amd64.iso

It should be http://cdimage.ubuntu.com/daily-live/current/bionic-desktop-amd64.iso

maybe should update to release URL a few days later.

[2018-03-19 08:28] bunder2015 commented on #7311
FWIW, 18.04 hasn't been released yet.  It should be out on 2018-04-26.

[2018-03-19 09:07] ztcn commented on #7299
Tried to compile with znver1 as architecture and got the same result.  ZFS is not usable on this machine.  It is working great for small read and writes but sustained writes are a no go; I just can't transfer a large amount of data.

[2018-03-19 11:14] c0d3z3r0 opened #7312 "Can not create ZVOL over full free space"
### System information
Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Debian
Distribution Version    | 9
Linux Kernel                 | 4.9.0-4-amd64
Architecture                 | amd64
ZFS Version                  | 0.7.6-1
SPL Version                  | 0.7.6-1

### Describe the problem you're observing
Can not creat

[2018-03-19 13:26] c0d3z3r0 commented on #7312
I found the solution here: https://groups.google.com/a/zfsonlinux.org/forum/#!topic/zfs-discuss/EF34_jr6S6A

I knew that one should not fill ZFS to 100% with data but I didn't realize that even a ZVOL should be max. 70-90% of the pool.

I'll leave this open for some more comments from you but feel free to close the issue.

[2018-03-19 15:20] Harvie commented on #634
Is it safe to do `mdadm --zero-superblock` on production ZFS? I am afraid that it might destroy ZFS metadata.

[2018-03-19 15:20] #7311 closed

[2018-03-19 15:21] kpande commented on #7299
well something sure does seem to be wrong with your environment but rest assured that others are using ZFS on TR just fine (even with encryption and AES-NI).

[2018-03-19 15:23] #7312 closed

[2018-03-19 15:23] kpande commented on #7312
use `zfs create -s` but trying to write to a zvol that is larger than the pool will end up corrupting the zvol contents when the device is full.

[2018-03-19 15:34] rincebrain commented on #634
@Harvie Depending on the md format version, probably not entirely - ISTR md metadata format 1.x stashes stuff toward the end of the disk, which is also where ZFS stashes one of the labels.

I would guess it's probably safe if ZFS hasn't already overwritten the labels with its own data, which is how you'd be in this circumstance anyway, but I'd probably scrub the pool afterward to (hopefully) ensur

[2018-03-19 15:36] c0d3z3r0 commented on #7312
@kpande thanks for that tip but I assume that would be a really, really bad idea... I'll just create a ZVOL with 70-90%. I first need to test which size is the maximum size without performance issues.

[2018-03-19 17:40] ztcn commented on #7299
My /var is in contained under zfs; is yours?

[2018-03-19 17:49] kpande commented on #7299
yes, all of `/` is contained on an encrypted zpool;

[code]

could this be gluster specific?

I don't see pool geometry here, are you using raidz?

[2018-03-19 18:01] behlendorf commented on #7241
There's no quite enough information in this issue to say for certain, but #7307 which has been merged could results in this lockup.  @tuomari if possible could you test the latest master which has this fix applied and see if you're still able to reproduce the issue.

[2018-03-19 18:01] ztcn commented on #7299
I am on raidz2.  I'm not sure about gluster; all the crashes are occuring with a ZFS module.  I would be more thinking about fuse which is used in both.

[2018-03-19 18:04] kpande commented on #7299
no, fuse is not used by ZFS.

[2018-03-19 18:09] kpande commented on #7299
please re-test with `xattr=sa`

[2018-03-19 19:26] loli10K commented on #7297
I did trace the syscalls like suggested, `--ioengine=sync` does not seem to issue synchronous I/O. If fact, `fio(1)` does not even suggest `--ioengine=sync` would result in using synchronous I/O:

[code]

Using `--fsync=1` (or `--sync=1`, which results in opening output files with `O_SYNC`) seem like a more correct approach to run this "synchronous benchmark"; this doesn't seem to be a ZFS issue t

[2018-03-19 19:28] #7297 closed

[2018-03-19 19:28] kpande commented on #7297
closing issue as resolved

[2018-03-19 20:58] behlendorf commented on #7294
@bunder2015 @loli10K it's definietly worth taking a second look at delegations for `mount`, `unmount`, etc.  The landscape here may have changed somewhat since the initial implementation and we may be able to workaround, or live with, some of the restrictions Linux imposes.  If someone has the time to work on this that would be great.

For example, if I recall correctly while Linux does allow "use

[2018-03-20 00:42] pruiz commented on #4486
I think I am facing the same issue here with CentOS 7.4 (3.10.0-693.21.1.el7.x86_64), using zfs-0.7.6-1.el7_4.x86_64. It happened too with 0.7.4 (upgraded to 0.7.6 hopping for a fix).

A zfs send -I old new + ssh zfs recv, hangs on recv side. I've narrowed it to recv, as writing send stream to file and applying it with 'zfs receive -v -d -F TANK/Stores/nas  < /data/017454.snap, ends up on "zfs rec

[2018-03-20 01:09] kingneutron commented on #7308
Workaround:
# zpool list -v |column -t
NAME                                      SIZE   ALLOC  FREE   EXPANDSZ  FRAG  CAP  DEDUP  HEALTH  ALTROOT
zmixed3                                   2.72T  1.63T  1.09T  -         21%   59%  1.00x  ONLINE  -
mirror                                    2.72T  1.63T  1.09T  -         21%   59%
ata-ST3000VN007-2E4166_Z6A0GXZW           -      -      -      -

[2018-03-20 04:55] bunder2015 commented on #7294
Unfortunately legacy mount points won't work here since users can't edit /etc/fstab (without sudo/etc, at least).

However I just had a thought, the mount binary is setuid root, could we potentially leverage that for our use outside of containers?

[2018-03-20 08:38] M-M-M-M opened #7315 "ZFS Centos 7.4 install depnedendy issue on spl"
### System information

Type                                | Version/Name
  ---                                  |     ---
Distribution Name       | Centos
Distribution Version    | CentOS Linux release 7.4.1708 (Core)
Linux Kernel                 | 3.10.0-693.21.1.el7.x86_64
Architecture                 | x86_64
ZFS Version                  | (0:0.7.7-1.el7_4)
SPL Version                  | (0.7

[2018-03-20 08:52] ztcn commented on #7299
xattr didn't change anything
I will try to activate debug and take a look at it is I can find some clues....

[2018-03-20 10:56] thmour commented on #7315
same problem here, happens also when you try to install "zfs-0.7.6-1.el7_4.x86_64", there is some problem with the naming of the dependencies
[code]

[2018-03-20 13:57] Harvie commented on #634
@rincebrain is there way to backup the metadata before zeroing superblock using mdadm?
filling dataset with zeroes sounds time consuming and will cause downtime. :(

[2018-03-20 14:13] hostingnuggets opened #7316 "Installing zfs-dkms package on Raspbian stretch fails"
Hello,

First of all I hope this is the right place for opening this issue. I am not sure here if I should inform ZoL, Raspbian, Debian or the people from Raspberry Pi. Feel free to let me know who I should contact best.

I have just installed the latest Raspbian stretch 9.4 on my Raspberry Pi model 3 B and noticed that on that distribution ZFS is included in the APT repository so I thought let's

[2018-03-20 15:16] #7316 closed

[2018-03-20 15:17] kpande commented on #7316
distribution issues need to be reported to the distribution maintainer, or [the zfs-discuss mailing list](http://list.zfsonlinux.org) can help sort you out. next time, don't remove the entire template and then submit a support request, which is exactly what the text you deleted was recommending against.

[2018-03-20 16:34] kpande commented on #7235
this is a qemu problem

[2018-03-20 16:34] #7235 closed

[2018-03-20 16:40] collinoneill commented on #7315
Same here. Specifically zfs is requires spl-0.7.6 even though spl-0.7.7 is the the correct package, and spl-0.7.7 is installed in the latest update.

[2018-03-20 17:32] tonyhutter commented on #7315
Yea sorry, looks like the zfs-kmod 0.7.7 rpm is missing :-(    I'm building a new one.  In the meantime you can use the dkms build (which does work on centos 7.4).